[2022-06-09 16:29] DmitryArefiev commented on #11145
@Tantacrul Rechecked in master. In some cases it's better on Mac. But **still occurs**. I've updated the steps to reproduce on all platforms.

[2022-06-09 18:01] MarcSabatella commented on #11855
Indeed, if the existing "Fix to line" settings in 3.x scores were not still honored, that would definitely bump up the significance of this in my eyes at least.  But that much does work.  More importantly to me, so do the built-in commands that normally set this property - "Tools / Fill with slashes" and "Toggle rhythmic slash notation".  So the property *is* still supported; it just isn't current

[2022-06-10 08:26] DmitryArefiev commented on #11964
Yeah) I'll edit summary to to make it clearer

[2022-06-10 08:28] boryskuzmenko commented on #11963
🟡 **Not actual**
Actuality to be re-checked after MU4 release.

[2022-06-10 08:28] #11963 closed

[2022-06-10 09:39] Jojo-Schmitz commented on #11964
This about the z-order of slurs, right? Changing that from 1000 to 1300 (or more, but not less) should fix this issue.
Ties have the same issue, here an increase from 1100 to 1300 )again: or more, nit less) should fix it.

[2022-06-10 09:58] DmitryArefiev commented on #11451
Fixed in #11965

[2022-06-10 09:59] #11451 closed, assigned to RomanPudashkin

[2022-06-10 10:28] #11635 closed

[2022-06-10 10:45] oktophonie commented on #11833
(This is not a regression from 3.6, as the same issue is evident there.)

The problem here (I _think_) is that the grey line above the figure which shows its duration, and which extends right the way up to the next duration, is not being treated as invisible, and so autoplace is bumping subsequent figures down where they have an accidental at the beginning, because the accidental is placed to the

[2022-06-10 11:43] DmitryArefiev commented on #11964
Yes. Thanks for ties, will add it

[2022-06-10 11:46] sammik commented on #11833
I think, gray duration line should be took into count in autoplace, see first two examples here

![figured_bass](https://user-images.githubusercontent.com/1646034/173057736-e732a2be-3233-4eec-8677-e6d5b1b1b499.png)

So probably accidental in figured bass should be ignored (in autoplace count).

[2022-06-10 12:21] DmitryArefiev commented on #11883
#11917 fixed related bug on Win and Mac with a little bit different steps.

The current issue is still occurs. But it's Linux only issue. I'll modify summary and description a little bit

[2022-06-10 12:54] #11874 closed

[2022-06-10 12:55] boryskuzmenko commented on #11861
🟢 **FIXED** in https://github.com/musescore/MuseScore/pull/11961
Tested on macOS 12, Win 11, Ubuntu 20

[2022-06-10 12:56] #11861 closed

[2022-06-10 13:14] #11962 closed, assigned to alexpavlov96

[2022-06-10 13:29] DmitryArefiev commented on #10505
Fixed in #11646

[2022-06-10 13:34] bkunda opened #11974 "[MU4 Issue] Remaining mapping for percussion sounds"
**Describe the bug**
The following unpitched percussion instruments still have incorrect sound mapping:

- Chains
- Temple blocks
- Flexatone

And this tuned percussion instrument has no sound:

- Tuned klaxon horns

Instructions for correct mapping are included in [this spreadsheet](https://docs.google.com/spreadsheets/d/1p544iRhT_kGtkQd0u2qdgEoKb0ZHggvUg8FARhhZNMY/edit?usp=sharing).

**Platform

[2022-06-10 13:40] boryskuzmenko opened #11975 "[MU4 Issue] Crash when doing Undo after deleting linked staves"
**To Reproduce**
Steps to reproduce the behavior:
1. Create a one-staff score
2. Create linked staff
3. Select both staves and delete (by Trash icon in Instruments Inspector)
4. Click undo to get back staves
5. Click undo once more

**Expected behavior**
Nothing happens when doing Undo after deleting linked staves

**Screenshots**

https://user-images.githubusercontent.com/101250347/173078053-3284

[2022-06-10 13:54] oktophonie commented on #11833
It feels backwards (to me) for autoplace to consider an invisible component while ignoring a visible one.
For vertical alignment, aligning figured bass text like lyrics (i.e. consistent along the whole system, though that's configurable via Style -> Autoplace -> Vertical align range) might prove a better solution; other options could then be added, like making sure all figures stay below the lowes

[2022-06-10 14:07] bkunda opened #11976 "[MU4 Issue] "Echo"-like effect on certain instruments"
**Describe the bug**
This is an issue I've so far only encountered with some of the "auxiliary percussion" instruments in templates like "European concert band" and "Small pit percussion".

@Tantacrul has apparently heard this in more places, so we may expand this issue.

The following instruments within "auxiliary percussion" sound with a quasi echo/delay effect.

- Closed hi-hat
- Pedal hi-hat
-

[2022-06-10 14:07] boryskuzmenko commented on #11962
🟢 **FIXED** in https://github.com/musescore/MuseScore/pull/11716
Tested on macOS 12, Win 11, Ubuntu 20

[2022-06-10 14:30] boryskuzmenko opened #11977 "[MU4 Issue] Crash when acting with score parts in Parts dialog after ctrl+Z"
**Describe the bug**
The crash reproduces during any act with parts in Parts dialog after one part was opened/created and ctrl+Z used

**To Reproduce**
Steps to reproduce the behavior:
1. Open the test score
[brackets.mscz.zip](https://github.com/musescore/MuseScore/files/8879650/brackets.mscz.zip)
2. Via Parts dialog open any part
3. Click ctrl+Z
4. Come back to the Parts dialog and do any action

[2022-06-10 14:55] MarcSabatella commented on #11964
Please do *not* change this - it's quite deliberate and important that it it the way it is.  The idea is that we need to support the ability to do this:

![image](https://user-images.githubusercontent.com/1799936/173091614-7148871a-6b37-41c1-80f7-89a153fd633d.png)

I'm talking about how the ties "break" for the notes.  Similarly for ties that need to break across time signature or key signature ch

[2022-06-10 15:11] MarcSabatella commented on #11833
See the discussion and analysis in the issue that was filed about this for MU3 some time ago - https://musescore.org/en/node/312291

Bottom line - I agree the gray line should *probably* not be considered when doing autoplace - which is to say, it shouldn't added to the "bbox" for the element.  That is definitely what cause the issue, anyhow.  But, it *does* appear to have been done deliberately -

[2022-06-10 15:14] DmitryArefiev commented on #8588
Fixed in #11970

[2022-06-10 15:36] #11928 closed

[2022-06-10 16:05] DmitryArefiev opened #11978 "[MU4 Issue] Palette names with & have weird symbols added"
![Capture](https://user-images.githubusercontent.com/90187801/173106409-e7a3ef94-5282-451b-a77f-bce813bb8762.PNG)

**Platform information**
macOS, Windows, Linux

**Additional context**
Recent builds

[2022-06-10 17:03] DmitryArefiev commented on #8957
Fixed in #11952

[2022-06-10 17:23] DmitryArefiev opened #11980 "[MU4 Issue] Inspector doesn't update tremolo between notes style for notes which not support custom styles"
https://user-images.githubusercontent.com/90187801/173119006-17dc501e-b2c4-4e32-b7c5-bcee7565c4cc.mp4

**Platform information**
macOS, Windows, Linux

**Additional context**

[2022-06-10 17:30] DmitryArefiev opened #11981 "[MU4 Issue] Tremolo between notes not added to all notes in range selection"
https://user-images.githubusercontent.com/90187801/173119906-fafe3fed-5363-48eb-98ab-bba2310a3723.mp4

**Expected behavior**
Tremolo between notes also should be added to the first two notes in each measure

**Platform information**
macOS, Windows, Linux

**Additional context**
The same bug in **MU3**

[2022-06-10 20:32] shoogle opened #11982 "[MU4 Task] Restore the 'Add' context submenu for horizontal and vertical frames"
Right-clicking on a horizontal or vertical frame in MuseScore 3 revealed a context menu with options to add text and images. There was also an option to add horizontal frames _inside_ vertical frames to create a table structure. These options should be provided in MU4.

MU3 scores that already contain frames with text and images open correctly in MU4, so we're just missing the option to add new te

[2022-06-10 20:37] shoogle commented on #11949
I have noticed playback gradually fades in over a few seconds. I'll add more details next time I spot this.

I've also noticed playback broken for certain instruments in multi-staff scores when there isn't a note at bar 1, beat 1. I'll put this in another issue if I can reproduce it.

[2022-06-10 21:22] sammik commented on #11833
I just realized, probably we also shouldn't forget continuation lines
![figured_bass_cont](https://user-images.githubusercontent.com/1646034/173152945-a6ca6073-2e54-4284-a3bb-94e8f75e5be4.png)
(sorry, if it is offtopic)

[2022-06-10 22:25] KLee1248 opened #11984 "[MU4 Issue] Toolbar buttons disable for lines and layouts only after hover"
**(edited by @Tantacrul)**

**Describe the bug**
When the user selects a line or frame, it appears that the toolbar is supposed to disallow the user from doing certain actions (such as adding a sharp or marcato marking). However, those buttons are still enabled until the user hovers over a button long enough for the tooltip to appear.

Seems to affect at least the following:
* All Lines (Slurs, Cr

[2022-06-10 23:57] wizofaus commented on #8512
Working on this now, but it turns out ALT+drag already has a meaning, which is to turn off auto-place.  Both are important and independent functions so we can't use the same key for both.

[2022-06-11 01:30] wizofaus opened #11986 "[MU4 Issue] Title for "repeats & jumps" palette is shown using HTML encoding"
**Describe the bug**
The title is shown as "Repeats &amp;amp; jumps" rather than just "Repeats & jumps"

**To Reproduce**
Steps to reproduce the behavior:
1. Open/create any score
2. Scroll through the list of palettes until you reach "Repeats &amp;amp; jumps"

**Expected behavior**
Should be just "Repeats & jumps"

**Screenshots**
If applicable, add screenshots to help explain your problem.

**Pl

[2022-06-11 02:42] HemantAntony commented on #11986
Duplicate of #11978

[2022-06-11 03:58] HemantAntony commented on #11978
I can't reproduce in the latest master

[2022-06-11 04:07] #11986 closed

[2022-06-11 04:18] HemantAntony opened #11987 "[MU4 Issue] New workspace cannot be selected"
**Describe the bug**
After creating a workspace, you cannot "select" it

**To Reproduce**
Steps to reproduce the behavior:
1. Create a workspace
2. After that, click Select in the Create new workspace dialog
3. In the Workspaces dialog, click select again
4. The Workspace will not be selected (or opened)

**Expected behavior**
New workspaces should be opened

**Screenshots**

https://user-images.g

[2022-06-11 05:25] wizofaus commented on #11978
Dang I searched to see if anyone else had already reported but didn't match this one!

[2022-06-11 10:15] rgreen5 commented on #11620
OS: Linux Mint 20.1, Arch.: x86_64, MuseScore version (64-bit): 4.0.0-2478704457, revision: github-musescore-musescore-594ee1a

Confirmed. No English (GB) or English (US) options.

[2022-06-11 10:23] rgreen5 commented on #11474
One other issue for fixing (if not already known): the "Cancel" button in the "Define Keyboard Shortcut" abuts  onto the dialogue edge and has an indefinite length; if you extend the dialogue, the button extends with it.

[2022-06-11 10:46] rgreen5 opened #11989 "Open or New Score commands opens new instance of Musescore (rather than staying within the existing window)"
**Describe the bug**

In MS3, Ctrl + N, New Score, works within the existing window, adding the new score as another tab. However, this nightly is launching another instance of MS4.

**To Reproduce**

1. Open any score.
2. Press Ctrl + N (File > New)

RESULT: A new instance of MS4 is launched.

**Expected behavior**

The new score should be created as a tab within the existing MS4 window.

**Platf

[2022-06-11 10:53] HemantAntony commented on #11989
This is by design. If I remember correctly, there was issues implementing VSTs in the old way

[2022-06-11 13:25] Nazgul37 commented on #11094
Hi @Tantacrul , Arcadia still crashes MuseScore when it's loaded, even in the latest nightly. Also because the plug-in can take a moment to initialize, it looks like it causes Musescore to be slow to open as well (is it scanning VSTs on launch?) Let me know if there's anything you need, since I'm actually the dev behind Arcadia and Organic Instruments.

[2022-06-11 13:32] cbjeukendrup commented on #11094
Indeed, MuseScore scans plugins on every launch. The plan is to change that: #11412

[2022-06-11 13:58] rgreen5 commented on #11989
1. Open a score.
2. Open another one.

_Expected result_: Scores should open in same window as separate tabs.
_Actual result_: A new instance of the program is launched eact time.

[2022-06-11 14:01] HemantAntony commented on #11989
Again, same thing. There was a problem with implementing VSTs when you have scores as separate tabs

[2022-06-11 14:49] AntonioBL commented on #11981
I think that's because MuseScore sequentially uses the command to toggle the tremolo between notes to the notes in the measure.
It first adds a 2-note tremolo to the first C (i.e. tremolo between the first C and E); then it adds it to the first E, but since it already belongs to a 2-note tremolo, then it removes (toggles) the tremolo; it then adds a 2-note tremolo to the second C (i.e. tremolo bet

[2022-06-11 14:50] AntonioBL commented on #11938
Well, thanks to you for fixing the bug. 😉

[2022-06-11 16:34] Tantacrul commented on #11989
Exactly, this was an unfortunate necessity, given how we are now supporting far more CPU intensive plugins.

[2022-06-11 16:34] #11989 closed

[2022-06-11 16:37] Tantacrul commented on #11949
@wizofaus is saying piano has literally no sound at all, which I've not heard reported by anyone else. @wizofaus - perhaps you could share the sound card details from your laptop?

[2022-06-11 16:40] Tantacrul commented on #11833
I'm going to bump to 4.x, since this is an existing issue.

[2022-06-11 16:46] shoogle commented on #11949
@wizofaus mentioned it becomes audible after a while though (see item 4 in "To reproduce"), so it might be related to what I experienced with the volume fading in after a few seconds

[2022-06-11 16:50] Tantacrul commented on #11094
@Nazgul37  That would possibly be very useful for us. Especially if we can ask you technical questions about the plugin / anything about it that would differentiate it from others, etc.

What would also be great is if we could have a trial / demo version for testing purposes. This is generally how we fix these issues. (Which makes it a pain because we have to keep buying plugins!)

[2022-06-11 16:51] Tantacrul commented on #11094
Incidentally @Nazgul37, an email you can use to contact me is info.tantacrul@gmail.com

[2022-06-11 16:53] rgreen5 opened #11991 "Document views (Side by side / Stacked) lost in MS4; restore?"
**Describe the bug**

Not only has the ability to open multiple documents in the same window been lost (see #11989) but so have the document view options: "Stacked" and "Side by side".

These are still useful, even essential, options, even if only one document can be opened at a time. IME, there are times when it is useful to be able to view two instances of the same document, for example to copy

[2022-06-11 17:05] Tantacrul opened #11992 "Popups all using the wrong colour definition"
**Describe the bug**
Popup backgrounds seem to no longer using the **POPUP_BACKGROUND_COLOUR** definition. They appear to be using BACKGROUND_PRIMARY_COLOUR again, which is makes them hard to see in dark mode because they don't stand out.

How a popup should look:
<img width="1065" alt="image" src="https://user-images.githubusercontent.com/21022311/173197530-595c0b37-e3be-45fd-826a-4b08d7aae576.pn

[2022-06-11 17:06] Tantacrul commented on #11992
@HemantAntony - I don't suppose you'd find it in your heart to fix this one?  :D

Pretty please!

[2022-06-11 17:08] Tantacrul commented on #11949
My mistake.

[2022-06-11 17:11] HemantAntony commented on #11992
I'll definitely take a look at it! It seems easy enough (Hope I didn't jinx it)

[2022-06-11 17:13] Tantacrul commented on #11991
This is a feature we were unfortunately forced to delay for MU4.0. Since we needed to move to a system comparable to most other DAWs and notation apps (for reasons to do with audio plugins and CPU load), this feature was not trivial to re-implement. In fact, we don't yet have an exact answer for how we'd reimplement it.

Perhaps we'll built a more limited version that allows you to still keep mult

[2022-06-11 17:13] #11991 closed

[2022-06-11 17:17] Tantacrul commented on #11987
Can't reproduce on MacOS, so it must be a Windows thing? Possibly a Linux thing too.

[2022-06-11 17:30] Tantacrul commented on #11984
Have added more details, since this can also reliably cause the MacOS version to crash. (Not confirmed for Windows or Linux)

[2022-06-11 17:36] cbjeukendrup commented on #11992
Oops, seeing this issue only now. I've already created PR #11993.

[2022-06-11 17:42] Tantacrul commented on #11992
Sorry @HemantAntony ! (Sorry @cbjeukendrup )

Should have coordinated this properly.

[2022-06-11 19:23] cbjeukendrup commented on #11984
The crash happens with a lot of elements: hairpins, voltas, ottavas, probably more. It happens when the notation view gets focus while one of these elements is selected, which happens for example if a tooltip is hidden, and when a popup is closed while the notation view was the last focused item before the tooltip or popup was opened. It also happens when the notation view receives focus by keyboa

[2022-06-11 20:48] wizofaus commented on #11949
![image](https://user-images.githubusercontent.com/5364225/173204329-521e19c5-8115-4116-ba6b-d47ad9f1c4df.png)

That's all I can find, like I said it's a 6-yo ASUS (republic of gamers) laptop, and a reasonably powerful machine. No other apps I have (incl. MuseScore 3) have any issue with sound production.

But the long delay (up to 15 seconds) before the piano sound starts working is absolutely co

[2022-06-11 22:00] cbjeukendrup commented on #11060
@igorkorsukov In PR #11144, you commented that the solution to this issue would be to put all actions that _can_ have shortcuts in shortcuts.xml, even if they have no shortcut by default.

Keeping task #11804 in mind (it's closed but still needs to be done), I had another idea.

I propose that we give each UiAction in cpp a new field called `category`. We could have action categories like this:
[c

[2022-06-12 06:37] HemantAntony commented on #11992
No problem, I hadn't started yet :)

[2022-06-12 10:33] HemantAntony commented on #11987
I can't seem to reproduce now too. If I am able to do so, I will open this again. I might have done something differently

Closing

[2022-06-12 17:29] Tantacrul commented on #10218
Since the issue is significantly improved and not a general Linux issue, I'm changing it to a P3.

[2022-06-12 17:32] Tantacrul commented on #10965
What is the lowest number we can set the minimum size to? Basically, every pixel counts.

[2022-06-12 17:46] Tantacrul commented on #10997
I've listed to it (MacOS) and heard the same thing.

Well done @DmitryArefiev for figuring out what is causing it. For grand staves, one definitely affects the other sometimes. If I just remove the staccato, it no longer happens.

[2022-06-12 17:49] Tantacrul commented on #10998
Confirmed. **This is a definite P1.** Not sure if @vpereverzev would prefer to wait for Muse Orchestra before tackling this.

[2022-06-12 17:50] Tantacrul commented on #10742
Bumping to beta since it is an existing issue

[2022-06-12 17:51] Tantacrul commented on #10815
Seems like a P1 candidate to me.

[2022-06-12 17:53] cbjeukendrup commented on #10815
Working on it as we speak! :)

[2022-06-12 17:53] Tantacrul commented on #11011
Also, some have far too much reverb, as noted here (https://github.com/musescore/MuseScore/issues/11976)
 @vpereverzev - when we get around to this task, I can quickly test with you to get to a reasonable result.

[2022-06-12 17:53] Tantacrul commented on #11011
https://github.com/musescore/MuseScore/issues/11976

[2022-06-12 18:10] Tantacrul commented on #11012
In the first score, the best example is measure 32 until the end.

In particular, it's the lower voice that keeps getting cut off every few measures.
<img width="323" alt="image" src="https://user-images.githubusercontent.com/21022311/173247134-aea9efde-73fa-41ca-87cf-9b915671629d.png">

happens for these 4 notes (in green)
<img width="988" alt="image" src="https://user-images.githubusercontent.co

[2022-06-12 18:19] Tantacrul commented on #11015
Confirmed. All you have to do is this:

<img width="208" alt="image" src="https://user-images.githubusercontent.com/21022311/173247579-a7c6fa76-e565-4a7c-ae79-f2d880299b3c.png">

[2022-06-12 19:40] mccoydtromb commented on #11359
The Note Input button is left click to toggle, right click to show options (I also tried left clicking the arrow in the corner for a little while! Probably just because of using MU3). Since you have used that functionality once, it could be used again for the Parts. Although I like the proposal in #11420 to open the dialog but have different buttons. Gives the user a good place to go from when wor

[2022-06-12 20:17] Tantacrul commented on #9807
Related P0 for 'Devices'.

Whoever works on these, please do get in touch and we can discuss what to do if anything here is problematic.

[2022-06-12 20:47] Tantacrul commented on #9009
Bumping to 4.x as a known issue we'll sort out later.

[2022-06-12 20:47] #9009 closed

[2022-06-12 21:17] Tantacrul commented on #9618
@bkunda - this appears to be the same issue https://github.com/musescore/MuseScore/issues/9620

If so, can you close one of them?

[2022-06-12 21:40] Tantacrul commented on #10970
This issue has already been logged here: https://github.com/musescore/MuseScore/issues/11012

So, I'm going to close this and elevate the other one to a P1.

[2022-06-12 21:40] #10970 closed

[2022-06-12 22:47] Tantacrul commented on #11925
@boryskuzmenko - is this a feature change in MS4? Or is it related to GP import.

If it is a feature request, then we should bump to 4.x to avoid more issues.

[2022-06-12 22:58] Tantacrul commented on #11151
@bkunda logged these issues v.recently with more specifics:
https://github.com/musescore/MuseScore/issues/11974

[2022-06-12 22:59] #11151 closed

[2022-06-13 01:05] wizofaus opened #11997 "[MU4 Issue] Dragging hairpin across dynamic causes odd behaviour"
**Describe the bug**
When trying to drag a hairpin *past* an existing dynamic marking (_**p**_, _**f**_ _etc._), it doesn't drag as unexpected and can change length very unexpectedly.

**To Reproduce**
1. Create a new score and enter in a few notes
2. Add a dynamic marking (say _**f**_) to the last note
3. Select the first couple of notes as a range and add a hairpin (so that it finishes before th

[2022-06-13 01:30] wizofaus opened #11998 "[MU4 Issue] Score::sigmap() can enter infinite loop and/or eventually stack overflow"
**Describe the bug**
Has happened various times now while working on MuseScore that after certain operations (esp. save then close), Score::sigmap() enters infinite recursion because _masterScore is a partly destructed MasterScore, which should never happen.
This causes the app to freeze up and usually crash eventually.

**To Reproduce**
Steps to reproduce the behavior:

Unknown at this point, wil

[2022-06-13 09:09] shoogle commented on #11060
@cbjeukendrup, I like the idea of populating the actions list automatically from the C++ code rather than from the XML. I suggest calling the default category `Private` or `Hidden` if it has semantic meaning, rather than `Undefined` which implies we just haven't got around to giving it a category yet, otherwise someone might submit a PR that "helpfully" assigns categories to all the undefined ones

[2022-06-13 09:15] Tantacrul commented on #11879
Excellent find, @DmitryArefiev

[2022-06-13 11:43] wizofaus commented on #11060
Definitely agree that using shortcuts.xml is the wrong way to ensure actions show up in the shortcuts preferences page.  If there are actions that shouldn't be shown there, then having a way to mark them as 'private' makes sense, and then the shortcuts dialog should simply show all actions that aren't marked as such.  Whether 'private' should be a separate flag or a category I don't have a particu

[2022-06-13 13:37] boryskuzmenko commented on #11840
@oktophonie I investigated more and now see that the issue is actual for cases when additional elements are placed between them. Due to this issue, sometimes, there's unclear which staff an element relates to. See video.
Maybe, we should increase min distance between linked staves when additional elements present below the top staff or above the bottom staff? Or system should calculate the min dis

[2022-06-13 13:48] boryskuzmenko commented on #11925
@Tantacrul It's a GP import thing. With this fix user can open GP file with the same staff type as saved in GP. Now we can open every GP file as standard staves score. (e.g. Currently, if I saved a guitar part with linked standard and TAB staves in GP, and import it to MU4 - I get only one standard staff)
I'd leave this issue for now.

[2022-06-13 15:11] Tantacrul commented on #11925
OK, cheers.

[2022-06-13 17:17] Uncodeable864 opened #11999 "[MU4 Issue] Downwards glissando not playing back"
**Describe the bug**
When adding an gliss to to notes, glisses that start high and end low do not play back. On the other hand, glisses that start low and end high do play back

**To Reproduce**
Steps to reproduce the behavior:
1. Create a new file with a grand staff
2. In the treble clef, place two notes (with one first one higher than the second)
3. Add a "straight glissando" in between the note

[2022-06-13 19:28] #11978 closed

[2022-06-13 20:15] wizofaus commented on #11006
NB when you create a custom palette it shows

![image](https://user-images.githubusercontent.com/5364225/173437384-199476df-c1e8-4ecc-9500-89ea7359f0ef.png)

This does sort of work, but ONLY if you drag from existing palette elements, not from elements from the score.
Nor can you copy and paste (v3 doesn't support that either).

[2022-06-13 22:18] wizofaus commented on #11006
BTW I also noticed that in v3, dragging items from the palette seems the work the same way as CTRL+SHIFT+drag of existing items on the score, in which case it's not always obvious why you can't drop certain items in certain locations - e.g. you can't drag a tempo marking onto a empty measure unless you point the mouse exactly at the whole-measure rest (which is rather hard to do given the mouse po

[2022-06-14 09:23] Tantacrul opened #12001 "[Optional Task] Add Finale's Maestro and Broadway fonts"
**Task description**
This is a task that does not need to be implemented for 4.0. However, if a community member is interested, these are the fonts that it would make the most sense for us to include:

- **Finale Maestro (& Finale Maestro Text)**
- **Finale Broadway (& Finale Broadway Text**

You can get them here: https://makemusic.zendesk.com/hc/en-us/articles/1500013053461-MakeMusic-Fonts-and-L

[2022-06-14 09:27] rahulgarg2002 opened #12002 "[MU4 Issue] Palette Cell attributes' changes do not persist across launches"
**Describe the bug**
Palette Cell attributes' changes do not persist across launches and change back to default values on restarting

**To Reproduce**
Steps to reproduce the behavior:
1. Right click any palette element
2. Select properties
3. Change anything then click OK
4. Close MS4 and restart
5. The changes are reverted back to default

**Expected behavior**
Changes should persist (with maybe

[2022-06-14 09:27] Jojo-Schmitz commented on #12001
Unfortunaltely they are not just plain downloadable, you'd have it download an msi (Windows) or pkg (Mac) file and install them, to then extract, add to MuseScore and uninstall them again.

[2022-06-14 09:29] cbjeukendrup commented on #12001
I'v just extracted them from the pkg installer and will put the extracted versions in MuseScore 😎

[2022-06-14 09:31] Jojo-Schmitz commented on #12001
Yeah, it seems possible to open the msi file with 7Zip, as I just found out

[2022-06-14 09:33] njvdberg commented on #10034
Update of PR #10526 solves also the issue with braces and bracket span in case of instruments with multiple staves like pianos and organs.

If **no** staff is selected and `Add staff` is clicked, a new staff is added at the **bottom** of the instrument. If there is a staff selected, a new staff added **above** the selected staff.

Whether the new staff is include within a brace and bar line span d

[2022-06-14 10:18] rgreen5 opened #12004 "Loop playback of section also repeats first note of following measure"
**Describe the bug**
If you specify loop playback of a section of the score (full measures), playback also includes the first note of the following measure.

**To Reproduce**

1. Open the attached score.
[loop_playback.zip](https://github.com/musescore/MuseScore/files/8898846/loop_playback.zip)

2. Turn on "loop playback" for one or more measures. Then press play.

RESULT: After the first play thr

[2022-06-14 10:23] HemantAntony opened #12005 "[MU4 Issue] Crash on clicking on any button in part name's context menu"
**Describe the bug**
After you right click on a part name, click on any option, you get a crash. Aside from this way of reproducing you don't even need to click on a button. You can just click outside the popup.

**To Reproduce**
Steps to reproduce the behavior:
1. Right click on a part name
2. Click on any option
3. MuseScore crashes

**Expected behavior**
MuseScore should not crash on clicking b

[2022-06-14 10:31] Tantacrul commented on #12005
Added a P0. Thanks @HemantAntony !

[2022-06-14 10:52] rgreen5 commented on #11976
This issue would be much easier to test if  #11234 could be made a priority fix; at the moment you can't play any instruments, even from the virtual piano keyboard, without entering notation as well. The reverb unit also needs to be accessible so testers can see and change the reverb properties (predelay, amount, etc).

[2022-06-14 11:17] rgreen5 opened #12008 "Mixer scrollbar position is not remembered"
**Describe the bug**
When you have a score with many instruments, which requires you to scroll the mixer to see all the channels, if you change the view away from the mixer and return to it, the scrollbar position is reset to default.

Wide screens are probably not affected, but if you use a laptop with a limited screen width you may bump into the issue.

**To Reproduce**
(the following works on a

[2022-06-14 12:02] wizofaus commented on #12005
NB this is only recent, wasn't happening in a build from a few days ago (but reproduced with last night's build).

[2022-06-14 13:45] DmitryArefiev commented on #11964
@Tantacrul FYI

[2022-06-14 13:47] Jojo-Schmitz commented on #11964
Hmm, yeah, that case does require a workaround anyway, so can as well do with a few more extra steps I guess.

[2022-06-14 14:14] MarcSabatella commented on #11964
Good point.  At least, once the stacking order buttons are fixed, this will become possible.

[2022-06-14 14:57] DmitryArefiev commented on #11005
@Tantacrul @wizofaus I can reproduce it (comparing with MU3)

https://user-images.githubusercontent.com/90187801/173602338-1e63164e-7a75-4fed-933e-3ac76f2d405a.mp4

To better hear the difference you should use a Windows laptop without headphones

[2022-06-14 16:07] a-munro opened #12012 "[MU4 Issue] Bold typeface as default for chord symbol typeface causes accidentals to be hidden in chord symbols"
**Describe the bug**
Accidentals are not shown in chord symbols when the chord symbol:
(i) contains a symbol that turned into an accidental - i.e. # or b
AND
(ii) the chord symbol is set to Bold _and_ this is set as default for the entire score.

**To Reproduce**
Open a new score. Add a chord symbol containing a sharp sign above any chord / note.
--> Chord symbol should show correctly (see screens

[2022-06-14 16:12] oktophonie commented on #12012
Actually an Edwin problem rather than MuseScore itself, per se; see: https://github.com/MuseScoreFonts/Edwin/issues/11
A fix is actually almost ready, I just need to make a new Edwin release.

[2022-06-14 16:14] a-munro commented on #12012
Apologies - I thought I'd searched everywhere to see if this was already an issue.

[2022-06-14 16:45] Tantacrul commented on #11964
Since this is an existing issue with MS3, I think we should bump it to 4.x

There's a larger discussion about permitting these kinds of clever tricks without needing to figure out quite complex workarounds.... but I think it should be tackled with feature improvements to slurs in future. A topic for another day!

[2022-06-14 18:05] DmitryArefiev commented on #8884
@Tantacrul I think we can fix it with editing text to "File not found". That scenario might happen when user just connected off his flash drive with the score recently saved. And probably that for 4.x.x. What do you think?

[2022-06-14 20:30] Tantacrul opened #12014 "Crash when changing & confirming tempo line text or % speed"
**Describe the bug**
When changing the text for a tempo line (or the & speed) and then clicking back on the score, a crash occurs. You can download the score here: https://www.dropbox.com/s/i7d0ev6h9xkhtrg/New_All_Forever_01.mscz?dl=0

**See video**

https://user-images.githubusercontent.com/21022311/173683008-5a37a17e-f9f5-46bb-ab72-1275db69a1c1.mov

**Platform information**
MacOS

[2022-06-14 20:33] wizofaus commented on #11949
BTW, I just tested again with v3 on the same computer - and the problem does happen there too, it's just not nearly as bad because it only happens if you try to enter notes immediately after the app starts up - it takes about 4 seconds or so before playback starts working. After opening/creating subsequent scores there's no additional delays though.  Interestingly it's not specific to piano in v3,

[2022-06-14 20:35] Tantacrul commented on #11949
Vasily is working on a number of optimisations to loading & audio at the moment. Curious to see if it changes things.

[2022-06-14 20:43] wizofaus commented on #11949
Great to hear, but it may well just be some weird state my system got itself into (it's low on disk space among other issues, and HDDs can slow down with time anyway) - I'm pretty sure I would have noticed if v3 had that behaviour previously, but I don't recall ever noticing it at all.  Unless it's happening for a significant number of other users testing v4 I wouldn't spend excessive time on it.

[2022-06-14 20:57] Tantacrul commented on #11949
Right, well I'll tentatively close this for now until someone else mentions they're having the same issue. As I mentioned, there are a ton of audio fixed coming down the pipe shortly, and our main focus is audio for **4.0** (because it is the most significant change) anyway.

[2022-06-14 20:57] #11949 closed

[2022-06-14 21:46] Tantacrul opened #12016 "[MU4 Issue] Fix slight spacing issue with the avatar button in the Home tab"
**Describe the bug**
Currently, the avatar button (where it shows my face) is flush against the top bar. There is a space below it that separates it from the menu items. I've hovered over the button so you can see the gap below:

<img width="441" alt="image" src="https://user-images.githubusercontent.com/21022311/173694517-41cf9799-e6cb-4048-b48a-ba2680c11fc0.png">

It would look much better if th

[2022-06-14 21:48] Tantacrul commented on #12016
@HemantAntony / @VanSHOE / @miiizen - a super trivial one, if any of you fancy it.

Doubt the core team will have time.

[2022-06-14 22:32] wizofaus commented on #12016
Can be done replacing "spacing: 20" in HomeMenu.qml (line 58) with

        Rectangle {
             height: 15
        }

But not sure if that's the ideal solution.  Looks like this:

![image](https://user-images.githubusercontent.com/5364225/173700265-f49018ab-1a50-4291-be52-c0876c2fd019.png)

[2022-06-14 22:37] cbjeukendrup commented on #12016
Creating a Rectangle is not really a good idea, since it always has a color and therefore needs to be drawn. Using simply `Item { height: 15 }` would already be better, since that adds no unnecessary drawing overhead. But it still involves creating an almost useless `Item` object. The really correct solution is to give the `ColumnLayout` some `anchors.topMargin: 15` (or 20 or whatever).

[2022-06-14 22:42] cbjeukendrup commented on #12016
Actually it would be quite fun to give a crash course QML for designers (and everyone else who hasn't learned it yet)... Maybe I could do something like that, this summer!

[2022-06-14 22:44] Tantacrul commented on #12016
Yes please! When I was at Microsoft, I generally fixed these kinds of things myself.

[2022-06-14 22:49] wizofaus commented on #11986
It's got worse:

![image](https://user-images.githubusercontent.com/5364225/173702013-730d011e-430a-46b8-ab56-b4f6d1bc1f4e.png)

[2022-06-14 22:50] wizofaus commented on #11978
Why am I seeing this then?

![image](https://user-images.githubusercontent.com/5364225/173702071-fd01ab0a-8311-488d-a8f8-da5c124ac699.png)

[2022-06-14 22:53] wizofaus commented on #12016
Yeah, I figured there would probably would be a better way to do it, though I would hardly be worried about the overhead, not likely to make any measurable difference to performance.

[2022-06-14 23:15] cbjeukendrup commented on #11986
It should be fixed now. But before it was fixed, indeed, every time that you closed MuseScore after making some edits to the palettes, it would get worse.

[2022-06-14 23:17] wizofaus commented on #11986
Is there an explicit command to reset the palette? Surely reset all preferences to factory defaults should do it?

[2022-06-14 23:19] cbjeukendrup commented on #11986
You can click the '...' button on any palette and click "Reset palette" in the menu.

[2022-06-14 23:27] wizofaus commented on #11986
Ah, I'd only tried the ... in the Palettes dock tab, as I assumed you were resetting all palettes.  So how *do* you reset absolutely everything, including all palettes? Shouldn't reset to factory defaults in preferences do that?

[2022-06-14 23:37] wizofaus commented on #11978
Seems OK now after rebuilding etc.  Still a bit unclear whether you really need to "Reset palette" for just the palette in question.

[2022-06-15 04:11] GabeS573 opened #12017 "[MU4 Issue] Drum Input Palette not fully keyboard accessible"
**Describe the bug**
The Drum Input Palette, which is used to input notes into an unpitched percussion staff, is not accessible by the keyboard alone. The panel cannot be accessed at all with the `tab` key. Since there are only 7 letter keys that can be assigned as shortcuts for percussion instruments, not every instrument in a percussion staff can easily be input by using keyboard alone.

**To Re

[2022-06-15 07:30] #11984 closed

[2022-06-15 07:30] #12005 closed

[2022-06-15 07:30] #12014 closed

[2022-06-15 09:31] rgreen5 opened #12021 "No tooltips in Properties sidebar"
**Describe the bug**
After selecting a score element and hovering the mouse over various properties in the Properties sidebar, absolutely NO tooltips are visible. In MS3 they appeared, as expected.

**To Reproduce**

1. Open a score.
2. Click on a text element, say, such as "Title", then hover the mouse over various items in the Properties sidebar.

RESULT: NO tooltips visible at all.

**Expected

[2022-06-15 09:53] rgreen5 opened #12022 ""Change time signature" button (Properties sidebar) should be "Time signature properties""
**Describe the bug**

if you want to change an existing time signature, the method of choice should be to select it and click on a new time signature from the palettes.

In MS4, if you select an existing time signature, there is a button in the Properties sidebar called "Change time signature". The wording is wrong since this is _not_ the function of the dialog – which is actually to change the te

[2022-06-15 10:39] rgreen5 commented on #9841
One other thing (if it hasn't already been mentioned.) If you press the frame "Height" Reset button, the height always resets to Zero. AFAIK, this should reset to the default value (10sp?). This causes the frame to disappear from view. If focus is subsequently moved away from the frame it cannot be reselected!

[2022-06-15 10:59] rgreen5 opened #12023 "Default volume too low"
**Describe the bug**

At least for testing purposes, the default volume  setting for MS4 alpha should be comparable to the MS3 default. However it is currently set very low which means having to turn up the system volume beyond the level usually required for other apps.

Could the default volume be raised to the MS3 default; perhaps using a simple piano scale as a bench mark?

**Platform informati

[2022-06-15 11:15] rgreen5 opened #12024 "Appreciable lag in SELECTION operations, compared to MS3"
**Describe the bug**

There is an appreciable sound lag when selecting anything in comparison to the same operations in MS3.

Note that I am comparing MS4 and MS4 on the _same_ PC.

**To Reproduce**

1. Open the attached score.
[sound_lag.zip](https://github.com/musescore/MuseScore/files/8908730/sound_lag.zip)

2. Select a note.
3. Now select a continuous range using Shift + select.

RESULT. There

[2022-06-15 11:27] rgreen5 opened #12025 "MIDI tab in Preferences is uninformative"
**Describe the bug**
In MS3, there is a comprehensive I/O section in Preferences, which is informative and gives several options for the user to configure sound:

![input_output_(ms3)](https://user-images.githubusercontent.com/87246583/173815518-7d6de4a6-f8ce-4ae7-8d37-5ad2112cb2aa.png)

Compare this to the current default I/O tab in MS4!

![inout_output_(ms4)](https://user-images.githubuserconten

[2022-06-15 11:53] oktophonie commented on #10433
If a proper fix would be difficult/time-consuming right now, is it at least possible in the interim to fix it so that MuseScore doesn't crash (even if there's no sound)? It's making my testing very difficult.

[2022-06-15 12:21] #12023 closed

[2022-06-15 12:22] Tantacrul commented on #12022
Yeah, I agree - since you can't actually change the time signature using this (awful) modal. Thanks!

[2022-06-15 12:25] Tantacrul commented on #12021
Bumping to 4.x as a feature request.

The new inspector is a lot clearer than the old one and the old one didn't have all that many tooltips.

However, we should definitely include more of them - just not for 4.0.

[2022-06-15 12:25] #12021 closed

[2022-06-15 12:27] Tantacrul commented on #12017
Unless I'm mistaken, this was already an issue with version 3.

We are planning a proper overhaul to the percussion input in 4.x. It is one of our highest priorities. This is a very good observation about another improvement we can make. Thanks!

[2022-06-15 12:31] Tantacrul commented on #11997
From testing this, both MS3 and MS4 are both equally appalling. We're not going to be tackling this for 4.0.

However, a **proper** overhaul to hairpins is on the cards in 4.x

[2022-06-15 12:32] Tantacrul commented on #11998
@cbjeukendrup or @igorkorsukov - can either of you let me know how significant this is so I can prioritise / schedule it?

[2022-06-15 12:34] cbjeukendrup commented on #11998
It is just what the issue says: due to a memory management issue, an infinite loop can occur which causes a crash. The problem is that it's not yet clear how to reproduce it reliably, which makes it difficult to estimate the severity.

[2022-06-15 12:36] Tantacrul commented on #12008
I never noticed that before. Nice spot!

[2022-06-15 12:44] #11997 closed

[2022-06-15 12:47] Tantacrul commented on #11999
Confirmed on MacOS. Happens for everything, as far as I can see.

[2022-06-15 12:54] DmitryArefiev commented on #12005
Yes, confirm the crash in previous master and was not able to repro after merging #12013 to master

[2022-06-15 12:55] DmitryArefiev commented on #11984
Fixed in #12013

[2022-06-15 12:58] Tantacrul commented on #11998
I've given it a P1 and targeted alpha until someone says that's a bad idea :)

[2022-06-15 13:42] DmitryArefiev opened #12028 "[MU4 Issue] When opening a non-existing (deleted) file, you get the corruption dialog instead of missing file dialog"
**To Reproduce**
1. Open score A from a Flash drive
2. Close score A
3. Eject Flash drive
4. Try to open score A from Recent scores - **you get the corruption dialog instead of missing file dialog**

### Actual result:

![Capture](https://user-images.githubusercontent.com/90187801/224660204-0f31815b-376a-4a18-8507-b872bf6321df.PNG)

### Previous actual result:

**MU shows "File open error" instead

[2022-06-15 13:45] DmitryArefiev commented on #8884
@Tantacrul @Trainzack I created a separate issue for File open error message (P3, Beta2) and want to put the current issue to 4.x.x version

[2022-06-15 13:48] DmitryArefiev commented on #12028
@Tantacrul Putting to Beta2 with P3 but I think can be moved to 4.x.x as well

[2022-06-15 13:51] Tantacrul commented on #8884
Cool!

[2022-06-15 13:55] #8957 closed

[2022-06-15 14:06] DmitryArefiev commented on #10742
@Tantacrul I just realized that made a typo in the Description : Wanted to write "Doesn't **occur** in MU3 instead of "Doesn't **work** in MU3".. Let's put this again to Alpha2 (but with P2) since it's critical when working with text in score.

If disagree just move to Alpah2 again.

Sorry for confusion!

[2022-06-15 14:07] DmitryArefiev commented on #10742
FYI @Eism

[2022-06-15 14:34] #11747 closed

[2022-06-15 14:46] #11998 closed

[2022-06-15 14:51] #12012 closed

[2022-06-15 15:04] boryskuzmenko commented on #11747
🟢 **FIXED** in https://github.com/musescore/MuseScore/pull/11873
Tested on macOS 12, Win 11, Ubuntu 20

[2022-06-15 15:56] abariska opened #12030 "[MU4 Issue] [GP] Harmonic text mark visibility rules are wrong for GP import"
**Description**
Actual rules:
- any harmonic mark is rendered for standard staff
- any harmonic mark is not rendered for TAB Simple staff

**To Reproduce**
Steps to reproduce the behavior:
1. Import test GP file to MU4
2. Pay attention to measure 10

**Screenshots**
![Capture 2022-06-15_06-54-33_PM](https://user-images.githubusercontent.com/101250347/173871858-ce9febf2-8132-4fe3-830a-7630553fbb82.

[2022-06-15 15:57] DmitryArefiev commented on #10394
For **Linux** it's fixed in #12010

For **Mac** and **Win** was fixed previously

Closing

[2022-06-15 15:57] #10394 closed

[2022-06-15 16:01] boryskuzmenko commented on #11540
The issue is still reproducible for TAB staves

[2022-06-15 16:15] abariska opened #12032 "[GP] Hammer On/Pull Off element is not rendered for TAB staves (Simple, Common, Full)"
**To Reproduce**
Steps to reproduce the behavior:
1. Open test GP file
[test tab for MU4.gp.zip](https://github.com/musescore/MuseScore/files/8911222/test.tab.for.MU4.gp.zip)
2. Pay attention to measure no. 15
3. Try for main staff types (Simple, Common, Full)

**Expected behavior**
Hammer On/Pull Off element is rendered for TAB staves

**Screenshots**
![Capture 2022-06-15_07-05-59_PM](https://use

[2022-06-15 16:20] boryskuzmenko opened #12033 "[MU4 Issue] [GP] Tap, Slap and Pop elements are not rendered for TAB staves (Simple, Common, Full)"
**To Reproduce**
Steps to reproduce the behavior:
1. Open test GP file
[test tab for MU4.gp.zip](https://github.com/musescore/MuseScore/files/8911222/test.tab.for.MU4.gp.zip)
2. Pay attention to measure 16
3. Try for main staff types (Simple, Common, Full)

**Expected behavior**
Tap, Slap and Pop elements are rendered for TAB staves

**Screenshots**
![Capture 2022-06-15_07-19-28_PM](https://user-i

[2022-06-15 16:23] DmitryArefiev opened #12034 "[MU4 Issue] Beat has a lot of extra zeros after main value"
![Capture](https://user-images.githubusercontent.com/90187801/173877310-2cd86eff-6c6c-4dfc-bd1d-9db5ddde6378.PNG)

This is **critical for Accessibility**:

https://user-images.githubusercontent.com/90187801/173877507-5d9838a5-1b7c-422f-91a6-a04135cbd275.mp4

**Platform information**
macOS, Windows, Linux

[2022-06-15 16:25] DmitryArefiev commented on #12034
FYI @Eism

[2022-06-15 16:26] abariska opened #12035 "[MU4 Issue] [GP] Arpeggio and Strumming elements are not rendered for standard staff after GP import"
**To Reproduce**
Steps to reproduce the behavior:
1. Open test GP file
[test tab for MU4.gp.zip](https://github.com/musescore/MuseScore/files/8911222/test.tab.for.MU4.gp.zip)
2. Pay attention to measure 18 on standard staff

**Expected behavior**
Arpeggio and Strumming elements are rendered for standard staff

**Screenshots**
![Capture 2022-06-15_07-25-30_PM](https://user-images.githubusercontent.

[2022-06-15 16:50] boryskuzmenko opened #12036 "[MU4 Issue] [GP] Fade in and Fade out are placed below the standard staff"
**To Reproduce**
Steps to reproduce the behavior:
1. Open test GP file in MU4
[test tab for MU4.gp.zip](https://github.com/musescore/MuseScore/files/8911489/test.tab.for.MU4.gp.zip)
2. Pay attention to measure 23

**Expected behavior**
Fade in and Fade out are placed below the standard staff

**Screenshots**
![Capture 2022-06-15_07-47-04_PM](https://user-images.githubusercontent.com/101250347/1738

[2022-06-15 18:39] gregsadetsky commented on #8859
Hey, I have a few questions regarding plugin support in MU4 if you don't mind:

- Are there plans to let plugins create GUIs in MU4 i.e. add UI elements to a panel?

I see that all of the example plugins in the repository don't create UIs, and the previous MU3 plugins that did were removed in [this commit](https://github.com/musescore/MuseScore/commit/838d85a85cd3be163dc926a76).

- Could you let m

[2022-06-15 18:40] awrog opened #12037 "[MU4 Issue] Mixer: Pan & volume settings from MU3 not remembered in MU4"
**Describe the bug**
I've set pan-settings and volume levels per staff in the mixer in MU3.
Upon opening the same score in MU4 the pan-settings and volume levels have lost

**To Reproduce**
Steps to reproduce the behavior:
1. set pan-settings and levels per staff/track in the mixer in MU3 and save the score
2. open the same score in MU4 and observe in the mixer: pan-settings and volume levels are

[2022-06-15 18:52] rgreen5 opened #12038 "MS4 crashes causing wider system problems"
**Describe the bug**

System details: OS: Linux Mint 20.1, Arch.: x86_64. / Cinnamon 4.8.6.

Over the past two weeks I have experienced two MS4 crashes which have affected the wider system. This has only happened with MS4; with MS3 nightlies the crashes never affected the system itself.

1. A few weeks ago (sorry, I didn't record the nightly details), my Cinnamon desktop crashed while using an MS4

[2022-06-15 18:58] Tantacrul commented on #8859
Hi Greg, as with many things in MS4, we've encountered technical issues that we'd prefer to solve 'properly' in later releases of 4.x.

One of those is a more permissive and robust system for allowing people to create third party plugins. This is why we didn't port over the plugin creator from MS3 because it needs significant change in order to work. This is just a non-technical overview of our de

[2022-06-15 20:27] wizofaus commented on #12038
If a user-level application like MuseScore can do that to your operating system, my first reaction is get a better operating system!
The only thing an application can do that causes system-wide issues is to use up too much CPU, memory or HD space.
Unfortunately I can't see any realistic chance that a developer would be able to take this issue and figure out how to "fix" anything in MuseScore itsel

[2022-06-15 20:36] wizofaus commented on #9841
Is it possible for repro steps to be added to this issue?   I'm not seeing that adjusting the height of a vertical frame via the Properties panel is not updating the score at any rate. I am seeing the reverse (that the properties panel isn't updated after dragging to adjust height).

@bkunda

[2022-06-15 20:51] wizofaus opened #12040 "[MU4 Issue] Properties panel is not showing controls for adjusting text properties (font/style etc.)"
**Describe the bug**
For regular text elements (e.g. most of the factory default text palette options such as "arco" etc.), the properties panel doesn't provide any way to adjust font/size/formatting/style etc. It's fine for special cases like Staff text or System text etc.
This is because such text elements have type PLAYTECH_ANNOTATION internally now, which the inspector model isn't coded to sup

[2022-06-16 01:00] Funmoring46 opened #12043 "[MU4 Issue] Can't add soundfont folder"
**Describe the bug**
I can't make a folder to add soundfonts.

**To Reproduce**
Steps to reproduce the behavior:
1. Click on 'Edit'
2. Click on 'Preferences'
3. Click on 'Folder'
4. Click on the folder icon near SoundFonts
5. Make a folder for the soundfonts.
6. See error

**Expected behavior**
It should have the soundfonts folder set and ready.

**Screenshots**
https://user-images.githubuserconte

[2022-06-16 06:14] wizofaus commented on #9841
FWIW, it seems all the various Inspector "settings" models require explicitly setting up the updatePropertiesOnNotationChanged handler to deal with this, I'm not sure why it can't just be more generic, other than possible efficiency concerns.  I've added one for VerticalFrameSettingsModel and TextLineSettingsModel (and removed the one for HairpinSettingsModel) which handles the cases mentioned abo

[2022-06-16 06:39] wizofaus opened #12046 "[MU4 Issue] "Edit element" available in context menu but does nothing for large number of elements"
**Describe the bug**
The context menu for e.g. frames, lines, articulations etc. has the "Edit element" menu item enabled, but selecting it doesn't appear to do anything - except causing said menu item to then become disabled!

**To Reproduce**
Steps to reproduce the behavior:
1. Create/open any score
2. Add a frame, line or articulation if necessary
3. Right-click on, or activate context menu for

[2022-06-16 06:49] rachelhe123 opened #12047 "[MU4 Issue] MuseScore_amd64 failed to run "global_test" on release and debug configuration with MSVC on windows."
**Describe the bug**
MuseScore_amd64 failed to run "global_test" on release and debug configuration with MSVC on windows. Could you please help look at this issue or provide some workarounds? Thanks in advance.

**To Reproduce**
Steps to reproduce the behavior:
1. git clone https://github.com/musescore/MuseScore F:\gitP\musescore\MuseScore
2. mkdir F:\gitP\musescore\MuseScore\build_amd64
3. cd F:\

[2022-06-16 07:38] HemantAntony commented on #11977
@boryskuzmenko I can not reproduce this in the latest master. A lot of crashes did get fixed recently with a PR. Maybe this was one of them?

[2022-06-16 07:49] #9841 closed

[2022-06-16 07:52] #12016 closed

[2022-06-16 07:55] HemantAntony commented on #9594
I can't reproduce this in the latest master

[2022-06-16 07:56] #12040 closed

[2022-06-16 09:03] #8588 closed

[2022-06-16 09:05] Tantacrul commented on #9594
Neither can I. Well. I'm closing again, unless Dmitri is still having the issue.

[2022-06-16 09:07] Tantacrul commented on #12038
Closing as unfixable. But we've noted your complaint.

[2022-06-16 09:07] #12038 closed

[2022-06-16 09:33] Tantacrul opened #12050 "[MU4 Task] Link our new YouTube playlist to the 'Learn' section"
**Task description**
Here is the link for the **MuseScore 4.0 videos** playlist:
https://youtube.com/playlist?list=PLTYuWi2LmaPEhcwZJwFZqoyQ2xXx_maPa

We should now replace the old videos with this in the 'Getting Started' tab. We will be adding more videos to the playlist soon.

[2022-06-16 09:36] DmitryArefiev commented on #9594
@Tantacrul Sorry for my English! 🙂
 In https://github.com/musescore/MuseScore/issues/9594#issuecomment-1119622950 I meant, I have the same result as yours. The issue no longer occurs in master

[2022-06-16 10:46] boryskuzmenko commented on #12032
The issue needs to much effort for now. Decided to fix it for guitar release after MU4 release

[2022-06-16 10:48] #12050 closed, assigned to Eism

[2022-06-16 11:40] rgreen5 opened #12052 "Fretboard diagrams: No "Fret number" property?"
**Describe the bug**

There seems to be no way to change the _fret number_ on a fretboard diagram. An oversight has omitted the "**Fret number**" from the Properties sidebar!

MS3 Inspector:

![ms3_inspector](https://user-images.githubusercontent.com/87246583/174061885-6f3f5f2d-14c8-40f6-9c94-5131b60b0623.png)

MS4 Properties sidebar (note the gap where, presumably, "Fret number" should be):

![ms

[2022-06-16 11:56] rgreen5 opened #12053 "Fretboard diagrams: "click zone" extends too far away from the left-hand edge of fretboard"
**Describe the bug**
Normally, you create a finger dot on a fretboard diagram by hovering over the desired string and fret position, then clicking. However the active area for clicking finger dots on to the leftmost string also includes a significant area to the left of the fretboard.

The area area needs to be more focused so that the "click zone" ends at the fretboard edge.

**Platform informati

[2022-06-16 12:15] DmitryArefiev commented on #12034
Fixed in #12049

[2022-06-16 12:15] #12034 closed

[2022-06-16 13:08] Tantacrul commented on #10034
- I think new staves should not be created above either. Now that I see it, it just means that in most cases, the user will then need to drag the stave below. (Guitar + Tab in particular). The current rule (always create below) seem more broadly sensible. I think this should be fixed in https://github.com/musescore/MuseScore/pull/10526 (if that is where it was introduced)

- The grand stave issue

[2022-06-16 13:13] MarcSabatella commented on #12046
What it normally does is put the element into "edit mode", which means it can be moved with cursor keys, or it has editable handles, those appear.  Some time ago, the edit mode distinction was blurred for some elements like lines, and handles appeared on single-click.  I'm not sure if there is any remaining distinction at all.  For articulations, it seems currently edit mode changes the step for c

[2022-06-16 13:22] Tantacrul opened #12054 "[MU4 Issue] Video tutorials (in 'Learn') are very often 'unable to load'"
**Describe the bug**
As you can see below, this is the most common message I see when I click on the learn section, despite being connected to the internet. (MacOS). I'm wondering whether there is a refresh setting that could check from time to time to see if the user is connected, so the videos can display? It only sometimes works.

<img width="1723" alt="image" src="https://user-images.githubuse

[2022-06-16 13:24] boryskuzmenko commented on #10316
🟢 **FIXED** in https://github.com/musescore/MuseScore/pull/12011
Tested on macOS 12, Win 11, Ubuntu 20

[2022-06-16 13:25] #9948 closed

[2022-06-16 13:41] Eism commented on #12054
Yes, it works for me. I'll investigate why it might not work for you.

[2022-06-16 14:04] DmitryArefiev opened #12055 "[MU4 Issue] Repeat command doesn't work properly in note input mode (makes duplications and range selection)"
**To Reproduce**
1. Select measure
2. Press c (to enter C note)
3. Press r - **it makes two C notes after (instead of one) and doing a range selection of the last note (instead of moving cursor to the next empty beat)**. See video to compare with MU3

https://user-images.githubusercontent.com/90187801/174087710-8bb23034-2762-47a5-8a0a-e0885be930f8.mp4

**Platform information**
macOS, Windows, Linu

[2022-06-16 14:45] Tantacrul commented on #12054
This is what I got. @cbjeukendrup doesn't think this has anything to do with the issue here:
<img width="956" alt="image" src="https://user-images.githubusercontent.com/21022311/174096480-1710564c-25dc-4511-89ee-9d704d901575.png">

[2022-06-16 15:21] boryskuzmenko commented on #9977
🟢 **FIXED** in https://github.com/musescore/MuseScore/pull/11934
Tested on macOS 12, Win 11, Ubuntu 20

[2022-06-16 15:23] #9977 closed

[2022-06-16 16:34] wizofaus commented on #12046
Sure,  I know exactly what edit mode is and have been heavily involved with getting it working in v4 for notes etc. But it's still very problematic,  as there's no feedback that you're in such a mode.

[2022-06-16 20:17] wizofaus commented on #12055
Happy to have a look at this, as I definitely worked on this area at some point.

[2022-06-16 22:01] wizofaus commented on #12046
No luck reproducing the crash, but leaving the stack trace here just in case it helps
{code}
Access violation
this was 0x1

MuseScore4.exe!QMapData<enum mu::accessibility::IAccessible::State,bool>::findNode(const mu::accessibility::IAccessible::State & akey) Line 283    C++
     [Inline Frame] MuseScore4.exe!QMap<enum mu::accessibility::IAccessible::State,bool>::value(const mu::accessibility::IAcc

[2022-06-17 08:37] njvdberg commented on #10034
- Regarding adding new staves **above** the selected staff we had some discussions (see above) but I agree with @DmitryArefiev it can feel strange, I have have no problem to change it. If we all think it is better to create staves **below** the selected staves, it will be done.
- I though I checked all case but apparently I missed one, good catch. Will be solved.

[2022-06-17 09:07] Tantacrul commented on #10034
Yes, I remember the discussions about staves appearing **above**. I didn't consider it properly, I think :)

[2022-06-17 09:44] #12055 closed

[2022-06-17 09:53] DmitryArefiev commented on #12055
Thanks for fixing that!

Yes, I see it doesn't work in MU3 as well so could be fixed later..

[2022-06-17 10:04] DmitryArefiev commented on #12055
Actually I see now when input rests, Repeat command is not needed because hitting 0 multiple times doing the same thing (rests do not have so many parameters as notes)

[2022-06-17 10:25] njvdberg commented on #11791
Solved by PR #12068

[2022-06-17 10:33] bkunda opened #12069 "[MU4 Task] Co-location of selected "lines" palette elements within other palettes"
@HemantAntony given your previous recent work on palettes, I thought this one might be of interest to you. Let us know if you have the time!

## Goal
To co-locate elements in the current Lines palette within other palettes (new and existing), based on a musical-notation logic rather than a purely visual logic.

## Rationale
Currently, elements in Lines palette are included because they are lines,

[2022-06-17 10:42] HemantAntony commented on #12069
Working on it!

[2022-06-17 10:49] bkunda commented on #12069
Legend. Thank you! 🙏🏻

[2022-06-17 12:04] alexpavlov96 commented on #10316
Still needs fix for import from guitar pro (remove especially created class "Slide" and use the "ChordLine" for import, but take care of slide for each note in the chord)

[2022-06-17 12:14] rgreen5 commented on #9841
If it hasn't been done already, the readouts for frame gaps and margins need to be standardised to show two decimal places (as in MS3) – starting at 0.00.

[2022-06-17 12:15] mike-spa commented on #10316
**Yes**, I knew this would come up at some point, so I'm actually glad you brought it up. I agree that the `Slide` class should be removed and we should just use the `ChordLine`. The main problem with ChordLine is that, as the name suggests, it can only be attached to chords. Why _on earth_ it was done this way, I honestly have no idea, to me it is completely obvious that these kind of lines shoul

[2022-06-17 12:19] mike-spa commented on #10316
@alexpavlov96  Ah I see now you said you are already working on it, sorry! Let me know what you prefer, and you know where to find me if needed :)

[2022-06-17 12:25] wizofaus commented on #9841
Can you log that as a separate bug then, thanks - not sure how many places it occurs currently, but obviously would be nice to have it handled in one central place for all relevant properties.

[2022-06-17 12:30] wizofaus commented on #12069
Was there a really a decision to definitely do this for 4.0? Putting hairpins in a palette with dynamic markings in may seem logical, but I can see it leading to a fair bit of confusion (as hairpins most definitely behave nothing like dynamic markings).
And "Staff lines" and "System lines" definitely behave nothing like other text elements.
Having the organisational model of the palettes vary so m

[2022-06-17 12:36] DmitryArefiev commented on #11666
Can reproduce it on Mac/Windows as well. Also that doesn't occur in **MU3** (will add some details to the description)
Laving with P2 and Beta1.

@sammik Thanks for logging!

[2022-06-17 12:37] Tantacrul commented on #12069
@wizofaus - yes. We discussed this and unanimously agreed that ordering elements by how they work is less important than ordering them by purpose.

Dynamics are a very good example. They are elements that are meant to work together, and it is not obvious that you would find one in 'Lines'. Practically, it means users have to keep jumping between the two palettes for one action. I don't believe tha

[2022-06-17 12:41] wizofaus commented on #12069
Well given the palettes are completely customisable, I guess us techy users that prefer to keep things together based on what they are (rather than what they're used for) can still rearrange them to suit.  I do understand the justification for the non-technically minded users, probably just need to be careful about the Palette names.  If you actually start *calling* hairpins "dynamics" that will d

[2022-06-17 12:42] Tantacrul commented on #12069
I don't think we want to rename any elements. Hairpins would just go in dynamics (and stay in 'lines')

[2022-06-17 12:43] rgreen5 commented on #11474
OS: Linux Mint 20.1, Arch.: x86_64, MuseScore version (64-bit): 4.0.0-2513269173, revision: github-musescore-musescore-7117330

Some shortcuts which have been assigned in the action list (Preferences) and _do_ actually work, do not have menu entries. e.g.

* Insert (insert one measure after selection). Should be in Add > Measures.
* Ctrl+B (Insert one measure at end of score). Should be in Add > M

[2022-06-17 12:49] wizofaus commented on #12069
I guess I'm suggesting the palette should be called hairpins and dynamics then. One is not a type of the other! (Internally dynamics are actually just text elements, and support all of the behaviors of text elements, which may or may not make sense in all cases).

[2022-06-17 12:55] rgreen5 opened #12071 "Frame properties: standardise property readouts to two decimal places (as in MS3)"
**Describe the bug**

Subsequent to #9841. The gap and margin properties for frames are currently displaying different numbers of decimal places. These need to be standardised so that the display always defaults to two decimal places (starting from 0.00), as was the case in MS3..

[2022-06-17 13:37] boryskuzmenko commented on #11823
🟢 **FIXED** in https://github.com/musescore/MuseScore/pull/11850
Tested on macOS 12, Win 11, Ubuntu 20

[2022-06-17 13:55] boryskuzmenko commented on #10324
🟢 **FIXED** in https://github.com/musescore/MuseScore/pull/11802
Tested on macOS 12, Win 11, Ubuntu 20

[2022-06-17 13:57] #10324 closed

[2022-06-17 14:11] DmitryArefiev opened #12074 "[MU4 Issue] Сrash when moving bracket"
**To Reproduce**
1. Open a score
2. Try to move bracket with mouse or keyboard arrows

https://user-images.githubusercontent.com/90187801/174315264-494a8b47-d6f6-43e8-ac37-12d18806d09f.mp4

**Platform information**
macOS, Windows, Linux

**Additional context**
Recent builds

[2022-06-17 14:24] igorkorsukov commented on #11060
I like the idea of adding a category!

But I think it is impossible to merge Ui Context and ShortcutContext , these are different things. Whether it is possible to send a shortcut depends on the current focus, and whether it is possible to send an action depends on the technical conditions. For example, when editing text, we cannot send a space shortcut to start playback, but we can send an action

[2022-06-17 14:39] DmitryArefiev commented on #11791
Fixed in #12068

[2022-06-17 14:40] DmitryArefiev commented on #11791
@njvdberg Thanks for fixing that!

[2022-06-17 15:07] DmitryArefiev opened #12075 "[MU4 Task] [Accessiblity] Implement Return focus to score command (and shortcut)"
**Task description**
Now when editing score (in accessibility mode), and applying a different operations to selected element (note, text, range selection) you need to press Tab several times to find command/window/panel in MU UI, apply command and return back to score hitting Tab multiple times.

The goal of this task to implement **command that can quickly return blind user to editing score** fro

[2022-06-17 15:13] cbjeukendrup commented on #11060
@igorkorsukov Thanks for your reply! @VanSHOE Let's work on this!

Ah, yes, I see now how they are different. Let's not touch this area for now.

[2022-06-17 16:01] Tantacrul commented on #12074
Jesus, these brackets....

[2022-06-17 16:03] Tantacrul commented on #12071
Bumping to 4.x, as it is a trivial fix that has no real consequences, which we can tackle later.

[2022-06-17 16:03] #12071 closed

[2022-06-17 16:06] Tantacrul commented on #12053
I think this is too trivial to be an issue we should concern ourselves with. I'm closing as a **won't fix**

Thanks for mentioning it though. We'll be redesigning this system soon enough anyway and will tackle it then.

[2022-06-17 16:06] #12053 closed

[2022-06-17 16:07] Tantacrul commented on #12052
Very good point. I don't know how we missed this. Thanks!

[2022-06-17 16:10] Tantacrul commented on #12047
@cbjeukendrup - since I can see a PR from you, I've assigned you. Please close when finished.

[2022-06-17 16:14] #12043 closed

[2022-06-17 16:24] boryskuzmenko opened #12076 "[MU4 Issue] [GP] Line elements are divided when rests present under it"
**Describe the bug**
There're affected elements:
- octave up/down
- let-ring
- palm mute
- rasgueado

**To Reproduce**
Steps to reproduce the behavior:
1. Open the test file in MU4
[Line elements with rests.gp.zip](https://github.com/musescore/MuseScore/files/8929131/Line.elements.with.rests.gp.zip)
2. Pay attention to the division of line elements

**Screenshots**
![Capture 2022-06-17_07-09-36_PM

[2022-06-17 16:35] MarcSabatella commented on #12075
FWIW, the goal in the past was always to make Esc perform this function.  In places where you're deep enough in dialogs, of course it might be necessary to press it multiple times, but the expectation was that after closing any open dialogs, you'd be back in the score.  And also if focus was in a non-modal panel, like the Inspector.  As far as I know that works everywhere in MU3 although there cou

[2022-06-17 16:48] DmitryArefiev opened #12078 "[MU4 Issue] [VST] Export Audio using Kontakt doesn't work and leads to crash"
https://user-images.githubusercontent.com/90187801/174341923-f42fb45e-6779-4ced-a149-4d293f4fa12d.mp4

**Platform information**
macOS, Windows

[2022-06-17 16:54] DmitryArefiev commented on #12074
Yeah, lovely brackets))

[2022-06-17 17:11] boryskuzmenko opened #12079 "[MU4 Issue] Undo doesn't work for part deletion"
**To Reproduce**
Steps to reproduce the behavior:
1. Open the test score
[brackets.mscz.zip](https://github.com/musescore/MuseScore/files/8929445/brackets.mscz.zip)
2. Open any part
3. Close the part
4. Use 'undo' (nothing happens)
5. Use 'redo' (part is opened back)

**Expected behavior**
Part is opened back when using 'undo' after deleting

**Screenshots**

https://user-images.githubusercontent.

[2022-06-17 17:20] boryskuzmenko commented on #12033
🟢 **FIXED**
Tested on macOS 12, Win 11, Ubuntu 20

[2022-06-17 17:21] #12033 closed

[2022-06-17 20:37] wizofaus commented on #12074
AccessibleRoot strikes again!

        NotationUndoStack::commitChanges

 	MuseScore4.exe!mu::engraving::EngravingItem::staffIdx(void)	Unknown
 	MuseScore4.exe!mu::engraving::AccessibleRoot::updateStaffInfo(class mu::engraving::AccessibleItem const *,class mu::engraving::AccessibleItem const *)	Unknown

 	MuseScore4.exe!mu::engraving::EngravingItem::setSelected(bool)	Unknown
 	MuseScore4.exe!mu::e

[2022-06-18 01:38] wizofaus commented on #12076
NB to be clear this only when importing from GP, doesn't happen normally (regardless of which version the score was created in)

[2022-06-18 02:12] wizofaus commented on #12079
Are you missing a step there where you delete it?  I certainly wouldn't expect just closing the tab to mean you're *deleting* anything...

[2022-06-18 02:25] wizofaus commented on #12079
Also got this after undoing *without* closing first:

Exception thrown: read access violation.
this was nullptr.

 	[Inline Frame] MuseScore4.exe!mu::engraving::Segment::measure() Line 156	C++
 	MuseScore4.exe!mu::notation::NotationSelectionRange::rangeStartSegment() Line 167	C++
 	MuseScore4.exe!mu::notation::NotationSelectionRange::boundingArea() Line 82	C++
 	MuseScore4.exe!mu::notation::Notati

[2022-06-18 09:21] poypoyan commented on #11530
@Tantacrul Hi! Apologies for this late reply. I cannot work on all open-source projects I normally contribute.

Upon looking on this problem, I have no idea on how to fix this bug. This palette dialog is implemented in "PalettePropertiesDialog.qml" and uses so-called "Repeater" to generate the 4 "spinbox" options. This repeater looks alright to me. Apologies for this.

[2022-06-18 19:03] BenignPigeon opened #12090 "[MU4 Task] Playback line remaining in centre of screen when in continuous view"
**Task description**
When Musescore is in the continuous view option, I believe there should be an option for the transparent blue playback bar to remain in the middle of the screen and for the music itself to move rather than the notes jolting towards the left when the playback bar reaches the end of the screen.

This would allow the user to see what comes directly before and after the current se

[2022-06-19 06:31] wizofaus commented on #11522
I'm also observing an even more serious problem, after assign the shortcut sequence CTRL+ALT+T for this, attempting to use is actually cause the "Text" menu to become selected.  This should only occur for just plain ALT+T.

[2022-06-19 06:51] wizofaus commented on #11883
Was able to crash it running under Visual Studio on Windows. Again related to AccessibleRoot::m_focusedElement pointing to a deleted object, which leads to undefined behaviour.  While there are two PRs already that may prevent this from crashing, they won't prevent undefined behaviour, as neither prevent dereferencing m_focusedElement when it's pointing at a deleted object.

 	MuseScore4.exe!deto:

[2022-06-19 06:53] wizofaus commented on #9807
Is there an intention to split this up?  Happy to help out as needed, but wouldn't take it all on in one go!

[2022-06-19 06:55] wizofaus commented on #11494
This is P1 but can I confirm we're still waiting on a design decision from @bkunda and/or @Tantacrul ?

[2022-06-19 07:04] wizofaus commented on #11349
There's definitely a UX issue here.
If I open a score that *does* have a part created, I can see it in the list, and delete it - and it disappears from the Parts dialog. But if I then reopen the Parts dialog, the part is shown again as though is still exists. "Rename" is the only command available but it doesn't actually work (after closing and re-opening the original name is shown).
So what are t

[2022-06-19 07:10] wizofaus commented on #9919
Not use MS3 users, I'd think anyone who's ever used any application that allows resizing things with the mouse and shows the appropriate cursor to indicate this!  Will investigate...

[2022-06-19 09:01] #11522 closed

[2022-06-19 09:05] #11896 closed

[2022-06-19 09:05] #12022 closed

[2022-06-19 09:44] Tantacrul commented on #11494
@wizofaus - thanks for the pointer. I'm going to edit the summary of the bug and add a video for clarity. This close to a release, I think it is dangerous to experiment and the current MS3 behaviour is clearly better than the MS4 behaviour, so I think we should stick with that for now.

[2022-06-19 10:32] wizofaus commented on #11494
There's no trivial way to implement the v3 behaviour, and it's basically unpredictable. The code in v3 can't be used as is.

[2022-06-19 11:21] sammik commented on #11349
Problem is, IMHO, that parts are in fact created just when user click "Open".

But in dialog, it behaves (well, try to beheave), as if they were already created, but they are not. In dialog, that is only some kind of meta info used / prepared for creating part (which didnt happen yet).

So probably silmpest solution would be, that parts will really be created right after user opens dialog first ti

[2022-06-19 11:27] HemantAntony commented on #11349
What about if the score has a lot of parts. Won't it have an effect on performance?

[2022-06-19 11:28] wizofaus commented on #11349
Hmm, just opening a dialog shouldn't cause actions that modify the score.
I have plenty of ideas about how this dialog *could* work, but I'm pretty sure @Tantacrul & @bkunda have already come up with a good design, it just hasn't been implemented properly yet.

[2022-06-19 14:59] rabbitdragon2 opened #12093 "[MU4 Issue] "." creating diminuendo hairpin instead of dotted note"
With the last four pre-releases (2022-06-16,17,18,19), I have noticed that whenever I press the period key to create a dotted note, instead all I get is a diminuendo hairpin. This occurs on both macs I have worked on, MacOS monterey, default keyboard settings.

[2022-06-19 15:01] rabbitdragon2 opened #12094 "[MU4 Issue] Metronome goes silent when the playing note is dotted"
When a dotted quarter note is playing (say, starting on 1), the metronome does not strike on beat 2, where the note is carried over. It does play when there is a half note however.

[2022-06-19 18:46] cbjeukendrup commented on #9807
@wizofaus Yes, the plan is to tackle this in steps. I'm planning to work on this during the coming week, so please let me know which part(s) you would like to work on.

[2022-06-19 18:51] wizofaus commented on #9807
None in particular,  just looking for things that can be tackled with small changes.

[2022-06-19 18:58] MarcSabatella commented on #11494
I'm not sure in what cases MU3 doesn't start with the top left measure, but that's certainly what the algorithm in MU3 is *supposed* to do, and does in all of my own tests.  Be sure you are actually only testing cases where there is a selection or where the last note input position is not currently in view.  If the last note input position *is* in view, then yes, that location gets chosen, and tha

[2022-06-19 19:07] Eism commented on #9807
I am working on IO page

[2022-06-19 19:20] cbjeukendrup commented on #12093
It looks like this is related to #11956.

[2022-06-19 19:24] cbjeukendrup commented on #12094
This looks like the same problem as #11777. I will close this issue, and extend #11777.

[2022-06-19 19:24] #12094 closed

[2022-06-19 19:25] cbjeukendrup commented on #11777
As reported in #12094, the problem also occurs when a dotted quarter note is used.

[2022-06-19 20:10] wizofaus commented on #11494
In the testing I was doing with a large orchestral score, I would say at best 50% of the time did it start note entry at the top-left-most visible measure.  And the code that tries to determine this is insanely complicated.
I'd also say I hope there is a command to return to where you were last entering notes even if you've scrolled it out of view as I am still firmly in the camp of wanting MuseSc

[2022-06-19 20:13] wizofaus commented on #11494
(Btw I suspect some of the unexpected behavior was because I had "accidentally" selected something while panning the score around. But it's actually very difficult to avoid doing this on a crowded score)

Get Outlook for Android<https://aka.ms/ghei36>
________________________________
From: Dylan Nicholson ***@***.***>
Sent: Monday, June 20, 2022 6:10:26 AM
To: musescore/MuseScore ***@***.***>; mus

[2022-06-19 20:40] wizofaus opened #12097 "[MU4 Issue] If current measure moves to new system after changing durations it's not scrolled into view"
**Describe the bug**
Quite often changing the duration of existing notes/rests in a measure or entering in new notes can cause it to become too wide and move to the next system. This is fine, but it should at least be automatically scrolled into view if so.
This is especially a problem with note entry.

**To Reproduce**
Steps to reproduce the behavior:
1. Create a new score using an ensemble templ

[2022-06-19 22:16] wizofaus commented on #12079
BTW I've already included a fix to the latter problem (crash in rangeStartSegment) in a PR that's now been merged, so it should no longer occur with the latest code.

[2022-06-19 22:22] wizofaus commented on #11956
Works fine on Windows, FWIW.  I assume this worked fine in v3 on MacOS?

[2022-06-19 22:23] wizofaus commented on #12093
Would say so, and is MacOS specific, so will need a dev who can build on MacOS to investigate...

[2022-06-19 22:24] wizofaus commented on #9429
Can you provide repro steps in text, and I'll have a look, thanks.

[2022-06-19 22:49] wizofaus commented on #9429
Ok so fixing that specific problem is trivial - the weird thing is why the code was written that way in the first place as there's no good reason for it.
But there are a bunch of other bugs around barlines in the inspector, specifically with the very final barline (which should restrict which possible barline types can be selected) and similarly for any "initial" repeat barline added before the 1s

[2022-06-19 23:34] MarcSabatella commented on #11494
If you have no selection, Shift+L re-establishes a selection at the location of the most recent selection.  In some cases, that might not be the last note input position - like if you did some other editing operation after the last note input operation.  I have nothing against another command to specifically re-establish last note input position.

I'm quite confident you are correct that you had s

[2022-06-20 00:46] wizofaus commented on #9429
Ugh really struggling with this, it seems there's a bunch of logic to automagically re-create barline objects as needed according to "measure" properties, which stops many things working as expected (e.g. trying to change a "left repeat" barline to a dotted barline etc. In v3 doesn't even allow this!)

[2022-06-20 03:27] wizofaus commented on #11494
Shift+L isn't working for me in v4. Works in v3. Will log.

[2022-06-20 03:31] wizofaus commented on #9429
@Tantacrul I've put up a PR https://github.com/musescore/MuseScore/pull/12099 where you can try out my various fixes (described in the PR), see how you go with it.

[2022-06-20 03:41] wizofaus opened #12100 "[MU4 Issue] Shift+L to reselect last selected location doesn't work"
**Describe the bug**
In v3 shift+L when nothing is selected is a very handy command to take you back to whatever you last had selected.  It doesn't appear to work in v4.

**To Reproduce**
Steps to reproduce the behavior:
1. Create/open a score
2. Select something in the first measure
3. Scroll to the last measure
4. Type Shift+L
5. Nothing happens...

**Expected behavior**
Element selected in step

[2022-06-20 08:44] #12097 closed

[2022-06-20 10:02] #9919 closed

[2022-06-20 10:33] HemantAntony commented on #12069
@bkunda I have a PR ready. I sadly was not able to change the System icon

I know why its happening. But I have no idea how to solve it

[2022-06-20 10:37] Jojo-Schmitz commented on #11060
Wouldn't this need to get reoipened, with the PR's changed being reverted?

[2022-06-20 10:39] cbjeukendrup commented on #12069
@HemantAntony Maybe you can fix it by adjusting this line: `systemTextLine->setLen(w);`.

[2022-06-20 11:16] boryskuzmenko commented on #12076
@wizofaus it's clear due to the [GP] in the summary

[2022-06-20 11:33] boryskuzmenko commented on #12076
🟢 **FIXED** in https://github.com/musescore/MuseScore/pull/12095
Tested on macOS 12, Win 11, Ubuntu 20

[2022-06-20 11:47] wizofaus commented on #11948
The linked PR should fix it, so I don't think it needs to be assigned to me?

[2022-06-20 12:10] RomanPudashkin commented on #11948
@wizofaus I assigned you because you are the author of the fix :) If you want, I can remove you from the assignment

[2022-06-20 12:14] wizofaus commented on #11948
I guess I'm used to having issues assigned to whoever needs to do something next - after putting up a PR I'd think it would be assigned to a reviewer or a tester...

[2022-06-20 12:44] bkunda commented on #11349
@wizofaus see #11420 and #11858 for the fixes we have proposed. I think these fixes should address some of the issues you've raised, particularly with regard to closing/reopening the dialog and the behaviour of the "open" and "close" buttons (on this latter issue, we actually polled users to assess the anticipated functionality of these buttons in the new design, so we're reasonably confident that

[2022-06-20 13:03] Tantacrul commented on #11490
This appears to now be working in the latest nightly (Windows & Mac). Closing unless someone says otherwise.

[2022-06-20 13:08] Tantacrul commented on #9620
Since the core part of this (dragging the beaming properties is now working in master), I'm going to bump the rest until 4.x

[2022-06-20 13:10] #11823 closed

[2022-06-20 13:31] oktophonie commented on #11826
The basic principle is (or should be) that, conceptually, the staves start bunched up closely together, then the space is distributed between them according to various rules/parameters.

According to that concept, adding a spacer between the top two staves, like in the above example, shouldn't cause anything else to change, since space _would have been_ added to reach that point. However, I unders

[2022-06-20 13:49] #11826 closed

[2022-06-20 14:18] boryskuzmenko opened #12107 "[MU4 Issue] [GP] App is frozen when clicking accel/rall assigned to tempo change which is placed between measure beats"
**To Reproduce**
Steps to reproduce the behavior:
1. Open the test file in MU4
2. Click the accel. on the last measure

**Expected behavior**
No app freeze in any case

**Screenshots**

https://user-images.githubusercontent.com/101250347/174621895-75d2b3f7-433d-47a1-a6cc-87794e43d90c.mov

[2022-06-20 14:32] DmitryArefiev commented on #11948
Fixed in #12065

@wizofaus Thanks for fixing!

[2022-06-20 15:29] njvdberg commented on #10034
Updated PR now:
1) Add staves always **below** the selected (if any staff is selected, other it will be appended at the end).
2) Move braces at the removed staff to the next staff unless the span becomes 1.

[2022-06-20 15:31] njvdberg commented on #10034
When testing this issue (and PR) I was running into some other strange behavior in case staves are added **and** the a part for this instrument exists. I'll investigate further and create a dedicated issue for this.

[2022-06-20 15:49] MarcSabatella commented on #12090
Actually this was already implemented and has been in MU3 for some time already, although a bit hidden.  In MU3, you enable this via options in Edit / Preferences / Advanced - the various ones labeled smoothPan.  So the absence of these controls is currently a regression in MU4.  I know there is work currently on restoring other lost preferences.  It would be great to see this added as part of tha

[2022-06-20 16:21] HemantAntony commented on #12069
I tried that, but it didn't work. If you are wondering the word System is too big to create the hook. I did think of increasing the length of the TextLine, but I couldn't find the function. I also thought `setLen()` would be it

[2022-06-20 16:39] DmitryArefiev opened #12108 "[MU4 Issue] Multiple selection with Ctr/Cmd + mouse click doesn't work in Instruments/New score window"
**Task description**
Now in Instruments window you can use only range selection with Shift when trying to select several Instruments at once.
But also would be useful ability to use **multiple selection with Ctrl/Cmd**

https://user-images.githubusercontent.com/90187801/174646348-8d3d1336-6b12-4319-8a1f-25853c060387.mp4

**Additional info**

Multiple selection with Ctr/Cmd works in **MU3**

![Capt

[2022-06-20 17:50] Tantacrul commented on #11171
I think this issue has long been solved. Closing for now.

[2022-06-20 17:50] #11171 closed

[2022-06-20 17:50] Tantacrul commented on #11172
Tempo markings (and new tempo lines) now affect playback.

[2022-06-20 17:51] Tantacrul commented on #11173
@tzarjakob - have you made any progress?

[2022-06-20 17:52] Tantacrul commented on #11189
@AlexAndPedro - are you still encountering this?

[2022-06-20 17:53] Tantacrul commented on #11189
Closing because (as @VanSHOE has pointed out) the issue is already covered here https://github.com/musescore/MuseScore/issues/9968

[2022-06-20 17:53] #11189 closed

[2022-06-20 17:56] Tantacrul commented on #11190
@DmitryArefiev This is one to test once we implement 'Devices'. It's possible it is already fixed. I'm aware there are a few of these issues which all seem related. In particular, I note the 48K sample rate 😄 .

[2022-06-20 18:00] Tantacrul commented on #11198
Curious to know whether this is an issue still. I see an old PR which hasn't yet been merged (although I've no idea whether it is mergable)

[2022-06-20 18:02] #11206 closed

[2022-06-20 18:15] Tantacrul commented on #11211
@oktophonie - not sure if this is an issue you guys should take on (I'm guessing not) but thought I'd alert you to it just in case.

[2022-06-20 18:31] NinjaNas commented on #11190
@Tantacrul I have downloaded the latest nightly build 2022-06-20 04:26 and the issue is still present.
![image](https://user-images.githubusercontent.com/54213302/174660028-cd930215-dcbb-46c1-9e09-dbad4ac52807.png)
I was able to reproduce the issue for all of the sample rates above.
If you need any more info please do ask.

[2022-06-20 18:40] cbjeukendrup commented on #11190
Maybe also related: #11222

[2022-06-20 19:15] Tantacrul commented on #11177
@DmitryArefiev - is this much better recently?

[2022-06-20 19:23] Tantacrul commented on #11212
Since this is a feature request (which I very much agree with - there is no downside to doing this), I'm going to close until 4.0 is released. Bumping to 4.x.

[2022-06-20 19:51] oktophonie commented on #11198
Can confirm I experience this still, for one (single step of Ctrl+mousewheel goes straight from 100% to 1600%)

[2022-06-20 20:59] wizofaus commented on #11349
So to confirm if I have, for instance, a score for double choir and small ensemble, I can't get rid of the individual voice parts? I don't think I've ever worked with a choral score that had such parts...

[2022-06-20 21:04] wizofaus commented on #11420
Figma link doesn't work? @bkunda

[2022-06-20 21:06] Tantacrul commented on #11349
You just don't print them.

[2022-06-20 21:56] wizofaus commented on #11349
Yeah, it's definitely not the end of the world, just noting there are situations where the auto-generated parts might not be wanted and would just clutter up the dialog etc.

[2022-06-20 22:44] sammik commented on #11349
Is it intended, that "available parts" should be unremovable, or it is just "servicable solution at the moment"?

If it is intended, than OK, sorry for spamming.

But if not, belove is possible description:

If I am right, major problem of this Parts dialog is, that it contains combined list.
1. list of created parts + 2. list "available parts" (which is in fact just list of score instruments / st

[2022-06-20 22:55] wizofaus commented on #11349
There are performance and storage reasons why only actually fully instantiating the parts at the point they're explicitly needed makes sense.  But I think it's fine to hide that from users, so long as it doesn't mess with their mental model of what they've actually "created".  The problem is currently it's poorly hidden, and does mess with that model.

[2022-06-20 23:58] wizofaus commented on #12074
Had another look at it, and there is a simple/safe fix that doesn't change the existing behaviour of internal logic of how brackets work (and in fact this crash can in principle happen for other types of elements that can get deleted/replaced when performing certain operations with the mouse or keyboard)

[2022-06-21 00:24] bkunda commented on #12069
@cbjeukendrup when you get a minute could you maybe look into this one? If it's too complicated a fix then we might need to look for an alternative design solution. But ideally speaking, it would make the most sense if we can have this palette element appear like the staff text line.

[2022-06-21 00:42] wizofaus commented on #12069
You can get this adjusting the font size:

![image](https://user-images.githubusercontent.com/5364225/174693513-40c6bb66-f071-44de-8ad5-c622c20096cc.png)

[2022-06-21 03:09] wizofaus commented on #12069
The reason setting the len doesn't work is because of
[code]

[2022-06-21 06:05] HemantAntony commented on #12069
So there's no point in doing `setLen` at all? I did see a lot of `setLen` calls in the file

[2022-06-21 06:07] wizofaus commented on #12069
It's necessary to create the segments (`systemTextLine->segmentAt(0)` will return `nullptr` if you don't call `setLen` first). But other than that, it's pointless.

[2022-06-21 07:04] barnard-optician commented on #11212
I understand. Thanks for considering.

[2022-06-21 07:18] wizofaus commented on #12069
(I'm still concerned about the proposal to put hairpins in a palette called just "dynamics" btw - a hairpin is decidedly not in any functional or interactional way a type of "dynamic", even if they both happen to affect the velocity notes are played at and are often used in tandem @bkunda).

[2022-06-21 07:45] HemantAntony commented on #12069
I actually disagree with you. Dynamics is related to the volume. Similarly Hairpins are for volume too. When a new user would want to add a Hairpin, the first place they are likely to look is Dynamics because it makes sense (with the volume). It would take some time before they find it in Lines. Even if they do it will take a bit of muscle memory to remember this. I remember me looking for hairpin

[2022-06-21 07:46] wizofaus commented on #12069
I don't have any problem with them being in the same "Dynamics and Hairpins" palette. Just please don't actually label them as "dynamics" because they share exactly zero behaviour and underlying functionality with hairpins (well, other than what all elements share)

[2022-06-21 08:22] tzarjakob commented on #11173
No, you can unassign me

[2022-06-21 10:25] njvdberg opened #12114 "[MU4 Issue] Voice-To-Parts not working"
**Describe the bug**
If a staff has two voices, e.g. soprano and alto on a condensed score, in MU it is possible to create separate soprano and alto parts where the soprano part contains the notes of voice 1 of the master score and alto the notes of voice 2 of the master score. However in both parts the voice becomes voice 1. So the alto notes in voice 2 (alto) in the master score becomes notes

*

[2022-06-21 10:44] boryskuzmenko commented on #10327
🟡 **Can't reproduce**
'Fine' is rendered correct after import

[2022-06-21 11:24] njvdberg opened #12116 "[MU4 Issue] Crash when undo create staff and part exists"
**Describe the bug**
If you add a staff to an instrument **and** a part of this instrument exists, `undo` will crash MU4.
Also, the added staff is wrong, it contains rests in both voices 1 and 4 while the staff in the part is empty.

**To Reproduce**
Steps to reproduce the behavior:
1. Create a score with just a piano.
2. Create a news staff, no problem.
3. Undo staff creation.
4. Create a `Part`

[2022-06-21 12:01] DmitryArefiev commented on #10836
Fixed in #12111

[2022-06-21 12:01] #10836 closed

[2022-06-21 12:06] wizofaus commented on #12114
Can you create two parts for the same instrument, but hide voice 1 in one and hide voice 2 in the other?

[2022-06-21 12:54] njvdberg commented on #12114
No, the result is different. See this picture.

![Screenshot_20220621_145132](https://user-images.githubusercontent.com/48352523/174803494-bc1a2c5f-4a80-4ad4-9bfe-58de75a95d68.png)

1) First line shows the two voices in in voice 1 (blue) and voice 2 (red).
2) Second line shows the two parts but with the not wanted voices made invisible. It is clear the blue A4 should have the stem down while all r

[2022-06-21 13:01] oktophonie commented on #11657
So, what I've found is that if I start with a _template_ (I was trying String Quartet) and input the dotted rhythm, I get this:
![image](https://user-images.githubusercontent.com/20604032/174804851-dd5942ee-ab79-4174-ad49-2620eda7c13e.png)
(I input the rhythm as four 8ths, then dotted the first)

However! if I trigger a re-render, it then becomes this, which is what we want:
![image](https://user-

[2022-06-21 13:29] DmitryArefiev commented on #11615
Nope.. still occurs after #10836

[2022-06-21 14:32] HemantAntony opened #12117 "[MU4 Issue] [Assert crash] Crash on exporting to music xml"
**Describe the bug**
Exporting to MusicXML crashes MuseScore

**To Reproduce**
Steps to reproduce the behavior:
1. Create a score with a piano
2. Go to export dialog
3. Switch to MusicXML export
4. Export, MuseScore crashes

**Expected behavior**
MuseScore is not supposed to crash

**Screenshots**
**I will add screenshots after a bit of time**

**Platform information**
 - OS: Windows 11

[2022-06-21 14:47] HemantAntony commented on #12117
You should not be able to reproduce without being in Debug mode. So I don't think this will affect regular users. But still worth testing just in case

[2022-06-21 14:52] #10327 closed

[2022-06-21 14:55] wizofaus commented on #12114
Fair enough.  It definitely sounds like key functionality that got lost along the way...

[2022-06-21 15:16] DmitryArefiev commented on #11193
Fixed in #10836

@llui85 You recheck in next master. It works on my side fine

[2022-06-21 15:24] DmitryArefiev commented on #11859
Fixed in #12111 (should be in the next master)

[2022-06-21 16:29] alexpavlov96 commented on #12076
<img width="295" alt="Screenshot 2022-06-21 at 19 29 16" src="https://user-images.githubusercontent.com/24373905/174850640-8d79e9ec-9b84-4ae6-b513-8e1b6a156b9f.png">
regression: no ties and pitch octave lower

[2022-06-21 16:32] oktophonie commented on #11657
That was removed from all the templates in #11811.

[2022-06-21 17:27] DmitryArefiev commented on #12075
@MarcSabatella  That's good idea about Esc. Thanks!

@Eism FYI

[2022-06-21 20:38] Tantacrul commented on #10114
Since this includes a few string changes, I've moved this to Alpha 2. Let me know if this is a tough change at all. My understanding is that the parameters already exist. This would just hook them up in a more comprehensible way for the user.

[2022-06-21 20:44] cbjeukendrup commented on #10114
I'm planning to work on this. As I discussed with Simon, the implementation of beam snapping needs to be changed a bit: currently, it happens in the layout engine, but we agreed that it should happen in the UI layer and that the snapping options should be app-wide settings, like in MU3.

[2022-06-21 21:11] wizofaus commented on #12074
Strangely now I can't reproduce that latter crash.  But basically the way the code is written, any element that might get deleted during layout could have this problem.  While Barlines are the obvious case, there are certainly other types of elements that do get deleted during layout, I just haven't managed to find a reliable set of steps for reproducing a crash.
I even just managed to trigger it

[2022-06-21 21:54] Tantacrul commented on #11207
Confirmed. Nice example, since this is a free plugin.

[2022-06-21 22:21] wizofaus commented on #12117
Can't reproduce, running MSVC on Win 10 with latest source.

[2022-06-21 22:33] cbjeukendrup commented on #12117
You can only reproduce it if the "All layout" option is checked in the export dialog.

[2022-06-21 22:46] wizofaus commented on #12117
Nope, tried that...

[2022-06-21 23:55] wizofaus commented on #11657
I can't reproduce having a "re-render" trigger a beam split, what exactly did you try? Closing and re-opening does the trick though.

[2022-06-22 00:42] #11412 closed

[2022-06-22 06:00] #12117 closed

[2022-06-22 06:05] #12054 closed

[2022-06-22 06:14] oktophonie commented on #11657
Add a time sig in the second bar, put a system break in the middle of the first system. etc.

[2022-06-22 07:23] wizofaus commented on #11657
Time sig trick works, thanks.  Not having much luck figuring out where the issue, but it seems to be how notes are added to the beam as children, rather anything in the layout() logic.

[2022-06-22 07:38] wizofaus commented on #11657
Narrowed it down to
`TimeSig* ts = stf->timeSig(measure->tick());` returning null when entering into new score from template. Normally it returns the expected time signature.

[2022-06-22 08:34] wizofaus commented on #11657
Changing `measure->deleteLater()` to `measure->clearElements()` in `clearMeasures()` (MasterNotation.cpp) seems to do the trick...not sure really in what cases clearMeasures() is really needed at all, if I have a template with notes etc. in it, maybe I want them there!

[2022-06-22 09:31] rgreen5 opened #12124 "Tablature: note input cursor has spurious line on left edge of blue rectangle"
**Describe the bug**

If you select a tablature measure, say, then go into note input mode, the cursor should appear as a blue rectangle on the active string. But in MS4 there is an additional spurious black line on the left edge of the cursor. See screenshots below.

**To Reproduce**

Steps to reproduce the behavior:
1. Create a new tablature score
2. Click on the first measure and enter note inp

[2022-06-22 09:39] Tantacrul commented on #12114
This was not lost along the way. The ability to add the same instrument to a part multiple times was something we tried to implement but ran into significant issues. This is mainly because we want to optimise the general handling of parts to be quite different to how MS3 does it currently. As it stands, we're kind of in a 'half way' territory, where supporting this particular capability (technical

[2022-06-22 09:43] Tantacrul commented on #12124
Not spurious. By design. Also better

[2022-06-22 09:43] #12124 closed

[2022-06-22 09:50] abariska opened #12125 "[MU4 Issue] [GP] Tempo label is not rendered in MU4 after import"
**To Reproduce**
Steps to reproduce the behavior:
1. Open test GP file in MU4
[test tab for MU4.gp.zip](https://github.com/musescore/MuseScore/files/8956453/test.tab.for.MU4.gp.zip)
2. Pay attention to the measure 5

**Expected behavior**
Tempo label is rendered in MU4 when was saved in GP

**Screenshots**
![Capture 2022-06-22_12-43-18_PM](https://user-images.githubusercontent.com/101250347/174999

[2022-06-22 12:11] DmitryArefiev opened #12127 "[MU4 Issue] Missing icons on Plugins page"
![Capture](https://user-images.githubusercontent.com/90187801/175025914-768d662c-e292-47f6-9273-d9c50b4d321d.PNG)

**Screenshots**
If applicable, add screenshots to help explain your problem.

**Platform information**
**Windows 10**
Can't reproduce on Mac/Lin

[2022-06-22 12:25] jessjwilliamson opened #12128 "[MU4 Issue] Scrolling through long list of plugins causes the context menu to close"
**Describe the bug**
When there are lot of options, attempting to scroll using the context menu causes the context menu to close, so you cannot access many of the plugins.

This is a bug found using Marek's PC.. who has 700+ plugins installed!
For a user that has lots of plugins, being able to navigate and try to scroll down becomes difficult to do as demonstrated here:
This issue is happening not

[2022-06-22 13:16] jessjwilliamson commented on #12127
Yes, thank you Dmitry for reporting, it's the same on my Windows too!

[2022-06-22 13:16] Tantacrul opened #12130 "[MU4 Task] New image for Muse Sounds library + New Copy"
**Task description**
Were now have imagery and text for the second panel in the 'Getting Started' flow. We have assets ready for whoever implements this. @jessjwilliamson will send the visual asset.

String:
Title: **Playback**
Description: **Enjoy realistic playback for free by downloading our new Muse Sounds library**

Screenshot:
<img width="813" alt="image" src="https://user-images.githubuserc

[2022-06-22 13:17] Tantacrul commented on #12130
@HemantAntony - pretty please!

[2022-06-22 13:19] Tantacrul commented on #12130
Assigned to Alpha 2 due to the string changes, since we want to issue string freeze before Beta.

[2022-06-22 13:25] DmitryArefiev opened #12131 "[MU4 Issue] Instruments>Add staff: The position of added staff is not updated properly if that staff is added not to the bottom"
**Describe the bug**
https://github.com/musescore/MuseScore/pull/10526#issuecomment-1161726648

The position of added staff is not updated properly if added to the top/middle staff. It's updated after reopening the score (see video)

https://user-images.githubusercontent.com/90187801/175040104-6fc8127c-e3f0-43f4-b3bb-127b6503d0f5.mp4

**To Reproduce**
1. Create a piano instruments
2. In Instrument

[2022-06-22 14:08] njvdberg commented on #12114
I'm not sure we talk about the same thing but I'm talking about mapping a voice in the main score onto another voice in the part. It sounds different as adding the same instrument to a part multiple times but maybe that's what you mean? (@Tantacrul)

Also if the technical reason can be explained I'm interested, maybe I can contribute to it.

By the way, MU3 scores using this feature can be read wi

[2022-06-22 14:22] DmitryArefiev commented on #12127
Fixed in #12132

[2022-06-22 14:22] #12127 closed

[2022-06-22 14:24] cbjeukendrup commented on #12114
@njvdberg With 'adding the same instrument to a part twice', we mean that in the video, for the S+A part (`Excerpt`), you add the "Women" `Part` twice, once to show only voice 1, and once to show only voice 2. This is one of the missing possibilities in MU4.

For me, mapping voices seems to work correctly, if I use the popup in the Instruments panel. If I only show voice 2 in an `Excerpt`, the not

[2022-06-22 14:27] RobFog commented on #12130
Would it be a good idea to inform the user about the size of the download? It's pretty large, right?

[2022-06-22 14:34] HemantAntony commented on #12130
@Tantacrul I'm working on it :)

[2022-06-22 15:04] trubiso opened #12134 "[MU4 Issue] Changing pickup measure breaks playback"
**Describe the bug**
When you change the pickup measure's length, the playback sticks to both the old length and the new length.

**To Reproduce**
Steps to reproduce the behavior:

1. Make a new MuseScore file
2. Enable a pickup measure of any length
3. Write some music including that pickup measure and the next one
4. Change the length of the pickup measure

After this, the playback of the next m

[2022-06-22 16:09] boryskuzmenko commented on #10316
🟢 **Possibility to add a slide for each note in chord is FIXED** in https://github.com/musescore/MuseScore/pull/12088
Tested on macOS 12, Win 11, Ubuntu 20

[2022-06-22 17:32] #10694 closed

[2022-06-22 17:55] #12130 closed

[2022-06-22 20:28] wizofaus commented on #12116
It's crashing on step 3 for me! Unfortunately my debug info is still screwed...but sort of looks like _part is nullptr in Staff::Show

Access violation

 	MuseScore4.exe!mu::engraving::System::firstVisibleStaffFrom(unsigned __int64)	Unknown
 	MuseScore4.exe!mu::engraving::System::nextVisibleStaff(unsigned __int64)	Unknown
 	MuseScore4.exe!mu::engraving::LayoutLyrics::layoutLyrics(struct mu::engrav

[2022-06-23 05:56] wizofaus commented on #12131
Weird, for me it's always added to the bottom in both the score and the instruments panel, which actually seems OK, there's not that many times you'd want to add a staff between two existing staves, and there's no way I can see you could indicate you wanted it added above the existing staves (e.g. an ossia staff)

[2022-06-23 06:31] mccoydtromb opened #12140 "[MU4 Issue] Tempo marking ignored when they follow a rit, accel or other gradual tempo change"
A tempo marking placed just after a gradual tempo change is ignored in playback, but moving the marking any further allows it to be read.

![image](https://user-images.githubusercontent.com/21022311/189773403-1067481e-9828-4551-9bef-bdc40bdbee1d.png)

Steps to reproduce the behavior:
1. Add a rit, accel, allargando,  or rall (for a whole bar or multiple full bars)
2. Add a tempo marking on the nex

[2022-06-23 07:37] wizofaus commented on #12116
I had to make a code change to get past step 3, but after that, it crashes in a different spot on step 8, as per your original report:

Exception thrown: read access violation.
_First was nullptr.

 	MuseScore4.exe!std::list<mu::engraving::EngravingObject *,std::allocator<mu::engraving::EngravingObject *>>::remove(mu::engraving::EngravingObject * const & _Val) Line 1604	C++
 	MuseScore4.exe!mu::en

[2022-06-23 08:43] Tantacrul commented on #12114
@njvdberg: voice **conversion** then?

- I have something that is Voice 1, I can convert it to be Voice 2/3/4 in a part?

If that's something we want to include, I'd need to give it a little thought from a UX point of view. A part of me thinks it could either be

1. An option in the context menu
2. A separate advanced popup of some kind

I have a sense that our internal developers would prefer to

[2022-06-23 10:54] wizofaus commented on #12116
Ok so I've traced this as far as

 EngravingObject::unlink() deleting _links, but there's another Undo command (LinkUnlink) holding a reference to this.

[2022-06-23 10:57] rgreen5 opened #12143 "Changing staff type can lead to mismatch between number of lines and number of strings"
**Describe the bug**

Not a new issue but affected MS3 as well. I suspect it's not a priority issue for MS4, but I'll report it anyway.

If you change from, say, a standard 6-string guitar tab to a 4-string option, **Advanced style properties** shows the number of lines corectly as 4, but the **String data** dialog still shows six.

**To Reproduce**

1. Create a guitar tablature score.
2. In the I

[2022-06-23 11:00] RomanPudashkin commented on #12116
Looks like this issue duplicates this one
https://github.com/musescore/MuseScore/issues/11975

[2022-06-23 11:05] #11977 closed

[2022-06-23 11:11] wizofaus commented on #12116
Yep, they look the same to me. Are you looking into it? I'll dig a bit more - it's easy to reproduce but not easy to track down the source at all.

[2022-06-23 11:24] boryskuzmenko commented on #12076
🟢 **FIXED** in https://github.com/musescore/MuseScore/pull/12119
Tested on macOS 12, Win 11, Ubuntu 20

[2022-06-23 11:28] #12076 closed

[2022-06-23 12:12] #11919 closed

[2022-06-23 12:17] rgreen5 opened #12144 "[MU4 issue] Stems and beams are placed on the wrong side of the tablature staff"
**Describe the bug**

It appears that stems and beams are being placed on the wrong side of the tablature staff.

**To Reproduce**

1. import the attached MS3 file.
[a_rag.zip](https://github.com/musescore/MuseScore/files/8967021/a_rag.zip)
2. Notice the placement of stems and beams in the tablature and the fact that they do not coincide with the notation in the standard staff.
3. ![ms4_tab](https

[2022-06-23 13:21] MarcSabatella commented on #12114
MU3 did not have a user-specified voice conversion feature - just the automatic one that would map voice 2 to voice 1 when create Flute 1 & Flute 2 parts from a single Flutes staff in the score.  Unless I'm misunderstanding something, this is the functionality that is being discussed.

My impression is the functionality *is* still present but located in a different place.  It is now accessed via t

[2022-06-23 14:12] DmitryArefiev commented on #12131
The current bug is not in master now because #10526 is not merged yet..

[2022-06-23 14:49] DmitryArefiev commented on #10767
@Tantacrul @oktophonie Now the gap between text and line became smaller, is it OK for you?
 (now it looks more regular fro my eyes, but asking just in case)

https://user-images.githubusercontent.com/90187801/175327365-01dd10f9-d118-4103-8735-1fbe2f40b061.mp4

[2022-06-23 15:00] oktophonie commented on #10767
It's much better than before! (it looks just like MU3 now, to me)

[2022-06-23 15:40] #10767 closed

[2022-06-23 15:45] DmitryArefiev commented on #10767
Fixed in #10767

[2022-06-23 19:35] DmitryArefiev opened #12150 "[MU4 Issue] Holding Cmd/Ctr+Q to quit makes multiple copies of "Do you want to save cahnges.."dialog (and leads to crash on Windows)"
**To Reproduce**
1. Open a score
2. Make some changes
3. Press and hold Cmd+Q (Ctr+Q on Win/Lin) - **it makes multiple copies of "Do you want to save changes.."window**

**Mac/Lin**

https://user-images.githubusercontent.com/90187801/175382687-1b685711-90de-42b1-a840-a11567de2800.mov

**Win**

https://user-images.githubusercontent.com/90187801/175382738-fd7d6964-abbf-483d-8212-2352b0e750c8.mp4

**

[2022-06-23 20:11] wizofaus commented on #12116
Confirmed your fix does at least address this issue and the other one you suggested was a duplicate, nice work - I was making painfully slow progress on it!

[2022-06-24 05:30] mattblo commented on #11222
Shouldn't this be assigned to the Alpha2 as it affects the default playback?

[2022-06-24 05:58] wizofaus commented on #12150
Ctrl+Q can cause a crash in quite a lot of cases where secondary top-level windows are being shown actually, trying to work out a good generic way to prevent it.

[2022-06-24 07:53] olivercoad opened #12153 "[MU4 Issue] New score with compound time has incorrect tempo"
**Describe the bug**
Depending on the time signature and tempo mark picked when creating a new score, sometimes it uses the wrong value for the tempo.

**To Reproduce**
Steps to reproduce the behavior:
1. Go to 'Home'
2. Click on 'New Score'
3. Add an instrument and click next
4. Change the time signature to '6 8'
5. Change the tempo to 'dotted crochet = 60'
6. Click 'Done'
7. Observe the tempo on

[2022-06-24 08:03] abariska opened #12154 "[MU4 Issue] Voices don't work correctly after Part opening/creating"
**To Reproduce**
Steps to reproduce the behavior:
1. Create a score with piano staff
2. Open Piano part (via Parts dialog)
3. Unselect 1, 2 and 3 voices
4. Use Undo (voices still unselected
5. Use Undo again (only 3 voice returned back to selected state)
6. Any next Undo's do not return back 1 voice.

Also check this issue for more information about this bug https://github.com/musescore/MuseScore/

[2022-06-24 08:07] boryskuzmenko commented on #12116
**Duplicate** of https://github.com/musescore/MuseScore/issues/12154 and https://github.com/musescore/MuseScore/issues/11975

[2022-06-24 08:07] #12116 closed

[2022-06-24 09:12] bkunda opened #12156 "[MU4 Issue] Tempo change lines not mapping correctly after MusicXML import"
**Describe the bug**
Importing MusicXML files with tempo change lines from Sibelius and Dorico produces incorrect results in MS4.

MusicXML from Sibelius:

- "Accel." and "Rit." lines are rendered in MS4 as `staff text` with no playback properties

https://user-images.githubusercontent.com/86290556/175502721-fd2aeb66-e113-4f90-9f47-dba375329756.mp4

MusicXML from Dorico:

- "Accel." and Rit." line

[2022-06-24 09:13] DmitryArefiev commented on #11313
Other playback cursor issue #11221

[2022-06-24 10:26] wizofaus commented on #12153
For step 5, how are you "changing" the tempo? Can't reproduce by just editing the text anyway...

[2022-06-24 10:49] DmitryArefiev commented on #12150
Fixed in #12152

[2022-06-24 10:49] DmitryArefiev commented on #12150
@wizofaus Thanks for fixing! #12152 seems to be fine

[2022-06-24 10:54] boryskuzmenko commented on #11975
The crash is still reproducible for instruments from template group Solo.
Steps to reproduce are same as in description OR:
1. Create a one-staff score (templates > Solo > Piano or another)
2. Create linked staff
3. Apply Undo
![Capture 2022-06-24_01-43-32_PM](https://user-images.githubusercontent.com/101250347/175520829-c3b3e9d4-f428-49b0-9203-9023f3d4ad0d.png)

[2022-06-24 11:24] wizofaus commented on #12131
So if this bug is only happening for a particular PR build, does it make sense to leave open? What actually is the expected behaviour here?

[2022-06-24 11:29] wizofaus commented on #12114
As far as I can tell you can definitely do what the original reported seemed to think MS4 couldn't support.
There's definitely some weirdness with the Parts dialog (reported elsewhere), but the functionality to hide all but one voice and have that show with normal stem direction etc. seems to work fine.

[2022-06-24 11:30] DmitryArefiev commented on #10742
Fixed in #12157

[2022-06-24 11:50] #10742 closed

[2022-06-24 12:31] DmitryArefiev commented on #9618
Fixed in #12109

@bkunda You can check briefly on your side (if I missed something)

[2022-06-24 13:05] #9618 closed

[2022-06-24 13:08] Tantacrul commented on #12114
I'm going to bump to 4.x for the time being. We have a lot of work to do on Parts and I **think** we should tackle some of the issues mentioned here at that time.

(Excepting the crash @wizofaus, which should be logged separately)

[2022-06-24 13:08] #12114 closed

[2022-06-24 13:28] boryskuzmenko commented on #12153
🟢 **FIXED** in https://github.com/musescore/MuseScore/pull/12158
Tested on macOS 12, Win 11, Ubuntu 20

[2022-06-24 13:29] #12153 closed

[2022-06-24 13:39] bkunda commented on #9618
Tested briefly. Most things have been addressed, except for point 5 in the above issue description.

This was somewhat important for showing what the actual time signature was when changing its "appearance". There is also some other resultant jankiness, which is that if the user changes the "appearance" using one of the other radio-button options (e.g. common time "C"), the preview in "beam groups

[2022-06-24 14:06] Tantacrul commented on #9618
@bkunda - I'd suggest making that a separate issue and we can bump to Beta 2. We know this dialog isn't long for this world anyway!

[2022-06-24 14:11] DmitryArefiev commented on #12131
#10526 should be in master soon (after code review) so I propose to leave the bug in Open state

[2022-06-24 14:15] RomanPudashkin commented on #9618
There is no need for a new issue since we already have this task in 4.x
https://github.com/musescore/MuseScore/issues/9620

[2022-06-24 14:45] DmitryArefiev opened #12160 "[MU4 Task] Temporary solution for fixing cut off issue when resizing Home side bar"
**Task description**
When moving Home side bar separator and then resizing MU window, it makes Home side bar cut off like this:

<img width="699" alt="Capture" src="https://user-images.githubusercontent.com/90187801/175559673-8afbe654-7df1-4d51-a852-46095d6bc28f.PNG">

https://user-images.githubusercontent.com/90187801/175559714-51ba568b-4850-4904-964b-17a5615d4fab.mp4

The temporary solution (jus

[2022-06-24 14:50] DmitryArefiev commented on #12160
This a kindly request from @RomanPudashkin and just for Alpha2

@Tantacrul @jessjwilliamson @bkunda Please approve if agree :)

[2022-06-24 15:01] #12107 closed

[2022-06-24 16:03] Tantacrul commented on #12160
You mean: make it one size / not editable? That would be ideal. We don't want people to be able to resize it.

[2022-06-24 16:28] Tantacrul commented on #12160
I don't understand. What it is normally?

[2022-06-24 16:39] DmitryArefiev commented on #12160
Normally it's just maximum available for that separator. But for my eyes we can decrease it a little bit as a compromise between minimum (only icons) width and maximum width. Maybe like this:

https://user-images.githubusercontent.com/90187801/175596533-9703a280-8289-4c37-86f3-2a226e32999d.mp4

[2022-06-24 17:23] Tantacrul commented on #12160
Yeah, I think that amount should be safe for translations.

[2022-06-24 17:29] DmitryArefiev commented on #12160
Cool! Thanks!

[2022-06-24 18:04] DmitryArefiev commented on #11343
Fixed in #11955

[2022-06-24 19:42] #11343 closed

[2022-06-25 12:18] eg0n1984 opened #12166 "Tab or Ctrl+Tab not allowing access to all options [MU4 Issue]"
The Tab or Ctrl+Tab option is not allowing access to some option on the New Score menu

Steps to reproduce the behavior:
1. Go to 'Additional Score Information'
2. Click on 'Key Signature'
3. Pres Tab or Ctrl+Tab, multiple times
4. It will be possible step between 3 fields but not accessible the others
5. See error

**Expected behavior**
Access to all fiels on the menu with Tab or Ctrl+Tab

Video

[2022-06-25 12:41] litong01 opened #12167 "[MU4 Task]player mode"
**Task description**
Can musescore support a player mode so that during the playback, only selected instrument stuff will be displayed? For example, for the `carol of the bells` trumpt and Alto Sax duet, if I am a saxophone player, while I am playing Saxophone, I may not want to see the stuff for the trumpet, can one simply select just the A. Saxophone, so that Musescore only display Saxophone stu

[2022-06-25 12:46] boryskuzmenko opened #12168 "[MU4 Issue] [GP] Short staff names are not rendered for imported GP score"
**Describe the bug**
No short names on the score starting from 2nd page (on the 1st page names are present)

**To Reproduce**
Steps to reproduce the behavior:
1. Open test GP file in MU4
2. Pay attention to the 2nd score

**Screenshots**
![Capture 2022-06-25_03-33-00_PM](https://user-images.githubusercontent.com/101250347/175774062-2def3d24-d827-4460-9c22-154f0e909edb.png)

**Expected behavior**
S

[2022-06-25 13:11] cbjeukendrup commented on #12167
You can already create parts showing only one instrument. For the instructions for MuseScore 3, see https://musescore.org/en/handbook/3/parts. In MuseScore 4 it will be so straight-forward that you probably won't even need instructions.

[2022-06-25 13:11] #12167 closed

[2022-06-25 19:12] boryskuzmenko commented on #11842
🟢 **Regression FIXED** in https://github.com/musescore/MuseScore/pull/12164
Tested on macOS 12, Win 11, Ubuntu 20

[2022-06-25 19:12] boryskuzmenko commented on #11975
🟢 **Regression FIXED** in https://github.com/musescore/MuseScore/pull/12164
Tested on macOS 12, Win 11, Ubuntu 20

[2022-06-26 10:02] mxmou commented on #12166
This appears to be intended: https://github.com/musescore/MuseScore/issues/10919#issuecomment-1102809644
Up/down arrow keys work as expected.

[2022-06-26 12:24] litong01 commented on #12167
@cbjeukendrup Thanks for following up on this.

[2022-06-26 12:47] rgreen5 opened #12170 "Period tablature: "cue marks" for bass courses are not being shown in note-input mode"
**Describe the bug**

In period tablature (Baroque lute, Theorbo etc.), the space below the 6th line is used to show notes on bass courses. Although fretmarks can still be entered in MS4 as before, the "cue marks" are not being displayed, so the user does not know which course they are entering the note onto.

MS3: showing "cue mark" (in note input mode) indicating the currently active bass course

[2022-06-26 12:57] rgreen5 opened #12171 "Cursor looks wrong in some types of tablature, e.g. lute tablature"
**Describe the bug**

Normally the cursor in note input mode in tablature is a coloured rectangle (with a line in front). However, for some reason, in some tablatures, e.g. lute, the note input cursor is showing only as a line.
![incorrect_cursor](https://user-images.githubusercontent.com/87246583/175815471-f68b5168-e3db-474f-a281-42e43ed9753d.png)

**Expected behaviour**

In tablature, in note in

[2022-06-26 15:40] shoogle commented on #11145
On macOS Shift+F9 works to close the Master Palette regardless of focus. On Linux it only works if MuseScore's main window has focus (i.e. it doesn't work if the Master Palette has focus). I've not tested on Windows yet.

[2022-06-26 21:26] #12166 closed

[2022-06-27 02:14] JC-ProgJava opened #12172 "[MU4 Issue] Preferences > Program Start Naming Inconsistency"
**Describe the bug**
There are naming inconsistencies in the "Program start" tab under "General" in Preferences.

**To Reproduce**
Steps to reproduce the behavior:
1. Open Preferences > General > Program start
2. See error

**Expected behavior**
1. Both mentions of 'program' should be spelled in the same way.

**Screenshots**
<img width="441" alt="Issue" src="https://user-images.githubusercontent.

[2022-06-27 02:17] JC-ProgJava commented on #12172
Mention of "Programme start":
https://github.com/musescore/MuseScore/blob/3eb416085aa03e21523a0895c80357d15aa06b75/src/appshell/qml/Preferences/internal/ProgrammeStartSection.qml#L30

[2022-06-27 05:30] Eism commented on #12172
Here's what it looks like in [Figma](https://www.figma.com/file/l0TQUrNFZmEfrZnfHhFDfb/Musescore-Notation-App-MASTER?node-id=3106%3A28112). So, need to rename to 'Programme start'
![image](https://user-images.githubusercontent.com/10116828/175865824-8eac3396-65b8-4bb0-9c45-808a12c5ccff.png)

@jessjwilliamson FYI

[2022-06-27 05:49] Jojo-Schmitz commented on #12172
No, "Programme start" is British English, "Program start" American English, so it should be the latter. The rest is work for the translators

[2022-06-27 07:26] HemantAntony commented on #11987
@Tantacrul I updated the issue, can you try to reproduce now with the updated steps?

[2022-06-27 07:45] #11842 closed

[2022-06-27 07:45] #11975 closed

[2022-06-27 08:16] Tantacrul commented on #11987
Thanks @HemantAntony! So, on the latest nightly (MacOS), I cannot reproduce this. I'll check on Windows later, although it would be great if someone else could also test to see if we can identify the cause.

[2022-06-27 08:25] #9037 closed

[2022-06-27 08:25] Eism commented on #11987
Can't reproduce on Windows on the latest nightly and on local build
@HemantAntony Are there any errors in the log?

[2022-06-27 08:40] boryskuzmenko commented on #12144
It's definitely a bug which relates only Common tab staff type. It could be a part of [this regression](https://github.com/musescore/MuseScore/pull/11857), but could be not.
Also, there's another bug with 2 voices on the same note. Will report it separately.

[2022-06-27 08:58] HemantAntony commented on #11987
@Eism These are the error in the log:
![image](https://user-images.githubusercontent.com/88136054/175901031-e8c67738-497e-4d76-bba5-75e5734f1175.png)

This happens as soon as I click the 'Select'

[2022-06-27 08:59] HemantAntony commented on #11987
Also after you close and then open MuseScore after this, you will be able to select Workspaces

[2022-06-27 09:23] Eism commented on #11987
I think you need to debug and understand at what step the workspace is not created and why.
Because no one can reproduce(and the developers too)

[2022-06-27 09:51] boryskuzmenko opened #12176 "[MU4 Issue] Invalid note is rendered on the TAB staff when the same note is added to 2+ voices"
**Describe the bug**
TBC

**To Reproduce**
Steps to reproduce the behavior:
1.
[Voices on tab test.mscz.zip](https://github.com/musescore/MuseScore/files/8990787/Voices.on.tab.test.mscz.zip)

**Expected behavior**
A clear and concise description of what you expected to happen.

**Screenshots**
![Capture 2022-06-27_12-32-59_PM](https://user-images.githubusercontent.com/101250347/175914128-fc7f3ece-

[2022-06-27 09:53] rgreen5 opened #12177 "[MU4 Issue] Beams broken in imported MS3 tablature"
**Describe the bug**
Beams are broken in this imported MS3 lute tablature.
MS3:
![ms3_tab](https://user-images.githubusercontent.com/87246583/175914074-82db53d0-7d07-40e2-b918-bad82b7fd02b.png)
MS4:
![ms4_tab](https://user-images.githubusercontent.com/87246583/175914103-97c0ad61-4be8-4558-a9b8-9255634d6b3f.png)

**To Reproduce**

1. Unzip attached file and open in MS4 and MS3.
[dowland_lute_tab.zi

[2022-06-27 10:00] cbjeukendrup commented on #12177
This _might_ be partly improved by a commit in my Feathered beams PR: https://github.com/musescore/MuseScore/pull/12082/commits/c1facd4fd00cfedbacee9f04af6437b74f8758e1.

[2022-06-27 10:19] HemantAntony commented on #11987
@Eism I have found out why it isn't working for me. When you open MuseScore, the following folders are there in `C:\Users\heman\AppData\Local\MuseScore\MuseScore4Development`:
![image](https://user-images.githubusercontent.com/88136054/175918882-f45fbd56-28d3-4c23-a1d0-f2630d9a417b.png)

However, when you reset to factory defaults, you delete four of them:
![image](https://user-images.githubuserco

[2022-06-27 10:58] Eism commented on #11353
Okay, there are several reasons(see #11987 and the bugs I found while fixing this issue in #11390 and the reason why I haven't merged the PR yet) why we currently cannot continue without a restart.
So, let's restart the app.

Martin, what message should we show the user?

[2022-06-27 11:01] Eism commented on #11987
Thanks! I can reproduce this bug
Should be fixed in #11353

[2022-06-27 11:02] HemantAntony commented on #11949
@wizofaus @Tantacrul Its your lucky day. I can reproduce this. I never use the Piano much and never paid attention till today

[2022-06-27 11:08] HemantAntony commented on #11949
I'm guessing the reason this occurs is because the mixer hasn't loaded yet. Its slow for some people. I'm guess @Tantacrul 's laptop is a really good one which may be why you can't reproduce it. The following video proves my theory:

https://user-images.githubusercontent.com/88136054/175927844-7c5da629-8cf3-443a-89f0-a541f41374cc.mp4

[2022-06-27 11:25] wizofaus commented on #11949
Yes, it was always related to something taking a while to load - I assume the VSTs? But why does it do it every time you open a score, and why does it take so much longer for Piano vs other instruments?

[2022-06-27 15:19] DmitryArefiev commented on #12108
UPDATE: It worked in the old builds so moving to Beta1

[2022-06-27 15:59] DmitryArefiev opened #12178 "[MU4 Issue] Staccato doesn't play properly in fast tempo (or with small duration notes)"
https://user-images.githubusercontent.com/90187801/175983554-f6c5499c-0cff-469d-94cb-734125be097c.mp4

**Platform information**
macOS, Windows, Linux

**Additional context**
Doesn't occur in **MU3**

[2022-06-27 16:23] SoAsEr commented on #10096
What's the intended visual behavior? Do we want to keep the live preview? What is the advantage of the live preview if it doesn't adjust the scroll?

[2022-06-27 16:36] DmitryArefiev opened #12179 "[MU4 Issue] Crash after press Space two times when entering lyrics"
**To Reproduce**
1. Enter lyrics mode (Ctr/Cmd+L)
2. Hit Space two times

https://user-images.githubusercontent.com/90187801/175990975-2788de70-a483-446f-9a6e-7042b58eb255.mp4

**Platform information**
macOS, Windows, Linux

[2022-06-27 16:46] HemantAntony opened #12180 "[MU4 Issue] Instruments missing key in their names"
**Describe the bug**
Instead of displaying instruments like 'Clarinet in B♭', their names are being displayed as 'Clarinet in '

**To Reproduce**
Steps to reproduce the behavior:
1. Click New score
2. Double click on Bass Clarinet
3. Instead of 'Clarinet in B♭', 'Clarinet in ' is displayed

**Expected behavior**
'Clarinet in B♭' should be displayed instead of 'Clarinet in '

**Screenshots**

https

[2022-06-27 18:10] DmitryArefiev opened #12182 "[MU4 Issue] Export format dropdown is blocked if any other dropdown (Mixers sound ot 3 dot dropdown) is open in Mixer (Mac only)"
https://user-images.githubusercontent.com/90187801/176007731-af3c44cb-4f11-4902-9b2f-3f82ca011150.mp4

**Platform information**
 macOS only

[2022-06-28 00:16] shoogle opened #12186 "[MU4 Issue] MusicXML Import: Hide staff button switched for multi-staff instruments"
**Describe the bug**
After importing a MusicXML file with two multi-staff instruments (e.g. two pianos), one of the **hide staff** buttons in the Instruments panel no longer works as expected. To be specific, attempting to hide instrument 2, staff 2 actually hides instrument 1, staff 2.

![image](https://user-images.githubusercontent.com/11011881/176060261-5c977056-4377-4870-aad5-5f3db84b992b.png)

[2022-06-28 05:26] Eism commented on #11353
Implemented application restart. You can see how it works in https://github.com/musescore/MuseScore/pull/11390.

[2022-06-28 05:36] #11253 closed

[2022-06-28 08:01] boryskuzmenko commented on #12168
🟢 **FIXED** in https://github.com/musescore/MuseScore/pull/12169
Tested on macOS 12, Win 11, Ubuntu 20

[2022-06-28 08:58] DmitryArefiev opened #12188 "[MU4 Task] Publish to MuseScore.com should be hidden until it's properly implemented on musescore.com"
**Task description**
Just hide **Publish to MuseScore.com** button grey out on Publish tab (and in File menu)

![Capture](https://user-images.githubusercontent.com/90187801/176138384-5af05e2e-31cd-45fd-9920-874a9688a581.PNG)

[2022-06-28 09:52] boryskuzmenko opened #12189 "[MU4 Improvement] Glissando's which assigned to all chord notes automatically linked to the top note of the next chord"
**To Reproduce**
Steps to reproduce the behavior:
1. Create a simple score
2. Add two chords
3. Assign glissando to all notes of the first chord

**Expected behavior**
Glissando's which assigned to all chord notes automatically linked to the next chord notes accordingly

**Screenshots**
![Capture 2022-06-28_12-48-17_PM](https://user-images.githubusercontent.com/101250347/176149609-d741642e-2604-44

[2022-06-28 09:53] #12168 closed

[2022-06-28 10:03] boryskuzmenko opened #12190 "[MU4 Improvement] Ability to add glissando to all chord notes when whole chord is selected"
**Describe the bug**
Ability to add glissando to all chord notes when whole chord is selected

**Screenshots**

https://user-images.githubusercontent.com/101250347/176152297-3a28bc51-6f06-45e9-ae3a-78f6593b727b.mov

[2022-06-28 10:08] DmitryArefiev commented on #9929
Fixed in #10285

But also a bug with score blurring appears now (I will log it separately)

[2022-06-28 10:09] #9929 closed

[2022-06-28 10:16] boryskuzmenko opened #12191 "[MU4 Issue] Glissando and slide position is wrong for chords which contain 'second' interval"
**Expected behavior**
Glissando and slide position rules for chords which contain 'second' interval are the same as for simple chord

**Screenshots**
![Capture 2022-06-28_01-10-18_PM](https://user-images.githubusercontent.com/101250347/176154595-f81522a5-5270-44d1-88ca-119df4a0f57d.png)

**Additional context**
Bug related to the magneting all first chord notes to the top one of the second chord is

[2022-06-28 10:19] boryskuzmenko commented on #12191
@oktophonie would be great to have an input from your side. please, take a look

[2022-06-28 10:21] Tantacrul commented on #12190
👍

[2022-06-28 10:31] Tantacrul commented on #12180
Confirmed on MacOS

[2022-06-28 10:32] Tantacrul commented on #12180
@oktophonie / @shoogle - any ideas how or when this happened and what could resolve it?

[2022-06-28 10:46] boryskuzmenko opened #12192 "[MU4 Issue] [GP] Glissando is not rendered when doesn't have second (responding) note"
**To Reproduce**
Steps to reproduce the behavior:
1. Open test GP file in MU4
[test tab for MU4.gp.zip](https://github.com/musescore/MuseScore/files/9000260/test.tab.for.MU4.gp.zip)

**Expected behavior**
Everything which saved on score in GP is rendered in MU4 score

**Screenshots**
![Capture 2022-06-28_01-41-14_PM](https://user-images.githubusercontent.com/101250347/176160634-29fae7dd-ad3f-4099-

[2022-06-28 10:48] boryskuzmenko commented on #10316
🟢 **FIXED** in https://github.com/musescore/MuseScore/pull/12139
Tested on macOS 12, Win 11, Ubuntu 20

[2022-06-28 10:57] #10942 closed

[2022-06-28 10:57] #10977 closed

[2022-06-28 10:57] #11797 closed

[2022-06-28 11:39] asattely commented on #10205
This is fixed, but there's no PR yet because I'd like https://github.com/musescore/MuseScore/pull/11788 to be merged first, since it contains a lot of changes to beam calculation.

[2022-06-28 12:03] Tantacrul commented on #10942
The issue of large gaps between un-slurred notes seems to have been fixed. There are other refinements needed for when slurs **are** added but this particular issue is fixed. (Tested MacOS)

[2022-06-28 12:09] Tantacrul commented on #11797
Tremolo appears to be working correctly and no longer extend too long.

As always, there are other kinds of issues that can be found by combining between-note tremolo with other things but those should be raised separately. The original issue posted here has been fixed.

Tested on MacOS

[2022-06-28 12:13] Tantacrul commented on #11012
I've tested this file (as well as many others, where more staccato issues were found). This PR seems to have fixed this specific issue as well as a few others.

There are still more issues to find but this one is fixed. Great work man @vpereverzev!

Tested on MacOS

[2022-06-28 12:17] jessjwilliamson commented on #10942
I just re-produced the exact same as video above I made in March. Unless there was intention for a more realistic/better playback, I'm still hearing gaps. Definitely less obnoxious but if I have a score using legato whole notes for orchestral strings, these gaps in this context doesn't glide well. - I have a 4 string piece with BBC orchestra and these gaps also appear. Unless I have to have slurs

[2022-06-28 12:28] Tantacrul commented on #10942
Can we see this video?

[2022-06-28 12:34] Tantacrul commented on #10942
It's interesting, I can only hear a minuscule difference between MS3 and MS4 now for the solo violin. Nothing like the playback in your original issue Jess. So if we can hear what your score sounds like now, that'd be very interesting. Cheers!

[2022-06-28 13:33] Tantacrul commented on #10114
I'm going to bump this to 4.x

I think we need to focus on issues, and I don't think I can justify a day or two being spent on this issue.

[2022-06-28 13:43] DmitryArefiev opened #12193 "[MU4 Issue] Score looks blurry on 125%, 150% DPI scaling and FullHD displays (Windows)"
**Describe the bug**
This occurs after #10285 implementation and just requires additional work to fix the blurry issue in score

**To Reproduce**
1. Go to Settings>Scale and Layout and set **100%**
2. Open score in MU
3. Go to Settings>Scale and Layout and set **150%**
4. Notice the score elements (text especially) became not so sharp as the were on **100**

https://user-images.githubusercontent.c

[2022-06-28 13:54] Tantacrul commented on #11221
@HemantAntony - I've just seriously simplified this task. I don't suppose you'd possibly be willing to take it on? Assuming it is basically a single value change!

[2022-06-28 14:28] cbjeukendrup commented on #12047
@igorkorsukov Do you agree with my previous comment? If so, we can close this.

[2022-06-28 15:41] DmitryArefiev opened #12195 "[MU4 Issue] First letter is not displayed in chords (Mac only)"
https://user-images.githubusercontent.com/90187801/176221873-1d8659bf-c2ca-433e-82e9-b20a648470b8.mov

**Platform information**
 macOS only

**Additional context**
Recent builds

[2022-06-28 16:57] njvdberg commented on #12114
Excuses, the feature **is** there indeed but slightly hidden for me (@MarcSabatella, thanks for the link to the manual).
So this issue is solved.

[2022-06-28 17:20] njvdberg commented on #12116
@boryskuzmenko I'm not sure this is a duplicate of #12154 because that issue is about linked staves **within** an instrument while this issue is about staves linked between master score and parts. Also, PR #11973 doesn't solve this issue (check last master build).
Can you please reopen this issue?

[2022-06-28 17:59] Tantacrul commented on #12114
(phew!)

[2022-06-28 18:10] MarcSabatella commented on #12114
I'll file a separate issue on the issue where it only works for notes you add after creating parts.  Hopefully it turns out to be something simple.

[2022-06-28 19:08] #12195 closed

[2022-06-28 19:10] mccoydtromb commented on #10915
I may be preaching to the choir here, but as far as I understand, VSTs use a variety of messages for information regarding dynamics, and sometimes a combination.
For instance, Spitfire's standard practice uses velocity for short samples (such as staccato brass), but Modulation (CC1) to change between levels of dynamic recordings and Expression (CC11) to adjust the volume of the samples.

MuseScore

[2022-06-28 21:01] wizofaus commented on #10096
What do you mean by live preview?  I described the expected behaviour pretty clearly.
It's still behaving the same way - esp. problematic with enter very unexpectedly adding a line break.
I guess I can have a look at this but the way Qt handles keyboard events is painful...

[2022-06-28 21:05] #12047 closed

[2022-06-28 23:20] wizofaus commented on #12116
Yes, they're slightly different but they were being caused by the same underlying problem (they were crashing in exactly the same place with the same stack trace).   The crash is definitely fixed as far as I can tell (running under debugger with latest code).

[2022-06-28 23:22] wizofaus commented on #12116
Maybe I spoke too soon, not crashing, but does seem to have frozen...can't determine why though

[2022-06-29 01:51] wizofaus opened #12205 "[MU4 Issue] Crash closing score with linked parts and slurs (Windows/Linux)"
**Describe the bug**
You can crash MuseScore quite easily by creating linked parts and slurs then closing without saving

**To Reproduce**
Steps to reproduce the behavior:
1. Create a score
2. Ensure at least one part is "created" (opened) for it
3. In the opened part, add a note and a slur
4. Close main score without saving
5. MuseScore crashes

https://user-images.githubusercontent.com/90187801/

[2022-06-29 07:28] boryskuzmenko commented on #12116
@wizofaus I can't reproduce a freeze there. Could you please provide video of you reproducing it?

[2022-06-29 07:34] wizofaus commented on #12116
I've reported it separately here https://github.com/musescore/MuseScore/issues/12205

[2022-06-29 07:49] DmitryArefiev commented on #12195
Tested in latest **master build** on Win10, **Mac12**, LinuxMint 20.2 - **FIXED**

[2022-06-29 08:04] boryskuzmenko commented on #12205
Can't reproduce it on macOS.
@DmitryArefiev could you try to reproduce on WIN and Linux, please?

[2022-06-29 08:07] #12001 closed

[2022-06-29 08:29] DmitryArefiev commented on #12188
Hi @cbjeukendrup , let's just **hide the button** (from Publish tab and File menu). I'll rewrite the summary.
Thanks!

[2022-06-29 08:54] wizofaus commented on #12205
To be fair there were some cases it didn't happen, try with different creation options (various templates etc.). And may be less likely with a release build, where freeing memory doesn't necessarily invalidate the data there.

[2022-06-29 10:09] #12074 closed

[2022-06-29 10:09] #12179 closed, assigned to Eism

[2022-06-29 10:45] Eism opened #12208 "[MU4 Issue] [TECH_DEBTS] Using shared ptr in Accessibility"
Some AccessibilityController class methods return and get raw pointers of items. It is not safe. It is required to replace them with shared pointers.

[2022-06-29 11:46] DmitryArefiev commented on #12180
Looks good in #12207

[2022-06-29 11:51] #12180 closed

[2022-06-29 12:29] eg0n1984 commented on #7826
If this is close to Alpha2, shouldn't be closed on Preferences?

[2022-06-29 12:45] eg0n1984 commented on #11343
This should be reviewed, the #11343 is already deployed.
@boryskuzmenko can you confirm in a recent build? Thanks

[2022-06-29 12:59] cbjeukendrup commented on #11343
@eg0n1984 What do you mean? As far as I know, this fix has been merged and approved/confirmed. Are you experiencing problems?

[2022-06-29 13:06] HemantAntony commented on #11221
@Tantacrul this is the PR: #12209

[2022-06-29 13:20] eg0n1984 commented on #11343
Sorry I posted on wrong issue. I will delete my comments

[2022-06-29 13:47] MarcSabatella opened #12210 "[MU4 Issue] Notes played staccato under slur"
**Describe the bug**
In a piano score, all notes after the first under a slur are played staccato

**To Reproduce**

1. Enter four quarter notes into the top staff of any measure of a piano score
2. Add a slur
3. Press play

The first note is played legato, the others staccato.

**Expected behavior**
All notes should be legato, with at most a slight shortening of the last note of the slur.

**Scre

[2022-06-29 17:39] DmitryArefiev opened #12215 "[MU4 Issue] Brackets are not accessible via navigation"
**Describe the bug**
Using keyboard navigation (Tab, arrows, Alt+arrows) you can select brackets

https://user-images.githubusercontent.com/90187801/176500905-39ac0022-5e64-4f1f-a931-b9e40d459f2c.mp4

**Platform information**
macOS, Windows, Linux

**Additional context**
**Doesn't work** in **MU3** as well

[2022-06-29 18:30] KaiVinter opened #12216 "[MU4 Issue] Flags colide with noteheads"
**Describe the bug**

Flags colide with noteheads and I doubt it's something desired

**To Reproduce**

Steps to reproduce the behavior:
1. Create a score
2. Input a note with a flag
3. Select flag or notehead
4. See error

**Expected behavior**

Flags shouldn't colide (? Probably? Or at least not that much in some cases)

**Screenshots**

![Screen Shot 2022-06-29 at 11 18 07 AM](https://user-imag

[2022-06-29 18:53] KaiVinter commented on #12216
Oh, I see. I agree the overlap right now is too much. So far MS4 has become a ton better than last time I tried a Nightly, though.
One more thing. Flags appear to behave like rectangle images instead of vectors, and I was filling an Issue about that as well. Should I submit that as well? Or that's how it's supposed to behave?

[2022-06-29 19:06] MarcSabatella commented on #11341
See also https://github.com/musescore/MuseScore/issues/10225.  Regardless of which element is drawn on top, there is meant to be a way to select what's underneath - it's just currently broken.

[2022-06-29 19:23] SoAsEr commented on #10096
What I did was eliminate the as you type it highlights the correct measure and instead only made it highlight and jump (the jump did not happen previously) when the user pressed enter/return.  Is that desired or should the editor never jump? Or should it jump at every key press?

[2022-06-29 20:07] wizofaus commented on #10096
Personally I wouldn't have an issue with that, but not my call... @Tantacrul @bkunda ?
Would it be particularly hard to leave in the instant-jump-on-keypress?  I can see it being inefficient for super large scores where you want to type, e.g. "296" which causes it to jump to measure 2, then 29, then 296...

[2022-06-29 20:13] SoAsEr commented on #10096
I'm 80% sure I can add the instant jump on keypress back, and then have enter give control back to the score? My other question is that right now I have the page jump highlighting the first measure of that page (or the first system if there is no measure). I don't know what's preferred. I can add the same functionality with rehearsal marks, but haven't done so.

[2022-06-29 20:16] Tantacrul commented on #10096
This is one of those things where I'd need to experiment with it to really feel sure about how it should work. I don't disagree with the general line of thought. I'd suggest a draft PR so we can all have a play.

[2022-06-29 20:31] SoAsEr commented on #10096
Okay I'll update the pull request to:
a) make the rehearsal marks select the correct measure
b) escape from note entry when pressing enter

The big question is whether or not the sort of live preview/jumping around is a good idea: I can see benefits as you know where you're going to jump before you're done, but before you press enter it will look selected but not usefully be selected as the score

[2022-06-29 20:40] wizofaus commented on #10096
It's still useful as a visual indication. That's how v3 works anyway. The only reason I wouldn't want it is if it takes considerable time to jump to/re-render a certain point in the score.

[2022-06-29 21:17] wizofaus opened #12217 "[MU4 Issue] Clicking on bottom-right triangle in "note entry" toolbar button doesn't work as expected"
**Describe the bug**
In v3 there's a "v" button next to the note entry toolbar button for which a single click will bring up the expected context menu.
v4 has a little black triangle in the corner that I assume is for the same purpose but doesn't appear to work - a single click on it just turns on/off note entry mode.

**To Reproduce**
Steps to reproduce the behavior:
1. Create/open any score
2. C

[2022-06-29 22:30] cbjeukendrup opened #12218 "[MU4 Issue] Format > Style and other commands not working when in edit mode"
**Describe the bug**
If an element is selected in "edit mode", Format > Style and other commands are either disabled or enabled but not working.

**To reproduce**
1. Open score
2. Select an element and enter "edit mode" (note that for some markings like crescendos, this happens immediately when you select them)
3. Try to use Format > Style

Nothing happens; in the console, a message like `no one c

[2022-06-29 23:02] SoAsEr commented on #10096
PR updated with those changes

[2022-06-29 23:32] wizofaus commented on #12218
Can't reproduce on Windows, hard to see what might trigger that?

[2022-06-29 23:32] SoAsEr opened #12219 "std::list abuse"
std::list is almost always the wrong container to use unless insertion is needed. In a lot of places around the code, a std::list is created, pushed back to, and then iterated over. These should all probably be changed to vectors. Even when push front is used, a std::deque is still much better than a list. This is especially bad when it's lists of small objects (e.g. pointers), as we're tripling t

[2022-06-29 23:36] wizofaus commented on #12215
Do you mean **can't**? If so, this is true in v3 too.  If you do mean **can**, then I can't reproduce, but it sounds like it would be a good thing?

[2022-06-29 23:38] wizofaus commented on #12205
Just confirmed it's still occurring with latest master source, but it didn't happen using just the Treble clef template, only the Grand Staff template.  Have had it happen creating without template too.

[2022-06-29 23:40] wizofaus commented on #12178
BTW your video demonstrates the issue with the first note being louder than others, which I'd noted before...

[2022-06-30 00:19] cbjeukendrup commented on #12218
It apparently only happens when the selected element is in "edit mode". With hairpins and text lines, those are in edit mode automatically if you select them, so therefore I though it happens always when selecting an element.

[2022-06-30 00:24] wizofaus commented on #12218
In that case it's as per v3, except that in v3 lines aren't in edit mode "by default", even though selecting edit mode appears to do nothing (other than disable various toolbar/menu commands).
This was definitely due to the way I implemented it and I'm aware it's not ideal but the whole UX around edit mode is problematic.

[2022-06-30 00:38] asattely commented on #11606
@boryskuzmenko Could you include the score file you are using? I'm having difficulty reproducing this one with the https://github.com/musescore/MuseScore/pull/11857 branch. It may be something in the score itself that could be making the layout system go crazy.

[2022-06-30 00:49] wizofaus commented on #9807
Still no movement on breaking this up at all?

[2022-06-30 00:57] SoAsEr commented on #12219
I have also discovered containers that inherit from standard containers. This is even worse practice

[2022-06-30 01:13] KaiVinter opened #12221 "[MU4 Issue] Scrollbar colides with dropdown list in the New Score Wizard > Time Signature"
**Describe the bug**

There's a scrollbar that appears over a dropdown list.
Also, is the scrollbar needed? Will there be more options there?
Scrolling with the mouse doesn't seem to work either way, only dragging the scrollbar.

**To Reproduce**

Steps to reproduce the behavior:
1. Open the New Score Wizard to create a new score
2. Add an instrument and click "Next"
3. Click "Time Signature"
4. M

[2022-06-30 02:59] shoogle commented on #11060
I don't understand why ShortcutContext is saved in Shortcuts.xml. I also don't think it is fully separate to UI Context.

I understand that there are two different requirements here:

1. The **Playback action** can be triggered on the NotationView at any time when a score is loaded.
2. The **Spacebar** is available for use as a **shortcut key** whenever it is not needed for text editing.

But thes

[2022-06-30 04:31] wizofaus commented on #11060
I always liked the way it was done in MFC, where the framework automatically asked the most focused window (or associated controller or viewmodel) first whether it could handle an action, then if that failed, would go to the parent, etc. etc.
Shortcut->Action mapping is context independent, and if it really was the case that, e.g. Ctrl+Alt+A should map to ActionX in one context and ActionY in a di

[2022-06-30 04:42] wizofaus opened #12222 "[MU4 Issue] Insert measures dialog doesn't support Enter, buttons in wrong order for Windows"
**Describe the bug**
Insert measures dialog has "cancel" and "ok" buttons in the wrong order, requires pressing ESC twice to cancel, and enter doesn't work to activate "OK".

**To Reproduce**
Steps to reproduce the behavior:
1. Create/open any score
2. Use context menu on any measure and choose "insert measures"
3. Observe order of buttons - OK is on the right.
4. Press ESC. Nothing happens.
5. Pr

[2022-06-30 04:48] wizofaus commented on #10096
Seems you missed the bit about "hitting enter to close the search field"? Built from your branch and don't see that happening...

[2022-06-30 05:00] SoAsEr commented on #10096
What does it do when there's an invalid input then? Just close it on you in the middle of nowhere?

[2022-06-30 05:07] SoAsEr commented on #10096
My personal choice would be to close it if: (valid input and enter is pressed) or (escape is pressed)

[2022-06-30 05:09] wizofaus commented on #10096
Hitting enter or esc *ONLY* closes the search bar. The assumption is that it's already jumped to the right part of the score as you type.  But if there's an issue implementing that, just close and don't jump.

[2022-06-30 05:22] HemantAntony commented on #12222
Hopefully, #11646 should solve the order problem

[2022-06-30 08:39] cbjeukendrup commented on #9807
I've updated the description with the current situation. There are four remaining tasks:
- General > Keyboard layout
- Two settings on the note input page are not yet connected
- The IO page, but that's already being worked on
- Import > Style used for import

I will create separate issues for those tasks.

[2022-06-30 08:39] cbjeukendrup opened #12223 "[MU4 Task] Preferences > General > Keyboard layout not yet working"
This setting is not doing anything yet. The question is whether we still need it, and what it _should_ do.

[2022-06-30 08:46] cbjeukendrup opened #12224 "[MU4 Task] Preferences > Note input > Delay between notes [...] not yet connected"
In Preferences > Note input, the "Delay between notes [...]" setting is not yet 'connected'. Its value is stored in the configuration, but is never read from there.

[2022-06-30 08:50] cbjeukendrup opened #12225 "[MU4 Task] Preferences > Import > Style used for import not yet connected"
In Preferences > Import, the "Style used for import" setting is not yet connected. Its value is stored in the MusicXML* configuration, but never read from there.

\* If this is a MusicXML specific setting, it should be in the MusicXML section on the page; if it is a general import setting, it should not be stored in the MusicXML configuration but in a more general place.

[2022-06-30 09:10] HemantAntony opened #12226 "[MU4 Issue] MuseScore window is too large"
**Describe the bug**
When you open MuseScore, the window is too large compared to before, not to mention everything is magnified.

**To Reproduce**
Steps to reproduce the behavior:
1. Open MuseScore
2. Everything is magnified and large

**Expected behavior**
MuseScore window should not be this large and magnified.

**Screenshots**
![image](https://user-images.githubusercontent.com/88136054/1766391

[2022-06-30 09:13] cbjeukendrup commented on #12226
Is this a recent change? If so, could #10285 play a role?

[2022-06-30 09:17] HemantAntony commented on #12226
I can't say if its super recent. I just updated my branch. The last time my branch was updated was like 5 days ago

[2022-06-30 09:20] oktophonie commented on #12226
(For me the UI recently - i.e. a day or two ago - went all tiny again (Linux), but I can't say I've investigated this at all yet.)

[2022-06-30 09:21] HemantAntony commented on #12226
That would make sense. The said PR was merged two days ago (@Eism). Feel free to add images to the original issue :)

[2022-06-30 09:30] Eism commented on #12226
Yes, it's because of my pr https://github.com/musescore/MuseScore/pull/10285.
But it needs to be clarified
Everything is magnified and larger than before in MuseScore
OR
Everything is magnified and larger than other programs

If second, then that's the problem.

Also we need to compare with programs that support fractional scaling.

[2022-06-30 09:51] HemantAntony commented on #12226
@Eism I think its both

[2022-06-30 10:51] DmitryArefiev commented on #10316
This fixed in #12139

[2022-06-30 11:32] shoogle commented on #11060
@wizofaus, the present issue will need to be fixed in a relatively straightforward way in 4.0, but there is scope for doing something more ambitious in 4.x which is where the bulk of @VanSHOE's work is targeted for inclusion.

[2022-06-30 11:47] DmitryArefiev commented on #12226
@HemantAntony Yes, that's expected because of #10285.
Now MU reacts when changing Display>Scale and Layout> Size of text, apps etc settings to **125%**

![Capture](https://user-images.githubusercontent.com/90187801/176668890-b2ff50a0-455f-450d-b5d3-99a5f86e1290.PNG)

Previously MU didn't change UI size elements when switching between 100 and 125, and changed the size only when select 150. But on 1

[2022-06-30 11:52] #10316 closed

[2022-06-30 11:52] #11540 closed

[2022-06-30 12:05] HemantAntony commented on #12226
Yeah I'm using 125%. Its the default one. My display resolution is 1920 x 1080

![image](https://user-images.githubusercontent.com/88136054/176672828-18e9ba4f-ac4a-4c0b-b5f9-d4ae763312bc.png)

[2022-06-30 15:33] MiguelGuthridge commented on #11198
Just checked on the latest nightly build, and it's still very much happening for me

[2022-06-30 16:05] Tantacrul commented on #10096
OK, so I've used this just now and it seems in pretty good shape. I have one UX thought:

- It seems the only thing I can search for is a measure number. Is this right? If so, the the search prompt should not be as open as "**Find / go to**". That implies that I can search text / tempo, etc.
<img width="709" alt="image" src="https://user-images.githubusercontent.com/21022311/176725307-be8f0b1c-785

[2022-06-30 16:06] Tantacrul commented on #10096
Nice work @SoAsEr !

[2022-06-30 16:08] Jojo-Schmitz commented on #10096
In 3.x is also was for page number and (pX) and rehearsal mark (any non-alpha letter but p and rM)

[2022-06-30 16:24] Tantacrul commented on #10096
Ah, yes. And I can see this is working in MS4 too. OK, then - it's not just about page number.

I guess we should add (probably in a later release) a little button that says 'What can I search for?' which triggers a little popup providing a legend for the commands you can enter.

Anyway, I don't have any copy change suggestions for this PR anymore.

[2022-06-30 17:03] DmitryArefiev commented on #12078
Fixed in #12211

[2022-06-30 17:39] #10732 closed

[2022-06-30 17:51] DmitryArefiev opened #12230 "[MU4 Task] Instrument selective playback should also work with multistaff instruments (Piano, Divisi strings etc.)"
**Task description**

https://user-images.githubusercontent.com/90187801/176744468-3f08a606-f22e-46ea-9467-65816a98c629.mp4

[2022-06-30 18:12] boryskuzmenko commented on #11606
@asattely it was reproducible on any score before, but I can't reproduce it now. Seems like it's fixed
Could you, please, also take a look at this issue if it has similar bug with beam? https://github.com/musescore/MuseScore/issues/12144

[2022-06-30 19:52] wizofaus commented on #10096
Is there actually any way to search across all text in your score? Even search & replace would seem useful in many cases. Not everyone is going to be comfortable doing it with mscx files (not obvious how to even create those on v4).

[2022-06-30 20:14] Jojo-Schmitz commented on #10096
No, there's no such feature (yet)

[2022-06-30 20:21] wizofaus commented on #12225
Definitely seems like a generic setting to me.  Looks like it should be easy to implement anyway.

[2022-06-30 20:37] wizofaus commented on #10096
BTW I tried out the latest version - there are still some issues:
a) it remembers what you'd searched for last time and automatically jumps to there on hitting CTRL+F
b) in at least some cases it doesn't correctly scroll the rehearsal number you jumped to into view, meaning you can't really see if it HAS in fact jumped to the right place (the measure its attached to scrolls into view).
c) I can't

[2022-06-30 20:45] cbjeukendrup commented on #12188
@DmitryArefiev Thanks, I updated the PR!

[2022-06-30 20:47] igorkorsukov commented on #11060
For example
[code]

Suppose we have a notation open and it is in focus. We press the Up key, what action should we send? Both of them?

[2022-06-30 20:47] SoAsEr commented on #10096
a) I designed it that way. The text should be highlighted when its opened so that it's trivial to replace it with what you're looking for
b) I'll investigate. Can you send a video?
c) it's the same thing that happens when you tab out of the dialog or click on the score. The dialog exists and can be keyboard navigated to or clicked on.

[2022-06-30 20:50] wizofaus commented on #10096
a) but you don't expect to jump immediately on hitting ctrl+f
b) just scroll so rehearsal numbers are off the top of the page and jump to one
c) but it's pointless...what am I supposed to be able to do with it?

I'd argue for sticking to the v3 behaviour unless it's an obvious improvement (I don't mind the difference with Esc restoring scroll position etc.)

[2022-06-30 20:52] SoAsEr commented on #10096
If enter always closes the search bar, when they enter something invalid they're just dropped off in the middle of nowhere with no indication that anything went wrong. I'm in favor of enter not losing the focus of the dialog if it's an invalid input, that seems like an improvement to me. But I don't want to close to dialog unless it's obvious they want it to be closed

[2022-06-30 20:55] SoAsEr commented on #10096
Agreed

[2022-06-30 20:56] wizofaus commented on #11060
I would think so yes, then ensure that only one controller handles the action.
But at any rate, unless the ShortcutContext is something the user can *choose* for a particular short-cut, it doesn't make sense to keep it in an external (per-user) file surely?

[2022-06-30 21:07] igorkorsukov commented on #11060
In general, we cannot guarantee this, in general, both actions can be performed. But what exactly should be done depends on the context in which the shortcut is sent.

The shortcut context is similar to the sections in the shortcuts dialog  in QtCreator (I would like to see something similar in the MuseScore )
![image](https://user-images.githubusercontent.com/3818029/176778206-53be4437-f106-485c-

[2022-06-30 21:44] wizofaus commented on #11060
Which doesn't look like it would need storing the "context" in a user file? The dialog should be able to work even if shortcuts.xml is deleted surely...

[2022-06-30 23:09] igorkorsukov commented on #11060
We have a build-in file shortcuts.xml , which is part of the program data, it is not user-defined. This file is a place to describe the shortcuts - what kind of shortcuts we have, their contexts, their default value. We can somehow describe this information in a different way, but at the moment it is described in this xml file. This is not user data, it is program data, as well as a number of othe

[2022-06-30 23:31] wizofaus commented on #11060
That possibly explains some of the confusion then (though I can't say it's the way I would have designed it).
Personally I'm a big fan of any factory-defaults like that being in a format that's type-checked at compile time.

[2022-06-30 23:49] alexpavlov96 commented on #12036
<img width="159" alt="Screenshot 2022-07-01 at 02 48 53" src="https://user-images.githubusercontent.com/24373905/176796551-5b235467-943d-45cd-a5a4-c4fd09ab690b.png">
attention to positioning of different golpe types

[2022-07-01 06:45] sammik commented on #12221
Similar in instruments dialog #11124

[2022-07-01 07:02] igorkorsukov commented on #11060
UI Context determines whether an action can be performed (there are other conditions as well, but this is one of the main ones).
In this case, the action can be sent in different ways:
1. Shortcut
2. UI Control (for example, a button) in the interface
3. Midi remote
4. Some more remote control
5. Programmatically according to some conditions

The shortcut context determines which of several action

[2022-07-01 07:25] sammik commented on #11124
similar #12221

[2022-07-01 10:13] #12078 closed

[2022-07-01 10:31] emielbeinema opened #12233 "[MU4 Issue] No playback on linux"
**Describe the bug**
When trying to playback a score on Linux (Ubuntu 22.04), no sound is played and the cursor doesn't move past the first note. Also, when MuseScore is open, any other sounds played on the system sometimes stutter or include clicks.

**To Reproduce**
Steps to reproduce the behavior:
1. Open a score containing some notes;
2. Start playback through the keyboard or UI button;
3. Pla

[2022-07-01 10:40] emielbeinema opened #12234 "[MU4 Issue] AppImage nightly doesn't exit"
**Describe the bug**
After closing the MuseScore window, the program doesn't actually exit.

**To Reproduce**
Steps to reproduce the behavior:
1. Open the AppImage nightly of MuseScore on Linux;
2. Close the MuseScore window;
3. The program is still running in the background.

**Expected behavior**
I would expect MuseScore to exit when I have closed all its windows.

**Platform information**
 - OS

[2022-07-01 12:26] bkunda opened #12235 "[MU4 Issue] Reordering instruments in Instruments panel only works in one direction (Parts)"
**Describe the bug**
When changing the order of instruments using the Instruments panel in a part, staves only change order when moving instruments "upwards". Moving instruments "down" has no effect.

See demo video: https://www.dropbox.com/s/yqxscjzfayi48op/reordering%20instruments.mov?dl=0

**Expected behavior**
Reordering should work in both directions

**Platform information**
 - MacOS 12.3.1

[2022-07-01 13:00] bkunda opened #12236 "Some shortcut labels are not displayed in correct positions in menus (MacOS)"
**Describe the bug**
A few shortcut labels appear as part of menu item labels rather than right-aligned in their respective menu.

- Close (File)
- Delete (Edit)
- Remove selected range (Tools)

**Expected behavior**
Shortcut labels should be aligned to the right edge of their respective menu (like all other shortcut labels).

**Screenshots**

<img width="273" alt="Screenshot 2022-07-01 at 10 39 5

[2022-07-01 13:26] #10868 closed

[2022-07-01 13:28] bkunda commented on #12236
Oh wow 🤦‍♂️
I've never seen this before (probably because other programs more sensibly stick to using only one shortcut per command). It's not the worst problem, but my concern with it ahead of the public release is that it looks unpolished – as if we've overlooked something obvious.
Is there any way to just display one of the shortcuts?

[2022-07-01 13:41] DmitryArefiev commented on #11190
Hi @NinjaNas can you check this build please - https://github.com/musescore/MuseScore/actions/runs/2594689300

It's a little bit raw build but it has sample rate change. Just check please how switching between sample rates in Preferences>I/O affects playback quality.

One notice - MU will be crashing after restarting. Use Factory reset to fix it.
Just try one time if that build can fix you problem

[2022-07-01 14:00] bkunda commented on #12236
I would suggest showing only Cmd+W for "close", which is pretty standard on Mac apps.
And I would also suggest just showing the backwards-delete key for the other two commands, because it applies to all keyboards including those with smaller layouts that may not have the forward-delete key.

[2022-07-01 14:07] Eism commented on #12236
Yes, we can do it

[2022-07-01 14:19] DmitryArefiev opened #12237 "[MU4 Issue] Wrong pitch for MuseScore General playback device in exported audio (Windows)"
https://user-images.githubusercontent.com/90187801/176912302-6eaadfcd-ba5e-4a61-8984-c5f9024515d5.mp4

**Platform information**
Windows

**Additional context**
Changing sample rate export setting to 32kHz or 48kHz doesn't fix the issue

[2022-07-01 14:33] DmitryArefiev opened #12238 "[MU4 Issue] First playback after export audio has no sound"
**To Reproduce**
1. Export Audio
2. Wait for processing complete
3. Start playback - **no sound**
4. Rewind to the beginning or click a note
5. Start playback - now it works

https://user-images.githubusercontent.com/90187801/176914697-409b4103-0981-4435-b7ec-a01177af0497.mp4

**Platform information**
macOS, Windows
(didn't check on Linux)

[2022-07-01 15:07] shoogle commented on #11060
@igorkorsukov, I think I understand this now:

1. Actions with the same shortcut context cannot share the same key combination (otherwise it is a conflict).
2. You put shortcut context in the XML files to make it easy for people editing those files to see conflicting key combinations.
3. Your plan was eventually to use the shortcut contexts to form action categories in the Preferences with the rul

[2022-07-01 15:25] DmitryArefiev commented on #11420
Implemented in #11858

[2022-07-01 15:27] DmitryArefiev commented on #11154
Fixed in #11858

[2022-07-01 15:27] DmitryArefiev commented on #11356
Fixed in #11858

[2022-07-01 15:27] DmitryArefiev commented on #11359
Fixed in #11858

[2022-07-01 16:20] igorkorsukov commented on #11060
This is not quite true, in the tab staff, we can do both `pitch-up` and `string-above` for selected note, why not?

[2022-07-01 16:50] Tantacrul commented on #12237
Also happening on MacOS. I changed this to P0.

[2022-07-01 17:51] shoogle commented on #11060
You have identified a case where both contexts are true:

- `note_input_in_tab_staff = true`
- `note_or_range_of_notes_selected = true`

Now we have to decide which one to send when the user presses the Up key. Your solution in the code was to narrow one of the contexts so they can't both be true:

- `note_input_in_tab_staff = true`
- `note_or_range_of_notes_selected_not_tab_staff = false` (false

[2022-07-01 19:09] NinjaNas commented on #11190
I did some testing on the build @DmitryArefiev.

It seems to me that my MOTU software is not tied to MS4. In Ableton, when I change the sample rate it changes accordingly in the MOTU software.

At the sample size of 48000, the playback is correct. I didn't show this in the video but it works for all buffer sizes without issue.

However, 44100, 88200, and 96000 all change the pitch of the notes in

[2022-07-01 19:54] wizofaus commented on #11060
See NotationActionController::canReceiveAction though,  there are as lot of more sophisticated cases that determine whether particular actions are possible.  It's not really feasible to have an enumerated/ ordered list of every possible such state. I don't think it's unreasonable to restrict allowing the user to assign the same shortcut key to two actions in the same broader context (e.g. notation

[2022-07-01 20:33] wizofaus commented on #12235
Can't reproduce at all on Windows, either dragging or using Up/Down buttons.  Does it happen with a brand new/empty score?

[2022-07-01 21:45] shoogle commented on #11060
The list doesn't have to be exhaustive. It just needs to cover the cases where we already know that we want to use overlapping keyboard shortcuts, which presumably means roughly one enum value for each of the existing shortcut contexts. If a new case arises then we would add another value to the enum later on.

The enum mainly exists to prevent obvious conflicts at the time you _assign_ shortcuts.

[2022-07-01 23:59] shoogle commented on #11060
Come to think of it, we could just allow users to assign conflicting shortcuts everywhere and simply show a warning rather than an error 😆. We could highlight the potentially conflicting ones in red in the UI, but still allow them to be set up that way. When there is a conflict, the action that is defined first in the C++ action list wins. So we determine priority by making sure that `string-above

[2022-07-02 00:04] wizofaus commented on #11060
Agreed, you should definitely be able to reset individual short-cuts back to what the dialog would otherwise consider conflicts.  I don't think that's so hard to achieve.

[2022-07-02 07:17] HemantAntony commented on #11376
@Tantacrul I'm thinking about working on this. Can you tell me what should be the text when no related scores are found?

[2022-07-02 12:17] Tantacrul commented on #11376
I would go for:

1. The 'New' button does not disappear
2. The text should be 'No results found'

I would actually create another score BG rectangle, make it 30% opacity and place the 'No results found' text in it.

<img width="762" alt="image" src="https://user-images.githubusercontent.com/21022311/177000406-52655ee3-aba8-43d2-b324-f695ed3f503e.png">

Note: I'd make sure the textbox can go down t

[2022-07-02 17:57] SoAsEr commented on #10096
I still can't replicate the not showing the rehearsal mark thing: Am I following your instructions correctly?
<img width="649" alt="image" src="https://user-images.githubusercontent.com/20920091/177011360-c945e513-3012-4603-a265-13cd6d7fa12f.png">

<img width="709" alt="image" src="https://user-images.githubusercontent.com/20920091/177011379-1778547e-f00f-4cc6-b728-a52b400511a7.png">

[2022-07-02 18:56] wizofaus commented on #10096
Try on a full orchestral score.

[2022-07-03 09:41] HemantAntony commented on #11376
@Tantacrul I made a PR! - #12245

[2022-07-03 10:17] wizofaus commented on #11359
No, because that's what that arrow "affords".  I've reported it as a bug that it doesn't do what I'd suggest most users would reasonably expect.

[2022-07-03 10:21] wizofaus commented on #12224
It's not particularly obvious to me what this option even means?   Happy to have a look at it but I'm not familiar with the real-time recording components at all.

[2022-07-03 10:55] Tantacrul commented on #12224
The NI modes are among the areas in the app most in need of revising. There is a lot of opportunity there.

[2022-07-03 10:57] wizofaus commented on #12224
But as it currently I can't figure out real time entry at all... can anyone get it to work? I literally have no idea what this option is supposed to do...

[2022-07-03 12:36] rgreen5 opened #12247 "[MU4 Issue] AppImage: default paper color black; cannot reset"
**Describe the bug**
In the latest AppImage, for some reason the default paper color has been set to black.

 OS: Linux Mint 20.1, Arch.: x86_64, MuseScore version (64-bit): 4.0.0-2603809362, revision: github-musescore-musescore-c83d663

[2022-07-03 12:42] Tantacrul commented on #10922
I should point out that in the latest nightly, regular repeats aren't working. Don't know if this has also been intentionally switched off for now, or not.

<img width="518" alt="image" src="https://user-images.githubusercontent.com/21022311/177040168-ef8786fc-c768-40cd-b8c2-e785eb8535f8.png">

[2022-07-03 12:52] rgreen5 opened #12248 "[MU4 Issue] No Split Display options?"
**Describe the issue**

In MS3 there are [Split display](https://musescore.org/en/handbook/3/viewing-and-navigation#display) options. In MS4, these are absent.

I understand that for technical reasons it is no longer possible to have multiple tabs in the same program window for multiple scores, but surely it should still be possible to retain the split display options for a _single_ score? IME, th

[2022-07-03 13:09] cbjeukendrup opened #12249 "[MU4 Issue] Crash when using Palette search and showing tooltips"
**Describe the bug**
When searching in the Palettes, a crash can occur related to the showing/hiding of tooltips.

**To Reproduce**
Steps to reproduce the behavior:
1. Open the search field in Palettes.
2. Type a character, so that some search results appear.
3. Put the mouse on one of the cells in the search results, to show a tooltip for that cell.
4. Type another character that causes the cell

[2022-07-03 13:12] rgreen5 opened #12250 "[MU4 Issue] "Staff text properties" button doesn't work if you are in edit mode"
**Description of issue**

You can open "Staff properties" in the Properties sidebar after selecting Staff text, but the same button doesn't work in "Edit mode"

**To Reproduce**

1. Open a score
2. Create some staff text
3. Go into edit mode and highlight a few letters with the cursor, say.
4. In Properties (sidebar), press "More", then "Staff properties".

RESULT: Nothing happens.

**Expected beh

[2022-07-03 13:21] cbjeukendrup commented on #12250
This must be the same problem as #12218. I'll close this one, but added a mention of it to #12218.

[2022-07-03 13:21] #12250 closed

[2022-07-03 13:28] rgreen5 opened #12251 "[MU4 Issue] "Text style" options (Properties" sidebar) are available even in edit mode"
**Describe the bug**

In MS3, a **text style** can only be applied to a _complete_ text object, and is inapplicable to selected characters in edit mode.

However, in MS4 the "Text style" dropdown can also be used to apply character formatting to selected characters _within_ a text object. AFAIK, this is inapplicable and should not be allowed.

**To Reproduce**

1. Open a score.
2. Create some staf

[2022-07-03 13:36] rgreen5 opened #12252 "[MU4 Issue] Tempos mark in imported MS3 score is offset to the left (also occurs with a new score)"
**Describe the bug**

This seems to be a relatively new issue. The position of tempo marks (and perhaps other text?), for some reason is being offset to the left.

**To Reproduce**

1. Open the attached score in both MS3 and the MS4 nightly.
[tempo_shift.zip](https://github.com/musescore/MuseScore/files/9034859/tempo_shift.zip)

2. Observe the relative position of the tempo mark at the beginning o

[2022-07-03 13:44] shoogle commented on #11060
Actually, it turns out that context priorities are already [defined](https://github.com/musescore/MuseScore/blob/c83d6630a2fe670ded88db6906d258b0b1734995/src/context/shortcutcontext.h#L42-L53) and [used](https://github.com/musescore/MuseScore/blob/c83d6630a2fe670ded88db6906d258b0b1734995/src/framework/shortcuts/internal/shortcutscontroller.cpp#L57-L83)! ❤️ So literally the only change needed is th

[2022-07-03 19:30] DmitryArefiev commented on #10877
The main issue (Backwards/Forwards buttons have no effect) looks much better after #11760, but the design change (buttons consequence) still needs to be implemented

[2022-07-03 19:55] DmitryArefiev commented on #12205
I can't reproduce it on Windows10 as well (latest master)..

@wizofaus Can you attach a video demonstration please? (you can use Bandicam screen recorder from https://www.bandicam.com, it's a free app and very easy to use). Thanks!

[2022-07-03 20:02] wizofaus commented on #12205
Won't be able to until next week,  but it's 100% reproducible running under debugger if creating from piano template - always crashes in the same spot.

[2022-07-03 20:08] DmitryArefiev commented on #12226
@HemantAntony Thanks for the info! But is this really annoying? On my laptop with **16'** display,  **2560x1600** res and **125%**, MU4 now looks better. The UI size looks similar to other apps now (e.g. comparing with Firefox).

Maybe you can try 100%?

[2022-07-03 20:49] DmitryArefiev commented on #12205
Oh, I found the steps now!  In step #3 was not specified that the note+slur should be added to the part (not to the score). I will edit the description.

https://user-images.githubusercontent.com/90187801/177056814-c7cf8c87-eb66-4893-9f20-9f2940ed1ee9.mp4

[2022-07-03 22:54] sammik opened #12254 "[MU4 Issue] unable to create custom key signature"
**Describe the bug**
Unable to create new custom key signature in Palette

**To Reproduce**
Steps to reproduce the behavior:
1. Palettes - Key Signatures
2. Click on 'More'
3. No option to create new Key Signature

**Expected behavior**
User should be abletocreate custom Key Signature

**Screenshots**
![No Custom KeySig](https://user-images.githubusercontent.com/1646034/177059871-a9a81453-2af9-469

[2022-07-04 06:28] bkunda commented on #12235
@wizofaus I reproduced this on Windows using the nightly build from 1 July:

https://www.dropbox.com/s/pdw0ajywq0impq6/Recording%202022-07-04%20at%2016.21.47.mp4?dl=0

FWIW this video shows a newly created score from template. I was also able to reproduce the same issue after creating a new score and adding the same instruments manually.

[2022-07-04 07:21] bkunda opened #12255 "[MU4 Issue] Instrument names are empty when adding new instruments"
**Describe the bug**
Adding further instruments to a score via the Instruments dialog shows the new instruments with only a number next to their corresponding stave (i.e. no instrument name). Further, instrument names are empty in both the Parts dialog and the Instruments dialog itself.

https://www.dropbox.com/s/vtzrehlob6mypwi/empty-instrument-names.mov?dl=0

N.B. This must be a recent regressio

[2022-07-04 07:56] sammik opened #12256 "[MU4 Issue] misplaced fermata in second voice"
**Describe the bug**
If note in second voice is shifted (in case of same pitch as note in voice 1), fermata is not above note.

**To Reproduce**
Steps to reproduce the behavior:
1. Write some notes in voice 1
2. Add note to voice 2 with same pitch
3. Add fermata to voice 2 note
4. Fermata is not above voice 2 note, but abocevoice 1 note

**Expected behavior**
Fermata is above coresponding note

**

[2022-07-04 08:02] #11792 closed

[2022-07-04 08:10] sammik opened #12257 "[MU4 Issue] unable to select anything except measure"
**Describe the bug**
It is not possible to selectanythibgexcept measure.

**To Reproduce**
Steps to reproduce the behavior:
1. Click on Title - Nothing Selected
2. Click on note - Measure selected

**Expected behavior**
What is clicked, is selected.

**Screenshots**

https://user-images.githubusercontent.com/1646034/177110595-ccf16471-5a6e-4171-83c6-0d4133c091b4.mp4

**Platform information**
 - OS

[2022-07-04 08:17] #11618 closed

[2022-07-04 08:25] #11221 closed

[2022-07-04 08:45] #10034 closed

[2022-07-04 08:45] #10040 closed

[2022-07-04 12:28] #11341 closed

[2022-07-04 13:02] DmitryArefiev commented on #12188
Fixed in #12200

[2022-07-04 13:22] JosephZayoun opened #12259 "Steinberg Halion sonic crashing musescore"

[2022-07-04 13:23] JosephZayoun opened #12260 "dynamics not playing back"
**Describe the bug**
A short and clear description of what the bug is.

**To Reproduce**
Steps to reproduce the behavior:
1. Go to '...'
2. Click on '....'
3. Scroll down to '....'
4. See error

**Expected behavior**
A clear and concise description of what you expected to happen.

**Screenshots**
If applicable, add screenshots to help explain your problem.

**Platform information**
 - OS: [e.g. ma

[2022-07-04 13:24] JosephZayoun opened #12261 "MIDI Keyboard: When inputting chords, some notes are not heard or not displayed"
(Edited by Martin)
**To Reproduce**
See video below:
1. Plug in a MIDI Keyboard
2. When entering chords, some notes are not being picked up. Playback also often misses certain notes.

[2022-07-04 13:29] cbjeukendrup commented on #12259
Could you please provide some more details?
Personally, I'm able to reproduce the crash by selecting HALion in MuseScore, then closing its plugin window, and trying to reopen it. Are there other situations where a crash occurs?

[2022-07-04 13:51] #12069 closed

[2022-07-04 13:56] shoogle commented on #11315
Let's stick with our new standard for now and re-open this if we get more reports of this tripping people up.

[2022-07-04 14:04] JosephZayoun commented on #12259
in the mixer I changed the sound font to vst3, by selecting Halion sonic. then in Halion Sonic I changed my vst3 sound to a violin section in Halion symphonic orchestra. shortly afterwards, it gives a synth sound by its self and crashes. when reentering to ms4 it asks me if I want to open previous session, I accept, and it crashes again

[2022-07-04 14:15] DmitryArefiev opened #12263 "[MU4 Issue] All elements in Palettes > More section are missing"
![Capture](https://user-images.githubusercontent.com/90187801/177172297-113192d8-ad60-415d-8bd7-440b3511288d.PNG)

https://user-images.githubusercontent.com/90187801/177172315-88ae152f-c160-4d1e-af70-7105e6c43006.mp4

**Platform information**
macOS, Windows, Linux

**Additional context**
Was broken recently

[2022-07-04 14:19] DmitryArefiev commented on #12263
@Tantacrul  Adding to Alpha2 since it was broken recently (please change if needed)

[2022-07-04 14:43] bkunda commented on #12263
Yes I can verify that the PR I just re-tested from @HemantAntony (https://github.com/musescore/MuseScore/pull/12103) didn't have this problem.

[2022-07-04 14:45] cbjeukendrup commented on #12263
I may have found the cause, and it's pretty stupid and my fault...

[2022-07-04 15:04] #11154 closed

[2022-07-04 15:04] #11349 closed

[2022-07-04 15:04] #11420 closed

[2022-07-04 15:04] #11356 closed

[2022-07-04 15:04] #11359 closed

[2022-07-04 15:29] MarcSabatella commented on #12251
My impression is that this is by design, and is a deliberate improvement - no more need for a separate "text toolbar" that reproduce the controls from the Inspector.

[2022-07-04 16:09] HemantAntony commented on #12226
Okay fair point. It isn't that annoying. I guess the change caused it to be annoying. But now it isn't too bad. Changing it to 100% does make MuseScore look better. But then all programs get scaled down.

So, if you want me to close this issue (and wait for other people's opinions regarding this), I'm okay with it.

However, I do like the idea of scaling things in MuseScore as a setting (suggested

[2022-07-04 16:18] DmitryArefiev commented on #11353
Fixed in #11390

[2022-07-04 16:18] DmitryArefiev commented on #11987
Fixed in #11390

[2022-07-04 16:20] #11353 closed

[2022-07-04 16:20] #11987 closed

[2022-07-04 16:39] cbjeukendrup commented on #12251
It was certainly by design that the font family/size/style etc. options were moved from the text toolbar to the inspector. But I do slightly doubt about the "More" > "Text style" dropdown specifically, because I'm not sure that this setting is (technically) suitable to be applied to single characters rather than the whole thing. If it works, then I have nothing against it, but I think it deserves

[2022-07-04 17:55] cbjeukendrup commented on #12260
It looks like this problem is already covered by #10915, which is being working on at the moment. Also, please provide a little bit more detail in your issues! But thanks for reporting anyway!

[2022-07-04 17:55] #12260 closed

[2022-07-04 18:16] #12254 closed

[2022-07-04 18:16] #12263 closed

[2022-07-05 02:58] JC-ProgJava opened #12271 "[MU4 Issue] Unable to enter note 'E' using keyboard"
**Describe the bug**
Typing 'E' while in note input mode doesn't insert an E onto the score.

**To Reproduce**
Steps to reproduce the behavior:
1. Open Musescore 4
2. Open a score (new or existing)
3. Select a measure and toggle note input mode (N)
4. Type 'E'
5. See error.

**Expected behavior**
Typing 'E' should insert a note onto the score.

**Platform information**
 - OS: macOS
 - MS Version:

[2022-07-05 09:15] DmitryArefiev commented on #12254
Fixed in #12268

[2022-07-05 09:15] DmitryArefiev commented on #12263
Fixed in #12268

[2022-07-05 10:33] oktophonie commented on #11852
Yes, the configuration with stems going in opposite directions is no longer possible (assuming #11836 is ever merged).

[2022-07-05 10:46] rgreen5 commented on #12247
OS: Linux Mint 20.1, Arch.: x86_64, MuseScore version (64-bit): 4.0.0-2613746296, revision: github-musescore-musescore-b70aa9b

Still the same issue. What's worse is that every time you reset the paper colour to white, it turns black again when you reopen the program.

[2022-07-05 10:51] cbjeukendrup commented on #12247
Sounds like something is wrong with either the reading or the writing of (color) settings. @igorkorsukov You worked on this recently, maybe this is something for you to look at?

[2022-07-05 11:12] rgreen5 opened #12273 "[MU4 Issue] Entered notes are heard staccatissimo rather than at reasonable default duration"
**Describe the bug**

In Note input mode, when you enter notes (from the computer keyboard) they should be audible at a reasonable default duration (as in MS3). However in MS4 they are being heard staccatissimo.

**Platform information**
OS: Linux Mint 20.1, Arch.: x86_64, MuseScore version (64-bit): 4.0.0-2613746296, revision: github-musescore-musescore-b70aa9b

[2022-07-05 11:21] rgreen5 opened #12275 "[MU4 Issue] Backspace not working; only deletes last note"
**Describe the bug**
In MS3, backspace will successively delete all notes entered in the current session. However, in the MS4 nightly it is only deleting the last entered note.

**To Reproduce**
Steps to reproduce the behavior:
1. In note input mode, enter a run of notes
2. Now click [Backspace] repeatedly

RESULT: Only the last note is deleted.

**Expected behavior**

All notes entered in the cur

[2022-07-05 11:24] cbjeukendrup commented on #12273
Maybe interesting: for VST instruments it seems to work OK, it only happens for Fluid.

[2022-07-05 11:58] JC-ProgJava opened #12277 "[MU4 Issue] Changes made under 'Publish' cannot be undone unless switching back to 'Score' tab"
**Describe the bug**
Changes made under 'Publish' cannot be undone unless switching back to 'Score' tab.

**To Reproduce**
Steps to reproduce the behavior:
1. Go to 'Publish' tab and make changes.
2. Attempt to undo changes using Cmd + Z
3. See error

**Expected behavior**
Cmd + Z should undo changes made in the 'Publish' tab. The only way currently to undo changes are to switch back to the 'Score

[2022-07-05 12:04] JC-ProgJava opened #12278 "[MU4 Issue] Odd behavior when dragging note downwards"
**Describe the bug**
Dragging a note downwards results in odd behavior, causing note to eventually jump upwards.

**To Reproduce**
Steps to reproduce the behavior:
1. Enter a note
2. Keep dragging the note down.
3. See error

**Expected behavior**
It would be ideal if the note 'locked' in place when it reaches the lowest pitch. This behavior isn't exhibited when dragging the note upwards.

**Scree

[2022-07-05 12:15] JC-ProgJava commented on #12277
Out of curiosity, is it by design that switching between the tabs resets the page such that it aligns with the upper left corner? Would it be more practical or ideal for the viewport to be kept the same (e.g., having dozens of pages and switching between the tabs results in the view locking on the first page)?

[2022-07-05 13:14] MarcSabatella commented on #12275
This is a duplicate of https://github.com/musescore/MuseScore/issues/9188

Note that as per my comment there, in MU3, Backspace actually just did an Undo - it only happened to look like a deletion if the last thing you was add a note.  Undo is still available of course.  Now, Backspace just does Delete.  Eventually it would be good to finally have a *real* backspace command - delete and move curso

[2022-07-05 13:18] DmitryArefiev commented on #12271
Fixed in #12272

[2022-07-05 14:38] SoAsEr commented on #10096
@wizofaus I think it's like you asked

[2022-07-05 15:39] DmitryArefiev opened #12279 "[MU4 Issue] Crash after opening parts and adding additional staff"
**To Reproduce**
1. Open String quartet template
2. Open all parts
3. In Instruments panel, select Violoncello and Add staff

https://user-images.githubusercontent.com/90187801/177368887-c19cb79a-e3f4-4499-aa50-456b1429e561.mp4

**Platform information**
macOS, Windows, Linux

[2022-07-05 16:09] #12205 closed

[2022-07-05 16:33] #11809 closed

[2022-07-05 16:43] DmitryArefiev commented on #12249
Fixed in #12266

[2022-07-05 16:43] #12249 closed

[2022-07-05 21:56] emielbeinema commented on #12233
My apologies! This issue apparently was caused by a non-standard pipewire version in my Ubuntu installation. With the default version, playback works as expected.

Thanks for the great work on MuseScore 4!

[2022-07-05 21:56] #12233 closed

[2022-07-05 21:57] emielbeinema commented on #12234
Sorry for this! Like #12233, this issue was caused by a weird, non-standard combination of package versions on my system. Thanks again for the great work!

[2022-07-06 03:57] HemantAntony commented on #11852
I have a fix ready. I will wait until #11836 is merged

[2022-07-06 05:26] HemantAntony commented on #11505
@Tantacrul check #12281

[2022-07-06 05:55] HemantAntony commented on #12052
@Tantacrul I have created a PR. Check #12282

[2022-07-06 09:27] HemantAntony commented on #11852
@oktophonie I have a PR ready. Can you check #12284

[2022-07-06 09:50] DmitryArefiev opened #12286 "[MU4 Issue] Crash when open scores with inserted images"
**To Reproduce**
1. Open
[Score with image.zip](https://github.com/musescore/MuseScore/files/9054387/Score.with.image.zip)
or any score with image

**Platform information**
macOS, Windows, Linux

**Additional context**
Also when testing build with the fix, please try [2 scores.zip](https://github.com/musescore/MuseScore/files/9053691/2.scores.zip)

[2022-07-06 09:54] #12052 closed

[2022-07-06 09:54] #11505 closed

[2022-07-06 10:08] #11852 closed

[2022-07-06 10:38] oktophonie opened #12287 "[MU4 Issue] Two-note tremolos between whole notes are misplaced"
![image](https://user-images.githubusercontent.com/20604032/177529228-aef0b824-fad1-4653-b067-b8f1c9148cea.png)

**Describe the bug**
When the tremolo is upstemmed, the vertical position of the tremolos is miscalculated (see the first two bars above).
The vertical position of the tremolo should match that of the equivalent situation where stems are present (i.e. as between quarter/half notes).

Ho

[2022-07-06 11:57] #12275 closed

[2022-07-06 12:09] sberla365 commented on #11899
Hi, the crash with stemless notation is back with yesterday and today's nigh build

[2022-07-06 12:15] HemantAntony commented on #11899
Yeah I can reproduce the crash with the same score

[2022-07-06 12:27] asattely commented on #11899
This may have been a problem with the tremolo PR that was merged, possibly some kind of rebase failure or regression of some kind. I'm going to be working on https://github.com/musescore/MuseScore/issues/12287 today, and I will make sure to test this score, so my PR for that one should fix the issue

[2022-07-06 14:41] #12286 closed

[2022-07-06 14:41] DmitryArefiev commented on #12286
Fixed in #12290

[2022-07-06 16:33] DmitryArefiev commented on #12255
Fixed in #12262

[2022-07-06 16:57] #12255 closed

[2022-07-06 18:49] #12279 closed

[2022-07-06 19:19] #12188 closed

[2022-07-06 19:26] Majora320 commented on #10977
I'm still experiencing erratic playback dropouts on the latest master build. Sometimes within the repeat block, sometimes outside of it, but the issue only shows up when repeats are involved. Also odd things like notes being played back as staccato the second time around. Doesn't seem consistent at all to reproduce - it'll show up after entering new notes sometimes, but other times it'll just be t

[2022-07-07 01:14] alexpavlov96 opened #12295 "[MU4 Issue] [GP] PowerTab crash"
**Describe the bug**
Crash while opening PowerTab file (.ptb)

[2022-07-07 01:59] Majora320 commented on #10977
@vpereverzev

[2022-07-07 09:20] DmitryArefiev commented on #12295
Fixed in #12296

[2022-07-07 09:21] #12295 closed

[2022-07-07 10:53] DmitryArefiev commented on #12036
Fixed in #12231

[2022-07-07 11:11] cbjeukendrup commented on #12273
@vpereverzev I think this is because AbstractEventSequencer::eventsToBePlayed does not take nextMsecs into account when handling offStreamEvents.

[2022-07-07 11:24] #12247 closed

[2022-07-07 11:55] #11265 closed

[2022-07-07 14:08] DmitryArefiev opened #12304 "[MU4 Issue] Rests in two voices in Score and inability to add notes to additional staves in Part"
**To Reproduce**
1. Open Treble clef template
2. Open Piano part
3. Add additional staves
4. Press M - **in Piano part you can't add notes to additional staves, in Score to many rests in additional staves**

https://user-images.githubusercontent.com/90187801/177798669-27403c37-ad38-4a25-bd29-41cf84701609.mp4

- you can't add a notes to additional staves in the Part but you can do it in the score
-

[2022-07-08 10:03] rgreen5 opened #12312 "[MU4 Issue] Extra notes heard on playback when MS3 is open at same time"
**Describe the bug**
_A very new bug_ (AFAIK). If you try to play back a score in MS4, _and_ there is any score open in MS3 at the same time, spurious extra notes are heard during playback.

**To Reproduce**

1. Open "ms3_file.mscz" in MS3. Open "ms4_file_for_playback.mscz" in MS4.
[ms_files.zip](https://github.com/musescore/MuseScore/files/9070976/ms_files.zip)
2. Now playback the MS4 file, set t

[2022-07-08 10:17] rgreen5 opened #12313 "[MU4 Issue] Changing "Audio device" in preferences results in white noise / crash / loss of playback (Linux only)"
**Describe the bug**

Changing the "Audio device" in preferences causes crashes / loss of playback.

**To Reproduce**

The following steps are applicable to my system:
1. Go to Preferences > I/O.
2. Change Audio Device from "Default" to
![audio_device](https://user-images.githubusercontent.com/87246583/177971024-8eeccaf1-8909-465c-ac9c-01abc767f477.png)
RESULT: Immediate continuous white noise (ev

[2022-07-08 10:45] rgreen5 opened #12314 "[MU4 Issue] Staff instrument reset to default for imported MS3 scores"
**Describe the bug**

In the attached vocal staff (and perhaps other cases?) MS4 appears to be resetting the staff instrument sound to default for imported MS3 scores.

**To Reproduce**

1. Open the attached score.
[scarborough_fair.zip](https://github.com/musescore/MuseScore/files/9071383/scarborough_fair.zip)

2. Compare playback of the vocal section in MS3 with MS4.
RESULT: The Vocal instrument

[2022-07-08 10:55] Tantacrul commented on #11503
Moving to Beta

[2022-07-08 10:55] rgreen5 opened #12315 "[MU4 Issue] Playback varies depending on whether a note or a measure initially selected"
**Describe the bug*

If playback is started on a selected note then all staves are played back. But if playback is started from a selected measure, only the staff selected is played back.

**To Reproduce**

1. Open the attached score and click on a note in the "Verse" section.
[scarborough_fair.zip](https://github.com/musescore/MuseScore/files/9071448/scarborough_fair.zip)
2. Play back and verify

[2022-07-08 10:57] Tantacrul commented on #8746
Hey @cbjeukendrup - is this one done?

[2022-07-08 11:17] Tantacrul commented on #12170
Excellent find @rgreen5. Thank you!

[2022-07-08 11:18] Tantacrul commented on #12170
@boryskuzmenko / @alexpavlov96 : I think this might be one for you. What do you think?

[2022-07-08 11:20] Tantacrul commented on #12143
Thanks for this! Bumping to 4.x for now.

[2022-07-08 11:22] Tantacrul commented on #12208
@Eism - what should I target this at?

I've added to 'Beta 1' for now.

[2022-07-08 11:25] Tantacrul commented on #12210
This also manifests differently for soundfont and VST. It is possibly the single worst playback issue that remains. Vasily is working on it at the moment. I might close this if I discover another issue that covers the same thing. This particular issue has been reported a few times... but each one is slightly different.

[2022-07-08 11:28] Tantacrul commented on #12216
@oktophonie, @asattely, @mike-spa - I assigned to you, unless you disagree?