[2022-02-03 14:42] Tantacrul commented on #10428
We will need to do some accessibility testing once beta is released for sure. There are bound to be some bear traps and we'll need to refine the experience for sure.

We have dedicated a lot of time to accessibility in this release and will continue to do so.

[2022-02-03 14:49] martin-danhier commented on #9618
Hello! Don't worry, I understand, I also think a new system would be better.
I already spent quite some time on the issue, but I also was learning QML and the codebase at the same time. I think I would be more efficient if I had to do it again now.

Yes, that would be great, thanks! I'd be glad to help implementing the new system :-)

[2022-02-03 16:15] Tantacrul opened #10440 "Context menu no longer has 'Remove measures' option. We should re-add it with some UX cleanup."
**Describe the bug**
Removing measures is still quite hard in MS4. One method from MS3 was to right click on selected measures and opt to 'remove' them. This was always a little tough to find because there is another option called **'Delete'** which seems much more likely to fulfil that function.

I'm guessing someone assumed these two functions were duplicating functionality and removed one of th

[2022-02-03 16:17] #10423 closed

[2022-02-03 16:17] DmitryArefiev commented on #10423
Tested on Win10, Mac12, LinuxMint 20.2 - FIXED

[2022-02-03 16:34] MarcSabatella commented on #10428
Agreed that it seems logical that new users would click a duration symbol as their first action, and this shouldn't do something unexpected like change the default measure rest into something else, which is exactly what it does in 3.6.2 for new score because we are selecting the first note/rest.  So I'm all in favor of changing that.

I just think it makes the most sense to solve this by selecting

[2022-02-03 16:38] Tantacrul opened #10441 "Lyrics: Extender lines can be too short."
**Describe the bug**
I've noticed that extender lines for lyrics (created using the shortcut **Shift + -**) don't always range far enough:

Here's an example from MS3 and 4:
![image](https://user-images.githubusercontent.com/21022311/152386395-3cc029dd-cd91-4b5c-aa41-8acc24559fce.png)

Here's an older example from MS2... although this only looks clearer partially because the font is narrower
![ima

[2022-02-03 16:40] Tantacrul commented on #10441
@oktophonie, @shoogle and @bkunda, I thought I'd tag you first to get your feels. I get that when the word is shorter, the line is more visible. It just looks weird in MS4 now because it appears like a full stop.

But this also strikes me as odd:
![image](https://user-images.githubusercontent.com/21022311/152387128-1a8388f4-8913-450f-bec0-9fb08bc88553.png)

[2022-02-03 16:44] Jojo-Schmitz commented on #10441
Those very short melismas can happen in 3.x too BTW

[2022-02-03 16:45] Tantacrul commented on #10441
Yes. I've noticed that. Initially, I thought it was an MS4 thing.

[2022-02-03 16:49] Tantacrul commented on #10428
I don't have an issue as long as the duration buttons work right away.

Thanks, Marc!

[2022-02-03 17:41] Tantacrul commented on #10428
Just to be clear: I think the existing MS3.6.2 behaviour when a new score is created is wrong. It selects a rest, which gives a weird result when you click on a duration for the first time.

[2022-02-03 18:04] RobFog commented on #10440
Yes, I do think this is something many first-time users trip over. I know I did years ago. :-)

[2022-02-03 18:22] DmitryArefiev commented on #10432
Tested on Win10, Mac12, LinuxMint 20.2 - FIXED in #10438

[2022-02-03 18:48] #10234 closed

[2022-02-03 18:48] #10329 closed

[2022-02-03 19:44] #10432 closed

[2022-02-03 19:53] vihaanthora commented on #10421
@iwoithe Could you please let me know the approach you're using to deal with this issue?
Thanks

[2022-02-03 23:00] maryszabo commented on #10259
Hi @duanjr . Go for it! I'm still working on understanding qml

[2022-02-04 01:07] shoogle commented on #10441
A minimum length setting sounds like a good idea.

I think that "melisma" just means a syllable that is sung for multiple notes, so lyric hyphens and extender lines are both melismas. Perhaps we should avoid using the term "melisma" to refer to just the extender lines?

[2022-02-04 04:50] MarcSabatella commented on #10428
Agreed.  What 3.6.2 does on *open* of a score is good, but on *create* not so much.  I'd like to see MU4 select the first element (title/barline/clef) in both cases - open and create.  Although selecting nothing could be fine *if* it can be made clear to a blind user how to start navigation.  The advantage of selecting something is that the screenreader will read it so you know something loaded su

[2022-02-04 04:56] MarcSabatella commented on #10441
The question is, what happens if the minimum is not met?  In cases like this, what I *think* most editors would do is simply omit the extender.  That would make sense to me.  What I wouldn't want to see happen is have MU4 artificially extend the extender past the edge of the note, or worse, add unnecessary extra space before the note.  Unless @oktophonie tells me I'm wrong about all this...

[2022-02-04 06:49] bkunda commented on #10441
I actually think these extenders are probably behaving as expected. From my understanding, extenders usually go only to the last written note – that is, to the notehead itself, and not the end of that note's duration.

What I find interesting about the "Blues for Muse(Score)" example is that the text in question is set on a (short) off-beat that ties over to a longer note. It's all too easy to fin

[2022-02-04 07:13] mattblo commented on #9893
@jessjwilliamson You mention the Melda plugins here and write that they are working. (In the spreadsheet)
However, I can only open the Melda plugins in the instrument channels, not in the master channel. Is this error known or already listed somewhere?

[2022-02-04 08:19] oktophonie commented on #10441
I think Marc is right here - we could set a minimum length for the extender (1sp, or something); if there is not space for an extender line of at least that length, between the right side of the syllable and the right edge of the final notehead, then we simply omit the line. This is what I'm used to and would expect to see.

For sure we shouldn't arbitrarily extend the line past the note, and (def

[2022-02-04 09:37] DmitryArefiev commented on #10436
Tested on Win10, Mac12, LinuxMint 20.2 - FIXED in #10443

[2022-02-04 09:38] #10276 closed

[2022-02-04 09:38] #10436 closed

[2022-02-04 09:38] DmitryArefiev commented on #10276
Tested on Win10, Mac12, LinuxMint 20.2 - FIXED in #10443

@izarys it should be in the next master. Thanks!

[2022-02-04 09:47] Eism commented on #10354
#10446
Since this decision affects all components of the project, it is obvious that this decision requires extensive testing.
Now, this is an unstable solution for me, there are many problems to be solved.

But at least it solves the main problem.
@MarcSabatella, can you test this solution and write out any bugs you notice?

[2022-02-04 10:00] Eism commented on #10354
Still, I think standard scaling should be used for documentation because most users don't use scaling(difference in appearance). Or is it due to some technical issue(get the clearest screenshot)?

[2022-02-04 10:13] #10306 closed, assigned to alexpavlov96

[2022-02-04 10:13] #10310 closed

[2022-02-04 10:26] jeetee commented on #10354
+5
There are plenty of non-tech savvy users out there that have bumped against this wall in the past; I'd keep the -D for a session override and when trying to figure out a good value *if* the preference needs a restart to take effect. If the preference can be applied instantly, then the cmd line version is likely no longer required.

[2022-02-04 12:31] Tantacrul commented on #10354
I imagine a general scaling that affects everything would be sensible. I also agree it should be in Preferences under 'Appearance'.

@MarcSabatella the problem we have now is that we want to prioritise features for Alpha. This feels very much like a Beta type of optimisation.

I'm wondering if there is any simple alternative to making the app bigger. Possibly by changing the overall scaling on you

[2022-02-04 12:35] Tantacrul commented on #10354
@MarcSabatella - if we can figure out a temporary solution to this, it'd be great. I'd hate for you to be blocked.

[2022-02-04 12:38] DmitryArefiev commented on #10209
Tested  on Win10, Mac12, LinuxMint 20.2 - FIXED in #10401

[2022-02-04 12:38] DmitryArefiev commented on #9902
Tested  on Win10, Mac12, LinuxMint 20.2 - FIXED in #10401

[2022-02-04 12:39] DmitryArefiev commented on #9902
@shoogle Please check it briefly (if I missed something)

should be in the next master

[2022-02-04 12:41] mattblo commented on #9292
The symbols in "repeats & jumps" scale correctly in the last NightlyBuilds, only "Grace notes" and "Beam properties" still do not.

[2022-02-04 12:43] mattblo commented on #9291
This problem is fixed in the latest NightlyBuilds.

[2022-02-04 12:43] #9291 closed

[2022-02-04 12:46] Tantacrul commented on #10209
Awesome :)

[2022-02-04 12:49] mattblo commented on #9262
This problem has been partially solved. The text now does not overlap the ScoreTabs, but it is also not completely readable as shown in the picture
![4Tabs](https://user-images.githubusercontent.com/63284090/152531898-5c8dfce6-c05a-4f84-801b-aadff12b1103.png)
.

[2022-02-04 12:57] #9902 closed

[2022-02-04 12:57] #10209 closed

[2022-02-04 12:57] bkunda opened #10448 "[MU4 Task] Implement slur properties in Inspector/Properties"
**Task description**
Settings for slurs are yet to be implemented in MS4. These include:
- Line style (Continuous, Wide Dashed, Dashed, Dotted)
- Line position (Above, Below)

For now, we aim to simply reinstate functionality from MS3.6.

Please note: new icon for "Wide Dashed" in musescoreicon at U+F434.

The new design for this can be found in Figma here: https://www.figma.com/file/l0TQUrNFZmEfr

[2022-02-04 12:59] DmitryArefiev opened #10449 "[MU4 Issue] Unable to extend slur to the next system (using shortcut)"
**To Reproduce**
1. Create slur (S)
2. Using shortcut **Shift+Right**, try to extend slur to the next system

https://user-images.githubusercontent.com/90187801/152533116-2eaf0f02-f46c-4ee7-870f-e06a1eb9e2c9.mp4

**Platform information**
macOS, Windows, Linux

**Additional context**
Doesn't occur in **MU3**

[2022-02-04 13:15] jessjwilliamson commented on #9893
You are right, I will bring up this issue that master is not handling plugins as well as instrument channels

[2022-02-04 13:22] jessjwilliamson opened #10450 "[MU4 Issue] Master channel doesn't handle plugins well"
**Describe the bug**
It seems the Master channel handles Audio FX plugins differently than any normal instrument channel. In this case, it won't load the VST UI.

https://user-images.githubusercontent.com/71656189/152535993-ff8e37d0-34fe-4e71-8f60-00671d34d876.mp4

**Platform information**
 - OS: Windows (mostly likely Mac too)

[2022-02-04 13:22] jessjwilliamson commented on #10450
@mattblo

[2022-02-04 13:23] mattblo commented on #10450
Ah yes! Thank you!

[2022-02-04 13:29] bkunda opened #10451 "[MU4 Task] Improvements to "layout" palette"
**Task description**
This task aims to improve the usability and visual aesthetic of the layout palette.

The key tasks are:
1. Render all icons in the same font colour (Font_Primary_Colour)
2. ~~Implement scalability of icons generated from musescoreicon~~ (FIXED ELSEWHERE)
3. ~~Replace icon "Insert one measure before selection" with new icon U+F432~~ (FIXED ELSEWHERE)
4. Replace icon "Staff type

[2022-02-04 14:01] mike-spa commented on #10441
Yeah, I agree with @MarcSabatella and @oktophonie: the extender line should be simply omitted when too short, as it serves no purpose at that point. I think I may have fixed it, would you mind taking a look at the attached screen capture and let me know if that is also how you would expect it to behave?

https://user-images.githubusercontent.com/93707756/152540442-fb5bf27d-0307-4952-930e-a11d4e380

[2022-02-04 14:08] Jojo-Schmitz commented on #10441
Looks good but stops showing the extenter line too early

[2022-02-04 14:11] mike-spa commented on #10441
Yeah I agree, indeed I've already gone back and changed it. I think the minimum length should be 1 sp as @oktophonie suggested.

[2022-02-04 14:15] Jojo-Schmitz commented on #10441
Or reusing the Min. or Max Lyrics Dash length (0.4sp and 0.8sp by default, respectivly)?

[2022-02-04 14:51] jeetee commented on #10354
Agreed

[2022-02-04 14:57] MarcSabatella commented on #10354
This isn't an "optimization", it's basic functionality.  On a high DPI screen, the buttons are potentially too small to be recognizable or clickable, rendering the UI entirely useless on some displays.  On my system, I can make them out, but my eyes are not what they used to be, and it's extremely difficult for me to work with it as is.

For alpha, simply fixing "-D" seems fine.  Adding a GUI sett

[2022-02-04 15:05] MarcSabatella commented on #10354
@Eism  I tried to access the artifact from the PR but couldn't find it on https://github.com/musescore/MuseScore/runs/5064604225?check_suite_focus=true - can you post a direct link to a Linux build

To be clear: I am not trying to achieve non-standard scaling.  I am simply trying to see normal-sized icons and text.

Right now, the menu text is minuscule, as are all icons - toolbar and palette.  In

[2022-02-04 15:16] MarcSabatella commented on #10354
If I change the display resolution system-wide, some things scale but others don't, making it somewhat more usable but now the different UI elements are out of proportion with each other and not suitable for screenshots.

I doubt I'm the only user who uses a high DPI display, so I wouldn't assume this is just a special for my benefit.

[2022-02-04 15:46] Eism commented on #10354
@MarcSabatella
https://github.com/musescore/MuseScore/suites/5177473248/artifacts/157179768

[2022-02-04 15:47] Jojo-Schmitz commented on #10354
Or https://github.com/musescore/MuseScore/actions/runs/1794250824

[2022-02-04 16:47] MarcSabatella commented on #10354
Thanks for the links!  I guess mine had the extra "check_suite_focus" added by GitHub and that's why I couldnm't get to the artifacts?

Anyhow, it's a bit better using the artifact, still far from ideal though.  No change without -D, but when using it, the toolbar icons and interface text do scale.  Everything else is still too small though - the main menu (File / Edit / etc), the palette icons, a

[2022-02-04 16:48] MarcSabatella commented on #10354
I recently updated my Windows system to Windows 11 and haven't tried fiddling with the various options there, including whatever Windows 11 now provided for high DPI compatibility settings.  I'll do some more experimentation there in a bit to see if maybe I can now at least get that system to display something reasonable.

[2022-02-04 17:03] #10337 closed

[2022-02-04 17:04] VanSHOE commented on #10092
I am unable to reproduce this on Windows, could you provide a score file on which this is happening?

[2022-02-04 17:10] DmitryArefiev opened #10453 "[MU4 Issue] [Accessibility] Screen reader should announce pitch changes when moving note up and down"
https://user-images.githubusercontent.com/90187801/152572157-af812d48-0e24-4a3a-9fa5-61f120128882.mp4

**Platform information**
 macOS, Windows, Linux

[2022-02-04 18:17] MarcSabatella commented on #10354
Situation on Windows is better indeed.  My display resolution on Windows is the as on my Linux system, and in MuseScore 3 it required similar methods to scale correctly.  But MU4 looks mostly good out of the box using the current nightly (not the PR artifact; I haven't tried that).  The main menu looks right, and the toolbar and palette icons look right.  But the score is still too small, and the

[2022-02-04 18:23] MarcSabatella commented on #10354
In order for menu contents to display the same size as the menu itself, I need to set 12pt as the font size in Preferences.  And this also makes the other interface text look more reasonable to me.  The palette labels are the same size as the menu contents; the Home / Score / Publish is slightly larger.  I guess that's on purpose?

BTW, is it a known issue that spinboxes don't work with the cursor

[2022-02-05 09:36] #10385 closed

[2022-02-05 14:14] HemantAntony commented on #9079
This appears to be fixed, if you meant the visible note input stop

https://user-images.githubusercontent.com/88136054/152645446-706a5fcc-9710-4872-a531-875119bdb36d.mp4

.

[2022-02-05 14:34] Tantacrul commented on #10354
9pt shouldn't be used anywhere. The minimum size we use across the app is 12pt. Something must be up, although I can't say what. Windows and Mac builds are looking fine / standard on various different resolutions for me.

Just to be sure, can you reset to factory settings?

Obviously, we've a bit more hunting to do. One point though regarding screens with high DPI, they generally just scale to a d

[2022-02-05 14:35] HemantAntony commented on #9350
This appears to be fixed:

https://user-images.githubusercontent.com/88136054/152646184-293f5b22-527e-4f76-94d3-f075bfb19cd2.mp4

[2022-02-05 15:48] MarcSabatella commented on #10354
OK, that makes sense.  I’m not at my Wi does computer but will try a factory reset when I get there.  I can confirm on my Linux machine, factory reset does result in 12pt, making the menu co tents exactly as tiny as everything else. :-)

It’s true that *in theory*, scaling should work correctly out of the box based on the OS native handling.  But in practice, that just isn’t so.  That’s why almost

[2022-02-05 15:53] Tantacrul commented on #10354
I’m pretty sure we can solve the majority of them. We should just start logging each instance as a bug (and we’ll prioritise each one).

We’ll have the fallback too, just in case.

[2022-02-05 16:19] Tantacrul commented on #10092
I've just tested this on my new laptop (M1 mac this time) and the problem is not happening.

[2022-02-05 16:22] Tantacrul commented on #10092
@DmitryArefiev - what do you think? Shall we close this and see if it resurfaces?

[2022-02-05 16:23] MarcSabatella commented on #10354
Late-breaking good news - on one of my Linux systems at least (still need to test the other later), MU4 responds to the QT_AUTO_SCREEN_SCALE_FACTOR environment variable - setting it to 1 enables auto-sizing and causes the GUI to be sized correctly.  The score itself is still too small, but that's a completely usable workaround otherwise.  Weird, in that I thought this environment had been obsolete

[2022-02-05 20:09] DmitryArefiev commented on #10092
@Tantacrul - Sure! Let's close it. We can reopen if someone can reproduce it again.

Can't reproduce this on **Win10/Mac12.2** (latest master). Closing

[2022-02-05 20:09] #10092 closed

[2022-02-05 20:43] MarcSabatella commented on #10354
... and now I see why I believe QT_AUTO_SCREEN_SCALE_FACTOR didn't work anymore (other than the fact I thought I had read it was being obsoleted) - because it *doesn't* work on my main system.  Only on my smaller tablet-based system, which is what I was testing earlier today.  However, QT_SCALE_FACTOR *does* work on my main system.  I'm still not really sure about the GUI vs score scaling.  I wond

[2022-02-05 21:12] MarcSabatella commented on #10354
OK, here's a simpler comparison, MuseScore 3 next to MuseScore 4.  No idea why this should be the case, but it seems that with MuseScore 3 set to 9pt UI font, and MuseScore 4 set to 12pt with QT_SCALE_FACTOR set to 1.38, it's a more or less exact match:

![image](https://user-images.githubusercontent.com/1799936/152658995-31840ef5-d1ce-4c7c-b014-0b617b6686ec.png)

The actual size of the UI font -

[2022-02-05 21:18] Tantacrul commented on #10354
MS4 looks about right to me in that image, yes.

Incidentally, in places the default scaling of MS3 is much larger than MS4 on my machines (mainly the UI icons for the note durations). Other things, like palettes are roughly the same.

[2022-02-05 21:32] Tantacrul opened #10457 "[Inspector] Augmentation dot buttons are reversed"
**Describe the bug**
Persistent issue that's been around for ages. Here's the UI options in the Properties panel:
![image](https://user-images.githubusercontent.com/21022311/152659746-af03a66d-ce0d-4ddb-bc1b-6582b59a037e.png)

Here's the notated result (doing the opposite of what the UI is displaying)
![image](https://user-images.githubusercontent.com/21022311/152659679-e4265b44-95fb-4218-94a9-74a

[2022-02-05 21:35] Tantacrul commented on #10457
While we're at it, I remember us agreeing that we'd call it '**Duration dot position**' rather than 'Dotted note position'

https://twitter.com/Tantacrul/status/1470335804547518466

[2022-02-05 23:35] MarcSabatella opened #10458 "[MU4 Issue] Interface is not scaled correctly on some high DPI systems"
I have three different high resolution systems (> 150 DPI).  One two of them - the two Linux systems, MU4 displays unusably small by default.  On the WIndows system, it seems OK.

This is an extremely common, we get reports about it for MuseScore 3 pretty much every single day.  So we provided a command-line option "-D" to workaround it; actually also another "-x".  But -x is no longer supported i

[2022-02-05 23:47] MarcSabatella commented on #10458
I should mention that the Chromebook/Linux systems use an odd window manager configuration, it's not really a normal Linux desktop environment but some sort of special "compositor" (?) service that is run to communicate with the native ChromeOS desktop.  Never caused any special problem problems for previous versions of MuseScore, but it could be QML doesn't like it as much.

[2022-02-06 00:06] MarcSabatella opened #10460 "[MU4 Issue] Many UI elements don't respond to keyboard input"
I am finding that very few UI elements that traditionally respond to keyboard input work as expected in MU4 - spinboxes, dropdown lists, defaults button in dialogs, etc.  So for example

Spinbox issue
1) go to Edit / Preferences
2) click within the "Auto save every" spinbox
3) press Up arrow to increase
Result: spinbox loses focus, no change is applied

Dropdown issue
1) select any text element in

[2022-02-06 00:11] MarcSabatella opened #10461 "[MU4 Issue] Elements often cannot be dragged (if they were previously selected)"
As far as I can tell, you cannot change the position of elements by dragging, except sometimes when you can/  Haven't found the pattern yet

1) new score
2) Ctrl+T to add staff text, anything at all
3) now try to drag the text elsewhere
Result: either it drags as expect, or else you are placed into edit mode and dragging isn't possible

I'm sure there is some rule being followed here as to when th

[2022-02-06 00:15] MarcSabatella opened #10462 "[MU4 Issue] "Appearance" section of properties tab becomes persistent always-on-top window"
This may well be specific to my system - Linux running within a container in ChromeOS.  I'll be interested to see if it reproduces for others.  But no doubt something strange is going on:

1) select any text element in a score
2) click the Appearance button in the Properties tab
3) switch to another window (eg, not MuseScore)
Result: the Appearance pane continues to appear on top of any other wind

[2022-02-06 04:29] Fince10086 opened #10463 "[MU4 Issue] "Add Palettes" popup dialog close when the tooltip show"
**Describe the bug**
Add Palettes popup dialog close when the tooltip show

**To Reproduce**
Steps to reproduce the behavior:
1. Create a new score
1. Go to 'Palettes'
2. Click on 'Add Palette'
3. Let the mouse over any "+" button and wait
4. See error

**Expected behavior**
the tooltip show with no other actions.

**Screenshots**

https://user-images.githubusercontent.com/87692117/152667803-a47dd

[2022-02-06 07:49] duanjr commented on #9488
I don't know if I undertand it correctly. My understanding is：
When the width is small enough, thoses texts shoule be invisible.
The vertical separator should be able to move smoothly, instead of jumping to far left.

[2022-02-06 10:25] HemantAntony opened #10465 "[MU4 Issue] Crash on creating new score after closing previously created new score"
**Describe the bug**
Right after you create a new score, close it. Then open the create new score dialog. It will crash after a few seconds.

**To Reproduce**
Steps to reproduce the behavior:
1. Create a new score
2. Immediately close the issue preferably by the Ctrl + W shortcut
3. Create a new score quickly preferably by the Ctrl + N shortcut
4. You don't need to click anything else. Just wait f

[2022-02-06 10:42] #10457 closed

[2022-02-06 12:13] rzvxa commented on #10421
@DmitryArefiev @RomanPudashkin  Hi, I've spend few hours reading the codes to understand the structure of the projects and I've found a few obvious bugs, Firstly we don't use the result of migration dialog nor the result of variable isApplyingMigration variable from dialog, there is also some problems with where the migration functions are called and i guess it's not working 100% correctly(need so

[2022-02-06 12:26] vihaanthora commented on #10421
I have not made much progress as of now, you can go ahead with it @rzvxa .

[2022-02-06 13:27] shoogle opened #10467 "[MU4 Issue] [Accessibility] [Linux] Text characters are typed twice when screen reader is running"
**Describe the bug**
When typing text in the score (e.g. staff text, tempos, frame text, etc.) each character appears twice. This only occurs when the screen reader is running, and it only occurs in the score (it doesn't happen in search boxes or text fields in the New Score Wizard).

![image](https://user-images.githubusercontent.com/11011881/152682939-8a32c254-530b-4d2d-a233-ad67f394df3b.png)

*

[2022-02-06 13:48] shoogle commented on #10467
Test comment

[2022-02-06 14:17] iamjithinjohn commented on #10440
I'm trying to solve this, and it is now behaving as what @Tantacrul mentioned in the Expected behaviour, but what if I just click a note and I want to delete the note, not the whole measure, then will the image shown makes any confusion for the user?
![image](https://user-images.githubusercontent.com/73242397/152679937-4b117a99-9197-4158-927d-5a253ceff932.png)

[2022-02-06 15:21] Tantacrul commented on #10440
Good point. I actually think that the options should be different when you right click on elements like this:

![image](https://user-images.githubusercontent.com/21022311/152687768-98718ca4-aab8-48a9-bbd8-bd56d392ed3b.png)

I think you should just have a 'delete' option that removes them.

---

However, if you right click on the bar itself, then the options should be 'Delete measures' / 'Clear mea

[2022-02-06 17:43] MarcSabatella commented on #10458
Here's a screenshot showing MU3 next to MU4.  I should be clear, this is not for MU3 looks by default on this system, but I have always been able to use -D to correct the problem.  Without it, MU3 would be as small next to other apps as MU4 is next to MU3.  So that is why I originally called the loss of -D a blocker - this is unusable for me:

![image](https://user-images.githubusercontent.com/179

[2022-02-06 18:16] rzvxa commented on #10465
@HemantAntony Hey there, I'm trying to fix this issue but sadly i can't reproduce it, is it possible that this crash happening on your system because of some configuration error or maybe it's a windows 11 thing? it would be great if u have windows 10 on hand and can check if you can reproduce it there.
also it would be awesome  if you could share logs with us

[2022-02-06 20:07] rzvxa commented on #10462
@MarcSabatella Hello, I've tried to reproduce this issue and it didn't happened, as you yourself also said it's probably happening due to your complicated setup i guess some events are getting lost with all the virtualization happening all over the place.
I guess right now we don't have a way to trace this issue (at least i don't have required setup to reproduce it) I'm just posting this comment s

[2022-02-06 20:14] rzvxa commented on #10461
@MarcSabatella Hi, I guess it's happening because the first time you click on the text it's going to drag and also gets selected(color changes), and next time you click on it registers as edit event, is that right?

I'm not sure what is the intended behavior here, i would like to start working on it but need a confirmation from design team or at least a developer whom is informed about these kind

[2022-02-06 21:01] Jojo-Schmitz commented on #10303
Sorry, only noticed now: these are not a use case for rehearsal marks at all.

[2022-02-06 21:02] Jojo-Schmitz commented on #10303
If the gp import imports tham as rehearsal marks, that import needs to get fixed.

[2022-02-06 21:46] oktophonie commented on #10303
These are indeed not rehearsal marks. Looks like using Tempo text would be more appropriate for directions like this.

[2022-02-07 01:40] HemantAntony commented on #10465
Hello, thank you for attempting this issue. Like I said you have to be really quick. The time between creating the second score and first score should be around 1 second (That's how I do it). Use shortcuts. This is a portion of the log. Tell me if you want the entire thing:
![image](https://user-images.githubusercontent.com/88136054/152711867-745d2f3c-fdde-4a8c-8aa0-b5c8d3dcd66c.png)
I do not have

[2022-02-07 06:00] bkunda commented on #9488
Hi @duanjr, you are correct on both fronts :-)
Btw the "jumpy" movement you see in my example is on account of the low frame rate (alas, it is merely a humble GIF).

[2022-02-07 06:38] Jojo-Schmitz commented on #10303
Tempo text would be (too?) bold too and come with a tempo setting, so won't be appropriate.

[2022-02-07 08:53] #10365 closed

[2022-02-07 09:03] oktophonie commented on #10303
In Guitar Pro these are section headings (often just "Intro" or "Verse I", for example:

<img width="295" alt="image" src="https://user-images.githubusercontent.com/20604032/152756878-11ca2a5d-595e-46f9-a147-018c70c0e61e.png">

Though you can change the text arbitrarily. Even if it says "Staccato" it's still a performance direction for the entire section, so styling them exactly as Tempo text is p

[2022-02-07 09:05] Jojo-Schmitz commented on #10303
"Intro" and "Verse 1" likly are rehearsal marks.
**Styling** a **staff text** as tempo text seems OK, it still isn't a tempo text though

[2022-02-07 09:07] oktophonie commented on #10303
It's system text, not staff text.

[2022-02-07 09:07] Jojo-Schmitz commented on #10303
"Staccato" would be a staff text IMHO

[2022-02-07 09:31] njvdberg opened #10475 "[MU4 Issue] Cannot delete brackets"
**Describe the bug**
Cannot delete a bracket or brace.

**To Reproduce**
Steps to reproduce the behavior:
1. Create a score with a few instruments in same section, eg Flute, Oboe and Clarinet. Make sure the order is orchestral.
2. Finish creating the score. Now you will see a score with 3 staves, grouped by a bracket.
3. Delete the bracket.
4. delete the bracket by selecting the `Delete` option or

[2022-02-07 09:55] oktophonie opened #10476 "[MU4 Issue] Cannot delete bars with Ctrl+Del in Windows"
**Describe the bug**
Ctrl+Backspace will delete a selected bar (or bars), but Ctrl+Delete has no effect.

**To Reproduce**
Steps to reproduce the behavior:
1. Select an entire bar, or multiple bars
2. Press Ctrl+Del
3. (watch as nothing happens)

**Expected behavior**
Ctrl+Delete should work identically to Ctrl+Backspace. (I assume that Delete and Backspace should be interchangeable in all context

[2022-02-07 09:56] njvdberg commented on #10303
I've seen it several times. Legato melody with staccato accompanying, especially when e.g. a clarinet has to play a pizzicato violin part. In these case using system text is not correct. However a staff text with system text **style** is fine.

And as a matter of fact, I've never seen staccato or this kind remarks as rehearsal marks. But that might be because of the kind of ensembles/orchestras I'

[2022-02-07 09:58] Jojo-Schmitz commented on #10303
as far as I can tell the style for staff text and system text is identical?

[2022-02-07 10:04] DmitryArefiev commented on #10012
Tested on Win10, Mac12, LinuxMint 20.2 - FIXED in #10393

@bkunda Please check it briefly when you have time (to make sure I didn't miss anything)

Thanks!

[2022-02-07 10:04] oktophonie commented on #10303
This is about accurate import of Guitar Pro files. If the GP item is staff text, we should import it as such. If it's a system marking, we should import it as such, and so on. Whether or not we have an opinion about whether that item 'should' be of a different type is not really relevant in this context. That said, it's not really that uncommon to have system-wide performance directions (Staccato,

[2022-02-07 10:19] sammik commented on #10440
I think, contex menu is context dependent, so it is different, when is selected single note, different, if is selected measure, ...
But every different menus have shared "copy paste" block / list, which cantains "Cut, Copy, Paste, Swap with clipboard, Delete"

1) should Measure Context menu share this block too (but modified), or can have its own ad hoc items list? (it is question more for porgram

[2022-02-07 10:31] #8443 closed

[2022-02-07 10:54] bkunda opened #10477 "[MU4 Issue] Mixer and timeline should be tabbed by default, and height adjustment interaction needs fixing"
**Describe the bug**
Opening the timeline before the mixer stacks the two panels rather than tabbing them together.
There is also some glitchy interaction when resizing these panels vertically.

See this video:
(N.B: In the video, when I say "docked" by default, I actually mean "tabbed". Docking is already working as default behaviour).
https://www.dropbox.com/s/fx3jlv5ny2ewfwz/mixer-timeline-dock

[2022-02-07 11:00] #10012 closed

[2022-02-07 11:43] rzvxa commented on #10465
@HemantAntony
I'm not sure if it's specifically caused by doing it too fast, I've tried doing what you did and still no chance with reproducing it.
First i did it manually like you did(using shortcuts)

https://user-images.githubusercontent.com/3788964/152780510-7c3c07b4-6675-49de-a153-c6e63170533c.mp4

But i thought maybe I'm doing it too slow so i also did it via a macro recorder

https://user-i

[2022-02-07 12:56] DmitryArefiev opened #10478 "[MU4 Issue] Parts always stay opened as tabs"
**To Reproduce**
Steps to reproduce the behavior:
1. Open score
2. Open some parts
3. Close parts
4. Save and close score
5. Reopen score - **Parts are still opened as tabs**

https://user-images.githubusercontent.com/90187801/152791974-8a2b7f78-b0a9-4bfa-8f34-1570fe4050b8.mp4

**Expected result**
Score should save the state how many tabs/parts (and which parts) are opened

**Platform information*

[2022-02-07 14:18] HemantAntony commented on #10465
Hey, I was busy. I have attached the log.
![#10465 2](https://user-images.githubusercontent.com/88136054/152804836-e3cf8566-531f-4355-a5cc-5ef0f906aad6.jpg)

![#10465 3](https://user-images.githubusercontent.com/88136054/152804848-b4666c7b-ec2e-4682-8901-e85c3b820b79.jpg)

![#10465 4](https://user-images.githubusercontent.com/88136054/152804853-b0b954a6-e89f-45ed-abb9-1845865cf16c.jpg)

I used MSV

[2022-02-07 14:22] Jojo-Schmitz commented on #10465
If you're in MSVC, can't you run it in debug and get a stack trace? And from there reproduce where it goes wrong?

[2022-02-07 14:36] HemantAntony commented on #10465
I'm a bit new at this. I thought stack trace meant the log, which I just learned isn't. But what @cbjeukendrup said makes sense. I saw in the application log that the instruments were just being loaded. I suspected it was probably this

[2022-02-07 14:43] HemantAntony commented on #10465
Me too under debug. But, if that's true, then ironically I seem to have found another crash

[2022-02-07 15:00] DmitryArefiev opened #10480 "[MU4 Issue] Score position should not change when clicking with mouse Text, Lines, Slurs, Text frames which are partially out-of-view"
Score position jumps now when clicking with mouse Text, Lines, Slurs, Text frames which are partially out-of-view - **it distracts from work**

https://user-images.githubusercontent.com/90187801/152813096-9d020631-4086-4033-a229-d2e9747420aa.mp4

**Expected behavior**
Should be the same as in **MU3**

**Platform information**
macOS, Windows, Linux

**Additional context**
Doesn't occur in MU3

[2022-02-07 16:15] DmitryArefiev commented on #9079
@cbjeukendrup You're right, doesn't occur now. Thanks for checking!

Tested on Win10, Mac12, LinuxMint 20.2 - FIXED

Closing

[2022-02-07 16:16] #9079 closed

[2022-02-07 17:08] DmitryArefiev commented on #9079
@HemantAntony  Ohhh.. yeah! Sorry!

[2022-02-07 17:11] alexpavlov96 opened #10481 "[MU4 Task] fix trill and wah import in new import version of guitar pro files"
**Task description**
fix trill and wah import in new import version of guitar pro files

[2022-02-07 17:34] MarcSabatella commented on #10476
I agree Ctrl+Delete is the expected shortcut here.  But just one minor point of clarification - for historical reasons, these are usually independent shortcuts, and in note input mode specifically, they do different things.  Delete is delete, Backspace has generally been an alias for undo.  Not saying this should necessarily be taken forward, but probably we should take a look at the bigger pictur

[2022-02-07 18:23] MarcSabatella opened #10484 "[MU4 Issue] "I" shortcut for instruments window does not work"
I'm on Linux, but I suspect this is not platform independent, and related more to the change in the implementation of the Instruemnts window from a dialog to a tabbed window.

"I" has always been the shortcut to open this window, and it still shows in the shortcuts list.  But, it isn't hooked up to the current tabbed window; it doesn't nothing.

This is a fairly significant usability issue, in tha

[2022-02-07 18:57] cbjeukendrup opened #10485 "[MU4 Task] Implement "How would you like to save?" dialog"
**Task description**
Implement dialog that asks the user whether they want to save on Musescore.com or locally. This dialog will only appear the first time the user tries to save a document.
!["How would you like to save?" dialog](https://user-images.githubusercontent.com/48658420/152778918-42027b0a-6f01-4b69-bb1c-53c3c364f8e4.png)

[2022-02-07 18:58] MarcSabatella commented on #10461
My expectation until it is explained otherwise is that it works as in MU3 - single click selects, double click edits, drag can be initiated whether the element is current selectly selected or not.

I think what is actually happening is that when not doing a drag,clicking a text element that is already selected puts it in edit mode.  I'm not crazy this as it often causes me to mess up a selection I

[2022-02-07 19:19] Tantacrul commented on #10440
I have two minor changes (now that I see it). The first two look good.

For the final image, I'd put 'delete measures' above 'clear measures' and I'd remove the trash can icon from 'clear measures' too!

Thanks!

[2022-02-07 19:49] rzvxa commented on #10465
@HemantAntony I can reproduce it under debug, turn out my playback wasn't working right(it was searching for it's sounds in wrong directory). so now that i sorted that out i can consistently reproduce it.

@vpereverzev is it possible that you assign this task to me? I'm looking forward to join the core team for building mscore4, I'm already working on it and making progress.

[2022-02-08 07:47] #10481 closed

[2022-02-08 07:49] #10382 closed

[2022-02-08 09:25] DmitryArefiev commented on #9350
@HemantAntony Thanks for checking! Yes, no longer occurs on my side as well.

[2022-02-08 09:25] DmitryArefiev commented on #9350
Tested in the latest master on Win10, Mac12, LinuxMint 20.2 - FIXED

Closing

[2022-02-08 09:25] #9350 closed

[2022-02-08 10:56] DmitryArefiev opened #10489 "[MU4 Issue] Additional Score Information>Time Signature>Popup elements are cut off"
**To Reproduce**
1. Go to Create New Score>Next>Additional Score Information>Time Signature

![TS](https://user-images.githubusercontent.com/90187801/152972827-50d39c37-3baf-4e81-8c04-02d96f071c93.png)

**Platform information**
 macOS, Windows, Linux

**Additional context**
Broken recently

[2022-02-08 11:53] DmitryArefiev opened #10490 "[MU4 Issue] Spacing within measure is braking after changing minimum measure width value in Style settings"
**To Reproduce**
1. Open a score
2. Go to **Style**>**Measure** and change **Minimum measure width**

![Capture](https://user-images.githubusercontent.com/90187801/152981641-993ed2ec-9bcf-4b75-b0a5-e9d297918268.PNG)

https://user-images.githubusercontent.com/90187801/152981868-2948fbd2-3d71-4e36-aa3d-58bc5471176d.mp4

**Platform information**
macOS, Windows, Linux

**Additional context**
Broken re

[2022-02-08 12:32] alexpavlov96 opened #10491 "[MU4 Task] [GP] fix arpeggio import"
**Task description**
Arpeggio was shown differently in new version of import
Add stretching of arpeggio sound

Expected result:
![Screenshot 2022-02-08 at 15 32 13](https://user-images.githubusercontent.com/24373905/152987690-fdde0bc1-bfc4-4886-bc60-5759c0580528.png)

[2022-02-08 12:44] cbjeukendrup commented on #10489
I think it has to do with PR #10162. This PR sets `clip: true` on StyledFlickable etc., and RadioButtonGroup now uses StyledFlickable, but did not have `clip: true` in the past. Therefore, it is now clipped while it shouldn't be.

Obviously, one solution would be to set `clip: false` in RadioButtonGroup.qml. But I believe I have seen more cases where clipping is not desired (unfortunately, I don't

[2022-02-08 13:17] DmitryArefiev commented on #9929
@bkunda Hi, can you check this in Windows build from #10285?

On my side, the score looks a bit blurry on 125% and 150% (Win10)

Thanks!

[2022-02-08 14:32] DmitryArefiev opened #10493 "[MU4 Issue] "Do you want to save.." dialog popup animation has some glitches on Linux"
**Describe the bug**
This related to changes from #10069
Some glitches are still noticeable on Linux

See video (the 2nd case)

https://user-images.githubusercontent.com/90187801/153007827-1c4dcc7e-9ffd-4456-9c58-456a1feea72e.mp4

**Platform information**
Linux Mint 20.2

**Additional context**
Doesn't occur on Mac and Win

[2022-02-08 14:55] DmitryArefiev opened #10494 "[MU4 Issue] MU4 starts take a lot of CPU if to launch it together with MU3 (Win10)"
**To Reproduce**
1. Run MU4
2. Run Task Manager and notice how much of CPU it takes (about 1-5%)
3. Run MU3 (3.6.2)
4. Notice how much of CPU MU4 takes now (it's about **40-50%**)

https://user-images.githubusercontent.com/90187801/153012557-3a504b1e-81ea-469a-b53a-3e6b9f1decba.mp4

**Platform information**
Windows 10, no additional audio device

**Additional context**
Noticed only on **Windows**

[2022-02-08 15:01] DmitryArefiev commented on #10494
@bkunda @jessjwilliamson Hi! Can you check this on your Windows machine please?

I just wonder if that only my environment or not.

Thanks!

[2022-02-08 16:04] RomanPudashkin opened #10495 "[MU4 Task] Implement export to remaining audio formats"
Export to these formats is not yet available:
* MP3
* WAV
* FLAC
* OGG

[2022-02-08 16:18] Jojo-Schmitz commented on #10495
MusicXML and MIDI works, for me at least, MP3 and WAV does not

[2022-02-08 16:22] #10434 closed

[2022-02-08 16:43] njvdberg opened #10496 "[MU4 Issue] Crash on selecting multiple brackets"
**Describe the bug**
If a bracket is selected, trying to add another bracket to the selecting crashes MU4.

**To Reproduce**
Steps to reproduce the behavior:
1. Create a new score using the `Classical Orchestra` template.
2. Select a bracket, e.g. the one grouping the woodwind section.
3. Extent the selection by control click on another bracket, e.g. the one grouping the brass.
4. MU4 crashes.

**

[2022-02-08 16:45] sammik opened #10497 "[MU4 Issue] Custom Key Signatures scaling bug"
**Describe the bug**
When Line DIstance is changed, Accidentals in custom key signature douesnt adapt it, are misplaced.

**To Reproduce**
Steps to reproduce the behavior:
1. Create Custom Key Signature
2. Add it to score
3. Change Staff Properties - Line Distance
4. Accidentala are misplaced

**Expected behavior**
Accudentals should adapt their positions.

**Screenshots**
![Key_Signature_Accident

[2022-02-08 17:25] Jojo-Schmitz commented on #10497
Probably affects MuseScore 3 too, right?

[2022-02-08 18:58] oktophonie opened #10498 "[MU4 Issue] 'Automatic spacing' checkbox has no effect on score migration"
**Describe the bug**
When opening a pre-MU3.0 file, checking the 'Automatic spacing' box in the Style Improvements dialog should turn on autoplace and reset offsets for all items.

<img width="325" alt="image" src="https://user-images.githubusercontent.com/20604032/153055745-e9189a1d-8b35-492f-8382-3d33512e8d87.png">

This is currently seems to have no effect in MU4 (i.e. the result is the same wh

[2022-02-08 19:18] oktophonie opened #10499 "[MU4 Task] Implement score migration routine for scores from previous versions being opened in MU4.0"
Implement score migration routine for **all** scores from previous versions being opened in MU4.0.

This list of changes is non-exhaustive but is quite enough to start with :)

- [ ] Ensure `beamDistance` is mapped to `useWideBeams` (`true` if `beamDistance` is nearer 1.00 than 0.75, otherwise `false`, which is the default; see [this commit](https://github.com/musescore/MuseScore/commit/f7a2a5a97d

[2022-02-08 22:59] alexpavlov96 opened #10501 "[MU4 Task] [GP] fix fingering import"
**Task description**
Left fingering should have different symbols than right fingering
Fingering is shown in lower case letters

[2022-02-09 06:14] bkunda commented on #10494
@DmitryArefiev yes I have the same issue. It went up to ~31%, then hit as high as ~54%, then went back into the 30s. Pretty strange!

[2022-02-09 06:37] bkunda commented on #9929
@DmitryArefiev it seems pretty clear on my 4k monitor, and the scaling now appears to work correctly.
There is some fuzziness when I move the app to my native laptop display, but no more fuzziness than usual (I think this has more to do with my crappy Asus laptop monitor than anything else 😅).

[2022-02-09 09:29] #10501 closed

[2022-02-09 10:37] DmitryArefiev opened #10505 "[MU4 Issue] Wrong OK/Save/Yes buttons order in dialogs on Windows (uses Mac style)"
**Describe the bug**
MU4 windows builds now using **Mac style** for OK/Cancel buttons order in dialogs.
It should be changed to Windows style - **OK/Save/Yes buttons should be from the left side**

**MU4:**

![MU4](https://user-images.githubusercontent.com/90187801/153180975-a6906589-6ad5-49d1-843b-928ce92d4f53.PNG)
![MU4 2](https://user-images.githubusercontent.com/90187801/153180983-dc8fdaa6-058

[2022-02-09 10:44] Jojo-Schmitz commented on #10505
I believe this doesn't happen in MU3 because it got fixed there, some time after 3.x got split off of master

[2022-02-09 11:18] vihaanthora commented on #10505
Hello @DmitryArefiev, I wanted to know if this is the case with every dialog in MU4 or just the ones that you have shown as examples in the issue?
Thank you

[2022-02-09 11:58] cbjeukendrup commented on #10505
There is generally no handling for the different order on Windows. So it will be wrong in all dialogs.

[2022-02-09 12:01] Jojo-Schmitz commented on #10505
Well, that depends on how the dialog is made. Only those using OK, CANCEL etc. buttons directly rather than a QDialogButtonBox have it potentially wrong (from the back of my head, might not be 100% correct)

[2022-02-09 12:03] cbjeukendrup commented on #10505
Ah, yes, dialogs in QWidgets that are using QDialogButtonBox will be correct. But other QWidget dialogs and in all QML dialogs, it will be wrong.

[2022-02-09 12:07] Jojo-Schmitz commented on #10505
See https://github.com/musescore/MuseScore/commit/c9bea539e9aa0bbd888be2520deee9736e02b0e9, which fixed this in 3.x

[2022-02-09 12:15] DmitryArefiev opened #10508 "[MU4 Issue] When 'Continue last session' option is enabled, app should not show Home page on start"
When 'Continue last session' option is enabled, app should not show Home page on start - **the Home page appears for a second before the score opens**

https://user-images.githubusercontent.com/90187801/153199118-8d4f3d9d-8e25-4b8a-9d40-8d39e6b21256.mp4

**Platform information**
macOS, Windows, Linux

**Additional context**
Doesn't occur in **MU3**

[2022-02-09 12:17] jessjwilliamson commented on #10494
It depends on how powerful your computer is. Mine is pretty powerful so it hardly touched anything for me. I wonder if you have some logfiles stored that needs cleaning which is a known issue for Windows.

[2022-02-09 12:22] Jojo-Schmitz commented on #10494
Not for me either, 4% CPU load and none of the cores busy:
![image](https://user-images.githubusercontent.com/1786669/153200182-fc59d14b-76ed-405b-9836-2f624fa90c0e.png)

[2022-02-09 12:36] Jojo-Schmitz commented on #10505
Score properties is amongs those I fixed for 3.x ;-)

[2022-02-09 13:04] DmitryArefiev opened #10510 "[MU4 Issue] Adding measures to the end with Ctr/Cmd+B should not take focus and change score position"
**Describe the bug**
In the recent MU4 builds, the score position changes when adding bars at the end of score with **Ctr/Cmd+B** shortcut because it takes focus on that area.
That **can be annoying when user adding a notes at the beginning of score**.

This behavior was introduced recently in latest builds.

https://user-images.githubusercontent.com/90187801/153206401-231b04b9-5985-491d-a7ff-1212

[2022-02-09 13:46] njvdberg commented on #10475
Solved by PR #10506

[2022-02-09 16:58] DmitryArefiev opened #10514 "[MU4 Issue] Hard to grab some slur grips with mouse"
**Describe the bug**
Hard to grab some slur grips (handles) with the mouse

https://user-images.githubusercontent.com/90187801/153250691-e6e1fb55-1712-4f80-947d-4a82444ff006.mp4

**Platform information**
 - OS: [e.g. macOS, Windows, Linux]

[2022-02-09 17:56] cbjeukendrup commented on #10510
I would actually like this behaviour, because it makes clear to the user that the measures are added.
Also, in practice, I don't expect users will not often want to add bars to the end of the score while working at the beginning of the score. Or do I miss something and is that a common use case?

[2022-02-09 23:33] sammik opened #10517 "[MU4 Task] KeySym refactor"
**Task description**
Remove `KeySym` members  `pos` and `spos`, and instead of them, add
[code]
Why?
`pos` and `spos` are "visual" members (spos.y depends on line distance), so same Key Signature had different Key Symbols spos values in different staff settings.
In custom key signatures, spos was (incorrectly) used as "logical" member instead, which caused visual bug #10497 in staffs with altered

[2022-02-10 04:55] vihaanthora commented on #10489
Hi, can I work on this issue?
P.S. I am quite new to the MuseScore code base and might require some assistance to get started, but believe that this issue is a good way to get started :)
Thank You

[2022-02-10 06:34] duanjr commented on #10440
oops! I didn't notice @iamjithinjohn  is working on this, I noticed this issue this morning and I found no pr is linked to this issue (just looking from outside), so I just worked on it and notice discussions above just after my pr. Really sorry for my mistake.

[2022-02-10 06:45] duanjr commented on #10489
[cbjeukendrup](https://github.com/cbjeukendrup) had shown it clearly. But one more thing to notice is that: RadioButtonGroup uses StyledListView, instead of StyledFlickable.

[2022-02-10 10:06] njvdberg commented on #10484
I'm on Linux too but I can't reproduce this issue. Pressing "I" does pop up the instruments window. Also F8 and F9 work as expected.
However I must admit, I'm not using a nightly build but my own build (debug) version.

[2022-02-10 10:13] njvdberg commented on #10410
Is working now.

[2022-02-10 10:13] #10410 closed

[2022-02-10 10:36] vpereverzev opened #10520 "[MU4 Task] [BACKEND] Pre-built binaries MU3"
**Task description**
Create a separate workflow on GitHub-Actions to provide a .zip archive with pre-built binaries

[2022-02-10 10:47] vpereverzev opened #10521 "[MU4 Task] [BACKEND] Transfer video export"
**Task description**
Transfer video export and provide an API method for CLI mode

[2022-02-10 10:51] DmitryArefiev commented on #10289
Tested on Win10, Mac12, LinuxMint 20.2 - FIXED in #10266

[2022-02-10 11:42] DmitryArefiev opened #10522 "[MU4 Issue] Changing Score properties settings doesn't make score dirty and some fields don't save"
**Describe the bug**
1. Changing Score properties settings doesn't make score dirty (see video to compare with MU3)

2.  Some fields don't save - **workTitle** and **creationDate**. If they shouldn't be editable then should be greyed out

https://user-images.githubusercontent.com/90187801/153402027-eb069153-7491-41bb-97d6-d6cd9aaed78a.mp4

**Platform information**
macOS, Windows, Linux

**Addition

[2022-02-10 12:05] sammik commented on #10522
Possibly related info at forum.
https://musescore.org/en/node/327924#comment-1110792

[2022-02-10 13:12] #10449 closed

[2022-02-10 13:13] DmitryArefiev commented on #10449
Tested on Win10, Mac12, LinuxMint 20.2 - FIXED in #10515

[2022-02-10 13:26] DmitryArefiev opened #10525 "[MU4 Issue] Unable to extend slur to the next system after selection (using shortcut)"
**Describe the bug**
The same behavior in MU3 because the middle grip is selected and not the right end, but it can be improved.

**To Reproduce**
1. Select slur with mouse
2. Using shortcut Shift+Right, try to extend slur to the next system

https://user-images.githubusercontent.com/90187801/153417352-922951c8-884c-469b-b2ea-4b738dcf9060.mp4

**Platform information**
macOS, Windows, Linux

**Addi

[2022-02-10 13:30] Jojo-Schmitz commented on #10522
I disagree on `creationDate` being readonly. Needed when importing a file, which sets the creatinDate to the import date (as thatr is whxn this score gets created) rather than the creation date of the imported file, so may need to get corrected

[2022-02-10 13:35] cbjeukendrup commented on #10522
Then we either need to come up with a decent date picker instead of just a textfield, or we should always treat it as plain text rather than trying to parse it as an ISO date (see [src/project/internal/notationproject.cpp:651](https://github.com/musescore/MuseScore/blob/37f1382e992cd23f395c5a766e580a3e76e7265c/src/project/internal/notationproject.cpp#L651) and [src/engraving/libmscore/page.cpp:463

[2022-02-10 13:51] Jojo-Schmitz commented on #10522
Either way is fine by me.

[2022-02-10 14:06] Tantacrul commented on #10510
I have no issue with repositioning when you add measures to a page you are not currently looking at.

However, I agree with the general opinion that we should avoid too much automatic movement. In MuseScore 3, I felt it was too jumpy and often found myself being bumped to a part of the score I wasn't interested in. Specifically, I'd be adding notes to the end of one system and MuseScore would jump

[2022-02-10 16:12] DmitryArefiev commented on #10514
Tested on Win10, Mac12, LinuxMint 20.2 - FIXED

[2022-02-10 16:20] njvdberg commented on #10034
Solved by PR #10526

[2022-02-10 16:37] DmitryArefiev commented on #10510
@bkunda @Tantacrul Make sense! Let's close it then. Thanks!

[2022-02-10 19:23] #10498 closed

[2022-02-10 19:37] #9070 closed

[2022-02-10 19:41] njvdberg opened #10528 "[MU4 Issue] Crash if position measure numbers is changed."
**Describe the bug**
A short and clear description of what the bug is.

**To Reproduce**
Steps to reproduce the behavior:
1. Create a score, e.g. grand staff.
2. Open the `Measure Numbers` page (menu -> Format -> Style..., select `Measure Numbers`.
3. Change `Vertical placement` into `Below`
4. MuseScore crashes.

**Expected behavior**
No crash, measure numbers placed below the staff.

**Screensho

[2022-02-10 20:07] #10528 closed

[2022-02-11 07:32] njvdberg opened #10530 "[MU4 Issue] Crash if measure number is placed below the staff"
**Describe the bug**
A short and clear description of what the bug is.

**To Reproduce**
Steps to reproduce the behavior:
1. Create a new score (e.g. a single treble clef).
2. Open the style editor (menu: Format -> Style...) and select the `Measure Numbers` page.
3. Select `Interval` (leave the count to the default '5'). Now a measure number is shown at the top of the staff, every 5 bars.
4. Chang

[2022-02-11 07:33] njvdberg commented on #10530
Oops, duplicate of #10528

[2022-02-11 07:33] #10530 closed

[2022-02-11 09:47] oktophonie opened #10532 "[MU4 Issue] Note stem length field value does not update when stem handle is dragged"
**Describe the bug**
When adjusting the length of a stem by dragging the handle, the stem length field in the in the Properties panel does not update.

**To Reproduce**
Steps to reproduce the behaviour:
1. Select a note stem
2. Switch to the Properties panel if necessary, and ensure 'Show more' has been clicked (under 'Note -> Stem') so that the Length field is visible
3. Drag the handle of the no

[2022-02-11 09:53] oktophonie opened #10533 "[MU4 Issue] In the Instruments panel, Delete/Backspace should delete staves"
**Describe the bug**
In the Instruments panel, Delete or Backspace should delete selected instruments or staves, but currently have no effect.

**To Reproduce**
Steps to reproduce the behaviour:
1. Open the Instruments panel
2. Select an Instrument (or a stave belonging to an instrument) in the panel
3. Press Delete or Backspace
4. (Nothing happens)

**Expected behaviour**
The instrument or stave

[2022-02-11 10:14] #10510 closed

[2022-02-11 12:04] bkunda opened #10537 "[MU4 Issue] Drumset tools panel appears on startup"
**Describe the bug**
The "Drumset Tools" panel appears at the bottom of the score window when starting up the latest nightly build:

<img width="1152" alt="Screenshot 2022-02-11 at 10 56 13 pm" src="https://user-images.githubusercontent.com/86290556/153587993-3c961fd7-9512-47a0-8c6f-0bb1bed3fddd.png">

**To Reproduce**
Steps to reproduce the behavior:
1. As a precaution, click "Reset Preferences"

[2022-02-11 12:14] bkunda opened #10538 "[MU4 Issue] Palette icons from `musescoreicon` are not scalable"
**Describe the bug**
A number of palette elements are taken from the `musescoreicon` font, rather than being rendered in Qt Paint.
These icons currently don't respond to palette properties adjustments, including most critically, scaling.

Several of the icons in question include...
These ones:
<img width="296" alt="Screenshot 2022-02-11 at 11 10 27 pm" src="https://user-images.githubusercontent.co

[2022-02-11 12:29] bkunda opened #10539 "[MU4 Issue] Palette properties become frozen for previously-opened palettes when adding a new palette"
**Describe the bug**
Please see this video:

https://user-images.githubusercontent.com/86290556/153591397-def6fbfa-8039-4690-9d60-1db7fab20a07.mov

**Expected behavior**
Changes to palette properties should work for all palettes, regardless of whether a new palette has been added

**Platform information**
 - MacOS 12.1 (M1)
 - Windows 11

[2022-02-11 12:34] bkunda opened #10540 "[MU4 Issue] `Delete` and `Backspace` should hide palette elements and entire palettes"
**Describe the bug**
In MS3.6, `backspace` hides individual palette items as well as entire palettes.

![delete-backspace-palettes](https://user-images.githubusercontent.com/86290556/153592092-4cfae141-4e36-423a-97ac-bae0669830eb.gif)

This currently does not work in MS4.

**Expected behavior**
We would actually like **both** `backspace` AND `delete` to hide individual palette items as well as ent

[2022-02-11 13:08] DmitryArefiev opened #10541 "[MU4 Issue] Other than MSCX/MSCZ file formats don't show in Recent scores list (MIDI, MXL, GP etc.)"
**To Reproduce**
1. Open **MIDI** or **GP** or **MXL** or other supported my MU files
2. After closing, they should appear in **Home>Scores** and **File>Open recent**

https://user-images.githubusercontent.com/90187801/153596847-1a103eb3-69b2-432e-bef0-71b550bf8bcc.mp4

**Platform information**
macOS, Windows, Linux

**Additional context**
Doesn't occur in **MU3**

[2022-02-11 13:13] DmitryArefiev commented on #8241
Tested on Win10, Mac12, LinuxMint 20.2 - FIXED in #10473

[2022-02-11 13:13] DmitryArefiev commented on #9189
Tested on Win10, Mac12, LinuxMint 20.2 - FIXED in #10473

[2022-02-11 13:15] #8241 closed

[2022-02-11 13:23] oktophonie commented on #10395
10sp would be a reasonable new default. However, changing this should wait until the fix for #10490 (i.e. PR #10511) is completed.

[2022-02-11 13:37] DmitryArefiev opened #10542 "[MU4 Issue] Crash after adding Figured bass"
**To Reproduce**
1. Select note
2. Enter Figured bass mode (with Ctr+G shortcut or with Add>Text>Figured bass)
3. Type something

https://user-images.githubusercontent.com/90187801/153601104-a835955c-849e-4974-a7f5-592fcf4e86da.mp4

**Platform information**
macOS, Windows, Linux

[2022-02-11 14:27] DmitryArefiev commented on #10494
@jessjwilliamson @Jojo-Schmitz Thanks for checking!

I've tested this issue on another laptop with Windows 11 (but with less power processor) and still have that strange behavior. So definitely that could be an issue for other users with not powerful computers.

(Tried to clean MU log files - nothing changes)

[2022-02-11 14:27] rzvxa commented on #10465
@vpereverzev  I'm working on it, give me a few days, There are 5 dangling shared_ptr s of `MasterNotation ` class so it's not getting destructed (and therefore Those events are getting invoked after `NotationProject` is destructed).
I'm new to this project had to follow every symbol to get familiar with the structure of the project and with little time i had in past couple of day i only found one

[2022-02-11 14:34] sammik commented on #10478
Also, parts stay open, even if user removes instruments from score.

![score-parts-bug](https://user-images.githubusercontent.com/1646034/153610483-34a3795c-a08c-4243-b617-25f7d814469c.gif)

[2022-02-11 14:35] DmitryArefiev commented on #9929
Thanks for checking!

Probably that occurs only on FullHD displays. I've connected an external full HD monitor to my laptop and still have that blurry thing on 125/150.

[2022-02-11 14:39] Jojo-Schmitz commented on #10494
If there were a performance issue, I'd have expected at least one core to be at or near 100% load. Doesn't matter too much if you have 24 of them (a mere 2.4%), but certainly hurts if you have just 2 (50%) or 4 (25%)

[2022-02-11 14:41] RomanPudashkin commented on #10465
@rzvxa I strongly discourage you from fixing this crash. The audio system (including MasterNotationMidiData, which causes this crash) will be significantly redesigned soon

[2022-02-11 14:44] cbjeukendrup commented on #10478
I think that's basically fine; then the parts that contained only those instruments become just empty parts. Note that these "parts" (in the code they are called `Excerpts`) are different things than "Instruments" in the Instruments panel. There is no 1:1 relation between parts (`Excerpts`) and instruments, so it is not self-evident that parts should be deleted and closed when instruments are dele

[2022-02-11 14:56] rzvxa commented on #10465
@RomanPudashkin Thanks for quick reply, what will happen to `IMasterNotation `class itself? because it may leaking in other places too, i suspect there is one leak in `NotationSwitchListModel::listenNotationSavingStatus` function where it passes `MasterNotation` shared_ptr (inside a lambda capture) to `MasterNotation::needSave()` causing a cycling shared_ptr which can be fixed with capturing a wea

[2022-02-11 15:04] RomanPudashkin commented on #10465
@rzvxa nothing will happen to this class :) If you find any memory leaks related to it, you can try to fix them

[2022-02-11 15:39] #10542 closed

[2022-02-11 15:53] MarcSabatella commented on #10395
I recall having a discussion about this before, but am not sure where.  My concern remains, if we make the default in new scores larger so they look better immediately upon score creation, that means the occasional empty measure will also be larger in complete scores.  And I'm not sure we really want that.  Earlier we discussed ways around this - ways to make completely empty systems spread out wh

[2022-02-11 17:36] #10475 closed

[2022-02-11 17:36] #10496 closed

[2022-02-11 18:07] DmitryArefiev opened #10548 "[MU4 Issue] When editing bracket in Properties, span values should be limited"
**Describe the bug**
When editing bracket in Properties, span min/max values should be limited to 1 and the remaining staves (should be limited by bottom staff)

https://user-images.githubusercontent.com/90187801/153645615-254555b9-1008-4f23-a585-c8e83405c69e.mp4

**Platform information**
 macOS, Windows, Linux

[2022-02-11 20:15] njvdberg commented on #10548
It is better the limit the maximum value to the **remaining** staves, not the number of staves.
If in this example the bracket starts at the second staff (Violin II), the maximum should be 3, not 4.

[2022-02-11 20:26] njvdberg commented on #10034
@DmitryArefiev Oops, I guess this is "n-1"/"n" discussion above which I missed in the implementation :worried:
I'll update #10526 for this.

[2022-02-11 22:03] MarcSabatella commented on #10484
OK, and now it is bringing up the separate window for me as well.  But, it's the separate window, not the Instruments tab in the left sidebar.  So, still no easy way to close that via keyboard, unless I'm missing something.

[2022-02-11 23:29] RobFog commented on #10484
I would argue simple letters shouldn't be used as shortcuts without additional keys such as ctrl. They are too easily clicked.

I know many people who were confused about what happened when they first accidentally pressed "m", the keyboard shortcut for multi-bar rests MuseScore 3 and earlier.

[2022-02-11 23:52] MarcSabatella commented on #10484
I agree having a single-key shortcut for "M" was a bad idea, since most people should almost never need to press it all given they are enabled in parts by default.  Also adding or removing instruments to a score hardly the most common operation, not after you're more than a few minutes into it.  But I couldn't bear for note input mode not to be toggled by a simple key, or need to use a modifier to

[2022-02-12 00:02] RobFog commented on #10484
Agreed.

Yeah, those are good exceptions to the rule. Activating note input mode doesn't change the score so that's fine. For durations and pitches it's obvious enough to see what is happening when pressing the keys.

Yep.

[2022-02-12 14:15] sammik commented on #10478
OK, that makes sense. Than why parts are deleted, if they are not already open?

![Score-parts](https://user-images.githubusercontent.com/1646034/153714815-364c34b0-a25a-41be-9e2d-6ccc0b6e0545.gif)

[2022-02-12 19:14] njvdberg commented on #10034
@DmitryArefiev I had a closer look and for the piano you are right. But what should be the expected behavior for the organ.
The issue is, added staves are always added as the last staff. For the organ this means, unless the pedal staff is delete by the user already, adding an extra pedal staff which is most unlikely what a user wants.

Now I'm not sure how to solve this since there are several opt

[2022-02-12 19:23] oktophonie commented on #10034
4 would be easiest I suppose ;)

3 sounds nice and provides more flexibility for this procedure in general, though I worry that it might cause behaviour that feels unpredictable. I imagine @Tantacrul will have a view here. I wonder if it would be better for the new stave to always appear _after_ the selected stave(s), or if nothing is selected (or the whole instrument is selected) then it is added

[2022-02-12 20:53] Tantacrul commented on #10034
I can't immediately think why it would be bad to automatically place a newly created stave **above** a selected stave but I can't imagine if it would cause weird issues elsewhere... or just be quite undiscoverable. I can't help but think that no matter which way you do it, loads of folk would still end up dragging them to where they need to be.

That said, I think this proposal (mentioned above) i

[2022-02-12 20:57] Tantacrul commented on #10034
@njvdberg's option 3 does not seem weird to me. I think that would feel OK. can't be sure... but it'd be worth a try,

[2022-02-13 09:03] njvdberg commented on #10034
@oktophonie Option 4 is certainly the easiest  and of course the one I prefer :smile:
There is one simple reason I propose the add the new staff in option 3 **above** the selected staff. When adding the new staff **below** the selected staff, there are 2 ways to add the staff at the end (select the last staff or don't select any staff, in which case the staff is added to the end). But there is not

[2022-02-13 10:10] Tantacrul commented on #10034
@njvdberg - sounds good!

[2022-02-13 19:17] njvdberg commented on #9301
Seems to be solved in the latest master.

[2022-02-13 19:30] #9782 closed

[2022-02-13 19:31] #9301 closed

[2022-02-13 19:33] #10360 closed

[2022-02-13 23:07] cbjeukendrup opened #10556 "[MU4 Task] Opening files from previous major versions should be handled as import"
**Task description**
When opening a file from MuseScore 1, 2, or 3, it should be handled as if the file is imported from other file formats. This way, the user will either have to confirm that they want to override the old file, or select a new location. Together with the "Migration" dialog when opening a score, this will help making the user aware that they are potentially overriding the old file

[2022-02-13 23:23] cbjeukendrup opened #10557 "[MU4 Task] Implement "Save to cloud" dialog"
**Task description**
1. Implement ui for "Save to cloud" dialog
    <img width="548" alt="Schermafbeelding 2022-02-14 om 00 19 41" src="https://user-images.githubusercontent.com/48658420/153779736-8075f1b1-1735-4a0a-a589-3ea4e0721b89.png">
2. When the user is not logged in, display a popup instead, that lets the user sign in via OAuth, and then shows the "Save to cloud" dialog.

[2022-02-14 06:52] mattblo commented on #10538
related with [#9292](https://github.com/musescore/MuseScore/issues/9292). Should I rather close my issue so that only one is open?

[2022-02-14 07:40] njvdberg commented on #10034
I'll give a go, watch this space :smile:

[2022-02-14 08:06] #10320 closed

[2022-02-14 08:20] DmitryArefiev commented on #10542
Tested on Win10, Mac12, LinuxMint 20.2 - FIXED

[2022-02-14 08:57] #10514 closed

[2022-02-14 09:42] RomanPudashkin commented on #8460
No longer relevant, see:
https://github.com/musescore/MuseScore/pull/10487
https://github.com/musescore/MuseScore/pull/10479
https://github.com/musescore/MuseScore/pull/10509

[2022-02-14 09:42] #8460 closed

[2022-02-14 09:43] RomanPudashkin commented on #10351
No longer relevant, see:
https://github.com/musescore/MuseScore/pull/10487

[2022-02-14 09:43] #10351 closed

[2022-02-14 09:45] RomanPudashkin commented on #10183
See https://github.com/musescore/MuseScore/pull/10479

[2022-02-14 09:45] #10183 closed

[2022-02-14 09:47] RomanPudashkin commented on #8322
See https://github.com/musescore/MuseScore/issues/10495

[2022-02-14 09:47] #8322 closed

[2022-02-14 11:08] DmitryArefiev commented on #9995
@igorkorsukov @vpereverzev I can reproduce it in master build. The issue reproduces only in Input mode

https://user-images.githubusercontent.com/90187801/153852782-e79950ea-c357-4afa-844f-af883fa550f1.mp4

[2022-02-14 12:41] vpereverzev opened #10561 "[MU4 Task] [BACKEND] Pre-built binaries MU4"
**Task description**
Create a separate workflow on GitHub-Actions to provide a .zip archive with pre-built binaries

[2022-02-14 12:42] vpereverzev opened #10562 "[MU4 Task] [BACKEND] Pre-built binaries MU2"
**Task description**
Prepare binaries for MU2 backend version

[2022-02-14 12:52] #10384 closed

[2022-02-14 12:53] alexpavlov96 commented on #10384
duplicate of https://github.com/musescore/MuseScore/issues/9106 and not connected to tabs only

[2022-02-14 12:59] #10380 closed

[2022-02-14 14:58] #10494 closed

[2022-02-14 15:56] #10537 closed

[2022-02-14 15:56] DmitryArefiev commented on #10537
Tested on Win10, Mac12, LinuxMint 20.2 - FIXED in #10546

[2022-02-14 18:41] vihaanthora commented on #10489
@cbjeukendrup, in your opinion, which would be the way to go for now; removing `clip: true` or changing it to `clip: false`? I saw [this ](https://doc.qt.io/qt-5/qtquick-visualcanvas-scenegraph-renderer.html#clipping) documentation and I think it indicates that setting clip to true should be avoided for some items if possible. Please let me know if this holds for our use case also.
Regards

[2022-02-14 19:12] cbjeukendrup commented on #10489
@vihaanthora I did not know yet about that documentation. It looks like it is okay to use clipping on items like `ListView` and `GridView`, so we're not doing something really bad. However, clipping does come with some cost, apparently.

I estimate that in most cases we _do_ want clipping, so let's keep `clip: true` in StyledFlickable, StyledListView, StyledGridView etc.. So you'd only need to add

[2022-02-14 19:14] vihaanthora commented on #10489
@cbjeukendrup Understood your point, can I make the change and send a PR?

[2022-02-14 20:07] cbjeukendrup commented on #10489
@vihaanthora Yes, that would be great!

[2022-02-15 04:36] vihaanthora commented on #10489
I have sent a PR, please check and let me know if any changes are required.

[2022-02-15 09:46] #8831 closed

[2022-02-15 10:28] #10489 closed

[2022-02-15 11:19] DmitryArefiev opened #10574 "[MU4 Issue] Templates are open not in usual style format and cause a crash after entering notes"
Case 1:
1. Open a template score
2. It's formatted not as usual - it has a template title and system breaks

After triggering Note Input mode it takes a regular view

https://user-images.githubusercontent.com/90187801/154051300-34147b47-7f6c-4b23-be6d-01f6eb1682e2.mp4

Case 2:
1. Open a template score
2. Select bar and hit **c** - it crashes

https://user-images.githubusercontent.com/90187801/1540

[2022-02-15 12:18] cbjeukendrup opened #10576 "[MU4 Issue] When creating project from template, the specified number of measures is not reflected"
**Describe the bug**
When creating a new score from a template, the number of measures specified in the New Score dialog is not reflected in the created score. Additionally, the system breaks from the template file are imported into the new score, which is not desired.
This must be a relatively recent regression.

**To Reproduce**
Steps to reproduce the behavior:
1. Open the "New Score" dialog
2.

[2022-02-15 12:31] HemantAntony commented on #10576
Reproduced on Windows

[2022-02-15 12:33] RomanPudashkin commented on #10576
This fix should help:
https://github.com/musescore/MuseScore/pull/10575

[2022-02-15 12:42] Jojo-Schmitz commented on #10576
Quesion is though whether this is really worth a warning

[2022-02-15 12:51] DmitryArefiev commented on #10574
Tested #10574 #10576 on Win10, Mac12, LinuxMint 20.2 - FIXED  in #10575

[2022-02-15 12:51] cbjeukendrup commented on #10576
I think the problem is that those template scores have a MU3 MSCX format, but MU4 is trying to read them as a MU4 MSCX format.

[2022-02-15 12:52] DmitryArefiev commented on #10576
Tested on Win10, Mac12, LinuxMint 20.2 - FIXED  in #10575 (together with #10574)

[2022-02-15 12:53] Jojo-Schmitz commented on #10576
Nope:
[code]

[2022-02-15 13:00] #10574 closed

[2022-02-15 13:00] #10576 closed

[2022-02-15 13:10] DmitryArefiev opened #10578 "[MU4 Issue] Crash after adding rests with Repeat command or adding bars to the end with shortcut holding the keys"
**To Reproduce**
1. Open a template score
2. Add a quarter rest
3. Press and hold R key

https://user-images.githubusercontent.com/90187801/154068255-ce910038-8a31-40cb-b53d-ae7acc91d882.mp4

**To Reproduce**
1. Open a template score
2. Press and hold Ctr+B

https://user-images.githubusercontent.com/90187801/154068392-7be8afd1-dad5-41ec-8f75-fd18e851061a.mp4

**Platform information**
Windows 10

*

[2022-02-15 14:47] DmitryArefiev commented on #10478
Tested on Win10, Mac12, LinuxMint 20.2 - FIXED in #10572

[2022-02-15 15:31] DmitryArefiev commented on #9228
Hello @jessjwilliamson , can check this in build from #10581 on your side (Windows) please?

Thank you!

[2022-02-15 15:32] DmitryArefiev commented on #9756
Hello @jessjwilliamson , can check this in build from #10581 on your side (Windows) please?

Thank you!

[2022-02-15 15:32] DmitryArefiev commented on #9885
Hello @jessjwilliamson , can check this in build from #10581 on your side (Windows) please?

Thank you!

[2022-02-15 16:17] DmitryArefiev commented on #10533
Tested on Win10, Mac12, LinuxMint 20.2 - FIXED in #10567

[2022-02-15 16:17] DmitryArefiev commented on #10540
Tested on Win10, Mac12, LinuxMint 20.2 - FIXED in #10567

[2022-02-16 03:41] bkunda commented on #10538
Sorry @mattblo, I usually try to check for existing issues so I don't duplicate anything. I obviously missed this one 😶.
One reasons to keep this one open and close #9292 is that this one references the layout palette, which should probably be explicitly mentioned.
Many thanks!

[2022-02-16 06:29] mattblo commented on #10538
All right! No problem, with so many open issues it's easy to miss one. I will close #9292 then.

[2022-02-16 06:30] mattblo commented on #9292
Duplicate of https://github.com/musescore/MuseScore/issues/10538

[2022-02-16 06:30] #9292 closed

[2022-02-16 10:33] #10533 closed

[2022-02-16 10:33] #10540 closed

[2022-02-16 13:45] DmitryArefiev commented on #9220
Tested on Win10, Mac12, LinuxMint 20.2 - FIXED in #10408

[2022-02-16 14:12] #10319 closed

[2022-02-16 15:05] #10578 closed

[2022-02-16 15:58] alexpavlov96 opened #10587 "[MU4 Task] [GP] fix "free text" import"
**Task description**
Fix "free text" import in new version of guitar pro import

**Expected:**
![Screenshot 2022-02-16 at 18 58 19](https://user-images.githubusercontent.com/24373905/154304917-c0c8f4bf-87b3-4da6-a71e-b9336a75e570.png)

**Current state:**
![Screenshot 2022-02-16 at 18 57 36](https://user-images.githubusercontent.com/24373905/154304457-9fe802ae-cf37-4193-b1dd-4fe7f141dde6.png)

[2022-02-16 16:21] DmitryArefiev opened #10589 "[MU4 Issue] "Do you want to save..." dialog should not show file extension"
Doesn't occur with new scores.

1. Open recent score
2. Make some changes
3. Close score

![Capture](https://user-images.githubusercontent.com/90187801/154309293-b7f2e7eb-8d5e-4114-a4f6-87b9419033d8.PNG)

**Platform information**
macOS, Windows, Linux

**Additional context**
Doesn't occur in **MU3**

[2022-02-16 16:29] DmitryArefiev commented on #9174
Tested on Win10, Mac12, LinuxMint 20.2 - it became much better after #10582

Closing

[2022-02-16 16:30] #9174 closed

[2022-02-16 16:31] DmitryArefiev commented on #9174
@worldwideweary Can you check on the latest master please? It should be fixed now.

And reopen if the issue still occur on you side.

Thank you!

[2022-02-16 17:14] cbjeukendrup commented on #10589
This happens to be fixed by PR #10552. (It will show the extension only when it is "interesting", i.e. when it is something different than mscz.)

[2022-02-17 08:11] DmitryArefiev opened #10592 "[MU4 Issue] Straight glissando and wavy glissando icons are missing from the palette"
https://user-images.githubusercontent.com/90187801/154432819-c699dd28-a8fe-40b8-84dc-164a1eb7ec9d.mp4

**Platform information**
 macOS, Windows, Linux

**Additional context**
Add any other context about the problem here.

[2022-02-17 09:24] DmitryArefiev opened #10593 "[MU4 Issue] Slur is positioned in a wrong place when added from the palettes by drag 'n' drop"
https://user-images.githubusercontent.com/90187801/154445339-abf86105-9933-4ae7-95bc-d6006e4b0dd3.mp4

**Platform information**
 macOS, Windows, Linux

**Additional context**
Doesn't occur when adding slur with shortcut or adding slur from the palette by NOT drag 'n' drop
Doesn't occur in **MU3**

[2022-02-17 10:33] DmitryArefiev opened #10594 "[MU4 Issue] Reset to default command deletes some default shortcuts in Shortcuts preferences"
TO DO..

**Describe the bug**
A short and clear description of what the bug is.

https://user-images.githubusercontent.com/90187801/154457858-df3d6121-92a6-41a1-bdef-f7634365e474.mp4

**To Reproduce**
Steps to reproduce the behavior:
1. Go to '...'
2. Click on '....'
3. Scroll down to '....'
4. See error

**Expected behavior**
A clear and concise description of what you expected to happen.

**Scre

[2022-02-17 11:17] DmitryArefiev opened #10597 "[MU4 Issue] Many dialog windows have missing app icon in the title bar on Windows"
**Describe the bug**
Many dialog windows have missing app icon in title bar on Windows:
- "Do you want to save changes.." dialog
- New Score
- Parts
- Instruments
- Export
- Preferences
- Workspaces
- Create new workspaces
- Insert measures
- About MuseScore
- About MusicXML
- Check for update
- Revert to factory settings
- All dialogs from Diagnostic tab
- Migration dialog (import of previous ver

[2022-02-17 11:39] #10561 closed

[2022-02-17 11:40] #10520 closed

[2022-02-17 11:40] #10562 closed

[2022-02-17 11:50] #10478 closed

[2022-02-17 12:01] jessjwilliamson commented on #9893
@RomanPudashkin @DmitryArefiev Hi guys, This is me testing the LABS and BBC Orchestra (they are both under same company Spitfire). This is bizarre on Windows (Mac is completely fine!) I can't even move the dialog or close it, it appears stuck unless I force quit.

https://user-images.githubusercontent.com/71656189/154477684-2db6dcc1-c862-46cc-b2dd-fdc597facce6.mp4

[2022-02-17 12:11] jessjwilliamson commented on #9893
@RomanPudashkin @DmitryArefiev Testing Kontakt, Mac OS is fine with the window layout, but this is how Windows shows. Kontakt appears too small and has extra space. However, BOTH OS has a horribly broken playback causing a buzzing sound (or non at all like this recording) which can be visibly seen the mixer volume is clipping.

https://user-images.githubusercontent.com/71656189/154479138-62eef604-

[2022-02-17 12:34] jessjwilliamson commented on #9756
@RomanPudashkin Here is Vital. Unable to test the specific issue as it's also having this over-taking the screen issue. Can only use task manager (hence the black screen) to close Musescore to get out of it.

https://user-images.githubusercontent.com/71656189/154482740-e1348854-613f-4bc8-9501-2f7c1e7173d0.mp4

[2022-02-17 14:24] DmitryArefiev opened #10598 "[MU4 Issue] Crash when changing between Workspaces and closing Instruments panel"
https://user-images.githubusercontent.com/90187801/154501541-5cb609ac-ad5b-4787-8579-b545b92347dc.mp4

**To Reproduce**
1. Open a score
2. Switch to Default workspace
3. Make sure Palettes, Instruments, Properties panels are open
4. Create a new workspace
5. Close Palettes, Instruments, Properties panels
6. Switch to Default workspace (Palettes, Instruments, Properties panels should appear again)

[2022-02-17 15:30] DmitryArefiev opened #10599 "[MU4 Issue] Reseting preferences deletes user created workspaces"
**To Reproduce**
1. Create some workspaces
2. Go to Preferences
3. Click Reset preferences and OK
4. Restart MU

https://user-images.githubusercontent.com/90187801/154514309-0a0c5267-0f3a-418c-8501-72e8c003c30b.mp4

**Platform information**
macOS, Windows, Linux

**Additional context**
Doesn't occur in **MU3**

[2022-02-17 16:02] DmitryArefiev opened #10601 "[MU4 Issue] Edit, Reset workspace options are missing in Workspace menu"
**Describe the bug**
Edit, Reset workspace options are missing in Workspace menu (comparing with MU3)

https://user-images.githubusercontent.com/90187801/154520772-71b46019-be33-416b-940d-c8a92414eba3.mp4

**Platform information**
macOS, Windows, Linux

**Additional context**
Doesn't occur in **MU3**

[2022-02-17 16:17] DmitryArefiev opened #10602 "[MU4 Issue] Workspace saving mechanism doesn't work properly"
https://user-images.githubusercontent.com/90187801/154523616-958df986-075c-4a1a-9810-71d114aae1f3.mp4

**Platform information**
 - OS: [e.g. macOS, Windows, Linux]

**Additional context**
Workspace saving mechanism **doesn't work perfect in MU3** as well

[2022-02-17 19:55] cbjeukendrup opened #10606 "[MU4 Issue] Zooming in one window affects the zoom level reported in the status bar of other windows"
**Describe the bug**
If you zoom using Ctrl+Shift++ or Ctrl+-, the zoom percentage in the status bar is updated, as expected. However, it is updated not only in the current window, but also in other windows, while the actual zoom level is _not_ updated in those other windows.

In this video, check out the status bars of the two windows:

https://user-images.githubusercontent.com/48658420/154559950

[2022-02-17 21:55] cbjeukendrup commented on #10548
What should happen when multiple brackets are selected? Maybe disabling the "span" field altogether?

[2022-02-18 00:56] duanjr commented on #9407
I'm curious why didn't we set an `InspectorPropertyView` for each `propertyItem`, that would be more natural.
Maybe for UI factors?

[2022-02-18 08:22] #10441 closed

[2022-02-18 10:10] DmitryArefiev commented on #9407
Tested on Win10, Mac12, LinuxMint 20.2 - FIXED in #10603

[2022-02-18 10:10] #9407 closed

[2022-02-18 10:44] DmitryArefiev opened #10611 "[MU4 Issue] [Inspector] You need to click Reset button two times to apply the action (Windows)"
You need to click Reset button two times to apply the action in Properties. In some places where that button is not hidden in 3 dot menu (on Windows only)

https://user-images.githubusercontent.com/90187801/154667895-7c433d37-a3bf-4163-a7d9-f03c695ef9f9.mp4

**Platform information**
Windows only (Win10)

[2022-02-18 12:53] DmitryArefiev commented on #10548
Yes, that's good idea!

[2022-02-18 14:19] DmitryArefiev opened #10612 "[MU4 Issue] Keyboard input on tablature (TAB) staves is broken"
**Describe the bug**
Keyboard input on tablature (TAB) staves is broken: Up/Down/Left/Right, number keys - they don't work after entering note input mode (N)

**To Reproduce**
1. Click on Tab stave
2. Enter Note input mode (N)
3. Type 1,2,3 or navigate with arrow keys - **nothing happens**

Key commands should work as described in #9914 (like they work in MU3.6)

- Up/Down arrow keys: move up/down

[2022-02-18 15:29] DmitryArefiev commented on #9143
Tested on Win10, Mac12, LinuxMint 20.2 - FIXED in #10607

[2022-02-18 15:29] DmitryArefiev commented on #10606
Tested on Win10, Mac12, LinuxMint 20.2 - FIXED in #10607

[2022-02-18 23:17] llui85 commented on #10218
Still reproducible in nightly.

[2022-02-19 03:15] worldwideweary commented on #9174
Yes, looks decent - just tried a Nightly AppImage and this currently seems to be a non-issue. Thanks.

[2022-02-19 07:16] #9403 closed, assigned to Eism, RomanPudashkin

[2022-02-19 16:28] Tantacrul opened #10618 "Some of the Palette Options in MS3 have not been ported to MS4 (in the '...' menu)"
**Describe the bug**
In MS3.6, there are a few useful options in the '...' menu, next to the search bar:

<img width="545" alt="image" src="https://user-images.githubusercontent.com/21022311/154809457-f0586ddb-07a7-43ce-add1-b2823f1a2512.png">

However, there is one option missing which used to be available in previous versions: the ability to open a palette by single-clicking on it. This is a com

[2022-02-19 16:47] cbjeukendrup commented on #10618
Yes, it was me who worked on that for MU3.6 :)
I'd be happy to reimplement it for MU4.

[2022-02-19 21:19] Tantacrul commented on #10618
Wow, that long ago?

[2022-02-19 21:27] Tantacrul commented on #10618
@cbjeukendrup, I've removed everyone else and left the task to you. Cheers!

[2022-02-20 07:47] HemantAntony opened #10620 "[MU4 Issue] Crash on undoing after creating a new part"
**Describe the bug**
When, you create a new part using the Parts Dialog and then decide to undo it by clicking Ctrl + Z, it crashes

**To Reproduce**
Steps to reproduce the behavior:
1. Create a new score
2. Open parts dialog
3. Create a new Part
4. Close the dialog by pressing Open
5. Then press `Ctrl + Z`

**Expected behavior**
MuseScore should not crash

**Screenshots**

https://user-images.git

[2022-02-20 10:35] duanjr commented on #10594
looks like we just didn't set default shortcuts for these commands
similar with file open, save, etc.
<img width="312" alt="image" src="https://user-images.githubusercontent.com/71218187/154838528-441cba94-f160-44b8-a56d-3fe0f626f92f.png">

[2022-02-20 10:36] duanjr commented on #10594
Do I need add default shortcut for them?

[2022-02-20 10:39] HemantAntony commented on #10594
If your fix works, it should be ok. But, Dmitry has assigned the issue to himself, so I think the issue is in progress (Also the To Do on the top part in the issue desc.)

[2022-02-20 10:46] duanjr commented on #10594
Sorry, I'm new to open source, so I may be misunderstanding what "assign" means, I thought it just means that Dmitry is primarily responsible for the problem, not that he will definitely do the task. Now I understand it :)

[2022-02-20 10:53] HemantAntony commented on #10594
Oh Dmitry is not a developer. He tests MU4 (Quality assurance). Usually when PRs are assigned to him, it means that the said PR is to be tested by him which is why I thought this issue is not complete yet (Probably more details will be provided). But, its not assigned to a developer yet

[2022-02-20 10:55] duanjr commented on #10594
Thanks for your explanation

[2022-02-20 20:53] alexpavlov96 commented on #10381
it was "free text", fixed in https://github.com/musescore/MuseScore/pull/10604

[2022-02-20 20:53] #10381 closed

[2022-02-21 00:31] destinatorM opened #10622 "MuseScore did'nt start on Fedora 35 Kinoite (Flatpak)"
MuseScore will not start on my Fedora 35 Kinoite.

I installed it with Flatpak (Flathub).

There is no Error-prompt or something. If I try to start, nothing happens.

[2022-02-21 01:43] MarcSabatella commented on #10622
Thre MuseScore team doesn't support Flatpak, that is something you'd have to report to the folks who packaged it - probably they got something wrong.  Instead, use the supported version - the AppImage you can download directly from musescore.org.  And then if you have issues, please ask for help on the Support forum (same website).

[2022-02-21 07:57] #10490 closed

[2022-02-21 08:03] #10395 closed

[2022-02-21 11:27] DmitryArefiev commented on #9642
Hi @jessjwilliamson I'm testing now #10614.. What do you think about auto resize Mixer when hiding Fader too?

https://user-images.githubusercontent.com/90187801/154946580-ffafed58-5bb2-4df3-8aed-bcc5b22a618c.mp4

[2022-02-21 13:21] DmitryArefiev commented on #9174
Cool. Thanks!

[2022-02-21 13:32] Tiko7454 opened #10628 "[MU4 Issue] Mouse-keyboard toggle button"
**Describe the bug**
Mouse-keyboard toggle button issue

**To Reproduce**
Steps to reproduce the behavior:
When note insert is on keyboard writing mode, any pushed button activates mouse note inserting mode

**Expected behavior**
Stays in keyboard writing mode

**Platform information**
 - OS: Arch Linux

[2022-02-21 13:58] jessjwilliamson commented on #9642
Hi, yes including Fader too. :) I don't think as far as I'm aware we intended to set a minimum height as it's quite large anyway the height seems to stop at a certain number. Not sure why, would like it to be dragged as far as it can go. Do we know the value of the minimum height?

[2022-02-21 15:08] oktophonie opened #10631 "[MU4 Issue] File extension is duplicated in "Save as..." dialog"
**Describe the bug**
When saving via the "Save as..." dialog, the file extension is duplicated in the file name field. If the file is saved, this is then reflected in the filename.

**To Reproduce**
Steps to reproduce the behaviour:
1. Open an existing file, or create a new one and save it once.
2. Go to "File -> Save as..."
3. Behold the "File name" field.

**Expected behaviour**
No duplicate of

[2022-02-21 16:43] Tantacrul opened #10632 "Ctrl+A shortcut does not 'select all' text in Lyrics or Chord symbols."
**Describe the bug**
**Ctrl + A** (Windows), **Command + A** (Mac) does not select all text when editing lyrics or chord symbols.

See video for comparison.

https://user-images.githubusercontent.com/21022311/154996272-af85f49e-d24b-41c8-a688-441acf735c90.mov

[2022-02-21 17:45] jessjwilliamson opened #10633 "[MU4 Issue] Channels from mixer won't load until after opening Mixer 2nd time"
**Describe the bug**
This is happening almost all the time, it might be happening to only channels that include VSTs, not sure if it's just Musescore General instruments.

Here I have a project where all instruments use VSTis.

**To Reproduce**
Steps to reproduce the behavior:
1. Open a project with a few instruments that include VSTis (BBC Orchestra, LABS etc)
2. Click on Mixer button, observe er

[2022-02-21 17:50] jessjwilliamson opened #10634 "[MU4 Issue] 1st channel Audio FX slot glitches when using pan knob"
**Describe the bug**
It seems to happen only the first channel (very left) Audio FX empty slot/s glitches. Even when adding effects it's still happening.

https://user-images.githubusercontent.com/71656189/155005322-ec1aebd1-7562-48e5-8158-a2a2685fe021.mp4

[2022-02-21 18:21] jessjwilliamson opened #10635 "[MU4 Issue] Multiple pop-ups are being opened at the same time"
**Describe the bug**
Pop-ups (commonly found in Properties) are being opened/activated at the same time when they should be opened one at a time.
This causes the pop-ups to overlap each other

https://user-images.githubusercontent.com/71656189/155008730-c0f0da4c-5c22-4667-9811-f7f8e19bbd5a.mp4

[2022-02-22 01:22] HemantAntony commented on #10633
I think that it doesn't have much to do with the number of times Mixer was clicked. It takes a bit of time to load the instruments. I don't know how to open VSTs in MU. Therefore, I did it with instruments:

https://user-images.githubusercontent.com/88136054/155045430-159ff40f-f6da-46b8-a26a-fc80c8ffdf67.mp4

I think something similar will happen when you just wait for a few seconds (I'm not in th

[2022-02-22 07:45] alexpavlov96 opened #10638 "[MU4 Task] [GP] Barlines import"
**Task description**
Fix barlines import.

**Current state:**
![Screenshot 2022-02-17 at 19 54 49](https://user-images.githubusercontent.com/24373905/155085678-80ed1c23-06c7-4dd0-be00-8626c5e063fe.png)

**Expected:**
![Screenshot 2022-02-17 at 19 54 20](https://user-images.githubusercontent.com/24373905/155085663-7fc60d78-75f3-4f9c-8bc7-95f781ba14b4.png)

[2022-02-22 09:06] #10325 closed

[2022-02-22 09:08] alexpavlov96 opened #10639 "[MU4 Task] [GP] fix some regressions in new version of guitar pro import"
**Task description**
1. Import fret diagram correctly
2. Import title and subtitle correctly

[2022-02-22 10:05] Tantacrul opened #10641 "Shortcuts for note entry on Guitar Tablature not working"
**Describe the bug**
Users can not navigate guitar tablature using shortcuts to enter notes. See video:

https://user-images.githubusercontent.com/21022311/155109392-78c0f035-9bcf-4584-844b-a25cfed4c5df.mov

[2022-02-22 10:08] RomanPudashkin commented on #10641
See https://github.com/musescore/MuseScore/issues/10612

I'm working on it right now

[2022-02-22 10:08] Tantacrul commented on #10641
Ah, awesome :)

[2022-02-22 10:26] RobFog commented on #10641
Would #10612 make this issue a duplicate?

[2022-02-22 10:51] Tantacrul opened #10642 "Quality of Life Improvement: Double Click to enter Note Input Mode"
**Task description**
This is a simple one. I think we should provide another way for users to trigger Note Input.

If a user double-clicks on a measure, Note Input mode should be activated.

<img width="107" alt="image" src="https://user-images.githubusercontent.com/21022311/155115933-3b0d63f5-926e-4e2e-9bc0-723dd75c92fe.png">

The result should be the same as selecting a measure and clicking the

[2022-02-22 11:31] Tantacrul opened #10644 "Percussion Input Tab is unusable in dark mode. Positioning broken. Shortcut visualisations missing."
**Describe the bug**
See video below. The Note Input mode has the following problems:

- Illegible in dark mode: the BG should be the same as the score (the same as MS3 in dark mode)
- Shortcuts are missing
- Attempting to reposition the panel breaks it
- Expanding or contracting the app's size breaks the positioning of the panel too

https://user-images.githubusercontent.com/21022311/155123669-89

[2022-02-22 11:48] Tantacrul commented on #10641
Yeah, Roman mentioned this is a dupe. He's already working on it, which is great :)

[2022-02-22 12:42] RobFog commented on #10641
If this issue is a duplicate shouldn't it be closed then?

[2022-02-22 12:55] #10641 closed

[2022-02-22 14:46] #9808 closed

[2022-02-22 15:19] #9869 closed

[2022-02-22 15:19] #10045 closed

[2022-02-22 16:11] DmitryArefiev commented on #10467
Tested on LinuxMint 20.2 (Win10, Mac12) - FIXED in #10627

[2022-02-22 19:31] helloworld12321 commented on #10642
Currently taking a look at this. 🙂

[2022-02-22 19:54] Tantacrul commented on #10642
@helloworld12321 - just assigned you :)

[2022-02-22 21:36] MarcSabatella commented on #10642
I have mixed feelings about this.  Double-click of empty space to enter note input mode, that's harmless enough.  But double-click of an element in order to go to edit mode and thus enable fine adjustments - that's basic functionality that works for all other elements, and I'm not really comfortable with removing it for notes and rests.  On one hand, I share the e concern that people end up accide

[2022-02-22 21:59] cbjeukendrup commented on #10642
Some tangentially related thoughts on "edit mode": I think it is really not MuseScore's strongest point. In MuseScore 3, it was already a bit vague, that the dragging behaviour suddenly becomes totally different after double-clicking on an element instead of single-clicking, but at least you could see in the status bar that "edit mode" was activated.
In MuseScore 4, it is even worse at the moment:

[2022-02-22 23:36] MarcSabatella commented on #10642
It should be noted that in order for *drag* to work, you don't really need a concept of a separate mode, as far as I can tell.  The only real point of a separate edit mode is to allow for *keyboard* adjustment.  Which is why in theory I'm fine with making it be activated by keyboard as well, although the shortcut in MuseScore 3 is probably known only to a small number of users, because double-clic

[2022-02-23 00:17] Tantacrul commented on #10642
I think the idea of just making sure the keyboard shortcut is maintained and well documented is a good one. For me, double-click is just too important and interaction for this - very much a refuge for people who are just starting out.

Perhaps the right first step is to just do double-clicking for measures and then we can see if we also like it for notes and rests too?

[2022-02-23 04:53] jason-cannon opened #10653 "[MU3 and MU4 Issue] Crash while converting to whole note"
**Describe the bug**
A Crash to desktop occurs when selecting notes and converting them to whole notes twice. My guitar teacher was experiencing this issue and I am unsure if these are the steps he took exactly, but I reproduce the same CTD. I believe the issue has something to do with the mixture between notes and rhythm marks

**To Reproduce**
Steps to reproduce the behavior:
1. Open the attache

[2022-02-23 05:13] MarcSabatella commented on #10642
Makes sense to try.  In practice, it can be hard to find an empty spot in a measure sometimes, so I'd not want this to be the main way anyone got to note input mode.  Even if we do decide to allow it for notes and rests, there are still the other symbols we definitely don't want to abandon edit mode for - articulations, accidentals, text, pretty much everything else.  So I have a sense it's going

[2022-02-23 08:31] Jojo-Schmitz commented on #10653
I can't reproduce.

[2022-02-23 08:32] Jojo-Schmitz commented on #10653
Edit: I can (reading helps, press 7 twice)

[2022-02-23 09:48] Jojo-Schmitz commented on #10653
Possible fix:
[code]

[2022-02-23 09:52] Tantacrul commented on #10642
I am highly suspicious that most users don't know what edit mode is and probably just consider it to be a bug. I may be wrong.

Question: it is unclear to me why edit mode is so useful for dynamics / accidentals / articulations / lyrics, etc. You can already move those things around by just dragging them and you can _**also**_ switch off automatic placement too. What specific additional benefit do

[2022-02-23 10:02] Jojo-Schmitz commented on #10653
I have added that fix to PR #9000

[2022-02-23 11:16] Jojo-Schmitz commented on #10653
It does apply, see #10654

[2022-02-23 11:33] HemantAntony commented on #8845
This appears to be fixed:

https://user-images.githubusercontent.com/88136054/155311597-b552e49b-286a-494c-b431-9eba60192004.mp4

[2022-02-23 11:46] oktophonie opened #10655 "[MU4 Issue] Interaction between vertical stave justification and footer collision avoidance is faulty"
In MU4 the 'music top/bottom margin' works differently from before - it measures from the margin to the nearest stave line, not to the highest or lowest notation item - and logic has been added to also prevent music colliding with headers and footers where present. This was implemented in #9193. This very lovely illustration explains the difference (thanks @bkunda!):

![footer-collision-v2](https:

[2022-02-23 13:30] Tantacrul commented on #10642
OK, that's good to know.

For the record, I would be surprised if even 2% of our users know what 'edit mode' is and even less who use it for any practical purpose. Going to figure out how I can go about trying to determine this in a statistically significant way...

[2022-02-23 13:36] MarcSabatella commented on #10642
To me, it doesn't matter if it's 10% or 1%. what the number is.  It's still a feature relied upon daily by what would amount to many thousands of experienced users.  I am never in favor of "dumbing down" the program to make it easier for beginners but then not as useful after you progress past that stage.  Instead, if there are concerns that a useful feature isn't sufficiently well-known, let's ad

[2022-02-23 13:51] Tantacrul commented on #10642
Actually, the % matters a great deal. If very few people know it exists and many more encounter bugs because it is obscure, then it should be replaced by something that can be understood, so the maximum number of people who would use it (if they knew it existed) can actually use it.

There is never an excuse to keep a poorly implemented feature. It's not 'dumbing down', it's just good design pract

[2022-02-23 13:51] shoogle opened #10657 "[MU4 Issue] File extension appears twice in Save As dialog"
**Describe the bug**
When opening the Save As dialog for a previously saved score, the `.mscz` extension appears twice in the suggested file name (e.g. `Untitled.mscz.mscz`).

**To Reproduce**
1. Create a new score
2. Go to __File > Save As__
3. Notice the suggested name like `Untitled.mscz` (correct)
4. Click __Save__
5. Go to __File > Save As__ again
6. Now the suggested name is `Untitled.mscz.m

[2022-02-23 13:52] HemantAntony commented on #10657
Duplicate of #10631

[2022-02-23 13:53] Tantacrul commented on #10642
Also, can we just skip the usual 'why would you delete this' part of the argument because (as always) I am advocating for improving the feature, not removing it.

The only thing I think should be removed is the double-click assignment.

[2022-02-23 14:01] Jojo-Schmitz commented on #10642
I'm not on Twitter, but count my voice as "I'm aware and it is usefull"

[2022-02-23 14:12] MarcSabatella commented on #10642
But sure, I do agree if a feature that is useful to some but ends up causing confusion to others, there is room for improvement, and the numbers will help in making the determination of what to do about that.

[2022-02-23 14:39] MarcSabatella commented on #10642
By the way, by far the worst aspect of Edit mode as is 0 and, I think, the source of virtually all of the complaints about it your poll - is *specifically* about the fact that people accidentally enter edit mode when they are intending to drag notes as a way of transposing them.  That's based on comments I see as well as on years of experience answering questions about this on the forums ("how com

[2022-02-23 14:48] shoogle opened #10658 "[MU4 Issue] Can't save to MSCX uncompressed format on macOS"
**Describe the bug**
In the __Save As__ dialog, users can manually rename scores so the name ends `.mscx` to allow saving in the uncompressed format. This works on Windows and Linux, but on macOS a system dialog appears warning that this is not an allowed extension. This may be related to the fact that we do not give users an explicit option to save in the uncompressed format (see #9132).

**To Re

[2022-02-23 16:22] Tantacrul commented on #10642
I really would like to just move away from using double-click to enter into the mode at all... however, I don't have a concrete suggestion for a replacement yet. I have a few ideas but I'll need to flesh them out and share them.

[2022-02-23 16:23] Jojo-Schmitz commented on #10642
Right-click > Edit, like it also ever worked

[2022-02-23 16:24] Jojo-Schmitz commented on #10642
Also Alt+Shift+E

[2022-02-23 16:30] MarcSabatella commented on #10642
I certainly recommend keeping the context menu, and keyboard shortcut, but I recommend a shortcut that is more obvious than Alt+Shift+E.  Ctrl+E seems simpler and more logical, and I'd have no qualms about reassigning "add expression text".  But probably there is precedent in other apps to consider.  The idea of wanting to edit a selected element is common enough.  What shortcuts do they use?  Sur

[2022-02-23 16:44] MarcSabatella commented on #10642
Another thing to consider - if double-click becomes the way to enter note input mode, what effect does this have on people who currently are accidentally dragging notes when they intend to transpose them?  To me, that's a problem that needs solving completely independent of what the double-click actually does.  If the goal was to transpose, and accidentally double-clicking now puts you into note i

[2022-02-23 17:25] jason-cannon commented on #10653
Wow, this was an incredibly fast turn around on this! Thanks @Jojo-Schmitz !

[2022-02-23 18:49] Tantacrul commented on #10642
I think there is a case to be made for **not doing anything** on double click. However, entering a user into Note Input mode is at least a comprehensible thing to do, since that mode is so fundamental to basic understanding of how MuseScore works.

[2022-02-23 18:58] oktophonie commented on #10361
Neither I nor @asattely can reproduce this; has it maybe been incidentally fixed in the meantime, or if not, could you perhaps supply a test file?

[2022-02-23 19:03] MarcSabatella commented on #10642
I agree that double-click needn't do anything in particular, but note input is as sensible as anything else.  Edit mode definitely should be more obvious no matter how you get there, like maybe highlighting the element being edited and graying everything else out (hmmm).

I do suspect think that even if double-click goes to note input mode, it's still likely to not be noticed right away if someone

[2022-02-23 22:41] worldwideweary commented on #10361
Looks like it was fixed in the meantime, as I now neither receive a crash in performing the same task with a Nightly. Although, the result is slightly odd:  the alteration seems to move the tie to the original position expected in 3.6 (or pretty close to it), even though it would probably be expected to perform incremental shifts of one grip node. That is, with one left-arrow, a jump occurs on bot

[2022-02-24 03:54] #10361 closed

[2022-02-24 08:00] iamjithinjohn commented on #10259
The issue seems inactive. Can I try working on it? @bkunda

[2022-02-24 08:06] duanjr commented on #10259
I once tried what [cbjeukendrup](https://github.com/cbjeukendrup) suggested and some other changes but all failed. In my pr [#10566](https://github.com/musescore/MuseScore/pull/10566) this issue still exist.
I'm not working on this now.

[2022-02-24 08:49] bkunda commented on #10259
I think this means the issue is again open @iamjithinjohn! Please feel welcome to tackle it (and reach out to @cbjeukendrup with any questions) :-)

[2022-02-24 09:19] #10639 closed

[2022-02-24 09:47] iamjithinjohn commented on #10259
Sure, Thanks for confirming! I'll start working on it :+1:

[2022-02-24 11:05] #10612 closed

[2022-02-24 11:36] #10467 closed

[2022-02-24 16:50] DmitryArefiev opened #10664 "Input cursor on tablature (TAB) staves is smaller than in MU3"
**Describe the bug**
Input cursor on tablature (TAB) staves is smaller than in MU3

![Capture](https://user-images.githubusercontent.com/90187801/155569858-29724920-185f-4927-88db-167f3c798489.PNG)

**Expected behavior**
Cursor should be the same as in MU3

**Platform information**
macOS, Windows, Linux

[2022-02-24 18:39] DmitryArefiev opened #10666 "[MU4 Issue] When adding/replacing some shortcuts, the conflict message about existed shortcut doesn't appear"
**To Reproduce**
Steps to reproduce the behavior:
1. Open Preferences>Shortcuts
2. Notice the action to add A note has **A** shortcut
3. Replace adding 64 note action with **A** - **no conflict message**
4. Replace Run plugin create score action with **A** - **no conflict message**

https://user-images.githubusercontent.com/90187801/155586221-d603ba40-e184-431b-9280-a03c120e1930.mp4

**Platform in

[2022-02-25 03:04] helloworld12321 opened #10667 "[MU4 Tech Debt] Unit tests in src/notation are never running"
**Task description**

At the moment, the tests in `src/notation` are not included in the build, even if the `-DBUILD_UNIT_TESTS=-ON` flag is set. This means that the test file [`notationviewinputcontroller_tests.cpp`](https://github.com/musescore/MuseScore/blob/ae475cecbeed40e501c6c1f895c9894849e890df/src/notation/tests/notationviewinputcontroller_tests.cpp) never compiles or runs. :cry:

The mock

[2022-02-25 03:14] helloworld12321 commented on #10667
Right now, the `src/notation` tests are commented out in `src/CMakeLists.txt`: https://github.com/musescore/MuseScore/blob/ae475cecbeed40e501c6c1f895c9894849e890df/src/CMakeLists.txt#L100-L102

(A comment says there aren't any tests in `src/notation`, but this isn't currently accurate.)

[2022-02-25 11:33] bkunda opened #10669 "[MU4 Issue] `0` should enter open string – not rests – in tablature staves"
**Describe the bug**
Keyboard shortcut `0` currently enters rests in tablature staves, rather than open strings (as per MS3 behaviour)

**To Reproduce**
Steps to reproduce the behavior:
1. Enter **note input** mode in a tablature staff
2. Hit `0`
3. A rest is entered

**Expected behavior**
The tablature number `0` (representing an open string) should be entered when the keyboard shortcut `0` is ty

[2022-02-25 11:42] Jojo-Schmitz commented on #10669
Hmm, I don't see 0 doing anything in a tablature in MuseScore 3

[2022-02-25 11:47] bkunda commented on #10669
@Jojo-Schmitz this is what I see in MS3:

![0-tab-staves](https://user-images.githubusercontent.com/86290556/155710098-3da2d802-2b11-4c85-9144-de5d1e978a21.gif)

[2022-02-25 11:47] #9995 closed

[2022-02-25 11:50] Jojo-Schmitz commented on #10669
Ah, NumPad 0 does nothing, the 'normal' 0 does

[2022-02-25 12:27] bkunda commented on #10669
My NumPad (with numlk on) changes note durations while the number row enters tablature numbers (in MS3.6)

[2022-02-25 12:29] DmitryArefiev commented on #9642
@jessjwilliamson Roman has changed the minimum height in the latest change and now it looks better when hiding Fader too.

[2022-02-25 12:30] Jojo-Schmitz commented on #10669
With 0 being a rest, yes, but apparently not in Tablature?

[2022-02-25 12:49] bkunda commented on #10669
Correct, not in tablature.

[2022-02-25 14:30] jessjwilliamson commented on #9642
@RomanPudashkin Great work!! Much better, thank you!

[2022-02-25 17:56] #9106 closed

[2022-02-25 17:57] #10288 closed

[2022-02-25 17:57] #10631 closed

[2022-02-25 20:36] Tantacrul opened #10671 "(Nice to Have for MS4) Remove 'Direction' option for Articulations"
**Describe the bug**
When selecting an articulation, you see these options in the inspector:

<img width="443" alt="image" src="https://user-images.githubusercontent.com/21022311/155799028-009f121f-dc2b-4baf-8d67-9935083d5039.png">

After a little testing (and consulting others on the team), we think that the 'direction' option is both confusing and very likely not useful as an option. At least no

[2022-02-25 20:58] MarcSabatella commented on #10671
The intent is to allow things like marcato symbols to be flipped upside down (display8ing as a "v") while keeping the symbol still above the staff.  It does work for that purpose, at least in MU3.  Hard to say if anything really uses it except for weird special effects.

[2022-02-25 21:12] Tantacrul commented on #10671
So, we do know what it does, alright. It's just that it is hard to think of a justification.

The problem with options like these is that 1. they produce bizarre results (for example, a lot of symmetrical symbols will not appear to do anything). 2. It is the kind of option a user might deride - and that does affect our image as a serious music app. I do think it's important that options are descri

[2022-02-25 21:33] MarcSabatella commented on #10671
I would definitely favor that, and I know people would find uses for it on other things like clefs.

But for the record, I suspect one specific reason why it is present for articulations only is that SMuFL probably defines separate symbols for some of these, so it isn't necessarily just a graphical transformation - it's substituting a different glyph.  That's just (educated) guessing on my part, t

[2022-02-25 21:41] oktophonie commented on #10671
There are independent SMuFL symbols for above/below versions of articulations. In the vast majority of cases these are mirrored versions of each other (relative to the baseline) but that isn't always necessarily the case.

[2022-02-25 22:19] Tantacrul opened #10672 "[Inspector] 'Hide stem' option should also hide note flags"
**Describe the bug**
Here, the 'hide stem' option is ticked but the flag is still displayed.

<img width="666" alt="image" src="https://user-images.githubusercontent.com/21022311/155810753-31d11793-a385-44c6-a533-2e3589b6c44f.png">

**Expected behavior**
Hiding the stem should also hide flags

[2022-02-25 22:21] Tantacrul commented on #10672
Note that we do this in MuseScore 3:
<img width="399" alt="image" src="https://user-images.githubusercontent.com/21022311/155810965-a97a8282-3af8-438c-977b-2348ca6ce62b.png">

[2022-02-25 22:58] MarcSabatella opened #10674 "[MU4 Issue] Select submenu missing from context menu if range selection present"
The context menu that appears on right-click an element is missing the "Select" submenu if a range selection is present.  This is an key regression, since losing that menu negates the ability to ever use the "Select: similar in the range" item that is normally present when there is no range, or to use the dialog.  BTW, do we really need the word "the" in "similar in the range"?  And if so, maybe w

[2022-02-27 02:44] shoogle opened #10677 "[MU4 Issue] Concert pitch unchecked when opening a concert pitch score"
**Describe the bug**
When opening a score, the concert pitch checkbox is initially unchecked even if the score was last saved in concert pitch mode.
![image](https://user-images.githubusercontent.com/11011881/155865977-944daed6-7007-45f0-a9ef-51ceabe77971.png)

**To Reproduce**
Steps to reproduce the behavior:
1. Create a new score with a Piccolo (notice concert pitch is unchecked in bottom right

[2022-02-27 16:19] alexpavlov96 commented on #10331
can be edited in Musescore

[2022-02-27 16:19] #10331 closed

[2022-02-27 16:21] alexpavlov96 commented on #10309
the line which displays the length exists already, there can be another task to make it go as well through pauses, but it is not asked for now. The rest is all about styles.

[2022-02-27 16:21] #10309 closed

[2022-02-27 18:40] worldwideweary opened #10680 "[MU4 Issue] Design question regarding W/Q shortcuts + Shift+W/Q"
More of a design question rather than a strict issue:

Question: Why the move from Q/W not affecting [most recent input] during Note Entry (like in 3.x) but instead merely acting as equivalent functions of pressing the duration toggles (with the specification of doubling/halving)? It seems to me that functionality is lost here, and if it's for the sake of uniformity, to make matters more interesti

[2022-02-27 18:49] worldwideweary opened #10681 "[MU4 Issue] Application seems to lose/gain focus (highlight) while traversing the top text menu items"
**Describe the bug**
At least on my Linux distro (Mint - Release: Una), the application title and the "V" icon (for max/minimize etc)  flashes while mousing through the file-type menu, (and the application icon in taskbar selects/deselects concurrently):

https://user-images.githubusercontent.com/7139517/155895463-12c22a07-0473-4836-b082-bb44a012a62b.mp4

It would seem that MuseScore is losing and

[2022-02-27 19:26] cbjeukendrup commented on #10681
Indeed, whenever a menu, popup or tooltip is opened, the main window looses focus. This should be solvable since for example Qt Creator's menus (which are also non-native) don't show this behaviour. (of course, 'under the hood', the popup window _should_ get focus, but it should not have a visual effect.)

[2022-02-27 20:03] jeetee commented on #10680
I've been part of the design discussion in the devchat around this change. It was brought along because currently Q/W was tied to 3 different actions and a desire to unify their usage.

To me, it always was weird that (shift+)Q/W during note entry input worked post-entry when no other duration related command does (normal duration selection, dots are all pre-entry and accidentals are also pre-entr

[2022-02-27 20:23] worldwideweary commented on #10680
Ok, thanks for the response.
For the record, if I remember correctly, [Shift+Q/W] was implemented prior to the change from post-application of accidentals into toggle-only, so it wasn't always the only post-entry command, along with of course the 3.x behavior of Q/W.  (and after forum conversations I figured what the hell and also made separate shortcuts for post-entry behavior for users who had a

[2022-02-27 21:29] MarcSabatella commented on #10680
Pretty much the only reason I ever use Q or W is as error correction - when I forget to select the correct duration.  I would hate to lose this, and I'd essentially never use Q or Q otherwise.  So to me post makes way more.  But, I'd *prefer* to see a more direct way to post-apply durations, rather than kludging it with Q & W.  If I want to retroactively apply quarter note, I want to press 5 ! (or

[2022-02-27 21:32] MarcSabatella commented on #10680
See in particular my comment in https://github.com/musescore/MuseScore/pull/5505#issuecomment-644248247 - it seems retroactively changing duration is considered an essential part of the workflow for many ex-Sibelius folks.

[2022-02-27 23:22] worldwideweary commented on #10680
For what it's worth, I also almost strictly only use (shift+)Q/W for post-correction and never preparation. For preparation, I use the duration toggles + the augmentation commands. On occasion I might 'ride' input in a way that allows me to be lazy in using Q/W for a pseudo-correction rather than needing to be precise in the pre-toggle. For example, I can use Q/W with my left hand  quickly, or mor

[2022-02-28 05:15] llui85 commented on #10681
Possibly related to #10218?

[2022-02-28 07:44] #10376 closed

[2022-02-28 08:21] #10314 closed

[2022-02-28 09:01] bkunda commented on #10680
Good observation @worldwideweary. @MarcSabatella I also wouldn't advocate for removing functionality in this case, particularly if there is enough of a user need for it.

FWIW, I had come up with an alternative way to streamline the current `increase/decrease active duration` and `double/halve duration` shortcuts so that they work in the same way across both TAB and standard staves. I'm sure it's

[2022-02-28 10:29] oktophonie opened #10684 "[MU4 Issue] Add noteheadHeavyX and noteheadHeavyXHat to Noteheads palette"
**Task description**

Make these two noteheads (U+E0F8 and U+E0F9) available via the Noteheads palette:
<img width="647" alt="image" src="https://user-images.githubusercontent.com/20604032/155966623-e09297ad-8334-4727-a2a7-30505beed0d1.png">
(from https://w3c.github.io/smufl/latest/tables/noteheads.html)

They do not belong to a 'notehead group' (i.e. a 'black'/'half'/'whole'/'doubleWhole' set), s

[2022-02-28 10:35] bkunda commented on #10680
Per @RomanPudashkin's pull request, the fix for this has already been merged for now. But of course we can still look for ways to recover this functionality – perhaps an even smarter solution than what we've already found.

@MarcSabatella feel free to have a chat with me separately about [#5505](https://github.com/musescore/MuseScore/pull/5505) sometime :-)

[2022-02-28 11:19] Jojo-Schmitz commented on #10684
Could we add [Chromatic noteheads to moveable do](https://w3c.github.io/smufl/latest/tables/note-name-noteheads-supplement.html) too? See https://musescore.org/en/node/329930

[2022-02-28 11:29] DmitryArefiev opened #10686 "[MU4 Issue] General issue with scaling/zoom in MU4"
**Describe the bug**
See https://github.com/musescore/MuseScore/pull/10605#issuecomment-1045200331

==================================================================
**Bug 1**
Staff/part properties>Advanced style properties: Staff preview looks small on Win/Linux, FullHD displays

![01](https://user-images.githubusercontent.com/90187801/155975833-b3db5e86-064c-484a-92df-d9d6536d22a4.PNG)

**To Re

[2022-02-28 13:29] DmitryArefiev commented on #9262
Tested #9262 on Win10, Mac12, LinuxMint 20.2 - PASS

Works this way:

https://user-images.githubusercontent.com/90187801/155991220-07a51ed0-de73-4fd7-b211-ead57d0c81f5.mp4

[2022-02-28 14:21] MarcSabatella commented on #10680
I have nothing against making Q & W work differently in tab, given that we already make the number keys themselves work differently.  But, to be clear: it's not *necessary* to have Q & W in tab to have a good keyboard workflow, and I suspect the majority of users won't ever use it.  Pressing Q two or three times to change duration from long to short is not faster than press Shift+3 or whatever, an

[2022-02-28 15:00] #9262 closed

[2022-02-28 15:25] #10618 closed

[2022-02-28 15:25] DmitryArefiev commented on #10618
Tested on Win10, Mac12, LinuxMint 20.2 - FIXED in #10619

[2022-02-28 15:33] RomanPudashkin commented on #10338
fixed in https://github.com/musescore/MuseScore/pull/10567

[2022-02-28 15:46] DmitryArefiev commented on #9415
Agree. This is a low priority issue. We can fix it later.

[2022-03-01 07:47] #10548 closed

[2022-03-01 08:58] #7968 closed

[2022-03-01 09:23] #9469 closed

[2022-03-01 09:56] bkunda opened #10692 "[MU4 Issue] Crash when making changes to staff/part properties after double-click on instrument name"
**Describe the bug**
MuseScore crashes when making changes within the Staff/Part Properties dialog IF the dialog was triggered by double-clicking on the instrument name label next to a staff.

This crash does not seem to occur when triggering this dialog via the context menu.

![crash in staff-part properties](https://user-images.githubusercontent.com/86290556/156145236-63a27c2b-2672-4f3a-a5b7-f3b

[2022-03-01 10:35] bkunda opened #10693 "[MU4 Issue] Crash when deleting instrument name/staff bracket using `del` or `backspace`"
**Describe the bug**
MuseScore crashes when attempting to delete an instrument name or a staff bracket/brace using the keyboard shortcuts `del` or `backspace`.

![crash-del-instrument-name](https://user-images.githubusercontent.com/86290556/156153397-e546dac7-de7f-473f-827d-366d45191247.gif)

**Expected behaviour**
Selected objects should be deleted from the score (and MuseScore shouldn't crash)

[2022-03-01 10:43] DmitryArefiev commented on #10620
Tested on Win10, Mac12, LinuxMint 20.2 - FIXED in #10625

[2022-03-01 10:49] cbjeukendrup commented on #10692
The cause of this crash is that the instrument name element gets deleted and recreated when changing the name in Staff/Part Properties.
But, the Appearance Inspector Model still holds a pointer to the deleted one, and tries to get information from the deleted one, which causes a crash.

Something similar seems to be happening in #10693.

All those crashes happen in the same place with the same sta

[2022-03-01 10:56] bkunda opened #10694 "[MU4 Issue] Hidden staves become un-hidden on app re-open"
**Describe the bug**
See this demo video:

https://user-images.githubusercontent.com/86290556/156156500-d2a9213b-44f6-427c-b7c1-484b55bb86cb.mp4

**Expected behavior**
Staves hidden in the Instruments Panel should remain hidden until the user makes them visible again (even after closing and re-opening the project file or app)

**Platform information**
 - MacOS 12.1 (M1)
 - Windows 11

**Additional

[2022-03-01 10:56] RomanPudashkin commented on #10692
I'm working on these crashes

[2022-03-01 12:20] Jojo-Schmitz commented on #10653
As MuseSeoce 4 is affected by this too, can you remove that "[MU3]" from the title?

[2022-03-01 12:37] #10620 closed

[2022-03-01 12:37] DmitryArefiev commented on #8408
Tested on Win10, LinuxMint 20.2 - FIXED in #10049

[2022-03-01 12:38] #8408 closed

[2022-03-01 12:48] Tantacrul opened #10695 "Volta Brackets should be able to extend over additional bars via click & drag"
**Describe the bug**
There is a usability issue with Volta brackets, where we show a clear dragging affordance to users that allows them to be stretched over multiple bars:

<img width="460" alt="image" src="https://user-images.githubusercontent.com/21022311/156171109-735aad33-af88-4dad-b0f8-e93d553bc4b7.png">

However, if you do stretch a volta line out, it does not affect playback. The 'pink con

[2022-03-01 14:02] Tantacrul commented on #10440
@RomanPudashkin - don't know if this can get merged or not soon. It solves a pretty bad omission from MS3.6

[2022-03-01 14:02] Tantacrul commented on #10440
(We can leave until Beta if that is the preferred option. I'll leave it to you)

[2022-03-01 15:09] DmitryArefiev opened #10697 "[MU4 Issue] Selected text is deselected after mouse button release"
https://user-images.githubusercontent.com/90187801/156194301-dbbb32d2-b5e9-4fd2-a1ba-03e19198fa18.mp4

**Platform information**
macOS, Windows, Linux

[2022-03-01 15:29] #10440 closed

[2022-03-01 15:43] Tantacrul opened #10698 "Cannot delete multiple elements using the context menu"
**Describe the bug**
See video. User can not select multiple elements and use the context menu to delete them all. In fact the context menu seems to re-select only one item, which is problematic (and contrary to how MS3 works)

https://user-images.githubusercontent.com/21022311/156199773-4fb96715-c588-461d-a290-a299f4c8c667.mov

@duanjr - I thought I might mention you here, since you have improved

[2022-03-01 15:59] duanjr commented on #10698
I will surely try to solve this issue, could it be assigned to me?

[2022-03-01 16:55] DmitryArefiev opened #10699 "MU window size and position don't save after relaunching application on Mac"
**Describe the bug**
MU window size and position don't save after relaunching application on Mac

**To Reproduce**
1. Expand MU window
2. Close MU
3. Run MU - **window is not expanded as it was before MU exit**

**Expected behavior**
MU should save main window size and position on quit

**Platform information**
 macOS

[2022-03-01 16:55] DmitryArefiev commented on #10699
Related to #8408 #10049

[2022-03-01 17:41] DmitryArefiev commented on #10635
Tested on Win10, Mac12 - FIXED in #10640

[2022-03-01 17:46] #10635 closed

[2022-03-01 18:11] oktophonie opened #10700 "[MU4 Task] Identify non-default styles in saved files"
**Task description**

Currently in MU4, _every_ style setting is saved as part of the file package (in `score_style.mss`), and inside the .mscx file, the complete instrument definition data (from `instruments.xml`) for each instrument is copied to an `<Instrument>` element inside each `<Part>`.

It is proposed that instead, we include only style settings that _differ_ from the default settings (as

[2022-03-01 19:09] #10485 closed

[2022-03-01 19:09] #10589 closed

[2022-03-01 19:51] #10655 closed

[2022-03-01 21:12] #10557 closed

[2022-03-02 02:07] duanjr commented on #10698
In musescore3, we allow user to select multiple elements and process them with the context menu.
However, only delete and delete part in cut work as expected, copy, paste and paste part in cut do not work.
Musescore4 may re-select only one item by design to keep the features in the contextmenu intact.
There're several way to improve this problem, we need to select one of them:
1) Disable features

[2022-03-02 09:22] duanjr commented on #10698
This issue happens because Musescore4 has different logic to show context menu.
In Musescore3, whenever we want to show a context menu, we have to select item(s) first. If you select A item and right-click on B item. The context menu still works on A item. In Musescore3, context menu is combined with what you select and has nothing to do with where you right-click.
In musescore4, on the contrary,

[2022-03-02 09:54] DmitryArefiev commented on #9241
Tested on Win10, Mac12, LinuxMint 20.2 - FIXED in #10614

[2022-03-02 11:14] DmitryArefiev opened #10705 "[MU4 Issue] Mixer should automatically change its height when maximize/minimize MU window"
**To Reproduce**
Steps to reproduce the behavior:
1. Go to '...'
2. Click on '....'
3. Scroll down to '....'
4. See error

https://user-images.githubusercontent.com/90187801/156351302-28f43afa-bea5-41c9-b34d-bd2621b1924b.mp4

**Expected behavior**
 Mixer should automatically change its height. There is should no gap or сlipping at the top

**Platform information**
macOS, Windows, Linux

[2022-03-02 11:27] DmitryArefiev opened #10707 "[MU4 Issue] Mixer window is blinking"
**To Reproduce**
1. Open Mixer
2. Open score with a lot of instruments

https://user-images.githubusercontent.com/90187801/156353171-5e5be184-6b85-4f1f-bba4-cfbfc31c29e7.mp4

**Platform information**
 - OS: [e.g. macOS, Windows, Linux]

[2022-03-02 12:54] tibequadorian commented on #10681
I noticed that in a ~15 sec session where I heavily mouse through the panel, some functions in the debug output are more often called and have significantly more sum time:
[code]
compared to an idle session of the same length:
[code]
I hope this helps.

[2022-03-02 12:58] #9241 closed

[2022-03-02 12:58] #9642 closed

[2022-03-02 13:25] oktophonie commented on #9868
As part of this, we must also address the inconsistent distance between a grace note and notes with and without an accidental:

![image](https://user-images.githubusercontent.com/20604032/156370111-fecc09a1-0a2a-40fa-873b-dc9b226ef041.png)
(Image courtesy of @sammik)

[2022-03-02 13:52] RobFog commented on #10705
Are you sure? Maybe I'm misunderstanding something but I would argue the mixer should not change its height when resizing the window. In your screencast it does increase in size at 0:04  – its content does not – when it probably should not.

[2022-03-02 14:54] DmitryArefiev commented on #10705
Yeah, you are right. My mistake in the summary. Edited.

Thanks for catching this!

[2022-03-02 15:36] #9227 closed

[2022-03-02 16:16] jeetee commented on #9227
Any link to which PR/commit closed this @vpereverzev ?

[2022-03-02 17:37] shoogle opened #10712 "[MU4 Issue] [Accessibility] NVDA doesn't read menus properly"
**Describe the bug**
When using MuseScore with the NVDA screen reader, menus like File and Edit are not spoken properly. Items in the menu (e.g. New, Open, Save, Export, etc.) are announced as _"Grouping"_.

![image](https://user-images.githubusercontent.com/11011881/156416693-17b986b0-1083-4e28-8752-0be53f58922d.png)

**To Reproduce**
Steps to reproduce the behavior:
1. Launch MuseScore and the [

[2022-03-02 18:53] DmitryArefiev commented on #9251
Tested latest master build on Win10, Mac12, LinuxMint 20.2 - FIXED

Closing

[2022-03-02 18:53] #9251 closed

[2022-03-02 19:04] DmitryArefiev opened #10714 "[MU4 Issue] Crash after adding new instrument"
**To Reproduce**
1. Open a score
2. Add a new instrument

https://user-images.githubusercontent.com/90187801/156430596-34184ce1-adf3-4e0c-8e13-f9db1fd16508.mp4

**Platform information**
macOS, Windows, Linux

[2022-03-02 19:19] DmitryArefiev commented on #8360
Tested latest master build on Win10, Mac12, LinuxMint 20.2 - FIXED

Closing

[2022-03-02 19:19] #8360 closed

[2022-03-02 21:08] #8700 closed

[2022-03-02 21:08] #10714 closed

[2022-03-02 23:25] shoogle opened #10717 "[MU4 Issue] [Accessibility] Screen readers not working in Palettes"
**Describe the bug**
Speech output for all palette items is just _"List item"_. The screen reader should say the name of the item (e.g. _"Treble clef"_, _"C Major"_, _"Common time"_, _"Fermata"_, etc.). This is necessary for blind users to be able to find items and add them to the score.

**To Reproduce**
Steps to reproduce the behavior:
1. Start up a screen reader (e.g. NVDA, Windows Narrator) an

[2022-03-03 02:56] duanjr commented on #10698
hmmm，when I test the copy-paste feature for multiple items in staves, it did not work...(maybe my mistake)
I test it again just now it works as expected.

[2022-03-03 04:05] duanjr commented on #10611
This only happens in popup view.
Maybe because tooltip is also a popup view and some signal is listened twice.
Another issue may be related: [10463](https://github.com/musescore/MuseScore/issues/10463) (also tooltip in popupview)

[2022-03-03 08:29] #10644 closed

[2022-03-03 09:18] bkunda opened #10719 "[MU4 Issue] Percussion panel interactions not yet implemented"
**Describe the bug**
Some important interactions are still missing from the percussion panel. These include:

- Double click to enter the note into the score
- Number row shortcuts to change note duration

Demo video:

https://user-images.githubusercontent.com/86290556/156534406-40142165-f705-47ce-9def-ac3992e7c59d.mp4

**Expected behavior**
See video above

**Platform information**
 - MacOS 12.1

[2022-03-03 15:08] #9860 closed

[2022-03-03 15:31] DmitryArefiev commented on #9860
Tested on Mac12 - FIXED in #10726

[2022-03-03 15:54] jessjwilliamson opened #10729 "[MU4 Issue] VST MIDI notes 'freezes' on playback"
When stop playing the score, the notes freeze (I think MIDI message issue) when I stop playing score. If I play back to beginning and play again, it paybacks back more notes on top of previous - ending up some MIDI overlaying chaos! The only way this can stop is either close the score or play the score again until where initially paused to unfreeze that particular MIDI note/message.
(Excuse the cl

[2022-03-03 16:15] jessjwilliamson commented on #10729
There's an issue similar to this https://github.com/musescore/MuseScore/issues/9882
But current one (10729) is worse

[2022-03-03 18:41] DmitryArefiev commented on #9185
Tested on Win10, Mac12, LinuxMint 20.2 - FIXED (checked on builds from #10724)

Closing

[2022-03-03 18:41] #9185 closed

[2022-03-03 20:03] DmitryArefiev opened #10732 "[MU4 Issue] Rewind and Play buttons don't behave as in MU3 when barline, line, slur etc. are selected"
( **Bug 1** )
When barline (or repeat line)  is selected,  Rewind button doesn't move selection to the first note (rest) of score - **UPDATE**: **NOT A BUG**, expected in **MU4**

**Bug 2** (most important)
When barline (or repeat line), lines (hairpin, ped), slur etc. are selected, Play button doesn't start playback from that location

https://user-images.githubusercontent.com/90187801/156643760-

[2022-03-03 20:17] DmitryArefiev opened #10733 "[MU4 Issue] Restore window position doesn't work so good as in MU3 in same cases"
**To Reproduce**
1. Open MU in middle size
2. Expand window (click Maximize in the top right corner)
3. Close MU with Alt+F4 shortcut
4. Open MU
5. Enter full screen with F11 shortcut
6. Close MU with Alt+F4 shortcut
7. Open MU
8. Decrease MU window (click Restore down in the top right corner) - **MU doesn't restore window to middle size** (like in Step 1)

https://user-images.githubusercontent.co

[2022-03-03 20:33] DmitryArefiev commented on #10593
Looks good in #10661

[2022-03-03 21:13] #10593 closed

[2022-03-03 21:23] cbjeukendrup commented on #10719
@RomanPudashkin, I fixed that item as part of #10735, so you don't need to do that :)

[2022-03-04 00:28] Tantacrul opened #10736 "Spaces after commas not working. Typo correction & copy change for 'Learn' section"
**Describe the bug**
The text when videos can't load in the 'Learn' section needs a tiny bit of revision. There are two ',' symbols with no spaces after them and (being pedantic) you shouldn't have the word 'but' after a comma.

<img width="1453" alt="image" src="https://user-images.githubusercontent.com/21022311/156675766-eddbead1-4ba6-470f-b040-49fa7a400a03.png">

**Desired**
**"Sorry, we are un

[2022-03-04 00:40] cbjeukendrup commented on #10736
Actually, there _is_ a space, but apparently in that font something strange happens with commas. Here's how it looks in Fira Sans:
<img width="644" alt="Schermafbeelding 2022-03-04 om 01 36 11" src="https://user-images.githubusercontent.com/48658420/156676713-1feb0407-f102-477c-98ff-b740ba303747.png">
I remember that I've seen that problem with commas eating spaces earlier... I think it was in the

[2022-03-04 00:42] Tantacrul commented on #10736
Interesting! Although the copy should change anyway... we should look into this.

We're definitely planning to revert back to the OS default UI fonts anyway. This example is SF Pro.

[2022-03-04 00:42] Tantacrul commented on #10736
I've changed it to a P2 since it is shaping up to be a more significant problem.

[2022-03-04 09:59] #10598 closed

[2022-03-04 14:30] DmitryArefiev commented on #10666
Tested on Win10, Mac12, LinuxMint 20.2 - FIXED in #10688

[2022-03-04 15:31] DmitryArefiev commented on #10697
Tested on Win10, Mac12, LinuxMint 20.2 - FIXED in #10696

[2022-03-04 15:57] #10697 closed

[2022-03-04 16:09] DmitryArefiev opened #10741 "[MU4 Issue] Unable to extend slur to the next system (using shortcut) on Linux"
**Describe the bug**
Was fixed in #10449 but recently broken on Linux

**To Reproduce**
1. Create slur (S)
2. Using shortcut **Shift+Right**, try to extend slur to the next system

https://user-images.githubusercontent.com/90187801/152533116-2eaf0f02-f46c-4ee7-870f-e06a1eb9e2c9.mp4

[2022-03-04 16:21] DmitryArefiev opened #10742 "[MU4 Issue] Paste text when editing doesn't work on Linux"
**To Reproduce**
1. Double click on Title
2. Ctr+A to select all
3. Ctr+X to cut (text disappears)
4. Ctr+V to paste - **nothing happens**

Also doesn't work if to use commands from File menu>Edit>Paste

**Platform information**
Linux only

**Additional context**
Doesn't occur in **MU3**

[2022-03-04 20:59] MarcSabatella opened #10745 "[MU4 Issue] Tab key does not function to navigate while entering chord symbols"
The Tab key is intended to navigate measure by measure while entering chord symbols (or Roman numeral analysis, or other related elements).  However, this currently does not work - it instead transfers keyboard focus to other GUI elements within the main window.  That's expected behavior while not in one of the text edit modes, but not while entering text.

To reproduce:

1) new score
2) select fi

[2022-03-04 22:33] Eism commented on #9765
@bkunda implemented down arrow navigation as it is in Windows and Linux
please, check #10746

[2022-03-05 09:57] HemantAntony commented on #8884
Update, now it shows up like this

https://user-images.githubusercontent.com/88136054/156878307-b943bcab-a87f-412b-b8f5-70a7f3fdef90.mp4

This is the expected behavior, right?

[2022-03-05 18:22] cbjeukendrup commented on #10736
@Tantacrul curious observation:
- If you choose `.AppleSystemUIFont` in the dropdown in Preferences, this issue occurs;
- If you choose `SF Pro`, the issue does not occur.

So apparently, `.AppleSystemUIFont` points to a wrong version of the font.

Also, there is SF Pro, SF Pro Display, SF Pro Rounded and SF Pro text. Do you know which is the correct one?

Somehow, in MuseScore, these system fonts

[2022-03-05 18:56] Trainzack commented on #8884
@HemantAntony There is still a new, empty Musescore window being opened. I'm not sure that that's desirable in this situation.

[2022-03-05 20:17] Tantacrul opened #10751 "Return default UI font to OS default. Goodbye Fira Sans!"
**Describe the bug**
As it says on the tin: the OS defaults are simply more legible than Fira Sans.

Also, pay attention to #10736 to make sure that the strange 'no space after a comma' problem occurs.

[2022-03-05 21:28] cbjeukendrup commented on #10751
I suddenly had a concern about this. So apparently, the system font used by Qt on macOS is a kind of crippled version where the comma has no width and there are probably other problems too.
When I install SF Pro manually via Apple's developer website, and use that instead of the system font, it looks okay. But we are not allowed to package this font with MuseScore, as stated by its license. So...

[2022-03-05 21:32] cbjeukendrup commented on #10751
There is also some good news: the problem seems fixed in Qt 6.

[2022-03-05 21:58] vpereverzev commented on #10751
let's keep Fira Sans until 4.1 then. After MU4.0 we'll migrate on Qt6, it does seem to be quite stable already

[2022-03-05 21:59] vpereverzev commented on #10751
@Tantacrul Are you OK with that?

[2022-03-05 22:31] Tantacrul commented on #10751
Annoyingly, I don't think we can stick with Fira. It look really, really bad on Windows and not great on Mac either. On any machine I've used, reverting to the OS default instantly makes the app look a lot better and more legible.

Releasing with a clearly inferior font is just too big a deal. I've heard a lot of complaints about it already and nothing positive.

[2022-03-05 23:20] #10736 closed

[2022-03-06 02:54] llui85 commented on #10219
Still reproducible as of 5/3/22.

Also: Menus can't be closed with escape either.

[2022-03-06 09:51] Howard-C opened #10755 "[MU4 Issue] All tabs of Style are Score"
**Screenshots**
![image](https://user-images.githubusercontent.com/46259489/156918029-b7f00b33-369d-4800-9955-89e934ae1c28.png)

**Platform information**
 - OS: Windows 11

[2022-03-06 12:15] Fince10086 opened #10756 "[MU4 Issue] An octave higher when playing the note C-flat"
**Describe the bug**
MU4 has an octave higher when playing the note C-flat.

**Screenshots**
![image](https://user-images.githubusercontent.com/87692117/156922561-81c86244-d379-42fd-a48a-935d68127ce5.png)

**Platform information**
Windows and Linux (not tested on macOS)

[2022-03-06 15:46] cbjeukendrup commented on #10756
There are more problems with notes with accidentals...
- F## sounds like Eb
- Cb, Cbb, A## sound an octave to high
- B#, B##, Db, Dbb sound an octave to low

[2022-03-06 22:59] cbjeukendrup commented on #10751
@Tantacrul @vpereverzev I created this solution: https://github.com/musescore/MuseScore/pull/10758
Do you agree about it?

[2022-03-07 10:45] cbjeukendrup commented on #10751
I tried calling the native macOS APIs, and they also return `.AppleSystemUIFont` as the default font. So the problem is really in Qt and how Qt _uses_ that font.

The comma issue also occurs in the very simplest possible Qt app, so it's not something that we are doing wrong.

I found this report (among others about the same issue) in the Qt Bug Tracker: https://bugreports.qt.io/browse/QTBUG-88495

[2022-03-07 11:01] cbjeukendrup commented on #10751
This is the patch they used to fix it: https://codereview.qt-project.org/c/qt/qtbase/+/322102
We could theoretically grab the source code of 5.15.2, apply this patch manually, and compile our own Qt version, but that seems not really feasible to me (among other things because I heard it takes _hours_ just to compile Qt).

I also read that Qt have silently released an open source version of Qt 5.15

[2022-03-07 11:11] Tantacrul commented on #10751
OK, thanks for the explanation. Appreciated.

I think I'd still move to go with the native OS defaults and we can perhaps fiddle with the copy in the few places where commas are causing problems.

Greater use of periods, hyphens and perhaps semi-colons :D

[2022-03-07 19:17] cbjeukendrup commented on #10751
Meanwhile, I managed to compile Qt 5.15.3 (indeed it took hours), and built MuseScore on top of it, and indeed it fixes the issue.

So, we could upload my Qt version to our S3 server, and let our GitHub CI use it instead of Qt 5.15.2. That way, nightly/alpha/beta/release builds will use the patched version, while contributors don't need to worry about installing a custom Qt version on their own ma

[2022-03-07 22:37] Tantacrul commented on #10751
I defer to @vpereverzev on this :)

[2022-03-08 13:04] Tantacrul opened #10762 "The search button in Palettes is still taller than the button next to it"
**Describe the bug**
The search button in Palettes is still too tall. It is amazingly annoying to look at :)

<img width="969" alt="image" src="https://user-images.githubusercontent.com/21022311/157243310-6480e6ad-458f-4a0c-b328-a4eacc46f692.png">

Giving it a P2 just for the annoyance factor.

[2022-03-08 13:06] Tantacrul commented on #10762
I know I logged this a while ago but I can't find the issue. Perhaps it was fixed and then unfixed?

[2022-03-08 13:08] HemantAntony commented on #10762
@Tantacrul see #9278

[2022-03-08 13:11] RobFog commented on #10762
And #9278 was closed in favour of the older and more comprehensive #8098.

[2022-03-08 16:50] Tantacrul commented on #8098
I've just assigned this beauty to you @cbjeukendrup :)

Upgraded it from a P3 also because it affects a core bit of UI and is easy to spot (it has been commented on quite a number of times by non-designers!)

[2022-03-08 16:52] Tantacrul commented on #8098
Just realised this has been tackled in 8114... so I guess it is just awaiting review.

[2022-03-08 16:53] Tantacrul commented on #10762
@RobFog - thanks!

Closing this one down.

[2022-03-08 16:53] #10762 closed

[2022-03-08 23:19] worldwideweary opened #10764 "[MU4 Issue] Alt+[Shortcut] then mousing menu has stuck highlighting at times"
**Describe the bug**
When accessing above menus via Alt+ whatever like Alt+F for file, then using mouse, the highlighter gets stuck at times.
Not only this, but Left/Right arrows act like Up/Down arrows.

Expected behavior: Like most decent functioning applications

Initial portion of the following sloppy screencast shows that regular Mouse Activation + Motion seems decent, but using Alt+ then mou

[2022-03-09 04:33] bkunda commented on #10680
Thanks for this explainer, Marc. It makes much more sense to me now to understand this as a separate command that applies the selected duration/accidental to the note you’ve just entered. I agree with you that there is some potential here for possible UI interaction as well, so I have logged this on my list of possible note input/key command improvements for when we discuss our design goals post M

[2022-03-09 08:14] #9765 closed

[2022-03-09 08:18] #10594 closed

[2022-03-09 09:13] #9790 closed

[2022-03-09 11:07] bkunda opened #10766 "[MU4 Issue] Fix solo/mute interactions in mixer"
**Describe the bug**
There are a couple of bugs with how solo and mute currently work in the mixer.
1. Turning off solo on a track leaves all other tracks muted.
2. After enabling solo on a track, setting solo on any subsequent track leaves that track in mute state.

Video: issue 1

https://user-images.githubusercontent.com/86290556/157428929-12f78e85-ca17-4db1-a9d8-1afdf2b5c1e3.mov

Video: issue

[2022-03-09 12:24] mattblo commented on #10766
Related to https://github.com/musescore/MuseScore/issues/10335

[2022-03-09 13:06] Tantacrul opened #10767 "Glissando text has poor formatting and often disappears"
**Describe the bug**
See video.

https://user-images.githubusercontent.com/21022311/157447397-2bc2c545-df67-449f-818c-eda745cfb3c1.mov

You can see the issue also affects the symbol in palettes too, which is also missing the 'gliss.' text.

[2022-03-09 13:43] DmitryArefiev commented on #10599
Tested on Win10, Mac12, LinuxMint 20.2 - FIXED in #10728

[2022-03-09 13:46] #10599 closed

[2022-03-09 14:54] RomanPudashkin commented on #10448
I'm working on it

[2022-03-09 16:35] DmitryArefiev opened #10769 "[MU4 Issue] MIDI keyboard should automatically detected as input source without editing Preferences>I/O"
**To Reproduce**
1. Connect USB MIDI keyboard
2. Run MU
3. Select bat
4. Hit N
5. Play something on MIDI keyboard - **nothing happens**

(you should choose MIDI keyboard manually in Preferences>I/O>MIDI Input before the first use)

**Expected behavior**
MIDI keyboard should be automatically detected

**Platform information**
Win10/Mac12, Arturia KeyLab Essential 61

**Additional context**
Doesn't

[2022-03-10 08:17] #10350 closed

[2022-03-10 08:17] #10692 closed

[2022-03-10 08:17] #10693 closed

[2022-03-10 08:18] RomanPudashkin commented on #10033
See https://github.com/musescore/MuseScore/pull/10734

[2022-03-10 08:18] #10033 closed

[2022-03-10 21:26] miiizen commented on #10684
I'm currently taking a look at this :)

[2022-03-11 08:56] RomanPudashkin commented on #7822
At the moment, there are options for dynamics in the current master. Remaining issues should be logged separately

[2022-03-11 08:56] #7822 closed

[2022-03-11 10:58] boryskuzmenko opened #10774 "[MU4 Issue] 'Play notes when editing' checkbox can't be unselected in the preferences"
'Play notes when editing' checkbox can't be unselected in the preferences

**To Reproduce**
Steps to reproduce the behavior:
1. Go to 'Preferences > Note Input'
2. Try to untick 'Play Notes when Editing' checkbox
3. Pay attention to the checkbox behavior

**Expected behavior**
'Play notes when editing' checkbox can be unselected
'Play Chord when Editing' and 'Play Chord Symbol when Editing' checkb

[2022-03-11 11:18] boryskuzmenko opened #10776 "[MU4 Issue] Last note under a slur/tie keep focused after clicking on the empty part of the page to lose focus"
**Describe the bug**
Last note under a slur keeps marked as focused after clicking in a free page spaсe to lose focus

**To Reproduce**
Steps to reproduce the behavior:
1. Go to 'MU4'
2. Create new score and add at least three notes
3. Add a slur to the first note
4. Move the end of the slur to the next note (using mouse)
5. Move cursor out from the slur and notes
6. Pay attention to the last note

[2022-03-11 11:38] #8969 closed

[2022-03-11 11:38] HemantAntony commented on #10774
@boryskuzmenko Just wanted to check if I'm understanding correctly:
When 'Play notes when editing' is checked, 'Play Chord when Editing' and 'Play Chord Symbol when Editing' should not be disabled
But when 'Play notes when editing' is not checked, 'Play Chord when Editing' and 'Play Chord Symbol when Editing' should be disabled

[2022-03-11 11:41] abariska opened #10777 "[MU4 Issue] Score preview is not updated according to the updates in the score after 'Save' and 'Close'"
**Describe the bug**
Score preview is not updated according to the updates in the score after 'Save' and 'Close'

**To Reproduce**
Steps to reproduce the behavior:
1. Go to 'MU'
2. Create new score, save it empty, close it
3. Pay attention to the score preview
4. Open the same score, add any notes/symbols, save it, close it
5. Pay attention to the score preview

**Expected behavior**
Score preview

[2022-03-11 11:50] boryskuzmenko commented on #10774
Yes, that's right.
You can check the correct behavior in MU3

On Fri, Mar 11, 2022 at 1:38 PM Hemant Antony ***@***.***>
wrote:

[2022-03-11 12:37] Tantacrul opened #10779 "Initiating 'Play' automatically scrolls the score to the top of the page. Vertical scrolling should be disabled."
**Describe the bug**
In this example (see video below), I have a large score with multiple instruments. Pressing play seems to vertically scroll the score back to the top of the page.

Obviously, this makes sense if the playback is occurring on a different system. For example, a solo piano score will require vertical scrolling if the user is zoomed in. However, when the system being played back is

[2022-03-11 12:38] Tantacrul commented on #10779
I don't know why @wizofaus but I suspected you might have some good insights on this one. I imagine I've only uncovered one type of problem here.

[2022-03-11 12:48] Tantacrul opened #10780 "Too many 'Stave Types' displayed in the Instruments Panel compared to MS 3.6"
**Describe the bug**
See video for the full explanation.

https://user-images.githubusercontent.com/21022311/157869299-c7763456-7895-4059-a422-fdfc497caacd.mov

1. Step one would be to hide any options not displayed in MuseScore 3.6
2 Step two is to also remove any other redundant options (which I'm not 100% sure about yet. There may be reasons there is a 'Standard' and a 'Custom Standard' staff d

[2022-03-11 12:49] Tantacrul commented on #10780
Again @wizofaus - if you're game, this one might be up your alley. It could be the simplest fix ever, but there might be more thinking required.

[2022-03-11 20:09] Tantacrul opened #10791 "When the New Score dialog is triggered, the search bar should automatically be in focus"
**Describe the bug**
When the **New Score** dialog is triggered, the search bar should automatically be in focus so users can immediately begin typing.

<img width="1028" alt="image" src="https://user-images.githubusercontent.com/21022311/157952262-4454e268-5a1d-4416-979a-ee0b536dca72.png">

[2022-03-11 20:17] Tantacrul commented on #10428
Now that I experience this more, the existing behaviour is doubly problematic. First off, if some random element is selected on the score by default, then the inspector doesn't show global options. In the case of a barline, it shows some really weird stuff and the user won't have any context to understand what any of it means (because those options didn't appear as a result of anything they've don

[2022-03-11 21:29] MarcSabatella commented on #10428
The point of selecting something for accessibility's sake is so the screenreader says something meaningful right off the bat.  And as I said, that would actually be more relevant if we did this for *existing* scores - there isn't anything meaningful to read for newly created scores anyhow.  We *don't* select anything in existing scores, which is a minor nuisance at most for blind users, but no los

[2022-03-12 08:59] HemantAntony commented on #10774
I'm working on this. PR soon!

[2022-03-12 09:00] boryskuzmenko commented on #10774
Great, thanks!

Сб, 12 марта 2022 г. в 11:00, Hemant Antony ***@***.***>:

[2022-03-12 09:11] Tantacrul commented on #10428
I certainly agree on many of those last few points and I think they should be raised as separate issues. By and large, if tab, left or alt+left immediately selects something, I think we'll be in a v.good place.

[2022-03-12 09:12] Tantacrul commented on #10428
We also need to put out the alpha so blind users can test it and give feedback.

[2022-03-12 14:17] Tantacrul opened #10794 "Add the 'section' strings to the 'common' category"
**Describe the bug**
Currently, in the '**common**' category of the add instruments / new score dialog, we only show solo viol instruments. We shoudl also add the sections here too and rename them slightly.

To avoid confusing english speakers, who might not easily notice the difference between singular and plural, I think we should use the following naming convention:

- Violin
- Violins (section

[2022-03-12 14:35] Tantacrul opened #10795 "Instrument playback should be dynamic, based on the users selection on the score."
**Task description**
In most other notation apps (excluding Finale), users can quickly solo an instrument or hear a range of specific instruments by making a selection on the score. This is an incredibly useful feature that removes the need to fiddle with Mute/Solo buttons in the mixer and is long overdue in MuseScore.

It should work like this:

If a user selects an **element** on the score and t

[2022-03-12 20:53] Tantacrul opened #10797 "Stave lines in palettes are quite harsh and would be easier to read if toned down"
**Describe the bug**
Stave lines in palettes are quite noisy in places. We could fix this by applying a 50% transparency, or simply choosing a softer colour for them. (I can supply the colours if needed)

Example:
Original:
<img width="108" alt="image" src="https://user-images.githubusercontent.com/21022311/158034603-4463dac4-af47-4477-ab6e-6e9ae410eae6.png">

Becomes:
<img width="111" alt="image"

[2022-03-13 13:15] vimpostor commented on #10756
I have fixed this in #10798 :)

[2022-03-13 14:39] cbjeukendrup commented on #10755
I could reproduce this by going to DevTools > Settings and manipulating the value for `ui/styleMenuOrder`. It has to do with PR #7997.

[2022-03-13 18:23] #10756 closed

[2022-03-13 22:05] vimpostor commented on #10729
I think Musescore should just stop all audio output on pause (i.e. send MIDI all-notes-off). This is how "other" DAWs do it as well.

[2022-03-13 23:47] wizofaus commented on #10779
Ok I have a very simple fix that basically says "don't zoom as long as the playback cursor is at least partly visible".
But that will mean even if only 1 pixel of it is visible, it won't zoom, as long as you're OK with that. @Tantacrul

[2022-03-14 00:08] wizofaus commented on #10794
Yeah very simple one to fix, just need to add `<genre>common</genre>` to each of those Instruments, but I'll do it once you decide that you definitely want to rename to "Violins (section)". Actually they already have a "description" field that is "Violin section" currently, but this isn't used in the Instruments dialog (and for other instruments that's quite long, like "Highest-pitched member of t

[2022-03-14 09:04] oktophonie commented on #10794
The `longName` is what gets used in the score itself (or if it isn't, it should be!), so it's fine for the `trackName` (which is displayed in the new score wizard and in the mixer) to be different.

[2022-03-14 09:10] wizofaus commented on #10794
Yes, it uses the long name (except on subsequent staves etc. if you've opted to show the short name).
So do we want "Violins (section)" etc.?  Noting that it will display that in the mixer...

[2022-03-14 09:16] #10774 closed

[2022-03-14 10:54] Tantacrul commented on #10779
It sounds like a good step in the right direction that will solve this problem. Thanks!

[2022-03-14 10:56] Tantacrul commented on #10794
I guess so. Obviously there isn't a lot of room for text in the mixer, so that is a problem (not just in this case but in other cases too).

Perhaps later, we might decide to change the mixer so it uses the names displayed on the score. In fact, I'm not 100% sure why we don't do that... I'll need to check later. Curious if anyone has any opinions on that.

[2022-03-14 13:48] alexpavlov96 commented on #10379
waiting for https://github.com/musescore/MuseScore/issues/10684 to implement "China (52)"

[2022-03-14 14:12] #10322 closed

[2022-03-14 14:26] Tantacrul opened #10801 "TASK - Playback Profiles System"
**Task description**
One of the last major tasks to implement after the Alpha release is our system for switching between playback profiles. This includes:

- A basic 'Sounds' section in the 'Home' tab. Designs for this are on Figma (I can show you where)
- A new dialog for altering / switching between playback profiles

The specification for this can be obtained by contacting me.

<img width="141

[2022-03-14 15:08] #9098 closed

[2022-03-14 15:21] DmitryArefiev opened #10802 "[MU4 Issue] View>Toolbars: Playback Controls and Status bar items aren't checked when they are present in MU window"
**To Reproduce**
1. Open MU
2. Make sure Playback Controls and Status bar items are present
3. Go to View>Toolbars - **those options are not checked**

https://user-images.githubusercontent.com/90187801/158203650-db78daba-4a58-42f6-83ba-77c478634670.mp4

**Platform information**
macOS, Windows, Linux

**Additional context**
Doesn't occur in **MU3**

[2022-03-14 17:12] DmitryArefiev opened #10804 "[MU4 Issue] Main pitch should not change after changing default sample rate in audio device settings (Windows10, Realtek Audio Device)"
**Describe the bug**
On my ASUS laptop I found weird behavior when MU changes its pitch after changing sample rate in Realtek Audio Default settings (Internal Audio Device).
Pitch should not change and be correct (like it behaves in **MU3**)

Pitch is **not correct** when sample rate is **44kHz**:

https://user-images.githubusercontent.com/90187801/158224147-9144ab40-0513-4698-8777-c46a6080e7e5.mp

[2022-03-14 18:22] DmitryArefiev opened #10807 "[MU4 Issue] There is should not be a noticable delay when starting playback right after MU launch (on small scores)"
**To Reproduce**
1. Run MU
2. Open a small score quickly
3. Start playback

Compare delay in **MU2**, **MU3.6.2** and **MU4**:

https://user-images.githubusercontent.com/90187801/170300776-2da102f5-f314-49d5-996e-2cbb45f54882.mp4

**Platform information**
 Windows 10

**Additional context**
Doesn't occur in **MU 2.0.1**
**Occurs** in **MU3.6.2**

[2022-03-14 21:32] wizofaus commented on #10755
But that was merged in April last year...this is obviously something fairly new.

[2022-03-14 23:11] wizofaus commented on #10755
What's the actual intention in terms of how a user should be able to set this though?

[2022-03-14 23:51] wizofaus commented on #10755
Does quitting MuseScore, removing the styleMenuOrder from MuseScore4Development.ini and restarting fix it? (it did for me). Even if you then change a setting or style, quit and restart again?  I can't see how it ever got set to 0,0,0,0,0,0... in the first place.

[2022-03-15 06:22] Kissh12 commented on #10797
Heyy, is this open? Can I work on this?

[2022-03-15 08:50] Tantacrul commented on #10797
@Kissh12 - with our blessing ;)

If you have any questions or want a build reviewed, please just send me a message.

[2022-03-15 12:01] bkunda opened #10812 "[MU4 Task] Implement selected plugins to be pre-installed with MS4"
**Task description**
Since plugins will need to be either modified or rebuilt for compatibility with MS4, we have selected a small handful from the existing set available on [musescore.org](https://musescore.org/en/plugins) that can be packaged together with the download of MS4.

These plugins are considered to be already reasonably well designed and potentially offer real benefit to a considerabl

[2022-03-15 12:31] #10666 closed

[2022-03-15 12:58] bkunda opened #10814 "[MU4 Task] Updates to "getting started" flow"
**Task description**
A few small changes to the **playback** and **tutorials** screens of the "getting started" dialog:

PLAYBACK
1. Adding a placeholder image
2. Updating the copy
3. Adding a new button: "Download" (N.b. it won't yet have any functionality)
4. Changing the label of the "Skip for now" button to "Next"

Note also the use of accent colour in the "Download" button.

TUTORIALS
1. Repl

[2022-03-15 13:33] bkunda opened #10815 "[MU4 Issue] Mixer issues: metronome track position and failed refresh when instruments are deleted"
**Describe the bug**
Two (or three) issues here:

1. The metronome track should remain aligned to the immediate left of the master track when new instruments are added. This currently does not take place (i.e. new instruments in the mixer are stacked to the right of the metronome track).
2. Removing instruments by the `undo` command fails to remove them from the mixer.
3. Removing instruments from

[2022-03-15 14:26] jessjwilliamson commented on #10815
Absolutely agree!

[2022-03-15 16:15] DmitryArefiev opened #10817 "[MU4 Issue] Unable to invoke Instruments window with I shortcut if Instruments panel is closed"
**To Reproduce**
1. Invoke Instruments window with **I** key - opens fine
2. Close Instruments panel
3. Invoke Instruments window with **I** key - **doesn't work**

https://user-images.githubusercontent.com/90187801/158422758-0fad61d8-aef3-47e1-91e1-ae9e594c58e0.mp4

**Expected behavior**
Shortcut should work with closed Instruments panel as well

**Platform information**
macOS, Windows, Linux

[2022-03-15 18:20] DmitryArefiev commented on #10632
Fixed in #10818

[2022-03-15 18:21] #10669 closed

[2022-03-15 22:43] miiizen commented on #10684
Do we want chromatic noteheads on as default in movable do or as another scheme entirely?

[2022-03-16 04:48] duanjr commented on #10451
Looks this issue is not active.
I've done some job research.
My current palette looks like this:
<img width="292" alt="image" src="https://user-images.githubusercontent.com/71218187/158515491-3f0a4d6c-bb90-4e3e-a02e-d40d3d660999.png">
One thing to notice is that "Staff type change" is not an anction, it needs more change to show U+F433 than just change the icon code, which may not worth it.(looks

[2022-03-16 04:57] HemantAntony commented on #10451
Yeah, I had tried to change that icon. I don't think its actually displayed as an icon. It seems like its being "drawn" or "painted" with lines and not as a pre-existing icon. I remember the code for that being in engraving folder in `stafftypechange.cpp`. Maybe the `draw()` function. Its not direct like the other icons

[2022-03-16 05:05] duanjr commented on #10451
Yeah, and those 'break' and 'spacer' are neither icons. You remember right about the code, I rewrite `draw()` function, but disrupted part of the existing code structure about painting

[2022-03-16 05:13] duanjr commented on #10451
I suggest not using U+F433 or we can "draw" a new icon with painter for consistency with existing code.(I can't find a palette cell which is not action but uses icons)

[2022-03-16 05:53] HemantAntony commented on #10451
I'm not really sure about this, but I think you shouldn't just change the "icon" by rewriting the `draw()` because unless I am mistaken that function gets called when you add a StaffTypeChange to the score

[2022-03-16 06:46] bkunda commented on #10451
@vpereverzev @igorkorsukov @Eism can one of you please weigh in on this when you get a minute? I seem to remember a discussion about leaving some of these as `musescoreicon` and making them scalable like the "drawn" icons. I don't have an opinion about the best way forward here, but I think you guys should perhaps advise what the best path is for this issue 🙂

[2022-03-16 06:50] IOL0ol1 opened #10822 "How to manually specify time signature through midi_import_options.xml"
I use the midi_import_options_0.xml file to convert the mid file to musicxml file through the command line
My midi_import_options_0.xml file like [this](https://musescore.org/sites/musescore.org/files/midi_import_options_0.xml)
But I didn't find how to set the time signature manually.

[2022-03-16 06:55] duanjr commented on #10451
Yes and it will be about only half the size as expected. And more change is needed to fix this.

[2022-03-16 07:12] Jojo-Schmitz commented on #10684
Best ask this in that issue.

[2022-03-16 09:32] RomanPudashkin commented on #8828
See https://github.com/musescore/MuseScore/issues/10719

[2022-03-16 09:32] #8828 closed

[2022-03-16 09:53] Eism commented on #10214
fixed in #10191

[2022-03-16 09:53] #10214 closed, assigned to Eism

[2022-03-16 09:53] #10622 closed

[2022-03-16 10:59] boryskuzmenko commented on #9432
**FIXED** in the PR [#10805 ](https://github.com/musescore/MuseScore/pull/10805)

[2022-03-16 11:00] DmitryArefiev commented on #10817
Fixed in #10821

[2022-03-16 11:13] DmitryArefiev commented on #10465
Tested  in latest master build (Win10, Mac12, LinuxMint 20.2) - CAN'T REPRODUCE NOW

Closing

[2022-03-16 11:13] #10465 closed

[2022-03-16 11:37] DmitryArefiev opened #10823 "[MU4 Issue] Crash when deleting instruments in some scores"
**To Reproduce**
1. Open  [7.zip](https://github.com/musescore/MuseScore/files/8261694/7.zip) or [8.zip](https://github.com/musescore/MuseScore/files/8261697/8.zip)
2. Open Instruments window and delete instrument

https://user-images.githubusercontent.com/90187801/158581229-4f4b3264-5975-4c79-8e5d-9d7a00e36a97.mp4

**Platform information**
macOS, Windows, Linux

[2022-03-16 12:02] Tantacrul commented on #10671
@wizofaus - you think you could help us with this one? This particular UI is just embarrassing because it almost never provides anything useful.

[2022-03-16 13:38] shoogle commented on #10794
Sorry I didn't see this earlier. I think these are sensible changes, but they have to be made in the [online spreadsheet](https://docs.google.com/spreadsheets/d/1SwqZb8lq5rfv5regPSA10drWjUAoi65EuMoYtG-4k5s/edit#gid=516529997) first before they can go in instruments.xml. Currently I'm the only person who can edit the spreadsheet. We can discuss opening it up to other people although that would requ

[2022-03-16 13:53] shoogle commented on #10794
@Tantacrul

It can be useful to have a part name in the Mixer that is different to the instrument name displayed in the score.

1. The instrument name might be empty because the user doesn't want it to appear on the score (e.g. on a piano staff).
2. The part name could show the English name of instruments that use the German names in the score (for example).
3. Part names such as "Guitar (tablatur

[2022-03-16 14:57] #9432 closed

[2022-03-16 14:58] DmitryArefiev opened #10825 "[Improvement] Playback options for ornaments are not implemented in the Inspector (Properties)"
1. Playback drop down menu is greyed out
2. No difference between **Standard** and **Baroque** performance style for all ornaments except trill

![MU4](https://user-images.githubusercontent.com/90187801/158618976-260fe9dd-893d-4c6b-915d-0240fef0644a.PNG)

**Platform information**
macOS, Windows, Linux

**Additional context**
Those options are not working properly in MU3 as well..

1. As a Playback

[2022-03-16 16:04] Tantacrul commented on #10794
I would probably prefer the mixer to contain a name that matches what is written on the main score itself. It's also worth pointing out that the mixer doesn't have much horizontal space, so we'd not be able to display a lot of a name like **Baritone Horn (Central Europe)**

[2022-03-16 16:05] Tantacrul commented on #10794
I don't know if this comment squares with the desire to not include things like the word 'section' in 'Violins (section)'. It would be preferable if the mixer just said 'Violins'.

[2022-03-16 17:04] #10817 closed

[2022-03-16 17:08] DmitryArefiev opened #10826 "[MU4 Issue] Crash after some actions with closing panels, saving score, closing score"
1.

https://user-images.githubusercontent.com/90187801/158647515-312c49a8-c308-47c6-b2c6-472087bffb64.mp4

2.

https://user-images.githubusercontent.com/90187801/158647592-a73562d5-51c8-4e9a-8d20-ea87e3c389ba.mp4

**Platform information**
Windows10

[2022-03-17 07:12] #10814 closed

[2022-03-17 09:15] wizofaus commented on #10525
The problem is that what's selected after the slur extends to the next system is just the first *segment*, rather than the whole slur. In fact in general there's no way of extending a slur that is broken over two systems.
However if it's agreed that the desired behaviour is for Shift+Right to extend a slur even if only one segment of it is actively selected, we can make that change. But I'm not su

[2022-03-17 09:26] #10794 closed

[2022-03-17 09:30] duanjr commented on #10611
Did you wait until the tootip show?

[2022-03-17 09:33] duanjr commented on #10611
Did you wait until the tooltip show to click?(Just make sure the title did not mislead you)

[2022-03-17 09:45] wizofaus commented on #10342
Brief investigation showed it to be related to the skyline calculation which uses 100000 as a maximum y in certain cases, and this ends up being part of the boundingRect for the selection.  Specifically SkylineLine::add( ), line 192 of skyline.cpp.  I don't really understand why it's doing this, but that much is the same in v3.  But I'm not sure if v3 has the same selection rect issue...

[2022-03-17 09:52] wizofaus opened #10831 "[MU4 Issue] Crash in v4 opening score saved in v3"
**Describe the bug**
A short and clear description of what the bug is.

**To Reproduce**
Steps to reproduce the behavior:
1. Unzip the attached score
[direction.zip](https://github.com/musescore/MuseScore/files/8283539/direction.zip)

2. Open it in MuseScore 3, choose Ignore. It will display blank. Leave it open long enough that auto-save occurs (or manually save it).

4. Now open it in V4. V4 cra

[2022-03-17 10:05] wizofaus commented on #10780
Well it doesn't work properly in V3 - the options "Custom Standard"/"Custom Tablature"/"Custom Percussion" staff do nothing at all as far as I can tell, for most instruments it displays as a standard staff (and when you return to the instruments dialog it's ignored what you've selected).  Even if you select something like an unpitched percussion instrument you get a different set of staff types, b

[2022-03-17 10:34] #10632 closed

[2022-03-17 10:40] Tantacrul commented on #10780
I wonder if @Jojo-Schmitz, @jeetee, @MarcSabatella or @shoogle could shed any light?

What are the "Custom Standard"/"Custom Tablature"/"Custom Percussion" options intended to do?

[2022-03-17 10:41] Jojo-Schmitz commented on #10780
Sorry, no idea

[2022-03-17 10:52] RomanPudashkin commented on #10831
Thank you for reporting! Should be fine after https://github.com/musescore/MuseScore/pull/10793

[2022-03-17 10:52] #10831 closed

[2022-03-17 10:55] jeetee commented on #10780
I believe they prevent some reset-behavior when a user changed Advanced Style Properties of a normal staff of each respective type.
See also https://musescore.org/en/node/279897 for a bit of context

[2022-03-17 10:55] Jojo-Schmitz commented on #10831
That fix BTW solves both, the crash **and** the empty score

[2022-03-17 11:01] Tantacrul commented on #10780
@oktophonie, would be interested to get your thoughts on this feature: "Custom Standard"/"Custom Tablature"/"Custom Percussion" in general, since they appears to be an option that affects engraving settings.

Are they valuable do you think? Most certainly they are incomprehensible.

[2022-03-17 11:13] wizofaus commented on #10780
"Custom Standard"/"Custom Tablature"/"Custom Percussion" don't appear in 4 currently, there doesn't appear to be any point in adding them until we understand what they're supposed to do.
But the next problem is that the default staff *name* for, say, Acoustic Guitar (Tablature) is still "Treble clef 8va bassa" which is just confusing...

[2022-03-17 11:21] DmitryArefiev commented on #10741
Fixed in #10830

[2022-03-17 11:27] #10741 closed

[2022-03-17 12:24] Tantacrul commented on #10780
Oh, Yuk. Never noticed this before:

- The name doesn't update when you change the staff type
- The dropdown reverts back to 'Standard' even when you change it

[2022-03-17 18:55] boryskuzmenko commented on #10776
FIXED

[2022-03-17 18:58] #10776 closed

[2022-03-17 19:53] wizofaus commented on #10780
Yes I fixed the latter problem.  But I'm not sure what should happen with the staff name if you change the type - esp. if the user has already given it the name they want.

[2022-03-17 21:06] wizofaus commented on #10780
Ok I've fixed that too - the staff name is now properly generated from the actual clef type, which is determined by the staff type.  But there's a new problem - in v3 you can add multiple Tablature staves to a Guitar part, but v4 doesn't appear to allow this, at least not from this screen.  Should it? @Tantacrul

[2022-03-17 21:42] wizofaus commented on #10780
Ok I've now implemented the logic as per v3.  Instruments of type "percussion" only allow the 3 percussion staff types, whereas all others allow the "standard" staff type, and instruments that have more than 0 fretted strings also allow the tablature staff types that don't have more tab lines than the instrument's string count.
You can change, e.g. a guitar from back and forth between "standard" a

[2022-03-18 05:26] wizofaus commented on #10671
I'd assume you could just remove that section from the qml file, but changes to dialog/form layouts etc. aren't really my forte...

[2022-03-18 05:38] wizofaus commented on #10671
BTW the default behaviour for, say, the up- and down- bow articulations is still to flip them when shown under a note, but I've definitely seen cases where their normal direction is preserved. And apparently showing a down-bow "upside-down" was done in older French scores: https://music.stackexchange.com/questions/43196/upside-down-down-bow

[2022-03-18 05:45] wizofaus commented on #10671
Anyway, happy to put up a PR that just marks that row with visible: false, it looks/works fine as far as I can tell.

[2022-03-18 05:47] wizofaus commented on #10611
Ah yes you're right - if the tooltip shows, then you have to click once to dismiss the tooltip and again to activate the command.  Suspect trying to change that behaviour wouldn't be trivial.

[2022-03-18 05:52] bkunda opened #10835 "[MU4 Issue] "Keep going" button does not return user to "getting started" flow when attempting to close dialog"
**Describe the bug**
Closing the "getting started" dialog with the "x" window button triggers a dialog that invites users to "Cancel" or "Keep going".
When the user clicks "Keep going", the entire "getting started" dialog closes.
This shouldn't happen. Instead, only the "do you want to cancel" dialog should close, but the actual "getting started" dialog should remain open.
This should affect ALL s

[2022-03-18 08:43] Tantacrul commented on #10671
OK, I guess if @RomanPudashkin or @Eism is happy with that, it'd be a simple merge. If you don't feel comfortable with it, that's fine.

[2022-03-18 08:46] Tantacrul commented on #10780
I'd definitely agree that the dropdown should be disabled if there is only one option.

[2022-03-18 08:50] Tantacrul commented on #10780
It should do. Check this out:

https://user-images.githubusercontent.com/21022311/158967469-a82a6ecd-883d-4df8-8127-a725d6a91c5d.mov

[2022-03-18 09:26] Eism commented on #10611
working on it

[2022-03-18 09:34] DmitryArefiev opened #10836 "[MU4 Issue] Wrong explorer in latest build on Linux (Qt's dialog instead of Native dialog)"
Wrong explorer in latest build on Linux when using Save as or Open dialogs

**Actual:**
![Снимок экрана от 2022-03-17 18-27-50](https://user-images.githubusercontent.com/90187801/158977876-f13cfc1b-0281-406b-bf57-88698f071c24.png)

**Expected:**
![Снимок экрана от 2022-03-17 18-26-11](https://user-images.githubusercontent.com/90187801/158977856-da886826-9042-46f6-986f-2282f4ba43b7.png)

**Platform

[2022-03-18 09:43] Jojo-Schmitz commented on #10836
Is that Native file dialog vs. Qt's file dialogs?

[2022-03-18 11:09] DmitryArefiev commented on #10836
Yes, looks like it is.

Thanks! I've founded it in MU3 (and it's turned on by default) but it's missing in MU4
![Capture](https://user-images.githubusercontent.com/90187801/158992604-a2430412-3563-4082-a528-c6873e506c22.PNG)

[2022-03-18 11:15] Eism commented on #10836
I tested a little and noticed that the dialog is different when building on my laptop(Ubuntu) and on CI.

So, first we need to understand the reason for this behavior.

Laptop
![image](https://user-images.githubusercontent.com/10116828/158993261-3de56e24-49ac-4b33-8ff6-f0c6c5ea3c36.png)

CI
![image](https://user-images.githubusercontent.com/10116828/158993355-9b4c1310-560f-4229-991a-b39bdd30952a.p

[2022-03-18 14:36] DmitryArefiev commented on #10823
@asattely Hi! I've created them in latest MU4. You need to add a tempo mark at first and then add a new staff on top of the score

https://user-images.githubusercontent.com/90187801/159022988-a947dab0-53f6-4d96-8969-a6ab845a2be4.mp4

[2022-03-18 16:37] DmitryArefiev opened #10840 "[MU4 Issue] After score navigation, wrong button is selected in "Do you want to save changes.." dialog"
**Describe the bug**
After score navigation, wrong button is selected in "Do you want to save changes.." dialog:
**Don't save** is selected instead of **Save**

https://user-images.githubusercontent.com/90187801/159044831-a326bb96-4dc3-4e5a-8698-9ba59eb7f59d.mp4

**To Reproduce**
1. Navigate with Tab and left/right arrows
2. Make some changes in the score
3. Press Ctr+W to close the score - **Don'

[2022-03-18 16:49] HemantAntony commented on #10840
Pretty sure this is a Good First Issue

[2022-03-18 17:11] alexpavlov96 opened #10841 "[MU4 Task] [GP] fix import of gpx files"
**Task description**
fix import of gpx files

[2022-03-18 17:12] alexpavlov96 opened #10842 "[MU4 Task] [GP] fix import of gp5 files"
**Task description**
Fix import of gp5 files

[2022-03-18 17:51] DmitryArefiev commented on #10181
Fixed in #10749

[2022-03-18 18:01] DmitryArefiev commented on #10840
@HemantAntony  Good. Will add the label. Thanks!

[2022-03-18 19:09] boryskuzmenko opened #10845 "[MU4 Issue] No additional active area around the note when selecting a note or adding any element to a note"
**To Reproduce**
Steps to reproduce the behavior:
1. Open a MuseScore4
2. Try to select any note by clicking close to the note itself
3. Try to put any element (e.g. slur) to a note
4. Pay attention to the note active area

**Expected behavior**
There is an additional active area (like in MuseScore3) around the note when selecting a note or adding any element to a note

**Screenshots**

https://us

[2022-03-18 22:13] wizofaus commented on #10780
Yes I've restored that ability.  You can try it out with the build from that PR (mac one is here: https://github.com/musescore/MuseScore/actions/runs/2001010457)

[2022-03-19 09:08] Tantacrul commented on #10780
Just tested. Man, that is so much better! Thanks :)

I do agree (now that I see it) that when there are no options in the dropdown, we should probably disable it.

<img width="258" alt="image" src="https://user-images.githubusercontent.com/21022311/159115019-138fd842-a81b-4130-8036-38f0f7b2af2e.png">

[2022-03-19 09:16] Tantacrul commented on #10780
Oh, another thing I just noticed. Not sure if this is a simple fix or not but when I save the file, close MS4 and reopen it, the drop downs all revert back to saying 'Standard'.

<img width="366" alt="image" src="https://user-images.githubusercontent.com/21022311/159115291-cce3c472-bc04-4b7a-9a71-95c169f60c10.png">

[2022-03-19 09:25] wizofaus commented on #10780
Are you saying that happens even with the build from my PR? Because that was something I explicitly fixed...

[2022-03-19 10:35] Tantacrul commented on #10780
Yeah, from this one here: https://github.com/musescore/MuseScore/actions/runs/2001010457)

I've recorded a video:
https://user-images.githubusercontent.com/21022311/159117602-99e89ee9-2039-440f-bc45-334b0100d269.mov

[2022-03-19 14:13] tzarjakob commented on #10840
On Ubuntu it works fine, if Return is pressed the file is saved regularly

[2022-03-19 14:45] tzarjakob commented on #10791
If is this open, can I work on this one?

[2022-03-19 16:36] Tantacrul commented on #10791
It's all yours!

I'll make sure to test so accessibility isn't broken.

[2022-03-19 19:37] Tantacrul opened #10848 "Onboarding process no longer starts in the main 'Score' tab. Rewording of Tutorial description needed. App should start maximised."
**Describe the bug**
When opening the app for the first time, the opening screen overlays the 'Home' tab. The 'Score' tab should be selected at this point, so the user has a better idea of how the theme colour will affect the main UI. This will also make the transition to the 'Learn' section more obvious.

<img width="1154" alt="image" src="https://user-images.githubusercontent.com/21022311/159135

[2022-03-19 20:58] wizofaus commented on #10780
Ah ok, yeah, can reproduce that, something definitely wrong when scores are loaded, surprised it isn't having other impacts.

[2022-03-19 21:34] wizofaus commented on #10780
Ok figured it out, v3 is indeed trying to find the best matching preset based on the other staff properties. It's still true now that it will show "Standard" if the staff type properties *don't* match any of the presets, but I think we can live with that. Have also ensured dropdown is disabled unless there's at least 2 items to choose from.

[2022-03-19 21:36] Tantacrul commented on #10780
You're the hero we need.

[2022-03-19 23:30] wizofaus commented on #10780
Let me know how you go with the latest build: https://github.com/musescore/MuseScore/actions/runs/2009875795

[2022-03-20 11:03] Tantacrul commented on #10780
Just tested it. Both fixes are working perfectly.

[2022-03-20 20:48] wizofaus commented on #10780
Yes, I can understand if you've customized the staff so it doesn't match any preset then logically it could show "Custom <x>" or something similar, and provided you don't change it, it won't modify your customizations. But in v3 they're shown even for non-customized staves, and do nothing if you select them.  I'd think it would make just as make sense to show the combo with no current selection in

[2022-03-20 21:52] DmitryArefiev commented on #10336
Tested in **latest master build** on Win10, Mac12, LinuxMint 20.2 - STRINGS are sound fine (checked some orchestral templates)

Closing

@mattblo Please reopen if something still occurs with sounds. Thanks!

[2022-03-20 21:52] #10336 closed

[2022-03-21 07:45] YangYang129 opened #10850 "MuseScore failed to build with many error on arm64 windows"
MuseScore failed to build with many error on arm64 windows. It can reproduces on version https://github.com/musescore/MuseScore/commit/4c4099777ca3a8cd05ff96e8c2dcc95612c74617. Could you please help look at this issue? Thank you very much

Environment
Compiler version: VS2019 (16.11.9)
Operating system: Windows server 2019

Steps to reproduce:
1. open VS2019 x64 tools command
2. git clone https://

[2022-03-21 08:50] #10181 closed

[2022-03-21 09:17] DmitryArefiev commented on #10840
@tzarjakob Have you tried navigation with Tab?

[2022-03-21 09:19] #10841 closed

[2022-03-21 09:35] Jojo-Schmitz commented on #10850
Why Qt 5.15.1 rather than 5.15.2? (Not sure it makes a difference, but it may well do)

[2022-03-21 09:42] YangYang129 commented on #10850
@Jojo-Schmitz  QT 5.15.2 does not display in QT setup
![image](https://user-images.githubusercontent.com/86757616/159236827-0e20897f-de9a-4e61-ac9b-c8a2c160233c.png)

[2022-03-21 10:00] Jojo-Schmitz commented on #10850
It certainly does for me, on Windows 11 and an x64 arch.

[2022-03-21 10:14] DmitryArefiev commented on #10826
Fixed in #10827

[2022-03-21 10:16] #10826 closed

[2022-03-21 10:20] cbjeukendrup commented on #10850
Actually all those errors seem to refer to things outside MuseScore that are not supported yet on arm64. It might be a bit better with Visual Studio 2022, and it might be better in the future when we switch to Qt 6.3+.

[2022-03-21 11:08] #10532 closed

[2022-03-21 13:54] boryskuzmenko opened #10854 "[MU4 Issue] [MacOS] Global system shortcuts (e.g. Cmd+C, Cmd+V) can't be called when non-English language used"
TBD

[2022-03-21 16:07] DmitryArefiev commented on #10823
Fixed in #10855

[2022-03-21 16:12] #10823 closed

[2022-03-21 16:20] Nikos410 commented on #10848
@Tantacrul I'm not really a fan of applications starting in fullscreen without being asked to do so. Do you really mean fullscreen or maximized?

[2022-03-21 17:08] Tantacrul commented on #10848
Maximised. Thanks for pointing that out!

[2022-03-21 19:34] DmitryArefiev opened #10859 "[MU4 Issue] [Improvement] Score tab should indicate if it has an opened score when switching to other tabs (Home, Publish, DevTools)"
**Describe the bug**
Score tab should indicate if it has an opened score when switching to other tabs (Home, Publish, DevTools)
Score tab ("Score" text) can be bold and maybe highlighted but **NOT underlined** showing that there is an opened score already, when user doing something on Home, Publish or DevTool tab.

https://user-images.githubusercontent.com/90187801/159350217-87a621ff-4468-4f89-be6

[2022-03-22 09:20] bkunda commented on #10848
@cbjeukendrup @Eism micro-copy for the final screen will read: "Behind this dialog is the 'Learn' section, where you'll find tutorials to get you started (Video tutorials require an internet connection)"

<img width="956" alt="Screenshot 2022-03-22 at 8 17 27 pm" src="https://user-images.githubusercontent.com/86290556/159447860-038702e3-0646-47c4-acbb-80505b75c5ea.png">

Thanks!

[2022-03-22 10:25] AntonioBL commented on #10850
Ciao.
For the first error, you can try to disable the Crashpad client by modifying this line:
https://github.com/musescore/MuseScore/blob/c238f8cc471b3cc70dfb304fb2698b4bbf33adb0/src/diagnostics/CMakeLists.txt#L74

For the following ones, the culprit line seems to be:
https://github.com/musescore/MuseScore/blob/c238f8cc471b3cc70dfb304fb2698b4bbf33adb0/src/framework/global/internal/interactive.cpp#

[2022-03-22 10:37] Jojo-Schmitz commented on #10850
Maybe change to `#elif defined(Q_OS_WIN) && ! defined (Q_PROCESSOR_ARM)`, or `if QSysInfo::buildCpuArchitecture() == "arm64"`

[2022-03-22 10:38] Jojo-Schmitz commented on #10850
Reg. these enums see #10206

[2022-03-22 11:43] DmitryArefiev commented on #10448
@bkunda Hello! How about to change "Slur position" text to "Position"?

 As we found with @boryskuzmenko, other lines have only "Position" in the Inspector:

https://user-images.githubusercontent.com/90187801/159474258-31d7e1f1-5fb5-446f-aa45-1e4ac25ed929.mp4

Thanks!

[2022-03-22 11:56] bkunda commented on #10448
Yes this makes perfect sense. Let's go with "Position" for slurs too then.
Good spot @boryskuzmenko and @DmitryArefiev!

[2022-03-22 12:05] DmitryArefiev commented on #10448
Cool! Thanks!

[2022-03-22 13:06] DmitryArefiev opened #10863 "[MU4 Issue] Unable to edit slur handles with mouse if they overlap staff area"
Unable to edit slur handles (grips) with mouse if they overlap staff area (see video below)

https://user-images.githubusercontent.com/90187801/159488576-51d6bc72-5420-498e-8ec4-1dfcd2b82711.mp4

**Platform information**
macOS, Windows, Linux

**Additional context**
Doesn't occur in **MU3**

[2022-03-22 13:59] igorkorsukov opened #10865 "[MU4 Task] Replace QVector and QList with std::vector"

[2022-03-22 14:01] igorkorsukov opened #10866 "MU4 Task] Replace QMap and QHash with std::map, std::unsortedmap"

[2022-03-22 14:01] igorkorsukov opened #10867 "[MU4 Task] Replace QFile, QIODevice with IFileSystem"

[2022-03-22 14:02] igorkorsukov opened #10868 "[MU4 Task] Replace QString with std::string. std::wstring"

[2022-03-22 14:03] igorkorsukov opened #10869 "[MU4 Task] Replace QXml... with xml without Qt"

[2022-03-22 14:35] #10448 closed

[2022-03-22 15:00] #9788 closed

[2022-03-22 15:27] #10840 closed

[2022-03-22 16:51] Tantacrul commented on #10780
@RomanPudashkin or @Eism, when you have time to review, this fix is looking good to me from a feature point of view.

[2022-03-22 17:04] Tantacrul opened #10871 "[UI] Popups not closing when 'clicking away' on the inspector"
**Describe the bug**
See video (below). When opening a popup, you can not click elsewhere on the UI to dismiss it. This is one of those bugs that tends to reappear every once in a while, unfortunately :(

https://user-images.githubusercontent.com/21022311/159536162-45323520-43b0-4e9d-93f9-56ec82b87f0a.mov

[2022-03-22 22:52] MarcSabatella commented on #10460
Is there any way this could be bumped in priority to be dealt with before alpha?  In more regular use of MU4 over the past few weeks, this is by far the single biggest usability issue I encounter, and a much bigger regression over MU3 than any single missing feature.

[2022-03-23 02:48] erickisos opened #10872 "Polychords for the next version?"
Hey folks, afaik we can't create polychords by default in MS3, do we have plans to add this in the next version?

If not, do you think that it would be valuable?

[2022-03-23 06:50] Eism commented on #10460
@MarcSabatella
I think it will be fixed in #9839
And I'll start fixing it soon

[2022-03-23 07:31] Jojo-Schmitz commented on #10872
Looking at https://en.wikipedia.org/wiki/Polychord I don't see anything MuseScore can't do?

[2022-03-23 11:29] DmitryArefiev commented on #10463
Fixed in #10837

[2022-03-23 11:29] DmitryArefiev commented on #10611
Fixed in #10837

[2022-03-23 11:31] #10463 closed

[2022-03-23 13:30] MarcSabatella commented on #10460
Fantastic, thanks!

[2022-03-23 14:26] DmitryArefiev commented on #10420
Fixed in #10828

[2022-03-23 14:26] DmitryArefiev commented on #9131
Fixed in #10828

[2022-03-23 16:05] RomanPudashkin commented on #10037
See https://github.com/musescore/MuseScore/issues/9622

[2022-03-23 16:05] #10037 closed

[2022-03-23 16:58] RomanPudashkin commented on #9540
Can't reproduce on the current master

[2022-03-23 16:58] #9540 closed

[2022-03-23 16:58] RomanPudashkin commented on #9537
Can't reproduce on the current master

[2022-03-23 16:58] #9537 closed

[2022-03-23 16:59] RomanPudashkin commented on #9542
Can't reproduce on the current master

[2022-03-23 16:59] #9542 closed

[2022-03-23 17:21] Marr11317 commented on #10872
Agreed, it's so common in bigband scores, so a standard way would be preferable.

[2022-03-23 17:58] MarcSabatella commented on #10872
Is it that common, though?  I've played or directed literally thousands of big band charts, and can think of only about half a dozen that used polychord notation.  I have seen more that use the vertically stacked layout for ordinary slash chords, though.  So part of the problem is defining a way to disentangle these concepts - the layout versus the actual semantics.

[2022-03-23 18:05] #10611 closed

[2022-03-23 18:08] DmitryArefiev commented on #9180
Checked in latest master build on Win10, Mac12, LinuxMint 20.2 - the issue DOESN'T OCCUR on my side

Closing

[2022-03-23 18:09] #9180 closed

[2022-03-23 18:10] DmitryArefiev commented on #9180
@worldwideweary You can check in the master build when you have time.  And please reopen if it still exists.

[2022-03-23 18:22] RomanPudashkin commented on #8981
Can't reproduce it. The bug has probably been fixed in one of the countless inspector fixes. Please reopen the issue if you notice the bug again

[2022-03-23 18:53] MarcSabatella opened #10877 "[MU4 Issue] Backwards/Forwards buttons (In 'General' / Properties panel) have no effect"
Edited by Martin:

What we need is the same options you find in most creation software. Basically four buttons that do the following:

**Forwards** (looks at the items in front of it and moves in front of the nearest item)
**To front** (looks at the items in front of it and moves in front of the item furthest to the front)
**Backwards** (looks at the items behind it and moves behind the nearest it

[2022-03-23 19:10] #10671 closed

[2022-03-23 19:47] DmitryArefiev opened #10879 "[MU4 Issue] Search fields: The first entered space shows all elements that contain a space in their names"
**Describe the bug**
The first entered space shows all elements that contain a space in their names.
It occurs in New Score>Search, Instruments>Search, Palettes>Search, Scores>Search

**To Reproduce**
1. Click search field
2. Hit space one time

https://user-images.githubusercontent.com/90187801/159783363-41f0bc7e-1133-43db-ba93-efbfc0a952d1.mp4

**Expected behavior**
Single space without any lett

[2022-03-23 22:54] tzarjakob commented on #10791
While solving, I found this potential improvement: when you open MuseScore the search bar for recent scores is already in focus, so anyone can search immediately without selecting the box manually. Eventually it is not a problem to remove it and leave only the requested one. I am waiting for a feedback.

[2022-03-24 02:24] Marr11317 commented on #10872
I do mean polychord notation, as in your first measure above. I've definetely played a lot less big band charts than you have, but I've seen polychords in at least a dozen. But I guess you're right, the focus should not be on that for now in MS4.

[2022-03-24 08:24] Eism commented on #10717
@shoogle
please check #10878

[2022-03-24 08:37] #9131 closed

[2022-03-24 08:37] #10420 closed

[2022-03-24 09:24] Tantacrul commented on #10791
Yes, this is the desired behaviour. Looking forward to testing it out. Can you link to a PR?

[2022-03-24 09:38] mattblo commented on #9362
From my point of view, the problem is solved!

[2022-03-24 10:10] mattblo opened #10883 "[MU4 Issue] Choppy playback of arpgeggios (and some other notes)"
**Describe the bug**
Arpeggios are not played permanently sounding in MS4. Only the last note sounds over the said duration of the chord. Other notes seem to end early. A similar effect can be found in some other situations.

**To Reproduce**
Steps to reproduce the behavior:
1. Create an new Score, write a Chord and add an arpeggio
2. Notice the choppy playback (for further information see video)

[2022-03-24 10:56] mattblo commented on #9231
This error does not occure longer.

[2022-03-24 10:56] #9231 closed

[2022-03-24 11:00] mattblo commented on #8871
Will this improvement still be solved in MU4, or is it not important? I always find it annoying when instruments are rearranged that the instrument panel hangs as soon as the score is larger. Therefore, from my point of view, it would be welcome if this would still find its way into MU4.0.

[2022-03-24 11:35] #10684 closed

[2022-03-24 11:52] cbjeukendrup commented on #10848
I added the micro-copy fix to PR #10847.

About whether the Home page or the Score page should be visible: it's trivial to change it back, but a while ago, we made the decision to show the Home page instead because that gives a good impression of the theme as well and may look nicer than the empty score page with only disabled UI elements. See https://github.com/musescore/MuseScore/pull/10174#issu

[2022-03-24 12:55] Tantacrul commented on #8871
I've given it a P rating and targeted it at our Beta release. This does not mean it'll definitely get in but it is problematic enough that I would like to see it included. It really depends on how much stuff there is to do after alpha.

[2022-03-24 12:57] Tantacrul commented on #10848
Yes, I chatted to @bkunda about this. I don't think the Home panel is the right page to land on for a few reasons and I do think we should change it back to the main score page.

I think it's more appropriate to see the main UI - which is what you are specifically deciding on at that point, including the BG colour. The Score tab is where you are going to be living 95% of the time, so it makes sens

[2022-03-24 13:39] bkunda opened #10888 "[MU4 Issue] Hiding and showing the tuplet button causes it to appear disabled"
**Describe the bug**
When the tuplet button in the note input toolbar is hidden then shown again, it returns in an apparently disabled (greyed-out) state.

![disabled-tuplet-icon](https://user-images.githubusercontent.com/86290556/159927150-ab1b8cee-878c-4ecd-b7b4-6c5426e2ebc4.gif)

This doesn't affect its functionality, but it does present as a bit strange because the behaviour is not replicated