[2022-09-10 08:54] HemantAntony commented on #12673
Hello! Welcome to MuseScore!

This issue already has a PR by @iwoithe . However, I do not think that PR has the updated specs @jessjwilliamson provided

@iwoithe Are you still working on this?

[2022-09-10 09:06] iwoithe commented on #12673
Yeah, sorry for the inactivity. My life has picked up quite significantly in the last few weeks and will probably stay that way for another few weeks.

@aritroCoder Go for it. :slightly_smiling_face:

[2022-09-10 09:43] oktophonie opened #13276 "[MU4 Issue] Typing values into style fields triggers updates on each keystroke"
**Describe the bug**
Perhaps more of a request or suggestion than a 'bug', but I'll explain why it is a problem.

For example: let's say I want to change my page width to 184mm. I open format > Page settings and select the value currently in the page width field (210mm) for me.

I can get the width I want by typing "184". But the score updates on every keystroke, and other settings can be affected

[2022-09-10 09:45] oMrSmith commented on #13275
Yes it is! But I don't press play very often, so I don't mind looking at the keyboard when doing so.
Entering notes on the other hand, I like to be like playing counter strike ;)
Wanna keep my eyes on the screen and have all the fingers in place...
It could be an option for more nerdy users, but it doesn't seem urgent
if the user-majority has complaint anyway...

[2022-09-10 09:57] oktophonie opened #13277 "[MU4 Issue] Cannot type past decimal point in text size field"
**Describe the bug**
In the Size field of the 'Edit Text Style' part of the Style > Text Styles dialog, one cannot type past the . in the value.

For example, if I want to replace an existing value of "12.00pt" with "11.25pt", I begin by selecting the value already there, and type "11", but any keystrokes after that are ignored. In order to change the digits after the point, I have to move the cur

[2022-09-10 09:58] oMrSmith commented on #13275
PS: @MarcSabatella, will the possibility to have different shortcuts for one command be taken out in MU4?

[2022-09-10 10:07] oMrSmith commented on #13276
Here comes another idea:

![image](https://user-images.githubusercontent.com/78870770/189478603-adb223c2-1a8d-476c-9862-e8dc95e1700d.png)

If you would exclude the unit from the field,
entering values would be even faster.

[2022-09-10 10:35] oktophonie opened #13278 "[MU4 Issue] Two-note tremolos do not automatically flip when second voice added"
**Describe the bug**

- Start with two-note tremolo in voice 1
- Add note in voice 2; position of offset notes in the chord in voice 1 updates (would be correct if the stems were up), but the stems do not flip, nor the tremolo
- Manually flipping one of the tremolo notes corrects it
- Flipping again does not flip back down, but does revert the offset notes of the chord to their previous state (wou

[2022-09-10 10:47] HemantAntony commented on #10601
@DmitryArefiev I opened a PR: #13279 :)

[2022-09-10 11:08] HemantAntony commented on #13248
@bkunda Please check #13280

[2022-09-10 13:55] HemantAntony commented on #12176
Unless I'm missing something, isn't this correct already? Assuming the implementation of the last 3 notes in the 2nd measure is correct, the two voices play the same note in two different ways

But, when you look at the 1st note of the 2nd measure, there is no other way to play the E note other than the open note on the 6th string.

Similarly for the high note (17 on the 1st string). There is only

[2022-09-10 14:04] HemantAntony commented on #12314
@rgreen5 Can you check again. This seems to work fine in the latest nightly

[2022-09-10 17:14] MarcSabatella opened #13281 "[MU4 Issue] Apply current palette element command not implemented"
**Describe the bug**
MuseScore 3 had a command "apply current palette element" to easily reapply the most recently-used palette element.  This was a great usability feature and especially valuable for blind users even though it had no default shortcut.  This command is missing in MU4.

**To Reproduce**
Steps to reproduce the behavior:
1. Go to Edit / Preferences / Shortcuts
2. Search for "palette"

[2022-09-10 17:23] MarcSabatella commented on #13275
Yes, that seems to be the plan.

[2022-09-10 18:02] MarcSabatella commented on #10951
I went ahead and created a PR for this (https://github.com/musescore/MuseScore/pull/13282; ignore my local WIP version), simply restoring the MU3 behavior where hiding an instrument and muting it are independent.  It's simple and it's what people are used to.

I'm assuming that at this point, user research and a new design for an alternative scheme is not in the cards for 4.0, which is fine by me.

[2022-09-10 18:43] Wim4rk opened #13283 "[MU4 Issue] Chords and metronome can't be muted on mixer."
**Chords and metronome can't be muted on the mixer**
Channels for chords and the metronome can't be muted on the mixer. Button is non-responsive.
Using "Playback settings" I can toggle "Play chord symbols" witch is then reflected on the mixer - mute button changes. Same with the metronome, clicking the icon on the playback panel toggles the mute button on the mixer.

**To Reproduce**
Steps to repr

[2022-09-10 18:48] Wim4rk commented on #13259
In linux terminal, musescore3 is the command to open just that. But 5 times out of 10 i only type musescore. mscore is fine by me, but I can create aliases for any command.

[2022-09-10 19:49] MarcSabatella commented on #13283
Currently, I think this is by design.  Presumably the idea is to simplify things by providing just one place to toggle these rather than two separate controls that can potentially get out of sync with each other.  Having dealt with plenty of bugs over the years where two controls for the same thing do get out of sync, I'm fine with this solution.  But I'm also fine with a design where toggling eit

[2022-09-10 21:44] Tantacrul commented on #10951
I think we have to stick with the current behaviour and add the ability to unmute instruments - as suggested by Dmitri. I do not think it is simple or intuitive to hear music you don't see by default.

It would also require a large inconsistency with part scores (do we hear all other, invisible instruments when we play a part score by default?).

[2022-09-10 21:54] MarcSabatella commented on #10951
As someone who uses invisible playback staves almost every day (as do almost all other jazz arrangers), I guess I don’t see why you’d think of this as less intuitive than *seeing* staves you don’t *hear*.  And yet no one seems to be suggest we automatically *hide* staves when *muting* them.  Why is it intuitive in one direction but not the other?

But as long as the regression is fixed - that exis

[2022-09-10 21:58] MarcSabatella commented on #10951
Just curious - do all other major notation programs automatically mute staves when hiding them, but not the reverse?  If so, the. I can see why it might seems intuitive for people used to those programs.

[2022-09-10 21:59] Tantacrul commented on #10951
You might want to mute tracks so you can momentarily isolate others. It's not really a comparison I'd draw.

You've explained why you want to hide sheet music but still want to hear it, so we accept a user should be able to unmute a hidden track. However, making it work like that by default doesn't make sense.

[2022-09-10 22:50] cbjeukendrup commented on #10951
@Tantacrul Allowing the user to unmute tracks for hidden instruments is not straight-forward at all, especially when it comes to part scores.

The problem is that mute/solo state is in principle a project-wide setting. Currently, the logic to determine whether a track is _actually_ muted is as follows. A track is _actually_ muted if either:
1. the track has been muted by the user,
2. or a differen

[2022-09-10 23:46] cbjeukendrup commented on #12527
I can't reproduce this either, and it is very likely that this has been fixed. For an explanation, see https://discord.com/channels/818804595450445834/939880479887327302/1018305828840820817.

[2022-09-10 23:46] #12527 closed

[2022-09-11 03:11] wizofaus commented on #13281
You normally used ""?
There is still "applyCurrentPaletteElement" in PalettesPanel.qml but nothing calling it...hard to judge whether it will actually work.

[2022-09-11 03:32] wizofaus commented on #13276
I'd certainly call it bug if you can't type in a new page width without having your margins changed to something impractical in the process.  The question is what the desired behaviour is - either use debounce (wait a small period before updating) or require a focus change.

[2022-09-11 03:58] MarcSabatella commented on #13281
Sorry, I typed a backslash but GitHub ate it.  Fixed now.

[2022-09-11 04:01] wizofaus commented on #13277
You can type *past* a '.' just fine, but yes, as you say, you can't have more than two decimal places after the ".", so you need to remove some of the existing characters first ("overtype" mode doesn't work either, strangely).  While annoying, if it's the same in v3.6 and given this is QWidget-based code that I expect will be rewritten using Qt-quick/qml, I doubt it's worth fixing at this point.

[2022-09-11 04:09] wizofaus commented on #13272
I think you mean Ctrl+K not Ctrl+N? Curiously if you press that before selecting anything you get:

![image](https://user-images.githubusercontent.com/5364225/189511946-ccefd6cf-0a3b-4129-8685-8e9ecd27f20c.png)

which should probably be reported separately.

Anyway yes, it's a bug in String::replace(...)  (why are we even writing code like that, there are so many standard library functions that do

[2022-09-11 04:34] wizofaus opened #13286 "[MU4 Issue] Empty dialog when adding text (chord symbols, lyrics etc.) and nothing selected"
**Describe the bug**
If you press Ctrl+K to insert chord symbols before selecting anything, you get a strange empty dialog (with an option not to show again).  This applies to various types of text input.

**To Reproduce**
1. Open or create any score, ensure nothing selected
2. Press Ctrl+K (Ctrl+L and other similar commands too)
3. Observe dialog with no text

**Expected behavior**
Should explain

[2022-09-11 05:02] wizofaus commented on #13271
How did you even get that menu? For me I get the "Customize toolbar" menu (which looks a little odd, with many "--- Separator Line ---" entries).

[2022-09-11 05:07] wizofaus commented on #13271
I don't have any problem with it being *saved*, but for me it simply doesn't do anything, regardless of whether it's off or on chords are played back.
It's also rather confusing having the same icon on two different toolbars...

[2022-09-11 07:45] aritroCoder commented on #12673
![image](https://user-images.githubusercontent.com/92646038/189517343-d751c1d9-8eb8-4434-a00e-39c23209add9.png)
I am getting this warning in ubuntu, should I go ahead and install it, or there is something else i need to do?

[2022-09-11 08:27] HemantAntony commented on #12673
This is the wiki for building projects: https://github.com/musescore/MuseScore/wiki/Set-up-developer-environment

It should tell you how to install cmake and git

It also tells you how to build and run the project

[2022-09-11 09:22] PetJer opened #13288 "[MU4 Issue] Changing measures duration messes up playback"
**Describe the bug**
Changing measures duration (CTRL+DEL / measure properties) messes up playback (*).

**To Reproduce**
Steps to reproduce the behavior:

1. Fill *x* measures full of notes
2. Change the duration of all the measures
3. Play -> at some point onwards some notes are repeated

**Examples**

https://user-images.githubusercontent.com/79419198/189962282-fd4bd0bf-59c5-48c6-b3ec-2cb92f213

[2022-09-11 09:25] Tantacrul commented on #10951
I think the way we'd want it to work (just side-stepping the technical considerations for a moment) is this:

1. A user can un-mute a hidden instrument using the mixer (this would mean we'd have to create additional logic for hidden instruments)
2. If another instrument is soloed, then the mute buttons are disabled, so the user can't unmute anything until the solo instances are cancelled
3. I don'

[2022-09-11 09:32] Tantacrul commented on #10951
I'm also open to the idea of adding UI to the instruments panel to allow for turning on/off sound for each. Since this requires an actual redesign, it can't make it in for 4.0.

[2022-09-11 09:42] henkdegroot commented on #10951
If you want more users "opinions" you should make this issue more visible (i.e. a post in the forum and get feedback). It is a feature I use often in MS3. My guess is that users will experience "playback" issues after open a MS3 score in MS4 and consider there is an issue with migration scores from MS3 to MS4 and may (as a result) be reluctant to start using MS4.

[2022-09-11 09:52] Tantacrul commented on #10951
btw, Marc: I do get why you want this solved pronto. I was hoping there'd be a quick fix here... but it's worth pointing out that the new setup is quite different to MS3 and sets up different expectations:

- The instruments panel doubles as the way users manage the visibility of their parts. So if it works one way there, it should work the same way on the main score.
- Anyone using the instrument

[2022-09-11 10:15] Tantacrul commented on #10951
@henkdegroot

We've agreed to come up with a solution, the only remaining question is when we do it. We unfortunately, cannot delay this release any further.

[2022-09-11 11:16] PetJer opened #13289 "[MU4 Issue] Text boxes have no limits"
**Describe the bug**
Text boxes can have unlimited amounts of text.

**Examples**

**Score title:** The program starts running slower and can't display the name in the tab
![too_much_text](https://user-images.githubusercontent.com/79419198/189524290-47de19c6-7301-4820-b410-b27ba4cd138a.jpg)

**Palette element name:** Text goes out of the bubble
![palette_element_text_overflow](https://user-images.

[2022-09-11 12:35] kislenok-roman opened #13290 "[MU4 Issue] Weird pop-up menu locations"
All menu popups opens in unexpected locations, sometimes near the triggering element, sometimes far away.

**To Reproduce**
Steps to reproduce the behavior:
1. Open MuseScore
2. Click on menu

**Expected behavior**
Menu should be located near the triggering element.

**Screenshots**
![image](https://user-images.githubusercontent.com/5051096/189527681-6216111a-6a4f-4e40-9839-1a73b904c7f4.png)
![ima

[2022-09-11 14:00] lyrra opened #13291 "[MU4 Issue] crash/fail-assert when add measure in empty part"
tested with commit: 5377cefd
1) add part and open it
2) add measure (either start or end of score)

Assertion hit:
`Assertion failed: staffEnd > staffStart && staffEnd <= _score->nstaves(), file src/engraving/libmscore/select.cpp, line 662`

<details><summary>backtrace:</summary>

#2  0x00007ffff567540f in __assert_fail_base (fmt=0x7ffff57de128 "%s%s%s:%u: %s%sAssertion `%s' failed.\n%n",
    asse

[2022-09-11 14:02] HemantAntony commented on #13291
Damn it

[2022-09-11 14:14] lgvr123 commented on #8859
Hi,
You said _>For the moment, only the plugins packaged with MuseScore 4.0 will work for users._
Shouldn't we block all non-native plugins in the Plugin panel rather than give the impression that we could run them while in fact they don't work, or even crash MS4?

[2022-09-11 14:30] HemantAntony commented on #13291
@lyrra I don't think that the linked commit is the one at fault. I just reverted it and the crash still occurs

[2022-09-11 14:36] lyrra commented on #13291
My bad, I meant what commit that was used for test.

[2022-09-11 14:54] HemantAntony commented on #13291
Ah no worries! Also its really really helpful if you follow the issue templates. Also it would be great if you could put the backtrace in a dropdown so as to not make issues long and hard to read for team members. Last thing, can you change the title to 'Crash when you add measure in empty part' :)

[2022-09-11 16:05] MarcSabatella commented on #10951
I'm coming around to being able to let this go, except for the matter of existing scores.

While I remain unconvinced that the new design will automatically change people's expectations about the connection between hiding and muting, the fact that MU4 makes it possible to hide staves without hiding the instruments is, I think, our ace in the hole here.  It means you no longer even need to add a wh

[2022-09-11 16:29] oMrSmith commented on #13288
You have in fact shortened each bar,
which the bar shows with the grey little minus symbol.
A wasn't aware of this hack!

[2022-09-11 16:32] oMrSmith commented on #13288
I wasn't aware that I can shorten bars that easily! That's a cool hack.

[2022-09-11 16:36] oMrSmith commented on #13142
This would also make it a lot easier to hide a bar line as a whole
which is currently necessary when splitting a system in the middle of a bar...

[2022-09-11 19:35] MarcSabatella commented on #10951
New PR https://github.com/musescore/MuseScore/pull/13293 implements the import behavior described above.  Tested for 3.x and 2.x; I don't have any 1.x scores with invisible playback staves handy to check.

[2022-09-11 20:18] sammik opened #13294 "[MU4 Issue] Black border around menus"
**Describe the bug**
A black border is around (or blackrectangle behind?) menus

**To Reproduce**
Steps to reproduce the behavior:
1. Open MU
2. Click on File (or some other menu item)
3. See - black "border"

**Expected behavior**
No black border

**Screenshots**
![BLack-border](https://user-images.githubusercontent.com/1646034/189547213-48d33a5d-e0d4-4004-b66f-8002a02b2595.png)

**Platform infor

[2022-09-11 20:25] sammik opened #13295 "[MU4 Issue] apersands in items under Publish tab, non accesible by keyboard"
**Describe the bug**
In Publish tab, thereare ampersands in items - Pu&blish to ..., &Export...

**To Reproduce**
Steps to reproduce the behavior:
1. Click "Publish" tab
2. See items
3. try to navigate with keyboard

**Expected behavior**
Underlined letter, accesible by "Alt" (or letter)

**Screenshots**
![apersands](https://user-images.githubusercontent.com/1646034/189547484-b2002362-24ae-4618-91

[2022-09-11 21:30] abariska commented on #12176
@HemantAntony I see your point but I believe that edge note shouldn't be marked as invalid when used by two or more voices. It makes no sense for me. Look at the more realistic example with these notes:
<img width="403" alt="CleanShot 2022-09-12 at 00 05 33" src="https://user-images.githubusercontent.com/101250347/189549529-728db0b8-b0d3-40b6-a772-4d5214a520da.png">
It could be timbre specific tas

[2022-09-12 00:18] shoogle commented on #10228
@HemantAntony, happy to take this one? I suggest you implement a simple fix in [accessibleitem.cpp](https://github.com/musescore/MuseScore/blob/5377cefdb436e7e267dd548e6366dfb186a4aa94/src/engraving/accessibility/accessibleitem.cpp#L175-L203) where you manipulate the name and description of the selected element to indicate to users that a range selection is taking place. Do this properly and you s

[2022-09-12 00:39] wizofaus commented on #13291
Reproducing this is easy enough and it's not hard to see why it happens, the question is what the correct behaviour is - logically you can't a measure if a score has no staves, even if it did anything you wouldn't see the result in the current part score...v3 doesn't appear to even allow "empty" parts so it's not an issue there.

[2022-09-12 00:48] wizofaus opened #13296 "[MU4 Issue] "Add intervals" commands do nothing if nothing selected"
**Describe the bug**
The commands in the Add|Intervals submenu (Unison above, second above etc. etc.) are all enabled even if nothing is selected, but do nothing at all.

**To Reproduce**
Steps to reproduce the behavior:
1. Create or open any score, ensure nothing is selected
2. Open the Add menu and the Intervals submenu
3. Note that all commands are available
4. Choose any one of them
5. Nothing

[2022-09-12 00:51] wizofaus opened #13297 "[MU4 Issue] Reset Preferences crashes app if a part with no instruments is open"
**Describe the bug**
If you've created an "empty" part with no instruments, reset preferences causes the app to crash.

**To Reproduce**
Steps to reproduce the behavior:
1. Open/create any score
2. From the Parts dialog, click Create New, then open selected.
3. Go to Edit|Preferences and select "Reset preferences"
4. App crashes

**Expected behavior**
App does not crash

**Screenshots**
If applica

[2022-09-12 01:41] wizofaus commented on #13291
https://github.com/musescore/MuseScore/pull/13298 should fix this

[2022-09-12 02:16] wizofaus opened #13299 "[MU4 Issue] Reset preferences causes start-up wizard to show each time"
**Describe the bug**
Reset preferences is the only (apparent) way to restore certain defaults (e.g. whether certain warning dialogs should show), but it also causes the "first time" start-up wizard to show and recently used file list to be lost, which I would expect would require a full "Revert to factory settings".

**To Reproduce**
Steps to reproduce the behavior:
1. Go to Edit|Preferences and c

[2022-09-12 03:35] HemantAntony commented on #10228
Okay, thank you! I have understood the specs. I am going to start working on this :)

[2022-09-12 08:01] #11255 closed, assigned to vpereverzev

[2022-09-12 09:10] abariska commented on #13203
Oh, my fault. Video is replaced

[2022-09-12 09:18] Tantacrul commented on #12476
Can't reproduce on Windows. Perhaps it is fixed?

Anyway, I'm bumping this to post-beta

[2022-09-12 09:25] Tantacrul commented on #12140
I think this needs more explanation. If the issue is the following, I'm not even sure we should try to fix it:

- Add an accel. line over a full measure (going from **q=90 -> q120**)
- Add a tempo mark (q=60) on the third beat (so it is interfering with the accel line)
- The accel line is cancelled?

I don't think we should really support the user if they want to do this.

[2022-09-12 10:18] bkunda commented on #12176
@abariska I'm sorry but I'm not sure I understand what the issue is here that you're describing.

Is it that these notes in red _shouldn't_ be marked as invalid?

[2022-09-12 10:23] abariska commented on #12176
Yep, I believe that when two voices use the same note it shouldn't be marked as invalid

[2022-09-12 11:16] Tantacrul commented on #12140
Ah. I can get this to work now. A lot of it depends on where the line ends (which is an annoing limitation of MuseScore we need to improve in later versions).

[2022-09-12 11:24] DmitryArefiev commented on #13152
@cbjeukendrup I also have a crash when doing Ctr+drag (Ctr+click) on bracket grip:

https://user-images.githubusercontent.com/90187801/189641710-e25fe0aa-cf1c-44b2-80ad-85967762b4c6.mp4

Is it the same issue?

[2022-09-12 11:37] bkunda commented on #12176
OK I think I see your point.
And actually the question I would have here is whether the user is even likely to understand what the red highlight indicates.
Certainly, it's not _invalid_ to have two voices written on a single note in guitar music, even for pitches that are technically only playable in one position (See below example, which is not uncommon in classical guitar music):
<img width="601

[2022-09-12 11:39] DmitryArefiev commented on #13152
Cool! I'll add the summary and description. Thanks!

[2022-09-12 11:58] oMrSmith commented on #13152
Hey @DmitryArefiev
what do you think of this idea?
![image](https://user-images.githubusercontent.com/78870770/189647662-3d2fc21d-eac4-4b90-b307-c28f695611e5.png)

[2022-09-12 12:12] oMrSmith commented on #13152
Or maybe even better:
![image](https://user-images.githubusercontent.com/78870770/189650274-f31c8282-d645-4bda-950d-19e75c1466ec.png)

[2022-09-12 12:55] cbjeukendrup commented on #13152
@oMrSmith Those ideas are very nice, only not for now 😉
Right now, we're working very focusedly on the release of 4.0, and we don't really have the time to make any non-critical changes, unless someone from the community would like to take it on. When the release is finally done, we can start making refinements and enhancements.

[2022-09-12 12:57] oMrSmith commented on #13152
I can totally comprehend that!

[2022-09-12 13:06] oktophonie opened #13303 "[MU4 Issue] Flipping tie with 'x' does not trigger redraw"
**Describe the bug**
When flipping ties via the keyboard shortcut 'x', a redraw is not triggered (i.e. the tie _is_ flipped, but this is not visibly evident until something else triggers a redraw).

Also if this 'flip' is undone with Ctrl+Z,  the tie is removed - that is, it looks like the flip action isn't put on the undo stack either.

Flipping either via the toolbar button or in the Properties

[2022-09-12 13:06] oktophonie commented on #13303
I did check https://github.com/musescore/MuseScore/pull/13043 in case that fixed it, but this would appear to be a separate, if related, issue.

[2022-09-12 13:10] Tantacrul commented on #13212
Update: I'm going to create a very short video for this to link to. The 'Download' button will change to 'Watch video'.

Will create the video today and will be finished in the next 2-3 days. Will update here.

[2022-09-12 13:15] shoogle opened #13304 "[MU4 Issue] CLI messages are printed to STDOUT rather than STDERR"
**Describe the bug**
Command line error and warning messages are printed on the standard output stream rather than the standard error stream. This pollutes the desired output of terminal commands like `--score-media`, which will break these commands in scripts and on the MuseScore.com backend.

**To Reproduce**
Steps to reproduce the behavior on macOS (see [this comment](https://github.com/musesco

[2022-09-12 13:52] DmitryArefiev commented on #13046
@GrayCatMusic **Can't reproduce**  on my side as well (Windows10/Mac12.5)

Can you try again in latest master please?

[2022-09-12 14:24] abariska commented on #12972
Also, playback cursor position is moved back out of loop region when making tempo way slower via slider on undocked transport panel. It's not a regression but could be related to current issue.

https://user-images.githubusercontent.com/101250347/189679129-80d6c636-03b6-498c-a3f5-84e10eea8bec.mp4

[2022-09-12 15:48] DmitryArefiev commented on #12476
Yes, the same on my side. No longer occurs

[2022-09-12 15:48] #12476 closed

[2022-09-12 16:04] #13159 closed

[2022-09-12 16:15] DmitryArefiev commented on #13272
Yeah, I made a typo.. Corrected. Thanks!

Curiously if you press that before selecting anything you get:

I see you are already logged #13286 Thanks!

Thanks for fixing! I will check it after code review

[2022-09-12 16:30] Tantacrul commented on #13212
OK, I've updated this task to make it super simple :)

[2022-09-12 17:17] HemantAntony commented on #13212
@Tantacrul made a PR: #13310

[2022-09-12 17:26] DmitryArefiev opened #13311 "[MU4 Issue] [Accessibility] No Orca feedback within Additional score information > Score options panel"
**Describe the bug**
The same as #13013 but for Linux (Orca)

![Capture](https://user-images.githubusercontent.com/90187801/189717893-d3713cb3-bf36-46c0-bfeb-9679eb4dceb1.PNG)
![Capture2](https://user-images.githubusercontent.com/90187801/189717937-347c98cb-c3b5-41b9-ab88-498c25ec10af.PNG)

**Platform information**
LinuxMint20.2

**Additional context**
Add any other context about the problem here.

[2022-09-12 17:28] #12807 closed

[2022-09-12 17:30] DmitryArefiev commented on #12807
Fixed in #13013

[2022-09-12 17:30] DmitryArefiev commented on #12807
But found the same occurs on Linux  (logged #13311)

[2022-09-12 18:03] Tantacrul commented on #13212
Perfecto. Thanks, @HemantAntony !

[2022-09-12 18:26] Tantacrul commented on #12771
Yes. This is working in the nightlies now.

[2022-09-12 18:28] Tantacrul commented on #13272
On behalf of every here, can I just say: lol.

[2022-09-12 18:33] Tantacrul commented on #10922
Moving this to Post Beta. For this release we only strictly need to get ordinary repeats working.

[2022-09-12 18:40] Tantacrul opened #13313 "Muse Sounds: Audio export (to .wav, .mps, etc.) does not include audio from Muse Sounds."
**Issue**

Apply Muse Sounds to any project and then choose to export any kind of audio file.

Result: all instruments with Muse Sounds applied to them are silent.

[2022-09-12 19:46] abariska commented on #12790
I'd say more. Notes with staccato plays louder in a few more cases:
- when staccato and slur are applied at the same time but on the different staves
- when slur is applied to the note before or after the note with staccato
- when applied combined articulation which contain staccato (staccato+accent or staccato+tenuto)
Good to use this score for reproducing
[Danse_a_deux.mscz_FILES.zip](https://gi

[2022-09-12 19:47] abariska commented on #12830
Duplicate of https://github.com/musescore/MuseScore/issues/12790

[2022-09-12 20:00] wizofaus commented on #13304
Is this MacOS specific? Definitely doesn't happen under Windows and/or Linux?

[2022-09-12 20:07] wizofaus commented on #13303
Can't reproduce sorry, at least on Windows using debug build from latest master branch.

[2022-09-12 20:07] wizofaus commented on #13303
NB it works fine if the *note* is selected when pressing 'x' (which flips the stem direction too).

[2022-09-12 20:27] #12830 closed

[2022-09-12 20:35] abariska commented on #12594
duplicate of https://github.com/musescore/MuseScore/issues/13028

[2022-09-12 20:35] #12594 closed

[2022-09-12 20:42] abariska commented on #13028
@jessjwilliamson @Tantacrul Here's the video with audio. When you see a lot of events on midi monitor and stuck note thats me pressing note to get aftertouch effect.
And also I've investigated a bit more. My summary is there're some midi events which affect to all assigned mappings. For instance, you assigned Play to C0, Rewind to C#0 and Loop to D0. It will work as expected only if your midi devi

[2022-09-12 20:56] jessjwilliamson commented on #13028
Hey Borys! I got something interesting - Thanks for your suggestion to use the same app, I had the play loop issue right? Turns out it's because there are constantly MIDI messages when I used a MIDI out and in ports to USB converter cable.

https://user-images.githubusercontent.com/71656189/189756972-2581527e-5b75-4cfe-87ca-f867e983dfb3.mov

[2022-09-12 21:00] abariska commented on #12694
I can't reproduce this issue anymore.
@DmitryArefiev could you recheck?

[2022-09-12 21:04] abariska commented on #13028
Great you catch it. That's not bad these events are sent and received but MU just should ignore them

[2022-09-12 21:21] abariska opened #13316 "[MU4 Issue] [GP] No sound and tracks in mixer when importing Power tab file"
**Describe the bug**
Files to reproduce:
[Archive.zip](https://github.com/musescore/MuseScore/files/9551898/Archive.zip)

**Expected behavior**
Power tabs sound and tracks in mixer

**Screenshots**
![CleanShot 2022-09-12 at 19 29 15](https://user-images.githubusercontent.com/101250347/189760798-c3430268-9aa0-4d37-bafc-ff0ab4a3a18e.png)

[2022-09-12 21:24] sammik opened #13317 "[MU4 Issue] multiple crescendos (diminuendos) added from palette, if more than two notes are selected"
**Describe the bug**
If more than two notes are selected, clicking palette hairpins, or "cresc. _", or "mf<" (or diminuendo) produces incorrect crescendos.

**To Reproduce**
Steps to reproduce the behavior:
1. Select three or more notes (no rangeselection)
2. Click on Palette -> Dynamics (or Lines) -> hairpin (or "cresc", or "mf<")
3. See - multiple hairpins are created

**Expected behavior**
One

[2022-09-12 21:25] MarcSabatella commented on #12870
Is anyone looking at this?  It's pretty bad, and even once new sounds are in place, it's going to be an embarrassment if people's first exposure to them is with scores that won't play with a steady tempo.

[2022-09-12 21:32] Tantacrul commented on #13317
Agree with expected behaviour. Moving to 4.x for now, since we won't be tackling this in 4.0.

We want to really do need to address hairpins and dynamics very soon.

[2022-09-12 21:36] MarcSabatella commented on #12140
Just ran into it too.  My "rit" marking extends to the last note of a measure, new tempo starts on first beat of next and is ignored:
![image](https://user-images.githubusercontent.com/1799936/189762805-ab0a36bd-0789-485f-8864-96bccee4bc0f.png)

[2022-09-12 21:37] Tantacrul commented on #12969
I think we can move it to Post Beta at least, since I have not (yet) noticed it.

[2022-09-12 21:40] MarcSabatella commented on #12869
Bump - could this get prioritized?

[2022-09-12 22:14] wizofaus commented on #12225
@cbjeukendrup would be good to have actual repro steps/expected behaviour described here!

[2022-09-12 22:57] Tantacrul opened #13318 "Hairpin dash settings broken - causing invisibility"
**Describe the bug**
When applying the middle 'dash' setting for hairpins, the default 'dash' and 'gap' settings are '0', so the hairpin becomes invisible. In addition, when changing the settings to something visible and saving it as a style, the style does not apply to other hairpins, which also default to 0, 0.

**See video**

https://user-images.githubusercontent.com/21022311/189772620-49ab4662

[2022-09-12 22:58] Tantacrul commented on #13318
@oktophonie - any chance one of you fine folk can fix this?

[2022-09-12 23:07] Tantacrul commented on #12140
Thank you @MarcSabatella. That's easy to reproduce.

Moved it back to Beta 1. The .rit line appears to be ending on the last note of the bar, so it seems perfectly reasonable for the 'Presto' marking to take effect.

[2022-09-13 02:59] wizofaus commented on #13303
NB the same bug was in 3.6 too, but only occurred when explicitly in "edit mode".

[2022-09-13 04:32] wizofaus commented on #13318
Why are the line style options different for slurs and hairpins though? There's no option to set "dash" and "gap" lengths for slurs, but there are 2 preset dashed styles that would seem more than adequate for most users.  For hairpins, there's only the single dashed style option shown but on selection does allow settings those dash/gap properties.
It seems that the code for slurs has the dash/gap

[2022-09-13 06:01] wizofaus commented on #13317
But sammik explicitly said "no range selection".  In fact in this case I think the described behaviour *is* fine - if you really have selected individual notes, and apply a palette element to them all, adding one per note is probably what you want. In fact there's a choral piece I've been singing recently that has about 8 notes in a row each with their own mini < hairpin, and if I was typesetting

[2022-09-13 06:23] wizofaus opened #13321 "[MU4 Issue] Ottava shortcuts don't work"
**Describe the bug**
Thought I'd reported this before but can't find it. The default shortcuts for Ottava alta/bassa are listed as "Ctrl+Y, Ctrl+O, Ctrl+A/B". But this can never work because "Ctrl+Y" already has a meaning (Redo), so it's never able to enter the expected key-sequence state.

**To Reproduce**
Steps to reproduce the behavior:
1. Open/create any score
2. Select any note or range
3. Ty

[2022-09-13 06:37] wizofaus opened #13322 "[MU4 Issue] Defining shortcut sequence for "Enter rest: xxxx" doesn't work as expected"
**Describe the bug**
The default shortcut key sequences for "Enter rest: eighth/half/quarter/whole" are "Shift+R,Shift+<?>", i.e. a two key-combination sequence. But when you try to define your own sequence they're shown as two alternative single key-combination shortcuts (separated by a ";"), which is incorrect, and there appears to be no way to change them, so that e.g. "Enter rest: whole" is "S

[2022-09-13 06:59] sammik commented on #13294
Seems to be OK now.
![border](https://user-images.githubusercontent.com/1646034/189832158-2e24518e-8357-4cfb-93e2-7e22c6488df8.png)

Not sure, what have changed (if my display settings, or was fixed in MU side).
Closing it.

[2022-09-13 06:59] #13294 closed

[2022-09-13 07:00] wizofaus commented on #13290
Does this happen if you disconnect the 2nd display? If you use English for your O/S language?
I certainly can't reproduce or see why it might happen (I do have a 2nd monitor).

[2022-09-13 07:03] wizofaus commented on #13295
Odd that I do see the same for "Publish" but not for "Export" (in the code there's no & before Export).

[2022-09-13 07:04] wizofaus commented on #13289
Can you explain what you mean by a "text box"?  It'd be great if you stuck to the template for filling out a bug report, thanks!

[2022-09-13 07:06] wizofaus commented on #13288
Hi, could you please use the template provided and fill out repro steps/expected behaviour etc.

[2022-09-13 08:41] lgvr123 opened #13323 "[MU4 Issue]MU4 alpha is defined as default application for .mscz and .mscx"
Installing on Windows MU4 alpha for testing purpose makes it the default application for .mscz and .mscx files
This shouldn't be the case as long as MU4 is in non official state.
MU3 should stay the default version, so that the user can keep on working **easily** on his scores with a stable version, while testing MU4 on the side.
The user is now forced to redefine manually MU3 as the main editor f

[2022-09-13 09:09] Tantacrul commented on #13323
We're unable to alter this now, I'm afraid. I'm going to close the issue, since it can't be rectified for old installs.

[2022-09-13 09:09] #13323 closed

[2022-09-13 09:11] Tantacrul commented on #13322
The intention was to drop all support for sequences and we took a whole bunch of steps a few months ago to achieve that. However, it sounds like there are still some annoying hangover UI problems that are not making this clear.

[2022-09-13 09:13] Tantacrul commented on #13322
Anyway, I'm going to close this an open a new issue specifying that we burn out shortcut sequences completely.

[2022-09-13 09:13] #13322 closed

[2022-09-13 09:18] Tantacrul opened #13324 "Remove all shortcut sequences"
**Describe the bug**
We made a lot of UX improvements to the Shortcuts dialog a few months ago. Part of that improvement was to prevent users from accidentally creating shortcut sequences when all they want to do is specify a different shortcut. In fact, we prevent their creation entirely.

However, there are still some sequences defined in the shortcuts dialog - and some of them work (although it

[2022-09-13 09:25] Tantacrul opened #13325 "Tempo changes do not recalculate durations of tied notes. Causes v.bad playback 'hanging'"
**Describe the bug**
When specifying a tempo change on a tied note, the duration of that note does not update appropriately.

Here is a file to test: https://www.dropbox.com/s/goyazrjqr04behb/tempo%20change%20duration%20error.mscz?dl=0
![image](https://user-images.githubusercontent.com/21022311/189864463-286dd9a9-cc59-49a6-80b5-2c46f1a1b753.png)

In this example, the second whole note plays as if

[2022-09-13 09:34] Tantacrul opened #13326 "[MU4 Task] Dynamics should work for different voices"
**Task description**
When users specify different dynamics for different voices, they should be audible. At present, a dynamic affects the entire track and not the individual voice.

![image](https://user-images.githubusercontent.com/21022311/189866714-147f9552-9583-46c8-b68e-17f89e9274c5.png)

This is quite limiting for piano writing as well as orchestral scores, where multiple instruments will b

[2022-09-13 09:35] Tantacrul commented on #13326
Closing until 4.0 is released.

[2022-09-13 09:51] Tantacrul commented on #13317
Regardless, I think the simpler rule would be best: **If a user selects more than one note, then draw a hairpin from the first note to the last.**

[2022-09-13 10:27] lgvr123 commented on #13323
But solved for the new builds ?

[2022-09-13 10:53] wizofaus commented on #13317
So how would I add separate hairpins to 32 different notes?

[2022-09-13 10:57] wizofaus commented on #13317
![20220913_205549](https://user-images.githubusercontent.com/5364225/189883940-8d627603-361a-43cc-a17b-661e3fbd4c1f.jpg)
This is part of it (there's another 16 in the following system)

[2022-09-13 11:17] Tantacrul commented on #13317
Hard cases make bad law. Design for the likely usercase, not the edge case.

[2022-09-13 11:22] oMrSmith opened #13327 "[MU4] Please, could you reduce the velocity (not the volume) when clicking on a chord symbol?"
As you click on a chord symbol, it plays back, which is super handy.
However in MU4 it almost sounds as if the the chord was hit with a velocity of 127.
I think it would be necessary to reduce the default velocity for click-on-play back
in order to have a smoother sound which doesn't frighten you.

[2022-09-13 12:20] wizofaus commented on #13317
But if you've gone out of your way to select those notes individually as a list selection (not a range) then logically that suggests you want to treat them as individual notes, rather than a range.   The likely use case is that a user will select the range of measures and apply a single dynamic which will span the whole range.

[2022-09-13 12:24] wizofaus commented on #13271
Um, it'd be a fair bit easier if there were textual repro steps/expected behaviour as per the issue template.  Screen recordings can be helpful in some cases but I don't usually find are the best way to convey what it is you did you cause the problem.

Anyway your updated description now does sound somewhat like what I was seeing - that even though the option was showing as unchecked (and was corr

[2022-09-13 12:39] oMrSmith opened #13328 "[MU4] Suggestion: Clicking on a gear-symbol behind a staff inside the new instrument panel should take you to the full staff-properties dialog right away"
To me it doesn't feel right and doesn't seem logic
that I can't access the (full) staff properties dialog, which is a wonderful thing(!),
from the new instrument panel.

Instead a pop-up appears.
This is fine for the instrument as a whole, I think,
but not optimal for the staffs _inside_ the instrument.

[2022-09-13 12:41] oMrSmith commented on #13328
PS: As a new user this design would make me believe,
that the (full) staff properties dialog doesn't actually exist
and that the options in the pop of the instrument panel are all settings available.

[2022-09-13 12:58] oMrSmith opened #13329 "CTR+Click (on a measure) does not select all instruments inside the new instrument panel"
https://user-images.githubusercontent.com/78870770/189906785-cb3e6d2a-0376-4043-ad4f-5e979b1076fc.mp4

This little inconsistancy could for example matter,
if people want to focus on a stave,
which is now very easy thanks to the fact,
that the eye-symbol will show/hide all selected instruments.

Perhaps it would be even more helpfull,
to have a button to "show/hide all" instruments,
in order to sim

[2022-09-13 13:02] oMrSmith commented on #13329
This little bug could for example matter,
if people want to focus on a stave,
which is now very easy thanks to the fact,
that the eye-symbol will show/hide all selected instruments.

[2022-09-13 13:07] abariska opened #13330 "[MU4 Issue] Selected note is sounding when clicking header"
**To Reproduce**
Steps to reproduce the behavior:
1. Create a simple score
2. Add a note
3. Keep the note selected
4. Click header area

**Expected behavior**
Nothing happens when note is selected and clicking header

**Screenshots**

https://user-images.githubusercontent.com/101250347/189909085-781e3316-3592-4669-9085-c320dd763660.mp4

[2022-09-13 13:29] sammik commented on #13317
@wizofaus but there are situations, where range selection is not possible - different dynamics in different voices (it is quite common in vocal closed scores).
![voices-hairpins](https://user-images.githubusercontent.com/1646034/189912009-dca3f0fd-961a-4fa8-b6b9-0e3cb1e52e7d.png)

So it is nice, to be ableto select notes (first and last) and create long hairpin.

@Tantacrul Alternative rule can be

[2022-09-13 14:26] lane-hogan opened #13332 "[MU4 Issue] Adding sticking to note does nothing"
**Describe the bug**
When a note is selected and you attempt to add sticking to it, nothing happens.

**To Reproduce**
Steps to reproduce the behavior:
1. Create a quarter note
2. Click on **Add > Sticking**
3. Nothing happens

**Expected behavior**
A textbox should appear to allow me to add a sticking text to the note.

**Platform information**
 - OS: Windows 11

[2022-09-13 14:45] #12688 closed

[2022-09-13 14:45] DmitryArefiev commented on #12688
Fixed in #13009

[2022-09-13 14:46] DmitryArefiev commented on #12899
Fixed in #13009

[2022-09-13 14:47] DmitryArefiev commented on #12846
Fixed in #13009 but only on Windows side.

**STILL OCCURS** on **Linux**

[2022-09-13 14:49] MarcSabatella commented on #12870
@Tantacrul - this is the issue I mentioned on Discord

[2022-09-13 15:09] #13212 closed

[2022-09-13 15:33] DmitryArefiev commented on #12899
@j824h Yes, please open a separate issue for and mention it here.

Also, I checked briefly and looks like those issues are left on Linux only.

Thanks!

[2022-09-13 16:10] GargDivanshu commented on #12673
Hey I wish to contribute if the issue is still not resolved can I do it to you?

[2022-09-13 16:11] GargDivanshu commented on #11363
Hey if the issue is still unresolved, can you assign it to me?

[2022-09-13 16:16] HemantAntony commented on #12673
@aritroCoder might be working on this. If you aren't, can you say so?

[2022-09-13 16:17] HemantAntony commented on #11363
Feel free to work on this issue

[2022-09-13 16:25] DmitryArefiev opened #13338 "[MU4 Issue] [Inspector] No text style settings (font, style) for text lines in Properties"
No text style settings for text lines in Properties.

E.g. you **can't change** text style or font for "Staff" text in Staff text line (see video below)

**MuseScore3**
![Capture](https://user-images.githubusercontent.com/90187801/189955350-cf9f893e-fc0f-4d02-ad68-5ea4bc766a64.PNG)

**MuseScore4**

![Capture2](https://user-images.githubusercontent.com/90187801/189955365-e35b3e13-cb53-4a40-b05b-855

[2022-09-13 16:27] GargDivanshu commented on #10476
Hey if the issue was not resolved can you assign it to me ? I will be glad to work on it.

[2022-09-13 16:40] abariska opened #13339 "[MU4 Issue] Already added chord notes don't play when entering next chord notes one by one"
**To Reproduce**
Steps to reproduce the behavior:
1. Create a score
2. Enable note input
3. Play a chord with arpegiato (notes of chord fast one by one)
4. Pay attention to the chord sound

**Expected behavior**
Already added chord notes play when entering next chord notes one by one

**Screenshots**

[2022-09-13 16:43] shoogle commented on #10476
@GargDivanshu, feel free, assuming this bug is still active? Perhaps someone on Windows can confirm?

The basic idea is that we want the <kbd>Delete</kbd> and <kbd>Backspace</kbd> keys to be equivalent except when editing text. This should mean looking for shortcuts involving one of those keys in [shortcuts.xml](https://github.com/musescore/MuseScore/tree/master/src/framework/shortcuts/data) and a

[2022-09-13 16:51] aritroCoder commented on #12673
Sorry, I was not able to respond for a while, yes I am working on it, already set up the development environment, and now trying to understand the source a little more

[2022-09-13 16:54] PetJer commented on #13288
Sure, I'll update it. I also found up that the problem arises because of the change in the **measures duration**.

[2022-09-13 17:10] Tantacrul commented on #11363
Done

[2022-09-13 17:53] Tantacrul commented on #12869
Yeah, I've been noticing this myself too.

[2022-09-13 18:23] #13303 closed

[2022-09-13 18:24] Jojo-Schmitz commented on #13326
See also https://musescore.org/en/node/58031

[2022-09-13 18:44] aritroCoder commented on #12673
I have followed the steps as given in the doc till https://github.com/musescore/MuseScore/wiki/Compile-on-the-command-line
But now I am getting error while trying to run `./build.cmake`
![image](https://user-images.githubusercontent.com/92646038/189984489-091f25ce-fa19-4e1c-8128-b5136d00462a.png)

Please assist me to identify why I get this error as I did all the steps mentioned correctly

[2022-09-13 19:22] MarcSabatella opened #13340 "[MU4 Issue] Chord with arpeggio markings play too loud in presence of slurs"
**Describe the bug**
A chord with an arpeggio plays too loudly, if under a slur

**To Reproduce**
Steps to reproduce the behavior:
1. Enter four chords: normal, arpeggiated, normal, arpeggiated
2. Slur the last two chords
3. Play
4. Hear error: the arpeggiated chord under the slur plays much too loudly

**Expected behavior**
All chords play the same volume

**Screenshots**
![image](https://user-im

[2022-09-13 19:28] MarcSabatella commented on #13340
Same if there is pedal a line instead of slur.  But paradoxically, adding an accent *defeats* the accent in either case.  So: arpeggio alone is normal volume (fine).  Aprepggio plus slur: too loud (bad, should be normal).  Arepggios plus slur plus accent: normal volume (bad, should be loud because of accent).

[2022-09-13 19:48] GargDivanshu commented on #11363
oky, so just to cross verify, I checked the software and you want scrolling should stop much early without leaving a large amount of blank space ?

something like this should be max scroll you want users to have?

![musescore demo](https://user-images.githubusercontent.com/96184674/189995493-18d341cf-97ab-4f68-82fb-6b12229e4a45.PNG)

[2022-09-13 20:01] MarcSabatella opened #13341 "[MU4 Issue] Chord with arpeggio is delayed"
**Describe the bug**
A chord with an arpeggio is played too late.

**To Reproduce**
Steps to reproduce the behavior:
1. Enter a series of chords with apreggios
2. In another staff, enter a series of notes of shorter duration to help keep time
3. Play
4. Hear error: a delay before each chord

**Expected behavior**
MuseScore should play with a steady tempo

**Screenshots**
![image](https://user-imag

[2022-09-13 20:15] MarcSabatella commented on #12821
The PR dealing with this has been merged, so most likely this can be closed.  I'm guessing the original report was being triggered by the autosave, which is why it seemed random (as it did to me as well for a long time).

[2022-09-13 20:18] MarcSabatella commented on #12790
Same for arpeggio - see https://github.com/musescore/MuseScore/issues/13340

[2022-09-13 20:18] wizofaus commented on #13317
Those can definitely be selected as ranges (using the selection filter or advantage select features), though I agree it's not quite as simple as just selecting the first and last note.

[2022-09-13 20:19] MarcSabatella commented on #12876
Confirmed - @Tantacrul this is also affecting "Reunion" (or at least, my attempts to work around other bugs affecting that score).

[2022-09-13 20:29] wizofaus commented on #13289
I literally still have virtually no idea how the poster got the screenshots posted, or have any idea what they were actually trying to do, or expected to see. Maybe I'm just stupid....

[2022-09-13 20:38] abariska commented on #12678
Moreover I believe that tenuto and slur issues are related to this one https://github.com/musescore/MuseScore/issues/12830

[2022-09-13 20:52] MarcSabatella commented on #13077
@Tantacrul could this get prioritized?

[2022-09-13 20:55] MarcSabatella commented on #12835
I don't think any aspect of this is reproducible anymore.

[2022-09-13 21:09] MarcSabatella commented on #13332
Itthis using the latest nightly build?  It'd working for me now, fixed a few days ago as of https://github.com/musescore/MuseScore/pull/13189

[2022-09-13 21:10] Tantacrul commented on #12835
In that case, I'm going to close this - and if some new problems come to light, we may reopen.

[2022-09-13 21:10] #12835 closed

[2022-09-13 21:13] Tantacrul commented on #11363
That looks pretty decent to me, although I wonder why one would need quite so much horizontal space. I'd probably tighten it a little more on horizontally by about 33%.

[2022-09-13 22:39] wizofaus opened #13342 "[MU4 Issue] Multiple stacked tempo marking added to top staff"
**Describe the bug**
If you select a range across multiple staves and add a tempo marking, it adds multiple stacked tempo markings to the top staff.

**To Reproduce**
Steps to reproduce the behavior:
1. Create or open a multi-staff score such as String Quartet
2. Use Ctrl+A to select the whole score (or click on first measure of top staff then shift+click on a measure in a lower staff)
3. Add any

[2022-09-13 22:41] wizofaus commented on #13342
Non-critical, the behaviour is far worse in v3.6 (esp. if you select all then add a tempo marking).

[2022-09-13 23:35] wizofaus commented on #13342
I wanted the tempo to applied to the whole score, so selecting the whole thing made sense :)
In future I very much hope there is the ability to have different tempi for different staves.

[2022-09-13 23:51] MarcSabatella commented on #13342
Since internally there is already the ability to identify certain staves as being ones that should display tempo and other system text, presumably a UI to allow you to specify that yourself would also come.  but, not likely it would actually involve *different* tempos for different staves.  That's something else entirely, experimental notation best discussed elsewhere.

Anyhow, to be clear: to app

[2022-09-13 23:54] wizofaus commented on #13342
As I've said before, applying a tempo marking to a note seems very counterintuitive to me, and not always straightforward if your score has a lot of notes. Thankfully v4 now does the "expected" thing when adding it to a measure.
Honestly this is a fairly minor annoyance now in the list of issues still outstanding with v4, I just wanted to ensure it was recorded for when we start working on 4.1 or

[2022-09-14 01:09] wizofaus opened #13343 "[MU4 Issue] Dynamics and "pizz." instructions interfere with each other"
**Describe the bug**
Depending on whether a dynamic marking or a "pizz." (or probably similar instrument change instructions) is added first, one is played and the other ignored. In some cases both seem to get ignored.

**To Reproduce**
Steps to reproduce the behavior:
1. Open the attached score and play it back
2. Notice that on measure 3, the playback is not ***f*** or pizzicato.

**Expected beh

[2022-09-14 01:27] wizofaus opened #13344 "[MU4 Issue] Editing dynamics is broken"
**Describe the bug**
Attempting to edit the text inside a dynamic element often returns in incorrect fonts being used or text disappearing entirely

**To Reproduce**
Steps to reproduce the behavior:
1. Create a new score
2. Add an ***f*** dynamic
3. Triple click to select the element and enter edit mode (or just enter edit mode and select the "f" - you can also use various other methods, as long a

[2022-09-14 10:31] DmitryArefiev opened #13349 "[MU4 Issue] [Accessibility] Narrator speaks twice toolbar panel names"
https://user-images.githubusercontent.com/90187801/190131275-46a74755-c4a3-4319-b1c3-23a4ce822f12.mp4

**Platform information**
Windows10, Narrator

**Additional context**
Add any other context about the problem here.

[2022-09-14 10:40] DmitryArefiev commented on #12846
Fixed in #13347

[2022-09-14 10:41] #12846 closed

[2022-09-14 11:43] cbjeukendrup commented on #11363
If we limit the "overscroll" to such a low value (which seems reasonable to me), is the setting in Preferences > Canvas > "Limit scroll area to page borders" then still useful? (Has it _ever_ been useful?)

[2022-09-14 12:02] DmitryArefiev opened #13350 "[Accessibility] If File popup menu is triggered, pressing Escape only once doesn't return focus to score totally"
**To Reproduce**

Case 1
1. Select note
2. Press **Alt** to enable File menu in Menu bar
3. Start to navigate down (with down arrow) through File menu elements
4. Press **Escape** - File button is still under focus rectangle
5.  Press **UP ARROW** several times - the **note selected in step №1 starts to move**. It happens because focus returned to score, but partially it's still on Menu bar as wel

[2022-09-14 12:05] cbjeukendrup commented on #13323
In fact, the code to conditionally include the file associations in the installer already exists, and if I'm not mistaken we have always done this correctly for alpha/beta releases in the past.
Judging from this piece of code:
https://github.com/musescore/MuseScore/blob/af7f69fcf223a66fb6831637198c43cf867faf88/build/ci/windows/package.bat#L152-L155
it looks like @vpereverzev created the alpha buil

[2022-09-14 12:06] Tantacrul commented on #11363
Yeah, good question. I think it's one of those half-way house options that kind of (but not really) solves the main problem, which is that you could scroll too far :D

I think we should get rid of it.

[2022-09-14 12:11] Tantacrul commented on #13077
Done. Thanks

[2022-09-14 12:11] Tantacrul commented on #13077
@oktophonie - is this one you're guys can do?

[2022-09-14 12:24] oktophonie commented on #13077
@Tantacrul We'd prefer not, as it's basically a UI matter. Strikes me as a @cbjeukendrup special, if he has the capacity!

[2022-09-14 12:26] bkunda opened #13352 "[MU4 Issue] Playback unevenness"
**Describe the bug**
Playback of certain note values is uneven at certain tempi.
This issue affects our perception of the performed rhythm. It seems to vary depending on the instrument, as well as the shortness of the note relative to the tempo.

Please see this video for a fairly comprehensive demonstration, which also shows how this issue can be reproduced (9mins): https://www.dropbox.com/s/hhnn

[2022-09-14 12:52] Tantacrul commented on #13352
Just going to link to @MarcSabatella's issue here, which may help to give more examples: https://github.com/musescore/MuseScore/issues/12870#issuecomment-1245527331

[2022-09-14 12:52] Tantacrul commented on #13352
#https://github.com/musescore/MuseScore/issues/12870#issuecomment-1245527331

[2022-09-14 12:54] HemantAntony commented on #13352
This his discussion: #13337

[2022-09-14 13:02] DmitryArefiev commented on #13252
Fixed in #13348

[2022-09-14 13:10] DmitryArefiev opened #13353 "[Accessibility] "Dummy panel" instead of "Slur""
1. Open [slur.zip](https://github.com/musescore/MuseScore/files/9566547/slur.zip)
2. Using **Alt+right arrow** navigate to slur

https://user-images.githubusercontent.com/90187801/190162952-8e31d84f-20a1-461f-b1e4-0bc246ee11b0.mp4

**Platform information**
Windows10, Narrator

[2022-09-14 14:34] DmitryArefiev commented on #12694
@abariska Still occurs on my side (latest master, Mac12.6, Arturia KeyLab 61 Essential USB)

[2022-09-14 14:51] DmitryArefiev commented on #13224
@Tantacrul Here is what I mentioned before. I guess we can return MS3 behavior for now (with creating hidden folder .mscbackup) and re-design that feature later.

What do you think?

[2022-09-14 15:06] Tantacrul commented on #13224
Sounds good to me as long as @RomanPudashkin  / @vpereverzev agree with the solution.

[2022-09-14 15:24] GrayCatMusic commented on #13046
I got it working the latest nightly build. Thanks! In the future, where can I find the crash log?

[2022-09-14 15:24] #13046 closed

[2022-09-14 15:51] MarcSabatella commented on #13352
Thanks for posting this!  FWIW, what I hear with the repeated notes in the first example of your video sounds more like a *volume* difference (loud-soft-loud-soft) than duration or rhythm.  And I think I hear that as well in my examples.

[2022-09-14 17:18] PetJer commented on #13289
@wizofaus, actually, thanks for asking!
I was writing a more detailed explanation of the issue, but then I found up while I was recreating it that there's a specific reason why it doesn't display text (missing tab name and "..." abbreviation examples). It's because of entering text with **new lines** to text fields. Sorry for not explaining it again, I'll do it better in the new issues.

@cbjeuken

[2022-09-14 17:23] mxmou commented on #13338
I think #12848 describes the same issue.

[2022-09-14 19:51] MarcSabatella opened #13357 "[MU4 Issue] "Learn" video durations displayed in non-standard format"
**Describe the bug**
Video durations like 1:03 are displayed as 1:3

**To Reproduce**
Steps to reproduce the behavior:
1. Go Learn
2. Check duration of Muse Sounds video
3. See error: it displays as 1:3

**Expected behavior**
Should display as 1:03

**Screenshots**
![image](https://user-images.githubusercontent.com/1799936/190249026-b48ab92d-ae6a-46e4-a0f4-d5ed04a80f91.png)

**Platform information

[2022-09-14 20:05] MarcSabatella commented on #12868
Still reproducible for me on both Linux and Windows, current nightly.

Here's video:

![image](https://user-images.githubusercontent.com/1799936/190251596-31a46f5a-a97e-4bdb-9e49-af8046fead82.png)

[2022-09-14 20:35] wizofaus commented on #13304
`MuseScore4.exe score.mscz --score-media > output.json` just produces an empty file for me (both cmd.exe and git bash).

[2022-09-14 23:41] shoogle opened #13358 "[MU4 Issue] [Accessibility] Crash in Style improvements dialog"
**Describe the bug**
The _Style improvements_ dialog exhibits the following accessibility problems:

1. No screen reader speech output.
2. Navigation not possible with arrow keys and tab.
3. The OK button doesn't have focus initially.
4. Pressing F6 causes a crash.

**To Reproduce**
1. Save a score in MuseScore 3.6 or earlier.
2. Start a screen reader running.
3. Launch MuseScore 4.
4. Open the 3.

[2022-09-15 02:40] MarcSabatella commented on #13358
FWIW, the situation seems not so bad on Linux.  Keyboard navigation works, and screen reader reads, and no crash.  There are some awkwardnesses here and there maybe, but overall, it does work.

[2022-09-15 08:57] #13252 closed

[2022-09-15 10:12] abariska opened #13361 "[MU4 Issue][GP] Capo is disabled when Capo mark is applied"
**Describe the bug**
When importing tab with capo frets on tab staff rendered right but if change a note pitch it renders without capo applied (due to the option is disabled)

**Expected behavior**
A clear and concise description of what you expected to happen.

**Screenshots**
![CleanShot 2022-09-15 at 13 07 10](https://user-images.githubusercontent.com/101250347/190377231-853a29ee-2e85-4243-88fa

[2022-09-15 10:32] rgreen5 opened #13362 "When duplicating lines, there is no highlighting to indicate selection"
**Describe the bug**
By pressing Ctrl+Shift you can click on a line (say) and duplicate it to another location by dragging. However there is no highlighting of the line when you click on it; you just see the anchor. See screencast below.

The operation itself is, AFAICS, otherwise trouble-free.

** Expected behaviour**

Some highlighting, or other indication, to show which element has been highlig

[2022-09-15 10:37] abariska opened #13363 "[MU4 Issue][GP] Frets higher 24 are rendered as Invalid '0' frets"
**Describe the bug**
Frets are rendered right (higher that 24) but become invalid when changing pitch

**Expected behavior**
Frets higher 24 could be added without limitations

**Screenshots**

https://user-images.githubusercontent.com/101250347/190382864-e4334142-04d2-49a1-9041-7fa7f74ec23e.mp4

[2022-09-15 10:43] rgreen5 opened #13364 "[MU4 Issue] Attempt to duplicate element result in program freezing/crashing (Linux only)"
**Describe the bug**
Ctrl+Shift plus drag is an established way to duplicate certain elements. However if you try to use it on "non-applicable" elements you get a program freeze and often a crash. It also freezes the system for a while.

**To Reproduce**

1. Open the attached specimen score.
[duplicate_crash.zip](https://github.com/musescore/MuseScore/files/9574417/duplicate_crash.zip)

2. Press C

[2022-09-15 10:51] lyrra commented on #13358
Can reproduce crash (both windows+linux) pressing F6 in that dialog window.

Backtrace:
678         LOGI() << "nextSec: " << nextSec->name() << ", enabled: " << nextSec->enabled();
(gdb) ba
#0  0x00007ff6aeb50a3a in mu::ui::NavigationController::goToNextSection (this=0x1874b4f8320) at src/framework/ui/internal/navigationcontroller.cpp:678
#1  0x00007ff6aeb4d70a in mu::ui::NavigationController::nav

[2022-09-15 11:43] DmitryArefiev commented on #11186
Fixed in #11260

[2022-09-15 11:51] #11186 closed

[2022-09-15 14:00] DmitryArefiev opened #13365 "[MU4 Issue] CPU load during playback is high on Mac (comparing with MuseScore 3)"
**Describe the bug**
%CPU load during playback is high on Mac12.6 even on small score

**MuseScore4 takes ~39%** comparing with **MuseScore3 ~23%**

**To Reproduce**
1. Open and playback [piano3.zip](https://github.com/musescore/MuseScore/files/9575801/piano3.zip) in MS3 and MU4

**MuseScore4**
![Screenshot 2022-09-15 at 16 42 28](https://user-images.githubusercontent.com/90187801/190421419-3c440a

[2022-09-15 14:25] DmitryArefiev commented on #12841
@Tantacrul  I've tried on my week laptop Asus X415Ja (Pentium Gold 6805) with **Linux Mint 20.2**.

MS4 takes more than MS3 but it's still not ~34%

On idle with Symphonic Orchestra template,  **MS4 uses 5-6%** and **MS3 uses 1-2%**

[2022-09-15 14:26] DmitryArefiev commented on #12841
@EB2000 Can you try again please in the latest master?

[2022-09-15 14:33] DmitryArefiev commented on #13338
@mxmou Yes, it the same. I'll close #12848 to leave only one issue

Thanks!

[2022-09-15 14:35] DmitryArefiev commented on #12848
The same as #13338. Closing to leave only one issue.

Thanks for finding!

[2022-09-15 14:35] #12848 closed

[2022-09-15 14:39] Wim4rk opened #13366 "[MU4 Issue] New tempo ignored after rit."
When entering a rit. (or rall.) a new tempo will be ignored. Possibly the same as #12140, but suggested fixes doesn't work for me.

Steps to reproduce the behavior:
1. Open attached file. Play it.
2. Move stuff around - rit. and new tempo.
3. Notice issue

**Expected behavior**
Tempo markings should work immediately after rit. or rall.

**Platform information**
 - OS: Ubuntu 20.04.5 LTS

**Additio

[2022-09-15 14:48] Wim4rk commented on #13366
[bug_report.zip](https://github.com/musescore/MuseScore/files/9576291/bug_report.zip)

[2022-09-15 14:48] Wim4rk commented on #12140
[bug_report.zip](https://github.com/musescore/MuseScore/files/9576294/bug_report.zip)

[2022-09-15 14:57] Wim4rk commented on #13366
[bug_report.zip](https://github.com/musescore/MuseScore/files/9576379/bug_report.zip)

[2022-09-15 14:57] Wim4rk commented on #12140
[bug_report.zip](https://github.com/musescore/MuseScore/files/9576384/bug_report.zip)

[2022-09-15 15:05] MarcSabatella commented on #13366
I can confirm the workaround of shortening the "rall." line does not work on this score for some reason.  I still suspect it's the same basic bug as #12140 , but maybe so other variable prevent the workaround from working here.  Not sure what it is though.  If I delete the other instruments, the workaround works.

Depending on what I do when playing around with it, there are also cases where the p

[2022-09-15 15:12] MarcSabatella commented on #12140
In the above example from @Wim4rk, the workaround of shortening the line doesn't appear to work, but it seems this only because not all parts have the same rhythm, so the line is actually ending in the middle of the whole note in the lower parts.  If I replace the whole note with half rests, then the workaround works.

[2022-09-15 15:14] Wim4rk commented on #13366
A thought:
Does longer notes retain tempo data from where they began? Carrying it over and ignoring tempo changes?

[2022-09-15 15:15] bkunda opened #13369 "[MU4 Issue] Tremolo playback issues"
**Describe the bug**
Two parts to this issue:
1. "Eighth through stem" tremolo not playing back (except for crotchet notes). "16th through stem" tremolo plays back as "Eighth through stem" should. "32nd through stem" plays back as "16th through stem" should, and so on.2.
2. Tremolo on triplets plays back with dotted rhythm3.

See demo video: https://www.dropbox.com/s/ldqrw138v3y07s2/tremolo-issues

[2022-09-15 15:42] MarcSabatella commented on #12870
FWIW, in case anyone is having trouble reproducing (for me it's 100% reproducible with this score on Linux and Windows), here is a video demonstration:

https://watch.screencastify.com/v/CbkUzqPU6wB85an3MCQn

[2022-09-15 15:44] EB2000 commented on #12841
Hi!
I have just downloaded and run MuseScoreNightly-202209150459-master-5765547-x86_64.AppImage
I see the same behaviour as alpha2, with slightly different numbers.
- With symphonic orchestra, about 30% cpu
- With a single treble key, about 8% cpu
(same condition as above: I launch, create  a new partition and iconize the window. The numbers given are fore the mscore-portable process as reported b

[2022-09-15 18:12] SamuelMiller opened #13372 "make application window resizable to smaller width sizes"
Musescore 4 does not have tabbing for displaying multiple scores in the same window.  The user now has to have multiple windows open in order to copy/merge parts of various scores together. Currently on Macbook Pro 2012, with a screen resolution of 1280 by 800, MS 4 window size cannot be reduced enough to have two windows side-by-side. It can only be reduced to about 5/6 of the screen's width (see

[2022-09-15 18:28] cbjeukendrup commented on #13372
Yes, the big minimum size of the MuseScore window is an issue currently. The most problematic thing is the top toolbar, which contains a lot of controls and we don't have a way to show them on smaller screens.

Related reports / potential consequences of this problem:
#10965
#11083
#11627
(just linking them together for our administration 🙂)

[2022-09-15 18:39] sammik opened #13374 "[MU4 Issue] hairpins (and cresc. and lines) added from palette to voice 2 (or 3, 4) are added to voice 1"
**Describe the bug**
Hairpins (or cresc. or any other line) added from palette to voice 2-4 is added always to voice 1

**To Reproduce**
Steps to reproduce the behavior:
1. Select note in voice 2 (or 3, 4)
2. Click on hairpin in palette (or any other line)
3. Hairpin is added to voice 1

**Expected behavior**
Hairpin is added to selected voice

**Screenshots**

https://user-images.githubuserconten

[2022-09-15 20:15] its-not-nice opened #13377 "Metronome marks text does not honour Tempo text font"
**Describe the bug**
Items from the Tempo palette containing notehead symbols (metronome marks, metric modulations etc) do no not honour the font chosen for the Tempo text style, if that has been changed from Edwin. These symbols appear in Edwin when created, but can be reset via the Properties panel, whereupon they will use the proper font.

Other settings (size, bold/italic etc) seem to be honou

[2022-09-15 21:00] MarcSabatella commented on #13372
What’s strange to me is that the minimum window size is fixed even if I close or undock the toolbars and side panels.  There plenty of room to shrink the window but it won’t let me.

[2022-09-15 21:11] Tantacrul commented on #13277
I think we can bump this to dev without the need for a design.

[2022-09-15 21:12] Tantacrul commented on #13276
Yes. This is extremely annoying. The update should occur after the user clicks on another field or presses 'OK', etc. It should not update with every digit added.

[2022-09-15 22:03] wizofaus commented on #13277
But it would be good to have a general principle around field validation - personally I much prefer field validation to be done *after* exiting the field (tabbing/clicking away or when clicking OK/Apply/Save etc.).  And as I said, I don't think it makes sense to fix the existing QWidget-based code as I assume that will all be replaced with Qt-Quick/QML style dialogs in the near future.

[2022-09-15 22:10] cbjeukendrup commented on #13372
Currently we have hardcoded the minimum size, _hoping_ that it will always be enough for the dock widgets layout system. If the window size ever becomes less than what's needed by the dock widgets layout system, it will stop working, and you get things like #11627.

It is possible to let the docking system determine its minimum size and use that as the minimum window size. The minimum size would t

[2022-09-15 22:28] cbjeukendrup commented on #13277
I think @wizofaus has a point here. If this happens in Qt Widgets dialogs only, _and_ the behaviour is similar to MS3, I'm not sure if this is worth a lot of effort. And since the customizability of Qt Widgets is not always great, we might not even be able to change this. But it might be possible...

[2022-09-15 22:52] MarcSabatella commented on #13277
The one field that was always a source of major complaints and frustration in MU3 was the Staff Space size setting in Format / Page Setting.  Ridiculously hard to type anything at all into that field, and the issue was compounded by a way-too-big default step value for the spinbox.  Aside from that, though, most fields in most windows behaved relatively well.  The fields that take decimal values i

[2022-09-16 09:33] rgreen5 commented on #12841
OS: Linux Mint 20.1, Arch.: x86_64, MuseScore version (64-bit): 4.0.0-3065438645, revision: github-musescore-musescore-e563c08

Playiing back the attached score:
[specimen_playback.zip](https://github.com/musescore/MuseScore/files/9582729/specimen_playback.zip)

* In MS 3.6.2: The LM system monitor shows 5% CPU usage.
* In the current nightly: The LM system monitor shows up to 40% CPU usage.

Perh

[2022-09-16 10:52] DmitryArefiev opened #13381 "[MU4 Issue] Instrument sound preview has fixed note duration when playing MIDI keyboard"
**Describe the bug**
Sound preview was partially re-implemented by fixing #11234, but still doesn't work like in MuseScore2.

It should work like you playing instrument, **note should last as long as you pressing key on MIDI keyboard** (using Flute, Violin etc.).
Now it has fixed note duration like in note input mode.

**To Reproduce**
1. Select measure on Flute
2. Press key on MIDI keyboard for 2

[2022-09-16 10:59] rgreen5 opened #13382 "[MU4 Issue] "Staff/System text properties" (context menu): change to "Playback properties""
**Describe the issue**

The current wording of the options "Staff/System text properties" in the context menus for Staff/System text is ambiguous. It looks as if the option is about "text properties" whereas in reality it is about playback properties.

**Solution?**

I would like to suggest changing the wording of "Staff text properties" and "System text properties" to "Playback properties".

[2022-09-16 11:01] #11234 closed

[2022-09-16 11:04] DmitryArefiev commented on #11234
Fixed in #12879

But it doesn't work exactly as in MuseScore2, now it has fixed duration while playing MIDI keyboard. That's logged separately #13381

[2022-09-16 11:08] Eism commented on #12966
Yeah, I also didn't find a way to send messages that are not related to navigation. Implemented adding a command to the beginning of the name of the current focused element and re-voicing its name.

Maybe in the future we will find a better solution.

[2022-09-16 11:09] DmitryArefiev commented on #13381
@Tantacrul I labeled this with Beta2 since sound preview works better now than in MS3

[2022-09-16 12:49] MarcSabatella commented on #13382
I agree this is misleading,  The thing is, it's really "Staff/System text - properties", not "Staff/System - text properties".  That is, "properties of staff or system text", not "text properties of the staff or system".  But the capitalization definitely makes it seem like the latter, and it was somewhat less confusing in the past when it used title case - "Staff/System Text Properties".

Ultimat

[2022-09-16 13:20] DmitryArefiev commented on #12847
**Can reproduce** on my side with **physical printer** and **Microsoft Print To PDF** (Windows10)

[2022-09-16 13:20] sammik commented on #13363
It is probably, because You have set instrument to be 24 frets only, isnt it?
(Same it is with low notes - out of range below bottom string)

[2022-09-16 13:30] oktophonie commented on #12847
I have also encountered this (Win 11 + Artix Linux)

[2022-09-16 15:11] DmitryArefiev opened #13387 "[MU4 Issue] Dump files missing on Mac"
**Describe the bug**
Dump .dmp files missing on Mac

**To Reproduce**
1. Go to ~/Library/Application Support/MuseScore/MuseScore4Development/logs/dumps

On **Mac**
![Screenshot 2022-09-16 at 12 33 07](https://user-images.githubusercontent.com/90187801/190671955-b8b58534-0e94-4f29-a03e-56d4dd0d9e25.png)

On **Win**

![Capture2](https://user-images.githubusercontent.com/90187801/190672023-a998fdfa-8

[2022-09-16 15:37] DmitryArefiev commented on #13046
@GrayCatMusic Cool! Thanks! You can use mac crash log such as that (copy text and paste it to some text file)
<img width="1000" alt="Screenshot 2022-09-16 at 18 33 42" src="https://user-images.githubusercontent.com/90187801/190676887-8ba1ca44-35da-4975-ad64-19ef0863fc5a.png">

And MS regualar logs are here ~/Library/Application Support/MuseScore/MuseScore4Development/logs/

[2022-09-16 15:57] DmitryArefiev commented on #13224
Fixed in #13385

[2022-09-16 16:02] DmitryArefiev commented on #9194
Should work now. And after #13385 it should work like in MuseScore3

Closing

@wizofaus Please reopen if it still happens

[2022-09-16 16:02] #9194 closed

[2022-09-16 16:13] DmitryArefiev opened #13388 "[MU4 Task] Backup feature redesign"
**Task description**
Backup settings are available in **MuseScore 3** but without sufficient details

![Capture](https://user-images.githubusercontent.com/90187801/190683291-d8ae260a-d2aa-4396-93d3-6f4f192cffdd.PNG)

In **MuseScore 4**  those settings are absent in Preferences at all

[2022-09-16 16:15] #13388 closed

[2022-09-16 17:15] MarcSabatella commented on #12100
Looking at the original report, I see it was never claimed that Shift+L doesn't do the selection - I think the original issue is that the score view doesn't automatically scroll to that location.  That's still true also.  But it *does* reselect the note/rest at the location, which was always its main purpose - reestablishing a lost selection - and oh by the way, reading the location and scrolling

[2022-09-16 19:08] MarcSabatella opened #13390 "[MU4 Issue] Request: MIDi input of chord symbols"
**Describe the bug**
Other programs allow MIDI input of chord symbols (recognition of the chord being played); we could consider the same

**Additional context**
This was specifically mentioned by two blind jazz pianists as being the most comfortable method of chord symbol entry for them in other programs

[2022-09-16 19:11] MarcSabatella opened #13391 "[MU4 Issue] Request: Program-wide search command"
Some programs implement a command that searches all commands - you type "copy" and it shows you all commands relating to copying, then you can select one from the list to execute it.  Similar to how our palette search works, but this would be across all commands.  This is a convenient usability feature and especially useful for blind users, who would have a much harder to time scanning through all

[2022-09-16 21:45] wizofaus commented on #12100
I just retested with the latest nightly and as far as I can tell Shift+L does not re-select what the last selection was, or scroll it into view.  I had explicitly mentioned that the problem was after deselecting, so it's not because there's no change in selection that it appears to be doing nothing.

[2022-09-16 22:32] wizofaus commented on #13364
Can't reproduce on windows with latest nightly build

[2022-09-16 22:34] wizofaus commented on #13362
I actually completely re-implemented copy-drag so it just behaves like existing drag for all elements but leaves the copy in place, however I don't believe it's being considered for 4.0.

[2022-09-16 22:40] wizofaus commented on #13358
Can't reproduce F6 crash using latest Nightly on Windows.  Pressing "Esc" does close the dialog for me - that seems expected! - but only when it first shows, not after any other keypress (e.g. F6). Thankfully clicking the top-right X always works, meaning you can in fact realise you're trying to open the wrong file in the wrong app and choose to not proceed.
More seriously though it seems enter/sp

[2022-09-16 22:45] wizofaus commented on #13353
Sorry, I don't see the problem - what dummy panel? And what are you expecting?
What looks odd is that blue rectangle when the hairpin is selected which I can't reproduce on Windows 10.
Does this require Narrator to see the problem?

[2022-09-16 22:53] wizofaus commented on #13353
Actually I was able to reproduce it reading out "dummy panel" after re-opening the score.  Not sure why it only seems to happen if you have Narrator turned on when opening the score.

[2022-09-17 00:14] shoogle commented on #13358
I'm not sure there's really much value in being able to dismiss the dialog without opening the score, but you're right that the issue with the OK button being inaccessible is more important.

[2022-09-17 01:39] MarcSabatella commented on #12100
To be clear: it was never designed to recreate a complete range selection.  It simply reestablishes the current note/rest allow you continue to navigating.  This is working for me - the last selected note or rest is reselected in last night’s build on Linux.  But not scrolled back into view if you’ve scrolled away.

[2022-09-17 04:38] wizofaus commented on #12100
Ah, that's it - it works if select a specific note/rest, but not a whole measure (or any range).
Either way the scrolling doesn't work as you say.

[2022-09-17 04:40] wizofaus commented on #13358
I'd disagree, because I don't trust that if I open a 3.6 score in v4.0 by mistake, v4.0 might auto-save it and break it for 3.6.

[2022-09-17 09:57] oMrSmith opened #13395 "[MU4 Issue] The staff preview in the drum-map editor should have the same amount of lines as the actual staff"
I find the drum map editor pretty hard to understand.

The most confusing part is that the number of lines doesn't mach.

At least the unused staff lines should be greyed out in the preview
to make obvious, what's going on, I think.

![image](https://user-images.githubusercontent.com/78870770/190850915-0a25da90-771c-44ee-944b-86e310b63161.png)

In general, I would find it way easier to first selec

[2022-09-17 09:57] rgreen5 opened #13396 "[MU4 Issue] Text properties disabled for object when editing text and no selection made"
**Describe the bug**

There has been a change in behaviour when editing text objects. In MS3 when you were editing text _within_ the text object, and as long as no selection was made, "Text properties" in the Inspector could still be applied to the _whole_ object.

However, in MS4, when the cursor is inside the text object, text properties for the _whole_ object are disabled. Only if characters ar

[2022-09-17 10:08] oMrSmith opened #13397 "[MU4 Issue] Publish Tab doesn't lock the score"
Even if the publish tab would never get any further features,
it is a great way to get an instant PDF-preview.

However: If the publish tab is not meant for writing, which it isn't,
I think, the score should be locked - at least by default, and behave as an PDF
in order to avoid accidental changes.

[2022-09-17 10:10] rgreen5 opened #13398 "[MU4 Issue] TAB: Edit duration shortcut has changed in normal mode; Shift +[number] instead of just [number]"
**Describe the bug**

This may be an intentional change but I'm just checking to make sure.

In MS3 you can edit the duration of TAB notes in normal mode by selecting a note and entering a duration number from the computer keyboard—just like you do in the stadard staff.

However, in MS4, you have to press Shift + [number] instead (as you would in note input mode).

Is this by design or a bug?

**P

[2022-09-17 10:19] cbjeukendrup commented on #13358
@wizofaus I don't think that's a real problem: 4.0 opens older scores as if they were imported, so pressing Ctrl+S brings up the Save As… dialog rather than overwriting the 3.6 file. Also, autosave writes to a special .autosave file, and will _never_ overwrite the original file.

(At least, this is how it is designed to work, and as far as I know it works indeed like this.)

[2022-09-17 10:49] rgreen5 opened #13399 "[MU4 Issue] TAB: Grace notes can't change strings in note input mode (regression);"
**Describe the bug**

There has been a regression when you create a grace note in tablature in note input mode. You cannot change strings using the Ctrl + Up/Down arrows.

**To Reproduce**

1. Open the attached file;
[tab_grace_notes.zip](https://github.com/musescore/MuseScore/files/9591475/tab_grace_notes.zip)

2. Click on the last note (13 on the third string) and enter note input mode;
3. Press

[2022-09-17 10:58] rgreen5 opened #13400 "[MU4 Issue] Deleted"
Deleted.

[2022-09-17 11:01] #13400 closed

[2022-09-17 11:13] wizofaus commented on #13358
What it's designed to do and what I trust it to do aren't necessarily the same thing! Anyway that was just one example - if I wasn't expecting yo see that dialog because I thought I was opening a v4.0 file in v4 (or even thought I was opening a v3 file in v3) then did so, my default reaction would be to cancel.  It might be some huge file that locks up v4 for a full minute while loading...

[2022-09-17 11:35] rgreen5 opened #13401 "[MU4 Issue] Can't extend a bend without creating useless space in the score"
**Describe the bug**

This a problem introduced sometime in MS3 and has been carried over into MS4. As you extend the bend it collides with the note in front, creating useless space in the score.

![extend_bend_wrong](https://user-images.githubusercontent.com/87246583/190854302-f4186858-aaeb-430a-b290-e80927ec4cf9.gif)

**To Reproduce**

1. Open the attached score.
[extend_bend.zip](https://github

[2022-09-17 11:59] Wim4rk commented on #13366
Stumbled across an even worse example when using repeats. Hard to explain, notes retain their tempo somehow.
[bug_report.zip](https://github.com/musescore/MuseScore/files/9591591/bug_report.zip)

[2022-09-17 12:12] rgreen5 opened #13402 "[MU4 Issue] Poor rendition of flipped slurs"
**Describe the bug**

Flipped ties in MS4 are being poorly rendered in MS4 compared to MS3. e.g.

Fipped slur in MS3
![slur_ms3](https://user-images.githubusercontent.com/87246583/190856245-f092006e-82e9-4f72-844e-cb34902077ed.png)

Same flipped slur in MS4
![slur_ms4](https://user-images.githubusercontent.com/87246583/190855900-7d22884a-4a3b-4994-a3c4-4bf105b395f0.png)

**To Reproduce**

Open the

[2022-09-17 12:53] rgreen5 opened #13403 "[MU4 Issue] No sound when entering fretmarks in tablature"
**Describe the bug**

Open the attached score and enter notes in tablature.
[tab_input_no_sound.zip](https://github.com/musescore/MuseScore/files/9591710/tab_input_no_sound.zip)

RESULT: No sound

**Expected result**

Fretmarks should sound as they are entered.

**Platform information**
OS: Linux Mint 20.1, Arch.: x86_64, MuseScore version (64-bit): 4.0.0-3072092433, revision: github-musescore-mus

[2022-09-17 13:22] rgreen5 opened #13404 "[MU4 Issue] Multiple selection of beams results in Nul display in the "Beam height" boxes; and spin controls don't work"
**Describe the bug**

If you select multiple instances of beams, there is no display in the "Beam height" boxes and the spin controls don't work.

**To Reproduce**

1. Open the attached file.
[beam_height_display.zip](https://github.com/musescore/MuseScore/files/9591746/beam_height_display.zip)
2. Right click on a beam and select "Similar".

RESULT: There is nothing displayed in the Beam height bo

[2022-09-17 15:46] DmitryArefiev commented on #13358
@shoogle I wote to leave Esc how it works now (closing the dialog). We should give user two choices: **open score** and **don't open score**

If after opening the dialog, focus moves to OK button, then user should just press Enter without any additional navigation actions (@Eism says it can be implemented)

So we will have two scenarios after dialog opens: one Enter to open score or one Esc to don

[2022-09-17 16:29] MarcSabatella commented on #12100
Again, to be clear: that means it *does* work.  The command is “get location”, not “reestablish range selection”.  In all case it does that: it gets the location.  It’s a navigation command for accessibility.

[2022-09-17 19:10] shoogle commented on #13358
@DmitryArefiev, sounds good to me! I've updated the description.

[2022-09-17 21:26] cbjeukendrup opened #13408 "[MU4 Issue] Multi-instances: different versions of MuseScore should not communicate"
**Describe the bug**
In principle, stable and pre-release versions of MuseScore should be able to be installed independently, and never influence each other in any way.

But with the multi-instances system, all versions of MuseScore 4 will communicate with each other, share settings and other stuff, and mess things up, even though they still use distinct folders for app/user data.

**To Reproduce*

[2022-09-17 22:41] GargDivanshu commented on #11363
Sorry sir, i tried 2 of my systems, both in Linux and Windows but QT doesn't seem to work on my systems at all. Is there any other way to compile MuseScore without QT? Well if not, then I'm rn unable to work on it.

[2022-09-17 23:27] cbjeukendrup commented on #11363
MuseScore (mainly its UI) is really built on Qt, so there's no way to build without it. If you join our Discord server at https://discord.gg/HwHhXEbJ4r (if you haven't done so already), I or someone else can help you with setting everything up.

[2022-09-18 00:15] #13264 closed

[2022-09-18 00:40] vpereverzev commented on #11222
@GabeS573 @wizofaus @mattblo @Rchatru @JezSonic is everybody having these problems specifically on Windows?

[2022-09-18 00:58] cbjeukendrup commented on #11222
If I set the buffer size very low (32), it seems I can also reproduce it on macOS. But I do notice that I need a much higher buffer size on Windows than on macOS; on Mac, even 128 already seems to work reasonably (for small scores).

[2022-09-18 02:46] wizofaus commented on #11222
Windows for me, yes, but it's fine with 4k buffer size.

[2022-09-18 02:49] GabeS573 commented on #11222
I still experience it on Win11, but I'm not able to test any other operating systems. The sound is mostly fine on the largest buffer size.

[2022-09-18 03:26] Rchatru commented on #11222
Correct, it happens to me in Windows 10

[2022-09-18 05:39] GargDivanshu commented on #11363
Thank you for providing discord link, will reach out to folks there

[2022-09-18 07:19] HemantAntony commented on #13342
@DmitryArefiev check #13406 :)

[2022-09-18 10:25] DmitryArefiev commented on #13358
@shoogle Oh thanks!

[2022-09-18 10:41] rgreen5 opened #13411 "[MU4 Issue] "Capo line" should be "Barre line" (Guitar palette)"
**Describe the issue**

In the "Guitar" palette, the "Capo line" symbol needs to be renamed to "Barre line".

[2022-09-18 10:57] rgreen5 opened #13412 "[MU4 Issue] Chord symbols too loud in imported MS3 scores"
**Describe the bug**

Chord symbols in imported scores are being played back very loud. Open the attached MS3 for an example.
[chord_symbol_volume.zip](https://github.com/musescore/MuseScore/files/9593800/chord_symbol_volume.zip)

Similar to #13327?

**Platform information**
 OS: Linux Mint 20.1, Arch.: x86_64, MuseScore version (64-bit): 4.0.0-3075842495, revision: github-musescore-musescore-c7b4

[2022-09-18 12:41] HemantAntony commented on #13263
@Tantacrul I can't seem to reproduce this in the latest master

[2022-09-18 13:57] MRT-CH commented on #10951
I have more than 100 scores that use the 3.6 behavior. I will not move them to 4.0 as long this is not fixed.

[2022-09-18 14:06] Jojo-Schmitz commented on #10951
I frequently add staves and make them invisible for one single purpose: playback.
Use case: mixed choir in unison, women visible (and with an optional ottava bassa clef), men hidden (and an octave lower of course). Only reason for having those is for playback.

[2022-09-18 17:01] DmitryArefiev commented on #10122
@RomanPudashkin Says there are two different issues here:
* **one** about not updating sounds/name in Mixer
* and **another** about not updating instrument name in part, in parts dialog and in part's tab

The **issue №1** is fixed in #13097
The **issue №2** still happens

I've edited the description to separate two issues

[2022-09-18 17:09] cbjeukendrup commented on #11222
By the way, here is an issue that seems related: #12637
(just linking it so that we don't forget to re-check one if the other gets fixed)

[2022-09-18 17:11] DmitryArefiev commented on #13224
I've also created a task to redesign/improve backup feature #13388
We don't have any settings for backup feature in Preferences in **MuseScore4**, but we have some in **MuseScore3**

[2022-09-18 19:57] GabeS573 commented on #12637
This is related to: #11190, #11222, #12349, and #12483

[2022-09-19 02:48] spacelg opened #13413 "MuseScore failed to run iex_guitarpro_tests on release and debug configuration with MSVC on windows"
Hi All,

Environment:
VS 2019 + Windows Server 2019

MuseScore failed to run iex_guitarpro_tests on release and debug configuration with MSVC on windows. It can be reproduced on 7cc2f3b commit on master branch. Could you please help look at this issue?

Repro steps:
1. git clone https://github.com/musescore/MuseScore.git F:\gitP\musescore\MuseScore
2. cd F:\gitP\musescore\MuseScore
3. xcopy F:\git

[2022-09-19 08:33] mattblo commented on #11222
I also use WIndows 11, but in the latest NightlyBuilds I no longer have this problem. Even with a buffer of 256, the playback is fine!

[2022-09-19 09:19] oktophonie commented on #12756
Something else I have found triggers a reset of custom formatting: resetting (unrelated) styles to default. See video. I have, however, not been able to reproduce this consistently.

https://user-images.githubusercontent.com/20604032/190986882-ef84a406-ccc7-41f6-8143-d4c8c1482fbf.mp4

[2022-09-19 09:42] JunielKatarn commented on #9951
According to the Qt website, it CAN be built for Apple Silicon.

https://musescore.org/en/node/323841#comment-1142163

[2022-09-19 10:02] cbjeukendrup commented on #9951
I know about that, but that's about Qt 5.15.4, but we use 5.15.2. Officially, 5.15.2 is the last version for which prebuilt binaries were released for open source license users. Initially, Qt 5.15.3 and later was only available to commercial customers. But Qt has an agreement with some open source organization that every version of Qt _must_ become open source after one year after it has been rele

[2022-09-19 10:06] #13402 closed

[2022-09-19 10:12] cbjeukendrup commented on #13413
Maybe the problem is that the `diff` command can't be found? Do the engraving tests fail too?

[2022-09-19 10:28] bkunda commented on #12694
@DmitryArefiev Still able to reproduce in MacOS with MS4.

https://user-images.githubusercontent.com/86290556/190997466-e6f8ce46-b1cc-4879-9a1d-80a5e54cc461.mov

Part of this experience for me made me wonder whether the issue was related to how sensitively MS is recognising the input signal; the seventh chord I play in the above video, for example, could potentially be a result of my not playing b

[2022-09-19 11:18] DmitryArefiev commented on #10238
@Eism Yes, it looks good now in master. Thanks!

Tested in **latest master** on Win10 (150-200%) - **FIXED**

Closing

[2022-09-19 11:19] #10238 closed

[2022-09-19 12:31] rgreen5 opened #13418 "[MU4 Issue] "Notehead type" and "Notehead type (visual only)""
**Describe the issue**

There are two properties with similarly names, but different functions, in __Properties: Note__ : namely "Notehead type", and "Notehead type (visual only)". IMV, they should have different names.

How about "Dummy notehead" instead of "Notehead type (visual only)" ("dummy" in the sense of "not real but having a similar appearance to something else")?

[2022-09-19 12:36] cbjeukendrup commented on #13226
I found that this issue is a bit more general. The loop markers don't update at all when any aspect of the notation/layout is changed:

https://user-images.githubusercontent.com/48658420/191017953-ec92f44a-adce-4a50-8da0-f6d38d1dff06.mov

Maybe this requires reprioritization of this issue?

[2022-09-19 14:17] drbirkenstocks opened #13420 "[MU4 Issue] - unable to change Volta text size/appearance"
**Describe the bug**
Unable to change volta text appearance or size under style settings.

**To Reproduce**
Steps to reproduce the behavior:
1. Go to Style Settings→ Text Styles→ Volta
2. Endeavor to edit text appearance/size/etc.
3. Click OK
4. See nothing changes

**Expected behavior**
Text styles/appearance will be affected by changes

**Platform information**
 - Windows 11

[2022-09-19 16:46] HemantAntony commented on #13155
There is also no navigation for this dialog. So won't this be more critical?

[2022-09-19 17:56] cbjeukendrup commented on #13420
It looks like this is going to be fixed by #13292!

[2022-09-19 18:03] #13342 closed

[2022-09-19 18:08] DmitryArefiev commented on #13342
@HemantAntony Yes, looks good in #13406

Thanks for fixing!

[2022-09-19 20:47] wizofaus commented on #11222
Just tried latest build (from source, debug build) on Windows 10 and playback is now fine at 1024 buffer size, but not 512 or 256 (256 is esp. weird, seems to repeat lots of notes).
But what's the advantage in using a buffer size below 1024?

[2022-09-19 21:45] wizofaus commented on #11222
Sorry I take that back, it's still not good even at 1024 (it was ok for about 30 seconds but after that started distorting/skipping etc.)
2048 seems fine.

[2022-09-20 10:55] DmitryArefiev commented on #9519
Fixed in #13393

[2022-09-20 11:35] #9519 closed

[2022-09-20 14:05] DmitryArefiev opened #13425 "[MU4 Issue] [VST] Effect added before first playback after opening the score is not active (Win only)"
**To Reproduce**
1. Open score (or [treble clef.zip](https://github.com/musescore/MuseScore/files/9608266/treble.clef.zip) )
2. Add Valhalla supermassive
3. Playback - **no change in sound**
4. Save and reopen score
5. Playback - now Valhalla supermassive has effect

https://user-images.githubusercontent.com/90187801/191278408-bb5765af-5d5b-4432-a0d4-d7e5da1cf5a9.mp4

**Platform information**
Wind

[2022-09-20 16:33] oMrSmith opened #13426 "[MU4 Issue] Lyrics: Underlines are not beeing considered by the anti-collision automation"
![image](https://user-images.githubusercontent.com/78870770/191314326-1d923096-d70e-4451-8826-b2580f4e4cd5.png)

[2022-09-20 17:47] MarcSabatella commented on #13426
FWIW, this is something we'd have loved to get working in MuseScore 3, but we just couldn't figure out a good way, since things were being done in the wrong order to make it feasible.  See https://musescore.org/en/node/280139 for some discussion.  No doubt it's possible, but it's not just a simple oversight that I would expect to be easily fixed, unless more has changed about layout than I think i

[2022-09-20 21:29] abariska opened #13429 "[MU4 Issue] Articulation is deleted after changing note duration"
**Describe the bug**
Two cases are present:
- One articulation is added to a note (case 1)
- Two articulations are added to a note (case 2)

**To Reproduce**
Steps to reproduce the behavior:
1. Create a simple score
2. Add a quarter note
3. Add staccato to the note
4. Change duration of the note

To get case 2 on the step '3' add staccato and accent

**Expected behavior**
Articulation s are not af

[2022-09-20 22:30] oktophonie commented on #13426
Best leave it until 4.X then.

[2022-09-20 22:58] Tantacrul commented on #10801
This is implemented now. Closing.

[2022-09-20 22:58] #10801 closed

[2022-09-20 23:02] Tantacrul commented on #10930
Dmitri, is this still happening?

[2022-09-20 23:21] Tantacrul opened #13431 "Tied notes get interrupted and cancelled after 3 measures (Muse Sounds only)"
**Describe the bug**
Using Muse Sounds, tied notes stop after 3 measures in 4/4.

**To Reproduce**
Steps to reproduce the behavior:
1. Create a String quartet from template and assign Muse Sounds (solo versions of each)
2. Create tied durations that last around 10 measures or more
3. Press play and note that they stop after 3 measures

Example 1: [Shostakovich 8th quartet segment](https://www.drop

[2022-09-20 23:28] Tantacrul commented on #12415
Articulations can not be mapped automatically by MuseScore. However, you can easily trigger key switches for temolo, pizz, etc, which is how the plugin was intended to be used.

Dynamics are now working well, so I'm closing this issue.

[2022-09-20 23:28] #12415 closed

[2022-09-21 09:54] Tantacrul commented on #13431
Actually. This looks to be an issue specific to the plugin. Closing for now.

[2022-09-21 11:41] YangYang129 opened #13434 "MuseScore failed to build with "fatal error LNK1246: '/DYNAMICBASE:NO' not compatible with 'ARM64' target machine; link without '/DYNAMICBASE:NO'" with MSVC on Windows arm64ec"
MuseScore failed to build with "fatal error LNK1246: '/DYNAMICBASE:NO' not compatible with 'ARM64' target machine; link without '/DYNAMICBASE:NO'" with MSVC on Windows arm64ec. It can reproduce on latest version on master branch. Could you please help look at this issue?

**Versions and configuration**
OS: Windows Server 2022 Datacenter
VS: Visual Studio 2019(16.11.19)

**Repro steps:**

1. set VS

[2022-09-21 12:34] DmitryArefiev commented on #10930
@Tantacrul Yes, still occurs. And also the same think with Valhalla supermassive plugin

[2022-09-21 12:34] DmitryArefiev commented on #10930
@abariska Can you try on your side please?

[2022-09-21 12:38] abariska commented on #10930
Reproducible on my mac.
On this score
[Crash_Kontakt_Valhalla.mscz.zip](https://github.com/musescore/MuseScore/files/9616570/Crash_Kontakt_Valhalla.mscz.zip)

[2022-09-21 13:14] DmitryArefiev opened #13435 "[MU4 Task] Checking update on Linux"
**Task description**
It is already implemented on Mac and Windows but still required additional work on **Linux**

**Linux**

![Screenshot from 2022-09-21 16-06-23](https://user-images.githubusercontent.com/90187801/191513113-f428a243-c060-49cc-8ae4-9c90a7086fe4.png)

**Windows**

![Capture](https://user-images.githubusercontent.com/90187801/191513269-3f451ded-6036-4c14-bc8f-e86f89b9b4f7.PNG)

[2022-09-21 13:50] abariska commented on #12774
FYI @Tantacrul and all.
Comment from @cbjeukendrup:

So, there's no word cutting for now in Master palette but long words still don't wrap. Could be fixed in future

<img width="1025" alt="CleanShot 2022-09-21 at 16 41 56" src="https://user-images.githubusercontent.com/101250347/191521834-7841f364-2fc8-4ee7-a88e-b1ef40e97ea6.png">

[2022-09-21 13:51] abariska commented on #12774
🟢 **FIXED** in https://github.com/musescore/MuseScore/pull/12801

[2022-09-21 14:10] cbjeukendrup commented on #13434
You could try commenting out
[code]
in `build/cmake/SetupBuildEnvironment.cmake`, line 48.

But I don't think building for Windows ARM64 is supported yet, especially since (as far as I know) Qt 5.15.2 only has x86_64/amd64 binaries.
What if you pass `-host_arch=amd64 -arch= amd64 ` in the beginning, to compile for amd64? (And AFAIK you can then run the app through Windows's builtin emulation. I do

[2022-09-21 14:18] Jojo-Schmitz commented on #13434
Why using that set command when an easy patch of google crashpad fixes it too?

[2022-09-21 14:31] bkunda opened #13436 "[MU4 Task] Link "Watch video" button in all "Style Improvements" dialogs to new engraving video"
**Task description**
The "Watch video" button in all "Style Improvements" dialogs should point to this video on the MuseScore YouTube channel:
https://youtu.be/U7dagae87eM

<img width="509" alt="Screenshot 2022-09-21 at 4 24 35 pm" src="https://user-images.githubusercontent.com/86290556/191531100-a11ca4e0-98f7-43c4-bbe4-1d4bb7172ee2.png">

<img width="609" alt="Screenshot 2022-09-21 at 4 28 42 pm"

[2022-09-21 14:33] HemantAntony commented on #13436
Seems easy enough! Happy to do it :)

[2022-09-21 14:38] jessjwilliamson commented on #9576
Would like to update this is now working properly and fine on MacOS! I don't have my PC to work with multi screens. @bkunda Can you also check if this issue looks okay to you pls? I think you have multi screens :)

[2022-09-21 14:42] DmitryArefiev commented on #12481
Fixed in #13083

[2022-09-21 14:42] DmitryArefiev commented on #12480
Fixed in #13083

[2022-09-21 14:53] DmitryArefiev opened #13437 "[MU4 Issue] Concert pitch checkbox changes are not updated after Undo"
**Describe the bug**
This was reported within #12481

**To Reproduce**
1. have a score with transposing instruments
2. enable concert pitch using the checkbox in the Status bar
3. press undo

**Expected**: concert pitch is disabled again, **and the concert pitch checkbox reflects this**

**Actual**: although the score is updated correctly (because that happens inside the engraving module) **but th

[2022-09-21 14:56] DmitryArefiev commented on #12481
This was not fixed in #13083

Logged separately #13437

[2022-09-21 15:12] MarcSabatella opened #13438 "[MU4 Issue] Improvement: use "snap to grid" configuration to set keyboard nudge increment"
Not a regression; snap to grid works as it did in 3.6.2.  However, with the change to the how keyboard adjustments work (they formerly moved in 0.1 sp increments but now it's 0.5 sp, which several people have complained is too coarse), I think some simple enhancements to the snap to grid functionality could make every happy (!):

1. Use the grid configuration settings to determine the nudge increm

[2022-09-21 16:48] abariska opened #13440 "[MU4 Issue] Text and other elements on score are clickable during playback"
**To Reproduce**
Steps to reproduce the behavior:
1. Open any score (e.g.
[Danse_a_deux.mscz.zip](https://github.com/musescore/MuseScore/files/9618777/Danse_a_deux.mscz.zip)
2. Play the score
3. Click elements on score

**Expected behavior**
No any elements on score except notes, rests and measures are not clickable during playback

**Screenshots**

https://user-images.githubusercontent.com/101250

[2022-09-21 17:15] DmitryArefiev commented on #13358
Fixed in #13416

[2022-09-21 17:22] DmitryArefiev commented on #12694
@bkunda Thanks!

[2022-09-21 19:18] #12480 closed

[2022-09-21 19:18] #12481 closed

[2022-09-21 23:23] MarcSabatella commented on #12501
Is this truly fixed?  I don't use drag & drop often, but I just tried it and the background is still opaque:
![image](https://user-images.githubusercontent.com/1799936/191626953-173cf28b-003c-4e84-a624-a1704ba3e1d9.png)

Do I need to factory reset?  I did reset the palette.

[2022-09-22 01:45] Bolt7 opened #13441 "[MU4 Issue] Dynamics are wrong when skipping backwards"
Dynamics are wrong when selecting a note during playback and pressing the left arrow key repeatedly to move back in the music.
The notes play at the volume of the "most recently passed" dynamic marking, rather than the dynamic marking most recently preceding the note. So if you're pressing left repeatedly and passing a pianissimo dynamic, the notes _before_ the dynamic are also very soft.

Steps t

[2022-09-22 02:33] YangYang129 commented on #13434
@Jojo-Schmitz If delete https://github.com/musescore/MuseScore/files/9616186/MuseScore_ARM64EC_C3861.patch.log, fail to build "F:\MuseScore\thirdparty\google_crashpad_client\third_party\mini_chromium\mini_chromium\base\logging.cc(357,5): error C3861: '__ud2': identifier not found "

[2022-09-22 05:21] GabeS573 commented on #13418
I don't think "Dummy notehead" really explains what it does. How about **"Notehead duration (visual only)"**?

[2022-09-22 05:30] GabeS573 commented on #11083
These tiling shortcuts __do__ work correctly on Windows 11; however, the window often ends up being too large to fit in the tile space due to the minimum size issue (#10965, #13372, et. al.).

[2022-09-22 08:24] #13358 closed

[2022-09-22 08:29] #12966 closed

[2022-09-22 09:15] abariska commented on #12633
@Tantacrul what do you think about this fix for MU4? We already have this fix implemented for Mac but don't have for windows and Linux. As @Eism said this may call serious regression. So, probably, we should move it to MU4.x

[2022-09-22 09:25] Tantacrul commented on #12633
Yes. I think we should bump to **4.X** if we're expecting complications.

[2022-09-22 10:17] DmitryArefiev commented on #11019
@abariska Tried on Windows10. The initial issue seems to be fixed. Could you recheck please?

[2022-09-22 10:23] DmitryArefiev commented on #11019
One thing I found with Appoggiaturas - it triggers endless duration notes which looks similar too your #13203 (I will comment there)

https://user-images.githubusercontent.com/90187801/191723035-0c7522ad-9543-48f6-a96c-a44afcd67882.mp4

[2022-09-22 10:27] DmitryArefiev commented on #13203
@vpereverzev The similar issue with appoggiaturas (the 2nd measure):

https://user-images.githubusercontent.com/90187801/191723574-95702fdf-c9d8-4e5b-a469-f4856dc23d81.mp4

[grace notes.zip](https://github.com/musescore/MuseScore/files/9624772/grace.notes.zip)

If it's not the same I'll log it separately

[2022-09-22 10:53] DmitryArefiev commented on #13135
@Tantacrul I've changed to P1 Beta1 because in some cases  (Windows with QHD, 4FullHD displays) it **may lead user to inability to restore MU4 window from minimize state** without deleting hidden Preferences folder.
 It worth trying to fix it during Beta1.

https://user-images.githubusercontent.com/90187801/191728568-c18f9a06-333d-4e63-ab56-5de91fc723f0.mp4

[2022-09-22 11:07] Tantacrul commented on #13135
@DmitryArefiev - OK.

[2022-09-22 12:01] abariska commented on #11019
🟢 **Can't reproduce anymore**

[2022-09-22 12:01] #11019 closed

[2022-09-22 12:47] bkunda commented on #9576
Happy to confirm this does not present as an issue for me in Windows :-)

[2022-09-22 13:08] #9576 closed

[2022-09-22 13:57] DmitryArefiev commented on #12947
Fixed in #13043

[2022-09-22 14:51] DmitryArefiev commented on #12946
The initial issue (ability to type and save values in the Repeat list) is fixed

@flyingrabbitgb  Please create a separate issue for non playing repeats (that also occurs in MS3)

[2022-09-22 15:37] DmitryArefiev commented on #13435
@Tantacrul On Linux it just shows progress window and downloads the app file to Downloads folder. And there is no need to close the current because it doesn't replace initial file.

How it looks in Audacity:

![01](https://user-images.githubusercontent.com/90187801/191788663-987f36f4-42de-482d-b66f-6526ac8e0e11.png)
![02](https://user-images.githubusercontent.com/90187801/191788671-511bd123-7dd4-4

[2022-09-22 16:33] Tantacrul commented on #13435
Moving to post beta. However, yes, I agree.

We should revamp the update checking / new update implementation once MS4.0 is out. I would like it to behave like MuseScore 3 in future.

[2022-09-22 19:05] rgreen5 opened #13451 "[MU4 Issue] Change in Alt key behaviour causing shortcut conflict with menus"
**Describe the bug**

In MS4, there has been a change in the behaviour of the ALT key which is causing shortcut conflicts with the menus. That is, shortcuts which contain _in part_ the sequence Alt + F/E/V/A/O/T/P/H/D do not work, but open the corresponding menu instead.

In MS3, by contrast, you _are_ allowed to use these Alt + [letter] combinations as long as they account for only _part_ of the

[2022-09-22 19:06] #13137 closed

[2022-09-22 23:47] MarcSabatella opened #13454 "[MU4 Issue] Regression: fingering and sticking not added to all selected notes"
**Describe the bug**
If you select a range of notes and apply a fingering element (including any custom text you define yourself from the palette), it is not applied to all notes, but instead only to the first note

**To Reproduce**
Steps to reproduce the behavior:
1. Select a range of notes
2. Click on a fingering element from the palette
3. See error: the fingering is only added to the first not

[2022-09-23 02:07] YangYang129 commented on #13434
@cbjeukendrup Thanks for your info. I try commenting out this option, and build pass.

[2022-09-23 02:07] #13434 closed

[2022-09-23 03:37] MarcSabatella commented on #12873
Same, BTW, if the palettes panel is open but isn't currently active in the side - like if you had been using the instruments or properties panel more recently

@Tantacrul this is a pretty important for accessibility, as it renders the palette much more difficult to get to for blind users than it was in MU3

[2022-09-23 03:47] MarcSabatella commented on #11218
See also https://github.com/musescore/MuseScore/issues/12873 - the palette search command should also either open or "top" the palettes panel.  Probably doesn't make sense for this command to ever close the panel though.

I believe it would also make sense that when opening or topping the panel, they also take keyboard focus.  At least, I think that makes sense.  In MU3, this was true for the Pale

[2022-09-23 09:19] #13286 closed

[2022-09-23 09:19] #13248 closed

[2022-09-23 10:28] cbjeukendrup opened #13456 "[MU4 Issue] Crash when pressing duration shortcut when last input position was on TAB staff"
**Describe the bug**
When the last note input position was on a TAB staff, and you're currently not in note input mode, and you press a duration keyboard shortcut, like <kbd>5</kbd>, a crash occurs.

**To Reproduce**
Steps to reproduce the behavior:
1. Create score with TAB staff
2. Input some notes, and escape from note input mode, and make sure no note is selected
3. press a duration keyboard sh

[2022-09-23 10:38] rgreen5 commented on #13456
See also #13398.

[2022-09-23 11:04] rgreen5 opened #13457 "[MU4 Issue] Parenthesis shortcuts broken"
**Describe the bug**

According to the shortcuts list "(" should apply parentheses to an element. On this system it does nothing.

The key combination Shift+X applies a parenthesis to a fretmark in tab, but not to a note in a staff. But this "shortcut" is not documented in the shortcuts list.

**Platform information**
OS: Linux Mint 20.1, Arch.: x86_64, MuseScore version (64-bit): 4.0.0-3110413229

[2022-09-23 12:31] #12353 closed

[2022-09-23 12:57] bkunda opened #13460 "[MU4 Task] Replace "callback received" page in save-to-cloud flow"
**Task description**
Currently, when the user attempts to save a score to the cloud, if they are not already logged into their MuseScore.com account within the desktop app, their browser is triggered and this message is displayed:

<img width="358" alt="Screenshot 2022-09-23 at 2 51 50 pm" src="https://user-images.githubusercontent.com/86290556/191964476-aba77e8d-06dc-4768-9c28-587ced90e164.png">

[2022-09-23 13:00] DmitryArefiev opened #13461 "[MU4 Issue] Add staff > Bass clef added to Treble clef instruments in scores with already added staves"
**Describe the bug**
The issue was mostly fixed in #12353, but there is still a one case when Bass clef added to Treble clef instruments when using Add staff command

**To Reproduce**
1. Create score with Violin
2. Add staff to Violin

3. Save and reopen (or open [17.zip](https://github.com/musescore/MuseScore/files/9633781/17.zip) )
4. Add staff to Violin again - **added staff has a Bass clef ins

[2022-09-23 13:02] DmitryArefiev commented on #12353
Fixed in #12888

[2022-09-23 13:03] DmitryArefiev commented on #12353
@softcat477 Thanks for fixing!

I found another case and logged it separately #13461

[2022-09-23 13:20] bkunda opened #13462 "[MU4 Issue] MuseScore.com visibility settings don't get recognised by the desktop app (Save to cloud)"
**Describe the bug**
When a score saved to MuseScore.com (either via "save to cloud" or "publish" flows) has its visibility setting changed on the website, the desktop app overrides that visibility setting on the next "Save" command.

See demo video: https://www.dropbox.com/s/yswly6k5g35sa3p/save-to-cloud-website-integration-1.mov?dl=0

**Expected behavior**
The visibility setting for a cloud scor

[2022-09-23 13:26] bkunda opened #13463 "[MU4 Issue] Playback in final measure stops abruptly if note durations fill the entire measure"
**Describe the bug**
Where the final bar of a score contains note durations that fill the entire bar:
- Playback stops abruptly (little or no discernible tail of the notes beyond the barline)
- A discernible audio click is heard

See this demo video: https://www.dropbox.com/s/1xwo9dh9xrwqnx5/end-of-score-audio-stops.mov?dl=0

**Expected behavior**
See NotePerformer examples in demo video above.
Al

[2022-09-23 13:50] cbjeukendrup commented on #13463
Possibly related to #12747

[2022-09-23 14:06] bkunda opened #13464 "[MU4 Issue] Change default time stretch property for fermatas"
**Describe the bug**
Fermatas of all varieties currently play with a default "time stretch" property of 100%.
This value produces no discernible audible change, giving the impression that the fermata is not being recognised in playback.

**To Reproduce**
See video demo:

https://user-images.githubusercontent.com/86290556/191978684-e6add74e-0763-4032-a0a9-bbe539dc154f.mov

**Expected behavior**
@ok

[2022-09-23 14:11] DmitryArefiev opened #13465 "[MU4 Issue] Some issues with undocked Playback panel"
Two minor issues appears when Playback (Transport) panel  is undocked

**BUG№1**
**To Reproduce**
1. Undock Playback (transport) panel
2. Click Rewind button
3. Press Space - **playback doesn't start** (you need to return focus to score with mouse click and then press Space)

**BUG№2**
**Position slider doesn't update after clicking Rewind button** (it updates after starting playback)

See video d

[2022-09-23 15:41] #13167 closed

[2022-09-23 15:45] Jojo-Schmitz commented on #13464
There are several fermatas availa, very short, short, 'normal' lone, very long (also short and long Henze), these all should have their default time stretch but surly be different from one another (and of course sorted by legnth)

[2022-09-23 15:47] Jojo-Schmitz commented on #13464
Whether 200 is a good default for a 'normal' fermata is something for the experts to decide, to me that seems a bit too long?

[2022-09-23 15:49] Jojo-Schmitz commented on #13464
Maybe 125, 150, 175 (normal), 200 and 225?

[2022-09-23 17:02] oktophonie opened #13467 "[MU4 Issue] In note-repitch mode, articulations on the first note are reproduced on subsequent chords"
**Describe the bug**
In note repitch mode, if there are articulations on the note on which one begins, those articulations will also appear whenever chords are created later in the repitching process (but not on single notes).

This only seems to apply to the articulations which have buttons in the top toolbar (marcato, accent, tenuto, staccato) and, as such, this bug may relate to the state of th

[2022-09-23 17:28] oktophonie opened #13469 "[MU4 Issue] When deleting a chord, the resulting rest is deselected; when dotting a chord, the chord is deselected"
**Describe the bug**
An inconsistency and minor annoyance more than a 'bug'.

When deleting a note, the rest that replaces it remains selected. When deleting a _chord_, the rest is not selected, and therefore must be manually selected in order to perform any further operations. (This is a regression from 3.6.)

https://user-images.githubusercontent.com/20604032/192023927-facd5d00-c92c-491c-990f-7a

[2022-09-23 17:36] oktophonie commented on #13429
I notice that articulations are also deleted (Case 1) when moving notes from one voice to another:

https://user-images.githubusercontent.com/20604032/192024778-d673dcd0-8bd5-4651-ace0-5e98f7d72981.mp4

[2022-09-23 19:24] shoogle commented on #13460
The "callback received" page is generated by Qt. @cbjeukendrup, do you know if it's possible for us to redirect to a real webpage instead?

[2022-09-23 19:44] sberla365 opened #13470 "[MU4 Issue] Selection stretches over the page on certain bars"
**Describe the bug**
Selection stretches over the page on certain bars

**To Reproduce**
Steps to reproduce the behavior:
1. Insert horizontal frame to separate bars
2. Decrease bar stretch
3. After a certain amount of stretch the selection shoots up in the page only if stems point up. With down stems selection behaves normally

**Expected behavior**
Selection encompasses only the bar instead of s

[2022-09-23 20:18] sberla365 opened #13471 "[MU4 Issue] Increase/reduce layout stretch shortcut strange behaviour on Italian keybord"
**Describe the bug**
The shortcuts } and { defined to increase and decrease the layout stretch don't work on Italian keyboard when typing the "Windows way" on a Linux system. The same issue is present on MU3.6. I don't know if this is a bug since it works correctly with the alternate (more native) key combinations to produce { and }

**To Reproduce**
Steps to reproduce the behavior:
1. Select bar

[2022-09-23 21:54] cbjeukendrup commented on #13456
@rgreen5 Thanks, that one is indeed related! To be honest, I'm not 100% sure if it's by design, but I haven't heard anything about that so I assume it's not, so I fixed it in #13473.

[2022-09-24 03:38] wizofaus commented on #11411
Palette search isn't even just a matter of being "fuzzy", but for instance none of the following searches find anything:

"ottava"
"D.C."  (but "D.S." works!)
"Dal Segno" (but Da Capo works!)
"forte"
"decresc"
"riten"
"ritard"
"molto"/"poco"  (surprisingly there *are* no preset palette commands that have either term in them)
"portamento"
"1st"
etc.

Others like "sp" don't find the expected palette

[2022-09-24 06:37] sberla365 commented on #13470
[Edit]

It seems that the glitch is dependant on the octave. In another test I have the selection all the way up in the upper octave and all the way down in the lower octave. See screenshots. When in the upper octave, with stems pointing down the selection behaves correctly

![Screenshot from 2022-09-24 08-30-30](https://user-images.githubusercontent.com/55401477/192083644-e12eee1a-e28f-40ed-8980-

[2022-09-24 07:12] HemantAntony commented on #13470
Seems to be a duplicate of #10342

[2022-09-24 10:34] rgreen5 commented on #13469
I'm seeing this on all oktophonie's uploaded screencasts:

![file_corrupted](https://user-images.githubusercontent.com/87246583/192093278-944bb85a-3e18-41e2-bed2-08d30da7beab.png)

[2022-09-24 10:38] HemantAntony commented on #13469
All the videos work for me

[2022-09-24 10:42] oMrSmith commented on #13171
If you like to, you could also check out #13194.
It also effects voltas...

[2022-09-24 10:51] rgreen5 opened #13475 "[MU4 Issue] Offsets (of fingering) not updated by "Save as default style" (in Properties panel)"
**Describe the bug**

If you place a series of fingering on notes, then adjust the offset of one and press "Save as default style", all the fingerings of that class should update—but they don't.

It seems that for offsets, at any rate, the "Save as default style" button is inoperative.

**To Reproduce**

1. Open the attached score.
[style_not_updated.zip](https://github.com/musescore/MuseScore/fil

[2022-09-24 10:59] rgreen5 commented on #13469
Apart from oktophonie's, other screencasts are OK.

[2022-09-24 11:20] rgreen5 opened #13476 "[MU4 Issue] Spin boxes won't accept keyboard input"
**Describe the bug**

If you change the offset of an object, you should be able to reset it by entering a 0 (zero) from the keyboard in the relevant spin box. However the spin box will not accept keyboard input.

**To Reproduce**

1. Open the attached file.
[spin_box_issue.zip](https://github.com/musescore/MuseScore/files/9638566/spin_box_issue.zip)
2. Click on a fingering and click on the "Appear

[2022-09-24 11:33] rgreen5 opened #13477 "[MU4 Issue] "Re-zeroing" an offset does not return the object to its default position"
**Describe the bug**

The same offset reading in Properties > Appearance may accompany two different positions in the score.

**To Reproduce**

1. Open the attached file.
[offset_issue.zip](https://github.com/musescore/MuseScore/files/9638593/offset_issue.zip)
2. Click on a fingering and change the vertical offset, say (drag or use arrows)
3. Open "Appearance" and type 0 (zero) in to the vertical

[2022-09-24 11:47] oktophonie commented on #13477
This is, in effect, the same issue as #13261.

This happens because changing the vertical offset can also cause the Minimum distance to change, but unfortunately that value does not update in its respective field. The offset, even when reset, is then applied in conjunction with an altered minimum distance, which causes the object to appear in a different position than it did by default. (Ctrl+R wi

[2022-09-24 11:47] #13477 closed

[2022-09-24 14:15] thevilord opened #13479 "Unable to entre «A» note"
When I try to entre the note A with my computer keyboard, it sends my cursor on the upper staff at the curent mesure. I've tried as if it was on azerty setting but did not work either.

[2022-09-24 14:24] MarcSabatella commented on #13479
In order to investigate we would need you to attach your score and tell us exactly how to reproduce the problem - which measure of which staff you selected before entering note input mode.

[2022-09-24 16:18] zmelson commented on #11218
Hello, I am new to this project and would like to contribute. Based on my understanding of the architecture, would this issue require updating the UI actions for the relevant shortcuts depending on the UI context? If so, under which modules are these panels located?

[2022-09-24 17:38] oMrSmith opened #13481 "[MU4.x Request] Allow the user to create custom time signatures (and tempo changes) without having to choose from (or add to) the palette"
For the most part, I find the palette system in muse score pretty perfect.

Two exception are: time signatures and tempo changes.

I would love to have a simple dialog
to place custom times signatures into the score right away
without having to add them to the presets first.

For example like in Dorico:

![image](https://user-images.githubusercontent.com/78870770/192111289-1ad8c31c-173e-4943-8661-

[2022-09-24 19:28] thevilord commented on #13479
It only occures on my Macbook. everything is fine on my PC. I'll attach the videeo later on.

[2022-09-24 19:35] MarcSabatella commented on #13479
Note - a video isn't really helpful, although it can't hurt.  Please instead attach the score and steps to reproduce, as requested.

[2022-09-24 21:18] shoogle commented on #11218
@MarcSabatella, correct. If pressing the shortcut results in the panel being opened (or made the selected tab) then the panel should receive keyboard focus.

@zmelson, welcome! You probably won't need to modify the UI action, shortcut, or context. Instead, you need to look for the function that gets called when the corresponding action occurs. Using the Master Palette as an example, [this function

[2022-09-24 21:55] zmelson commented on #11218
Thank you for the clarification and guidance @shoogle, it is very appreciated!

[2022-09-24 23:05] azgilbertdh commented on #13169
The problem is the default out of the box keyboard shortcut to add a dot to a note is the ".", either alpha or numeric, but it creates a decresc wedge instead. When you follow the redefine process to make "." create a dot, it still creates a wedge. So there currently is no keyboad shortcut to make a note dotted. (I did make cntl-8 make a dot, but that's rather inconvenient.)

[2022-09-25 08:21] HemantAntony commented on #13436
@bkunda Currently in the code there is a check if the person is from China, if so another link is used (https://www.bilibili.com/video/BV1FT4y1K7UM). This is likely because Youtube is blocked in China

[2022-09-25 08:37] HemantAntony commented on #13454
@MarcSabatella I made a PR: #13483. I wasn't sure how to test the sticking part, but it should work 😉

[2022-09-25 08:45] HemantAntony commented on #13436
@bkunda Anyhow I have a create a PR #13484

Also, I couldn't test it because neither the new nor old video links open. I tried copying the link of a random youtube video and pasting, but that didn't work. I think Youtube is having a problem

[2022-09-25 10:37] oktophonie opened #13485 "[MU4 Issue] The 'cresc.' and 'dim.' Properties popups each consider and affect items of both types collectively"
**Describe the bug**
_cresc._ and _dim._ lines are sometimes treated as the same type of object, and sometimes as different. This makes certain types of editing difficult.

**To Reproduce**
Steps to reproduce the behaviour:
1. In a score with both _cresc_. and _dim_. lines, right-click one and choose Select > Similar. All instances of both types of line will now be selected.
![image](https://user-

[2022-09-25 12:21] cbjeukendrup commented on #13436
IIRC YouTube is not really blocked in China, but nobody really uses it. For that reason, @Howard-C re-uploaded the video (with Chinese captions "burned in", IIRC) to Bilibili which is the Chinese equivalent to YouTube.

@Howard-C, would you like to do that again for this new video? You should probably work with @Tantacrul and/or @bkunda, because there are certainly more YouTube videos that are lin

[2022-09-25 13:04] sberla365 opened #13486 "[MU4 Issue] Export svg file doesn't work well in score with complex layout"
**Describe the bug**
When exporting to svg the attached file doesn't work correctly, showing parts that are supposed to be hidden and hiding other. Exporting to pdf and png is correct

**To Reproduce**
Steps to reproduce the behavior:
1. Open the attached score
2. Click on 'export' > svg

**Expected behavior**
File is exported as a copy of the score in svg

**Screenshots**
See attached

**Platform

[2022-09-25 13:09] sberla365 commented on #13263
I have noticed the same issue with files entirely made in MU4, as the attached. Sometimes when opening the file, if no interaction with the file is made (no clicks on the score or elements of it, the show/hide buttons are inverted (eye closed shows, eye open hides). It does not happen every time though. A simple click on the score (everywhere, whether an element or the page itself) resets to the c

[2022-09-25 13:17] sberla365 commented on #13263
I took a short screencast of the behaviour
[Screencast from 25-09-22 14:12:48.webm](https://user-images.githubusercontent.com/55401477/192145502-f7fe0904-a640-446e-b818-4cea9e5c55da.webm)

[2022-09-25 13:20] cbjeukendrup commented on #13486
This glitch seems not super scary: in SVG export specifically, there is an optimisation to draw the staff lines in a separate pass. This is to reduce the size and complexity of the generated SVG file, because otherwise the lines would be drawn per measure. Apparently, the optimisation is not smart enough for complex scores like this.
This is issue must have existed in MS3 too, hasn't it?

[2022-09-25 13:36] MarcSabatella commented on #13475
Probably a duplicate of, or at least very related to, https://github.com/musescore/MuseScore/issues/13077

[2022-09-25 13:50] sammik commented on #11740
For rests, it works as expected

https://user-images.githubusercontent.com/1646034/192147014-f58798b2-8348-426a-b180-bacfe0a6f909.mp4

[2022-09-25 13:52] sammik opened #13487 "[MU4 Issue] Making dotted note, or rest invisible doesnt make dot invisible - regression"
**Describe the bug**
When user makes dotted note, or rest invisible, dot reamins vible.

**To Reproduce**
Steps to reproduce the behavior:
1. Select doted note (or rest)
2. Press "v", or untick "Visible"
3. Dot remains visible.

**Expected behavior**
Dot is marked invisible,or visible together with note (or rest)

**Screenshots**

https://user-images.githubusercontent.com/1646034/192146645-cc06869

[2022-09-25 15:57] Tantacrul commented on #13436
@cbjeukendrup agreed

[2022-09-25 18:04] oktophonie commented on #13487
See also #13047 (the issue itself, and the comment https://github.com/musescore/MuseScore/issues/13047#issuecomment-1240531175)

[2022-09-26 02:34] zmelson commented on #11218
Okay, I've been testing some things locally and I've traced the function calls down to [DockPageView::setDockOpen()](https://github.com/musescore/MuseScore/blob/bd3e1bbe78a2a0303767591c0c058b5781b7e22f/src/appshell/view/dockwindow/dockpageview.cpp#L184). I've tried manipulating some of the properties of the DockBase and DockPanelView objects and have been able to change whether the panels open or

[2022-09-26 06:58] vpereverzev opened #13489 "[MU4 Task] Fix build workflow for WinPortable"
In the last run of MU4.0 alpha-2 we were not able to build portable version for some reason. Need to fix this prior to the next one

[2022-09-26 07:00] vpereverzev opened #13490 "[MU4 Task] Include built-in translations"

[2022-09-26 08:20] #12773 closed

[2022-09-26 08:20] #12847 closed

[2022-09-26 09:00] #13436 closed

[2022-09-26 09:36] #13460 closed

[2022-09-26 10:08] alexpavlov96 commented on #12030
@abariska already solved, please check

[2022-09-26 10:10] alexpavlov96 commented on #12035
@abariska it is styled this way, should it be changed still?

[2022-09-26 10:12] alexpavlov96 commented on #11603
@abariska not valid anymore, there is just 1 fret now

[2022-09-26 10:30] bkunda commented on #13464
Thanks for pointing this out @Jojo-Schmitz. Please see updated issue description.

[2022-09-26 10:46] DmitryArefiev commented on #10228
@Tantacrul What about to move this to Beta2 for now? (with P1)

[2022-09-26 10:49] DmitryArefiev commented on #10122
@Tantacrul I moving this to Beta2 since the issue with changing sound and the name in Mixer is fixed now.

And also this issue is similar to #13239

[2022-09-26 10:51] bkunda commented on #12756
I can add to this issue that custom offsets for page numbers are reset to 0 when a file is closed and re-opened.

[2022-09-26 10:57] Jojo-Schmitz commented on #13464
Looks good to me.

[2022-09-26 11:12] #13272 closed

[2022-09-26 11:38] shoogle commented on #10228
@DmitryArefiev, I believe @HemantAntony will submit at least a partial fix for this today or tomorrow.

[2022-09-26 12:13] Tantacrul commented on #10228
I agree that if Hemant's fix doesn't work, this one should be bumped to Post Beta

[2022-09-26 12:14] Tantacrul commented on #10122
@DmitryArefiev - agreed. Moving now.

[2022-09-26 12:27] bkunda opened #13493 "[MU4 Issue] Grip handles are incorrectly positioned for tempo change lines"
**Describe the bug**
When entering a tempo change line (E.g. "rall.", "rit.", "accel.", "allarg.") _on a single note_ the grip handles either appear to extend outwards behind the text element, or they appear collapsed into one single grip handle. Attempting to move these handles results in laggy performance.

<img width="861" alt="Screenshot 2022-09-26 at 2 26 24 pm" src="https://user-images.githu

[2022-09-26 13:48] MarcSabatella commented on #12756
Actually, unless something has changed since MU3, it's not meant to be possible to directly modify any properties of page numbers at all, since page numbers aren't saved with the score - they are generated on the fly during layout.  I can see that the MU4 inspector shows you properties, but unless there was also code added to handle how the modified page number would be saved, it's not surprising

[2022-09-26 14:36] shoogle opened #13498 "[MU4 Issue] Save to Cloud fails silently with unactivated account"
**Describe the bug**
Using File > Save to Cloud with a not-yet-activated MuseScore account fails without giving any indication that it has failed.

By unactivated/not-yet-activated, I mean that the user has not yet clicked the "Activate your account" link in the confirmation email send during the account creation process.

**To Reproduce**
Steps to reproduce the behavior:
1. Home tab > My Account

[2022-09-26 15:43] DmitryArefiev commented on #11956
Tested in **latest master** on Win10, **Mac12**, LinuxMint 20.2 - **FIXED**

[2022-09-26 16:15] DmitryArefiev opened #13499 "[MU4 Issue] Echo effect when enter Chord input mode quickly"
**To Reproduce**
1. Add Flute
2. Add some notes
3. Click a note and trigger chord input mode quickly (Ctr+K)

https://user-images.githubusercontent.com/90187801/192327949-1eb8f1a5-6d40-4018-94db-473f0855b3ce.mp4

**Platform information**
Windows10

**Additional context**
Can be related to #13206

[2022-09-26 16:24] cbjeukendrup commented on #11956
The problem comes back when you go to Preferences > Shortcuts and (re-)assign <kbd>Shift</kbd> + <kbd>,</kbd> to the Crescendo action. Remarkably, when assigning the shortcut, it will be recorded as <kbd>&lt;</kbd>, instead of <kbd>Shift</kbd> + <kbd>,</kbd>, and thus doesn't work.

[2022-09-26 16:33] oktophonie opened #13500 "[MU4 Issue] Resetting some types of text lines sets line thickness to 0"
**Describe the bug**
Some text lines, when reset (Ctrl+R, or Format > Reset shapes and positions), have their thickness set to 0. As well as making them invisibly thin, this also messes up the dash/gap size (which relates to the line thickness).

**To Reproduce**
Steps to reproduce the behaviour:
1. Create some text lines (palm mute, let ring, gradual tempo change all seem affected; ottavas seem i

[2022-09-26 17:09] #12646 closed

[2022-09-26 18:59] sammik commented on #13239
May be different issue, but I think, it is related to this one:

If parts are not closed, and instrument is removed, part shouldnt be removed, but should became empty, see [comment](https://github.com/musescore/MuseScore/issues/10478#issuecomment-1036282928)

Now, part is not empty, contains unexisting /removed/ instrument

https://user-images.githubusercontent.com/1646034/192358171-5893579d-804f-

[2022-09-26 20:52] cbjeukendrup commented on #13411
@bkunda Do you agree with this change?

[2022-09-26 21:09] zmelson commented on #11218
Never mind on the previous question, I ended up going one step deeper and found the property [isCurrentTab()](https://github.com/musescore/MuseScore/blob/294b8d8788e7859cce206bd6a219115ae7c5f785/thirdparty/KDDockWidgets/src/DockWidgetBase.h#L259) and the function [setAsCurrentTab()](https://github.com/musescore/MuseScore/blob/294b8d8788e7859cce206bd6a219115ae7c5f785/thirdparty/KDDockWidgets/src/Do

[2022-09-27 07:56] #11516 closed

[2022-09-27 08:10] bkunda commented on #13411
Yes this makes sense, as the line is actually there to indicate a barré, not the placement of a capo device.
Although technically it should be "barré" (if the accent is possible).

[2022-09-27 09:16] rgreen5 opened #13501 "[MU4 Issue] Panel "submenus" close when the program loses focus."
**Describe the bug**
If you open a "submenu" in the properties panal, General > Playback say, then switch to another program, when you switch back to MuseScore the menu has closed. Particularly galling if you have to click twicee to reopen a tab in the submenu.

**Expected behavior**

Panel submenus should stay open even if you change focus to another program and back again.

**Platform informatio

[2022-09-27 09:32] HemantAntony commented on #10228
@shoogle Check #13502

[2022-09-27 09:34] rgreen5 commented on #13476
This problem affects spin boxes of _all_ properties. For example:

1. Click on a notehead.
2. Open Properties > General > "Playback".
3. Click in the "Velocity" spin box.
RESULT: Box accepts keyboard input, deleting, highlighting, editing etc.
4. Now, with the same tab open click on another note
5. Try to repeat step 3.
RESULT: Cursor won't appear in spin box and no keyboard input is accepted.

[2022-09-27 09:48] rgreen5 opened #13503 "[MU4 Issue] Dynamic velocity and velocity change aren't working"
**Describe the bug**

No matter what the setting of "Velocity" or "Velocity change" in Properties > General > Playback > Dynamics, there is no perceived difference in loudness in the score.

**To Reproduce**

1. Open attached score example.
[dynamics_issue.zip](https://github.com/musescore/MuseScore/files/9654228/dynamics_issue.zip)
2. Click on the sfz marking.
3. Change velocity settings in Prope

[2022-09-27 09:51] abariska commented on #13031
🟢 **FIXED**
Tested on macOS 12, Win 11, Ubuntu 20

[2022-09-27 09:52] abariska commented on #13028
🟢 **FIXED**
Tested on macOS 12, Win 11, Ubuntu 20

[2022-09-27 09:52] abariska commented on #11480
🟢 **FIXED**
Tested on macOS 12, Win 11, Ubuntu 20

[2022-09-27 09:53] rgreen5 opened #13504 "[MU4 Issue] Reset buttons not working for Dynamics velocity and velocity change"
**Describe the bug**
If you press the reset buttons for velocity and velocity change of dynamics (Properties > General > Playback > Dynamics), you get an unexpected result (-1). You would expect it always to reset the value to the default.

Try it on the dynamics in the attached example score.
[dynamics_issue.zip](https://github.com/musescore/MuseScore/files/9654280/dynamics_issue.zip)

**Expected

[2022-09-27 09:58] DmitryArefiev commented on #12847
Tested in **latest master** on Win10, Mac12 - **FIXED**

[2022-09-27 10:00] #11480 closed

[2022-09-27 10:00] #13031 closed

[2022-09-27 10:49] DmitryArefiev opened #13505 "[MU4 Issue] Virtual piano keyboard: Key color should change from light blue to blue when midi signal is received from external keyboard"
**Describe the bug**
This is a part from #12646

There is a difference in behavior between MS3 and MU4 when using Piano keyboard.
When you press a key on MIDI keyboard (or clicking with mouse on virtual Piano keyboard), the color should **change from light blue to blue**
When you release a key on MIDI keyboard, the color should change **from blue to light blue**

MuseScore4

https://user-images.gi

[2022-09-27 10:51] DmitryArefiev commented on #12646
Fixed in #13494 (all except 3rd item)

#13505 logged for item №3

[2022-09-27 10:56] DmitryArefiev commented on #13505
Can be moved to 4.x.x

[2022-09-27 11:12] Tantacrul commented on #9757
Thanks @DmitryArefiev

[2022-09-27 11:37] abariska commented on #12035
@alexpavlov96 yep, lets show these elements for both notation types. First, to be consistent with xtz and current native MU behavior

[2022-09-27 13:00] HemantAntony commented on #13464
@bkunda made a PR #13506

[2022-09-27 13:14] abariska commented on #12030
🟢 **FIXED** in scope of xtz fixes

[2022-09-27 13:14] #12030 closed

[2022-09-27 13:19] abariska commented on #11603
Will be valid for guitar release. Moved to MU4.x

[2022-09-27 13:26] abariska commented on #11925
To be fixed after https://github.com/musescore/MuseScore/issues/12624

[2022-09-27 13:26] #11925 closed

[2022-09-27 13:28] abariska commented on #11924
To be fixed after https://github.com/musescore/MuseScore/issues/12624

[2022-09-27 13:28] #11924 closed

[2022-09-27 14:29] Pistos opened #13509 "Shortcuts for Subscript and Superscript"
We have Ctrl-B and Ctrl-I for bold and italics. That's good.
Please also add shortcuts for subscript and superscript of selected text.
I do this often on lyric text, and it's inconvenient to have to use the mouse on the toolbar at the bottom (subscript button) every time.

Originally reported in https://musescore.org/en/node/335417

[2022-09-27 14:46] s1m0n-github commented on #12230
I've stumbled across an issue related to this when testing, but as demonstrated here the full score playback works when selecting the note/break instead of the whole measure. Is this by design or is it an issue with the selective playback? I find it quite disturbing to always have to aim for a small note/break when I want to play my score back from somewhere

[2022-09-27 14:56] s1m0n-github commented on #11218
Only slightly related, but #11242 [link](https://github.com/musescore/MuseScore/issues/11242) got no recognition, but it's still open. Issue is that the panels won't remember their position when activating/deactivating dynamically, which is also pretty bad for the workflow :sweat_smile:

Thought I'd mention it under this topic

[2022-09-27 16:12] Tantacrul commented on #11242
Nice catch. Thanks!

[2022-09-27 21:07] Simonlp95 opened #13513 "[MU4 Issue] Playback for certain parts stop working within a certain amount of time of working."
**Describe the bug**
Once a score is sufficiently complex I encounter an issue with playback. More accurately: Playback works fine until i start tinkering with notes. Sometimes newly edited notes become mute. Also sometimes entire staves/bars become mute, even when they played fine earlier. It seems like at memory issue, but I'm not sure. To be clear: This is inconsistent and it's only part of the

[2022-09-28 00:03] azgilbertdh opened #13514 "Score playback stops working with midi input device selected"
**Describe the bug**
When a midi input device is connected, scores do not play back. The playback cursor sits at the beginning of the score and wiggles back and forth. With same score open, just changing the input device to midi makes the playback stop working. Changing it to no device makes it playback again.

**To Reproduce**
Steps to reproduce the behavior:
1. Connect a midi device for input an

[2022-09-28 09:23] #12035 closed

[2022-09-28 09:41] abariska commented on #12125
🟢 **FIXED**

[2022-09-28 09:43] #12125 closed

[2022-09-28 10:02] abariska commented on #8601
🟢 **FIXED**

[2022-09-28 10:05] #8601 closed

[2022-09-28 13:54] bkunda commented on #12756
You're right @MarcSabatella. Indeed, page numbers in MS4 should _not_ be modifiable from the properties panel at all.
In terms of our release timeline, we are unfortunately well past the point of implementing an elegant solution to this now (i.e. making the properties panel show something sensible when a page number is selected), so I think the most straightforward solution in the immediate-short

[2022-09-28 14:20] sberla365 opened #13519 "[MU4] Triplets are not moved from one layer to another"
When moving music from one layer to another, triplets are not moved

Select a passage with music on two different layers containing triplets of some sort. Click the desired destination layer button. Everything is moved except triplets.

Expected behaviour: everything is moved to the destination layer.

I am on Linux - Fedora 36

[2022-09-28 14:28] Jojo-Schmitz commented on #13519
You mean voice, not layer, don't you?
Same issue with MuseScore 3 and MuseScore 2 too (MuseScore 1 didn't allow this at all, so doesn't have that issue).
So not a regression.

[2022-09-28 14:29] Jojo-Schmitz commented on #13519
See also https://musescore.org/en/node/72706

[2022-09-28 14:38] abariska opened #13520 "[MU4 Issue][GP] Crash when opening the tab "Fields of Gold' by Sting in --gp-linked mode"
**To Reproduce**
Steps to reproduce the behavior:
1. Open MU4 under the `--gp-linked` command
2. Open the tab

**Expected behavior**
Tab is opened with all staves have linked staves

**Screenshots**

https://user-images.githubusercontent.com/101250347/192806384-b69c82e4-6e1e-4ee6-b922-8481c86b6ec4.mp4

[2022-09-28 14:42] DmitryArefiev commented on #12230
@s1m0n-github Yes, it's by design in MuseScore 4

[2022-09-28 15:13] MarcSabatella commented on #12756
Agreed.  For most of MuseScore's existence, page numbers were not selectable, and there's nothing at all you can do with them once selected (at least in MuseScore 3), so no great loss.  I believe the only reason they end up being selectable at all is that code was added for one of the relatively recent 3.x releases to allow you to double-click the page number (or anything else in the header) to ju

[2022-09-28 15:31] #12814 closed

[2022-09-28 17:00] s1m0n-github commented on #12230
Thanks, I'll have to get used to that.

[2022-09-28 18:24] DmitryArefiev commented on #12230
Yes that's new to MuseScore4, but it also gives a good ability to listen instrument lines separately

[2022-09-29 00:31] cbjeukendrup opened #13524 "[MU4 Issue] Inspector > Note > Stem: enabledness of "Flag offset" doesn't update always correctly"
**Describe the bug**
The idea is: when the selected note has such a duration that it has a flag, the flag-related settings in Inspector > Note > Stem become enabled, otherwise they are disabled.

But when you change the duration of a note in such way that the note will gain or loose its flag while the inspector is open, the enabled-ness is not updated.

Also, when you first select an eighth note,

[2022-09-29 00:42] cbjeukendrup opened #13525 "[MU4 Issue] Edge case with "Follow system theme" when changing system theme while Preferences dialog is open and you then click Cancel"
**To Reproduce**
Steps to reproduce the behavior:
(requires that "Follow system theme" is enabled)
1. Open Preferences (no need to actually change anything)
2. Change system theme. In this example we assume that you change from light to dark mode. MuseScore should switch to the dark theme as well, as expected.
3. Click "Cancel" to close the dialog
4. MuseScore unexpectedly switches back to light t

[2022-09-29 09:18] #13520 closed

[2022-09-29 11:04] abariska commented on #11840
@oktophonie  To me looks like there's not enough space between staves when adding let ring. Could you please confirm that behavior on the last video is expected as a default style?

[2022-09-29 11:08] DmitryArefiev commented on #11932
Fixed in #13495

[2022-09-29 11:20] DmitryArefiev commented on #13343
It looks the same as #11932
Fixed in #13495 (should be in master soon)

Please reopen if still occurs.

[2022-09-29 11:20] #13343 closed

[2022-09-29 11:22] bkunda opened #13532 "[MU4 Issue] Unwanted "tap/click" noise at certain dynamic levels in MuseSounds grand piano"
**Describe the bug**
There is a noisy artefact that resembles a "tapping" or very subtle "clicking" sound in the MuseSounds grand piano instrument. This can be heard at moderate dynamic levels (when _mp_ or _mf_ dynamic markings are applied).

Demo video with narration: https://www.dropbox.com/s/dq8ygvfgdv6zpre/beta-audio-tapsound-softpiano-1.mov?dl=0
Demo video where the unwanted sound is heard a

[2022-09-29 11:33] oktophonie commented on #11840
Yes, it is.
If you really want more space, increase Style... > Score > Min. vertical distance (under 'Autoplace') (when importing a score; do not change the default value).

[2022-09-29 11:35] igorkorsukov commented on #13489
https://github.com/musescore/MuseScore/pull/13529

[2022-09-29 11:36] DmitryArefiev opened #13534 "[MU4 Issue] Dynamic changes are not respected when changing playback position"
https://user-images.githubusercontent.com/90187801/193020461-8f10ab0f-3e8b-42cb-88da-7723d97f3047.mp4

**To Reproduce**
1. Open [violin3.zip](https://github.com/musescore/MuseScore/files/9674201/violin3.zip)
2. Start playback from PPP
3. Stop playback before FFF
4. Move playback position after FFF
5. Start playback - **it sounds PPP**

**Platform information**
macOS, Windows, Linux

**Additional c

[2022-09-29 11:39] bkunda opened #13535 "[MU4 Issue] Page numbers should not be selectable"
**Describe the bug**
Page numbers are currently selectable, exposing a range of settings in the Properties panel that don't actually get saved to the score (changing these settings has a visible effect on the selected page numbers initially, but all changes are then lost when the score is closed and reopened again).

See this discussion in [#12756](https://github.com/musescore/MuseScore/issues/127

[2022-09-29 11:43] DmitryArefiev commented on #13441
Looks similar to #13534. Should be rechecked after fixing #13534

Thanks for logging

[2022-09-29 12:20] DmitryArefiev commented on #13503
Looks the same as #10990

[2022-09-29 12:27] abariska commented on #11840
🟢 **Not Actual** See comments above

[2022-09-29 12:27] #11840 closed

[2022-09-29 13:11] DmitryArefiev commented on #13403
Thanks for logging!

[2022-09-29 13:11] DmitryArefiev commented on #13403
https://user-images.githubusercontent.com/90187801/193040336-66ec51d1-dd1f-4f78-ae96-237573397c51.mp4

[2022-09-29 13:11] #11932 closed

[2022-09-29 13:25] DmitryArefiev commented on #13456
Fixed in #13473

[2022-09-29 13:26] #13398 closed

[2022-09-29 13:59] DmitryArefiev commented on #9968
Fixed in #13528

[2022-09-29 15:13] DmitryArefiev commented on #10433
@oktophonie @Tantacrul Maybe we can close it now or move to Beta2 since it's Linux only and not often reproduced?

[2022-09-29 15:29] DmitryArefiev opened #13539 "[MU4 Issue] Some popup dialogs are not centered"
![Screenshot 2022-09-29 at 18 22 53](https://user-images.githubusercontent.com/90187801/193073905-2f3b932b-bb87-4492-a7a1-408a8463c6a8.png)

![Capture](https://user-images.githubusercontent.com/90187801/193074034-82d72e7e-6642-4783-9add-980427ae24c2.PNG)

**Platform information**
 macOS, Windows, Linux

**Additional context**
Recent changes

[2022-09-29 17:20] HemantAntony commented on #13535
@bkunda Here ya go: #13540

[2022-09-29 18:55] lyrra commented on #10433
PR exist that works around the issue: https://github.com/musescore/MuseScore/pull/8956

[2022-09-29 19:42] lyrra commented on #13532
In the first video, at 0:48, you are compensating over a bug, the play wont start from a note clicked at, if it already is selected.

[2022-09-29 19:48] cbjeukendrup commented on #13532
(But that bug is fortunately already fixed in a currently open PR)

[2022-09-29 22:04] cbjeukendrup commented on #11699
@schoettl This issue was actually not really fixed, was it?

Anyway, I've a second attempt here: #13542
Would be nice if you could check it out!

[2022-09-29 22:18] abariska commented on #13184
🟢 **FIXED**
Tested on macOS 12, Win 11, Ubuntu 20

[2022-09-30 00:11] MarcSabatella opened #13543 "[MU4 Issue] fp dynamic plays as f (no drop to p)"
**Describe the bug**
The "fp" dynamic (and similar) does not play correctly - you get the "f" but not the change to "p" after.

**To Reproduce**
Steps to reproduce the behavior:
1. Score for trumpet
2. Add a whole note
3. Add an "fp" dynamic to it
4. Play
5. Hear error: volume is "f" throughout

**Expected behavior**
A clear and concise description of what you expected to happen.

**Screenshots**

[2022-09-30 00:19] MarcSabatella commented on #12770
FWIW, this is the sound used in my MuseScore Cafe theme music, would be nice to have this working before I try demoing playback.

[2022-09-30 00:28] MarcSabatella opened #13544 "[MU4 Issue] Guitar bends do not play back"
**Describe the bug**
Guitar bends do not play back

**To Reproduce**
Steps to reproduce the behavior:
1. Score for electric guitar
2. Add a whole note
3. Add a full bend from the Guitar palette
4. Play
5. Hear error: no bend

**Expected behavior**
Pitch should bend up a whole step

**Screenshots**
![image](https://user-images.githubusercontent.com/1799936/193165368-472b5096-2cbb-49ee-900a-05d7e1dd

[2022-09-30 00:55] MarcSabatella commented on #13344
I see a similar effect - I'm guessing the same thing - editing tempo markings, and that's a more critical problem I think, because editing tempo is incredibly common.  In particular:

1) Alt+Shift+T to add a tempo marking
2) Ctrl+A to select the default "(quarter) = 80"
3) type something like "tempo primo"

Same issue: the font seems random (presumably as a result of the special character at the b

[2022-09-30 04:10] 5yM01 commented on #8964
Hi, I started working on this issue by reading through the documentation but I'm still a little confused on where in the code to go to in order to

1. Check that the user is on the score page - UiContext perhaps?
2. Check that no score is open on the score page
3. Disable toggling of the properties if 1 and 2 are true - ScoreDisplaySettings maybe?

[2022-09-30 06:29] #13184 closed

[2022-09-30 07:41] #9968 closed

[2022-09-30 08:41] DmitryArefiev commented on #12644
Fixed in #13458 (dependency chord dynamics from note dynamics)

[2022-09-30 08:42] sberla365 opened #13547 "[MU4] Grace note is not is not played correctly"
Hi, I am writing for piano and when adding a 32nd grace note to a 1/4 note, MU plays back as two 1/8 notes starting on the downbeat. Also the grace note is not slashed

I attach a screencast of the issue.

Also, the trill is not performed, should I open a new issue for that?

[Kooha-2022-09-30-10-40-06.webm](https://user-images.githubusercontent.com/55401477/193230198-c7b414f4-de00-4ba9-a355-f6096

[2022-09-30 08:53] DmitryArefiev commented on #9968
@exegetor Should be fine in the next master build

(looks good on my environment)

[2022-09-30 09:15] oktophonie commented on #10433
@DmitryArefiev fine by me!

[2022-09-30 09:15] #13489 closed

[2022-09-30 09:23] vpereverzev commented on #10433
@Tantacrul @oktophonie @DmitryArefiev
in the latest master the crash shouldn't appear anymore. However, you'll not get any sound, since we still can't open the audio-driver to work with this sound-card, requires separate investigation.

[2022-09-30 09:48] #12535 closed

[2022-09-30 09:48] #12702 closed

[2022-09-30 09:48] #12823 closed

[2022-09-30 11:11] rgreen5 opened #13549 "[MU4 Issue] For Dim. hairpins "Height: new system" works the wrong way round"
**Describe the bug**

When a diminuendo hairpin extends to a new system the "Height: new system" is applied in error to the end of the first hairpin. The start of the hairpin on the following system does not change.

**To Reproduce**

1. Open the attached score.
[extend_dim_hairpin.zip](https://github.com/musescore/MuseScore/files/9683580/extend_dim_hairpin.zip)
2. Select the dim. hairpin and incr

[2022-09-30 11:11] abariska commented on #12598
🟢 **FIXED**
Tested on macOS 12, Win 11, Ubuntu 20

[2022-09-30 11:23] #12598 closed

[2022-09-30 12:00] rgreen5 opened #13550 "[MU4 Issue] Hairpins: ""Velocity change" not working as expected"
**Describe the bug**

Note velocity does not change over the range of a hairpin as much as expected even with a soft dynamic at the beginning, and a high "Velocity range setting" for the hairpin.

Compare playback of MS4 with, say, playback of the same MIDI file through another sequencer.

**To Reproduce**

1. Open the attached file.
[hairpin_velocity_change.zip](https://github.com/musescore/MuseS

[2022-09-30 12:02] cbjeukendrup commented on #8964
@5yM01 Hi! To check if a score is currently opened, you can check if `context()->currentNotation()` is not nullptr. That's all you need to do. To subscribe for changes, use `context()->currentNotationChanged().onNotify(...`.

In these examples, `context()` is will return the instance of `IGlobalContext`. To get access to this method, you need to "inject" it:

[code]
For lines marked with `// *`: o

[2022-09-30 12:11] rgreen5 opened #13551 "Allow to disable reverb"
It would be useful to have the option to disable reverb.

One use case is adding your own custom reverb instead.

Another use case is testing: the reverb setting can make it difficult to hear underlying playback problems.

[2022-09-30 12:41] abariska commented on #12972
Only main case was fixed and merged but bugs in the last two comments were not

[2022-09-30 13:07] MarcSabatella commented on #13547
This is currently by design.  Grace notes *without* slashes are *appoggiaturas*, and played using the Baroque/Classical interpretation of always taking half the main note value (2/3 for dotted notes).  What you want is an *acciaccatura* - those are the ones with the slash.  You can then customize the appearance of the note - changing it to 32nd, hiding the slash.

Someday it's definitely hoped to

[2022-09-30 13:11] DmitryArefiev commented on #13547
Closing by design.

[2022-09-30 13:14] DmitryArefiev commented on #10433
Let's close this one and reopen if will happen again

[2022-09-30 13:15] #10433 closed

[2022-09-30 13:21] DmitryArefiev commented on #13547
@sberla365 Yes, you can easily use this workaround:

https://user-images.githubusercontent.com/90187801/193278662-a4e33d6d-3fd1-4314-9221-392134770b69.mp4

@MarcSabatella Thanks for advice!

[2022-09-30 13:47] #10228 closed

[2022-09-30 13:49] Eism commented on #12552
@Tantacrul FYI

[2022-09-30 14:15] DmitryArefiev commented on #13366
Fixed in #13538

[2022-09-30 14:29] #13366 closed

[2022-09-30 14:48] shoogle commented on #13498
It looks like we need to implement dialogs for these possible errors on **saving a new cloud score**:

Code | Description
:---:|:---
400	| Invalid request.
403 | Forbidden. *User's account is not activated.*
422	| Validation is failed.
500	| Internal server error.

When **updating an existing cloud score**, all the same errors can occur but the meaning of 403 is changed:

Code | Description
:---:|

[2022-09-30 14:49] igorkorsukov commented on #13490
https://github.com/musescore/MuseScore/pull/13553

[2022-09-30 15:05] Tantacrul commented on #12552
@abariska - what's the use case for outputting MIDI to an external device?

Do you think this could be in post beta? I'm curious what you think because it's not something I really have experience with.

[2022-09-30 16:02] sberla365 commented on #13547
Great, thanks!

[2022-09-30 16:23] shoogle commented on #13476
I can't reproduce this on macOS. I'm running macOS 11.6.8 Big Sur on a MacBook Pro 2015 (Intel).

[2022-09-30 17:51] RmGkAppDev opened #13556 "[MU4 Issue] A bug with background image and horizontal view"
**The Bug**
When you choose a background image and move the page to the left, you can see a part of the image inside the paper, as seen in the Screenshot below.

**To Reproduce**
In order to reproduce the behavior:
1. Go to Edit -> Preferences -> Appearance
2. Choose a wallpaper under Background
3. When done, change the view to Continous view and scroll to the left
4. Then, behind the grayed clef,

[2022-09-30 18:44] sberla365 opened #13559 "[MU4] No shortcuts for Symbols, Time and Key Signature pages of Master Palette"
The shortcuts for the Symbols, Time and Key Signature pages of Master Palette are not set in MU4, nor there is a specific voice to set them in preferences. In MU3 Z opens Symbol, Shift T opens Time Signature and Shift K opens the Key Signature page in Master Palette.

[2022-09-30 19:13] #13490 closed

[2022-09-30 19:16] #13556 closed

[2022-09-30 20:00] rgreen5 opened #13560 "[MU4 Issue] Bad rendition of slurs"
**Describe the bug**

This was partially fixed in #13402. But in the attached score you can see two more examples of bad slur rendition in measures 7 and 8.

![image](https://user-images.githubusercontent.com/20604032/193448171-7903bf77-0c48-45b3-8fd7-9b18156a19a4.png)

[slur_placement.zip](https://github.com/musescore/MuseScore/files/9687307/slur_placement.zip)

**Expected behavior**

The flipped

[2022-09-30 22:50] MarcSabatella opened #13561 "[MU4 Issue] Tooltip remains on screen permanently upon upon menu"
**Describe the bug**
If a tooltip appears in the process of opening a menu, if gets frozen on screen (even if you switch apps, for me).

**To Reproduce**
This is a little tricky to describe, but reproducible for me.
Steps to reproduce the behavior:
1. Open a palette towards the bottom of the window
2. Open Edit window
3. Click "Preferences"
4. Leave your mouse where it is as the dialog prepares to

[2022-09-30 23:01] 5yM01 commented on #8964
@cbjeukendrup Thank you for the advice! I understand it a lot better now.

[2022-09-30 23:39] zmelson commented on #11218
Just to confirm, should the behavior of the shortcut commands and drop-down menu be different? That is, should the drop-down always close the panel if it is open, regardless of whether the panel is selected or not?

And if so, would that require the shortcut to trigger a different command than the drop-down (or at least have the relevant functions track whether a shortcut triggered them or not)?

[2022-09-30 23:58] cbjeukendrup commented on #11015
I looked a bit at the code and experimented accordingly, and found that this problem with the interaction between various kinds of items is a bit bigger. To give some examples:
- (for me, the issue with grace notes vs trills manifests the other way around: trill wins)
- various items are stopping glissandi from working. None of the following glissandos are working:
    <img width="630" alt="Scherm

[2022-10-01 10:25] sberla365 commented on #13561
It was difficult to achieve but eventually I succeeded to reproduce it on Fedora 36 with Gnome.

[2022-10-01 10:48] rgreen5 opened #13562 "[MU4 Issue] Change "Style" to "Line style" in Properties panel (for text-line, hairpin etc)"
**Describe the bug**

For all kinds of lines there is a "Style" tab in the properties toolbar. There is often a property in this tab called "Style" which allows a selection of line styles. e.g.

![hairpin_properties](https://user-images.githubusercontent.com/87246583/193405860-4ff032a3-0564-44a7-958e-fa56316f6e76.png)

However, IMV, "Style" should be relabelled "Line style", wherever it occurs in

[2022-10-01 12:02] oMrSmith commented on #13152
I found something out:
It seems like the program only crashes when you hit CTRL
*bevor* you begin to drag the grip with the mouse.

[2022-10-01 12:53] cbjeukendrup commented on #13152
@oMrSmith Thanks! That's in line with the finding that Ctrl + hitting the element "through" the grip causes the element to be unexpectedly deselected.

Anyway, fortunately a fix is already pending: #13302

[2022-10-01 15:28] oMrSmith commented on #13152
Ah, nice, I'm looking forward to it!

[2022-10-01 16:43] cbjeukendrup commented on #13549
Actually I think this is working as desired. "Height" always controls the height of the 'open' end, "Height (new system)" always controls the height of the 'closed' end when continuing to a new system.
<img width="695" alt="Scherm­afbeelding 2022-10-01 om 18 37 37" src="https://user-images.githubusercontent.com/48658420/193419457-41bb0ea1-2ff8-49dd-a04a-324414d9794a.png">
@oktophonie Do you agree?

[2022-10-01 17:10] cbjeukendrup opened #13566 "[MU4 Issue] Preferences > Appearance > High Contrast > UI Colours > Disabled text non-functional"
**To Reproduce**
Steps to reproduce the behavior:
1. Go to Preferences > Appearance
2. Enable high contrast
3. In the UI Colors section, try to modify the "Disabled text" color. Nothing happens. This has simply not been implemented.

[2022-10-01 17:16] MarcSabatella opened #13567 "[MU4 Issue] Sound/channel changes not imported correctly from MuseScore 3"
**Describe the bug**
Scores from MuseScore 3 that use any of the various subchannels (arco/pizz for strings, mute/open for trumpet, distortion/palm mute/harmonics/etc for guitar) are not playing back correctly - all sounds are normal

**To Reproduce**
Steps to reproduce the behavior:
1. Open a MuseScore 3 score that uses any of the various provided subchannels (see attached, for instance) for soun

[2022-10-01 17:42] cbjeukendrup commented on #10894
@Tantacrul I have a proposed fix in #13568, would be great if you could try if that's the desired behaviour!

[2022-10-01 17:58] ModernMozart opened #13569 "[MU4 Issue] Tuplets in a staff negate tuplet signs in lower staves"
**Describe the bug**

A tuplet in one staff cancels out tuplet markings in lower staves that occur at the same time, but only when one note fills the entire tuplet in the lower staff.

**To Reproduce**
Steps to reproduce the behavior:

1. create a tuplet in one staff
2. In a lower staff, create a tuplet in the same beat where one note fills the entire tuplet, e.g. a dotted quarter in a triplet of

[2022-10-01 18:47] #12770 closed

[2022-10-01 18:58] RmGkAppDev commented on #10597
I wish the title bar would have been custom-made - like the one on the main window where you don't have this screaming bright line that is burning my eyes every time I look at it. (By the way -  Microsoft made a terrible design choice by making the title bar white)

[2022-10-01 19:13] oMrSmith opened #13570 "[MU4 Request] Macro to "Past as Cue notes""
It takes a lot of steps to create cue notes in muse score,
the most annoying one, I find, is that you have to
unhide the cue notes in the individual parts,
after hiding them in the score.

It would be extremely helpful to get a tool or macro to
"Past as Cue notes".

At least a command to "Show in parts only" would be super helpful.

[2022-10-01 19:15] cbjeukendrup commented on #10597
I wish it _could_ have been custom made! Unless I'm completely missing something, it is so terribly difficult to simply change the color of the window title bar on Windows. I have spent hours in my life just googling how to change the title bar color, but it seems simply not doable in a way that works together with the things that we use (c++, Qt) (without doing crazily complicated stuff that is n

[2022-10-01 19:33] RmGkAppDev commented on #10597
Maybe this will help:
https://stackoverflow.com/questions/30181630/qdialog-remove-title-bar
It's not much, but if you can hide the title bar (at least in a dialog), you might be able to add your own custom draggable bar with a header and an X button.
I've done this a few times before - but only in WPF and Electron, never in Qt (never programmed in Qt...)
It took me a bit of effort, and I believe i

[2022-10-01 19:39] shoogle opened #13571 "[MU4 Issue] Save to cloud makes private scores public"
**Describe the bug**
MuseScore forgets the visibility setting (public or private) of cloud scores when the score is closed and reopened. A score that was last saved as private will become public on the next save.

**To Reproduce**
Steps to reproduce the behavior:
1. Create a new score.
2. File > Save > Save to cloud.
3. Choose "private" and complete the flow to get it online.
    - Confirm it is p

[2022-10-01 19:41] shoogle commented on #13571
Related to #13462

[2022-10-01 19:42] shoogle commented on #13462
Related to #13571

[2022-10-01 20:22] cbjeukendrup commented on #12328
@lyrra This comment here: https://github.com/musescore/MuseScore/issues/10433#issuecomment-1263330016 suggests that this issue might have been resolved too. Could you re-check?

[2022-10-01 20:30] Tantacrul commented on #10597
Yeah, I'd opt in future for us completely replacing the popup so we can use our own custom header (a bit like we do with the main title bar).

[2022-10-01 20:39] lyrra commented on #12328
Yes, no more crashes! Thanks!

[2022-10-01 20:39] #12328 closed

[2022-10-01 21:05] oMrSmith opened #13572 "[MU4 Issue] Changing Notes to Cue Size in the score does not apply for individual parts, that are already opened"
This forces you to switch to part view
in order to
setup cue notes properly.

[2022-10-01 21:41] cbjeukendrup opened #13573 "[MU4 Issue] [macOS] Uncaught exception when closing MuseScore"
**Describe the bug**
When closing MuseScore, the last line that I see in the Qt Creator output window is:
[code]

macOS doesn't show a "MuseScore quit unexpectedly" dialog though, and the crash happens when pretty much everything is already de-initialised, so the severity is probably low.

When you add a breakpoint for "exception thrown", you can see the stack trace. The problematic `std::lock_gua

[2022-10-01 23:21] MarcSabatella commented on #13572
This is currently by design.  Most layout-related properties are not linked because it can often be necessary to be able to control them independently, and if they were linked, this would become impossible,  Eventually it would be good to have a way to default to linked but then still break the link when required.  That's a very long-standing request.  Anyhow, for now, we have to live with some pr

[2022-10-02 00:18] iwoithe commented on #9476
I noticed that this issue also occurs for articulations. Is this something you want fixed as well?

[2022-10-02 01:13] cbjeukendrup opened #13576 "[MU4 Issue] Playback: tremolos, glissandos, grace notes are not scaled according to tuplet or local time sig"
**Describe the bug**
The duration of NoteEvents that are generated by tremolos, glissandos, grace notes and possibly various ornaments is not adjusted according to tuplets or local time signatures. The durations of those generated notes are based on "normal" ticks, like if there were no tuplets (nor local time sigs). But of course, a quarter note under a tuplet has a different duration than a quar

[2022-10-02 01:17] cbjeukendrup commented on #13369
@bkunda I have a potential fix (still needs to be code-reviewed) for the first issue: #13575.

The triplet issue turns out to be a more general problem, so I logged a separate issue for it in #13576.
(What's actually going on there, is that the durations of the tremolo notes are not taking into account the fact that they are in a tuplet; so they behave like they stem from a normal eighth note. Tha

[2022-10-02 01:36] iwoithe commented on #9476
If happy, I can work on the other elements once the accidentals PR is done.

[2022-10-02 03:27] dragonwithafez opened #13577 "[MU4 Issue] Playback: Notes entered into a part score do not play"
**Describe the bug**
Entering notes into a part score causes them to not play back unless the score is reloaded, or the Play property of the notes is un-toggled then re-toggled in the main score. Additionally, the Play property is completely absent when working on part scores.

**To Reproduce**
Steps to reproduce the behavior:
1. Create a new score
2. Create a part score for one of the instruments

[2022-10-02 04:25] MarcSabatella commented on #13569
I feel this could be related to https://musescore.org/en/node/334771, which was missing steps to reproduce, but I can confirm I've seen similar.

[2022-10-02 05:10] DmitryArefiev commented on #13534
Fixed in #13536

[2022-10-02 05:10] DmitryArefiev commented on #13441
Fixed in #13536

[2022-10-02 07:27] #13441 closed

[2022-10-02 07:27] #13534 closed

[2022-10-02 09:14] HemantAntony commented on #13485
@oktophonie Made a fix: #13578

[2022-10-02 09:41] oMrSmith commented on #13572
I absolutely comprehend this problematic. My main worry is that setting up cue notes takes so many steps.
Besides that, there is also an inconsistency: If you change notes to cue size in the score and open the part _afterwards_,
the notes are small in the part too, but not so, if the part is already opened.

[2022-10-02 09:59] oktophonie commented on #13485
Thanks @HemantAntony!

[2022-10-02 10:17] HemantAntony opened #13579 "[MU4 Issue] Cannot select multiple measures"
**Describe the bug**
Its pretty straight forward to select a measure. However, when you try to select another measure, the range selection turns to list selection

**To Reproduce**
Steps to reproduce the behavior:
1. Open a score
2. Click on a measure
3. Ctrl + Click on another measure
4. The range selection on the first measure turns to a list selection

**Expected behavior**
Both measures should

[2022-10-02 10:17] mart661331 opened #13580 "Cross staff beams/notes: can't edit placement"
If I change placement the stem disappears.

Please fix this, it is important for me.

[2022-10-02 10:25] oktophonie commented on #13580
It is important for me too :)

Are you able to attach a score (in a .zip) in which you encounter this problem? Or, at least, a screenshot of a particular cross-staff context in which it appears. Also, which build are you using?

[2022-10-02 10:25] HemantAntony opened #13581 "[MU4 Issue] Hairpin end line not visible for hairpins added from palettes after selecting an element"
**Describe the bug**
When you add a hairpin by selecting a note and clicking a hairpin cell, the hairpin loses its end line

**To Reproduce**
Steps to reproduce the behavior:
1. Open a score and enter some notes
2. Select
3. Add hairpin from palette
4. The end line isn't visible

**Expected behavior**
The end lines should be visible

**Screenshots**

https://user-images.githubusercontent.com/88136

[2022-10-02 10:49] shoogle commented on #13581
I think these lines start on one note and end on the very next note, which means they are too short for you to see the end, but the end is there and you would see it if you made the line longer.

When you add a line with two notes selected, the line will extend between those two notes, but that only works when exactly 2 notes are selected.

Perhaps when 1 or 3+ notes are selected the lines should

[2022-10-02 10:51] HemantAntony commented on #13581
Ah that makes sense, let me see if I can fix this :)

[2022-10-02 13:44] MarcSabatella commented on #13579
Unless I'm misunderstanding something, this is correct - *Shift*, not *Ctrl* to create ranges selections.  Ctrl is specifically for list selections.

[2022-10-02 13:46] HemantAntony commented on #13579
I think I might have worded it incorrectly. But, I meant as in selecting only, say Measure 4 and Measure 10. So you would have to use Ctrl + Select which is currently not possible

[2022-10-02 13:52] cbjeukendrup commented on #13579
That is indeed not possible, but are there any use cases for such a "non-contiguous range selection"?

[2022-10-02 14:00] MarcSabatella commented on #13579
There *could* be, like to transpose a given passage in multiple places.  Or, for that matter, to select discontinuous staves for the purpose of soloing playback.  But anyhow, discontinuous range selects are not something we've ever supported.

FWIW, up until pretty recently, Ctrl+clicking an element with a range already selected would simply clear the selection.  It was by popular request that we

[2022-10-02 14:12] MarcSabatella commented on #13572
Yes, someday a native / automatic cue facility/would be great.  I'm just pointing out the current behavior of the layout properties like small and visible with linking is by design and should not be changed  it would break other use cases.

It is also by design that even though changes are not linked after the part is created, the initial value of some properties *are* copied (not linked) from the

[2022-10-02 15:38] oMrSmith commented on #13572
This would be awesome! The thing is: It took me like three days to learn the basics in muse score and to fall in love with the software. I do wanna switch over but I'm hesitating to write larger scores, which require individual parts, as long as writing cue notes is a bit too laborious. So I think this would be an extremely valuable feature when it comes to parts...

[2022-10-02 16:53] cbjeukendrup commented on #13162
@Jojo-Schmitz Could you please try #13582?

[2022-10-02 20:05] Jojo-Schmitz commented on #13162
Seems to work!

[2022-10-02 21:06] cbjeukendrup opened #13585 "[MU4 Task] Fix enums in the plugin API (but how?)"
**Task description**
Currently, enums are broken in the plugin API. This affects many plugins, also those few that we want to pack with MuseScore, so it really needs to be solved.

**How are enums designed to work in the plugin API?**
An enum is exposed as an object of type `Enum`, which is not much more than a map from the name of an enum case to the value of that enum case. For example, the Elem

[2022-10-02 21:59] sberla365 opened #13586 "[MU4] Crescendo shortcut not working on Italian keyboard layout"
I am on Linux with Italian keyboard and I cannot trigger crescendo with the default shortcut. The shortcut is defined in Preferences as Shift+, but that combination does not work. When replacing the shortcut with the very same key combination, the program recognises it as the resulting character (which is ; on an Italian keyboard) and everything works well. Decrescendo shortcut is perfectly recogn

[2022-10-02 22:27] cbjeukendrup commented on #13586
It seems to me that this is an important problem, and I think it is what I encountered here: https://github.com/musescore/MuseScore/issues/11956#issuecomment-1258304378

[2022-10-03 06:36] heuchi commented on #12867
Please see #13585 for an in-depth analysis of the problem by @cbjeukendrup.

[2022-10-03 06:40] jieshunwang opened #13589 "[MU4 Issue] Unable to change apperance/playback"
**Describe the bug**
When trying to change the apperance/playback of a specific note, the user is unable to select or change any of it.

**To Reproduce**
Steps to reproduce the behavior:
1. Start a new score.
2. Select either 'Playback' or 'Appearance' in the Properties tab.
3. Click on any property.
4. The pop-up dissappears.

**Expected behavior**
Should be able to change property after clicking

[2022-10-03 07:49] EB2000 commented on #12841
Hi,
I just tried MS4 on a different, more recent, linux fedora computer. I tried the most recent nightly (202210030446-master-3d92b93) and the same version (202209150459-master-5765547) as in my previous post. I still observe the same issue: for an idle musescore on an empty freshly created score, I get
- around 30% cpu for mscore, 5% for pipewire and 2% for pipewire-pulse for a symphonic orchestr

[2022-10-03 07:55] DmitryArefiev commented on #13135
Fixed in #13552

[2022-10-03 07:56] #13135 closed

[2022-10-03 09:43] DmitryArefiev commented on #13135
@jessjwilliamson Can you check on your Windows side as well (in master)? To make sure is all fixed now.

Thanks!

[2022-10-03 10:52] rgreen5 opened #13590 "[MU4 Issue] Adding "Title" (etc.) text from menu doesn't create a title frame if there are no frames in the score"
Edit @Tantacrul:

I've created a video to demonstrate
https://www.dropbox.com/s/7rkgsg2plgy7e80/Can%27t_Add_Title_to_Score_01.mov?dl=0

---

**Describe the bug**

If there are NO frames in the current score, when you attempt to add "Title" text (etc.) from the Add menu, NO frame is created.

**Expected behavior**

As in MS3. A title frame is created at the beginning of the score.

**Platform infor

[2022-10-03 11:00] oMrSmith opened #13591 "[MU4 Issue] Shortcut (+) to add a tie does something else: same as pressing arrow up"

[2022-10-03 11:01] cbjeukendrup commented on #13591
This is by design: the default shortcuts have been changed. T is now the shortcut for ties, + is now the shortcut for Sharp. (Note that there is a difference between pressing "Sharp" and pressing arrow up.)

[2022-10-03 11:01] #13591 closed

[2022-10-03 11:03] oMrSmith opened #13592 "[MU4 Issue] Shortcut to add a tie does something else: Same as pressing arrow up"

[2022-10-03 11:17] Jojo-Schmitz opened #13593 "A plugin's `readScore()`, `closeScore()` and `writeScore()` fails"
**Describe the bug**
A plugin's `readScore()` fails, returning a nullptr

Same goes for `closeScore()` and `writeScore()`, they are all not yet implemented

**To Reproduce**
Steps to reproduce the behavior:
1. Try running the [Batch Convert](https://musescore.org/en/project/batch-convert) or [ABC Import](https://musescore.org/en/project/abc-import) plugin

**Expected behavior**
Same as in MuseScor

[2022-10-03 11:45] abariska commented on #12552
@Tantacrul I believe that the case with using external hardware sound modules (synthesizers) is not really common, so we could move it to MU4.x

[2022-10-03 12:00] #11960 closed

[2022-10-03 12:24] oMrSmith opened #13595 "[MU4 Issue] New shortcut (t) to create ties is effective without being mapped"
![image](https://user-images.githubusercontent.com/78870770/193574273-2669c867-3e3b-4fe1-b546-f392dbda367a.png)

![image](https://user-images.githubusercontent.com/78870770/193574620-28a40f35-83ab-4c1a-92bb-40ece54e8333.png)

_Originally posted by @oMrSmith in https://github.com/musescore/MuseScore/issues/13591#issuecomment-1265354883_

[2022-10-03 12:28] Eism commented on #13595
Reset preferences and try again

[2022-10-03 13:02] Tantacrul commented on #10930
OK, fantastic. I can reproduce with NI Kontakt. Haven't tried the others yet.

[2022-10-03 13:03] oMrSmith commented on #13595
Ok, that solved it. Wouldn't have come to this idea. Thanks.

[2022-10-03 13:03] #13595 closed

[2022-10-03 13:03] #13592 closed

[2022-10-03 13:43] DmitryArefiev commented on #9893
Fixed in #13554

[2022-10-03 14:06] shoogle opened #13596 "[MU4 Issue] [Accessibility] NVDA reads dropdown values as "blank""
**Describe the bug**
When navigating up and down the list of values within a dropdown combo box, NVDA says "blank" instead of the name of the value. This occurs for dropdowns in the New Score dialog and the Export dialog.

**To Reproduce**
Steps to reproduce the behavior:
1. New Score > Choose Instruments (or in an existing score press I to open Instruments dialog).
2. Use arrow keys and tab to na

[2022-10-03 14:37] shoogle opened #13599 "[Accessibility] Selected key signature not announced in New Score dialog (macOS)"
**Describe the bug**
In the New Score dialog's Key Signature chooser popup, screen readers announce which key signature has focus but they do not announce whether or not it is selected.

**To Reproduce**
Steps to reproduce the behavior:
1. File > New
2. Pick any template. Next.
3. Expand the **Key signature** popup.
4. Navigate the popup with arrow keys and tab.

**Expected behavior**
The screen r

[2022-10-03 14:45] shoogle opened #13600 "[MU4 Task] [Accessibility] Use instrument description as accessible description in New Score dialog"
**Task description**
We display instrument descriptions in the bottom left corner of the New Score dialog. These descriptions should be spoken by screen readers after the name of the selected instrument.

![image](https://user-images.githubusercontent.com/11011881/193605480-fd0df5bf-10e5-4d3a-8fba-824dd701cbe7.png)

This involves setting the accessible description of items in the Instruments colum

[2022-10-03 15:37] cbjeukendrup commented on #13585
@igorkorsukov I thought it'd be good to ask for your input on this :)

[2022-10-03 16:57] DmitryArefiev commented on #13577
Fixed in #13598

[2022-10-03 17:52] DmitryArefiev commented on #12694
@Tantacrul I think we can move it to Beta2. MIDI note input is better in **MS3** but the basic things work fine in **MU4** :

https://user-images.githubusercontent.com/90187801/193644657-2bbcc174-d071-4dc6-bf23-b83215c465fd.mov

There are some issues with delay and with missing notes in cluster chords (on Mac) but it's not critical for now

[2022-10-03 17:57] Tantacrul commented on #12694
Since it is likely that we will release once everything in Beta 1 is complete, I think we should leave this here.

However, @Eism / @RomanPudashkin - it's fine to focus on other issues for now. I'd like to understand how difficult / unknown / time-consuming these fixes will be.

[2022-10-03 21:43] cbjeukendrup opened #13602 "[MU4 Issue] Assertion failure when entering a chord symbol in a just created/opened score (crash in debug builds)"
**Describe the bug**
A short and clear description of what the bug is.

**To Reproduce**
Steps to reproduce the behavior:
NOTE: The crash will only occur in Debug builds, so not in any build created on GitHub Actions.
1. Create a score
2. Select the first measure rest
3. Press Cmd/Ctrl+K
4. Type "C"
5. **Press Enter** <- this specifically causes the assertion failure (if you just click on empty sp

[2022-10-03 21:56] cbjeukendrup opened #13603 "[MU4 Issue] Chord symbol on first measure is played when adding a new instrument"
**Describe the bug**
When you have a chord symbol on the first measure, and you add a new instrument, the chord symbol is played unexpectedly (even when it is not selected or whatever).

**To Reproduce**
Steps to reproduce the behavior:
1. Create a score
2. Enter chord symbol on first measure
3. Add staves
For every staff you add, the chord symbol is played.

**Expected behavior**
No unexpected ch

[2022-10-03 22:18] cbjeukendrup opened #13604 "[MU4 Issue] Chord symbol playback while editing has very short duration or does not work"
**Describe the bug**
- During normal playback (i.e. after pressing the "Play" button), chord symbols "always" work properly, with Fluid, VST and Muse Sounds.
- Chord symbol playback while editing (i.e. clicking on a chord symbol, etc), doesn't work that flawlessly; this is the current status:
    - Fluid: no playback
    - VST: no playback
    - Muse Sounds: very short playback

**To Reproduce**
S

[2022-10-03 23:33] MarcSabatella commented on #13604
Not sure what you mean about the text cursor, maybe you mean Ctrl+Right which completes entry and moves to the next measure?  Or if youhit Space or Esc or any of the other shortcuts that complete chord symbol entry.

For me on Linux, they play, but excruciatingly loudly compared to anything else.  Been this way for some time.  Playback volume reasonably during playback, but crazy loud during editi

[2022-10-03 23:52] MarcSabatella opened #13605 "Measure repeat counts should have text style and default to something smaller"
**Describe the bug**
If you enable counts for measure repeats in Format / Style / Measure repeats, the results are too large and the font is not customizable.

**To Reproduce**
Steps to reproduce the behavior:
1. Set the "Number consecutive measure repeats" option in Format / Style / Measure Repeats
2. Add several consecutive measure repeats somewhere in your score
3. See error: numbers are render

[2022-10-04 02:14] shoogle opened #13608 "[MU4 Task] [Accessibility] First navigation command should select first element"
**Task description**
When a score has just been loaded and nothing has yet been selected:

- Pressing the next-element shortcut (Alt+Right) should select the very first element in the score. This will be the title frame if there is one, otherwise it could be a barline or clef at the start of the first system.
- Pressing the play-next-chord shortcut (Right) should select the very first note or rest

[2022-10-04 08:51] jessjwilliamson commented on #9893
Good to see the outside grey areas seem to be gone - however if I'm in a high scaling and load a VST that is too big, there is no way to move it out of the way. I can't click on anything or drag the outside to resize the dialog. I think the click and drag corner or side USED to work now it isn't anymore.
![image](https://user-images.githubusercontent.com/71656189/193776749-b8b83e0f-bf12-460e-9f36-

[2022-10-04 08:53] jessjwilliamson commented on #9893
Just tried even higher scaling - 150% unfortunately the grey space on the right does appear here :(
<img width="1280" alt="image" src="https://user-images.githubusercontent.com/71656189/193777301-7b9030ee-99a6-4b78-bf74-cfcbb97d96f7.png">

[2022-10-04 10:13] oktophonie opened #13610 "[MU4 Issue] Changing staff properties causes clef to change"
**Describe the bug**
Changing staff properties (instrument label, toggling small stave, etc) can cause the instrument's clef to change.

**To Reproduce**
Steps to reproduce the behaviour:
1. Create a new score with the 'Treble clef' template (which is a single-stave piano really)
2. Right-click the stave and open the Staff/Part properties... dialog
3. Change something - tick the 'Small staff' box,

[2022-10-04 10:33] oktophonie opened #13612 "[MU4 Issue] Regression: Cannot change instrument label after instrument change"
**Describe the bug**
After an instrument change, attempting to change the staff label has no effect. (This worked fine in MU3.6.)

**To Reproduce**
Steps to reproduce the behaviour:
1. Create a score with at least one instrument (or use a template); turn off the 'Hide instrument name if there is only 1 instrument' option, if relevant
2. Insert an instrument change somewhere in the second system
3.

[2022-10-04 10:38] sammik commented on #13610
You dont need to change anything, just press "Apply".

[2022-10-04 10:49] oktophonie commented on #13610
So it appears! Thank you.

[2022-10-04 11:17] DmitryArefiev opened #13614 "[MU4 Issue] Crash after closing score with opened part"
**To Reproduce**
1. Create score with one flute (or other instrument)
2. Open Flute part
3. Add some notes to score or part
4. Close
5. In "Do you want to save.." dialog **click Don't save**

https://user-images.githubusercontent.com/90187801/193805178-9598e2bc-78c8-4435-8f68-8d2257534eed.mp4

**Platform information**
 macOS, Windows, Linux

[2022-10-04 11:40] DmitryArefiev commented on #10968
Tested in **latest master** on Win10, Mac12 - Doesn't occur anymore. **FIXED**

Closing

[2022-10-04 11:50] Tantacrul commented on #12314
After some discussion, this is another aspect of the entire sound mapping system from V3 that we are making a clean break with.

One of our most important upcoming features in V4 is a new **universal** mappIng system that works with both VST, soundfont and Muse Sounds. It will not be compatible with the V3 way of doing things. With that it mind, I am bumping this to 4.x

[2022-10-04 11:50] #12314 closed

[2022-10-04 12:57] Tantacrul commented on #13612
If it worked fine in V3.6, then it's a bug. I'll assign it to Post Beta for now.

[2022-10-04 13:26] Wim4rk opened #13615 "[MU4 Issue] "Reset shapes and positions" crashes program"
**Reset shapes and positions crashes program**
After marking a measure I try using "Reset shapes and..." and the program crashes. Ctrl + R does the same.

**To Reproduce**
Steps to reproduce the behavior:
1. Mark measure.
2. Click on Format -> Reset shapes and behaviours
3. Program crashes

**Expected behavior**
Don't know, I was trying to reset layout to default.

**Screenshots**
![2022-10-04 15-

[2022-10-04 13:43] DmitryArefiev commented on #13599
@shoogle @Tantacrul Moving to Beta2 since it's not critical. Please return back if disagree.

[2022-10-04 13:46] DmitryArefiev commented on #10705
Not critical. Moving to Beta2

[2022-10-04 14:01] #13614 closed, assigned to RomanPudashkin

[2022-10-04 15:24] abariska commented on #13263
🟢 **FIXED**
Tested on macOS 12, Win 11, Ubuntu 20

[2022-10-04 16:00] DmitryArefiev commented on #9893
@jessjwilliamson The last case did you try on this build? https://github.com/musescore/MuseScore/actions/runs/3160100119

(from #13554)

[2022-10-04 16:20] Tantacrul commented on #9893
@DmitryArefiev - are you seeing a different result?

[2022-10-04 17:16] DmitryArefiev commented on #9893
@Tantacrul @jessjwilliamson I'm trying now on my Windows laptop with FullHD display on 150%.
I also have too much wide BBC SO window but it dissapears after re-enabling that plugin again. Thats strange.
But I don't have a grey space from the right

https://user-images.githubusercontent.com/90187801/193883992-5b390652-42c5-4a06-8d74-67d1076cb042.mp4

[2022-10-04 17:43] DmitryArefiev commented on #9893
The initial testing was on my Lenovo laptop with **QHD** display on 125,150% (with Kontakt and other plugins).
Now I installed BBC and LABS plugin to see how they behave on that machine.

What I see now the **most ugly issue with too much extra white/grey space is fixed**. Roman says PR #13554 is fixing exactly that problem.

I think other issues regarding window size should be logged separately.

[2022-10-04 17:46] Tantacrul commented on #9893
Sounds good @DmitryArefiev. Thanks!

[2022-10-04 20:48] sammik opened #13619 "[MU4 Issue] viewport doesn't follow expanding range selection - regression"
**Describe the bug**
When expanding selection by "Shift + Right" or "Shift + Left", viewport doesnt follow it, selection goes out off screen.

**To Reproduce**
Steps to reproduce the behavior:
1. Select some range selection
2. Expand it by "Shift + Right"
3. When selection goes out of screen, viewport doesnt follow it.

**Expected behavior**
Viewport follows expanding selection.

**Screenshots**

[2022-10-04 22:38] jieshunwang opened #13620 "[MU4 Issue] Applying augmentation dot to rests before entering"
**Describe the bug**
Applying augmentation dot to a rest before entering the rest does not give a dotted rest.

**To Reproduce**
Steps to reproduce the behavior:
1. New score
2. Enter into note input mode
3. Select crotchet note
4. Select augmentation dot
5. Press 0 into keyboard
6. A crotchet rest appears on the score

**Expected behavior**
A dotted crotchet rest should appear on the score

**Pla

[2022-10-05 01:09] dragonwithafez opened #13621 "[MU4 Issue] Recovery dialog does not appear after a crash"
**Describe the bug**
When opening MU4 after a crash, the dialog box to allow the user to recover the previous session does not appear visibly, but still takes focus away from the main application, requiring the user to use the keyboard to close the dialog box to continue.

**To Reproduce**
Steps to reproduce the behavior:
1. Open a score
2. Crash MuseScore somehow, e.g. using the crash button in d

[2022-10-05 06:44] sammik commented on #13620
Duplicate of #11851

[2022-10-05 07:49] #13620 closed

[2022-10-05 08:13] Eism commented on #12694
@Tantacrul
It's hard for me because I can't reproduce it. This may be due to the fact that I have a specific midi keyboard or that I press the keys in a wrong way.

[2022-10-05 08:51] #13596 closed

[2022-10-05 09:12] Tantacrul commented on #13604
Thanks for pointing this out. Hadn't tried chord symbols for a while. @cbjeukendrup - you mentioned in your description a few things.

- They sometimes don't play back using fluid. This is a possibly quite a major issue. If so, could you include it here as an expected result more clearly.

- You mentioned VST isn't working at all. Can you make this a separate issue and give appropriate details, et

[2022-10-05 09:30] Tantacrul commented on #12694
@DmitryArefiev - what device do you have? Perhaps we ask to get Elnur the same one?

[2022-10-05 09:46] jeetee opened #13624 "[MU4 Issue] "subbeam" across barline does not work"
**To Reproduce**
Steps to reproduce the behavior:
1. Have 16ths accross a barline and set sub-beam-16 to the first one after the barline.
or
1. Open attached file (rename zip to mscz), look at the crossing between bars 2 and 3.

**Expected behavior**
A single beam line accross the barline.
Side note: normal "beam middle" double beam on them works fine (cfr bars 1 & 2 of the attachement)

**Screens

[2022-10-05 09:48] lyrra commented on #13602
duplicate of? https://github.com/musescore/MuseScore/issues/13105

[2022-10-05 10:07] DmitryArefiev commented on #12694
@Tantacrul I have Arturia KeyLab 61 Essential. It might help but I'm not sure...

I think the root issue here that **MU4** has a **bit more delay** when entering notes from MIDI keyboard comparing with **MS3**. It could be due to general performance issue (MU4 take more cpu comparing with MS3)
 Maybe @vpereverzev can help to understand is it related or not.

@Tantacrul To understand how critical o

[2022-10-05 10:24] Tantacrul commented on #12694
@jessjwilliamson @bkunda - it would be good to get your thoughts on this by comparing MS3 with MS4 quickly and determining how much of a problem this is? When you have time. I'll jump on it when I have a chance too.

[2022-10-05 10:25] abariska opened #13625 "[MU4 Issue][GP] Copyright mark is not rendered on imported GP tab"
**Describe the bug**
See [Layers, chords and meta.gp.zip](https://github.com/musescore/MuseScore/files/9714838/Layers.chords.and.meta.gp.zip)

**Screenshots**

![CleanShot 2022-10-05 at 13 19 06](https://user-images.githubusercontent.com/101250347/194039149-09dc3e76-1c29-4179-aa46-2df4d57f00dc.png)

**Expected behavior**

![CleanShot 2022-10-05 at 13 20 37](https://user-images.githubusercontent.co

[2022-10-05 10:35] #10894 closed

[2022-10-05 10:48] DmitryArefiev commented on #12637
Low buffer sizes removed in #13623 (Fixed)

[2022-10-05 10:48] DmitryArefiev commented on #12636
Low buffer sizes removed in #13623 (Fixed)

[2022-10-05 10:49] DmitryArefiev commented on #12637
Low buffer size support can be added in future

[2022-10-05 10:49] DmitryArefiev commented on #12636
Low buffer size support can be added in future

[2022-10-05 11:01] #12636 closed

[2022-10-05 11:01] #12637 closed

[2022-10-05 11:05] cbjeukendrup commented on #13604
- When pressing "play", chord symbols "always" work properly, with Fluid, VST and Muse Sounds. Maybe my comment was ambiguous about that.

- It looks like the VST problem is something with my local builds, since it looks fine in nightly builds. So it's still a pity for me, but there is no real bad problem in general. Probably messed up something with my build settings, although I wouldn't know wha

[2022-10-05 11:14] bkunda commented on #12694
I just had another look at this. The time between striking a key on the piano keyboard and having it register in note input mode is definitely slower in MS4 than in MS3.
But for general note entry purposes, I'd say the way MS4 currently works is still adequate. Things can get a bit dicey if you try to enter large note clusters, but we aren't talking about the majority of user cases here, so I thin

[2022-10-05 11:19] Tantacrul commented on #12694
@Eism - so the first point about latency could be addressed it seems.

Specifically the comparison between MS3 and MS4. If this is a much tougher piece of work to do, perhaps we move it to 4.x. Let me know if it's something you think you can look into or whether you think it will take a lot of time.

[2022-10-05 11:38] Eism commented on #13621
@dragonwithafez
Please check the build from https://github.com/musescore/MuseScore/pull/13443