[2021-12-14 15:10] Jojo-Schmitz commented on #10090
I see though that on a US keyboard you need `Shift` to get to the `+` (unless you use the keypad). Not the case on a German QWERTZ keyboard though. And no reason to show "`Shift`+`+`" in the menu, we never did that.

[2021-12-14 15:14] Jojo-Schmitz commented on #10090
And `=` is indeed the unshifted `+` on an US keyboard. It is "`Shift`+`0`" though on a German QWERTZ.

So this issue here really is none!

[2021-12-14 15:28] Tantacrul commented on #10090
Oh, man. Yes. I just realised. It is '=' for Autoplace. My mistake.

Hmm. I wonder whether it wouldn't be clearer to label the shortcut "Shift+=", rather than '+' ?

Also, should we still swap them?

- Autoplace (+)
- Tie (=)

[2021-12-14 15:32] Jojo-Schmitz commented on #10090
I'm against adding the "Shift+" to the display, that won't work for German Keyboards (and be a `*` there).
I'm against swapping those, at least for German Keyboards ;-), but also, due to 'finger-memory' for all others too

The '£' is different, it is not available on any keyboards except a British one, and as such should not get used as a shortcut at all

[2021-12-14 15:57] Tantacrul commented on #10090
This is my point. It should be Alt + 3 (which produces '£'). It makes sense to always show the modifier and the default key, not the result of the combination of those two things.

Another example: specifying '?' as a shortcut. That's really weird.

It should be 'SHIFT' + '/'

[2021-12-14 16:03] Jojo-Schmitz commented on #10090
Well `?` would be `Shift`+`ß` here. and `/` is `Shift`+`7`
Showing the modified doesn't make sense, if the shortcut is `+` and you need `Shift` to get a '+`, so be it. As said here `Shift`+`+` gives `*`

[2021-12-14 16:08] DmitryArefiev commented on #10025
Hello @bkunda , can you check this on Mac/Win on your side please? (should be in master already)

Thanks!

[2021-12-14 16:08] DmitryArefiev commented on #10024
Hello @bkunda , can you check this on Mac/Win on your side please? (should be in master already)

Thanks!

[2021-12-14 16:10] Tantacrul commented on #10090
Nah. Most applications do this. There are some technicalities to iron out, but specifying that the shortcut for a tie is '+' is ridiculous. Showing the modifier makes it clear how to achieve the shortcut. The problem you are discussing is a problem regardless of the system we choose.

Even in the shortcut definition screen we don't do that:
![image](https://user-images.githubusercontent.com/210223

[2021-12-14 16:11] Tantacrul commented on #10090
Anyway, this has turned into a much wider, general issue. I'm going to close this bug.

[2021-12-14 16:11] #10090 closed

[2021-12-14 16:18] DmitryArefiev commented on #9599
Tested on latest master build (Win10, Mac12, LinuxMint 20.2) - FIXED

[2021-12-14 16:25] DmitryArefiev commented on #9666
Tested on latest master build (Win10, Mac12, LinuxMint 20.2) - FIXED

[2021-12-15 06:50] wizofaus commented on #9666
Unfortunately it doesn't seem to be working for other commands requiring the current notation to have the focus including using the cursor keys to navigate around the score (note that *some* commands like plain left/right don't work unless something is selected first, you can achieve this by using eg. Ctrl+F, 1, <enter> though, and at any rate ALT+left/right should definitely work with nothing sel

[2021-12-15 07:03] wizofaus opened #10096 "[MU4 Issue] Enter key doesn't work as expected when using Ctrl+F / Find"
**Describe the bug**
Ctrl+F brings up the "Find / Go To" search field, but after typing in the desired location (e.g. 2 for measure 2), hitting enter to close the search field and return focus to the score doesn't work as per MuseScore 3, instead seemingly inserting a line break if the notation window did have the keyboard focus, or nothing at all otherwise, and in neither case dismissing the sear

[2021-12-15 07:59] wizofaus commented on #9666
Ok I found why the Home key doesn't work - EngravingItem::edit( ) is swallowing it any time you have a single selected element, which MU3 doesn't do, I'm not sure what this was supposed to support.

[2021-12-15 09:48] #9089 closed

[2021-12-15 09:57] wizofaus commented on #9567
I can't reproduce either the Ctrl+Click not deselecting or the crash, nor can I really see what might trigger either.  Are you able to provide a full stack trace @HemantAntony ? Going by what I can see I would say it's not a crash that would occur in a release build, just an assert failure (but still warrants investigation).

[2021-12-15 09:59] vpereverzev commented on #10092
@Tantacrul none of us can reproduce this crash. Are you sure that you were using the latest version?

[2021-12-15 10:47] wizofaus commented on #10078
I get this when you select a measure with a hairpin or indeed any line object in it, it seems to have the wrong canvasBoundingRect.
In fact something seems broken with EngravingItem::canvasPos() for items that don't have an explicit parent, which appears to include quite a lot of things, including Text and Line objects.  In at least one case the _parent of my text object was a TextLineBaseSegment

[2021-12-15 10:49] bkunda opened #10098 "[MU4 Task] Implement "System", "Staff" and "Capo" text lines in palettes (with corresponding Properties settings)"
**Task description**
"System text line" and "Staff text line" palette objects, together with their editable settings in **Properties**, have not yet been brought over to MS4.

These are the objects from MS3:

<img width="1149" alt="Screenshot 2021-12-15 at 9 43 14 pm" src="https://user-images.githubusercontent.com/86290556/146172173-59955652-f4db-4a7f-b768-9d8927832bfb.png">

This task proposes to

[2021-12-15 10:58] HemantAntony commented on #9567
I am around 120 commits behind the latest version. I am currently updating the code. I will try again and let you know

[2021-12-15 10:59] wizofaus commented on #10078
Actually the interesting thing is that when you click on a hairpin what you're actually selecting is the HairpinSegment (which makes sense, given it could be split across systems/pages, and it matters which segment you've selected for rendering purposes).  But when you select a *measure* and it automatically selects all elements "contained" by that measure it selects the Hairpin itself, rather tha

[2021-12-15 10:59] bkunda commented on #10025
Tested in MacOS and Windows - FIXED

[2021-12-15 11:36] bkunda opened #10099 "[MU4 Issue] Crash when adding a trill line object to a selected range"
**Describe the bug**
MuseScore crashes when adding any one of these objects to a selected range:

<img width="515" alt="Screenshot 2021-12-15 at 10 34 19 pm" src="https://user-images.githubusercontent.com/86290556/146179377-e1a6afd7-4dd2-4e1b-86c4-7c93af1aeb1e.png">

**Demo**

![crash-trill-selected-bar](https://user-images.githubusercontent.com/86290556/146179397-66b669c5-6f21-4793-a370-02544f264

[2021-12-15 11:59] HemantAntony opened #10100 "[MU4 Issue] Selecting and then holding Ctrl and dragging crashes MuseScore (Debug builds with asserts enabled)"
**Describe the bug**
When you click and drag a note, a crash occurs

**To Reproduce**
Steps to reproduce the behavior:
1. Create a new score with instruments
2. Add notes
3. Select a note
4. Then hold Ctrl
5. Now, drag the note
6. Crash occurs

**Expected behavior**
MuseScore is not supposed to crash

**Screenshots**

https://user-images.githubusercontent.com/88136054/147527497-c87e1370-cff2-4094-

[2021-12-15 12:06] HemantAntony opened #10101 "[MU4 Issue] Notes appear outside margin on dragging note"
**Describe the bug**
When you click and drag a note, some note appear outside margins

**To Reproduce**
Steps to reproduce the behavior:
1. Create a score with some instruments
2. Make some notes
3. Click and drag a note.
4. Some notes appear outside margins

**Expected behavior**
Notes are not supposed to appear outside margins

**Screenshots**

https://user-images.githubusercontent.com/88136054/

[2021-12-15 12:10] HemantAntony commented on #9567
Crash still occurs: #10100. I have created a new issue. I have provided instructions on how to reproduce the crash in the issue

[2021-12-15 12:23] HemantAntony opened #10102 "[MU4 Issue] Project name does not update on save"
**Describe the bug**
When you save a project, the project name does not update.

**To Reproduce**
Steps to reproduce the behavior:
1. Create a score and add notes
2. Save the Score
3. The name of the project does not get updated (Look in the tab "untitled")

**Expected behavior**
Project name should be updated on saving the score

**Screenshots**

https://user-images.githubusercontent.com/88136054

[2021-12-15 12:23] HemantAntony commented on #10102
Mind if I take a crack at this?

[2021-12-15 12:42] DmitryArefiev opened #10103 "[MU4 Issue] Chord symbols are recognized (parsed) properly only in a just created scores"
**To Reproduce**
1. Create a score
2. Add some notes
3. Save and close
4. Reopen
5. Select note and enter chord input mode
6. Type **am7** and hit Space - you see **m7** instead of Am7

https://user-images.githubusercontent.com/90187801/146188507-31649f9d-ee89-439c-a47f-7f195b636184.mp4

**Expected behavior**
A clear and concise description of what you expected to happen.

**Screenshots**
If appli

[2021-12-15 13:44] HemantAntony opened #10105 "[MU4 Issue] Menus getting cleared and filled repeatedly"
**Describe the bug**
File Menu is getting cleared and filled repeatedly (Just watch the video)

**To Reproduce**
Steps to reproduce the behavior:
1. Click on File
2. The bug occurs

**Expected behavior**
The File menu is supposed to remain still

**Screenshots**

https://user-images.githubusercontent.com/88136054/146197674-cd4f27bf-ae59-4377-b256-a3a820e9bc30.mp4

https://user-images.githubusercon

[2021-12-15 13:52] Tantacrul commented on #9847
@DmitryArefiev: do you want to talk this through further? I'm aware that there's an issue with tuplets not working on rests while in Note Input mode, correct?

[2021-12-15 13:57] igorkorsukov commented on #9666
@wizofaus Thank you very much for the information.
I recently changed the behavior of the navigation system for a number of reasons, so in fact there may be similar problems now.
I will now investigate the problem and fix it.

[2021-12-15 15:22] igorkorsukov commented on #10078
most likely )

[2021-12-15 15:28] DmitryArefiev opened #10107 "[MU4 Issue] Adding a chord creates a duplicate text which is visible when selected"
Adding a chord creates a duplicate text which is visible when selected

https://user-images.githubusercontent.com/90187801/146215186-1b31a756-ed0f-419e-b6a8-3b39a4a7fe7c.mp4

**Desktop:**
 - OS: all

[2021-12-15 16:06] DmitryArefiev commented on #9847
@Tantacrul Yeah.. I think the description should be updated regarding how it should work in Note Input mode.
In PR build, Tuplet button becomes greyed out when just enter Note Input mode (hit N)

@jessjwilliamson The new rule should applied only selection mode, right? So, tuplet button should be always on in Note Input mode, right?

[2021-12-15 16:41] Tantacrul commented on #9847
Yes. It only refers to selection mode (I discussed with Jess)

[2021-12-15 16:49] DmitryArefiev commented on #9089
Tested on latest master build (Win10, Mac12, LinuxMint 20.2) - FIXED

Found a minor issue (shortcut highlights updated only after relaunch). Will log it separately

[2021-12-15 16:51] DmitryArefiev commented on #10105
Thanks for logging this!

[2021-12-15 16:57] DmitryArefiev commented on #9847
Good! Thanks for clarification!

@Eism Could you make a new build given this condition please?

Thanks!

[2021-12-16 00:04] wizofaus commented on #10078
Dug a bit further, and the behaviour of having the hairpin (or any line) itself automatically selected when you select a measure, rather than its segment, is the same in MS3. As is the fact that canvasBoundingRect for a hairpin element is wrong (it has x=0, as though relative to its own position, rather than relative to the left side of the whole canvas), but unlike MS4, MS3 doesn't try to work ou

[2021-12-16 06:38] bkunda opened #10109 "[MU4 Issue] Several Properties buttons are missing icons"
**Describe the bug**
There are a couple of parts to this issue:

1. The following buttons in **Properties** are missing icons from `musescoreicon`.

- Volta (should be f410)
- Vibrato (should be f411)
- Let ring (should be f40f)
- Ottava (should be f40d)
- Palm mute (should be f40e)

<img width="298" alt="Screenshot 2021-12-16 at 5 11 29 pm" src="https://user-images.githubusercontent.com/86290556/

[2021-12-16 07:33] HemantAntony commented on #10109
Is it ok if I work on this?

[2021-12-16 08:21] #8172 closed

[2021-12-16 08:26] Tantacrul commented on #10109
Please!

[2021-12-16 08:27] #10102 closed

[2021-12-16 08:47] Eism commented on #9177
Fixed

[2021-12-16 08:47] #9177 closed

[2021-12-16 09:24] igorkorsukov commented on #9666
@wizofaus I fixed it here https://github.com/musescore/MuseScore/pull/10110

[2021-12-16 09:38] igorkorsukov commented on #10099
@DmitryArefiev Please check, PR https://github.com/musescore/MuseScore/pull/10111

[2021-12-16 09:42] HemantAntony commented on #10109
I can't seem to find this panel even though I managed to fix it. Can you tell me where it is? Its in the properties, right? So, which element do I need to click on to see this?

[2021-12-16 09:44] Eism commented on #10105
@HemantAntony hey!
I cannot reproduce on Windows/Linux

Сan you provide more information on how to reproduce the bug?
Is the bug reproducible in the nightly build?
Do you reproduce stably or does it happen randomly?

[2021-12-16 10:04] Eism commented on #10109
Yes, it is Properties panel.

You should select multiple elements(volta, hairpin, ottava, etc) by pressing Ctrl. Then the Notation section will appear

[2021-12-16 10:06] cbjeukendrup commented on #10109
These are the elements in question:
<img width="644" alt="Schermafbeelding 2021-12-16 om 11 04 49" src="https://user-images.githubusercontent.com/48658420/146351089-4286aecf-6c2f-42ab-b2b9-8a2c37bab026.png">
Indeed, as Elnur says, if you add them all to the score, and then select them all by Ctrl+Clicking, you will see these buttons in the Properties panel.

[2021-12-16 10:21] DmitryArefiev commented on #10105
@Eism @HemantAntony I found that the bug doesn't occur on the the first score (after MU launch) you need to create a second one using shortcut when open New Score Wizard:

https://user-images.githubusercontent.com/90187801/146353590-aa9f1ac2-9540-474c-a4b4-40e68b09a769.mp4

[2021-12-16 10:23] HemantAntony commented on #10105
It still occurs even though I updated the code to the latest nightly. There really isn't much information to provide. But after reading Dmitry's message, it just got weirder because this happens for me in the first score itself. I don't need to create the second score

[2021-12-16 10:30] HemantAntony commented on #10105
@Eism, I created a video with audio explaining how I am reproducing this bug:

https://user-images.githubusercontent.com/88136054/146354709-f2932248-b99d-4c91-b9d7-589e74a56334.mp4

Also, the bug did appear a little the first time @DmitryArefiev did it. You can see the File blink 2 or 3 times

[2021-12-16 10:39] DmitryArefiev commented on #10099
Tested on Win10, Mac12, LinuxMint 20.2 - FIXED

[2021-12-16 10:40] #10099 closed

[2021-12-16 10:45] HemantAntony commented on #10109
Thank you! I managed to find the buttons. I could not add the Ottava initially. I searched google for "Ottawa" and Canadian things started popping up. Finally, I did figure it out.

[2021-12-16 10:52] RomanPudashkin commented on #10103
I'm working on it

[2021-12-16 11:21] DmitryArefiev commented on #9567
Yes, this was fixed in #8908

No longer occurs in master

[2021-12-16 11:21] #9567 closed

[2021-12-16 13:29] DmitryArefiev commented on #10048
Tested on Win10, Mac12, LinuxMint 20.2 - FIXED (should be in the next master)

[2021-12-16 13:54] DmitryArefiev commented on #10102
Tested  on master build (Win10, Mac11, LinuxMint 20) - FIXED

[2021-12-16 14:24] Tantacrul opened #10114 "[MU4 Task] Rearrangement of UI for 'Snapping' and Toggle for Beam snapping"
**Task description**
This is a pretty simple reorganisation we've made after recognising that the 'Snapping' setting in the properties panel is global, not unique to each element.

We've also added a toggle to allow users to disable snapping of beams by 0.25 sp.

Link to document: https://www.dropbox.com/s/n5nifhn4afcjieo/Snapping_Improvements_Dec_2001_V01%20copy.pdf?dl=0

![image](https://user-im

[2021-12-16 14:28] Tantacrul commented on #10114
Not sure if this needs UI work or not. Even if it does, it is a super simple task.

[2021-12-16 14:36] #9938 closed

[2021-12-16 14:49] #9708 closed

[2021-12-16 14:52] cbjeukendrup commented on #10114
Shouldn't the buttons at the bottom of that dialog say OK/Cancel instead of Yes/No?

[2021-12-16 14:53] DmitryArefiev commented on #9708
Tested #9708 on Win10, Mac12, LinuxMint 20.2 - ALL EXCEPT **3. Return key** ARE WORKING NOW

Will log it separately

[2021-12-16 15:01] Howard-C commented on #9449
Seems fixed in latest build.

[2021-12-16 15:12] Howard-C commented on #9853
Do we need to make an additional Change Instrument section in Properties just for this one button? I can try to do it if it's needed.

[2021-12-16 15:38] DmitryArefiev opened #10117 "[MU4 Issue] Unable to select a single object in range selection (missing MU3 functionality)"
**To Reproduce**
1. Create a range selection (select whole bar with notes)
2. Click on a single note - **nothing happens** (range selection remains)

See video to compare MU3 and MU4

https://user-images.githubusercontent.com/90187801/146401628-dd1fc5a8-1a14-4baa-9c38-ffac1d2c52b8.mp4

**Desktop**
 - OS: all

[2021-12-16 15:52] RomanPudashkin opened #10118 "[MU4 Task] Missing MU3 feature: Realize Chord Symbols dialog"
https://user-images.githubusercontent.com/67867444/146403335-ea862bcb-70a7-4c26-a52d-c25e0c655d88.mp4

[2021-12-16 15:52] DmitryArefiev opened #10119 "[MU4 Issue] Chord Input: Return key is not recognised / Chord text highlighted in red during input"
**Describe the bug**

1. **Return key**: Exists edit mode (chord symbols still remain selected) left from #9708

2.  Chord text highlighted in red during input  - **FIXED** in #10272

https://user-images.githubusercontent.com/90187801/146403990-21081d6f-0d5a-478e-b4e0-5c910ca4e4f0.mp4

Expected result: see comment below from Marc

**Desktop:**
 - OS: all

[2021-12-16 16:16] DmitryArefiev commented on #9275
Tested on Win10, Mac12, LinuxMint 20.2 - FIXED

[2021-12-16 16:23] Tantacrul commented on #10114
Yes. My oversight

[2021-12-16 16:41] Tantacrul opened #10120 "Score Migration"
**Task description**
The following documents specify updates to our score migration process given the engraving changes made for MS4.

Simon has specified the alterations here: (Apologies about this being a restricted document. We'll post the details publicly shortly)
https://alice.mu.se/display/UK/Score+migration+for+MuseScore+4.0

Updated Figma assets here:
https://www.figma.com/file/l0TQUrNFZmE

[2021-12-16 16:45] Jojo-Schmitz commented on #10120
The patch level is not mentioned? Like 3.6.2, 2.2.1, 3.2.3, etc? That would give a bit of extra info without having to dive into Score Properties. And is what 3.x did.

[2021-12-16 19:49] Tantacrul commented on #10120
An oversight. Just fixed it.

![image](https://user-images.githubusercontent.com/21022311/146438858-48ff2a51-d39d-429a-89e3-ebcc1997a8e3.png)

[2021-12-16 20:29] MarcSabatella commented on #10119
Return has never done anything useful in chord symbol edit mode.  What if
it acted as a navigation command but added a second chord symbol on the
same beat?  That would be sweet.  Autoplace would presumably position it
above the current chord which might seem counterintuitive but actual fits
the real world use case for this (alternate chords) quite well.

On Thu, Dec 16, 2021 at 8:53 AM DmitryAref

[2021-12-16 21:08] wizofaus commented on #10100
Can't reproduce, but it looks like you were running this under the debugger, can you provide the stack trace and/or complete log?

[2021-12-17 04:44] HemantAntony commented on #10100
I don't know what stack trace is (I am a bit new). This is the log when I click on it the second time:
![image](https://user-images.githubusercontent.com/88136054/146490214-569c2a0e-1e91-4c0b-bd22-e95a85111ecc.png)
I have also asked @DmitryArefiev if he could reproduce this issue

[2021-12-17 04:52] HemantAntony opened #10122 "[MU4 Issue] Instrument name does not update in parts dialog and its tab on replace"
(Updated by @Tantacrul, @DmitryArefiev )
**Describe the bug**
When opening some older scores, the 'Replace Instrument' feature does not work. However, it **does** work for new scores.

BUG№1 - **FIXED** in #13097
To Reproduce:
1. Open  [string quartet 2.zip](https://github.com/musescore/MuseScore/files/9594429/string.quartet.2.zip)
2. Open Violin I part
3. Go to score and replace the Violin I with

[2021-12-17 05:04] HemantAntony opened #10123 "[MU4 Issue] Numbers should be added to same instruments on replace instrument"
**Describe the bug**
When you replace an instrument with another already existing instrument, numbers should be added in the instruments panel

**To Reproduce**
Steps to reproduce the behavior:
1. Create a score with a couple of instruments (For this example it must have a Flute)
2. Replace an instrument say, Oboe with Flute, so there are two Flutes now
3. The flutes are displayed just as "Flute"

[2021-12-17 05:06] HemantAntony commented on #10123
A silly question here: in my mind, the existing flute should be called Flute 1 and the new flute should be called Flute 2. Do you agree with this?

[2021-12-17 05:07] HemantAntony commented on #10122
I am working on this

[2021-12-17 09:31] Tantacrul commented on #10092
Yes. I just grabbed the latest nightly build now and the issue is still happening.

It's important that you create a new score first and then open the navigator and timeline - then save the score and reopen the app. That then causes the navigator and timeline to be open by default. It's at this point that closing the timeline causes a crash.

I've not tested this on Windows yet.

[2021-12-17 09:46] igorkorsukov opened #10125 "[MU4 Task] When updating the state of the application menu, items should not be recreated"
In the menu, we need to show a status of actions - available / not available.
The menu is subscribed to change the state of actions
[code]
To update the state of menu items, a signal `itemsChanged` is sent
[code]
This results in a re-creation of the entire menu.
* it is not productive
* if at this moment the popup menu is open, then all elements will be deleted on it, it will remain an empty open

[2021-12-17 09:49] igorkorsukov commented on #10105
@DmitryArefiev Please check, PR https://github.com/musescore/MuseScore/pull/10124

At this point, the problem will not appear. But there was a technical problem with the app menu itself, I added a technical task https://github.com/musescore/MuseScore/issues/10125

[2021-12-17 10:20] DmitryArefiev commented on #10100
Hi @HemantAntony I tried on Windows10/Windows11/Mac12 - I can't reproduce it with your steps but found a way how to crash MU with one additional step:

1. Create a new score with instruments
2. Add notes
3. Click and drag a note
4. Click and drag a note again
5. **Press and hold Ctr+Z**

@wizofaus Can you try these steps on your side please?

[2021-12-17 10:22] njvdberg commented on #10123
When creating a new score with multi flutes, it is fine to number the parts `Flute 1`, `Flute 2` etc.

But if you add a flute afterwards, or replace an existing instrument, how can you tell which should `Flute 1` and `Flute 2`. Suppose I have piccolo and a flute, replace the piccolo to a flute will most likely result in `Flute 1` (the old piccolo part and `Flute 2` the old flute part. But when you

[2021-12-17 10:42] HemantAntony commented on #10100
I'm going to edit this issue a bit. It turns out I was doing something extra the second time. So the way to produce the current issue:

https://user-images.githubusercontent.com/88136054/146532292-8eaf0787-e9c9-4298-b5ad-b86db38c32f9.mp4

https://user-images.githubusercontent.com/88136054/146532305-732f329d-bf3c-4f31-aaa8-6ec43d810086.mp4

The second video is the shorter way to reproduce the crash

[2021-12-17 10:56] DmitryArefiev commented on #10100
@HemantAntony That strange.. I still can't reproduce it on my side even using Ctr+click

[2021-12-17 10:58] DmitryArefiev commented on #10100
I can get crash only when Undoing all action (after you steps) but it has rare reproducibility

[2021-12-17 11:02] HemantAntony commented on #10100
I don't think it has a rare reproducibility. It has gotten produced every single time

[2021-12-17 11:12] DmitryArefiev commented on #10100
I mean it has rare reproducibility on my side (with adding Undo command after all steps).
Using the initial steps I still can't reproduce unfortunately..

Did you try on the latest master build and without debugger running on the background?

[2021-12-17 11:12] HemantAntony commented on #10100
I can reproduce your undo crash. But that seems to be another problem

[2021-12-17 11:14] DmitryArefiev commented on #10109
Hi @bkunda can you check it on your side please (Win/Mac)?

Thanks!

[2021-12-17 11:15] HemantAntony commented on #10100
What I am doing is
1. Clicking on a note (You have to do this first)
2. Holding Ctrl
3. Then drag (holding Ctrl at the same time)

I will make another video where you can see my keyboard if you still can't reproduce. But this is definitely an issue.

But I think you have to follow the instructions in this message strictly

[2021-12-17 11:44] HemantAntony commented on #10100
https://user-images.githubusercontent.com/88136054/146539578-1b85a339-80d8-4fb6-aeb4-07c499698ef2.mp4

This video shows my keyboard too. Hope you can see exactly what I am doing. Also, yes I am running the latest master build

[2021-12-17 11:51] bkunda commented on #10109
Tested on Windows and MacOS. FIXED.
I believe another icon is on the way (via @cbjeukendrup) for measure repeats.
Great work and thank you @HemantAntony!

[2021-12-17 12:05] DmitryArefiev commented on #10109
@bkunda Thanks! I've tested on Linux. Here is a screenshot:

![Screenshot from 2021-12-17 16-02-46](https://user-images.githubusercontent.com/90187801/146542294-a28b6245-bef8-4f7c-a819-027c51206bf3.png)

[2021-12-17 12:05] cbjeukendrup commented on #10100
Reproduced it! Both Mac and Win.
So, you basically just need to select one note, then press the Ctrl/Cmd key down and drag the selected note while keeping the Ctrl/Cmd key pressed.

I think the reason for the crash is the following: the mouse press event with the Ctrl/Cmd key pressed causes the note to be deselected, so nothing is selected anymore. Still, the drag event, that follows after the pre

[2021-12-17 12:06] bkunda commented on #10109
It looks so lovely 😍

[2021-12-17 12:09] DmitryArefiev commented on #10109
Cool! Then we can merge it!

[2021-12-17 12:46] #10109 closed

[2021-12-17 13:05] DmitryArefiev commented on #10100
That's really weird.. I still can't reproduce it (Win/Mac)

I'm doing exactly what video shows (press the Ctrl/Cmd key down and drag the selected note while keeping the Ctrl/Cmd key pressed) but still can get a crash..

https://user-images.githubusercontent.com/90187801/146548853-0bb5684a-561b-45cd-800c-d10d08795823.mp4

[2021-12-17 13:15] HemantAntony commented on #10100
Try following these instructions exactly. Don't assume anything. Do it like a robot:
1. Select a note (It has to remain selected). You have to release the click. So, one full click.
2. Hold, but obviously, do not release Ctrl.
3. Click on the same note, but don't release. Do a half click. Just drag.
4. Crash occurs

[2021-12-17 13:18] cbjeukendrup commented on #10100
Oh - one more thing: make sure that you have a Debug build, with asserts enabled. So, for example, a build from a PR or a self-built version. I believe Nightlies are built in Release mode, so they have asserts disabled. As said, this crash is an assertion failure, so that really matters in this case.

[2021-12-17 13:26] #9275 closed

[2021-12-17 13:36] HemantAntony commented on #10123
Yeah, I think you make a good point. Plus, I just now realized that the user themself can change the instrument name. So I will close this issue. Thanks!

[2021-12-17 13:40] DmitryArefiev commented on #10103
Tested on Win10, Mac12, LinuxMint 20.2 - FIXED

[2021-12-17 13:42] #8774 closed

[2021-12-17 13:42] #10036 closed

[2021-12-17 14:29] DmitryArefiev commented on #10105
Tested  on Win10, Mac12, LinuxMint 20.2 - FIXED

[2021-12-17 14:36] #10105 closed

[2021-12-17 17:05] DmitryArefiev commented on #9709
@bkunda Found this doesn't work in MU3.6. Should it work in MU4 anyway?

[2021-12-17 17:37] DmitryArefiev commented on #10100
Thanks! I've tried on master builds/PR builds but with asserts disabled.

I will change summary

[2021-12-17 18:03] DmitryArefiev commented on #10036
Tested on master build (Win10, Mac11, LinuxMint 20) - FIXED

[2021-12-17 18:03] DmitryArefiev commented on #8774
Tested on master build (Win10, Mac11, LinuxMint 20) - FIXED

[2021-12-17 18:06] DmitryArefiev commented on #10036
@bkunda Can you check this in master build please? To make sure I didn't miss anything ;)

[2021-12-18 01:03] wizofaus commented on #10100
Yeah it seems to need to be a FULL debug build (even RelWithDebInfo won't cut it).
I can see that that IF_ASSERT_FAILED is occurring in NotationViewInputController::startDragElements( ) if you hold down CTRL then try to drag a note that was already selected.
As it happens this assert failure seems to be harmless enough and there's no reason to believe it will cause an issue in release builds.

BUT

[2021-12-18 04:29] HemantAntony commented on #10100
So should I close this issue?

[2021-12-18 05:54] wizofaus commented on #10100
No, I think there's a definite usability issue and asserts in debug builds are still annoying for developers running them!  Also would like to get to the bottom of the undo crash.

[2021-12-18 05:57] HemantAntony commented on #10100
Were you able to reproduce the undo crash?

[2021-12-18 09:20] wizofaus commented on #10100
No luck there, tried all sorts of things.  I've certain seen undo trigger crashes in the past, so it's quite possibly unrelated anyway.  Would just like to know for sure, and the code around selecting/dragging is something I did a lot of work on recently so it's not unlikely to be my fault if it crashes!

[2021-12-18 09:21] HemantAntony commented on #10100
The funny thing is that I was able to reproduce the undo crash intially. But after seeing your previous message, I tried to reproduce it again, but couldn't

[2021-12-18 13:22] HemantAntony commented on #9745
I have fixed the issue with replaced instruments needing to be updated in the instruments panel with #10014

[2021-12-18 23:27] cbjeukendrup opened #10128 "[MU4 Task] Clean up the work with `Instruments`, `Parts` and `Excerpts`, their names/titles, and Instrument changes"
**Terms used in the code**
To prevent misunderstandings, let's recall some definitions from earlier discussions. The monospace font indicates that I refer to the term as used in the code, while the normal font is used to refer to daily-life terms that are (or should be) also used in the UI.
- An `Instrument` is a representation of an instance of a physical instrument, like Flute, Piccolo, Violin,

[2021-12-19 12:26] HemantAntony commented on #9726
I have a solution to this issue. But I have no idea why it works. It just works. Maybe this can be a temporary solution?

[2021-12-19 12:28] Jojo-Schmitz commented on #9726
Submit it and we'll see?

[2021-12-19 13:11] cbjeukendrup commented on #10085
My experience:
- On macOS, scrolling feels perfectly natural with the built-in trackpad and with Apple's Magic Mouse 2 (it starts as soon as you start scrolling, and stops as soon as you stop; the scrolling speed is comparable with native macOS apps).
- But with a simple external Logitech mouse, it is indeed a bit problematic. The ease-in-out animations are too slow, so there is always some delay,

[2021-12-19 14:47] sammik commented on #10128
1) `Part` and `Excerpt`
I think, not only `Part` is printed in one or more `Excerpts`, but also parts of `Part` (namely `Voices`) can be printed in one or more `Excerpts`.
(It is now used as workround for exmple in condensed vocal score, I think each voice should be a `Part` itself, not just a `Voice` of `Part`.)

2) Relation between `Part` and `Staff`
`Part` can contain multiple `Staves` (Piano `

[2021-12-19 14:49] njvdberg commented on #10128
First of all, I'm glad this point is brought up again, it is still source of a lot of confusions.

A few remarks:

1. > An `Instrument` is played in only one `Part`
Not sure this is true. E.g. how about the `Part`s "Flute 1" and "Flute 2". Now we have 2 `Part`s with the same `Instrument`. But I might misread the definition of `Instrument`.

2. `Problem 1`
Not sure this is a problem. In my (maybe l

[2021-12-19 19:09] cbjeukendrup commented on #10128
@sammik Thanks, those are indeed two valid points! I do think they should be addressed, but let's work step by step 😃

@njvdberg Thanks for your extensive reply!

1. I believe an `Instrument` represents an _instance_ of a physical instrument. So if you have two Flutes, those are two distinct `Instruments`.
  However, we also have the `InstrumentTemplate` class, which represents a _kind_ of instrum

[2021-12-19 20:06] Tantacrul commented on #10128
I'm alerting @oktophonie, @vpereverzev, @shoogle, @Eism & @RomanPudashkin to this. A bit of Christmas light reading :)

[2021-12-20 04:10] Nick-Mazuk commented on #10036
Looks fixed to me

[2021-12-20 04:21] Nick-Mazuk commented on #10114
PR https://github.com/musescore/MuseScore/pull/10130 adds a style parameter to toggle the beam grid snapping.

[2021-12-20 08:15] #10103 closed

[2021-12-20 09:01] DmitryArefiev commented on #10036
Thanks!

[2021-12-20 10:51] DmitryArefiev opened #10132 "[MU4 Issue] Delete, Cut, Copy, Paste operations are broken"
**Describe the bug**
Delete, Cut, Copy, Paste, Swap with clipboard (and maybe others similar) operations are broken

https://user-images.githubusercontent.com/90187801/146756031-1386ce10-71fe-4d29-8329-6a85802ef9b8.mp4

**Desktop:**
 - OS: all

**Additional context**
Recent builds

[2021-12-20 12:10] igorkorsukov commented on #10120
@DmitryArefiev Please check, PR https://github.com/musescore/MuseScore/pull/10133

[2021-12-20 12:20] HemantAntony commented on #10054
I'm working on this. PR will be coming soon

[2021-12-20 12:42] DmitryArefiev opened #10134 "[MU4 Issue] MU removes line break for second text string when entering text"
MU removes a line break for the second text string when entering text (using Return).
Occurs with all text (Title, Staff text, Figured bass etc.)

https://user-images.githubusercontent.com/90187801/146768661-c081158c-b0a1-4ce9-ab88-55ab01b3b5e5.mp4

**Desktop:**
 - OS: all

[2021-12-20 13:05] igorkorsukov commented on #10132
@DmitryArefiev Please check, PR https://github.com/musescore/MuseScore/pull/10135

[2021-12-20 13:57] #10132 closed

[2021-12-20 16:16] DmitryArefiev opened #10137 "[MU4 Issue] Shortcuts for note/rest durations are not working (1-9 and dot)"
Shortcuts for note durations are not working (numbers and dot)

**To Reproduce**
1. Select note or rest
2. Hit 3 to change duration to 16th note - **it's not working**

**Desktop:**
 - OS: all

**Additional context**
Recent builds

[2021-12-20 16:30] DmitryArefiev opened #10138 "[MU4 Issue] Left, Right keys to move objects are not working"
**Describe the bug**
Left, Right keys to move objects are not working

**To Reproduce**
1. Select text (e.g. Staff text)
2. Move it with left right keys (arrows)  - **MU responds only first key pressing**

**Desktop (please complete the following information):**
 - OS: all

**Additional context**
**Up, Down** keys start to work from a second press
Recent builds

[2021-12-20 18:16] DmitryArefiev commented on #10050
Tested on Win10, Mac12, LinuxMint 20.2 - FIXED (by removing the category)

[2021-12-20 23:40] Nick-Mazuk opened #10139 "[MU4 Issue] Implicit copy constructor for 'BeatsPerSecond' is deprecated"
**Describe the bug**

When building MuseScore from the master branch, you get the following warning many, many times:

[code]

**Desktop (please complete the following information):**
 - OS: macOS 12.1, Apple Silicon

**Additional context**

This is one of two build issues I'm filing today. Currently every build prints 4,500+ lines of output to the terminal, making it nearly impossible to catch an

[2021-12-20 23:44] Nick-Mazuk opened #10140 "[MU4 Issue] 'showEvent' overrides a member function but is not marked 'override'"
**Describe the bug**

When building MuseScore from the master branch, you get the following warning.

[code]

**Desktop (please complete the following information):**
 - OS: macOS 12.1, Apple Silicon

**Additional context**

This is one of two build issues I'm filing today. Currently every build prints 4,500+ lines of output to the terminal, making it nearly impossible to catch and fix these build

[2021-12-21 02:01] HemantAntony commented on #10137
I am working on this

[2021-12-21 07:35] igorkorsukov commented on #10140
Why not just add override?

[2021-12-21 07:44] Jojo-Schmitz commented on #10139
This "missing the tree in the forest" problem is the reason for my decade long fight against compiler warnings ;-)
Fix this one though is beyond my pay grade I'm affraid.

[2021-12-21 07:47] llui85 commented on #10085
I can experience this issue too on Linux with both a touchpad and mouse. This is also an issue with the MU3 palette.

The ideal would be a preference similar to Firefox's "Use smooth scrolling", that disables smooth scrolling/"flicking" across the whole application (is this possible with `Flickable`?). There's a similar complaint in #7657

[2021-12-21 07:56] igorkorsukov commented on #8898
I have a fix for this that ensures when UiActionsRegister::updateShortcuts() gets called ShortcutsRegister::shortcut now adds a shortcut entry there isn't already one. But arguably it would be better to change the ShortcutsModel used by the QML dialog to get the list of actions from the UiActionsRegister (it doens't currently expose an interface for this though).

I believe that we should not add

[2021-12-21 08:00] igorkorsukov commented on #8898
Fixed in some PR )

[2021-12-21 08:01] igorkorsukov commented on #8898
@DmitryArefiev Please check, PR https://github.com/musescore/MuseScore/pull/10141

[2021-12-21 08:11] cbjeukendrup commented on #10139
The fix could be very simple: just delete the explicit assignment operator and it's fine. The idea of this warning is that it wants you to define an explicit copy constructor if you have defined an explicit assignment operator, and vice versa.

I am not completely sure whether we really need the explicit assignment operator. @igorkorsukov What was the reason to add it?

[2021-12-21 08:24] igorkorsukov commented on #10139
I couldn't compile without it.
I will now correct this warning.
Unfortunately, for some reason, I am currently using gcc 7.5, which is quite old, and therefore does not show me these warnings.

[2021-12-21 08:25] Jojo-Schmitz commented on #10139
There's another very frequent warning on Mac:
[code]

[2021-12-21 08:25] igorkorsukov commented on #10139
You can use IDE like QtCreator which will show warnings and errors separately

[2021-12-21 08:26] Jojo-Schmitz commented on #10139
If I uncomment those it compiles just fine in MinGW

[2021-12-21 08:32] cbjeukendrup commented on #10139
I suspect those are caused by ccache. I believe they occur since ccache version 4.4. But maybe it is still our fault, since I can't find anything about it on the internet at all.

[2021-12-21 08:33] igorkorsukov commented on #10139
hmm, now I compiled it too, but I wouldn't add it just like that. I will remove the assignment operator.

[2021-12-21 08:39] Jojo-Schmitz commented on #10139
of course, uncommenting was just to test ;-)

[2021-12-21 08:42] Jojo-Schmitz commented on #10139
See #10142

[2021-12-21 09:18] #10139 closed

[2021-12-21 09:18] #10140 closed

[2021-12-21 12:19] igorkorsukov commented on #10138
@DmitryArefiev Please check, PR https://github.com/musescore/MuseScore/pull/10144

[2021-12-21 13:05] DmitryArefiev opened #10146 "[MU4 Issue] Figured bass: Different font is displayed during entering"
https://user-images.githubusercontent.com/90187801/146934946-54a0e74e-c97f-4da4-84ee-7224b0c84039.mp4

**To Reproduce**
1. Enter figured bass mode (Ctr/Cmd+G)
2. Type 5 and hit Space
3. Type 5 -  **it's displayed with a different font**

**Desktop (please complete the following information):**
 - OS: all

[2021-12-21 13:36] DmitryArefiev commented on #9448
Tested on Win10, Mac12, LinuxMint 20.2 - FIXED

[2021-12-21 13:40] #9448 closed

[2021-12-21 14:13] igorkorsukov commented on #9786
@DmitryArefiev Please check, PR https://github.com/musescore/MuseScore/pull/10147

[2021-12-21 14:30] DmitryArefiev commented on #10134
The similar issue when entering figured bass

https://user-images.githubusercontent.com/90187801/146945844-88e6f33e-b6a7-4b35-ba0b-3fac9b32ca57.mp4

(Should be logged separately if it's not fixed within current bug)

[2021-12-21 14:36] #9041 closed

[2021-12-21 14:38] DmitryArefiev commented on #9709
Tested on Win10, Mac12, LinuxMint 20.2 - FIXED

since it's not available in MU3 will be removed in the next Roman's PR

this is replaced with Ctr+left/right

[2021-12-21 15:00] DmitryArefiev opened #10148 "[MU4 Issue] Crash when changing instruments oder and switching between score and parts"
https://user-images.githubusercontent.com/90187801/146951115-2dd1ac62-d2e2-4c2d-b2be-1f659982d3c9.mp4

**Desktop:**
 - OS: Win/Mac (didn't try on Linux)

[2021-12-21 17:18] #10054 closed

[2021-12-21 17:18] #10050 closed

[2021-12-21 17:19] #9709 closed

[2021-12-21 19:43] DmitryArefiev commented on #9191
Tested on Win10, Mac12, LinuxMint 20.2 - FIXED

[2021-12-22 09:04] #9191 closed

[2021-12-22 09:59] DmitryArefiev commented on #9786
Tested on Win10, Mac12, LinuxMint 20.2 - FIXED

[2021-12-22 10:00] #9786 closed

[2021-12-22 10:46] Eism commented on #9867
@bkunda could it be better to close the popup?

In our project, popups are closed by clicking on the area outside the popup and the button with which the popup was shown.
The fact that we do not close the popup by clicking on the title bar is a bug that needs to be solved.

[2021-12-22 11:30] DmitryArefiev commented on #10148
Tested on Win10, Mac12, LinuxMint 20.2 - FIXED

[2021-12-22 14:24] #10148 closed

[2021-12-22 15:15] DmitryArefiev opened #10155 "[MU4 Issue] Instrument deselects when moving up/down within Instruments panel (in some cases)"
Instrument deselects when moving up/down within Instruments panel if something selected on a stave

https://user-images.githubusercontent.com/90187801/147114289-76fecb79-2f23-4e93-a561-ecfa4c9787ef.mp4

**Desktop (please complete the following information):**
 - OS: all

[2021-12-22 15:42] DmitryArefiev opened #10156 "[MU4 Issue] Selection behavior when creating a score and opening a score should correspond to MU3"
Actual result:
When **creating a new score**, MU selects the first rest in the first bar.
When **opening a recent score**, MU selects the initial barline of the top instrument.

Expected result:
When **creating a new score**, MU selects the first rest in the first bar.
When **opening a score**, MU selects nothing.  But if you press Tab it should select the first note/rest (or initial barline)
(the

[2021-12-22 18:47] DmitryArefiev commented on #9847
Tested on Win10, Mac12, LinuxMint 20.2 - PASS

[2021-12-22 19:14] DmitryArefiev commented on #7773
Tested on Win10, Mac12, LinuxMint 20.2 - FIXED

[2021-12-22 19:14] DmitryArefiev commented on #9643
Tested on Win10, Mac12, LinuxMint 20.2 - FIXED

[2021-12-23 07:47] mattblo commented on #7769
In the latest NightlyBuilds, resetting a palette causes Musescore 4 to crash

[2021-12-23 07:58] #9847 closed

[2021-12-23 08:56] DmitryArefiev commented on #9998
The crash still occurs when
1. Create and open new part in [test_palette.zip](https://github.com/musescore/MuseScore/files/7767966/test_palette.zip)
2. Save and close score
3. Reopen score

https://user-images.githubusercontent.com/90187801/147215179-0ba86ad1-570d-4801-8770-cc6cb9c7a913.mp4

[2021-12-23 11:09] #10083 closed

[2021-12-23 15:28] DmitryArefiev opened #10163 "[MU4 Issue] Reset palette causes a crash"
https://user-images.githubusercontent.com/90187801/147260956-65a18b93-833a-4421-a696-c926632f3da8.mp4

**Desktop:**
 - OS: Win10

[2021-12-23 15:29] DmitryArefiev commented on #7769
Thank for the finding! Can reproduce it. Logged #10163

[2021-12-23 20:56] DmitryArefiev commented on #10137
Tested  on Win10, Mac12, LinuxMint 20.2 - FIXED in #10144 as well

[2021-12-23 20:56] DmitryArefiev commented on #10138
Tested on Win10, Mac12, LinuxMint 20.2 - FIXED

[2021-12-24 08:02] #10138 closed

[2021-12-24 08:25] #7773 closed

[2021-12-24 08:25] #9643 closed

[2021-12-24 09:57] HemantAntony commented on #10076
Hey, when you edit Title, Composer, Subtitle, there is already text there. But, I was thinking if the "text" in it, could be like Lyricist and Copyright. So something like this:

https://user-images.githubusercontent.com/88136054/147342500-88eaa774-c491-42a3-9518-e583e925f4a1.mp4

[2021-12-24 10:17] igorkorsukov commented on #9857
@DmitryArefiev Please check, PR https://github.com/musescore/MuseScore/pull/10165

[2021-12-24 12:15] DmitryArefiev opened #10166 "[MU4 Issue] Score jumps when entering note with mouse because dragging is turned on in Note Input mode"
Score jumps when entering note with mouse because dragging is turned on in Note Input mode

https://user-images.githubusercontent.com/90187801/147351906-e4f1a582-5db6-4257-a96c-a07c171dfd33.mp4

**Desktop:**
 - OS: all

**Additional context**
Recent builds

[2021-12-24 12:27] #9857 closed

[2021-12-24 12:30] Eism commented on #9263
@mattblo @bkunda @DmitryArefiev
can you check PR #9956?

[2021-12-24 12:31] Eism commented on #9658
@exegetor @bkunda @DmitryArefiev
can you check PR #9956?

[2021-12-24 17:43] DmitryArefiev commented on #10085
Hi @bkunda can you check this in build from #10162.

For me it's better now with touchpad, but **with mouse the each one scroll is small**

[2021-12-24 18:03] DmitryArefiev commented on #9712
Tested  on Mac12 - FIXED

[2021-12-24 19:04] DmitryArefiev commented on #9720
Tested on Win10, Mac12, LinuxMint 20.2 - FIXED

[2021-12-24 21:48] Tantacrul opened #10168 "Score jumps when adding a slur or selecting a note"
**Describe the bug**
Another score jumping bug. When the page is a little more to the right of the screen, adding a slur (by clicking on a note and pressing 'S') the score jumps to the left.

**To Reproduce**
Watch video:

https://user-images.githubusercontent.com/21022311/147372920-32684803-dcbe-40e3-b653-a5f1a69e55f8.mp4

You can also see that the score very often jumps when I select a note too.

[2021-12-24 21:48] #9712 closed

[2021-12-24 21:56] Tantacrul commented on #10166
Possibly related: https://github.com/musescore/MuseScore/issues/10168

[2021-12-24 21:58] #9613 closed

[2021-12-24 22:24] Tantacrul opened #10169 "Key shortcut for resizing hairpin not working as MS3. Hairpin visualisation does not update when resized via shorcut."
**Describe the bug**
There is a really important shortcut capability for lines (especially Hairpins) that isn't quite working right for MS4. There is also a visualisation problem where the hairpin connection lines do not update (see video below).

**To Reproduce**
(See video)
1. Apply a hairpin to some notation.
2. Select the hairpin with you mouse
3. Try to use the shortcut (**shift + alt + right

[2021-12-25 19:16] #9050 closed

[2021-12-25 19:25] mattblo commented on #9263
As far as I can tell, the problem is now solved for me!

[2021-12-25 19:25] mattblo commented on #9263
As far as I can tell, the problem is now solved for me!

[2021-12-26 04:43] Howard-C commented on #10076
@HemantAntony I agree with this solution. Does this mean you already implemented the fix?

[2021-12-26 06:37] HemantAntony commented on #10076
I can have the fix ready with a couple of hours. So, the text would be like this:
1. Title: Name of the Score
2. Composer: Name of the Composer
3. Subtitle: Subtitle
4. Lyricist: Name of the Lyricist
5. Copyright: Copyright
Got any suggestions for the text?

[2021-12-26 06:47] Howard-C commented on #10076
Now that I think about it, I find these texts to be completely redundant… Are they really necessary? Aren't "Title", "Composer", "Subtitle", "Lyricist", "Copyright" already self-explanatory?

[2021-12-26 06:49] HemantAntony commented on #10076
Yeah I was thinking about that too. We already know what it is. So just remove the text and keep it blank?

[2021-12-26 06:51] Howard-C commented on #10076
The only good thing about the original implementation, I think, is the "Untitled Score" default value for the "Title" field. Maybe we can keep that and put it the same way as the "Optional" texts, but I really don't find the rest of the texts useful.

[2021-12-26 06:58] HemantAntony commented on #10076
Okay, so I will grey out "Untitled Score" and remove all the other text

[2021-12-26 07:06] Howard-C commented on #10076
This is only my opinion, others might disagree

[2021-12-27 04:16] HemantAntony opened #10171 "[MU4 Issue] Tempo not changed during playback if note duration is not quarter"
**Describe the bug**
When creating score if you were to change the note duration to something else other than a quarter note, say an eighth note, playback does not update the tempo on play (Probably best to watch the video if you don't understand). However, if you were to edit the tempo text, playing the score updates the tempo

**To Reproduce**
Steps to reproduce the behavior:
1. Create a score w

[2021-12-27 04:27] HemantAntony opened #10172 "[MU4 Issue] Closing project should change the window from Score to Home"
**Describe the bug**
In my opinion, when you close a project, the current window should change from Score to Home.

**To Reproduce**
Steps to reproduce the behavior:
1. Create a Score
2. Close it now
3. The current window is still Score

**Expected behavior**
The window should change from Score to Home

**Screenshots**

https://user-images.githubusercontent.com/88136054/147434364-ec3ee7e8-8020-4b2

[2021-12-27 06:51] mattblo commented on #10171
could be related to #9227

[2021-12-27 06:59] HemantAntony commented on #10171
I don't think so. This issue doesn't have much to do with the actual playback. It has to do with the displayed tempo. It correctly converts the tempo (displayed one at least) when you edit the tempo text and displays it when played. But it doesn't when a score is created

[2021-12-27 07:01] HemantAntony commented on #10171
In my opinion, I don't understand why the tempo cannot be updated immediately when the tempo text is changed. It seems better this way.

[2021-12-27 09:03] HemantAntony commented on #9539
I think this issue has been fixed:
![image](https://user-images.githubusercontent.com/88136054/147454882-f3c8d165-628a-469c-8ae6-c084a7af4378.png)
Also, I didn't know what English (GB) was. I have seen English (UK) more

[2021-12-27 11:58] DmitryArefiev commented on #9856
Tested on Win10, Mac12, LinuxMint 20.2 - FIXED

[2021-12-27 12:00] #9720 closed

[2021-12-27 12:34] igorkorsukov commented on #10166
@DmitryArefiev Please check, PR https://github.com/musescore/MuseScore/pull/10177

[2021-12-27 13:19] #9856 closed

[2021-12-27 13:28] #9710 closed

[2021-12-27 13:33] DmitryArefiev opened #10178 "[MU4 Issue] Unable to enter Sticking/Fingering text"
![01](https://user-images.githubusercontent.com/90187801/147476634-ab86431a-946e-4ae8-ad47-ce3c554a8bda.png)

**Desktop:**
 - OS: Win/Lin

**Additional context**
Add any other context about the problem here.

[2021-12-27 13:38] igorkorsukov commented on #10163
@DmitryArefiev Please check, PR https://github.com/musescore/MuseScore/pull/10179
I fixed a bug that was causing the crash.
But it seems that the function of pallets reset itself works very strangely, if there are errors, I propose to log them separately, with the corresponding priorities.

[2021-12-27 13:54] #9311 closed

[2021-12-27 13:54] #8090 closed

[2021-12-27 13:54] #9312 closed

[2021-12-27 13:54] #9918 closed

[2021-12-27 15:16] DmitryArefiev opened #10181 "[MU4 Issue] Alt + F and other shortcuts to invoke menu bar should work with Russian keyboard layout as well"
**Describe the bug**
Alt + F and other shortcuts to invoke menu bar should work with Russian keyboard layout as well (like it works in Firefox)

**To Reproduce**
1. Switch to Russian keyboard Layout
2. Press Alt+F - **it should open File menu**

**Desktop:**
 - OS: Windows

**Additional context**
Works in **MU3**

[2021-12-27 16:14] DmitryArefiev commented on #10163
@igorkorsukov I've tested on Win/Mac and found some strange behavior now:

1. Reset Palette action **hides palette** instead of resetting it
2. If some elements are deleted, Reset Palette action **still crashes MU**

Please see video

https://user-images.githubusercontent.com/90187801/147489142-f07fc924-18e2-45ec-b3da-9b8433851fca.mp4

[2021-12-27 16:40] DmitryArefiev commented on #10166
Tested #10177 on Win10, LinuxMint 20.2 - FIXED

[2021-12-27 16:42] DmitryArefiev commented on #10166
Looks like it's different because not fixed with the current PR

[2021-12-27 18:01] DmitryArefiev commented on #9710
Tested on latest master build (Win10, Mac12, LinuxMint 20.2) - FIXED

[2021-12-27 18:26] DmitryArefiev commented on #10178
Tested in latest master build (Win10, Mac12, LinuxMint 20.2) - NO LONGER OCCURS

Closing

[2021-12-27 18:26] #10178 closed

[2021-12-27 18:43] DmitryArefiev commented on #8159
Tested in latest master build (Win10, Mac12, LinuxMint 20.2)

- Close command (after opening score) - FIXED
- Esc key (to deselect etc., and in general to close dialogs etc.) - FIXED
- Cursor keys (including, e.g., Shift+Ctrl+up/down, to move notes to other staves for cross-staff beaming) - FIXED
- Del & backspace key - FIXED

Closing

@wizofaus  Please recheck in latest master. It should be fixed

[2021-12-27 18:43] #8159 closed

[2021-12-27 19:56] DmitryArefiev commented on #10076
Hi @HemantAntony , Checked on Windows. It looks good and the initial bug is fixed. Thanks!
But **Composer** and **Subtitle** fields should not be empty. That was by design.. Could you return that back please for now?

![Capture](https://user-images.githubusercontent.com/90187801/147503249-36d6d21a-182f-470e-a2c2-fdcec70d68c4.PNG)

[2021-12-27 20:04] #10137 closed

[2021-12-27 21:26] cbjeukendrup opened #10183 "[MU4 Issue] "Update translations" button in "Preferences > General" leaves settings in inconsistent state"
**Describe the bug**
In Preferences > General, there is a button called "Update translations" that closes the preferences dialog and opens the Languages page.

When closing the preferences dialog, this button does not apply the changed settings, but also does not cancel them, leaving the app settings in "transaction mode". This may cause strange behaviour, like settings not being saved after closi

[2021-12-27 23:15] wizofaus commented on #10168
Probably not the same problem, but it may be related to something I'd looked into whereby the scroll position tries to ensure all selected elements are in view, but in some cases the selected elements include lines like slurs or hairpins etc. that have invalid bounding rectangles.  But that problem only occurred when selecting a range (e.g. a measure) that happened to include a line object.

[2021-12-28 06:06] Howard-C opened #10186 "[MU4 Issue] Crash when changing the scale of a time signature"
**Describe the bug**
Crash when changing the scale of a time signature.

**To Reproduce**
Steps to reproduce the behavior:
1. Select a time signature and attempt to adjust its scale in Properties
2. It crashes

**Expected behavior**
It shouldn't crash

**Desktop (please complete the following information):**
 - OS: Windows 11

[2021-12-28 07:49] #10166 closed

[2021-12-28 07:53] mattblo commented on #9292
This problem has now been solved! But I noticed that the scale value for certain palettes doesn't change anything, like in "grace notes", "repeats & jumps" and "Beam properties".

[2021-12-28 07:57] mattblo commented on #9884
In the current NightlyBuilds it is also enough to deactivate a plugin and activate it again (at the latest after three times MU4 always crashed for me)

[2021-12-28 08:04] mattblo commented on #9772
This also happens to me with the MeldaPlugins

[2021-12-28 08:45] #10186 closed

[2021-12-28 10:53] DmitryArefiev commented on #8898
Tested #10141 on Win10, Mac12, LinuxMint 20.2 - FIXED

Please merge into master

[2021-12-28 10:54] DmitryArefiev commented on #8898
@wizofaus @bkunda Please check this in master when you have time (just to be sure I didn't missed anything)

Thanks!

[2021-12-28 11:55] DmitryArefiev commented on #9998
Tested on Win10, Mac12, LinuxMint 20.2 - FIXED

[2021-12-28 12:25] DmitryArefiev commented on #10026
Tested #10026 on Mac12 - FIXED

Please merge into master

[2021-12-28 12:26] #10026 closed

[2021-12-28 12:47] DmitryArefiev commented on #10076
@HemantAntony Thanks for fixing that! All good now!

Tested on Win10, Mac12, LinuxMint 20.2 - PASS

[2021-12-28 13:13] njvdberg opened #10189 "[MU4 Issue] Auto save overwrites existing score"
**Describe the bug**
Auto save saves **into** the existing score instead a dedicated backup score

**To Reproduce**
Steps to reproduce the behavior:
1. Open any existing score.
2. Make any change (adding/changing note, whatever). Now the score is marked with an star.
3. Wait until auto-save kicks in.
4. Now the star is gone, indicating the score is saved. This shouldn't happen!
5. Close the score

[2021-12-28 13:45] igorkorsukov commented on #10163
@DmitryArefiev Now it should be fixed! Please, check.

[2021-12-28 13:48] Eism commented on #10183
Nice catch, @cbjeukendrup

[2021-12-28 14:42] HemantAntony commented on #10155
When I was trying to solve an issue, I encountered something similar when tried to use the isSelected() function of an item in a specific way. However, I found out that the item works as usual. But it just doesn't get highlighted

[2021-12-28 20:45] wizofaus commented on #10189
If saving was 100% reliable and the undo history was maintained, I wouldn't have an issue with it auto-saving over the existing file (after all, IDEs typically do that - every time you execute your code it auto-saves it).  But I do think users typically expect to be able to experiment with changes they don't intend to preserve, and certainly you should never lose work via auto-save, which you can

[2021-12-28 20:49] DmitryArefiev commented on #10163
@igorkorsukov I've checked on Win/Mac but still **can reproduce the crash**

https://user-images.githubusercontent.com/90187801/147605989-888b152c-73a4-4970-97f3-77f9e0b28a68.mp4

[2021-12-28 23:06] wizofaus commented on #8962
![image](https://user-images.githubusercontent.com/5364225/147613493-d96cfb47-e78f-41e1-a670-18bdc42afd05.png)

This is the latest version.  For the given new font size, the gap from the top of the menu text to the top of the windows look OK but - but I'm not sure I'm a fan of having so many font sizes and in particular such a tiny font for the menu.
But if this is the intended design, then I gues

[2021-12-28 23:17] wizofaus commented on #9311
Note that while the & no longer appear, the underscores that do appear when you press ALT (on Windows) seem too close to the text:
![image](https://user-images.githubusercontent.com/5364225/147613903-471b4543-ce7a-40fc-967c-f1e9b7c8e55b.png)

Also other than the top level menus, the only commands that seem to show accelerators are ones that open out submenus ("File|Open Recent", "View|Toolbars", "

[2021-12-28 23:30] Tantacrul commented on #8962
I've not seen this on Windows, but that font should be the same as most other file menus on Windows, using 12pt

[2021-12-29 04:42] VaibhavAher219 commented on #10019
Sir i am looking forward to solve to this issue this might be my first contribution can you please elaborate and guide on how to do this

[2021-12-29 05:43] HemantAntony commented on #7968
This appears to be fixed

[2021-12-29 07:05] Eism commented on #8962
@wizofaus thanks!
fixed in #10191

[2021-12-29 07:08] HemantAntony commented on #8836
For me, the resize works on all pages and the handle looks good too. So, I think this issue is fixed

[2021-12-29 07:15] HemantAntony commented on #8880
This appears to be fixed:

https://user-images.githubusercontent.com/88136054/147636783-7e452631-7283-4670-8ae1-0cb104ce4691.mp4

[2021-12-29 07:23] Eism commented on #9311
@wizofaus

Yes, you are right. Thanks
Need to open an issue on porting ampersands from MU3. @DmitryArefiev for you

[2021-12-29 07:30] HemantAntony opened #10192 "[MU4 Issue] Zoom in doesn't work with Ctrl + + but does with Ctrl + Shift + +"
**Describe the bug**
If you were to use the shortcut Ctrl + +, it wouldn't zoom in. However, if you used Ctrl + Shift + +, it works.

**To Reproduce**
Steps to reproduce the behavior:
1. Create a Score
2. Use the shortcut Ctrl + + (as in Hold Ctrl and the Equal Buttons)
3. It does not work
4. Now do the same thing with Ctrl + Shift + +, it works

**Expected behavior**
Ctrl + + should zoom in simil

[2021-12-29 07:42] HemantAntony commented on #10192
I'm working on this

[2021-12-29 08:03] DmitryArefiev commented on #9658
I've tested #9956 on **Win10** with laptop display (1920x1080) 150% and monitor (1920x1080) 175% - it's **better now** only the **part of View menu still placed on the second display**

<img width="960" alt="2 displays" src="https://user-images.githubusercontent.com/90187801/147640013-69bba135-0ae4-4618-a283-52d0121f06dd.png">

@bkunda Need your help to check it on your environment

[2021-12-29 08:12] DmitryArefiev commented on #9929
Tested #9956 on Win10, laptop with **FullHD** display  - now MU also changes scaling when switching to **125%**

[2021-12-29 08:14] DmitryArefiev commented on #9929
@bkunda Would be good to check this on a large display and Win11 as well. Thanks!

[2021-12-29 08:27] DmitryArefiev commented on #9263
@mattblo Thanks!

@Eism Tested on laptop with FullHD display  (Win10). On my side all good now on **100%** and **125%**, but it **still not perfect on 150%**. Please see the video

https://user-images.githubusercontent.com/90187801/147642111-58fbdba5-6206-491b-acdf-2131fbf1dc87.mp4

I can log it separately if you want

[2021-12-29 10:40] njvdberg opened #10195 "[MU4 Issue] Changing score order using the instruments panel doesn't change instrument order"
**Describe the bug**
A short and clear description of what the bug is.

**To Reproduce**
Steps to reproduce the behavior:
1. Open a score
2. On the `Instruments` panel select a score order (using `...` -> `Instrument ordering` -> )
3. Now the selected score order is saved into the score but the instrument order is not changed accordingly.

**Expected behavior**
If a new new score order is selected

[2021-12-29 10:41] njvdberg commented on #10195
This is related with I'm working on already so I will look at this one too.

[2021-12-29 13:18] cbjeukendrup commented on #10181
I'm afraid this can be difficult to solve. Qt's shortcuts system is character-based, rather than key-based. So if you press `Alt` + `F` with a Russian keyboard layout, Qt will interpret this as `Alt` + `а` (at least, that is the character it produces for me when I type an `F` with a Russian keyboard layout).
This causes problems in many Qt apps, and I'm not sure whether workarounds exist.

[2021-12-29 14:16] #10118 closed

[2021-12-29 14:20] #9998 closed

[2021-12-29 14:27] Eism commented on #10181
Btw, It works on a lot of app in Linux like Qt Creator, Slack, Git Craken and I think we need to implement it in priority because it is a real headache for users who are switching between languages often.
Just need to do more research

[2021-12-29 15:06] #9900 closed

[2021-12-29 15:06] #10046 closed

[2021-12-29 15:24] #9392 closed

[2021-12-29 21:25] dxing97 opened #10201 "[MU4 Issue] Navigator causes excessive lag when opening large scores on macOS"
**Describe the bug**
If the navigator is open on a score with many measures, parts, and/or notes, the frame rate drops significantly and scrolling across the score becomes difficult. If the score is large/complex enough, it can become unusably slow.

**To Reproduce**
Steps to reproduce the behavior:
1. Create a new score using the Orchestral -> Symphony Orchestra template
2. Click on Add->Measures

[2021-12-29 23:11] Nick-Mazuk opened #10202 "[MU4 Issue] Saving causes zoom to go to 100%"
**Describe the bug**

When saving with the keyboard shortcut `⌘S`, the screen zooms to 100%, regardless of the current zoom level.

**To Reproduce**
Steps to reproduce the behavior:
1. Zoom on the score to anything aside from 100% (doesn't matter how, either using the icons, the menu bar, pinch to zoom, or `⌘+` and `⌘-`)
2. Use the keyboard shortcut `⌘S` to save the file
3. The zoom level changes

[2021-12-30 04:31] HemantAntony commented on #10202
Yeah, I can reproduce this on Windows 11. I'm working on this

[2021-12-30 09:40] DmitryArefiev commented on #9143
The same with Ctr/Cmd+mouse scroll

[2022-01-02 22:54] wizofaus commented on #9670
I'd been looking at this one, but in fact having the behaviour of it creating a whole new score potentially makes it harder.  I did get about 75% of the way through getting it working within the same score, but was having issues with undo (which is critical), annoyingly now I can't find the branch I'd done it on!

[2022-01-03 16:32] #10023 closed

[2022-01-04 01:25] Nick-Mazuk opened #10205 "[MU4 Issue] Beamlets (fractional beams) go in the wrong direction"
**Describe the bug**

The vtests for beams-11.musx are currently wrong. Specifically, the first beamlet in each of the bottom two measures should face the other direction.

<img width="509" alt="Screen Shot 2022-01-03 at 5 16 28 PM" src="https://user-images.githubusercontent.com/5659171/147997032-a1509c53-3f90-4b6a-9094-4e394ef747f8.png">

**Expected behavior**

MuseScore 3 currently renders the b

[2022-01-04 05:43] oktophonie commented on #10205
Actually in the MU3 example the first bar is 'correct', the second is not. (In the MU4 example it's the other way round, whether by accident or design...)

[2022-01-04 06:22] bkunda commented on #8898
@DmitryArefiev I've had a look at this and it now seems to work as expected. Looking good from my end 👍🏻

[2022-01-04 06:47] bkunda commented on #8836
Agreed @HemantAntony, this does seem to be fixed now. Closing this issue.

[2022-01-04 06:47] #8836 closed

[2022-01-04 07:05] wizofaus commented on #8898
Nope, still seems to be quite broken...

[2022-01-04 07:23] bkunda commented on #8898
Clarification: I checked out #10141, which seems to be working correctly (at least on Mac; I am currently unable to access my Windows machine so cannot verify anything there).

I also wonder whether the issue you've spotted @wizofaus is on Windows only. This is what I see on MacOS (which seems to be correct):

<img width="601" alt="Screenshot 2022-01-04 at 6 22 11 pm" src="https://user-images.gith

[2022-01-04 07:44] bkunda commented on #9867
If clicking on the title bar **should** close a popup (by design), then yes, I agree it would make sense for popups to close when the project window is moved.

I can't put my hands on the original design spec at the moment, but I know it was @Tantacrul's design. That being said, I'm not actually opposed to the idea of the popups remaining open when the project window is moved, particularly as some

[2022-01-04 07:53] bkunda commented on #10036
Ditto from me.

[2022-01-04 19:21] DmitryArefiev opened #10208 "[MU4 Issue] When entering notes with keyboard, mouse cursor should not show a note symbol (MU3 missing functionality)"
**To Reproduce**
1. Click empty bar
2. Start to Input Notes with keyboard
3. Notice mouse cursor shows a note symbol - **it should not show a note symbol** because there are no any movements of mouse cursor. **It should show a note symbol when you start to move the mouse** (**it should work like in MU3**)

https://user-images.githubusercontent.com/90187801/148112118-ca07ea08-e551-4f0c-bcd5-1c98c0c

[2022-01-04 20:04] Tantacrul opened #10209 "When adding slurs in MS4, you cannot use Keyboard shortcuts to extend / contract them as with MS3"
**Describe the bug**
The desired functionality was actually working in MS4 until a few days ago. I was away on holiday so didn't notice exactly when this happened. Basically, if you create a slur (I'm doing this by pressing 'S' in the attached video), you should be able to extend / contract it immediately using the shortcuts: **Shift+Command+Left/Right arrow** or **Shift+Alt+Left/Right arrow**.

T

[2022-01-04 20:26] wizofaus commented on #9343
I'll have a look at this one.

[2022-01-04 21:12] wizofaus commented on #9343
BTW the specific issue is that the elements that are *selected* should always been drawn over the top of elements that aren't, which is a relatively easy fix.
But what voice is the "current" voice actually has nothing to do with it - that's only relevant in "note input" mode for the voice used for newly added notes.
Having said that, I'd agree there is a usability issue that there should be an eas

[2022-01-05 04:56] wizofaus commented on #10209
I believe https://github.com/musescore/MuseScore/pull/10185 fixes this (was reported as https://github.com/musescore/MuseScore/issues/9902)

[2022-01-05 08:40] Srijan-Chak012 commented on #9841
Hi! Can I try this issue out?

[2022-01-05 08:44] bkunda commented on #9841
Please do, @Srijan-Chak012! Many thanks in advance 🙏🏻

[2022-01-05 09:05] Srijan-Chak012 commented on #9841
Hey! the issue is not reproducable in my linux system though. Only the second problem described, the ones where the height from the box can be changed only after clicking the handle, seems to occur in linux. I hae attached a video on how it shows up on linux

https://user-images.githubusercontent.com/76106446/148190516-87a7f7ba-bbbb-41c6-ba37-d54864b8b88c.mp4

[2022-01-05 09:54] bkunda commented on #9841
Interesting. I've just tested again in MacOS and it seems that vertical frames inserted as part of a template file (or indeed, as part of any new file) seem to adjust correctly from the Properties panel, but new vertical text frames don't (they require the grip handle to be moved before the text field becomes active).

![text-frame-resize](https://user-images.githubusercontent.com/86290556/1481977

[2022-01-05 12:01] jessjwilliamson opened #10213 "[MU4 Issue] Home tab side bar has reduced width when first opened."
**Describe the bug**
When first open Musescore the sidebar doesn't expand to its full width. This would have to be fixed by stretching it out.

Also note: The design of the sidebar should change when in narrow mode - Issue related to this from @bkunda https://github.com/musescore/MuseScore/issues/9488

https://user-images.githubusercontent.com/71656189/148214200-6ca9fb37-e63f-4a74-8799-4a24a12374e

[2022-01-05 12:29] jessjwilliamson opened #10214 "[MU4 Issue] Incorrect font in app menu"
**Describe the bug**
@Eism and I have discussed this previously.
Turns out it is being 'MS Shell Dlg 2' (almost looks like Verdana!) in Qt for Windows instead of 'Segoe UI' which is what it should be.

Currently (MS Shell Dlg 2):
![image](https://user-images.githubusercontent.com/71656189/148217643-994a3c13-f19a-46c0-92a6-24721a48cca7.png)

Should be looking like this (Segoe UI):
![image](https://

[2022-01-06 05:42] MintMain21 opened #10215 "[MU4 Issue] Appimage will freeze upon first use if "no telemetry" is selected."
**Describe the bug**
When I download an Appimage for the first time, a dialogue box pops up asking if I want telemetry on of off. Every time I selected off, the app froze and I had to kill it with the system monitor. I tried older appimage releases to see if they resolved the bug, until at one I decided to just say "yes" and see what happened. The app actually ran, and I was free to disable teleme

[2022-01-06 05:52] bkunda commented on #9745
Thanks for this @HemantAntony!
A quick question: is there a reason you didn't set the name in the instruments panel to follow the main score name, rather than the part score name (Point 2 above)? It's not a major issue, but I think it would make more sense if the instrument panel name followed the instrument name in the main score rather than the part, as this is what users will be primarily worki

[2022-01-06 06:38] bkunda commented on #10085
Hi @DmitryArefiev, I have just returned from holidays and have now had a chance to look into this (thanks for your patience 🙂).

I agree with you that mouse scroll is now a bit too slow (especially when I compare it to other apps). Touch pad seems to work better.

There seems to be an extra issue for me on Windows, which is that the scroll continues for too long even after the touching the trackpa

[2022-01-06 07:01] bkunda commented on #9929
@DmitryArefiev I've checked this on my system and scaling now appears wonderfully incremental. Fixed from my end 🙂

[2022-01-06 07:01] bkunda commented on #9658
@DmitryArefiev I can reproduce the problem you have found with the View menu. Other menus appear to be drawn correctly.

[2022-01-06 07:03] bkunda commented on #9263
This is solved for me also. I was unable to reproduce the issue @DmitryArefiev found above.

[2022-01-06 07:30] Srijan-Chak012 commented on #10213
So I tried to replicate this issue on Linux, seems to me that the width of the sidebar depends on the previous width set by the user.  For a further explanation, I have attached a video showing how it works on my system

https://user-images.githubusercontent.com/76106446/148345591-7435f34e-d973-4647-a4b7-91c4f62f2f89.mp4

[2022-01-06 09:40] llui85 commented on #10085
@DmitryArefiev I also tested this (but forgot to post a comment until bkunda's comment), and think that it's somewhat better for the touchpad, but still a bit too sensitive. I agree with @bkunda - mouse scrolling is still much too sensitive as well.

___

The main issue I'm finding is that unlike the other applications (which uses GTK), the touchpad scrolling has a fixed velocity; in GTK the scrol

[2022-01-06 09:55] HemantAntony commented on #9745
I was trying mainly to solve the updating the instrument name part of the issue since there were like three issues related to that. But afterwards, I did try to solve this, I couldn't. But again, it was 3 weeks ago, I have learned a lot since then. So, I will look into this again

[2022-01-06 11:06] bkunda commented on #9745
Wonderful. Sounds good @HemantAntony. Good luck!

[2022-01-06 11:12] bkunda commented on #10213
@jessjwilliamson, if you select `Preferences` > `Reset Preferences`, then restart MuseScore, what width does the sidebar take?

On my system it shows at what I *think* is the correct width. But the issues of resizing it still remain.

[2022-01-06 11:26] jessjwilliamson commented on #10213
Ah, that did the trick. The weirdest thing is before I resetted it, every time I was opening musescore the sidebar was reduced and I had to drag it out every single time as it was so annoying! Strange...

[2022-01-06 12:50] bkunda commented on #10213
All good then. I think it probably makes sense for the sidebar to remember its last set width (especially if the user has deliberately chosen to reduce it to its narrow version). With this in mind – and unless I'm mistaken – there doesn't seem to be anything left in this issue. If you agree @jessjwilliamson then feel free to close it 🙂

[2022-01-06 17:01] VanSHOE commented on #10163
Does the PR solve the issue now?

[2022-01-07 00:11] Nick-Mazuk opened #10217 "[MU4 Issue] Grace note sits vertically above rest"
**Describe the bug**

Grace notes should always come after rests horizontally—even if aligning them vertically doesn't create a collision.

Current

<img width="233" alt="Screen Shot 2022-01-06 at 4 10 38 PM" src="https://user-images.githubusercontent.com/5659171/148470141-7c437395-1341-4ac0-89a9-26c1353812fd.png">

Desired

<img width="232" alt="Screen Shot 2022-01-06 at 4 11 41 PM" src="https://

[2022-01-07 00:30] llui85 opened #10218 "[MU4 Issue] Black flash when displaying tooltips and menus on Linux"
**Describe the bug**
Before tooltips and menus are displayed on Linux, there is a very jarring black flash. This is especially noticeable when switching between menus.

**To Reproduce**
Steps to reproduce the behavior:
1. Open a toolbar menu, context menu, or trigger a tooltip.
2. Observe the black flash shown before the menu appears.

**Expected behavior**
That the menu should immediately appear

[2022-01-07 00:56] llui85 opened #10219 "[MU4 Issue] Menus can't be quickly dragged open"
**Describe the bug**
In MU3, menus can be "clicked-and-dragged" to select an item in one fluid movement; this behaviour is standard in practically all software. This is currently not possible in MU4.

**To Reproduce**
Steps to reproduce the behavior:
1. Attempt to "click-and-drag" to select a menu item in either the toolbar or right-click menu.
2. Observe that the menu does not open until the mous

[2022-01-07 04:52] llui85 commented on #10085
See also various discussions on the forums (re the 3.3 palette):

- https://musescore.org/en/node/318628
- https://musescore.org/en/node/299776
- https://musescore.org/en/node/294613
- https://musescore.org/en/node/318628

[2022-01-07 05:14] Nick-Mazuk opened #10220 "[MU4 Issue] Beam breaks"
**Describe the bug**

According to the [MuseScore 3 handbook](https://musescore.org/en/handbook/3/time-signatures#change-default-beaming), you should be able to change the default beaming for a time signature. This does not seem to be working right now.

**To Reproduce**
Steps to reproduce the behavior:
1. Go to the Time Signatures palette
2. Click "More"
3. Click "Create time signature"
4. As des

[2022-01-07 07:37] HemantAntony commented on #9745
I actually managed to fix this: #10221

[2022-01-07 08:21] oktophonie commented on #10217
(See also: #9868)

[2022-01-07 09:27] bkunda opened #10222 "[MU4 Issue] Text items from `+` menu don't recognise keystrokes; causes crash after repeated attempts"
**Describe the bug**
Text items from the `+` menu aren't recognising keystrokes:

![Add-menu-text-items](https://user-images.githubusercontent.com/86290556/148522021-baa8d237-1901-493f-a83d-840cfd73d0cf.gif)

Making repeated attempts at this causes MuseScore to crash:

![crash-add-menu-item](https://user-images.githubusercontent.com/86290556/148522074-4a57cbf4-699f-47ca-84e6-794531db2f3f.gif)

**E

[2022-01-07 09:39] bkunda opened #10223 "[MU4 Issue] `Save selection...` does nothing"
**Describe the bug**
`Save selection...` doesn't save a file. Seems to perform no function.
This is currently working in 3.6, so it seems it might be a regression in MS4.

**To Reproduce**
Steps to reproduce the behavior:
1. Open or create a new score containing some engraved elements
2. Select a range of music (e.g. a few bars)
3. Select `File`>`Save selection...`
4. Choose your destination file

[2022-01-07 09:57] bkunda commented on #9745
Many thanks @HemantAntony!

[2022-01-07 10:32] HemantAntony commented on #10222
Interesting, when I just opened the score (without clicking on anything afterwards), I could create a lyrics text by using the shortcut

[2022-01-07 10:36] bkunda commented on #10222
Keyboard shortcuts seems to work fine. It's inserting text items from the actual "+" menu item that don't work correctly.

[2022-01-07 10:40] HemantAntony commented on #10222
I'm not exactly sure, but this appears to be a context problem. I will take a look at this. The fix looks easy

[2022-01-07 11:56] cbjeukendrup commented on #10085
Palettes have an additional problem. They make use of the QML ListView component. That component only loads the list items that are currently in the viewable area; items that are scrolled out of view are destroyed (to save memory) and will be recreated when they will get into the view again.

Because not all items are loaded at a time, the total height of the scrollable area cannot be calculated.

[2022-01-08 21:26] shoogle commented on #9343
In MuseScore 3 this is done by holding Ctrl and repeated clicking on the notehead until the one you want is selected. This works regardless of how many notes are overlapping from different voices: just keep Ctrl+clicking until you get the one you want.

Ctrl+click is also used to select other objects that overlap, such as to select a text frame behind the text inside the frame.

[2022-01-09 10:04] nanu1605 commented on #9381
@Nick-Mazuk @RomanPudashkin  Hi, I am pretty new to open source but would love to work on this issue. Could you please help me with the issue more.

[2022-01-09 10:27] nanu1605 commented on #9356
@vshalkevich @RomanPudashkin  Hi, I am pretty new to open source but would love to work on this issue. Could you please help me with the issue more.

[2022-01-09 10:27] nanu1605 commented on #8241
@njvdberg @RomanPudashkin  Hi, I am pretty new to open source but would love to work on this issue. Could you please help me with the issue more.

[2022-01-09 10:28] nanu1605 commented on #9220
@DmitryArefiev @RomanPudashkin @vpereverzev  Hi, I am pretty new to open source but would love to work on this issue. Could you please help me with the issue more.

[2022-01-09 10:43] cbjeukendrup commented on #9220
These theme icons are ultimately displayed in ThemeSamplesList.qml. Maybe you can track down yourself where the data for that component comes from.
<details><summary>Hint</summary>
Search in the code where ThemeSamplesList is used, and look how the data is injected into the component.
<details><summary>One more hint</summary>
You will find that they are used in ThemesPage.qml (for the "Welcome to

[2022-01-09 10:59] cbjeukendrup commented on #8241
@nanu1605 The relevant code is at the top of the method `AppMenuModel::setupConnections()`; at least, looking at that method will guide you to the source of the recent files list.
<details><summary>Hint</summary>
... which will be in `RecentProjectsProvider::recentProjectList()`.
</details>

[2022-01-09 21:28] abdulazizali77 commented on #9892
hi @bkunda id like to take a shot at this, had a cursory glance at the code, and im guessing i have to do these
-add new enums eg `ActionIconType BEAM_END`, `BeamMode END`
-add the new icon in `iconcodes.h` as 0xF33C and init in `palettecreator.cpp` `BeamTypeSelector.qml`
-handle/modify logic in `layoutBeams.cpp` `createBeams`
-register action in `notationactioncontroller.cpp`
-handle action inter

[2022-01-09 21:34] wizofaus commented on #9343
Ah, I didn't know that, and in fact I've confirmed that's not been implemented in MS 4.  Will log.

[2022-01-09 21:38] wizofaus opened #10225 "[MU4 Issue] Ctrl+click doesn't cycle between items in z-order"
**Describe the bug**
In MuseScore 3, ctrl + left mouse button click can be used to select items that overlap each other (e.g. unison notes in different voices etc.).  This functionality is not implemented in MuseScore 4.

**To Reproduce**
Steps to reproduce the behavior:
1. Create a new score
2. Add a 1/4 note A in voice 1 and a 1/4 note A in voice 2 such that they overlap.
3. Click on the A, and

[2022-01-09 22:04] wizofaus commented on #10208
As far as I can tell the mouse cursor only changes to a note symbol after entering the 2nd note with the keyboard, and that makes sense because at that point clicking the mouse button does in fact add a note at the position the mouse cursor is.  If anything I would suggest it's v3.6 that's wrong here, as the mouse cursor doesn't change to indicate that the action of clicking will add a note.

[2022-01-10 07:26] cbjeukendrup commented on #9892
@abdulazizali77 Looks like you've done a very good job researching!

About your doubts,  would suggest the following:
- The icon shows a 16th note, but I think this should apply for all note values and all beam levels. So, pressing that button will let all beams end at the selected note. I absolutely agree that the other settings are very inconsistent reg. note values; I think it would be a separa

[2022-01-10 07:47] abdulazizali77 commented on #9892
thanks @cbjeukendrup , should i pick this up or shall i leave it to @vpereverzev ?

looking at the alpha release board i see more engraving related bugs eg force horizontal, and i did find other bugs which im not sure where the tracker is ie gripping the beam in MU4 but it wouldnt move as compared to MU3, im wondering if someone(s) is(are) working on a larger overarching redesign of the notes plac

[2022-01-10 07:58] cbjeukendrup commented on #9892
It would be great if you'd like to work on this! (Since this is a community issue and not listed for any sprint, I don't think anyone from the in-house team is working on it.)

Indeed, @Nick-Mazuk is in the process of refactoring the beaming code. But since you would work mainly with `LayoutBeams::createBeams`, which seems not _very_ closely related with the work Nick is doing, I wouldn't really e

[2022-01-10 08:06] cbjeukendrup commented on #10215
MuseScore 4 (which will be the next release) won't have telemetry anymore, so I think this is not applicable anymore and can be closed 🙂

[2022-01-10 09:44] igorkorsukov commented on #10163
Not yet, 2 out of 3 problems solved, I'm figuring out what else is wrong

[2022-01-10 09:52] DmitryArefiev commented on #10107
Tested #10107 on Win10, Mac12, LinuxMint 20.2 - FIXED

[2022-01-10 10:12] DmitryArefiev commented on #10022
Tested on Win10, Mac12, LinuxMint 20.2 - PASS

[2022-01-10 10:13] #10022 closed

[2022-01-10 10:16] #10107 closed

[2022-01-10 10:17] RomanPudashkin commented on #9729
fixed in https://github.com/musescore/MuseScore/pull/10126

[2022-01-10 10:17] #9729 closed

[2022-01-10 10:25] igorkorsukov commented on #10163
@DmitryArefiev I found trouble and fixed it, please check

[2022-01-10 10:55] DmitryArefiev opened #10227 "[MU4 Issue] App window is blinking when editing text"
https://user-images.githubusercontent.com/90187801/148754363-c84e2f93-5819-42aa-9ad1-e15b39b9cc40.mp4

**Desktop (please complete the following information):**
 - OS:

[2022-01-10 11:18] cbjeukendrup commented on #10156
Maybe a good first issue.
I think the desired behaviour is selecting the first note or rest, like when creating a new score.

<details><summary>Hint</summary>
Start by looking at `NewScoreModel::createScore` (which is called in NewScoreDialog.qml), and `NotationPaintView::selectOnNavigationActive`.
</details>

[2022-01-10 11:27] igorkorsukov commented on #9995
@DmitryArefiev I can`t reproduce it seems to be fixed, please check

[2022-01-10 11:41] shoogle opened #10228 "[MU4 Issue] [Accessibility] Range Selections are not spoken by screen readers"
**Describe the bug**
When a range of notes is selected, the screen reader should say "Range Selection" followed by the start and end location in terms of bars and beats similar to that displayed in the Status Bar at the bottom of the screen.

![image](https://user-images.githubusercontent.com/11011881/148757626-a5eedc3f-a2e0-4aca-a5d5-1fa58204a14b.png)

Here the screen reader should say _"Range se

[2022-01-10 13:48] bkunda commented on #9892
Hi @abdulazizali77, thanks so much for taking this on! To confirm what @cbjeukendrup said (he is correct), the 16th-note `begin` (and the new end beam icon), like the 8th note `none`, will apply to all note values and beam levels.
I'm also alerting @asattely and @oktophonie; if you have any questions about beaming code, then they may also be of assistance.
Many thanks!

[2022-01-10 13:53] Eism commented on #9658
thanks! fixed

[2022-01-10 14:19] igorkorsukov commented on #10134
@DmitryArefiev Please check, PR https://github.com/musescore/MuseScore/pull/10230

[2022-01-10 14:47] abdulazizali77 commented on #9892
thanks @cbjeukendrup @bkunda , ill get cracking on this then

[2022-01-10 14:47] DmitryArefiev commented on #10163
@igorkorsukov Now Reset palette doesn't cause a crash, but **dragging element within palette does it**

https://user-images.githubusercontent.com/90187801/148785187-4367721a-073b-4940-9c5b-7edeae09b4de.mp4

(this crash doesn't occur in master)

[2022-01-10 14:57] #9263 closed

[2022-01-10 15:02] igorkorsukov commented on #10163
@DmitryArefiev Fixed it :(, Please check

[2022-01-10 15:29] igorkorsukov commented on #9996
@bkunda  Do we really need this command?
At the moment there is no such shortcut in MU4, should I add it?
Or, it is enough to move through the elements (Alt+Up, Alt+Down)

[2022-01-10 15:55] ThePython10110 opened #10232 "DevTool menu options overlap with the title bar (Win10, MuseScoreNightly-202201090423-master-b30ac74-x86_64"
I will now **Describe the bug**
This is a short and clear description of what the bug is.
Basically, DevTool menu options overlap with the title bar when you scroll down.

**To Reproduce**
Steps to reproduce the behavior:
1. Go to 'MuseScore 4'
2. Click on 'DevTools'
3. Scroll down to 'anywhere'
4. See error

**Expected behavior**
This is a clear and concise description of what I expected to happe

[2022-01-10 16:05] #9343 closed

[2022-01-10 16:21] DmitryArefiev commented on #10227
Tested on Win10, Mac12, LinuxMint 20.2 - FIXED

I was not able to reproduce the initial issue on Win/Lin.
Works fine on Mac now

[2022-01-10 17:55] RomanPudashkin commented on #10098
I'm working on it

[2022-01-10 18:00] #10227 closed

[2022-01-10 19:02] MarcSabatella commented on #9996
Being able to jump to the top staff quickly is very nice for blind users - it saves potentially dozens of keystrokes.  The shortcut doesn't need to be defined by default, although it actually *would* be nice to provide a predefined set of "accessibility shortcuts".

[2022-01-10 19:06] VanSHOE opened #10233 "[MU4 Issue] Crash after PR #10212"
**Describe the bug**
After the requested change in the PR, a crash has started happening on continuously closing the project and opening it back up
As discussed in discord, I am raising an issue for the same
**To Reproduce**
Steps to reproduce the behavior:
1. Open a project, save it
2. Change zoom, save
3. Close the project
4. Open it again from recents (ensure the zoom has reset itself)
5. Repea

[2022-01-10 19:51] #9149 closed

[2022-01-10 19:51] #9634 closed

[2022-01-10 19:51] #9246 closed

[2022-01-10 20:23] shoogle opened #10234 "[MU4 Issue] [Accessibility] Text editing events are not announced by screen readers"
**Describe the bug**
When entering lyrics or stave text, or when typing in a text frame, screen readers should announce text characters as they are typed, selected, deselected and navigated with the cursor keys. At the moment, the screen reader is silent during this process.

![image](https://user-images.githubusercontent.com/11011881/148830897-debe0bea-b75e-4eda-af83-651c06aef91a.png)

**To Repro

[2022-01-11 05:32] bkunda commented on #9996
@MarcSabatella's point makes sense to me. I realise it just adds to what is already a rather huge amount of shortcuts, but at some point (perhaps after MS4 now), it would be good to implement https://github.com/musescore/MuseScore/issues/8746, which will allow for categorisation of keyboard shortcuts (including the possibility of @MarcSabatella's suggestion above) 🙂

[2022-01-11 07:40] #10215 closed

[2022-01-11 08:25] igorkorsukov commented on #9996
Ok, I add this shortcut.
I tried to find a key combination for it - and I didn't succeed, it seems as if all the combinations are already used :)

[2022-01-11 08:28] #8898 closed

[2022-01-11 08:33] igorkorsukov commented on #10223
@VanSHOE fixed the problem, @DmitryArefiev  please check, PR https://github.com/musescore/MuseScore/pull/10224

[2022-01-11 09:26] igorkorsukov commented on #9996
@DmitryArefiev Please check, PR https://github.com/musescore/MuseScore/pull/10236

[2022-01-11 09:58] Eism commented on #9668
@bkunda do we need the ability to skip the dialog next time?
('show this message again' checkbox)

[2022-01-11 10:11] DmitryArefiev commented on #10163
@igorkorsukov Now all good! Thanks!

Tested on Win10, Mac12, LinuxMint 20.2 - FIXED

[2022-01-11 11:02] #10163 closed

[2022-01-11 11:10] DmitryArefiev commented on #8253
Tested on Mac12 - FIXED

[2022-01-11 12:22] DmitryArefiev opened #10238 "[MU4 Issue] Some menus from Menu bar don't fit into the screen on 150% and higher (Windows 10)"
**Describe the bug**
Some menus from Menu bar don't fit into the screen on 150% and higher (Windows 10):
- **View**
- **Add>Intervals**
- **Add>Text**

![01_100](https://user-images.githubusercontent.com/90187801/148941684-1cff5646-358f-41eb-8c15-e5d270685d31.png)

<img width="960" alt="01_150" src="https://user-images.githubusercontent.com/90187801/148941702-1201a223-aefb-4b72-ab0c-614a89d84bbc.p

[2022-01-11 15:40] riaanvn opened #10242 "[MU4 Issue] double and triple-click in text fields do not highlight the word or paragraph"
**Describe the bug**
When editing text (in the header frame or the score), double and triple-click in text field do not highlight the word or paragraph.

**To Reproduce**
1. Add staff text, containing multiple lines
2. Double-click or triple-click on a word

**Expected behavior**
Double-clicking a word selects the word
Triple-clicking a word selects the paragraph.

**Expected behavior**
Nothing ha

[2022-01-11 18:34] martin-danhier commented on #9618
Hello everyone !
Here is a little update on my progress so far.

I learned QML and I reimplemented the first half of the dialog with it. I had to slightly modify the qml ``Dropdown`` to support icons (it only supported text until now).

![image](https://user-images.githubusercontent.com/36641081/148998835-2625efaf-e3a5-45fd-afea-ecd2e82a76d7.png)

I also started to implement the "Note groups" sect

[2022-01-11 18:35] riaanvn commented on #9189
Seems to be a duplicate of https://github.com/musescore/MuseScore/issues/8241

[2022-01-11 18:45] riaanvn commented on #9132
Checking with a 2022-01-10 nightly on macOS 12.1 show be both the mscz and mscz file options (e.g. identical to the v3 options:
<img alt="v4 save as" src="https://user-images.githubusercontent.com/4170969/149002345-8d3c182c-4fc3-4c6e-8b0f-1ad0ba9e8ad1.png">

Side note: this string still needs to be updated to reflect the new version; still referencing version 4.

[2022-01-11 19:15] riaanvn commented on #10021
Is this a duplicate of https://github.com/musescore/MuseScore/issues/10021 ?

[2022-01-11 19:20] njvdberg commented on #10021
No, this **is** #10021 :wink:

[2022-01-11 19:37] riaanvn commented on #10021
Lol, #facepalm/linescrossed. I meant this looks like a duplicate of https://github.com/musescore/MuseScore/issues/9070 (8 Sept '21)

[2022-01-11 23:46] wizofaus commented on #9030
Looks like it's been fixed, closing.

[2022-01-11 23:46] #9030 closed

[2022-01-12 08:05] #8253 closed

[2022-01-12 08:11] bkunda commented on #9668
Yes I think we should keep this checkbox.

For some users, it will be a case of "learn once, never forget", meaning that, once they've learned that certain actions are only available in certain contexts, they can choose disable that error dialog if they find it annoying.

[2022-01-12 08:34] Eism commented on #9668
@bkunda in MU3, if the user chooses not to show the message again, for example, when trying to add 'staff text', then the dialog is also not shown when trying to add another text from Add->Text.
Do we want to change behavior?

[2022-01-12 08:41] bkunda commented on #9668
Let's keep it the same as MU3 for now. In a later release, we may do something more sophisticated (like disable all menu options that don't apply because the required object(s) are not selected), but this will need to be thought through a bit more.

[2022-01-12 09:27] bkunda opened #10254 "[MU4 Issue] "Restore previous session" dialog not yet implemented"
**Describe the bug**
In MS3.6, this dialog appears when MuseScore is reopened after quitting unexpectedly:

<img width="713" alt="Screenshot 2022-01-12 at 7 33 03 pm" src="https://user-images.githubusercontent.com/86290556/149091938-2caa92e4-e785-47dd-8013-27520f6542e3.png">

This dialog does not yet appear when restarting MuseScore 4 (nightlies).

**To Reproduce**
Steps to reproduce the behavior:

[2022-01-12 09:47] Eism commented on #9668
Ok, implemented

[2022-01-12 09:51] DmitryArefiev commented on #10222
Tested on Win10, Mac12, LinuxMint 20.2 - FIXED

[2022-01-12 09:54] cbjeukendrup commented on #10254
Force-quitting MuseScore should be enough 😉 (macOS: easiest way: Right-click MuseScore icon in the Dock, press the "Option/alt" key and choose "Force Quit"; Windows: Task Manager)

Another option is DevTools > Crash Handler > Crash.

All these options _should_ produce a "Restore session?" dialog at next launch.

[2022-01-12 09:57] #10222 closed

[2022-01-12 11:27] DmitryArefiev commented on #9657
Tested on Win10, Mac12, LinuxMint 20.2 - FIXED

[2022-01-12 11:37] DmitryArefiev commented on #9668
Hi @bkunda, Can you check this on Windows and Mac please? I'll check it on Linux then.

Thanks!

[2022-01-12 12:25] DmitryArefiev commented on #9668
@Eism @bkunda What I've found for now:

1. If nothing selected in score, the error dialog is not triggered if text added via Add>Text (separate bug)
2. The error dialog is not triggered for range selection

https://user-images.githubusercontent.com/90187801/149139995-5c475573-2824-4443-a549-03d68eff608f.mp4

[2022-01-12 12:46] bkunda commented on #9668
Nice spot about the range selection @DmitryArefiev!

[2022-01-12 12:46] bkunda commented on #9668
Sorry, I have put my comments in the PR: https://github.com/musescore/MuseScore/pull/10244#issuecomment-1011006140

[2022-01-12 12:50] #9657 closed

[2022-01-12 14:14] DmitryArefiev commented on #10208
Tested on Win10, Mac12, LinuxMint 20.2 - FIXED

[2022-01-12 14:18] #10208 closed

[2022-01-12 16:13] DmitryArefiev commented on #9591
Tested on Win10, Mac12, LinuxMint 20.2 - FIXED

[2022-01-12 16:17] DmitryArefiev commented on #10098
Hi @bkunda, Can you check this on Windows and Mac please? (#10240)

Thanks!

[2022-01-12 19:49] Kissh12 commented on #10096
can I work on this issue?

[2022-01-13 07:10] bkunda commented on #10098
Almost perfect from my end :-)

One issue is that system text line properties don't update across parts. The actual text does__, but the line style (specifically dashed line and hook properties) aren't synchronising across parts.

https://user-images.githubusercontent.com/86290556/149282319-5e8214b0-c14e-40e4-a181-cb3806c2f768.mp4

[2022-01-13 07:36] #10223 closed

[2022-01-13 09:42] bkunda opened #10258 "[MU4 Issue] Change line thickness increment adjustments to 0.01"
**Describe the bug**
Stroke thickness for various line objects currently adjusts in increments of 0.5.
This usually produces unusable results:

![GIF 1-13-22 at 20 35 44](https://user-images.githubusercontent.com/86290556/149304436-4266cc80-a370-42a9-a4fa-a13c472a1aac.gif)

**Expected behavior**
It would be better if the incremental step was set to 0.01:

![GIF 1-13-22 at 20 36 22](https://user-im

[2022-01-13 10:00] DmitryArefiev commented on #10223
Tested on Win10, Mac12, LinuxMint 20.2 - FIXED

[2022-01-13 10:12] bkunda opened #10259 "[MU4 Issue] Properties in drop-downs are not updated when changing object selection"
**Describe the bug**
When changing an object's property in a dropdown menu in **Properties**, the value in said dropdown menu does not change when a different object is selected – unless the selection is cleared first.

This was first noticed when changing the font face and/or size of a text object:

![GIF 1-13-22 at 21 03 50](https://user-images.githubusercontent.com/86290556/149309851-26e0c040-b

[2022-01-13 10:38] DmitryArefiev commented on #9929
Hi @bkunda, Can you check it on your Windows again please?
On my **Win10** and latest **master build** I don't see a **different between 100% and 125%** in app size. Maybe something was broken or just something wrong in my environment..

Thanks!

[2022-01-13 11:57] bkunda opened #10262 "[MU4 Issue] Text fields not recognising some accented characters in MacOS"
**Describe the bug**
Two parts to this issue:

1. Attempting to enter acute and grave accents, as well as umlauts, using the `option` key fails to produce the correct character in text fields (including lyric lines)
2. Long-pressing a key does not open MacOS's special characters menu

**Examples and demonstration**
`Option`+`e` then `e` should produce é:
![GIF 1-13-22 at 21 58 30](https://user-ima

[2022-01-13 12:12] bkunda commented on #9929
Yeah I'm also having a problem here now.
There seems to be a slight resizing of the app window between 100% and 125%, but no change in the topbar, toolbar or sidebar sizes. Then there is a huge jump in size from 125% to 150%.
This is the case for the both monitors (laptop and external monitor).

[2022-01-13 12:34] DmitryArefiev commented on #8697
Tested #10235 on Win10, Mac12, LinuxMint 20.2 - FIXED

[2022-01-13 12:52] #9591 closed

[2022-01-13 13:02] DmitryArefiev opened #10263 "[MU4 Issue] Restore the default layout makes all commands unavailable (greyed out)"
**To Reproduce**
1. Open a score
2. Go to **View** and trigger **Restore the default layout**

https://user-images.githubusercontent.com/90187801/149335106-81d026b0-aca9-4070-965a-b0af76a75a65.mp4

**Desktop**
 - OS: all

[2022-01-13 13:22] DmitryArefiev opened #10264 "[MU4 Issue] Bars are not highlighted when adding elements from Palettes (missing MU3 feature)"
https://user-images.githubusercontent.com/90187801/149337827-37ca5806-2248-4d8e-99bd-bad3781ab7df.mp4

**Additional context**
Doesn't occur in **MU3**

[2022-01-13 16:39] DmitryArefiev commented on #9891
Tested on Win10, Mac12, LinuxMint 20.2 - FIXED

[2022-01-13 16:42] #9891 closed

[2022-01-13 18:23] steven-omaha commented on #8601
I just ran into this. The best I can currently achieve is this (5 string bass). I can mark the note in the regular staff as ghost note, but not in the tab.

![screen01](https://user-images.githubusercontent.com/35634100/149387151-def7cca4-5bfb-4a8f-a7d0-74c972f0c7e2.png)

[2022-01-13 20:41] RomanPudashkin commented on #10098
@bkunda unfortunately, we have the same bug in MU3

https://user-images.githubusercontent.com/67867444/149405554-c25683a0-1fd4-4540-8839-59f7120c15b6.mp4

It is better to create a separate issue for this bug

[2022-01-13 20:55] #10076 closed

[2022-01-14 08:10] bkunda commented on #10098
Ok will do!

[2022-01-14 08:23] ootjersb opened #10267 "[MU4 Issue] Menu's open in strange locations on 125% scale and 2nd screen"
On Windows 11 with scale set to 125% the menu opens in the wrong place. When placing MuseScore on second screen the menu is even shown on the main screen

Steps to reproduce the behavior:
1. Open Musescore
2. Click on a menu, such as file

Expected behavior
Menu options (like New, Open et cetera) just below File.

![image](https://user-images.githubusercontent.com/33753713/149474996-55beba4f-d833-

[2022-01-14 08:33] ootjersb commented on #9225
I have a crackling sound when using the default playback.  Is that also related to this issue? It is heard a little with Piano, but a lot more with Cornet or Trombone sounds. Using MuseScoreNightly-202201140422-master-9e83219-x86_64

[2022-01-14 08:33] bkunda opened #10268 "[MU4 Issue] Style properties for a range of objects do not update across parts"
**Describe the bug**
Changing the appearance of certain objects does not update across parts:

https://user-images.githubusercontent.com/86290556/149475357-e78571ea-9804-48b0-9b16-109d327fb93d.mp4

*Affects the following objects*
- Lines
- Jump marks (E.g. D.C, D.S., coda)
- Rehearsal marks
- Text (e.g. staff text, system text)

**Note**: Generating parts for the first time will correctly read obj

[2022-01-14 09:05] DmitryArefiev commented on #10098
Tested LinuxMint 20.2 - FIXED

[2022-01-14 09:07] #10098 closed

[2022-01-14 09:41] RomanPudashkin opened #10269 "[MU4 Issue] Very difficult to use line grip points when the navigator is shown"
**Describe the bug**

https://user-images.githubusercontent.com/67867444/149493422-1c425b1f-9d60-4c9b-a034-cee0c1de4d46.mp4

**Desktop (please complete the following information):**
 - OS:  macOS (with HIDPI screen)

[2022-01-14 10:03] RomanPudashkin commented on #9141
See https://github.com/musescore/MuseScore/issues/9670

[2022-01-14 10:03] #9141 closed

[2022-01-14 11:29] bkunda opened #10271 "[MU4 Issue] Hyphenated lyrics render small text size for syllables after the first one"
**Describe the bug**
The text size for multisyllabic lyrics is rendered smaller for all syllables following the first syllable:

<img width="1095" alt="Screenshot 2022-01-14 at 10 08 30 pm" src="https://user-images.githubusercontent.com/86290556/149507095-977fc4a5-b380-4ec9-9a4e-daa83ca7c120.png">

**To Reproduce**
![GIF 14-01-2022 at 22 21 15](https://user-images.githubusercontent.com/86290556/14

[2022-01-14 12:50] DmitryArefiev commented on #9878
Tested on master build (Win10, Mac11, LinuxMint 20) - FIXED in #10240

Closing

[2022-01-14 12:51] #9878 closed

[2022-01-14 15:52] DmitryArefiev commented on #9929
@bkunda Thanks for checking! Let's reopen this.

[2022-01-14 16:29] DmitryArefiev commented on #9929
The same issue #10267 was opened recently.. Let's close the initial bug #9929 :)

[2022-01-14 16:30] DmitryArefiev commented on #10267
Assigning to @Eism

[2022-01-14 17:33] DmitryArefiev commented on #10134
Tested #10230 on Win10, Mac12, LinuxMint 20.2 - FIXED

[2022-01-14 17:34] #10134 closed

[2022-01-14 18:10] DmitryArefiev commented on #9996
Tested #10236 on Win10, Mac12, LinuxMint 20.2 - FIXED

[2022-01-14 18:14] #9996 closed

[2022-01-14 20:15] Tantacrul commented on #10262
Nice discovery @bkunda !

[2022-01-14 21:30] Tantacrul opened #10275 "VST - Crash: Choosing a VSTi and two VST effects, then saving causes a crash"
**Describe the bug**
Please see video. I have altered the sound to a VSTi (choosing Vital). I then add two effects and try to save. Here are the steps.

**To Reproduce**
1. Create a score with a few woodwind, brass and string instruments. Around 12-15.
2. Then save the score on your machine
3. Close MS4
4. Reopen it and then choose the saved score
5. Add a VSTi to replace the MuseSampler on one in

[2022-01-14 21:33] Tantacrul commented on #10275
Noticed this similar bug:
https://github.com/musescore/MuseScore/issues/9884

Just adding evidence. I see these issues haven't been tackled yet, so I won't log more for now. I assume we're waiting until playback core work has been completed.

[2022-01-15 10:14] Kissh12 commented on #10258
is this open? can I work on this?

[2022-01-15 12:45] izarys opened #10276 "[MU4 Issue] Deleting note with right click not working (in Note input mode)"
**Describe the bug**
Deleting a note with right mouse click is not working. It either does nothing or adds a new note.

**To Reproduce**
Steps to reproduce the behavior:
1. Create an empty score.
2. Add a note.
3. Right click directly on the added note.
4. Note is not deleted.

Another behavior that is causing an unexpected result:
1. Create an empty score.
2. Add a note.
3. Right click below or a

[2022-01-16 13:47] Kissh12 commented on #10258
I am new to this, so can you help me out a little and also which branch to work on?

[2022-01-16 14:44] cbjeukendrup commented on #10258
All work needs to be based on the master branch (but of course, when making a PR, you should do that on a separate branch, which will be merged into the master branch by the team).

To find where you need to make changes, you can start in OttavaStyleSettings.qml. You will have to Ctrl+Click a couple of times to get to the correct place. Ultimately, you should find a place with two `SpinBoxProperty

[2022-01-16 18:00] DmitryArefiev commented on #10208
@wizofaus I think MU3.6 behavior is more desirable because appearing of shadow note (when user wants to input note with keyboard only) distracts attention especially when the mouse cursor is in a different location. And if user wants to combine note input from keyboard and mouse he can just move mouse and make shadow note visible.

[2022-01-17 05:24] bkunda commented on #9929
Issue now raised in #10267

[2022-01-17 10:48] DmitryArefiev commented on #9220
Tested on master (Win10/Mac12) - THE ISSUE STILL OCCURS when enabling high-contrast in Dark theme

https://user-images.githubusercontent.com/90187801/149755896-c940c0b7-1e0b-4f23-848d-64d97921c9ab.mp4

Reopening

[2022-01-17 12:50] DmitryArefiev commented on #10271
Tested on Win10, Mac12, LinuxMint 20.2 - FIXED

[2022-01-17 12:51] DmitryArefiev commented on #10146
Tested on Win10, Mac12, LinuxMint 20.2 - FIXED

[2022-01-17 12:53] #10146 closed

[2022-01-17 12:53] #10271 closed

[2022-01-17 14:19] SamPro910 opened #10281 "[MU4 Issue] Notes not playing back when editing or inputting notes"
**Describe the bug**
MuseScore only plays a very short blip when selecting or inputting notes
**To Reproduce**
Steps to reproduce the behavior:
1. Open any score
2. select/add a note

**Expected behavior**
MU4 should play back the whole note, not a short blip

**Desktop (please complete the following information):**
 - OS: Windows 11 64-bit

[2022-01-17 15:01] HemantAntony commented on #10281
Related to #9251

[2022-01-17 17:00] DmitryArefiev opened #10284 "[MU4 Issue] [Accessibility] Measure and Beat are not spoken by screen readers"
**Describe the bug**
A short and clear description of what the bug is.

![Capture](https://user-images.githubusercontent.com/90187801/149810848-0cec58fd-3f35-41e9-bd2b-fb349e96e373.png)

**Expected behavior**
A clear and concise description of what you expected to happen.

**Desktop:**
 - OS: Win (Narrator), Mac (VoiceOver)

**Additional context**
Add any other context about the problem here.

[2022-01-18 09:00] RomanPudashkin commented on #7657
See https://github.com/musescore/MuseScore/issues/10085

[2022-01-18 09:00] #7657 closed

[2022-01-18 09:02] Jojo-Schmitz opened #10286 "[MU3.6.2_backend Issue] Stretched out lyrics"
**Describe the bug**
Not sure how to describe in words, but check out the images, resulting from the attached score ([lyrics-test.zip](https://github.com/musescore/MuseScore/files/7887546/lyrics-test.zip)), this is how it looks in 3.6.2:
![image](https://user-images.githubusercontent.com/1786669/149903276-2e82072c-7aa1-4537-861a-319fc60217f6.png)
This is how it looks in 3.6.2_backend (and therefor

[2022-01-18 10:34] jithinjohn2k2 commented on #9220
https://user-images.githubusercontent.com/73242397/149920094-ad2ddcec-6021-4cd5-b1cb-db7f9d68bfd1.mp4

@DmitryArefiev Is this the expected behavior that will close this issue?

[2022-01-18 11:17] DmitryArefiev commented on #9300
Tested in latest master build (Win10, Mac12, LinuxMint 20.2) - **FIXED** (no longer occurs)

Closing

[2022-01-18 11:17] #9300 closed

[2022-01-18 11:34] DmitryArefiev commented on #9071
Tested in latest master build (Win10, Mac12) - **FIXED** (no longer occurs)

Tried with the attached score as well

Closing

[2022-01-18 11:35] #9071 closed

[2022-01-18 11:44] bkunda opened #10288 "[MU4 Issue] `Save a copy...` replaces active score with copy"
**Describe the bug**
`File` > `Save a copy...` currently replaces the original working score with the newly saved (copy) score.

**To Reproduce**
Steps to reproduce the behavior:
1. Save a new score
2. Click `File` > `Save a copy...`, and give your score a different filename
3. Click `Save`
4. The score with the new filename is now active in the project window

**Expected behavior**
Per MS3.6, the

[2022-01-18 11:51] DmitryArefiev commented on #9145
Tested in latest master build (Win10, Mac12) - FIXED (no longer occurs)

Closing

@wizofaus Please reopen if you will able to reproduce it. Thanks!

[2022-01-18 11:52] #9145 closed

[2022-01-18 11:53] bkunda opened #10289 "[MU4 Issue] Crash when editing `Score properties`"
**Describe the bug**
Making any kind of change to any of the text entry fields in `File` > `Score Properties` triggers a crash:

![crash-score-properties](https://user-images.githubusercontent.com/86290556/149932375-47236efc-62e7-43a3-9857-4c58a4b73944.gif)

**Expected behavior**
Crash should not occur.

**Desktop (please complete the following information):**
 - MacOS 11.6 (M1)
 - Windows 11

[2022-01-18 12:00] cbjeukendrup commented on #10289
There is already a PR for this crash: https://github.com/musescore/MuseScore/pull/10266

[2022-01-18 12:08] bkunda commented on #10289
Thanks @cbjeukendrup.

[2022-01-18 12:08] #10289 closed

[2022-01-18 12:50] Eism commented on #10267
@ootjersb
Can you please check PR #10285?

[2022-01-18 12:52] #8697 closed

[2022-01-18 12:52] #10125 closed

[2022-01-18 13:25] DmitryArefiev opened #10291 "[MU4 Issue] Touchpad single tap doesn't work properly with Note Input bar on Windows"
**Describe the bug**
When using touchpad on Windows, single tap doesn't toggle Note Input bar buttons (like MU3 does)

**To Reproduce**
1. Select note
2. Try to change its duration by tapping with finger Note Input bar - **nothing happens**, you need to double tap to toggle the buttons

https://user-images.githubusercontent.com/90187801/149945641-8c35887a-64d5-41cb-8a1f-95d0c566ce26.mp4

**Desktop

[2022-01-18 13:59] duanjr opened #10292 "[MU4 Issue]misrepresenting "undock"as "dock""
**Describe the bug**
Dockable panels (Palettes, Instruments, etc.) misrepresenting undock operation's title "undock"as "dock"

**To Reproduce**
Steps to reproduce the behavior:
1. Create a new score or open an exsiting one.
2. Make any dockable panel visible.
3. a. If the panel is undocked, make it docked.
b. If the panel is already docked, make it undocked first and then make it docked.
4. See er

[2022-01-18 14:00] duanjr commented on #10292
I think I had fixed it and I'll make a pull request soon.

[2022-01-18 14:02] HemantAntony commented on #10292
This issue is missing a Title

[2022-01-18 14:04] duanjr commented on #10292
Sorry it's my first time to report a issue, I have added a title.

[2022-01-18 14:39] #10281 closed

[2022-01-18 14:51] alexpavlov96 opened #10295 "[MU4 Issue] Fix string values of gp files"
**Describe the bug**
Wrong strings shown in gp files: pitches of strings should be +12

**To Reproduce**
Open a score in tab notation

[2022-01-18 14:56] alexpavlov96 opened #10296 "[MU4 Issue] wrong length of notes in gp files import"
**Describe the bug**
In some situations 1/2 or 1/8 notes were shown as 1/2

**To Reproduce**
Steps to reproduce the behavior:
Open a score where in a same measure there is 1/4 note followed by 1/2 note: they were shown as 1/4 and 1/4

**Expected behavior**
Note lengths are shown correctly

[2022-01-18 15:29] HemantAntony commented on #9434
If no one else is working on that, I can make this PR, if I get the Icon Code

[2022-01-18 15:42] DmitryArefiev commented on #8930
Tested # in latest master build (Win10, Mac12, LinuxMint 20.2) - the issue **STILL OCCURS**

https://user-images.githubusercontent.com/90187801/149969449-7209fa04-6a54-4289-894b-b12dbd3c4611.mp4

[2022-01-18 15:50] Jojo-Schmitz commented on #9434
Isn't the icon 4 to the left from that the one for "Insertt one measure"? It looks remarkable similar to the corresponding one from MuseScore 3

[2022-01-18 15:53] DmitryArefiev commented on #9220
@jithinjohn2k2 Yes, it should not change a theme when enabling/disabling high-contrast.

Thanks!

[2022-01-18 15:58] Jojo-Schmitz commented on #9434
Hmm, no, that apparently is staff type change. But the icon IMHO does not convey that meaning well.

[2022-01-18 16:12] #10263 closed

[2022-01-18 16:13] DmitryArefiev commented on #10263
Tested on Win10, Mac12, LinuxMint 20.2 - FIXED

[2022-01-18 16:18] DmitryArefiev opened #10298 "[MU4 Issue] Restore the default layout leads to undesirable results when Note Input bar is anchored on the right side"
1. Restore the default layout leads to undesirable results when Note Input bar is anchored on the right side

https://user-images.githubusercontent.com/90187801/149976065-c49013cb-601f-464e-a1e1-e68b79afeeb6.mp4

2. Also, occurs when switching between **Workspaces** with different Note Input bar position (see video):

https://user-images.githubusercontent.com/90187801/158186113-3e1a17d0-9920-4249-

[2022-01-18 17:18] #10262 closed

[2022-01-18 17:47] RomanPudashkin commented on #9118
All of this should work in the last master. If you still experience any problems, please report them as separate issues

[2022-01-18 18:02] Tantacrul commented on #10291
Great find man!

[2022-01-18 20:09] #9170 closed

[2022-01-18 20:54] ootjersb commented on #10267
Not so sure about the process to follow, since I am quite a newbie for this project. I downloaded the artifact from the CI build, and tried it but it did not resolve my problem. Also build myself from PR #10285 code (as a newbie) but same result (of course)

[2022-01-18 20:58] ootjersb commented on #10267
Some additions: I thought my scaling was 125%, but it seems this way:
1. Screen 2: scaling 150%
2. Screen 1: scaling 125%

[2022-01-19 06:01] bkunda commented on #9618
Hi @martin-danhier, have you been able to find out some answers to your questions above?

I have just noticed that the "Create time signature" dialog (where the user can make their own custom time signatures) doesn't seem to be working at all (The `Add` button does nothing). Have you experienced this too?

I might raise this as a separate issue, because it is a regression from 3.6, but I will refe

[2022-01-19 09:07] RomanPudashkin commented on #10233
I don't think, that it is a good idea to create an issue when you have some problems in your PR. @Eism offered his help with this crash in your PR

[2022-01-19 09:07] #10233 closed

[2022-01-19 09:44] Eism commented on #10218
@llui85 Can you check the latest nightly build?
Does the bug still reproduce?

[2022-01-19 09:45] DmitryArefiev commented on #10267
Hi @ootjersb , I can't reproduce it on Windows 10 (screen 1: 125% , screen 2: 150%).. The menu opens in regular place for me.

Maybe there are some additional steps?

Thanks!

[2022-01-19 09:48] martin-danhier commented on #9618
Hi @bkunda,

I didn't have much time this week to experiment with notations, but I should be able to find time in the next couple of days.

As for the "create time signature" dialog: I tried it on my branch (which is about 500 commits behind master, which reminds me I should do a rebase once in a while ^^) and the app crashes when I press the "Add" button. When I try it on the latest master branch

[2022-01-19 09:54] #8880 closed

[2022-01-19 10:16] bkunda commented on #9618
This is exactly what I had in mind ☺️

I'll raise this as a separate issue. Meanwhile, keep us posted with how you get on with this issue, and if you have any questions for our developers then don't hesitate to reach out!

[2022-01-19 11:16] RomanPudashkin commented on #10172
@bkunda what do you think about this? :)

[2022-01-19 11:23] martin-danhier commented on #9618
Will do, thanks !

[2022-01-19 11:59] alexpavlov96 opened #10303 "[MU4 Task] GP chapters position and scale"
**Task description**
Place chapters in right position and make them smaller

Current state:
![image](https://user-images.githubusercontent.com/24373905/150124925-d241c8fd-8919-465d-b791-e541230017dc.png)

Expected:
![image](https://user-images.githubusercontent.com/24373905/150125041-5852a3e7-910a-469d-b028-3ce67ddfb12a.png)

[2022-01-19 12:02] Jojo-Schmitz commented on #10303
With "Chapters" do you mean "Rehearsal Marks"?

[2022-01-19 12:05] alexpavlov96 opened #10304 "[MU4 Task] [GP] Display half note correctly in tab notation"
**Task description**
Half-note is shown with two extra lines across the note

**Current state:**
representation of half notes:
![Screenshot 2022-01-26 at 21 10 46](https://user-images.githubusercontent.com/24373905/151221757-aed5d413-6f9f-47b5-b896-681c149e29af.png)

**Expected:**
representation of half notes:
![Screenshot 2022-01-26 at 21 13 43](https://user-images.githubusercontent.com/24373905/

[2022-01-19 12:07] alexpavlov96 commented on #10303
@Jojo-Schmitz yes, thanks, I will edit

[2022-01-19 12:11] #9636 closed

[2022-01-19 12:22] alexpavlov96 opened #10306 "[MU4 Task] [GP] Display ghost-note correctly"
**Task description**
Display ghost-notes with parenthesis

Current state:
![Screenshot 2022-01-19 at 15 21 55](https://user-images.githubusercontent.com/24373905/150128519-d2799699-e6a8-4c71-ad6a-9eb18659e33f.png)

Expected:
![Screenshot 2022-01-19 at 15 22 07](https://user-images.githubusercontent.com/24373905/150128551-dd644fc9-e096-4c4d-b953-c49621cc4b27.png)

[2022-01-19 12:23] DmitryArefiev commented on #10117
Tested on Win10, Mac12, LinuxMint 20.2 - FIXED

[2022-01-19 12:24] #10117 closed

[2022-01-19 12:25] bkunda opened #10307 "[MU4 Task] Tidy up default palette visibility settings"
**Task description**
This task firstly aims to specify which palette objects should appear by default in their respective main palette, and which ones should be hidden in the "More" popups.

Further, this task will define some size and grid settings for the layout of specific palettes that currently have formatting and/or readability issues.

Finally, we suggest which palettes should be exposed by

[2022-01-19 12:26] Jojo-Schmitz commented on #10306
I'd actually expect the notehead in the 'normal' staff to be a X shape rather than a normal notehead with parens?

[2022-01-19 12:30] alexpavlov96 opened #10308 "[MU4 Task] [GP] Show only pitches in tab notation when it is displayed along with standard notation"
**Task description**
Legato (slur or tie) for tab notation should not be shown IF tab notation is shown TOGETHER with standard notation. If tab notation is shown separately, legato should stay.
The same about note duration: hide note duration when tab notation is shown along with standard notation

Current state:
![Screenshot 2022-01-24 at 21 59 40](https://user-images.githubusercontent.com/243739

[2022-01-19 12:34] alexpavlov96 opened #10309 "[MU4 Task] [GP] Add length of notes to let ring"
**Task description**
Let ring should show the length of the notes covered with it

**Current state:**
![Screenshot 2022-01-19 at 15 34 02](https://user-images.githubusercontent.com/24373905/150130706-ef38e514-3af0-4ed5-80a2-d028331464dc.png)

**Expected:**
![Screenshot 2022-01-19 at 15 33 43](https://user-images.githubusercontent.com/24373905/150130527-e54a56d5-efe6-466c-861a-fbbac3b7f17c.png)

[2022-01-19 12:37] alexpavlov96 opened #10310 "[MU4 Task] [GP] Show dead notes as crosses"
**Task description**
Show dead notes as crosses in both standard and tab notations

**Expected:**
![Screenshot 2022-01-19 at 15 37 09](https://user-images.githubusercontent.com/24373905/150132110-13af2814-1336-40cd-bec5-111f645a11bd.png)

[2022-01-19 12:39] alexpavlov96 opened #10311 "[MU4 Task] [GP] Display harmonics"
**Task description**
Show harmonics (text and different note display)

**Excepted:**
![Screenshot 2022-01-19 at 15 40 22](https://user-images.githubusercontent.com/24373905/150132578-e9d81e15-8d4d-431b-ba1e-91653cbb7331.png)

[2022-01-19 12:44] cbjeukendrup commented on #10304
Those slashes might be intended (by whoever created them); there is a style setting that allows choosing the appearance of half notes, which you can edit in MuseScore's UI by right-clicking the TAB staff and choosing "Staff/Part properties" > "Advanced Style Properties" > "Note values" > "Half notes".
In the code, this is controlled using the enum `TablatureMinimStyle` (but you've probably already

[2022-01-19 12:50] alexpavlov96 opened #10312 "[MU4 Task] [GP] Display bends of different types"
**Task description**
Display bends of different types: basic bend, bend+release, pre-bend, etc

**Expected:**
![Screenshot 2022-01-19 at 15 48 27](https://user-images.githubusercontent.com/24373905/150133766-1cb220ec-4774-46da-9f23-f2373c8e6c6e.png)

[2022-01-19 12:50] #9425 closed

[2022-01-19 13:03] alexpavlov96 commented on #10304
@cbjeukendrup thank you! Yes, I just had a quick look and didn't do a quick fix, cause it would stop 1/8 have having slashes too. But maybe I didn't pay enough time.

[2022-01-19 13:05] DmitryArefiev commented on #8930
Tested #10299 on Win10, Mac12, LinuxMint 20.2 - FIXED

(Text frame is not resizable in MU3.6 so it requires additional issue)

[2022-01-19 13:06] Jojo-Schmitz commented on #8930
Text frames are not supposed to be sizable, they are (supposed to be) sizing as per their content

[2022-01-19 13:06] alexpavlov96 commented on #10306
@Jojo-Schmitz like a dead note?
![Screenshot 2022-01-19 at 16 06 30](https://user-images.githubusercontent.com/24373905/150136553-41544565-1f1d-4d76-a86a-4b3181fce485.png)

[2022-01-19 13:08] Jojo-Schmitz commented on #10306
Hmm, guess so, but a dead note still needs a fret (not an x), doesn't it?

[2022-01-19 13:08] #8930 closed

[2022-01-19 13:09] alexpavlov96 opened #10313 "[MU4 Task] [GP] Display dives of different types"
**Task description**
Display dives of different types: tremolo bar dive, dive and dip, pre-dive, etc.

**Expected:**
![Screenshot 2022-01-19 at 16 09 08](https://user-images.githubusercontent.com/24373905/150137009-5bc792e0-188d-420c-a878-ed60d4e34a9d.png)

[2022-01-19 13:13] alexpavlov96 opened #10314 "[MU4 Task] [GP] Display tremolo bar vibrato correctly"
**Task description**
Tremolo bar vibrato for one note looks like dive.
Should always be indicated as continuous triangle sinewave (even for one note) like in GP or in MU for left hand vibrato.

**Current state:**
![Screenshot 2022-01-19 at 16 13 18](https://user-images.githubusercontent.com/24373905/150137728-63135015-3cbc-4392-aadc-3b22da6a5b58.png)

**Expected:**
![Screenshot 2022-01-19 at 16 12

[2022-01-19 13:17] alexpavlov96 commented on #10306
@Jojo-Schmitz according to guitar-pro it has just 'x' in both places

[2022-01-19 13:23] alexpavlov96 opened #10315 "[MU4 Task] [GP] Display both slide and slur for glissando"
**Task description**
Glissando without picking the second note has no slur over notes

**Current state:**
![Screenshot 2022-01-19 at 16 22 43](https://user-images.githubusercontent.com/24373905/150139214-d64540e1-523d-4203-9d66-5f64ef485b81.png)

**Expected:**
![Screenshot 2022-01-19 at 16 22 24](https://user-images.githubusercontent.com/24373905/150139156-5429a125-f796-4487-b4e1-2b5825e486f0.png)

[2022-01-19 13:28] alexpavlov96 opened #10316 "[MU4 Task] [GP] Display slides correctly"
**Task description**
Slides to/from note are shown a bit big and far from note

**Current state:**
![Screenshot 2022-01-19 at 16 26 15](https://user-images.githubusercontent.com/24373905/150139744-79a1072a-547d-4ca7-97c7-0a035f94e70e.png)

**Expected:**
![Screenshot 2022-01-19 at 16 25 55](https://user-images.githubusercontent.com/24373905/150139710-efbd2372-c465-45dd-8427-a26753bb45df.png)

[2022-01-19 13:36] alexpavlov96 opened #10317 "[MU4 Task] [GP] Display tapping, slap and pop correctly"
**Task description**
Display tapping, slap, pop.
Show them above the staff

[2022-01-19 13:40] alexpavlov96 opened #10318 "[MU4 Task] [GP] Display fermatas"
**Task description**
Fermata is not shown

[2022-01-19 13:47] alexpavlov96 opened #10319 "[MU4 Task] [GP] Always display time signature changes"
**Task description**
Time signature changes of similar length are not shown (4/4 -> 2/2 ; 3/4 -> 6/8)

**Current state:**
![Screenshot 2022-01-19 at 16 46 21](https://user-images.githubusercontent.com/24373905/150142939-0c9b2570-308b-4808-8657-9de88072eb1e.png)

**Expected:**
![Screenshot 2022-01-19 at 16 46 32](https://user-images.githubusercontent.com/24373905/150142972-853d693a-cfd3-40d2-b96c-e

[2022-01-19 13:54] alexpavlov96 opened #10320 "[MU4 Task] [GP] Display grace notes correctly"
**Task description**
Grace notes has bugged render and also extra note in both notation

**Current state:**
![Screenshot 2022-01-19 at 16 53 25](https://user-images.githubusercontent.com/24373905/150144179-37bebf95-19a6-4dfd-9a62-78fbc7c2b414.png)

**Expected:**
![Screenshot 2022-01-19 at 16 53 40](https://user-images.githubusercontent.com/24373905/150144211-fa1122f5-0ba2-481f-a808-74f65d01a9f9.pn

[2022-01-19 14:59] alexpavlov96 opened #10322 "[MU4 Task] [GP] Display hammer-on/pull-off"
**Task description**
1. Display hammer-on/pull-off with H and P (or H.O and P.O.)  indication

**Expected:**
![Screenshot 2022-01-19 at 17 58 42](https://user-images.githubusercontent.com/24373905/150156300-b7d69ca3-5504-4edb-8b18-023a8e2632bd.png)

2. Continuous hammer-ons/pull-offs should have one tie over the whole passage

**Expected:**
![Screenshot 2022-01-25 at 18 18 42](https://user-images.

[2022-01-19 14:59] Tantacrul opened #10323 "Crash on opening orchestral score from MuseScore.com"
**Describe the bug**
When trying to open [this score](https://www.dropbox.com/s/pmwqima2bvate1p/Minecraft_Orchestra_Edition_for_the_Intermission_Orchestra_at_UCSD.mscz?dl=0) MS4 crashes. The score opens fine in MS3.

[2022-01-19 15:01] Tantacrul commented on #10323
@vpereverzev Let me know if these kinds of bugs are worth logging yet. I'm unsure how well we expect scores to behave until our playback system is complete.

Also let me know if you want me to create a new label for this: for example 'Legacy Score Problems' or something like that.

[2022-01-19 15:02] Jojo-Schmitz commented on #10322
hummer -> hammer ;-)

[2022-01-19 15:27] DmitryArefiev commented on #9929
Since  it's hard to reproduce #10267 (the issue about File menu placement on 125%) let's reopen the current issue #9929 to fix incremental bug on 125%

[2022-01-19 15:37] alexpavlov96 opened #10324 "[MU4 Task] [GP] Display swing and triplet feel"
**Task description**
Display swing and triplet feel

**Expected:**
![Screenshot 2022-01-19 at 18 37 05](https://user-images.githubusercontent.com/24373905/150163685-b1a83fe6-3189-4cdf-bc0b-a8c237149049.png)

[2022-01-19 15:39] HemantAntony commented on #10323
I think the reason why this crash occurs is because MuseScore is trying to load an item that is not present in the path:
![image](https://user-images.githubusercontent.com/88136054/150164112-5ffacc09-31fe-4d4d-9166-b0a2d327202d.png)
There is no user "tommy" in my computer. Maybe its the author's?

[2022-01-19 15:47] Jojo-Schmitz commented on #10323
Culprit 'cpde' in the mscx:
[code]

[2022-01-19 15:54] DmitryArefiev commented on #10156
I thought a little and decided to change MU4 current behavior to MU3.6 behavior

When **creating a new score**, MU selects the first rest in the first bar.
When **opening a score**, MU selects nothing and the next Tab should select the first note/rest (or initial barline) - the second part was not implemented in MU3.6 but it should be implemented in MU4 for better navigation/accessibility

Will ed

[2022-01-19 16:21] alexpavlov96 opened #10325 "[MU4 Task] [GP] Display two-measure repeat sign"
**Task description**
Instead of two-measure repeat sign MU import it as two single-measure repeat signs.

**Current state:**
![Screenshot 2022-01-19 at 19 20 49](https://user-images.githubusercontent.com/24373905/150171721-d2c1886c-1d63-4d35-a9f0-cb781943bb98.png)

**Expected:**
![Screenshot 2022-01-19 at 19 20 36](https://user-images.githubusercontent.com/24373905/150171669-a5106536-90c4-4a70-b95

[2022-01-19 16:22] DmitryArefiev commented on #9815
Tested #10297 on Win10, Mac12, LinuxMint 20.2 - FIXED

[2022-01-19 16:24] #9815 closed

[2022-01-19 16:33] alexpavlov96 opened #10326 "[MU4 Task] [GP] Display octave signs correctly"
**Task description**
1. Show all different octave signs, not just "8"
2. '8vb' is shown wrong: should be below the staff
3. The sign should be displayed only for standard notation (tab notation should not be affected)

**Current state:**
![Screenshot 2022-01-19 at 19 32 53](https://user-images.githubusercontent.com/24373905/150173765-8433d496-33ae-4850-9217-720660e749bf.png)

**Expected:**
![Scree

[2022-01-19 16:41] alexpavlov96 opened #10327 "[MU4 Task] [GP] Display indications for special repeats and jumps"
**Task description**
Display indications for special repeats and jumps (for ex, Da Coda, D.C. al Fine and different signs)

**Expected:**
![Screenshot 2022-01-19 at 19 40 40](https://user-images.githubusercontent.com/24373905/150175040-f03e2e77-3f21-4863-bc9a-d9116f53fc2a.png)

[2022-01-19 16:45] Jojo-Schmitz commented on #10325
Seems an ommision when the 2-measure repeats had been implemented during last GSoC, @IsaacWeiss ?

[2022-01-19 16:46] ootjersb commented on #10267
Not so much is needed.

I had this immediately when opening up MuseScore for the first time and like mention in the original report. My screen orientation is vertical, with a 4k screen as uppermost screen, and a laptop screen 1920x1080 as bottom screen. The bottom screen was then setup as main:
![image](https://user-images.githubusercontent.com/33753713/150175638-b0d9148a-38a4-4292-95e8-bed1559971

[2022-01-19 16:52] vpereverzev commented on #10323
Ye, I think it's still worth to log such issues

this one is actually quite a useful bug. We store local copies of the images in the .mscz container, so we don't need to use the "original" images when loading the score. However, this case shows that we are trying to access the original one and then it crashes.

[2022-01-19 17:01] ootjersb commented on #10267
After this I took the nightly build of today, and that version does not have the problem anymore. It seems that something else resolved the issue. It does sometimes have the problem with the menu not appearing in the title bar, but that seems to be different; I think there is a separate issue about that. I am thinking about closing this issue... Just some more testing on a different moment, and if

[2022-01-19 17:42] oktophonie commented on #10322
Oh I dunno, I'm always happy to have my hummer pulled off.

[2022-01-19 19:07] DmitryArefiev opened #10329 "[MU4 Issue] Some shortcuts with Alt (Alt+Shift+E to Edit Text) stopped working on Windows/Linux"
**To Reproduce**
1. Select text
2. Hit **Alt+Shift+E** to edit - **it triggers Menu Bar instead of editing**

https://user-images.githubusercontent.com/90187801/150197617-9543d773-75ed-4ab8-9fc1-cdea4f560256.mp4

**Desktop:**
 - OS: Win/Lin

**Additional context**
**Alt+V** also doesn't work (e.g. if to assign it to create accent

[2022-01-19 19:20] natdurlik opened #10330 "[MU4 Issue] Three highest notes on the Clarinet in B sheet music are displayed identically."
**Describe the bug**
Three highest notes on the Clarinet in B sheet music are displayed identically.

**To Reproduce**
Steps to reproduce the behavior:
1. Create new score for Clarinet in B.
2. Add a note.
3. Use up arrow to move the note to the highest pitch.
4. Observe that three highest notes are displayed the same.

**Expected behavior**
Three highest notes should be displayed correctly on the

[2022-01-19 19:59] alexpavlov96 opened #10331 "[MU4 Task] [GP] Display triplets correctly"
**Task description**
Triplets of 1/8 duration have no "lines" around "3"

**Current state:**
![Screenshot 2022-01-19 at 22 57 26](https://user-images.githubusercontent.com/24373905/150204399-f627a1a1-ab1d-4d92-b330-acf61bef5f0b.png)

**Expected:**
![Screenshot 2022-01-19 at 22 58 29](https://user-images.githubusercontent.com/24373905/150204541-629865b7-c683-4745-9bfd-0f7f4eba2b29.png)

[2022-01-19 20:07] alexpavlov96 opened #10332 "[MU4 Task] [GP] Display meta-information"
**Task description**
Display meta-information:
- Display 'Words by' section
- Display 'Music by' section

[2022-01-19 20:07] cbjeukendrup commented on #10331
This is also a thing the user can edit in MuseScore using the Inspector for tuplets. Actually, I think MuseScore's default is better here; it is usual to hide the bracket if the notes are already grouped by a beam (except when the beam also spans notes that do _not_ belong to the tuplet; see also #8969). Of course, if this is a customizable setting in GP too, then it would be nice if that setting

[2022-01-19 20:08] alexpavlov96 opened #10333 "[MU4 Task] [GP] Display tuning"
**Task description**
Display tuning

**Expected:**
(here Standard tuning)
![Screenshot 2022-01-19 at 23 07 56](https://user-images.githubusercontent.com/24373905/150205858-a1da3dc2-e86e-49f9-bd19-a4f96ea1d236.png)

Other example:
![Screenshot 2022-01-19 at 23 17 09](https://user-images.githubusercontent.com/24373905/150207218-da180d1e-a58c-4e5d-9d2b-b264e485f604.png)

[2022-01-19 20:13] alexpavlov96 opened #10334 "[MU4 Task] [GP] Display chord list at the beginning of the tab"
**Task description**
Display chord list at the beginning of the tab

**Current state:**
![Screenshot 2022-01-19 at 23 11 57](https://user-images.githubusercontent.com/24373905/150206429-78c998a6-631f-4e64-8e5c-1f70d5ea6eff.png)

**Expected:**
![Screenshot 2022-01-19 at 23 13 11](https://user-images.githubusercontent.com/24373905/150206607-25a9f789-0511-4c0b-8c6e-b9dc96cc7c15.png)

[2022-01-19 20:25] alexpavlov96 commented on #10331
@cbjeukendrup thank you, I will learn and ask about that!

[2022-01-20 07:02] mattblo opened #10335 "[MU4 Issue]Mixer solo malfunction"
**Describe the bug**
If some instruments are set to "Solo" in the mixer, everything works as desired. But as soon as you remove the "solo" for an instrument, suddenly all instruments are played back, although some are still set to solo. (For more info see video)

**To Reproduce**
Steps to reproduce the behavior:
1. Create a new Score with some instruments (for example String Quartet with 4 instrum

[2022-01-20 07:29] mattblo opened #10336 "[MU4 Issue] Instruments have the sound of other instruments and play the notes of other instruments (also in the mixer the assignment is wrong)"
**Describe the bug**
When creating a new score over the classical orchestra template, the cello notes are played by the oboe and the contrabass notes are played by the horns. Cello and contrabass, on the other hand, have no sound in the mixer!

**To Reproduce**
Steps to reproduce the behavior:
1. Create a new score from template "classic orchestra" or open this score
[Test classic orchestral score

[2022-01-20 07:37] mattblo commented on #10336
Similar problems also occur when downloading and opening scores from musescore.com.
E.g.: with "the nutcracker".
[Nutcracker_Suite_Dance_of_the_Reed_Pipes.zip](https://github.com/musescore/MuseScore/files/7903143/Nutcracker_Suite_Dance_of_the_Reed_Pipes.zip)

The strings here have no playback at all, instead the horn plays the notes of the viola... where the other instruments are played back, I ca

[2022-01-20 07:51] njvdberg commented on #10330
Related to the fact the clarinet is a transposing instrument, unlike the flute and alto voice?

[2022-01-20 07:59] Jojo-Schmitz commented on #10336
See PR #9102, which, amongst other things, assigings MIDI channels to instruments in the template at hand here in this issue

[2022-01-20 08:05] mattblo commented on #10336
Ah okay good to know. Should I rather close this issue then?

[2022-01-20 08:08] Jojo-Schmitz commented on #10336
Better check whether that PR fixes the issue (so far that's just my suspicion). And let's make sure the PR gets merged ;-)

[2022-01-20 08:35] Jojo-Schmitz commented on #10336
PR got merged, please check whether it solved this issue (in the passing)

[2022-01-20 08:51] mattblo commented on #10336
As far as I could check with the artifacts, this does not solve the problem. In the Nutcracker Suite, for example, the basson still sounds like percussion or something. In a string quartet, however, the cello sounds like percussion.

[2022-01-20 08:57] Jojo-Schmitz commented on #10336
Pity. So the culprit got to be somewhere else

[2022-01-20 09:12] izarys opened #10337 "[MU4 Issue] Note name displayed in the bottom screen bar is not refreshing"
**Describe the bug**
Moving the note by up/down arrows does not change the note name displayed in the bottom screen bar.

**To Reproduce**
Steps to reproduce the behavior:
1. Create an empty score
2. Add a note
3. Click up/down to change the added note
4. Note name displayed in bottom screen bar is not refreshed

**Expected behavior**
The note name is changed accordingly.

**Screenshots**

![muses

[2022-01-20 09:24] Jojo-Schmitz commented on #10192
`Ctrl`+`+` just works for me in the current builds.
As far as I can tell it ain't broke, so no need to fix.

[2022-01-20 09:33] Jojo-Schmitz commented on #10192
Even worse: `Ctrl`+`Shift`+`=`isn't even possible here

[2022-01-20 10:00] njvdberg commented on #10040
By the way, MU3 has the same problem.
Nevertheless, I'm looking for a solution.

[2022-01-20 11:10] bkunda opened #10338 "[MU4 Issue] `Backspace` should move palette items to "More" popup"
**Describe the bug**
Hitting `Backspace` while an item is selected in a palette doesn't seem to do anything.
This appears to be a regression; per MS3.6, `Backspace` should move the selected palette object to the "More" popup.

**Side-by-side demo (Expected v. current behaviour)**

![backspace-doesn't-hide-palettes](https://user-images.githubusercontent.com/86290556/150327408-d6de809b-6e36-4852-868

[2022-01-20 11:36] bkunda opened #10339 "[MU4 Issue] "Palette Properties..." not working for several palettes"
**Describe the bug**
"Palette properties..." appears to contain no pre-filled information (I.e. "Name", "Cell size"), and settings contained therein don't affect the corresponding palette.

Moreover, adding information to the text fields, such as "Name", does nothing.

This affects the following palettes:
- Arpeggios & glissandi
- Breaths & pauses
- Repeats & jumps

(Interestingly, all the palette

[2022-01-20 12:14] cbjeukendrup commented on #10337
Working on it!

[2022-01-20 12:17] DmitryArefiev commented on #9906
Tested #10290 on Win10, Mac12, LinuxMint 20.2 - FIXED

[2022-01-20 15:27] HemantAntony commented on #10339
Hello the problem in this issue seems to be the `&` in the names of the affected palettes. So, when the data is sent, parseParams() tries to separate various parameters by splitting using the `&` which results in the name getting split too. So, I was wondering what the solution should be?

![image](https://user-images.githubusercontent.com/88136054/150368770-13211ef7-c1df-40dd-9f6f-cf62339d57a7.pn

[2022-01-20 15:38] Jojo-Schmitz commented on #10339
These ampersands in Palette names are causing trouble one way or the other since ages. How about replacing them with a `+' or the word 'and'?

[2022-01-20 15:42] HemantAntony commented on #10339
That would be the easiest solution. @bkunda, what do you think?

[2022-01-20 15:58] Jojo-Schmitz commented on #10339
It'd be a half-baked solution, as a user could still created a palette with an ampersand in its name

[2022-01-20 16:57] DmitryArefiev opened #10342 "Selection rectangle stretches over the whole page when selecting certain bars in certain scores"
**To Reproduce**
1. Open  [direction.zip](https://github.com/musescore/MuseScore/files/7907085/direction.zip)
2. Select 14th bar

https://user-images.githubusercontent.com/90187801/150385470-8d1e2374-9aa5-4a2c-96c0-3147470c223e.mp4

[2022-01-20 17:15] DmitryArefiev opened #10343 "[MU4 Issue] MSCX scores are displayed without any logo in Recent scores"
**To Reproduce**
1. Open [01.zip](https://github.com/musescore/MuseScore/files/7907209/01.zip)
2. Go to Home>Scores

https://user-images.githubusercontent.com/90187801/150388559-42c8652c-b709-417e-b4c0-3f9c3f4666a6.mp4

**Expected behavior**
It should not be empty

**Screenshots**
If applicable, add screenshots to help explain your problem.

**Desktop (please complete the following information):**

[2022-01-20 17:38] DmitryArefiev commented on #9845
Tested in latest master build (Win10, Mac12, LinuxMint 20.2) - FIXED

Closing

[2022-01-20 17:38] #9845 closed

[2022-01-20 18:43] alexpavlov96 opened #10344 "[MU4 Task] [GP] Equalize output of GP tests in old and new import implementations"
**Task description**
* Make old and new implementations of guitar pro files import generate the same xml output when visible results are the same
* Update guitar-pro tests

[2022-01-20 19:25] DmitryArefiev commented on #10120
@igorkorsukov Tested #10133 on Win10, Mac12, LinuxMint 20.2 - found some things:

1. The version at the top doesn't correspond with the MU version were the score was created.
E.g. **This file was created in 2.2.5** this message appears for score created in **MU 2.0.1**.
In fact the dialogs just show 2.2.5 or 3.3.2

2. The wrong dialog applied for score created in **MU3.6.2**

This:

![Capture](htt

[2022-01-20 19:57] DmitryArefiev commented on #9745
Tested #10221 on Win10, Mac12, LinuxMint 20.2 - all issues are fixed

[2022-01-20 20:04] #9745 closed

[2022-01-20 20:37] njvdberg commented on #9210
Solved by #10345

[2022-01-20 20:38] njvdberg commented on #10040
Unfortunately, this isn't solved by the PR solving #9210. Will be solved with dedicated PR.

[2022-01-20 20:39] njvdberg commented on #10034
Unfortunately this isn't the same issue as #9210. Will be solved by another PR.

[2022-01-20 20:50] njvdberg commented on #10034
@oktophonie An organ has three staves from which the upper two are grouped by a brace:
![Screenshot_20220120_214520](https://user-images.githubusercontent.com/48352523/150419411-694710d2-c61e-43e3-8287-408f93d04125.png)
How about adding a staff, should the upper n-1 staves be grouped by a brace, like
![Screenshot_20220120_214720](https://user-images.githubusercontent.com/48352523/150419683-9fdbc33

[2022-01-21 01:51] HemantAntony commented on #10339
Maybe we allow only Alphabets and Space in Palette Names?

[2022-01-21 02:05] HemantAntony commented on #10339
It seems like Qt has a function for percent encoding: https://doc.qt.io/qt-5/qbytearray.html#toPercentEncoding. I will start working on a solution with this

[2022-01-21 05:51] bkunda commented on #10339
If there is a solution to be found that allows the use of ampersands, then that's certainly what we should be aiming for. From a user POV, it's kind of ridiculous that inserting this character would cause some functionality to break.

But if a quick workaround is absolutely necessary (and restoring this functionality _is_ necessary), then I would suggest only using the word "and" (and not "+").

W

[2022-01-21 05:56] HemantAntony commented on #10339
I don't think that's a problem now because I have created a PR which solved this. Also when you test it, try to break the functionality where the user can change the name of the palette themselves by using various symbols like & and +

[2022-01-21 05:57] bkunda commented on #10339
Brilliant. Is it #10347? I'll look at it now!

[2022-01-21 06:32] mattblo commented on #9210
Tested! Problem fixed!

[2022-01-21 09:21] #10339 closed

[2022-01-21 09:44] DmitryArefiev commented on #9636
Tested in latest master build (Win10, Mac12, LinuxMint 20.2) - PASS

[2022-01-21 10:07] DmitryArefiev commented on #9170
@wizofaus  **Documents side by side** and **Documents stacked** features were removed from MU4 by design and removed from View menu as well in #10300

[2022-01-21 10:33] DmitryArefiev commented on #10267
Glad to hear it! Feel free to close if all good in the master build.

Thank you!

[2022-01-21 11:13] oktophonie commented on #10034
Probably we can't have logic to cover every eventuality (that is, the user will likely need to manually adjust in some cases.)
I'd say it's a safe assumption that there will be only one pedal stave, so the upper n-1 staves should have a brace and be barred through. In other words, there should be only one unbraced stave at the bottom for pedals (assuming one is present to begin with) when extra st

[2022-01-21 12:20] jeetee commented on #10034
Definitely go with brace n-1 if you have to decide something.
I have not ever come across an organ with more than 1 pedal board, nor would there be a need for more than one pedal stave (oh the logistic horror in imagining playing such a thing!).

More than two staves for the manuals isn't common, but not unused either. I've come across up to 4 staves for the manuals occasionally, in which case the

[2022-01-21 13:16] #10254 closed

[2022-01-21 14:14] DmitryArefiev commented on #10254
Tested on Win10, Mac12, LinuxMint 20.2 - FIXED in #10273

[2022-01-21 14:39] Eism commented on #10189
resolved in #10273

[2022-01-21 14:39] #10189 closed

[2022-01-21 14:49] DmitryArefiev commented on #10119
Absolutely make sense! Since the exit function can be done with Escape key

[2022-01-21 16:37] DmitryArefiev opened #10350 "[MU4 Issue] Unable to edit Instrument name text style properly in Inspector"
https://user-images.githubusercontent.com/90187801/150564728-81c9369c-7c05-4aa1-8f56-fdf4929cf595.mp4

**Desktop:**
 - OS: all

**Additional context**
In MU3 that option (edit Instrument name text style) in Inspector was blocked because of design limitation (unable to save the state).  And MU4 has the same limitation.

So the easy fix is just to block that option in MU4 too

[2022-01-21 17:31] DmitryArefiev opened #10351 "[MU4 Issue] Drumline templates have an old version (trigger export dialog) and don't have unique names in Templates"
**Describe the bug**
A short and clear description of what the bug is.

**To Reproduce**
Steps to reproduce the behavior:
1. Install Drumline templates from Home>Add-ons>Extensions
2. Go to New Score>Templates>Other

![Screenshot 2022-01-21 at 7 05 47 PM](https://user-images.githubusercontent.com/90187801/150572852-aaceb18f-0d9b-4784-830c-010cbd3a1c20.png)

https://user-images.githubusercontent.co

[2022-01-21 18:14] DmitryArefiev commented on #9902
Hi @wizofaus , I've tried builds from #10185 (Mac/Win), and it seems to be it's not fixed yet..
When **entering slur**, it doesn't select the rightmost handle. When **entering crescendo**, it doesn't leave hairpin selected only:

https://user-images.githubusercontent.com/90187801/150579049-ee36ade5-1936-4965-aac5-fd14f2afb9b0.mp4

.

[2022-01-21 18:38] #9906 closed

[2022-01-22 00:06] MarcSabatella opened #10354 "[MU4 Issue] interface and score do not scale properly with -D"
Un the past, MuseScore has tried to detect the monitor resolution and scale everything - interface and score alike - so that the physical size of all icons and of the score itself is identical across systems.  In practice, this often doesn't work because of the different ways various operating systems attempt to scale things at their end.  So, we provide the "-D" command line option to tell MuseSc

[2022-01-22 05:17] HemantAntony commented on #10307
I'm working on this

[2022-01-22 06:05] HemantAntony opened #10356 "[MU4 Issue] More palette popup should move with MuseScore window"
**Describe the bug**
When you click on the More button in a palette, it opens a popup. However, if you move the MuseScore window, the popup does not move with the window.

**To Reproduce**
Steps to reproduce the behavior:
1. Create a Score
2. Click on any palette
3. Click on 'More'
4. Move the MuseScore window
5. The popup stays in its opened position

**Expected behavior**
The popup should move w

[2022-01-22 06:57] llui85 commented on #10218
@Eism Sorry for the late reply! Yes, this issue can still be reproduced on the latest nightly.

[2022-01-22 09:47] Eism commented on #10356
Duplicate #9867

[2022-01-22 09:47] #10356 closed

[2022-01-22 16:57] cbjeukendrup commented on #10354
Another issue that I noticed, is that the score page size does not equal the physical size anymore when zoom is 100% on high-dpi screens (e.g. if you have a score on A4 paper, the size on screen will not match the size of a real sheet of A4 paper). I fixed this a while ago in PR #9112, but apparently this was broken again by the more recent changes to how drawing works.

[2022-01-22 18:03] cbjeukendrup commented on #10342
This seems to happen when there is after the measure a horizontal frame with a customized width.

[2022-01-23 17:00] lyrra commented on #9460
This patch avoids a crash, but cant get audio from plugin towards musescore.
Suggestion to use m_processData.numOutputs came from: https://steinbergmedia.github.io/vst3_doc/vstinterfaces/structSteinberg_1_1Vst_1_1AudioBusBuffers.html
Not sure if it is correct, probably not, but can't find a reference example host.

diff --git a/src/framework/vst/internal/vstaudioclient.cpp b/src/framework/vst/inte

[2022-01-24 02:38] RunasSudo opened #10360 "[MU4 Issue] Multimeasure rest measure number ranges are not displayed"
**Describe the bug**
Multimeasure rest measure number ranges are not displayed even when enabled.

**To Reproduce**
Steps to reproduce the behavior:
1. Create a new score, e.g. with a single "Voice" instrument.
2. At Format → Style → Measure Numbers, tick "Show measure number range at multimeasure rests".
3. Note that "Vertical placement" is blank and clicking the dropdown does nothing.
4. Click O

[2022-01-24 04:42] worldwideweary opened #10361 "[MU4 Issue] Crash adjusting tie of grace note to a chord"
Due to seeing a difference of tie placement between an acciaccatura/etc to a note (personally looks better in 3.6 imo), here's an attempt to change a node position with keyboard (left-arrow after mouse selection of node), but there's an immediate crash. Sorry if this was previously logged (and lack of further details).

Here's a screencast:

https://user-images.githubusercontent.com/7139517/150723

[2022-01-24 05:43] bkunda commented on #10307
Hi @HemantAntony, I was just chatting with @RomanPudashkin and I think he said he would be looking at this issue himself. @RomanPudashkin can you please clarify either way? Thanks!

[2022-01-24 06:15] HemantAntony commented on #10307
Oh, I have actually almost finished working on this issue

[2022-01-24 06:29] bkunda commented on #10307
All good then! 🙂

[2022-01-24 07:44] alexpavlov96 opened #10364 "[MU4 Issue] [GP] fix slurs import in newer implementation of gp-import"
**Task description**
Slurs are not shown while importing with new implementation

[2022-01-24 07:46] alexpavlov96 opened #10365 "[MU4 Task] [GP] fix accents import in newer implementation of gp-import"
**Task description**
Accents are not shown while importing with newer implementation of gp-import

[2022-01-24 07:55] #9434 closed

[2022-01-24 11:44] #8805 closed

[2022-01-24 12:20] bkunda commented on #10172
@RomanPudashkin I agree this is a sensible suggestion 😀

[2022-01-24 12:31] #10364 closed

[2022-01-24 12:47] #10344 closed

[2022-01-24 13:32] #9449 closed

[2022-01-24 13:45] #10295 closed

[2022-01-24 13:45] #10296 closed

[2022-01-24 14:00] MarcSabatella commented on #10354
Fwiw, assuming we can’t do any better at detecting the display resolution than we did in MuseScore 3 (thus eliminating the need for the user overrides and the almost daily support posts about how to fix sizes), I think we should scrap the “-D” option in favor of a simple preference the user can set within the UI.  It would be far simpler for users who don’t have any idea what a command line option

[2022-01-24 14:45] Jojo-Schmitz commented on #10308
As this seems to be about slurs, not ties, it'd be clearer if the notes in the example wouldn't have the same pitch

[2022-01-24 16:00] RomanPudashkin commented on #9539
For development builds we don't run lupdate and lrelease targets. Therefore, we don't generate *.qm files in the install path. As a result, LanguagesSeverice marks the current language as NotInstalled and therefore it cannot be displayed in the preferences dialog. We will run these targets before release, so this list will work fine in the release build

[2022-01-24 16:00] #9539 closed

[2022-01-24 16:01] RomanPudashkin commented on #9538
https://github.com/musescore/MuseScore/issues/9539#issuecomment-1020255086

[2022-01-24 16:01] #9538 closed, assigned to RomanPudashkin

[2022-01-24 21:50] maryszabo commented on #10259
Hi, is this still available? If so, I am new to this (and first time working on open source code). I would really appreciate any tips or advice on how to approach solving this problem.

[2022-01-25 06:33] #9668 closed

[2022-01-25 10:56] bkunda opened #10372 "[MU4 Issue] Create time signatures doesn't work"
**Describe the bug**
Creating custom time signatures via the "More" popup in the time signatures palette doesn't add the custom time signature to the palette.

This seems like a regression, hence I'm raising it as an issue. If we can slightly tweak the UX from MS3.6, however, then that would be ideal as the way this currently works in 3.6 is problematic (no feedback is provided to user that their

[2022-01-25 14:42] DmitryArefiev commented on #10078
Tested on Win10, Mac12, LinuxMint 20.2 - FIXED

[2022-01-25 14:42] DmitryArefiev commented on #9780
Tested on Win10, Mac12, LinuxMint 20.2 - FIXED

[2022-01-25 14:42] DmitryArefiev commented on #10168
Tested on Win10, Mac12, LinuxMint 20.2 - FIXED

[2022-01-25 14:45] #9780 closed

[2022-01-25 14:45] #10078 closed

[2022-01-25 14:45] #10168 closed

[2022-01-25 14:52] alexpavlov96 opened #10375 "[MU4 Task] [GP] Display tab pitch especially when tied over the measure"
**Task description**
When the tied note goes over the measure sign, add brackets to the note in tab notation after the measure sign
Example below: 4 -> (4) is a tied note

**Expected:**
![Screenshot 2022-01-25 at 17 51 24](https://user-images.githubusercontent.com/24373905/150999690-d8b810d1-99ac-45f5-9212-c8babb2e923c.png)

[2022-01-25 15:25] alexpavlov96 opened #10376 "[MU4 Task] [GP] Display correctly tempo changes inside the bars"
**Task description**
Display correctly tempo changes inside the bars (now they are moved to the beginning of the measure).

**Current state:**
![Screenshot 2022-01-25 at 18 23 10](https://user-images.githubusercontent.com/24373905/151005536-45d31b54-9fc7-4575-a614-829a13fcbe69.png)

**Expected:**
![Screenshot 2022-01-25 at 18 24 38](https://user-images.githubusercontent.com/24373905/151005804-4802

[2022-01-25 15:30] alexpavlov96 opened #10377 "[MU4 Task] [GP] Display gradual tempo changes"
**Task description**
Display gradual tempo changes:
- Rallentando (rall.)
- Accelerando (accel.)

**Current state:**
![Screenshot 2022-01-25 at 18 27 43](https://user-images.githubusercontent.com/24373905/151006358-0f816190-b0ab-4b49-999d-97e91f5db91e.png)

**Expected:**
![Screenshot 2022-01-25 at 18 27 12](https://user-images.githubusercontent.com/24373905/151006259-ca5cf59b-71a2-40d2-b737-c1ca9b

[2022-01-25 15:51] Jojo-Schmitz commented on #10377
I guess first https://musescore.org/en/node/9383 needs to get implemented

[2022-01-25 16:03] alexpavlov96 commented on #10377
@Jojo-Schmitz I'm working now on guitar experience especially. What about simply showing the text from imported data, so the guitarists can see?

You mean to implement playing the melody with acceleration/slowing down?

[2022-01-25 16:17] alexpavlov96 opened #10378 "[MU4 Task] [GP] Display capo and relate fingering to it"
**Task description**
Show fingering related to capo, not zero.
(Notes in standard notation are correct, the task is only about tab notation)
Capo itself should be also displayed

**Current state:**
Counting starts from 2
![Screenshot 2022-01-25 at 19 15 17](https://user-images.githubusercontent.com/24373905/151015239-ba65af5c-331d-4505-b402-5ca091df7651.png)

**Expected:**
Counting starts from 0,

[2022-01-25 16:17] Jojo-Schmitz commented on #10377
yes

[2022-01-25 20:26] alexpavlov96 opened #10379 "[MU4 Task] [GP] Display percussion correctly"
**Task description**
Display percussion correctly

Problems:
1. Crashes (49 and 57) are swapped
**Current:**
![Screenshot 2022-01-25 at 23 22 11](https://user-images.githubusercontent.com/24373905/151053458-bc6302e9-1dfd-4aaf-b5ff-f5b13a23f9c8.png)

**Expected:**
![Screenshot 2022-01-25 at 23 23 05](https://user-images.githubusercontent.com/24373905/151053596-0954546d-effb-405d-abe6-1b9bdf187e1c.p

[2022-01-25 20:28] alexpavlov96 opened #10380 "[MU4 Task] [GP] Add correct sound for percussion"
**Task description**
Add correct sound for percussion, it sounds as a piano.

[2022-01-25 20:31] alexpavlov96 opened #10381 "[MU4 Task] [GP] Display signatures for percussion"
**Task description**
Display signatures for percussion

**Current state:**
![Screenshot 2022-01-25 at 23 30 19](https://user-images.githubusercontent.com/24373905/151054638-d7aafc2d-f56f-4679-832b-85a17df81100.png)

**Expected:**
![Screenshot 2022-01-25 at 23 30 51](https://user-images.githubusercontent.com/24373905/151054699-713aafaf-8d4b-4137-834f-96077c996a61.png)

[2022-01-25 20:42] alexpavlov96 opened #10382 "[MU4 Task] [GP] Display clefs correctly"
**Task description**
Display clefs correctly (percussion and alto/tenor)

1. Alto/tenor
**Current state:**
![Screenshot 2022-01-25 at 23 39 34](https://user-images.githubusercontent.com/24373905/151055948-45d4a004-f197-490f-949f-cd8c3b1c0659.png)

**Expected:**
![Screenshot 2022-01-25 at 23 40 57](https://user-images.githubusercontent.com/24373905/151056140-2b8450e8-cd7a-4b89-b253-eeec8a8d2a9d.png

[2022-01-26 00:31] Antonio-Villarreal commented on #10258
Any advice for working on this problem?

[2022-01-26 01:14] RobFog commented on #10259
Looks like it is. Maybe @cbjeukendrup can help? :)

[2022-01-26 09:01] cbjeukendrup commented on #10258
I'm not sure whether @Kissh12 is still planning to work on this one. @Kissh12 would you still like to tackle this, or is it okay if @Antonio-Villarreal takes it?

For some hint about this issue, please see my previous comment here.

[2022-01-26 09:05] Kissh12 commented on #10258
I have sent a pull request already, do check it

[2022-01-26 09:08] Jojo-Schmitz commented on #10258
No, you haven't.

[2022-01-26 09:09] cbjeukendrup commented on #10258
You made a pull request at your own repo (https://github.com/Kissh12/MuseScore/pull/1), so therefore we can't find it. Please create a new one at this repo.

[2022-01-26 09:10] Jojo-Schmitz commented on #10258
Also in the PR title is should mentione the issue it is supposed to fix, you have

Resolves: _(direct link to the issue)_

[2022-01-26 09:11] Kissh12 commented on #10258
oh right yes, sorry I'm new to this so got confused, thanks a lot

[2022-01-26 09:11] Kissh12 commented on #10258
alright..

[2022-01-26 09:14] Jojo-Schmitz commented on #10258
Initial PR Message I meant (corrected above)

[2022-01-26 11:08] #10172 closed

[2022-01-26 14:35] Jojo-Schmitz commented on #10377
See #10383, which seems at least a 1st step towards proper playback of these

[2022-01-26 18:01] alexpavlov96 commented on #10377
@Jojo-Schmitz thank you, I will track, not working with this in the near future

[2022-01-26 18:20] alexpavlov96 commented on #10304
@cbjeukendrup I updated the description! For guitarists it's not common to see the slashed stem, so I will fix default and ability to change the value in menu. Should there be some differences between "Tab. 6-str. common" and "Tab. 6-str. full" in the way of default values?

[2022-01-26 18:28] alexpavlov96 opened #10384 "[MU4 Task] [GP] Display the tab preview in "Advanced style properties""
**Task description**
Display the tab preview in "Advanced style properties"
UI by right-clicking the TAB staff and choosing "Staff/Part properties" > "Advanced Style Properties"

**Current state:**
![image](https://user-images.githubusercontent.com/24373905/151224198-988f9442-90c9-4785-82a3-ab551dd39658.png)

**Expected (without style change):**
![image](https://user-images.githubusercontent.com/2

[2022-01-26 18:29] alexpavlov96 commented on #10304
I noticed that "Preview" disappeared (compare "menu" pics).
Created https://github.com/musescore/MuseScore/issues/10384

[2022-01-26 20:34] cbjeukendrup commented on #10304
I'm not sure about this, I'm by no means a guitar/tablature expert. But in the MuseScore 3 user manual, I found this: https://musescore.org/en/handbook/3/tablature#from_instruments. That section suggest that it is intended for the "Tab. 6-str. full" staff type to have those different stems. But of course, there is nothing against revising intentions :)

@oktophonie what is your opinion on this?

[2022-01-26 21:56] jeetee commented on #9185
Turning on "Play Repeats" (which was off by default**?!**) does not set MasterScore::_expandRepeats

[2022-01-26 22:21] MarcSabatella commented on #10304
I think you'll also find there is a lot of variation from publisher to publisher in how they present tablature.  Many show no rhythms at all.  So I wouldn't assume just because you personally are more familiar with one style than another because of the books or sites you've seen, that this is true for all guitarists in all genres of music in all countries.

Anyhow, to be clear, in MuseScore 3, the

[2022-01-26 22:31] Tantacrul commented on #9185
Yeah, repeats, MIDI input and whatever else is On by default in MS3 should also be in MS4. An oversight.

[2022-01-26 22:34] Tantacrul opened #10385 "[MU4 Issue] 'Play Repeats', 'Enable MIDI' & 'Pan Score Automatically' should be ON by default"
See image:

![image](https://user-images.githubusercontent.com/21022311/151258341-b6056fa0-c868-4a18-bbbd-689b1f7af3e7.png)

[2022-01-26 22:41] cbjeukendrup commented on #10304
Thanks, Marc!
Then I think the solution would be to make sure that the Guitar Pro import uses the default "Common" style Tab staff, instead of what it is currently using (namely "Full", apparently).

[2022-01-26 22:44] jeetee commented on #9282
Same root cause as #9185
We never process the play repeats setting, which means the score is always played back to front ignoring all repeats, jumps and voltas

[2022-01-26 22:48] cbjeukendrup commented on #10259
Sure!

@maryszabo Hi! I investigated a bit into this issue myself, and after some testing I found that it seems to be specific to dropdown items, rather than having to do anything with text specifically. For example, the inspector panel for key signatures also contains a dropdown, which shows the same problem.

I also discovered that it only happens when you have just changed the value in the drop

[2022-01-26 23:40] Tantacrul commented on #9185
#10385

[2022-01-26 23:41] Tantacrul commented on #9185
#10385

[2022-01-26 23:42] Tantacrul opened #10386 "#10385"
#10385

_Originally posted by @Tantacrul in https://github.com/musescore/MuseScore/issues/9185#issuecomment-1022704376_

[2022-01-26 23:42] #10386 closed

[2022-01-26 23:43] Tantacrul commented on #9185
Just created a separate issue mentioning that those three settings should be on by default: https://github.com/musescore/MuseScore/issues/10385

[2022-01-27 09:45] ShawkMusic opened #10388 "[MU4 Task] Add support for Noteperformer"
**Task description**
A short and clear description of what the task is.
Add support for Noteperformer

I've heard some pieces that use Noteperformer and I've been blown away by how good and expressive it sounds, especially for a digital instrument. It would be great to be able to use it in Musescore!
In [this post](https://musescore.org/en/node/280970), a user sent Noteperformer a request to suppo

[2022-01-27 09:57] HemantAntony opened #10389 "[MU4 Issue] Create Key Signatures does not work"
**Describe the bug**
There are mainly two bugs here. One is when opened, Key Signature Dialog goes behind MuseScore. The other one is that clicking `Add` does not work.

**To Reproduce**
Steps to reproduce the behavior:
1. Click on Key Signatures Palette
2. Click on More
3. Click on Create Key Signature
4. It goes behind MuseScore
5. Now, on clicking the dialog via the taskbar, create a key signat

[2022-01-27 09:58] cbjeukendrup commented on #10388
This is a _feature request_, not a _development task_. For feature requests, please use the forum on MuseScore.org.

But for this particular feature request, you don't need to post anything, since we already know that some people think they would like to have NotePerformer in MuseScore, and people already know (or should know) that this is not a priority for us at the moment, as stated in announce

[2022-01-27 10:08] #10388 closed

[2022-01-27 10:40] HemantAntony commented on #10389
I am currently working on rewriting this in qml

[2022-01-27 12:10] jeetee commented on #9227
I can confirm that the cursor seems to follow the intended playback tempo (tested with a score at 400 qpm) while playback itself doesn't follow it at all.

[2022-01-27 12:12] jeetee commented on #9185
Fixing repeats itself seems to "work" but brings to light other deficiencies, mostly related to not having an unrolled tempomap (which was an MS3 issue as well). This time around notably the effect is that the totalDuration calculation is wrong, resulting in playback stopping too soon if a repeat is involved.

[2022-01-27 14:22] DmitryArefiev opened #10391 "[MU4 Issue] Navigation doesn't work (focus is lost) in New Score window if it's opened as new copy of MU"
**To Reproduce**
1. Run MU
2. Open a score
3. Hit **Cmd+N** to open New Score wizard (or navigate to Home>Score>New Score)
4. Try to navigate with Tab within New Score window - focus is lost (see video)

https://user-images.githubusercontent.com/90187801/151376729-56c5bd21-5085-4110-96c1-72ef9fcd957c.mov

**Desktop:**
 - OS: Mac12 (Mac only)

[2022-01-27 15:02] DmitryArefiev opened #10392 "[MU4 Issue] MU doesn't restore new session after crash"
**To Reproduce**
1. Set up auto save time to 1min
2. Start a new score
2. Add some notes
3. Wait for 1min
4. Crash MU (DevTools>Crash handler>Crash)

**Expected behavior**
After you reopen MU, Restore Session dialog should appear, and if to click OK it should ope restored score

**Desktop:**
 - OS: Win (probably all)

**Additional context**
Doesn't occur in **MU3**

[2022-01-27 15:23] DmitryArefiev commented on #10269
@RomanPudashkin Since the feature (showing selection in Navigator) is missing in MU3 let's promote without it.
In my opinion, Navigation looks fine without it.

FYI @Tantacrul @bkunda

[2022-01-27 15:45] Tantacrul commented on #10269
I agree that showing the selection in the navigator is a trivial issue.

[2022-01-27 15:49] jessjwilliamson commented on #9403
@cbjeukendrup I may have found the solution to these icon glitches! These icons had some vector issues which I've cleaned up. Can you update the musescoreicon font and check if they look better in the app? :)

[2022-01-27 16:46] DmitryArefiev opened #10394 "[MU4 Issue] [Accessibility] Screen reader should announce user when he enters the score during navigation with Tab"
**Describe the bug**
 Screen reader should announce to user more understandable when he enters the score during navigation with Tab

**1st part:**
When navigating to score name tab, screen reader speaks "_file name_ radio button".
Instead of that it should say "score _file name_" (can be discussed)

https://user-images.githubusercontent.com/90187801/151403901-c4bbbf90-c603-4c93-b806-3eeb4359c72c.m

[2022-01-27 17:10] DmitryArefiev opened #10395 "[MU4 Issue] Minimum measure width should be greater by default in new scores"
https://user-images.githubusercontent.com/90187801/151408423-a2f7973a-7c1d-41f5-b07d-6b01a1a06759.mp4

TO DO..

**Describe the bug**
Minimum measure width should be greater by default in new scores created from (New Score dialog)

Probably, it should depend on instruments amount in score/staff size

I'm thinking  now:
- for **small scores** it should be about **15sp**
- for **middle/big scores** i

[2022-01-28 03:25] MarcSabatella commented on #10307
FWIW, I think it was a deliberate change at some point to change from the "S" icon to the current icon that shows an image of a staff, but to me its not very clear.  We can probably do better than either of these.  Keep in mind "S" doesn't have any particular association with staff in most languages other than English.

[2022-01-28 06:01] bkunda commented on #10307
That's a really good point @MarcSabatella. I too think we can do better than the "S" icon, but we should also  try to move away from what's currently there, which really doesn't indicate much at all.
I think I'll give a different icon a crack. I have some ideas that I think could work.
B.

[2022-01-28 08:22] #10269 closed

[2022-01-28 08:47] sammik commented on #10389
Please, have a look into slight enhancement (add arrow keys navigation) as described in [https://musescore.org/en/node/328853](https://musescore.org/en/node/328853)
Thank You

[2022-01-28 09:08] HemantAntony commented on #10389
Hello, I read your feature request. I think the idea is great. But, I am not sure if I will be able to implement this. However, I will try. Thank you!

[2022-01-28 12:24] DmitryArefiev commented on #10120
https://user-images.githubusercontent.com/90187801/151545822-bd13e8d8-adfe-4182-8e0a-b12547a90fab.mp4

@RomanPudashkin Also there is a bug when clicking on X button in the export dialog it shows an error message.
Let's make X behavior as Cancel button. X button should trigger no error message and no action. Thanks!

FYI @Tantacrul @bkunda

[2022-01-28 12:37] DmitryArefiev opened #10399 "[MU4 Issue] Closing the last score shouldn't close MU (if many scores were opened)"
https://user-images.githubusercontent.com/90187801/151548181-4dbeabb6-08ea-4e66-a593-c32135628c21.mp4

**To Reproduce**
1. Open score A
2. Open score B
3. Close score B (with X button)
4. Close score A (with X button) - it should not close MU

**Platform information**
 - OS: Win10 (didn't try Mac, Lin)

[2022-01-28 13:51] DmitryArefiev commented on #9385
Hi @bkunda, can you check this on your side as well please?

I've tested briefly on Win/Linux, and it looks fine. I have only one suggestion: maybe not to close pop-up dialog after each clicking +

https://user-images.githubusercontent.com/90187801/151558373-b37da86b-120e-4245-be90-00ada44f11bf.mp4

Thanks!

[2022-01-28 14:34] bkunda commented on #9385
Hey @DmitryArefiev, tested briefly in MacOS and it seems to be working really well.
I totally agree with you – let's keep the popup open until the user closes it (by selecting outside of it, as usual). This makes more sense to me now that I can actually see the interaction!
Cheers, and thanks @cbjeukendrup!

[2022-01-28 16:11] vpereverzev commented on #10389
Make sure that you don't do double work

https://github.com/musescore/MuseScore/issues/9618#issuecomment-1010248494

[2022-01-28 16:13] HemantAntony commented on #10389
That's Time Signatures. Key Signatures don't work also

[2022-01-28 16:14] HemantAntony commented on #10389
That's Time Signatures. Key Signatures Dialog face a similar problem.

[2022-01-28 16:16] DmitryArefiev commented on #10323
Tested on Win10, Mac12, LinuxMint 20.2 - FIXED

When tested on Linux, there was an assertion in some cases (will log it separately if reproduces in master after merging)

[2022-01-28 17:17] #9385 closed, assigned to nobody

[2022-01-28 17:44] #10169 closed

[2022-01-28 18:34] DmitryArefiev commented on #10169
Tested on Win10, Mac12, LinuxMint 20.2 - FIXED

[2022-01-28 20:11] maryszabo commented on #10259
@cbjeukendrup
Thank you so much for the suggestions! I really appreciate it! Planning to work on the code this weekend. Thanks again!!

[2022-01-29 10:49] tmr232 opened #10403 "[MU4 Issue] Issues when moving same-beat notes between strings in tablature"
**Describe the bug**

When working on Guitar tablature, moving multiple notes on the same beat between strings doesn't work as expected.
It either fails, or causes weird changes.

**To Reproduce**
Steps to reproduce the behavior:
1. Create a new score with guitar tablature
2. Add 3 notes on the same beat
3. Select them
4. Press `Ctrl + Down` to move them to a lower string
5. Press `Ctrl + Up` to m

[2022-01-29 11:43] Tantacrul opened #10404 "Custom time signatures broken in 'Palettes' and 'Master Palette'"
**Describe the bug**
See video

https://user-images.githubusercontent.com/21022311/151659948-af5235c7-507b-461b-bdfd-9138b92bd625.mov

[2022-01-29 11:56] Tantacrul commented on #10404
@bkunda - you may have logged this already. I'm also aware there's a redesign of part of the custom time signatures modal too, which you may want to link to here.

[2022-01-29 11:58] Tantacrul opened #10405 "Creating custom key signatures dialog is broken and missing parts (in both Palettes and Master Palette)"
**Describe the bug**
See video

https://user-images.githubusercontent.com/21022311/151660118-b0f79651-b062-425d-aace-6b4cc9e44af3.mov

[2022-01-29 12:05] Tantacrul opened #10406 "Cannot drag elements from 'Master Palette' to 'Palettes'"
**Describe the bug**

1. Cannot drag items from the **Master Palette** into **Palettes**
2. **Master Palette** window can get hidden behind main window (existing MS3 bug)

(See video)

https://user-images.githubusercontent.com/21022311/151660315-ee3ee2bc-3dc1-43cc-b95c-ba8151665f6e.mov

[2022-01-29 12:06] Tantacrul commented on #9867
Oh, I think the simple solution it to close the popup if the user moves the window. I would think that is expected.

Thanks!

[2022-01-29 13:01] HemantAntony commented on #10405
This is related to #10389. Your issue seems to have reported more bugs (There is a Windows Bug too). Should I close my issue?

[2022-01-29 14:22] #10389 closed

[2022-01-29 16:29] hselasky opened #10407 "ALSA sequencer device leaks when toggling MIDI ON/OFF"
**Describe the bug**
ALSA sequencer device leaks when toggling MIDI ON/OFF

**To Reproduce**
1. Build musescore with ALSA MIDI support enabled.
2. Click on the MIDI DIN-5 plug ICON four times.
3. Run "aconnect -l"
4. Verify that multiple ALSA MIDI instances are registered.

**Expected behavior**
At any time only one instance should be registered.

**Screenshots**
Not applicable.

**Platform inform

[2022-01-29 16:36] hselasky commented on #10407
@probonopd : FYI

[2022-01-29 22:38] hselasky commented on #10407
Looks like this is fixed in MU4.

[2022-01-29 22:58] Jojo-Schmitz commented on #10407
Guess I'll add that fix to PR #9000 then.

[2022-01-30 08:45] Jojo-Schmitz commented on #10407
Please check the GitHub CI artifact from PR #9000, I can't, don't have a LInux box to test

[2022-01-30 12:17] hselasky commented on #10407
@Jojo-Schmitz : Looks good!

[2022-01-30 12:46] hselasky commented on #10407
2234 hans         39  20    0   780M   443M select   1   0:53  98.56% mscore

Looks like a polling bug somewhere.

[2022-01-30 15:20] Jojo-Schmitz commented on #10407
Where, in the artifact from PR #9000, in 3.6.x or in master?

[2022-01-30 18:51] njvdberg commented on #10195
Is solved in latest master.

[2022-01-30 18:51] #10195 closed

[2022-01-30 19:02] njvdberg opened #10410 "[MU4 Issue] active score order not updated after undo"
**Describe the bug**
If the score order is changed, the panel context menu `Instruments` -> `...` -> `Instrument ordering` shows the correct score order.
However, undoing the change doesn't update the select score order in the context menu

**To Reproduce**
Steps to reproduce the behavior:
1. Open any score.
2. Change the score order into something else. This can be done by both the context menu o

[2022-01-30 19:20] hselasky commented on #10407
@Jojo-Schmitz : This is something specific to FreeBSD and nothing to worry about for MuseScore.

[2022-01-30 20:44] Jojo-Schmitz commented on #10407
I see, thanks

[2022-01-30 21:20] DmitryArefiev opened #10411 "[MU4 Issue] [Properties] Insert measures popup shouldn't close after adding a bars with + button"
https://user-images.githubusercontent.com/90187801/151718309-9011c419-56da-41ec-8bb1-b4ec034f388f.mp4

This came from:

https://github.com/musescore/MuseScore/issues/9385#issuecomment-1024244070
https://github.com/musescore/MuseScore/issues/9385#issuecomment-1024281077
#10062

[2022-01-31 07:49] bkunda commented on #10404
Hey @Tantacrul, yes this issue has been raised in #10372.
There is also some broken functionality in the create time signature dialog, which I raised in #9618. @martin-danhier is already onto fixing this.
And the design improvements are in https://github.com/musescore/MuseScore/issues/9620 (Again, with @martin-danhier on the case).
But I have not yet discovered the problem with the master palette

[2022-01-31 07:54] bkunda commented on #10404
Oh I see you have already done this in #10406 🙂👌🏻.
So I would recommend we close this issue as it is already covered in #10372 and #10406.
Cheers!

[2022-01-31 07:54] #10404 closed

[2022-01-31 08:16] bkunda commented on #9867
I'm happy with that!

[2022-01-31 09:10] #10323 closed

[2022-01-31 11:17] DmitryArefiev commented on #9210
Hi @njvdberg this will be solved not in #10345, right?

[2022-01-31 12:46] DmitryArefiev commented on #10038
Tested on Win10, Mac12, LinuxMint 20.2 - FIXED in #10345

[2022-01-31 13:04] DmitryArefiev commented on #9210
Also, found a bug in men/women voices behavior: in Choral order they placed under the piano
(can be seen in SATB Closed Score + Piano template when switching to Orchestral and return back to Choral)

https://user-images.githubusercontent.com/90187801/151798384-a122beb1-3e3b-4ac1-84dc-3ecfd7bde4c3.mp4

Will log it separately

[2022-01-31 13:15] #9210 closed

[2022-01-31 13:15] #10038 closed

[2022-01-31 13:26] DmitryArefiev opened #10415 "[MU4 Issue] Men, Women voices have mixed places in Orchestral and Choir order"
**To Reproduce**
1. Add Men, Women and Piano to score
2. Check Men, Women order
3. In **Orchestral** they should be under Piano, in **Choir** they should be above Piano

https://user-images.githubusercontent.com/90187801/151801541-29638f71-d9bc-45cb-89f5-bbbd24054050.mp4

Strange behavior with ATB Closed Score + Piano template:
https://user-images.githubusercontent.com/90187801/151801564-ff1a847c-

[2022-01-31 17:15] #10072 closed

[2022-01-31 17:50] njvdberg commented on #10415
This is issue is related with a change in `instruments.xml` where `men` and `women` are moved from the family `voices` to `voice-groups`. This done without updating `orders.xml` and all templates. As a result `men` and `women` are not recognized as `voices` and place in the section `unsorted`.

To solve this, or `voice-groups` should be added to the score order and templates have to updated accord

[2022-01-31 17:52] njvdberg commented on #9210
@DmitryArefiev Issue #10415 is **not** related to this issue but to a change in `instruments.xml`. See the comment in #10415.

[2022-01-31 18:12] oktophonie commented on #10415
I think I prefer the idea of updating `orders.xml` like you say, adding `voice-groups` after `voices`. (I think the reasoning for making them their own group is so that they don't end up intermingled among `voices` in some semi-random place.)

[2022-01-31 18:24] njvdberg opened #10418 "[MU4 Issue] MU4 crashes when creating a new score"
**Describe the bug**
Any attempt to create a new score results in a crash.

**To Reproduce**
Steps to reproduce the behavior:
1. Open the application
2. Click on "New score"
3. Add some instruments.
4. Click on "Done"

Now the application crashes.

**Expected behavior**
Able to create a score without a crash.

**Screenshots**
N.a.

**Platform information**
 - OS: Linux

**Additional context**
1. M

[2022-01-31 18:38] njvdberg commented on #10415
It is more work but having both `voices` and `voice-groups` is similar to having `strings` and `orchestral-strings`

However, there we have a similar issue because `orders.xml` now uses `orchestral-strings` instead of `strings` so adding a single violin to an orchestral score will place this poor violin in the `unsorted` section since there is no `strings` family defined in the both `Orchestral` a

[2022-01-31 18:44] oktophonie commented on #10415
I suppose they do.

[2022-02-01 09:10] DmitryArefiev commented on #9867
Tested on Win10, Mac12, LinuxMint 20.2 - FIXED

[2022-02-01 09:10] DmitryArefiev commented on #9911
Tested on Win10, Mac12, LinuxMint 20.2 - FIXED

[2022-02-01 09:54] Tantacrul opened #10420 "Choose Instruments Panel: Search categories are often incorrect."
**Describe the bug**
When searching for an instrument, the categories shown on the left can often be wrong. For example, when searching for 'Snare', I became confused because I wanted the 'Marching Band' type. When I checked the categories on the left, they did not highlight the 'Percussion - Marching' category.

![image](https://user-images.githubusercontent.com/21022311/151946753-2fc850b5-3edc-4

[2022-02-01 10:05] Tantacrul commented on #10420
The reason I'm marking this as a P2 (and not a P3) is because it causes confusion and reduces communication, which makes it harder to select the correct instrument.

In MS3, this handy thing existed, which made your instrument choice very simple to understand. Without this bug being fixed, MS4 is a bit more obscure.
![image](https://user-images.githubusercontent.com/21022311/151949013-cae3675d-159

[2022-02-01 10:19] oktophonie commented on #10420
The marching instruments are awkward as they have similar names to other instruments but different instrument definitions (different labels, numbers of lines, etc.)

Fortunately there are only four of them. How about we change the _score labels_ to:
- Snares / S.
- Tenors / T.
- Toms / Tom
- Basses / B.

And their names in the instrument panel to the same, perhaps with "(marching)" suffixed? (Sinc

[2022-02-01 10:35] oktophonie commented on #10021
Certainly looks like it :)

[2022-02-01 10:35] #10021 closed

[2022-02-01 10:38] oktophonie commented on #9070
Just to add that this problem is concealed if the 'use Leland' box is ticked, but that shouldn't be necessary in this case (similarly for Emmentaler). To be addressed as part of #10120

[2022-02-01 10:43] DmitryArefiev commented on #10418
Can reproduce on **Win**, **Mac** as well. Thanks for catching this!

[2022-02-01 13:06] oktophonie commented on #9070
In fact, this problem appears to be more general: it looks like the style defaults (for a 3.6 file) are being overwritten by the style sheet from a previous version (3.5, perhaps?), some obvious indicators of which are the page numbers appearing at the bottom of the page rather than at the top, etc. Ticking the 'use Leland'/'use Edwin' buttons muddy the water as they will reapply the music and tex

[2022-02-01 13:14] #10120 closed

[2022-02-01 13:33] DmitryArefiev opened #10421 "[MU4 Issue] Migration dialog: X button should work as Cancel and should not open the score"
https://user-images.githubusercontent.com/90187801/151978016-115f50a9-5911-4cfe-b534-69c328e046f0.mp4

**X button** in Migration dialog (when open a score older than v4) **should not open the score** (should only close the migration dialog)

**Additional details**

X button should work as Cancel in all 3 dialogs:
![01](https://user-images.githubusercontent.com/90187801/152418027-cc619a55-9122-4956

[2022-02-01 15:41] njvdberg commented on #10418
Seems to be caused by PR #10414

[2022-02-01 16:14] DmitryArefiev opened #10423 "[MU4 Issue] TS and KS 'More' dialogs add new items to both palettes"
Time signatures and Key signatures 'More' dialogs add new items to both palettes if they opened  one after another:

https://user-images.githubusercontent.com/90187801/152005949-3082e920-fcec-4aca-b4d7-8cd1134213b7.mp4

**Platform information**
 - macOS/Windows/Linux

[2022-02-01 16:22] DmitryArefiev opened #10424 "[MU4 Issue] Clicking Add in Palettes 'More' popup should close the dialog"
Clicking Add in Palettes 'More' popup should close the dialog (KS, TS, Dynamics etc.)

https://user-images.githubusercontent.com/90187801/152007624-479862f1-6140-426a-9567-3fecb1dd7d3d.mp4

**Platform information**
macOS, Windows, Linux

[2022-02-01 16:24] DmitryArefiev commented on #10372
Tested on Win10, Mac12, LinuxMint 20.2 - FIXED in #10419

Related issues are logged separately #10423 #10424

Closing

[2022-02-01 16:24] #10372 closed

[2022-02-01 16:25] #10405 closed

[2022-02-01 16:58] #10418 closed

[2022-02-01 18:35] Tantacrul commented on #10424
I think it should work exactly as it does in that animation. It is useful to keep the 'More' popup open so you can understand that you have 'transferred' items into the main palette.

I do think that creating a new Key sig **_should_** close the 'More' popup though. I don't think this is inconsistent.

[2022-02-02 00:51] shoogle commented on #10420
To be clear, as you type characters in the search box, no category is highlighted on the left. This is the **correct** behaviour (because the search results can include instruments from multiple categories).

![image](https://user-images.githubusercontent.com/11011881/152075038-f5808e72-6df4-4a7b-9c39-cdd1b17c843c.png)

However, if you then select one of the instruments from the search results, so

[2022-02-02 06:40] iwoithe commented on #10421
Hi there! I would like to work on this issue. Is there any other details I should know?

[2022-02-02 10:16] DmitryArefiev commented on #10424
Yeah, make sense. Thanks! Let's close it (Works as intended)

[2022-02-02 10:16] #10424 closed

[2022-02-02 10:49] #9867 closed

[2022-02-02 10:49] #9911 closed

[2022-02-02 11:34] martin-danhier commented on #9618
Hello, here is a little update:

I managed to display the examples in QML by creating an `ExamplePaintView`. It is inspired by the `TemplatePaintView` used in the score creation which loads a template file and displays a readonly preview. Here, the example paint view will display a `Ms::Score` that can be created with a `Ms::MCursor` as in the original `NotesView` widget.

![image](https://user-im

[2022-02-02 11:48] oktophonie commented on #9984
Something pertaining to this was done in #9092 (now closed).

[2022-02-02 13:21] DmitryArefiev commented on #10415
Tested on Win10, Mac12, LinuxMint 20.2 - FIXED

Thanks!

[2022-02-02 13:44] bkunda commented on #9618
Good stuff @martin-danhier. Just to confirm – the preview won't be entirely read-only, will it? (I.e. will it still be interactive as specified in the design)?

[2022-02-02 14:00] martin-danhier commented on #9618
Thanks @bkunda! Yes, that's what I'm working on right now. It is read-only in the sense that users are not allowed to add, modify or remove notes, but they will be able to click on notes to edit the beam properties as specified in the PDF file.

[2022-02-02 14:02] bkunda commented on #9618
Terrific. Thanks for the clarification!

[2022-02-02 14:23] Tantacrul opened #10428 "Nothing should be selected on the score when a new score is created, or an existing score opened"
**Describe the bug**

1. When you **first create a score**, MS4 selects a rest in the first bar by default. The consequence is that your very first note input action produces an unexpected result (splitting or lengthening a rest). This is very different experience to MuseScore 3, which has nothing selected by default.  It makes the opening experience of MS4 weird & unexpected.

2. When opening an

[2022-02-02 14:50] RomanPudashkin commented on #9618
Hi @martin-danhier! I reworked the existing dialog because this issue is critical and blocks the alpha release. But you can continue rewriting this dialog using qml because this will be quite useful. Your version of the dialog can be included in the master branch later. Thanks!

https://github.com/musescore/MuseScore/pull/10429

[2022-02-02 14:57] martin-danhier commented on #9618
@RomanPudashkin Hello, thanks for the explanation. I will continue then, and I will update my branch to your version once its merged to reuse the system you implemented for the logic (such as the live preview of the changes in the score).
I will also reimplement the "create time signature" dialog at the same time since it reuses most of the logic of this one.
Should I create a new issue to keep tr

[2022-02-02 15:02] DmitryArefiev commented on #10418
Tested on Win10, Mac12, LinuxMint 20.2 - FIXED

[2022-02-02 15:10] RomanPudashkin commented on #9618
You can open a new issue after that. But for now, one issue is enough for both of us :)

[2022-02-02 15:41] Tantacrul opened #10430 "Properties (Inspector) Regression: Changing a parameter in a popup now also closes that popup"
**Describe the bug**
This was working in MS4 before so I suspect it is a relatively recent regression. If I select a range of elements and then open a popup, any change to a parameter in that popup will also immediately close it. Please see the attached video for a precise demonstration:

**Watch video**

https://user-images.githubusercontent.com/21022311/152186479-533199c0-bfdd-46a9-81cf-fa823226

[2022-02-02 15:44] Tantacrul commented on #10430
@DmitryArefiev - don't know when this regression happened. I thought I'd tag you because I've never properly taken you through the concept for how popups are handled in the Properties panel before.

[2022-02-02 16:31] Tantacrul commented on #10428
Ah, I just worked in the default template (the one stave piano) in MS3 and noticed it didn't do that.

However, I definitely think it does not make sense to select a rest by default when a new score is created, for the reasons I gave above. What do you think?

When opening an existing score in MS3, it seems to not select anything by default and I think MS4 should do the same. As I mentioned, it se

[2022-02-02 16:54] DmitryArefiev commented on #10428
Oh that's fine for me! My only suggestion for the new behavior is that the first Tab (when navigating) should move focus to the score and select something in the score (the first clef or rest)

[2022-02-02 16:57] DmitryArefiev commented on #10156
Closing, since #10428 has more discussion about desired behavior

[2022-02-02 16:57] #10156 closed

[2022-02-02 17:14] Tantacrul commented on #10428
Perhaps we should have a call to discuss that last suggestion so I fully understand. Tomorrow?

[2022-02-02 22:08] DmitryArefiev commented on #10428
Sure!

[2022-02-03 07:22] vihaanthora commented on #10421
@DmitryArefiev Is there a need to assign this issue to someone, or can we work on it and eventually send a PR?
Thanks

[2022-02-03 07:57] RomanPudashkin commented on #10421
@vihaanthora

You can work on it, but make sure that you and @iwoithe don't do the same thing at the same time. If you fix this issue together, I can assign it to one of you

[2022-02-03 08:02] Eism commented on #10085
Summary:
Currently, the problem is on the Qt side and we can't completely disable inertia. Qt 6 allows you to control inertia. Therefore, we will merge the new solution from #10162(which slightly improves scrolling) and return to this problem when MuseScore is updated to Qt 6.

[2022-02-03 08:02] #10085 closed

[2022-02-03 10:06] DmitryArefiev opened #10432 "[MU4 Issue] Unable to select an empty bar if the empty bar rest is selected"
**To Reproduce**
Case1:
1. Select an empty bar rest
2. Try to click on that bar again to select the whole bar - **nothing happens**

Case 2:
1. Select bar with notes
2. Delete
3. Try to click on that bar again to select the whole bar - **nothing happens**

https://user-images.githubusercontent.com/90187801/152321810-0b430167-4840-413f-b038-8309b00767ed.mp4

**Platform information**
macOS, Windows,

[2022-02-03 10:33] Eism opened #10433 "[MU4 Issue] Crash when clicking on a note while using a sound card Sound Blaster X4"
**To Reproduce**
Steps to reproduce the behavior:
1. Connect and select as sound output device Sound Blaster X4
2. Open MuseScore
3. Open project
4. Click on a note
4. See crash

**Expected behavior**
MuseScore should not crash

**Platform information**
 - OS: Windows

**Additional context**
The problem is on connecting AudioClient to the sound card.

2022-02-03T09:39:38.750 | ERROR | main_thread

[2022-02-03 10:44] bkunda opened #10434 "[MU4 Task] Modification to language installation UX"
**Task description**
We would like to propose a simplification of the current language installation UX in order to resolve issues discussed in #10183 as well as [here](https://github.com/musescore/MuseScore/pull/10182#issuecomment-1001774487).

In summary, this would require:
1. Ensuring all available languages come pre-installed with MuseScore 4, and making all these languages visible in the Pref

[2022-02-03 10:55] #10430 closed

[2022-02-03 11:17] DmitryArefiev commented on #10430
@Tantacrul - it's should fixed by #10417 and will be in master when it's ready (~30min)

[2022-02-03 11:24] DmitryArefiev opened #10435 "[MU4 Issue] Fretboard diagram chord symbol is doubled in edit mode"
https://user-images.githubusercontent.com/90187801/152333863-add047ae-7675-4f48-bffb-0122f95578f5.mp4

**To Reproduce**
1. Add a fretboard diagram to the note from Palettes
2. Edit the chord symbol

**Platform information**
macOS, Windows, Linux

**Additional context**
Doesn't occur in **MU3**

[2022-02-03 11:42] #10315 closed

[2022-02-03 11:49] Tantacrul commented on #10430
Great stuff!

[2022-02-03 12:06] DmitryArefiev opened #10436 "[MU4 Issue] Right click should not trigger edit mode if text is selected"
**To Reproduce**
1. Select a text
2. Right click - it triggers a context menu (that's fine) but **also triggers edit mode** (**what should not be**)

https://user-images.githubusercontent.com/90187801/152339141-91b2268e-c652-4246-8bdc-e886e686a622.mp4

**Platform information**
macOS, Windows, Linux

**Additional context**
Doesn't occur in **MU3**

[2022-02-03 12:14] DmitryArefiev commented on #10276
@izarys - thank you for logging this!

One thing.. you forgot to add a step that user should trigger note input mode (N)

[2022-02-03 12:31] bkunda commented on #9618
HI @martin-danhier! @Tantacrul and I had a chat this morning about this dialog and before you spend too much more time recreating it in QML, we've realised there could be significant design changes to the UX of creating and modifying time signatures in the future. This might include moving away from this kind of dialog to a different design pattern entirely.

I know you've already put some time in

[2022-02-03 13:20] duanjr commented on #9381
I have made a pr to fix this issue.
Though it performs correctly in all four themes, I don't think it's good enough to be merged.
I noticed that we once fixed a similar issue [#8714](https://github.com/musescore/MuseScore/issues/8714) in this [commit](https://github.com/cbjeukendrup/MuseScore/commit/88e5daa537eaf23e9dfc76dfca119c1d7cdaf143). But when I reset to that commit, the brackets still have

[2022-02-03 13:33] Tantacrul commented on #9618
Yes, I apologise for only weighing in on this now. My attention has been on other things and I did not notice this ongoing work. The current Time Signatures dialog is one we just want to completely replace with a much simpler, more intuitive (and more powerful) system once MS4.0 is released. Ideally, this new widget would not be a dialog.

We can prioritise the design for this and send them to you

[2022-02-03 13:51] duanjr commented on #10259
Hi maryszabo, are you still working on this? I wonder if I can participate in this issue.

[2022-02-03 14:30] MarcSabatella commented on #10428
I'm not really understanding the issue regarding having the first note/rest selected as per how MuseScore has always worked in the past.  The first action one normally takes in entering notes is to press "N" for note input mode, and this works the same regardless of whether there is a selection at start or not.  It also works the same whether the initial selection is the first note/rest or the ini

[2022-02-03 14:37] Tantacrul commented on #10428
We've updated the accessibility so it is much easier (and more in line with accessibility standards), so I'm less concerned about issues there.

To answer your question: yes, I think the majority of new users will click on a duration first and try to place it on the score. I've done a bunch of testing of various apps and that's by and large what people do.

Your first action should not produce a p