[2022-05-18 16:53] boryskuzmenko commented on #11671
🟢 **FIXED**
Tested on macOS 12, Win 11, Ubuntu 20

[2022-05-18 16:58] Tantacrul commented on #11580
Noted about the Chromebooks. Thanks.

[2022-05-18 17:42] #11671 closed

[2022-05-18 19:10] MarcSabatella commented on #10458
I totally get that a full solution where everything works perfectly out of the box on all systems is not achievable for 4.0.  But meanwhile, I'd still like to figure out a workaround somehow, because I'd like to be able to use my best systems for doing screenshots sooner rather than later.  And I suspect the issue will be more widespread than we'd like.

It will probably take me a while to get a b

[2022-05-18 19:42] SnyBr commented on #11658
If it helps, I first noticed this happening after cross-staff beaming was merged.

[2022-05-18 20:32] MarcSabatella commented on #10458
After more research and trial and error, I discovered that the "-D" option is not in fact ignored, at least not anymore (pretty sure it was prior to the change that broke QT_SCALE_FACTOR).  "-D" now scales the score but not the UI, whereas QT_SCALE_FACTOR scales the UI but not the score.  So - my new workaround is to set them both.  For the record, the combination QT_SCALE_FACTOR=1.33 and -D 125 s

[2022-05-19 06:32] diedeno commented on #11550
What's the point of this?
VST GUi does not work anyway in Linux.
Perhaps it would be best to remove VST altogether from Linux appimage.

[2022-05-19 06:37] diedeno commented on #9481
So how will you use Zebralette without a GUI if this gets fixed?
This happens with lots of Linux VST's, and not only those from u-he.
But they are all unusable anyway since no gui in MS4.0. So why bother.

[2022-05-19 07:51] lengthwave opened #11683 "[MU4 Issue] VST Effects - Crash on Window Close"
**Describe the bug**
When closing the VST effects window, MuseScore crashes (sometimes crashes immediately, sometimes after a few times open/closing window).

**To Reproduce**
Steps to reproduce the behavior:
1. Go to Mixer
2. Select a track and click on Audio FX
3. VST Effects window will open
4. Close VST Effects window
5. See error (maybe, it is not consistent)

**Expected behavior**
No crashie

[2022-05-19 07:52] lengthwave commented on #11683
FYI @Tantacrul

[2022-05-19 07:56] lengthwave opened #11684 "[MU4 Issue] Playback - Repeated note articulation ignored"
**Describe the bug**
When a note is repeated, the articulation is ignored and plays back as staccato regardless of marked articulation.

**To Reproduce**
Steps to reproduce the behavior:
1. Open attached score
2. Go to bar 16
3. Play
4. See error in beats 3 & 4 of trumpet parts

**Expected behavior**
Plays back with articulation as noted in score.

**Screenshots**
n/a

**File**
[Fanfare_for_the_Co

[2022-05-19 07:57] lengthwave commented on #11684
FYI - @Tantacrul

[2022-05-19 08:12] #11619 closed

[2022-05-19 08:25] lengthwave opened #11685 "[MU4 Issue] Playback - Cannot Scroll Page Vertically"
**Describe the bug**
When playing back a score it is not possible to scroll a score vertically, it jumps back to top when mouse is released.

**To Reproduce**
Steps to reproduce the behavior:
1. Open any score where score extends vertically beyond visible window
2. Click on Play
3. Scroll score vertically while playing
4. See error

**Expected behavior**
Score should be scrollable vertically and p

[2022-05-19 08:26] lengthwave commented on #11685
FYI - @Tantacrul

[2022-05-19 08:40] #10779 closed

[2022-05-19 08:40] #11181 closed

[2022-05-19 08:40] RomanPudashkin commented on #11685
Fixed in https://github.com/musescore/MuseScore/pull/11655

[2022-05-19 08:40] #11685 closed

[2022-05-19 08:49] bkunda opened #11686 "[MU4 Task] Playback override options for trills/trill lines in Properties"
**Task description**
This task proposes implementing a playback override for **trills** and **trill lines,** allowing the user to set their desired playback interval where the automatic (default) interval doesn't suit their requirements.

This setting would exist in **Properties** > **General** > **Playback**
<img width="556" alt="Screenshot 2022-05-19 at 6 37 44 pm" src="https://user-images.githu

[2022-05-19 09:32] alexpavlov96 opened #11687 "[MU4 Task] [GP] import dives from gp as w/bar line"
**Task description**
Import dives from gp as w/bar line
<img width="683" alt="Screenshot 2022-05-19 at 12 31 19" src="https://user-images.githubusercontent.com/24373905/169261883-b42e5d7c-4c52-475c-9368-755ac7ab7a05.png">

[2022-05-19 09:36] boryskuzmenko commented on #11597
**Duplicate of https://github.com/musescore/MuseScore/issues/11664**

[2022-05-19 09:36] #11597 closed

[2022-05-19 09:37] boryskuzmenko commented on #11601
**Can't reproduce**

[2022-05-19 09:37] #11601 closed

[2022-05-19 09:42] #9481 closed

[2022-05-19 09:46] boryskuzmenko opened #11688 "[MU4 Task] [GP] Styles to be created for TAB staff types"
**Task description**
Corresponding styles should be created for Simple and Common TAB staff types along with implementation of them for GP import.
Style rules are collected [here ](https://docs.google.com/spreadsheets/d/1eZB5gw7nqKFcpqoeI-NpcF493WBf4ldHd8m_OGMsi48/edit?pli=1#gid=1865170447)

- [ ] Style files for Simple and Common types created
- [ ] Style files are implemented for GP import

![](

[2022-05-19 09:47] boryskuzmenko commented on #10308
Will be done in scope of https://github.com/musescore/MuseScore/issues/11688

[2022-05-19 09:47] #10308 closed

[2022-05-19 09:48] boryskuzmenko commented on #10318
Will be done in scope of https://github.com/musescore/MuseScore/issues/11688

[2022-05-19 09:48] #10318 closed

[2022-05-19 09:51] DmitryArefiev opened #11689 "[MU4 Issue] VST on Linux should be blocked since it's not properly supported in MU4.0 release"
**Describe the bug**
VST is not planned to support in MU4.0.0 release. The critical issue is related to missing VST GUI - #11592, which is not planned to be fixed in the current release.

VST feature should be blocked for Linux users in MU for now.

**Platform information**
Linux

**Additional context**
#11592
#11550
#9481

[2022-05-19 09:53] DmitryArefiev commented on #11689
@Tantacrul FYI

[2022-05-19 09:57] DmitryArefiev commented on #11550
@diedeno Yeah, agree with you. The VST feature in Linux builds will be blocked in #11689

[2022-05-19 09:59] DmitryArefiev commented on #9481
@diedeno Yes, agree. The VST feature in Linux builds will be blocked for now - #11689

[2022-05-19 10:48] DmitryArefiev commented on #11665
Fixed in #11680

[2022-05-19 10:48] #11665 closed

[2022-05-19 10:51] boryskuzmenko commented on #11675
🟢 **FIXED**
Tested on macOS 12, Win 11, Ubuntu 20

[2022-05-19 10:52] #11675 closed

[2022-05-19 11:48] rgreen5 opened #11690 "Text lines: no font or position properties visible in sidebar"
**Describe the bug**
In MS3, if you click on a textline, you can clearly see the font and placement properties in the Inspector: e.g.
![ms3_sidebar](https://user-images.githubusercontent.com/87246583/169284602-816a526c-e6a2-4262-9046-de54351fe889.png)

 However, _no font or position properties seem to be visible in the sidebar in MS4_.

**To Reproduce**

1. Unzip and open the attached file in MS4.

[2022-05-19 12:05] rgreen5 opened #11691 "Can't select word with double-click; or text-block with triple-click"
**Describe the bug**

In MS3, double click selects a word and triple click a text-block. This does not appear to have been implemented yet in MS4.

**To Reproduce**

Create a new score then try to select the word / text-block of the title by mouse clicks.

RESULT: No effect.

**Expected behavior**

Double click selects a word. Triple click selects the text-block.

**Platform information**
OS: Linu

[2022-05-19 12:16] RomanPudashkin commented on #11691
See https://github.com/musescore/MuseScore/issues/10242

[2022-05-19 12:16] #11691 closed

[2022-05-19 13:45] bkunda opened #11697 "[MU4 Issue] Fix dialog messaging for assigning shortcuts"
**Describe the bug**
UI microcopy in the "Enter Shortcut Sequence" dialog would make more sense to adopt the pattern established in the "Assign MIDI mapping" dialog.

**Current "Enter Shortcut Sequence** dialog
<img width="535" alt="Screenshot 2022-05-19 at 11 39 33 pm" src="https://user-images.githubusercontent.com/86290556/169307045-ece8aa9f-e86a-4518-88eb-4ade72128b47.png">
_Note: problems with

[2022-05-19 16:20] Tantacrul commented on #11689
Although our new plugin sampler will work for Linux, VST support is something we will include in 4.1. This will correspond with other VST features that are necessary for high-quality playback.

[2022-05-19 16:21] DmitryArefiev commented on #11166
Fixed in #11679

[2022-05-19 16:21] #9667 closed

[2022-05-19 16:21] #11166 closed

[2022-05-19 18:37] schoettl opened #11699 "[MU4 Issue] "Restore session?" dialog position is not center of screen"
**Describe the bug**
The "restore session?" dialog after a MuseScore crash seems to be centered around the screen position 0,0. That is, only part of the right "Yes" button is visible. Other dialogs like Help/About and Open/Save dialogs are centered correctly.

**To Reproduce**
Steps to reproduce the behavior:
1. Open MuseScore and open a score file
2. Let MuseScore crash somehow (or kill the proc

[2022-05-19 19:02] Tantacrul commented on #11699
I'm marking this as a P3 for now because with multiple windows, it's a solvable problem (but definitely not desirable). However, if anyone can reproduce this for other cases, I'll raise the P level.

Thanks! Nice catch :)

[2022-05-19 19:12] Tantacrul commented on #11690
We've decided to bump this to 4.x.

For the moment, this should be changed in 'Styles' (which we will also improve in later releases)

<img width="935" alt="image" src="https://user-images.githubusercontent.com/21022311/169384216-173d7929-bd4b-4736-871f-8a5c956c9caa.png">

However, these text styles are not working (in either 4.0 or 3.6), so I'll need to raise an issue about it.

[2022-05-19 21:55] MarcSabatella commented on #11690
There are indeed a number of text styles where the style dialog isn't hooked up to the right info even in 3.6.  This was logged some time ago as https://musescore.org/en/node/284288.  I did some investigation as shown in the discussion, and @peterhieuvu apparently worked on this some, but it proved annoyingly tricky to solve, for no good reason.

Note in 3.6, it *is* possible to set the text style

[2022-05-19 22:22] alex-esc commented on #11237
I looked around on the internet and found some pole got around this issue on musecore 3 by selecting the 'repair' option on the installed programs windows from control panel. This did not work.

Some users said they solved this issue on MU 3 by launching an existing project and disabling the start center, but launching an existent project with MU 4 crashes on startup just like before.

Another fix

[2022-05-20 08:05] HemantAntony commented on #11237
Do you have a lot of VSTs? I've seen issues where MU4 does not open in that case. I don't know if that's been solved though

[2022-05-20 09:23] rgreen5 commented on #11690
The "Position" (formerly "Placement") property can still be set in MS4 using the "X" shortcut, which suggests that "Position (Above / Below)" should also be in Sidebar > Properties.

[2022-05-20 09:34] boryskuzmenko commented on #11687
🟢 **FIXED**
Tested on macOS 12, Win 11, Ubuntu 20

Please, merge to master

[2022-05-20 09:58] boryskuzmenko commented on #10779
🟢 FIXED
Tested by @Tantacrul

[2022-05-20 09:58] boryskuzmenko commented on #11181
🟢 FIXED
Tested by @Tantacrul

[2022-05-20 10:17] rgreen5 opened #11702 "Lines: end anchor on first system wrongly positioned when line continues to next system"
**Describe the bug**

When a line crosses from one system to the next, the final anchor on the first system appears attached to the wrong note: e.g.
![line_anchor](https://user-images.githubusercontent.com/87246583/169505699-84a9f31e-db08-496e-91bc-4a2c50888bfe.png)

**To Reproduce**

1. Open the attached MS4 file.
[line_anchors.zip](https://github.com/musescore/MuseScore/files/8738548/line_anchor

[2022-05-20 11:58] Tantacrul commented on #11690
We've lifted that UI element out because it is almost entirely useless and generally just provides a wrong result. Shortcut doesn't bother me, since it is universal. But I've also no problem switching it off for most, if not all text lines.

[2022-05-20 12:23] johnrubensaragi opened #11704 "[MU4 Task] Pedal delay in advanced preference"
When exporting a sheet music into a MIDI, the pedal is placed exactly in the start of a note/measure, just as the sheet music says. This might cause some issues when the sheet music is connected to VST. [Someone dealt with this problem by putting the pedal release early](https://github.com/musescore/MuseScore/commit/ea046a230549eaeb04262e8473f358826dbf81b1), but it is incomplete. There should be a

[2022-05-20 12:32] #11687 closed

[2022-05-20 13:42] DmitryArefiev opened #11706 "[MU4 Issue] Preferences>General>Folders: Crash sometimes when adding or deleting VST directory (Windows only)"
https://user-images.githubusercontent.com/90187801/169540144-c9f40566-3af6-47cf-a81d-713e60348c6e.mp4

**Platform information**
 Windows 10

**Additional context**
Please also notice a little delay when adding VST path (comparing with other fields)
Can reproduce only on Windows

[2022-05-20 13:47] DmitryArefiev commented on #11706
@boryskuzmenko Can you check on your Windows machine please?

[2022-05-20 14:45] #11658 closed

[2022-05-20 15:53] rgreen5 opened #11710 "No swing playback"
**Describe the bug**
Even with the swing set correctly on Staff text, swing is not being implemented in playback.

**To Reproduce**

Open the attached score and play back (note: ignore the problem with capo text (#11631). Check the staff text to confirm that swing has been set.
[playback_issue.zip](https://github.com/musescore/MuseScore/files/8741693/playback_issue.zip)

RESULT: Swing is not audib

[2022-05-20 16:07] rgreen5 opened #11711 "Staff instrument not playing back"
**Describe the bug**

Whether or not you hear a particular staff seems to depend on how you start playback.

**To Reproduce**

1. Open the attached file and play back from the beginning.
[playback_issue.zip](https://github.com/musescore/MuseScore/files/8741798/playback_issue.zip)

RESULT: The vocal line is not playing back, only the guitar.
2. Now click on the first note in the vocal line and play

[2022-05-20 16:17] cbjeukendrup commented on #11711
It looks like this will be fixed in PR #11709! Could you try out the builds from that one?

[2022-05-20 16:27] #11424 closed

[2022-05-20 16:27] #11519 closed

[2022-05-20 16:27] #11711 closed

[2022-05-20 16:30] lengthwave commented on #11683
I'll try to reproduce with free VST.

[2022-05-20 17:10] cbjeukendrup opened #11712 "[MU4 Issue] Crash when dragging note leftwards if there are ledger lines nearby"
**Describe the bug**
If you drag a note leftwards while the adjacent notes have ledger lines, a crash occurs.

**To Reproduce**
Steps to reproduce the behavior:
1. Create a score and input some notes like this:
    <img width="600" alt="Schermafbeelding 2022-05-20 om 18 31 35" src="https://user-images.githubusercontent.com/48658420/169572311-ad200e48-3ba7-45e8-a9e2-2f8b26da3a9a.png">
    (time sig

[2022-05-20 18:13] DmitryArefiev commented on #11519
Fixed in #11709

[2022-05-20 18:13] DmitryArefiev commented on #11424
Fixed in #11709

[2022-05-20 18:17] DmitryArefiev commented on #11710
Already logged #10972

Closing

Thanks!

[2022-05-20 18:17] #11710 closed

[2022-05-20 18:34] DmitryArefiev opened #11713 "[MU4 Issue] Enabling Solo in Mixer shifts playback of instruments"
https://user-images.githubusercontent.com/90187801/169591260-75da1851-bb65-486d-b311-90d47a2a32b5.mp4

**Platform information**
macOS, Windows, Linux

[2022-05-20 18:38] vpereverzev commented on #11713
@DmitryArefiev hmm, should be also fine with the changes from #11709

[2022-05-20 18:50] boryskuzmenko commented on #10948
🟢 **FIXED** in https://github.com/musescore/MuseScore/pull/11355

[2022-05-20 18:51] boryskuzmenko commented on #10999
🟢 **FIXED** in https://github.com/musescore/MuseScore/pull/11355

[2022-05-20 19:16] DmitryArefiev commented on #11713
@vpereverzev Checked in builds from #11709 - the same issue occurs

[2022-05-20 23:11] quinnouyang commented on #11501
@bkunda Tweaking some spacing with the button shrink from #11583 gets us this:
<img width="280" alt="image" src="https://user-images.githubusercontent.com/90884224/169623163-9efee53a-43fb-4ddf-8515-8d0b354e9205.png">
Looks a lot better IMO

[2022-05-21 07:27] sammik commented on #11618
I tried to fix this, but I am stuck.
I think, Atonal key is defined as `KeyMode::NONE`.
But I dont know, how are theese setings transfered from dialog to new score.
I added it to additionalinfomodel.cpp. In newscoremodel.cpp it is still present.
But in created score, it is missing.
Any hint please? Thank You!

[2022-05-23 05:48] bkunda commented on #10916
I've also been able to reproduce this across a range of VSTs.

I'm going to suggest it is actually a P1, as playing back a score and clicking on any number of notes gradually seems to cause the volume to increase, and eventually clip. The only way to "reset" the playback volume seems to be to quit and re-open MuseScore.

[2022-05-23 06:03] Jon0 commented on #11689
yabridge (https://github.com/robbert-vdh/yabridge) plugins are already working. yabridge provides the gui event loop so just compiling with the flag to enable the editor to open is enough to have most of my plugins working.

[2022-05-23 06:39] SnoopDoof opened #11718 "Saving a score to cloud does not work"
When you try saving a score for the first time, and then choose to save to cloud, then when you press the save button it doesn't actually save, so you have to save in locally on your computer.

[2022-05-23 08:19] RomanPudashkin commented on #11718
This is expected behavior. Saving to the cloud will be implemented later

[2022-05-23 08:19] #11718 closed

[2022-05-23 08:48] cbjeukendrup commented on #11699
@schoettl I'm unable to reproduce this issue myself, but it should probably be fixed in #11720. Could you please try the test builds from that PR? (They should be ready in 20 minutes from now.)

[2022-05-23 09:09] schoettl commented on #11699
Thanks for your efforts!

PS: I checked out our PR and built myself. See PR.

[2022-05-23 09:14] boryskuzmenko commented on #11706
Couldn't reproduce on macOS and Windows

[2022-05-23 10:16] #10948 closed

[2022-05-23 10:16] #10999 closed

[2022-05-23 10:26] bkunda opened #11721 "[MU4 Issue] Minor fixes for "learn" > "classes""
**Describe the bug**
There are a few minor tweaks @MarcSabatella has requested for the "Learn" > "Classes" section (in the "Home" tab).

1. CTA button "Open Mastering MuseScore School" needs its URL corrected as it currently redirects to the wrong site. It should be: https://www.masteringmusescore.com/musescore4.

2. CTA button should have label updated to read: Open Mastering MuseScore

3. Tag li

[2022-05-23 11:03] boryskuzmenko opened #11722 "[MU4 Issue] No preview sound when clicking an element on Percussion panel"
**To Reproduce**
Steps to reproduce the behavior:
1. Open a Small march band template
2. Select Tenor drums
3. Click the elements on Percussion panel

**Screenshots**

https://user-images.githubusercontent.com/101250347/169805405-b5abedac-a44d-40bf-a2bb-cbabcf53efbb.mov

**Expected behavior**
No preview sound when clicking an element on Percussion panel (like in MU3)

**Platform information**
 - O

[2022-05-23 11:24] DmitryArefiev commented on #11706
@boryskuzmenko Thanks!

[2022-05-23 11:24] DmitryArefiev commented on #11706
Changing to P3 and Beta2

[2022-05-23 12:27] boryskuzmenko opened #11723 "[MU4 Issue] Palette element is not searchable when located in 'More' section of palette"
**To Reproduce**
Steps to reproduce the behavior:
1. Open any score
2. Search any element from 'More' section of any palette (e.g. dynamics or accidentals)
3. Pay attention to the search results

**Expected behavior**
Palette element is searchable when located in 'More' section of palette

**Screenshots**

https://user-images.githubusercontent.com/101250347/169816125-2aa10823-7431-4333-933b-d58707

[2022-05-23 12:48] HemantAntony commented on #11723
@boryskuzmenko Duplicate of #11113 and apparently a draft PR that's inactive

[2022-05-23 13:36] HemantAntony commented on #11721
@bkunda #11725 should fix this

[2022-05-23 13:37] bkunda commented on #11721
That would be terrific. Thanks @HemantAntony!

[2022-05-23 13:45] DmitryArefiev opened #11726 "[MU4 Issue] When replacing VSTi with SoundFont instrument, current VSTi should be closed"
https://user-images.githubusercontent.com/90187801/169833121-4ea3b984-0581-4f8b-b09a-55393db95e76.mp4

**Platform information**
 macOS, Windows

**Additional context**
Similar issue to #9753

[2022-05-23 13:55] DmitryArefiev opened #11727 "[MU4 Issue] Choosing 'No effect' in Audio FX should close VST effect window"
https://user-images.githubusercontent.com/90187801/169835341-039919f9-39e2-41d4-b723-1881ea0908c3.mp4

**Platform information**
macOS, Windows

**Additional context**
Similar to # 11726 #9753

[2022-05-23 14:02] boryskuzmenko commented on #11723
@HemantAntony thanks man! Closing his one

[2022-05-23 14:02] #11723 closed

[2022-05-23 18:46] Tantacrul commented on #10916
Agreed. I'm not sure why I marked it a P2. It's a P1 for sure. A 'Hard' P1, if you will :)

[2022-05-23 19:37] boryskuzmenko opened #11729 "[MU4 Issue] Another cell can't be added to Custom palette when/after any cell from Custom 'More' is added"
**To Reproduce**
Steps to reproduce the behavior:
1. Create new score in MU4
2. Create a new Custom palette
3. Add any symbol from Custom 'More'
4. Try to add to the Custom palette any other cell

**Expected behavior**
Another cell can't be added to Custom palette when/after any cell from Custom 'More' is added

**Screenshots**

https://user-images.githubusercontent.com/101250347/169893375-33f73e9

[2022-05-23 20:26] boryskuzmenko opened #11730 "[MU4 Issue] Rallentando (rall.) and Accelerando (accel.) are also rendered for linked staff"
Steps to reproduce the behavior:
1. Open test file
[Test_accel.mscz.zip](https://github.com/musescore/MuseScore/files/8757877/Test_accel.mscz.zip)

2. Add accel. mark to the staff
3. Create a linked staff
4. Pay attention to the linked staff

**Expected behavior**
Rallentando (rall.) and Accelerando (accel.) are not also rendered for linked staff

**Screenshots**

https://user-images.githubusercon

[2022-05-23 20:28] boryskuzmenko commented on #10377
**FIXED**

[2022-05-23 20:28] #10377 closed

[2022-05-23 21:22] Tantacrul commented on #11704
This will be the kind of thing we'll tackle in 4.1 or 4.2.

Until we finish 4.0, I'm going to place this in waiting as a '4.x' feature request and close for now. Thanks!

[2022-05-23 21:22] #11704 closed

[2022-05-24 07:26] lengthwave opened #11731 "[MU4 Issue] Brackets - No Editable State on Double Click"
**Describe the bug**
When adding a new bracket there is no longer an editable state when double clicking; bracket is fixed to single staff.

**To Reproduce**
Steps to reproduce the behavior:
1. Open a score with multiple instruments
2. Add a bracket
3. Double click on bracket
4. See error

**Expected behavior**
After adding a bracket you should be able to double click on the bracket for it to ente

[2022-05-24 14:53] bkunda commented on #8746
@cbjeukendrup is this task still on your radar? I know you started working on it back in August.
I'm thinking that just the first part of this task might be good to tackle (_just_ adopting the new naming convention – no change to any functionality), provided it doesn't mess anything else up ahead of the release.
If you're still available for this, then perhaps we two can meet briefly to discuss it

[2022-05-24 19:28] #11721 closed

[2022-05-24 19:40] #11378 closed

[2022-05-24 20:20] MarcSabatella opened #11736 "[MU4 Issue] Tablature: missing methods of entering rests"
The usual shortcut to enter a rest is 0, but in tablature, this enters fret 0 instead.  So in MU3, an alternate shortcut of ";" was provided for rests in tablature input mode.  Either the command is not implemented or the shortcut is missing in MU4.

BTW, right-click is also supposed to enter a rest.  This doesn't work either on tab staves.  This much is not a regression - it was broken in MU3 als

[2022-05-24 20:31] MarcSabatella opened #11737 "[MU4 Issue] Full measure rests display as "quarter" in status bar and in screen reader"
For some reason, full measure rests display as "Duration: Quarter".

To reproduce, simply create a new score.  Go to note input mode, then look at the status bar.

FWIW, at first I believed I was only seeing this for tab staves, and indeed I thought the rest actually *was* a quarter rest until I turned on display of rests for the staff.  So if you don't see this issue right away, try creating a ta

[2022-05-24 20:31] MarcSabatella commented on #11737
![image](https://user-images.githubusercontent.com/1799936/170126791-ded482b2-c662-49e1-8671-62c4a848bc95.png)

[2022-05-24 21:40] cbjeukendrup commented on #8746
@bkunda I had indeed worked on this issue, but for some reason stopped (probably got distracted by other issues back then). I would be happy to pick this up again.

Some changes I had made to the View menu are maybe not applicable anymore, since some other changes have been made meanwhile - mostly for the simple reason that the menu was too tall on some screens. But I believe we have a good soluti

[2022-05-24 22:04] Tantacrul commented on #11731
Hmm. This was definitely working at some point....

[2022-05-24 22:10] cbjeukendrup commented on #11731
I think this was disabled in #11614. I agree that it would be logical to show the controls on single-click for brackets too.

[2022-05-24 23:02] Tantacrul commented on #11731
Probably an accidental consequence of my request to remove double-click from notes to enter 'Edit Mode'.

[2022-05-25 08:30] bkunda commented on #8746
Thanks @cbjeukendrup! I see you've been chatting with @MarcSabatella over in Discord about a solution for pulling the command names from a central place and having them appear in the handbook. This would be a terrific help if you can assist with this :-)

And just on changes to menu items, @MarcSabatella has made the point to me that each command may have two (possibly three?) different names, so

[2022-05-25 08:31] mike-spa opened #11740 "For notes, the "v" keyboard shortcut is not connected to "visible" toggle in property panel"
**Describe the bug**
The "v" keyboard shortcut for "visible" _does_ cause the selected item to become invisible, but that is not connected to the "visible" toggle in the property panel for that item. It looks as if the shortcut makes it invisible on screen but does not change the underlying `visible()` property. Indeed, if I make notes invisible via the property toggle, they will be spaced as invi

[2022-05-25 08:33] cbjeukendrup commented on #8746
@bkunda We already have a solution for giving actions a different name in a certain menu. So we can just change the "base name" of the action that will appear in the list with shortcuts, and then override the name in menus where necessary.

[2022-05-25 08:39] lengthwave opened #11741 "[MU4 Issue] Drumset Palette - Palette Order"
**Describe the bug**
Drumset palette order seems random instead of following order in instruments.xml

**To Reproduce**
Steps to reproduce the behavior:
1. Create score with any unpitched percussion instrument
2. Enter note entry mode
3. View Drumset Palette
4. See error

**Expected behavior**
Drumset Palette order should follow order as listed in instruments.xml

**Screenshots**
<img width="915"

[2022-05-25 08:41] bkunda commented on #8746
@MarcSabatella just a couple of quick thoughts I have following-on from your comments:
1. There might be an opportunity here to rethink the insert commands: It's extremely confusing UX to have these two insert commands that operate in different ways, while we also have different modes that do the same things. We can't expect users to look at the list of shortcuts and understand the difference betw

[2022-05-25 08:41] bkunda commented on #8746
Sounds sensible to me!

[2022-05-25 08:45] lengthwave opened #11742 "[MU4 Issue] Drumset Palette - Audio Preview"
**Describe the bug**
Audio preview no longer works with clicking on individual item in drumset palette.

**To Reproduce**
Steps to reproduce the behavior:
1. Create a score with any unpitched percussion instrument
2. Enter note entry mode
3. Click on any individual item in the palette
4. See error

**Expected behavior**
User should be able to preview sound.

**Screenshots**

https://user-images.gi

[2022-05-25 08:47] lengthwave opened #11743 "[MU4 Issue] Drumset Palette - Note Entry from Palette"
**Describe the bug**
Note entry from palette no longer works when double clicking on individual item in drumset palette.

**To Reproduce**
Steps to reproduce the behavior:
1. Create a score with any unpitched percussion instrument
2. Enter note entry mode
3. Click on any individual item in the palette
4. See error

**Expected behavior**
Note entry should be possible from drumset palette.

**Screen

[2022-05-25 08:49] RomanPudashkin commented on #11742
See https://github.com/musescore/MuseScore/issues/11722

[2022-05-25 08:49] #11742 closed

[2022-05-25 08:50] RomanPudashkin commented on #11743
See https://github.com/musescore/MuseScore/issues/10719

[2022-05-25 08:50] #11743 closed

[2022-05-25 09:02] lengthwave opened #11744 "[MU4 Issue] Drumset Palette - Edit Drumset - Save As"
**Describe the bug**
 It is possible to browse to desired directory when attempting to save changes to a Drumset Palette (export .drm file), but directory cannot be selected. User cannot continue Save As process.

**To Reproduce**
Steps to reproduce the behavior:
1. In a score with an upitched percussion instrument enter note entry mode
2. Click on Edit Drumset
3. Change any value in drumset prope

[2022-05-25 09:06] lengthwave opened #11745 "[MU4 Issue] Drumset Palette - Palette Item Staff Lines"
**Describe the bug**
The number of staff lines in the Drumset Palette item does not correspond to the number of staff lines in the instrument definition.

Example: Single line percussion staff appears as 5 line staff in palette.

**To Reproduce**
Steps to reproduce the behavior:
1. Create a new score with concert snare drum
2. Enter Note Entry mode
3. View Drumset Palette
4. See error

**Expected

[2022-05-25 09:23] DmitryArefiev opened #11746 "[MU4 Issue] No score preview for native MSCZ files"
https://user-images.githubusercontent.com/90187801/170228945-8a42db46-976f-4eb9-90dc-98b58d3af3e2.mp4

**Platform information**
macOS, Windows, Linux

[2022-05-25 10:00] bkunda commented on #11740
@VanSHOE this might be a good one for you to kick-start your work on shortcuts :-)

[2022-05-25 10:16] boryskuzmenko opened #11747 "[MU4 Issue] [GP] Rendering issue with drum part after importing"
**Describe the bug**
The problem could be that some of beams belong to one voice but pointed to different directions.
The issue also reproducible after saving imported file

**To Reproduce**
Steps to reproduce the behavior:
1. Open test file
[drums issue.gp.zip](https://github.com/musescore/MuseScore/files/8770107/drums.issue.gp.zip)
2. Pay attention to the mess in written drum fills

**Expected b

[2022-05-25 10:29] DmitryArefiev opened #11748 "[MU4 Issue] Ability to change audio device is missing in Preferences>I/O"
**Describe the bug**
Ability to change **audio device**, **sample rate** and **buffer size**.
The buffer size option is not present in **MU3** but will be useful for MU4 (buffer size increasing can solve some playback issues with big scores and a lot of VSTi)

Also bringing back **Restart Audio Engine option** to preferences fixes the issue described in #10987

 #11190 also might be fixed after ad

[2022-05-25 10:42] boryskuzmenko opened #11749 "[MU4 Issue] Element duration line is not rendered for rasgueado and artificial harmonics"
**To Reproduce**
Steps to reproduce the behavior:
1. Open test file
[0____________rasg.gp.zip](https://github.com/musescore/MuseScore/files/8770324/0____________rasg.gp.zip)
2. Pay attention to the rasgueado marks

**Screenshots**
![Screenshot 2022-05-25 at 12 52 37](https://user-images.githubusercontent.com/101250347/170244182-21939afd-fa83-4c59-8167-320db06ad391.png)

**Expected behavior**
Eleme

[2022-05-25 11:50] VanSHOE commented on #11740
The main issue is that the inspector does not refresh upon pressing v

Regarding this, I can cause a refresh of the inspector page by sending a notification on `selectionChanged()` and catching it at the inspectorModel whenever the hotkey is pressed
But with that some other issues are coming up (essentially, the inspector is updated well for the whole measure selections but not for individual sele

[2022-05-25 11:52] cbjeukendrup commented on #11740
@VanSHOE Have a look at `AbstractInspectorModel::updatePropertiesOnNotationChanged()` and how that's used.

[2022-05-25 11:54] VanSHOE commented on #11740
Thank you! Ill have a look into that!

[2022-05-25 13:57] boryskuzmenko opened #11752 "[MU4 Issue] App is crashed when changing staff type to TAB ones"
**To Reproduce**
Steps to reproduce the behavior:
1. Create a guitar score in MU4
2. Switch staff type to the 4 or 5str TAB notation
3. Switch staff type to standard back
4. Pay attention to the app crashing

Also the crash can be called when switching new score to uculele/balalaika/dulcimer.. tab types
Doesn't reproducible with 6 strings tab types

**Expected behavior**
All staff types are applic

[2022-05-25 14:25] DmitryArefiev commented on #11713
Tested in master build on Win10, Mac12, LinuxMint 20.2 - **FIXED**

[2022-05-25 14:51] DmitryArefiev commented on #11190
Hi @NinjaNas , have you seen the same issues using MOTU M4 in another DAWs or Notation software?

BTW Did you try MOTU M4 in MuseScore3?

[2022-05-25 15:32] Tantacrul opened #11755 "Tremolo bar and guitar bends interface broken"
**Describe the bug**
In MS3, when you add either of these items (bend or tremolo bar)...

<img width="406" alt="image" src="https://user-images.githubusercontent.com/21022311/170300168-c3925fed-701a-4d4b-9209-e0450be280be.png">

... you get an interface to customise it in Properties. We have built most of this:
<img width="295" alt="image" src="https://user-images.githubusercontent.com/21022311/17

[2022-05-25 15:59] cbjeukendrup opened #11756 "[MU4 Issue] Crash when starting to drag text line while there is a range selection"
**Describe the bug**
If you start dragging a "text line" (for example, a pedal marking or volta) while there is a range selection, a crash occurs.

**To Reproduce**
Steps to reproduce the behavior:
1. Create a new score
2. Add some notes
3. add a text line
4. If you click the measure to make a range selection, the blue rectangle will _not_ include the text line:
    <img width="206" alt="Schermafb

[2022-05-25 16:11] MarcSabatella commented on #10719
BTW, regarding the proposal in https://github.com/musescore/MuseScore/issues/11743 to make drum input work on single click - it's a good idea in principle, but there are important use cases that are broken if we do this without making other changes to compensate.  We discovered this quite by accident in MuseScore 3.4 when the standard palettes were converted from double to single click and drum pa

[2022-05-25 16:15] DmitryArefiev opened #11757 "[MU4 Issue] File icons look pixelated on Windows/Linux (FullHD, 100% scaling)"
**Windows10, FullHD, 100%**
![Capture](https://user-images.githubusercontent.com/90187801/170513152-e7db5d36-4fb9-40a2-84fa-f34817f955da.PNG)

Windows10, FullHD, 150%
![Capture2](https://user-images.githubusercontent.com/90187801/170511763-eb5009aa-cee5-4c04-a47c-b4103c939338.PNG)

Mac12, Retina display
![Screenshot 2022-05-26 at 5 44 17 PM](https://user-images.githubusercontent.com/90187801/17051

[2022-05-25 16:34] DmitryArefiev opened #11758 "[MU4 Issue] Extra sounds (echoes) when starting playback in some cases"
**To Reproduce**
1. Open [flute3.zip](https://github.com/musescore/MuseScore/files/8773000/flute3.zip)
2. Start playback from the beginning several times (see video)

https://user-images.githubusercontent.com/90187801/170314628-e7f1a1f7-4758-433c-bb1f-9fcf613ee140.mp4

**Platform information**
macOS, Windows, Linux

**Additional context**
Doesn't occur in **MU3**

[2022-05-25 17:57] boryskuzmenko opened #11759 "[MU4 Task] Thumbnail icon to be created for GP files"
**Task description**
I believe we should have to separate GP files from MU files on the Recent board. To do that specific icon should be created and implemented.
Also will be good to use this icon as a file icon for GP files in case when there's no Guitar Pro installed (just thoughts)
MU4 file icon as an example:

![Capture 2022-05-25_08-48-05_PM](https://user-images.githubusercontent.com/10125034

[2022-05-25 18:43] NinjaNas commented on #11190
@DmitryArefiev I have no issue using my MOTU M4 on MS3, Sibelius, or Ableton Live 10 on any API or setting. I have also tested the Focusrite Scarlett Solo on the MS4 alpha build and it works as intended while the MOTU M4 has the issue shown above. I can reproduce the issue on all scores.

[2022-05-25 19:02] cbjeukendrup commented on #8746
@MarcSabatella I think the current "Insert A" command is redundant, since the same can be achieved by entering the "Insert" note input mode and then adding notes using the regular commands. It seems a very niche feature to me (not redundant, only niche!), so if it would require one extra step of switching to the correct note input mode, that should be fine.

So I would be in favor of removing thes

[2022-05-25 19:39] Tantacrul commented on #11759
@jessjwilliamson - I know I said not to... but can we make a GP image>? :)

I'd suggest a guitar silhouette or plectrum symbol or something like that.

[2022-05-25 21:36] boryskuzmenko commented on #11752
🟢 **FIXED** in https://github.com/musescore/MuseScore/pull/11754
Tested on macOS 12, Win 11, Ubuntu 20

[2022-05-25 21:42] MarcSabatella commented on #8746
They are definitely redundant in that there *is* another way to do it.  But the individual insert commands are often more *efficient*, at least if you're adding just one or two notes, plus you don't then also have to remember to switch back to step-time.  And there would have to be keyboard shortcuts to move back forth between step time and insert modes, or else suddenly it's *way* less efficient.

[2022-05-26 02:18] Phantasmogenesis opened #11761 "[MU4 Issue] Real-time (metronome) and Real-time (foot pedal) entry modes not working"
**Describe the bug**
The "real-time (metronome)" note entry mode does not work as expected; instead, seems to act somewhat like "re-pitch existing notes" entry mode.

**To Reproduce**
Steps to reproduce the behavior:
1. Enter "real-time (metronome)" entry mode on a score
2. Press a key with MIDI keyboard
3. See error

https://user-images.githubusercontent.com/90187801/170496948-8d1415cb-bec2-4176-

[2022-05-26 07:51] jessjwilliamson commented on #11759
hehe.

Of course :)

[2022-05-26 08:21] #11752 closed

[2022-05-26 09:50] lengthwave opened #11766 "[MU4 Issue] Drum Palette - Tooltip missing on hover"
**Describe the bug**
When hovering over drum palette item there is no tooltip to show the name of the palette item.

**To Reproduce**
Steps to reproduce the behavior:
1. Create score with unpitched percussion
2. Enter note entry mode for unpitched percussion instrument
3. View Drum Palette
4. Mouseover palette item
5. See error

**Expected behavior**
Should display tooltip with individual palette

[2022-05-26 09:51] lengthwave commented on #11766
@Tantacrul - this is a blocker for further percussion testing

[2022-05-26 09:56] DmitryArefiev commented on #11756
@cbjeukendrup Can reproduce it on Windows as well. Also occurs if to drag a line (trill or crescendo) inside the range selection and then start to drag

https://user-images.githubusercontent.com/90187801/170464872-1c7deea6-9ecd-4f6d-ac8c-c2598a4fce61.mp4

Thanks for logging!

(If you want to fix it please reassign to yourself)

[2022-05-26 11:09] DmitryArefiev commented on #11746
Fixed in #11765

[2022-05-26 11:09] #11746 closed

[2022-05-26 13:20] #11712 closed

[2022-05-26 13:29] DmitryArefiev commented on #11761
@Phantasmogenesis Thanks for catching this! I also found real-time (foot pedal) doesn't work too. Added info to the description and summary.

Tested on Windows10

[2022-05-26 13:43] #11689 closed

[2022-05-26 13:52] Tantacrul commented on #11766
Added a P1 because this is effectively blocking the work @lengthwave is doing to fix up percussion definitions. It is also really bad because (as a composer) it is impossible to know what each of the symbols are when writing.

[2022-05-26 13:52] Tantacrul commented on #11766
@cbjeukendrup - is this an easy fix?

[2022-05-26 14:20] #11427 closed

[2022-05-26 14:20] #11429 closed

[2022-05-26 14:28] DmitryArefiev commented on #11294
Fixed in #11681

[2022-05-26 14:38] cbjeukendrup commented on #11766
It seems not entirely trivial. It looks like it has to do with the fact that the drumset palette is a QWidget embedded in QML.

If you select an element in the drumset palette, its name is displayed at the left side of the panel. Could that maybe serve as a workaround for now? Or is the tooltip particularly crucial?

[2022-05-26 14:39] UnaidedButton86 opened #11768 "Regression"
I've seen a few workarounds and multiple more issues, but I'm writing more tomorrow.

I tried making a little song in ms4 alpha and those things i directly noticed and were really annoying (if im wrong and these just moved, please tell me):
**Advanced workspace**
~~This is a must-have for me: I use a double augmentation dot very much (sometimes even triple) and that isnt in the toolbar. Also voice

[2022-05-26 14:42] lengthwave commented on #11766
Will check latest build, label was not appearing previously.

Also, there is no sound preview ([#11722](https://github.com/musescore/MuseScore/issues/11722)), so not super user friendly.

[2022-05-26 14:42] HemantAntony commented on #11768
Please give the issue a better title (preferably in the form of '[MU4 Issue] ...' for consistency). Also one problem per one issue (in case you didn't know). It helps the team organize, fix

[2022-05-26 14:48] UnaidedButton86 commented on #11768
Im trying to give a better title per issue tommorow (its getting late), but what do you mea

[2022-05-26 14:52] #11294 closed

[2022-05-26 14:52] HemantAntony commented on #11768
I meant bugs. There are two problems in this issue- One with the Advanced Workspace and the other about the MuseScore3 import. They should be two separate issues.

But you should read #11057. It deals with the same problem about the Advanced Workspace

[2022-05-26 15:03] cbjeukendrup commented on #11768
Regarding the file imported from MuseScore 3: the good news is that there has already been a lot of improvement since the first alpha release. If you want, you can try the latest "nightly build" from https://ftp.osuosl.org/pub/musescore-nightlies/windows/4x/nightly/?C=M;O=D, to see if the problem is indeed solved.

[2022-05-26 15:24] boryskuzmenko opened #11771 "[MU4 Issue] Corrupted score can't be opened and corruption warning is not shown"
**Describe the bug**
This score can be opened in MU3 with corruption warning

**To Reproduce**
Steps to reproduce the behavior:
1. Open the test score
[The_Avengers_Theme_Song_full_orchestra.mscz.zip](https://github.com/musescore/MuseScore/files/8780059/The_Avengers_Theme_Song_full_orchestra.mscz.zip)
2. Pay attention to the app behavior

**Expected behavior**
Corrupted score can be opened with co

[2022-05-26 15:28] cbjeukendrup commented on #11740
@VanSHOE and me did some research on this yesterday, and we found that it is indeed a problem of the inspector rather than related to the shortcut. It turns out that Michele was quite right that the inspector is not affecting the same thing as the shortcut. The shortcut toggles the visibility of the note itself, while the inspector toggles the visibility of the containing chord. @VanSHOE also disc

[2022-05-26 15:42] boryskuzmenko opened #11772 "[MU4 Issue] Mixer tracks are loaded slowly just after score opening"
**Describe the bug**
Mixer tracks loading takes 1+ seconds. Loading time depends on number of instruments. Sometimes it take up to 10 sec for big scores. But the bug is noticeable even on piano scores

**To Reproduce**
Steps to reproduce the behavior:
1. Open the test score (mixer should be expanded by default)
[Mozart_Symphony_No._40_in_G_Minor_K._550_I._Molto_Allegro.mscz.zip](https://github.com

[2022-05-26 15:52] HemantAntony commented on #11740
@cbjeukendrup I think this can be related to #11096. Ironically, there was a comment about this issue posted a month ago

[2022-05-26 16:18] HemantAntony commented on #11757
I can reproduce on my laptop. The icon is too sharp

[2022-05-26 17:19] Tantacrul commented on #11766
OK, since there is at least some solution evident (and we're planning on replacing the panel anyway) I'll close this issue.

[2022-05-26 17:19] #11766 closed

[2022-05-26 17:21] Tantacrul commented on #11772
This is known - and there's already a task to include a loader to explain to people that the app is loading sounds. I think we should close this for now and let that task be completed first.

[2022-05-26 17:21] #11772 closed

[2022-05-26 17:24] Tantacrul commented on #11768
I'm going to close this since the issue has been raised based on the alpha version (which we have since improved a lot).

I'd advise you to check @cbjeukendrup's link: then import the same MS3 score again and show us any problems you find. We'll then assign accordingly.

[2022-05-26 17:25] #11768 closed

[2022-05-26 17:28] Tantacrul commented on #11745
I'm going to bump this to 4.x since it is already a problem with MS3. For sure it is a very annoying and stupid issue.

[2022-05-26 17:28] #11745 closed

[2022-05-26 17:41] mike-spa commented on #11740
@cbjeukendrup I've bumped before into ambiguity problems between the "visible" property of individual items (for example notes) versus the "visible" property of their parent item (for example chord). Some of that ambiguity translates into this kind of UI problems. I'd probably say the safest way is for the toggle to always refer to the individual item, but it's probably worth taking a deeper look

[2022-05-26 19:35] Tantacrul commented on #11740
The way this should work should be similar to how we handle 'indeterminate' states everywhere.

For example, when we have three notes selected which have a natural, a sharp and a flat applied selectively. Observe how the UI behaves.

A better example would be the text styling options in the inspector when you select multiple different text options that have different styles.

1. When the user sele

[2022-05-26 19:37] Tantacrul commented on #11740
I can spec the above out if needed.

[2022-05-26 19:38] WillyWonksters opened #11774 "[MU4 Issue] Keyboard shortcut consistency suggestion: alt+shift+arrow-key"
The left/right keys move from chord/note to chord/note. Shift+left/right performs the same movement but also selects those chords/notes.
Since Alt+arrow-key also moves up/down across the individual notes in a chord, shouldn’t alt+shift+arrow-key also select those individual notes?

**Platform information**
MuseScore 4.0.0 OS: Debian GNU/Linux 11 (bullseye), Arch.: x86_64, MuseScore version (64-bit

[2022-05-26 22:53] MarcSabatella commented on #11774
There's something logical about this to be sure, but - the way Shift+Left/Right work, it's always about a range selection, and since each press of Left or Right by definition move the cursor to a different time position, each press of Shift+Left/Right will always change an endpoint of the range.  That wouldn't be true for Alt+Shfit+Left/Right.  You might have a range selected and then Alt+Right mo

[2022-05-26 23:00] MarcSabatella commented on #11774
Anyhow, there is definitely something to consider here, but probably it needs to be thought out and designed somewhere other than here in this issue description - maybe GitHub discussions the Development forum, Discord, etc.  With @bkunda, @Tantacrul,  and/or @shoogle ultimately making the final call probably.

[2022-05-27 00:45] bakajikara opened #11776 "[MU4 Issue] Play panel shows incorrect tempo"
**Describe the bug**
When adding "Quarter note = 80 BPM" element from the palette, the play panel shows "♩= 79" in nightly build

**To Reproduce**
Steps to reproduce the behavior:
1. Create new score
2. Add "Quarter note = 80 BPM" element from tempo palette to the score
3. See play panel

**Expected behavior**
Play panel should show "♩= 80"

**Screenshots**
![スクリーンショット (19)](https://user-images.gi

[2022-05-27 02:41] Phantasmogenesis opened #11777 "[MU4 Issue] Metronome does not play during notes that begin on off beats"
**Describe the bug**
During playback, the metronome does not tick if the note being performed does not begin on the beat.

**To Reproduce**
Steps to reproduce the behavior:
1. Open a score with the metronome enabled
2. Create a section of music containing notes that do not fall on the main beats
3. Click "Play"
4. See error

**Expected behavior**
The metronome should tick on each beat evenly rathe

[2022-05-27 08:30] #11737 closed

[2022-05-27 10:07] #11757 closed

[2022-05-27 10:07] #11759 closed

[2022-05-27 10:13] DmitryArefiev commented on #11759
Fixed in #11773

[2022-05-27 10:13] DmitryArefiev commented on #11757
Fixed in #11773

[2022-05-27 11:41] Obliquely commented on #11776
**Extra info** If you edit the tempo, e.g.  change it to 81 BPM and then back to 80, then the Play Panel shows the expected value, 80. If you save and reload, the error persists. If you export to MusicXML or MIDI the error sorts itself out.

[2022-05-27 11:49] bkunda commented on #11774
Good call, @MarcSabatella, and thanks @WillyWonksters for the suggestion!
I'll move this to discussions for now.

[2022-05-27 12:01] bkunda commented on #8746
We obviously aren't going to touch input modes for MS4, but we _will_ tackle them sooner rather than later.
I suspect there is a much more efficient way of achieving all these user goals without the impenetrability of the current "modes" system, or the confusing presence of multiple (apparently similar) shortcuts.

Certainly, the least confusing short-term solution would be @cbjeukendrup's suggest

[2022-05-27 12:09] bkunda commented on #10719
Thanks for this background info, @MarcSabatella. it makes me think we need to do some more research and user testing ahead of making any overhauls to the way percussion note input works (and we will be doing an overhaul to percussion at some point in a future release, so these considerations you've shared will be very useful).

[2022-05-27 13:06] Tantacrul commented on #11776
Confirmed. All you have to do is add this from the 'Tempo' palettes and you see the issue right away.

<img width="284" alt="image" src="https://user-images.githubusercontent.com/21022311/170705134-2370175b-659d-4b3d-bf7b-c3982ecb0a9e.png">

Nice catch!

[2022-05-27 13:13] MarcSabatella commented on #8746
To be clear, I wasn't asking for any actual change to note input mode behavior - just for a shortcut to toggle insert mode on and off.  Because otherwise, this important functionality is almost entirely keyboard-inaccessible.  Technically, it's still *possible* but it goes from a single keystroke to a laborious process of fumbling around with Tab, Space, and cursor keys to reach the toolbar, find

[2022-05-27 14:09] Tantacrul commented on #9747
OK, closing for now (unless there is an objection). I don't see us fixing this in favour of focusing on uploads from MS4.

[2022-05-27 14:09] #9747 closed

[2022-05-27 14:54] Tantacrul commented on #11744
@lengthwave - is this blocking your work?

[2022-05-27 14:55] lengthwave commented on #11744
Not blocking. I can do this one manually.
This is also a regression from 3.x.

[2022-05-27 15:10] Tantacrul commented on #8933
@bkunda - when you've time, can you spec out the desired design? Then we can post that as a 4.x task. Once done, I'll change this to be a simple bug about tooltips needing to accommodate long strings.

[2022-05-27 15:15] Tantacrul commented on #9699
My feeling is that we should leave this P1 until last. The Styles dialog

[2022-05-27 15:17] #9868 closed

[2022-05-27 15:24] Tantacrul commented on #9964
I am bumping this to 4.x.

Annoying, since this is a terrible, terrible problem! However, it isn't a regressions, since the problem exists in MS3.6

[2022-05-27 15:26] Tantacrul commented on #9974
I am bumping this to 4.x because it is a feature request, not a regression.

[2022-05-27 15:31] Tantacrul commented on #9977
@oktophonie - seems pretty cut and dry to me. Can you (or a minion) alter this?

Also offering up to the community too, since it seems like a dead simple fix.

[2022-05-27 15:33] #10217 closed

[2022-05-27 15:42] Tantacrul commented on #10003
This was added by someone at some point. :)

You can make individual notes cues. And you can make the whole chord a cue too.

<img width="720" alt="image" src="https://user-images.githubusercontent.com/21022311/170733132-8e60d4af-5503-4c94-8073-4f0ea16c89bf.png">

Closing as fixed.

[2022-05-27 15:44] Tantacrul commented on #10016
After chat with @oktophonie, I'm bumping to 4.x. If we find we have capacity, we can do it in 4.0.

[2022-05-27 15:49] Tantacrul commented on #10019
@cbjeukendrup - agreed. I'm assigning you.

[2022-05-27 15:55] Tantacrul commented on #10020
I'm bumping this to 4.x, since it works rather well as is and I'd like to focus the team on more significant improvements. Will reopen after 4.0 is out.

Feel free to reopen if you disagree or if I'm missing something.

[2022-05-27 15:56] DmitryArefiev opened #11790 "[Inspector] Reset option is missing in Properties>Appearance>Arrange section"
**Describe the bug**
See compare with MU3

https://user-images.githubusercontent.com/90187801/170735311-efe18eda-7adf-4ae0-aca0-e9b561e1ae3f.mp4

![Untitled](https://user-images.githubusercontent.com/90187801/170734711-b268bf5b-6e31-4391-9a3f-c04faf5c849e.png)

**Platform information**
macOS, Windows, Linux

**Additional context**
Doesn't occur in **MU3** (in MU3 it's called Reset to style default

[2022-05-27 15:57] Tantacrul commented on #10034
@njvdberg - How are things looking?

[2022-05-27 15:59] Tantacrul commented on #10034
I'm moving this to 4.x. If it happens to get fixed early, we'll include in 4.0.

Otherwise, we'll reopen this after 4.0 is out.

[2022-05-27 16:02] Tantacrul commented on #10035
I've tested this in the latest version and it is no longer happening (thankfully!)

@boryskuzmenko, can you confirm?

Closing for now.

[2022-05-27 16:02] #10035 closed

[2022-05-27 16:20] Tantacrul commented on #10040
I'm adding this to target Beta 1 (based on comments on the related PR). That should give enough time!

[2022-05-27 16:27] Tantacrul commented on #10096
@Kissh12 - it doesn't seem like there has been much movement? Are you intending on working on this or shall I reassing?

[2022-05-27 16:39] DmitryArefiev commented on #10877
@MarcSabatella @Tantacrul As I see, Backward/Forwards buttons are equivalent of Stacking order (Z) feature in MU3 (up/down controls).
But in MU3 the user seeing the changes of actions in the numeric field.
In MU4 we don't have that numeric field and user doesn't see the changes in Properties (only in score).

https://user-images.githubusercontent.com/90187801/170740314-2caf4171-87db-43ba-9a8c-89f8

[2022-05-27 17:11] boryskuzmenko commented on #10035
Confirmed. This issue can't be reproduced.

[2022-05-27 17:27] DmitryArefiev commented on #9968
@Tantacrul Yes, still occurs

https://user-images.githubusercontent.com/90187801/170760818-0067605a-927d-426e-b722-a2e16412790c.mp4

[2022-05-27 17:28] DmitryArefiev commented on #9968
@Eism FYI

[2022-05-27 17:49] Tantacrul commented on #10877
@DmitryArefiev: I think we need a more sensible interface for this. A textbox (like in MS3) is just ridiculous.

What we need is the same options you find in most creation software:

**Forwards** (looks at the items in front of it and moves above the closest one)
**To front**  (looks at the items in front of it and moves above the top one)

[2022-05-27 17:52] MarcSabatella commented on #10877
Right, I agree most users don't need to be able to set via a text field, even if it *is* useful to some of us.  But again, the real issue is that to forwards button *doesn't work* as described above.  It doesn't look at the elements in front, it just decrements the stacking order by a fixed amount.  And thus you have to press it literally dozens of times.  making it seem it just isn't working at a

[2022-05-27 17:53] Tantacrul commented on #10877
Yes. The current functionality is not working as expected.

[2022-05-27 17:54] Tantacrul commented on #10877
@bkunda - can you mock this up? I've changed the issue description to explain what is needed.

[2022-05-27 17:55] MarcSabatella commented on #10877
FWIW, the recent PR to add To Front / To Back buttons includes some of the needed code to fix this.  But it's a bit off, it looks at the entire page rather than just the element that overlap the current element.

[2022-05-27 17:57] Tantacrul commented on #9977
@Jojo-Schmitz - good point. I've updated the description.

[2022-05-27 18:27] DmitryArefiev commented on #11731
@Tantacrul  I vote for enable edit mode and to show handle **on double-click**.
When you want to delete multiple brackets it shows only one handle and when editing bracket via inspector it shows the handle only from the beginning of editing.
It's just cosmetic thing of course..  🙂

https://user-images.githubusercontent.com/90187801/170769530-8677baec-f437-4cf0-950f-05090264a1a6.mp4

[2022-05-27 18:30] MarcSabatella commented on #9977
The tooltips are also completely missing for the two icons in the More section.  I might assume they were intended to be feathering since those are missing.  But they don't actually do anything.  So between the icons themselves being meaningless, the lack of a tooltip, and the fact that I don't see them actually doing anything, they are rather mysterious.

[2022-05-27 18:45] exegetor commented on #9968
I lack the computing resources to compile, so I'm out for the time being, but thanks @DmitryArefiev for the good vid.
I'd also second @VanSHOE.  This bug looks like an example of the broader issue in #11189.

[2022-05-27 18:49] DmitryArefiev opened #11791 "Multiple brackets added if more then one measure is selected horizontally"
https://user-images.githubusercontent.com/90187801/170772587-be0fd501-45f3-442b-b452-533b4e3d626e.mp4

**Expected behavior**
MU should add only one bracket

**Screenshots**
If applicable, add screenshots to help explain your problem.

**Platform information**
macOS, Windows, Linux

**Additional context**
The same in MU3

[2022-05-27 18:51] DmitryArefiev commented on #11791
Leaving with P3 since the same occurs in MU3

[2022-05-27 19:18] Tantacrul commented on #9977
Urgh! Where have the feathering options disappeared to?

I can't even see them anymore. Goddammit.

[2022-05-27 19:26] Tantacrul opened #11792 "'Feathered Beams' option has disappeared from the Inspector"
**Describe the bug**
The feathered beams option that we designed for MS4 (and which was working) has gone missing. It's purpose was to accomplish these effects:
<img width="822" alt="image" src="https://user-images.githubusercontent.com/21022311/170777767-f90c751e-7a3c-4b4b-8fbf-0a447f680fc5.png">

Here is an example of the design in Figma (in the 'Inspector' page)
<img width="738" alt="image" src

[2022-05-27 19:31] RomanPudashkin commented on #11792
I'm working on it

[2022-05-27 19:32] MarcSabatella commented on #9984
@mike-spa I think you will find a major complication in implementing this is, sure, you can calculate an appropriate sp value to fit the first system while that system is completely empty, but the moment you start entering things into the score, it doesn't work anymore.  The staves start spreading to make room, and if you've chosen a value that just exactly fits, it is pretty well guaranteed to no

[2022-05-27 19:34] Tantacrul commented on #11792
@RomanPudashkin - I suspect that this might be blocked behind @asattely's work on the beaming code. Perhaps he may want to have a say in this too. I'm unsure.

[2022-05-27 19:40] Tantacrul commented on #10100
I can reproduce this on Mac by holding the CMD button and dragging a note.

[2022-05-27 19:46] MarcSabatella commented on #9977
At the risk of stirring the pot more:

When I first saw this, I didn't read carefully enough and thought we were talking about the "Beam Properties" *palette* as opposed to the "Beam" section of the Properties *panel*.  FWIW, the names in the palette are different from those in the panel and make more sense to me than the names in the panel.  But more importantly, do we really still need the palet

[2022-05-27 19:49] Tantacrul commented on #11731
OK, I understand.

My feeling is to fix each issue so that the final result is better.

1. For now, we should definitely use single-click rather than double-click (DC is really hard to discover).
2. (Later) multi-select should also work better

For this bug, we just need to undo the regression

[2022-05-27 20:25] wizofaus commented on #8746
From memory "Toggle 'insert mode'" does in fact do something, just something very unexpected regarding how insert mode works.  But there is already a command to enter insert mode ("Note input: enter insert mode") in v3 that can be assigned to a shortcut key, likewise to enter regular step mode ("Note input: enter step-time mode" - Alt+Shift+S by default). v4 certainly should still be able to suppo

[2022-05-27 20:55] cbjeukendrup commented on #11731
@Tantacrul How about the following rule:
- if a single element is selected, _always_ show grips for that element (if that element has any grips at all)
- if multiple elements are selected, never show grips

So it would just be based on the selection only, regardless of whether you double-clicked or single-clicked or whatever.
I think that would guarantee consistent behaviour.

--
(With brackets sp

[2022-05-28 03:04] HemantAntony commented on #10100
Wait, how's that possible? You should not be able to reproduce that. How did you "build" MU4? Did you download it as a nightly or did you build it from the source code? I think you would have done the former

Unless you built MuseScore from the source code with Debug mode switched on, you should not be able to reproduce this

[2022-05-28 08:03] Tantacrul commented on #10100
Via a nightly, yes. I'll try again later today. Didn't test extensively.

[2022-05-28 08:10] Tantacrul commented on #11731
@cbjeukendrup Sounds perfect to me.

[2022-05-28 09:43] wizofaus commented on #10100
The problem still exists - if you select a note first, then hold down CTRL and start dragging that note, the note gets deselected, which I'd argue is the wrong behaviour, and in actual local Debug builds there is an Assert that fires.  Really it should be mouse-up that deselects.

[2022-05-28 11:08] HemantAntony commented on #11776
@Tantacrul, I have a fix: #11795

If you're wondering what happened. The tempo was stored like this - 79.99998 But the tempo wasn't getting rounded. It was just getting converted to 79

[2022-05-29 12:48] HemantAntony opened #11796 "[MU4 Issue] Crash on closing part"
**Describe the bug**
After you create a score, open a part. Then close the project, MuseScore crashes

**To Reproduce**
Steps to reproduce the behavior (I'm basing this on the video):
1. Create a score
2. Open Piano part
3. Now press `Ctrl + W`
4. Click "Don't Save" (or you can save too)
5. Crash occurs

**Expected behavior**
A crash should not occur on closing part

**Screenshots**

https://user-

[2022-05-29 12:50] HemantAntony commented on #11796
@Tantacrul, Just tagging you since this is an easily reproducible crash

[2022-05-29 13:32] Tantacrul commented on #11796
I get this crash all the time.

[2022-05-29 13:52] Tantacrul opened #11797 "'Between Note' Tremolo playing incorrectly and extending playback during empty bars"
**Describe the bug**
I have created a file to demonstrate. In the first and second measure, I've notated how the 'between note' tremolo should sound. In measures 3 and 4, you can hear that the result is actually backwards (see video below).

In addition, between-note tremolo also seem to continue playing back after they should be complete. In my video, you can hear that they continue playing durin

[2022-05-29 16:44] Jojo-Schmitz commented on #11796
Stack trace:
[code]

[2022-05-29 17:36] Jojo-Schmitz commented on #11796
simple fix is to check whether `score()` is set before using its `elementDestroyed()` in
[code]
probably even before `m_scoreCallbacks.setScore(score());`

[2022-05-29 17:55] cbjeukendrup commented on #11796
I think the source of the problem is here:
[code]
But that code is there for a reason: see 61d2f9f866c1ac3d85424ba1a4210e2ff83d0586. I'm not sure whether that is still actual though, because of this code that was added later: https://github.com/musescore/MuseScore/commit/070e14eeff03584fb22221f97c1cca0447e654bd#diff-b01b000c5ec45fd216a7232e61fffb6d5b2bdeefad8cbe917df441812dfae030
I'll experiment w

[2022-05-29 18:55] oktophonie commented on #9984
I'd call it a can of worms of a fairly universal standard size.

[2022-05-29 21:39] josiasmat opened #11800 "[MU4 Issue] Inconsistency between view mode and view button state when switching between Score and Publish spaces"
**Describe the bug**
Inconsistency between view mode and view button state when switching between Score and Publish spaces in specific cases.

**To Reproduce**
Steps to reproduce the behavior:
1. Create a new score
2. On the "Score" space, select horizontal continuous view
3. Switch to the "Publish" space
4. Select vertical continuous view
5. Go back to the "Score" space
Result: score shows in _ve

[2022-05-30 07:19] #11796 closed

[2022-05-30 07:47] bkunda commented on #10877
I'll do this today.

[2022-05-30 08:04] #11776 closed

[2022-05-30 09:06] bkunda commented on #10812
I've crossed-out "harp pedal diagram" because this is now a GSoC project, which will imbed comparable functionality within MS itself.

[2022-05-30 09:59] bkunda commented on #8746
OK, first-up:

- "Toggle 'insert mode'" does indeed do something: it seems that "insert mode" actually comprises _two_ modes (or states), one that respects the meter, and one that doesn't. This shortcut toggles between these two states.

I think the path of least resistance here is to keep the two pairs of existing "enter/insert" commands, thereby avoiding the need to build any new shortcut functi

[2022-05-30 10:20] DmitryArefiev commented on #11731
Fixed in #11738

[2022-05-30 10:20] DmitryArefiev commented on #11649
Fixed in #11738

[2022-05-30 11:06] #9892 closed

[2022-05-30 11:20] #10100 closed

[2022-05-30 11:20] #11649 closed

[2022-05-30 11:20] #11731 closed

[2022-05-30 11:21] bkunda commented on #9769
In the grand scheme of things, I think this issue is no longer sufficiently pressing for MS4 and could comfortably be moved to MS4.x, particularly since the fix in #10566 contained a number of issues that still need ironing-out. Closing this for now.

[2022-05-30 11:26] bkunda opened #11804 "[MU4 Task] Implement expandable category rows for keyboard shortcuts in Preferences"
**Task description**

This task proposes a basic solution for improving the discoverability of keyboard shortcuts in the Preferences dialog.

Instructions are in [this UX spec document](https://www.dropbox.com/s/560s71riwqjhmoq/UX-Design_Keyboard-Shortcuts_v.2.pdf?dl=0)

@VanSHOE we can at some point discuss this in relation to your GSoC project 🙂

[2022-05-30 11:26] #11804 closed

[2022-05-30 11:28] bkunda commented on #8746
Just updated the issue description as I've now separated-out the tasks of implementing the new naming convention and setting-up the categories.

[2022-05-30 12:08] VanSHOE commented on #11804
@bkunda Sure! I have added this to the extended objectives as well!

[2022-05-30 12:40] #9689 closed

[2022-05-30 12:52] #11686 closed

[2022-05-30 13:06] Tantacrul opened #11805 "Users should be able to drag and drop soundfonts onto the MS4 interface to install them, the same way they could in MS3"
**Describe the bug**
In MS3, users could drag a soundfont onto the UI and it would automatically place the soundfont in the default directory.

It asks you this question: (we should keep this exact string)
![image](https://user-images.githubusercontent.com/21022311/170998306-8a67b721-9df9-4542-81f0-148236300022.png)

Then it gave you this info:
![image](https://user-images.githubusercontent.com/21

[2022-05-30 13:19] alexpavlov96 commented on #11606
Started to reproduce after this PR
https://github.com/musescore/MuseScore/pull/11092

[2022-05-30 14:00] Tantacrul commented on #11805
Yes! I thought I'd seen it before.

[2022-05-30 14:00] #11805 closed

[2022-05-30 14:02] DmitryArefiev opened #11806 "[MU4 Issue] Grip should not disappear when moving (editing) brackets"
**To Reproduce**
1. Select bracket (grip appears)
2. Move with mouse vertically or with Inspector - **grip disappears**

https://user-images.githubusercontent.com/90187801/171008187-9b6e293a-fd44-40d4-a5c5-a9d0fa01b423.mp4

**Expected behavior**
Grip should not disappear, it shows that you are in edit mode.
Grip should disappear after Escape key or clicking on empty space

**Platform information**

[2022-05-30 14:14] abariska opened #11807 "[MU4 Issue] Corruption details are not available in the 'corruption warning' when opening corrupted score"
**To Reproduce**
Steps to reproduce the behavior:
1. Open the score
[The_Avengers_Theme_Song_full_orchestra.mscz.zip](https://github.com/musescore/MuseScore/files/8798949/The_Avengers_Theme_Song_full_orchestra.mscz.zip)
2. Pay attention to the corruption warning

**Screenshots**

![Capture 2022-05-30_04-46-51_PM](https://user-images.githubusercontent.com/101250347/171010141-3684214d-424d-4789-bb29

[2022-05-30 14:15] boryskuzmenko commented on #11771
🟢 **FIXED** in https://github.com/musescore/MuseScore/pull/11789
Tested on macOS 12, Win 11, Ubuntu 20

[2022-05-30 14:16] Tantacrul commented on #11412
Whoever works on this: I can be a point of contact for functionality. Ideally, we just want some background process for MS4. However, if we feel we need an interface, I can provide something.

I also want to mention that this loading screen: https://github.com/musescore/MuseScore/issues/11330, is where we should describe the VST's being scanned when the app opens.

[2022-05-30 14:18] DmitryArefiev opened #11808 "[MU4 Issue] When resizing grip with arrow keys, editing should not stop after the first move"
**Describe the bug**
When resizing grip with arrow keys, editing should not stop after first action.
You be able to continue bracket resizing with ↑↓ keys (and grip should not disappear #11806)

https://user-images.githubusercontent.com/90187801/171010884-e8e4f849-7c5f-42be-bde5-30916ee092ba.mp4

**Platform information**
macOS, Windows, Linux

**Additional context**
#11806

[2022-05-30 14:19] #11771 closed

[2022-05-30 14:24] Tantacrul commented on #11549
@bkunda slight tweak: I think that second dialog could perhaps say:

**Soundfont installed. You can assign soundfonts to instruments using the mixer panel**

[2022-05-30 14:24] DmitryArefiev commented on #11731
@cbjeukendrup @Tantacrul Created 2 bugs related to bracket resizing #11806 #11808

[2022-05-30 14:47] #10101 closed

[2022-05-30 14:57] oktophonie opened #11809 "[MU4 Task] Adjust alignment and drawing of text lines"
## Alignment of text relative to line

<img width="1241" alt="image" src="https://user-images.githubusercontent.com/20604032/171012116-eec72dcb-7926-4191-be29-100c47d20125.png">

This example shows a default 'cresc.' line, with the line thickness increased to 0.5sp to exaggerate the issue.
The origin point of the item is the vertical centre of the line. The text can be aligned relative to this poi

[2022-05-30 15:04] Tantacrul commented on #10122
I don't know how widespread this problem is anymore. It could just be an issue with my file, which was originally a MusicXML import into 3.6. Other comments welcome!

[2022-05-30 15:09] Tantacrul commented on #10155
Yes. This is still happening. Really unusual :)

[2022-05-30 15:13] Tantacrul commented on #10201
I'm bumping this to 4.x, since it is an existing MS3 problem. Will reopen once 4.0 is released.

[2022-05-30 15:15] Tantacrul commented on #10202
This issue is no longer occurring for me. Closing for now.

[2022-05-30 15:15] #10202 closed

[2022-05-30 15:19] Tantacrul commented on #10205
I've given this a provisional P1 and targeted it at alpha and assigned to @asattely. Lemme know if this is tomfoolery.

[2022-05-30 15:20] Tantacrul commented on #10213
This is actually quite annoying and will break translations, so I've bumped to a p2.

[2022-05-30 15:24] Tantacrul commented on #10220
This issue is duplicated here:
https://github.com/musescore/MuseScore/issues/9620

[2022-05-30 15:24] #10220 closed

[2022-05-30 15:25] Tantacrul commented on #10225
Added a priority and targeted at beta.

[2022-05-30 15:26] Tantacrul commented on #10232
This appears to be fixed. Closing.

[2022-05-30 15:26] #10232 closed

[2022-05-30 15:32] DmitryArefiev opened #11810 "[MU4 Issue] TAB. Beams are rendered in a wrong place"
**Describe the bug**
Beams are rendered wrong in common tab notations after note input

**To Reproduce**
1. Create a score with TAB staff
2. Add some 16th notes

https://user-images.githubusercontent.com/90187801/171024147-36ed7515-db44-4400-8af4-dfba0490b627.mov

https://user-images.githubusercontent.com/90187801/171025261-cc66ab54-094a-4697-9abd-20ec73957988.mov

**Expected behavior**
Beams are

[2022-05-30 15:46] HemantAntony commented on #10122
I can still reproduce this

Also if unclear, I'm no longer working on this. 5 months is too long :)

[2022-05-30 15:50] DmitryArefiev commented on #11810
Dupe of #11526. Closing

[2022-05-30 15:50] #11810 closed

[2022-05-30 16:38] boryskuzmenko opened #11812 "[MU4 Task] 'Let Ring' playback to be implemented"
For more information see: https://musescore.org/en/node/323083

[2022-05-30 16:43] Tantacrul commented on #10284
I'm bumping this because you can't write music if you don't know what measure and beat you are on.

[2022-05-30 16:44] Tantacrul commented on #10286
@oktophonie - for reference.

I'm going to close since we have not inherited this nastiness :)

[2022-05-30 16:44] #10286 closed

[2022-05-30 16:45] Tantacrul commented on #10291
@DmitryArefiev - is this still happening. I'm testing on Mac and it appears to be working well.

[2022-05-30 16:47] abariska opened #11813 "[MU4 Task] Staff's chord symbols should be transposed when Capo settings are changed"
Capo settings should have an option that transposes the Staff's chord symbols.

Currently there's no way to transpose them.

To be fixed after https://github.com/musescore/MuseScore/issues/10334

[2022-05-30 16:49] Tantacrul commented on #10313
Can I ask what this is about? What design is needed? Is this another blocker on MS4?

[2022-05-30 16:49] HemantAntony commented on #10291
@Tantacrul I can reproduce it. There's more to this issue. You can't click most buttons in that toolbar with one click

[2022-05-30 16:50] abariska opened #11814 "Half notes to be displayed in circle in TAB staff notation"
Investigate adding circles for half notes in tab
https://musescore.org/en/node/275196

To be clarified after MU4.0 release

[2022-05-30 16:52] Tantacrul commented on #10334
This appears to be a feature request.

What is the plan to solve this? Are we going to place the correct symbols on the score on import? What design is needed.

In future, when design is needed, we need to have a call with the other designers so we can agree on what to do. I keep finding these issues placed here with not enough explanations.

[2022-05-30 17:03] Tantacrul commented on #10391
This is now working for me. @DmitryArefiev - can you confirm?

[2022-05-30 17:04] Tantacrul commented on #10399
(apart from the crash that sometimes happens when you close scores)

This looks to be behaving correctly for me. @DmitryArefiev - can you check?

[2022-05-30 17:09] Tantacrul commented on #10407
We won't be making any fixes for 3.x.

It would be great to test this again on MS4. Closing for now. Let me know if there is a reason to reopen.

[2022-05-30 17:09] #10407 closed

[2022-05-30 17:11] Tantacrul commented on #10433
@Eism - are you still experiencing this crash?

[2022-05-30 17:12] Tantacrul commented on #10354
I believe this issue is resolved for now?

[2022-05-30 17:12] #10354 closed

[2022-05-30 17:13] RomanPudashkin commented on #10433
@Tantacrul this crash was reported by @oktophonie (as far as I remember)

[2022-05-30 17:13] Tantacrul commented on #10435
Confirmed on todays' build.
<img width="193" alt="image" src="https://user-images.githubusercontent.com/21022311/171036956-e580ee88-766c-4f81-a009-3c1487e63598.png">

[2022-05-30 17:15] Tantacrul commented on #10460
I'm closing this because it is several issues joined together under a similar theme and I understand a few are fixed. Each instance of a shortcut not working should be logged individually.

[2022-05-30 17:15] #10460 closed

[2022-05-30 17:17] Tantacrul commented on #10462
Not able to reproduce on Mac. Is it still happening for you, Mark?

[2022-05-30 17:18] Tantacrul commented on #10476
Any movement on this?

[2022-05-30 17:36] MarcSabatella commented on #10462
It used to happen always.  Now it happens only occasionally.  Similar for other menus and popups.  It's still a bit wonky but not nearly as bad as before.  Feel free to close if no one else sees this.

FWIW, I would prefer it stay *open* when switching windows, but there's a separate issue about that - https://github.com/musescore/MuseScore/issues/11248, which was specifically about the add palett

[2022-05-30 17:41] MarcSabatella commented on #10460
Indeed, each of the individual cases I had noticed before seem fixed at this point, except the file dialog, which I gather is a known separate issue for Linux only involving native vs Qt dialogs.

I'll resubmit separate issues for any other controls I find that still don't work.

[2022-05-30 17:42] Tantacrul commented on #11806
Agreed.

[2022-05-30 17:43] Tantacrul commented on #10122
OK, I've moved it to alpha then if you are still experiencing it.

[2022-05-30 17:45] boryskuzmenko opened #11816 "[MU4 Issue] [GP] Capo marks placement is wrong for multiinstrumental scores"
**Describe the bug**
1. Capo mark should be placed above it's related staff.
2. Capo mark should be present in each part

**To Reproduce**
Steps to reproduce the behavior:
1. Open test GP score in MU4
[Capo Test.gp.zip](https://github.com/musescore/MuseScore/files/8800036/Capo.Test.gp.zip)
2. Pay attention to the Capo marks
3. Open one of the parts
4. Pay attention to the Capo mark absence

**Expe

[2022-05-30 17:46] boryskuzmenko commented on #10378
🟢 **FIXED** in https://github.com/musescore/MuseScore/pull/10765
Tested on macOS 12, Win 11, Ubuntu 20

[2022-05-30 17:46] #10378 closed

[2022-05-30 17:47] Tantacrul commented on #10379
It's not going to be possible to coordinate this without someone overlooking it. @lengthwave - I'd suggest you keep an eye on these PR's. @alexpavlov96 - you should check with @lengthwave to make sure we don't alter MuseScore to use bad defaults.

[2022-05-30 17:47] MarcSabatella commented on #10354
For now, yes,  -D does not work as it did before - it used to scale both GUI and the score itself, whereas now it scales the score only - but at least it scales the score *correctly*.  And QT_SCALE_FACTOR also works differently than it did even a few months ago - it now scales the GUI but not the score.  But, that's fine, we now have independent control of these.  So we could simply say, this is h

[2022-05-30 17:48] Tantacrul commented on #10462
Agreed on your last point. OK, closing for now.

[2022-05-30 17:48] #10462 closed

[2022-05-30 17:49] DmitryArefiev opened #11817 "[MU4 Issue] Grace note stem custom direction in MU3 score is lost"
**To Reproduce**
1. Open [grace-3-original.zip](https://github.com/musescore/MuseScore/files/8800042/grace-3-original.zip) in MU3
2. Open [grace-3-original.zip](https://github.com/musescore/MuseScore/files/8800047/grace-3-original.zip) in MU4

![01](https://user-images.githubusercontent.com/90187801/171041222-068e7c34-ae21-41af-8ab3-f84b37b06601.PNG)

![02](https://user-images.githubusercontent.co

[2022-05-30 17:49] Tantacrul commented on #10484
I think it would be nice to assign one key for 'hide side panels' and it would just hide all of them. @bkunda: you're more up on the shortcuts than I am. Any suggestions? I feel we should include this if possible.

[2022-05-30 17:51] MarcSabatella commented on #10291
For me all buttons work as I expect *except* the dropdown next to the note input button.  I would expect clicking the little arrow would open it. but it doesn't, I need to long-tap.  Not sure if that's on purpose or not, but it took me a while to discover it was possible, since long-tap isn't something I expect to use on my laptop.

[2022-05-30 17:53] Tantacrul commented on #10291
Yes, that Note Input button change was by design. I'd be keen to revisit it another time - especially when we fix up those modes so they are more useful / understandable.

[2022-05-30 17:55] MarcSabatella commented on #11813
Actually, there *is* a way to transpose chord symbols via capo, but it's a completely separate setting, found in Format / Style / Chord Symbols.  This setting was in existence before the Staff Text version of the capo setting was implemented, but somehow, the two features were never properly integrated.

So for 4.0, the capo setting in Format / Style / Chord Symbols does serve the same function it

[2022-05-30 18:02] DmitryArefiev commented on #11016
#11817 can be similar

[2022-05-30 18:04] Tantacrul commented on #10508
This is no longer happening, I believe. Closing for now (unless @DmitryArefiev you have found differently)

[2022-05-30 18:09] boryskuzmenko opened #11818 "[MU4 Issue] Bends diagram is disabled for all bend types"
**To Reproduce**
Steps to reproduce the behavior:
1. Create a score
2. Add few notes and add bend to some of them (from articulations palette)
3. Pay attention to the Properties of bend marks

**Screenshots**
![Capture 2022-05-30_08-58-49_PM](https://user-images.githubusercontent.com/101250347/171042688-bb064646-2144-4517-88d8-0d72b9a35aa2.png)

**Expected behavior**
Bends diagram is configurable

[2022-05-30 18:13] Tantacrul commented on #10525
Excellent find, @DmitryArefiev! It should just work as it does when you press **S** to create a slur and the use **Shift+Ctrl (command)** to extend it.

[2022-05-30 18:14] Tantacrul commented on #10525
Bumping to P1 because of how important it is and how easily someone could encounter it.

[2022-05-30 18:15] Tantacrul commented on #10539
I think this issue has fixed itself at some point over the last few months. Closing for now. Can you confirm, @bkunda ?

[2022-05-30 18:15] #10539 closed

[2022-05-30 18:17] Tantacrul commented on #10556
100%. Targeting at alpha.

[2022-05-30 18:20] Tantacrul commented on #10628
Closing due to mysteriousness.

[2022-05-30 18:20] #10628 closed

[2022-05-30 18:24] Tantacrul commented on #10653
I can get it to happen by selecting any measure with smaller notes and pressing 7 twice.

[2022-05-30 18:30] boryskuzmenko opened #11819 "[MU4 Issue] [GP] Some of bend types are rendered messy after GP file import"
**To Reproduce**
Steps to reproduce the behavior:
1. Open the test GP file
[Techniques 1 (eng).gp.zip](https://github.com/musescore/MuseScore/files/8800167/Techniques.1.eng.gp.zip)
2. Pay attention to the measures 77, 79, 81

**Screenshots**

![Capture 2022-05-30_09-14-08_PM](https://user-images.githubusercontent.com/101250347/171044784-a3cb4239-6be9-465b-874d-be7315db03cd.png)

**Expected behavio

[2022-05-30 18:36] Jojo-Schmitz commented on #10286
We'd still better fix the 3.6.2_backend. If it is still affected.

[2022-05-30 18:40] Jojo-Schmitz commented on #10653
Even/still with the artifact from PR #10654 ?

[2022-05-30 18:47] DmitryArefiev commented on #10399
@Tantacrul Still occur for me. Found one important step to reproduce - the second score you should open with Ctr+O (not from Home>Scores). Updated description

https://user-images.githubusercontent.com/90187801/171046846-5149a2fb-12ae-43bb-b366-e0cd438c61ea.mp4

[2022-05-30 18:57] cbjeukendrup commented on #10128
As far as I can tell, the situation has not changed a lot. I don't think there are really critical bugs currently, but it may still be a bit messy about when we update the instrument/part/excerpt names automatically and when not.
I could imagine this is a bit of a long-term task, so we might keep it for later. But we should always keep the following in mind:
- Instruments, Parts, and Excerpts are

[2022-05-30 19:57] Jojo-Schmitz commented on #10653
It is available since more than 3 months now (and I've just rebased it now)...

[2022-05-30 19:58] MarcSabatella commented on #10628
FWIW, my guess is this was a request that we get moderately often - to be able to disable mouse clicks while in note input mode.  I think it comes mostly from people who don't know about the scroll wheel or PgUp/PgDn other means of navigation and whose only means of moving about is dragging the canvas.  They get annoyed that attempting to drag the canvas while in note input mode enters a note inst

[2022-05-30 20:27] MarcSabatella commented on #8746
I think this is reasonable.  Following is further discussion you can freely ignore :-)

Most users never open the shortcut customization dialog and hence don't even have the opportunity to be confused by the bad naming, but "Insert A" is asking for trouble, so I do agree short term, just renaming the command is the way to go.  I might quibble a little with the proposed new name, as the word "only"

[2022-05-30 20:30] Tantacrul commented on #10128
OK, well it sounds like we should log specific issues and then agree on something more holistic in a release of 4.x. I'll close for now and bump to 4.x, when we'll return to this issue.

[2022-05-30 20:44] wizofaus commented on #8746
I'd agree "Insert note A (increase measure duration)" is better - "Enter note A (insert mode only)" seems a pretty confusing way of describing it, as Marc points out, it's precisely when you're *not* in insert-mode that it's most useful.  But it doesn't seem like something that's likely to be cause a big issue with most users.

[2022-05-30 20:48] shoogle commented on #10128
When we return to this, I'd like to know whether it is safe to assume that any given instrument is always played by the same person or if there are situations where (for example) 2 people share 3 instruments, and the 3rd instrument is played by whichever person is not currently busy on instrument 1 or 2. I could imagine this happening in a percussion section, but maybe it is rare enough that we ca

[2022-05-30 21:03] wizofaus commented on #8746
Another point re that spreadsheet, technically every possible action/command has *two* descriptions, a short one that used for the menu text (internally this is the "title") and I believe for the shortcuts dialog, and a longer one that's used for tooltips (this is the "description"), which are only shown for commands that happen to exist on toolbars. For instance if you hover the mouse over the "S

[2022-05-30 21:17] probonopd commented on #10407
MuseScore in FreeBSD is still 3.x...
https://www.freshports.org/audio/musescore/

[2022-05-30 21:32] RobFog commented on #10407
Yes, MuseScore 4 is currently in development.

[2022-05-31 02:11] HemantAntony commented on #10291
I can reproduce this issue on Windows 11

[2022-05-31 06:12] #10888 closed

[2022-05-31 07:18] slwankadbeh opened #11820 "[MU4 Issue] Continuous view Widens the bars"
**Describe the bug**
A short and clear description of what the bug is. when I turn into continuous view, so I can edit the score more freely. the bars of my score widen a lot, in an unreadable manner, and when scrolled, the score disappears.

**To Reproduce**
Steps to reproduce the behavior:
1. Open a big score
2. Click on 'continuous view'
3. See error

**Expected behavior**
the bars length is to

[2022-05-31 08:10] RomanPudashkin commented on #11820
fixed in https://github.com/musescore/MuseScore/pull/10980

[2022-05-31 08:12] #11223 closed

[2022-05-31 09:37] bkunda commented on #10484
Pressing `I` works as I would expect it to (from an MS3 POV): it triggers the **instruments _dialog_** (indeed, the equivalent one to that in MS3). I would not confuse this with the **instruments _panel_**.

But given that the **Palettes** and **Properties** panels each have their own legacy shortcuts for toggling visibility, I do think it makes sense to also something similar for the **instrument

[2022-05-31 09:41] bkunda commented on #11549
Agreed. I've updated the issue description accordingly.

[2022-05-31 09:59] RobFog commented on #11549
Shouldn't this complete sentence end with a full stop?

[2022-05-31 10:15] bkunda commented on #11549
yes quite right. I've updated the mockup.

[2022-05-31 10:19] Tantacrul commented on #10484
I don't think the individual toggles are massively useful if they leave other ones open. I think a much more sensible shortcut would be one that hides/shows all sidebars. In fact, I'd suggest that it is a primary shortcut - possibly not an 'F' number.

So, perhaps F7 can be used for the Instruments panel, like you suggested.

Then and then another shortcut to hide all side panels (and then turn th

[2022-05-31 10:22] DmitryArefiev commented on #10391
@Tantacrul Yes, doesn't occur on my side as well now (latest master, Mac12.3). Closing

Thanks for rechecking!

[2022-05-31 10:22] #10391 closed

[2022-05-31 10:24] bkunda commented on #10484
I get it – a bit like the 'Show/hide UI' feature in Figma. Would be useful for seeing an entire score without the panels in the way.

I might suggest this is a feature for 4.x, because it's adding something genuinely new, and we'd need to test it in a range of potentially complex situations (undocked panels, panels on different screens, resized panels, etc.). My suggestion of adding a shortcut onl

[2022-05-31 10:24] boryskuzmenko opened #11823 "[MU4 Issue] Glissando and slides are too short and overdubbing next/previous elements"
**Describe the bug**
1. Straight Glissando is to short when placed between notes
2. Glissando overdubs another elements like accidentals, stems etc. when

**To Reproduce**
Steps to reproduce the behavior:
1. Open the test score
[test_gliss.mscz.zip](https://github.com/musescore/MuseScore/files/8804254/test_gliss.mscz.zip)
2. Pay attention to the first measure

**Expected behavior**
Glissando is di

[2022-05-31 10:46] njvdberg commented on #10128
The situation I picture seems to be quite normal for percussion, mainly for the "smaller" instruments like woodblocks, claves, tambourine, etc. Then I see often several instruments are on one single part, called `Percussion I`, `Percussion II` or `Aux percussion`, depending on how many instruments there are in the piece.
However I haven't seen it for other instruments. Especially, for wind instrum

[2022-05-31 11:06] #11727 closed

[2022-05-31 11:06] DmitryArefiev commented on #11727
Fixed in #11815

[2022-05-31 11:07] DmitryArefiev commented on #11726
Fixed in #11815

[2022-05-31 11:11] Tantacrul commented on #10484
Agreed. Cheers!

[2022-05-31 12:04] boryskuzmenko commented on #11816
🟢 **FIXED** in https://github.com/musescore/MuseScore/pull/11822
Tested on macOS 12, Win 11, Ubuntu 20

[2022-05-31 12:13] #11812 closed

[2022-05-31 13:05] MarcSabatella commented on #10484
Since I posted the original issue, I'd add that I'm happy with simply adding a shortcut to toggle the instruments panel for now also.
 And indeed, eventually a single shortcut to open/close them together would be nice too.  But I expect I'll actually be leaving the instruments panel closed most of the time, so really it's just two keystrokes F8 & F9 to toggle the properties and palettes to get the

[2022-05-31 13:18] MarcSabatella commented on #8746
Works for me.  And we can always rationalize the phrase "insert mode only" by saying "well, it only inserts the note, it doesn't also replace what was there previously like the normal enter note commands do".

However, I'm confused by your statement that there is some sort of case in which the command does two different things depending on something or other (not clear what).  That is not true for

[2022-05-31 14:09] DmitryArefiev commented on #10284
Fixed in #11663

[2022-05-31 14:11] #10284 closed

[2022-05-31 14:47] MarcSabatella opened #11826 "[MU4 Issue] Fixed spacer down gets negative default size and thus appears to break layout"
The fixed spacer down does something very strangely wrong.  To reproduce, create an empty score with any number of instruments, select the first measure in the last instrument, and click "fixed spacer down" in the Layout palette.  It should add a spacer down to the next staff/system, ready for you to resize to increase or decrease the spacing.  Instead, you get what looks like two staves overlappi

[2022-05-31 14:47] bkunda opened #11827 "[MU4 Task] Implement `F7` shortcut to toggle "Instruments" panel visibility"
**Task description**
To resolve #10484

The "instruments" panel currently has no shortcut to toggle its visibility, unlike its associated "properties" and "palettes" panels.

The proposal here is to allocate the default shortcut `F7` to toggle the visibility of the "instruments" panel.

This behaviour would be identical to that of the `F8` (toggle "properties") and `F9` (toggle "palettes") keys.

[2022-05-31 14:47] bkunda commented on #10484
Closing as new task now raised

[2022-05-31 14:56] Tantacrul commented on #11809
I'm targeting this at alpha because it is blocking other work for marketing (nice shots of scores).

[2022-05-31 15:11] Tantacrul commented on #10681
Is this is still an issue?

[2022-05-31 15:11] Tantacrul commented on #10681
@worldwideweary - same question :)

[2022-05-31 15:12] MarcSabatella commented on #8746
Aha, now I see why there has been such confusion - wer're talking about two *entirely* different things here!  And the thing you're talking about, I didn't even knew existed (and I'm guessing no one else does, either).

What you are showing here is actually *not* insert mode, at least, not the usual insert mode that you can access from the toolbar.  What you are using is using some sort of very st

[2022-05-31 15:13] Tantacrul commented on #10694
This is a P1, not a P3!

[2022-05-31 15:15] Tantacrul commented on #10695
Closing as a 4.x feature request, since the issue was already present in MS3.6.2.

[2022-05-31 15:15] #10695 closed

[2022-05-31 15:27] bkunda commented on #8746
...except when you "toggle insert mode"

https://user-images.githubusercontent.com/86290556/171210680-09d17d47-0bd5-4a73-a76e-81fa6d87921a.mov

Note here that the "insert mode" button in the note input toolbar remains active after I press `Cmd`+`I`, allowing me to enter notes _in insert mode_ without adding time to the bar.

[2022-05-31 15:30] MarcSabatella commented on #8746
Right.  I think it safe to say that since this command is entirely undocumented, probably no one has any idea that it exists or that this is intended behavior (if indeed it is).  Also, I've realized that using this is extremely likely to corrupt your score, and/or crash the program.

So, it's almost certainly out of the question to consider actually supporting this "double secret insert mode" for

[2022-05-31 15:35] Tantacrul commented on #10664
Any movement on this?

[2022-05-31 15:37] Tantacrul commented on #10764
@DmitryArefiev - are you able to reproduce this? I think it's possible it might no longer be an issue.

[2022-05-31 15:42] MarcSabatella commented on #8746
At that point, it comes back to what I said initially - it's marginally more efficient in some case to have the individual insert commands, but with a working keyboard toggle for the real insert mode, then we could indeed remove them with relatively little harm.  In any case, definitely worth a separate issue, so I'll file one.

[2022-05-31 15:43] Tantacrul commented on #10777
I can see that the score preview does not immediately update, but it does update if you close and reopen MS4 (at least now it does).

I think this is acceptable. Unless anyone has a strong opinion, I think close this as a wont fix.

[2022-05-31 15:45] Tantacrul commented on #10791
@tzarjakob - are you still working on this issue?

[2022-05-31 15:45] bkunda commented on #8746
Fantastic. Let's remove them then.
Please do file a separate issue.
@cbjeukendrup FYI!

[2022-05-31 15:47] Tantacrul commented on #10801
I am going to simplify this design further. I no longer think that 'Sounds' should be a category in the 'Home' tab. The only part that matters is the 'Playback profiles' dialog.

I'll work on this and let you know when it is updated.

[2022-05-31 15:53] Tantacrul commented on #10804
Two questions:

1. Is this still a problem?
2. Shouldn't this be targeted at **Beta 1**, at least? Also, doesn't it seem more like a P1 than a P2? Especially since I imagine users would never figure out how to fix it.

[2022-05-31 15:54] oktophonie commented on #10327
Please note that some of these are effectively feature requests for MuseScore, and ideally would be handled as such rather than a cheap hack being used to 'make it work'. For example, assuming the GP segno is in its 'default' position, that should map to a segno of 'default' position in MU even if there is a visual difference. In this case I don't see the visual difference as significant (I prefer

[2022-05-31 15:56] MarcSabatella opened #11829 "[MU4 Issue] Fix "toggle insert mode" command to toggle the "real" insert mode"
MuseScore has long had an "insert mode" that you can access via the dropdown menu on the note input mode button on the toolbar.  For some time there has also been a "toggle insert mode" command you can see in the shortcut list, with a default shortcut even (Ctrl+I / Cmd+I), but this command does *not* activate insert mode.  Instead, it puts you into a strange special semi-insert mode that is prett

[2022-05-31 15:57] MarcSabatella commented on #11829
Once that is in place, we could *consider* dropping the individual "insert note A" - "insert note G" commands, as they save at most one or two keystrokes.  To me, the existence of these commands is still a nice convenience for those who use deal with the need for inserting in the first place, and I don't think their mere presence is likely to confuse the average use since the shortcuts are not som

[2022-05-31 15:57] #10822 closed

[2022-05-31 15:58] tibequadorian commented on #10681
Yes it is, tested with [MuseScoreNightly-202205310429-master-7eb232e-x86_64.AppImage](https://ftp.osuosl.org/pub/musescore-nightlies/linux/4x/nightly/MuseScoreNightly-202205310429-master-7eb232e-x86_64.AppImage)

[2022-05-31 16:01] Tantacrul commented on #10825
We removed these options because they don't do anything in MS3. It's been a while but I recall being told that this was an incomplete feature. Closing for now. Please let me know if you think this is an error. Thanks!

[2022-05-31 16:01] #10825 closed

[2022-05-31 16:05] HemantAntony commented on #11827
@bkunda I have a fix: #11830

@cbjeukendrup I hope you don't mind. It was an easy issue :)

[2022-05-31 16:06] Tantacrul commented on #10845
I've taken this off the engraving team and put it in the 'score view' category.

I've also increased the severity because it is a core interaction. Nice spot, @boryskuzmenko!

[2022-05-31 16:07] Tantacrul commented on #10850
Issues related to building MS4 are best discussed on our Discord server. Closing for now.

[2022-05-31 16:07] #10850 closed

[2022-05-31 16:08] Tantacrul commented on #10854
Is this still happening? I'm not an English speaker but is this definitely the desired functionality?

[2022-05-31 16:09] boryskuzmenko commented on #10327
@oktophonie Great your're here, Simon! If I uderstand you right there only one point (about space between measures) should be a separate feature.
- All manipulations with Fine will be ok as a bug fix
- Segno default position in MU is the same as in GP, so can be fixed as a bug also
- Space between measures to be report as a separate improvement.
Please, confirm

[2022-05-31 16:09] tibequadorian commented on #10681
https://user-images.githubusercontent.com/9560587/171219715-c34f6f91-fa09-4b74-b13a-365e0b79408c.mp4

[2022-05-31 16:09] Tantacrul commented on #10867
Is this issue ongoing?

[2022-05-31 16:09] Tantacrul commented on #10868
Is this issue ongoing?

[2022-05-31 16:09] Tantacrul commented on #10869
Is this issue ongoing?

[2022-05-31 16:11] boryskuzmenko commented on #10854
@Tantacrul yep. And it's pretty annoying if you use another languages on keyboard

[2022-05-31 16:16] Tantacrul commented on #10942
This is actually my fault. We set an MPE preset to treat slurred notes as legato and non-slurred notes as non-legato.

We just need to reset this parameter and we'll have legato back again. It's actually really bad as is. Sorry! At least it's an easy enough fix (I think).

[2022-05-31 16:18] Tantacrul commented on #10946
I'm not getting this issue on my Mac any more. How about you @boryskuzmenko?

If you are, please reopen this issue.

[2022-05-31 16:21] tibequadorian commented on #10681
Great, your PR solves this issue for me @Eism

[2022-05-31 16:33] boryskuzmenko commented on #10946
Yes, I can reproduce this bug on all plugins except Native Instruments ones

https://user-images.githubusercontent.com/101250347/171226264-3e5a0757-1d85-4ebf-8ed2-c08f6d29eb58.mov

[2022-05-31 16:34] oktophonie commented on #10327
Yes, agreed:

- yes, 'Fine' just needs an import bug fix
- default Segno position is slightly different in MU than GP (when in first bar of a system), but this is not significant
- space before coda can be its own issue, possible to represent via a workaround upon import

[2022-05-31 17:29] shuffleQ commented on #10433
Got the same thing, with a Behringer U-Phoria UMC204HD. Window instantly closes upon anything sound related, ie clicking on a note, or going to DevTools > Audio
Platform is Win 11, tested on the at the time latest nightly, 2022-05-31 04:34

[2022-05-31 17:56] miiizen commented on #10825
Sorry, I've been meaning to get back to this for a while.  The draft PR implements time stretch - if that's a feature that is wanted it's ready to be merged!
Regarding the baroque performance style, I've been meaning to say I don't think there's any difference needed in playback apart from those which are implemented already.  If the feature's just going to be removed this isn't a problem though.

[2022-05-31 18:28] Tantacrul commented on #10946
Ah. Native Instruments was the one VST I tested. Lol. Thanks!

[2022-05-31 18:29] Tantacrul commented on #10433
I'll elevate it to a P0 then, if we're getting it for multiple users.

[2022-05-31 18:30] Tantacrul commented on #10825
Is time stretch working in your PR? If so, then cool. If not, then I think we just abandon the PR. Thanks though!

[2022-05-31 18:31] abariska opened #11831 "[MU4 Task] [GP] Horizontal frame to be created when importing GP file with 'Coda' sign"
**Task description**
In GP there's a default behavior to devide measures of Coda. In MU we also have a possibility to create a horisontal frame but as a own action. The task goal is to call horisontal frame creating when importing GP file with 'Coda' sign.
See examples and **[Tutorial](https://musescore.org/en/node/11368)**:
![Capture 2022-05-31_06-23-58_PM](https://user-images.githubusercontent.c

[2022-05-31 18:43] Tantacrul commented on #10962
Since this is an issue with both MS2 and MS3, I'm going to bump until 4.X. Will reopen when 4.0 is out.

[2022-05-31 18:46] Tantacrul commented on #10965
@cbjeukendrup - can't this simply be fixed by lowering the minimum size of MS4? I seem to recall we discussed this on another issue.

[2022-05-31 18:51] MarcSabatella commented on #10951
This isn't a feature request, it's a regression - it has always worked in the past and lots of people rely on it as a way to get all sorts playback effects you can't otherwise (rhythm section parts notated with just slashes, various ornaments and other notations not supported for playback directly.  I have verified this with one of my big band scores; no drum playback.

The good news is, it seems

[2022-05-31 19:02] Tantacrul commented on #10951
Never mind. I found it.

[2022-05-31 19:09] Tantacrul commented on #10951
@bkunda - would be good to perhaps consider a design here. Perhaps just the ability to toggle on/off the sound in the mixer?

[2022-05-31 20:20] MarcSabatella commented on #10972
In the last build I have from earlier today, Swing and Straight are *only* on the Tempo palette, not Text.  Which is fine, really,  They add System text just as the entry on the Text palette did in 3.x.  But indeed, if you add an ordinary staff text and set its swing properties manually (something people do occasionally to get drums, for instance, to play with a different swing ratio than the rest

[2022-05-31 20:59] shoogle commented on #10700
It can't be closed, but I also can't look into it right now as I have several other tasks that need my attention to unblock other people. This one isn't blocking anyone and it could be fixed by any developer or even a community member; it's just a matter of finding the right place in the code.

[2022-05-31 21:01] cbjeukendrup commented on #10667
The issue still exists; the unit tests for the notation module are outdated and are not running. It has been like that for a while, so it will probably take some effort to make the tests up-to-date again. I don't think that getting these tests working will help us a lot with the release of MU4.0, so my feeling is that we should not spend too much valuable time on it now. @RomanPudashkin what is yo

[2022-05-31 21:07] miiizen commented on #10825
Ah just taken a closer look and it's not really working as I'd like.  Never mind, I'll close it!

[2022-05-31 21:28] sammik opened #11833 "[MU4 Issue] Figured bass - misplaced figures if begins with accidental"
**Describe the bug**
If figured bass beginswith accidental (#, or b) it is horizontaly wrongly placed

**To Reproduce**
Steps to reproduce the behavior:
1. Write some notes in one bar
2. Add figure to first note, press space
3. Add figure begining with accidental to second note
4. Figure is placed down

**Expected behavior**
Figures should be horizontally aligned

**Screenshots**

https://user-ima

[2022-05-31 21:30] cbjeukendrup commented on #10965
Yes, it's related to #11627. Lowering the minimum width should fix this issue, but that will cause all sorts of layout problems. Because if we set the minimum width of the window too low, the docking system is not able anymore to realize the specified minimum width of the toolbars and panels. The result is that it completely stops managing the layout and starts shouting error messages. So that pre

[2022-05-31 21:42] cbjeukendrup commented on #11627
As I just said in #10965, the core of the problem is the following. If the window reaches a size that is smaller than needed by the dock widgets system to realize the specified minimum widths for toolbars and panels, the dock widgets layout manager completely stops working, which results in behaviour like in this issue.
So, the reason that we set such a big minimum width, is to prevent that the wi

[2022-05-31 21:56] cbjeukendrup commented on #10894
@Tantacrul The button does something, namely it resets any changes made to the current theme (e.g. customized accent color etc.). I think this is especially useful for high contrast themes, because they have many customizable options. I believe that this button was originally designed to do just that.

But since the button is placed at the bottom of the page, a user may expect that it will reset e

[2022-05-31 22:00] cbjeukendrup commented on #11827
@HemantAntony No problem! :)

[2022-05-31 22:01] sammik opened #11834 "[MU4 Issue] unable to unset subscript / superscript from text (regression)"
**Describe the bug**
Once subscript or superscript is set to text, it is impossible to unset it

**To Reproduce**
Steps to reproduce the behavior:
1. Select text
2. Click Properties -> More -> Subscript (or Superscript)
3. Unable to unset it

**Expected behavior**
Clicking button second time unset property

**Screenshots**

https://user-images.githubusercontent.com/1646034/171291085-9f8c67c6-a256-

[2022-05-31 22:30] Tantacrul commented on #11627
As small as we can go without breaking anything, I suppose :)

[2022-05-31 22:31] Tantacrul commented on #10894
Ah, OK. That's really strange. The intention was for it to reset all options in 'Appearance'.

[2022-05-31 22:52] jeetee commented on #11627
There are plenty of laptops out there with 1600x900 so a 1000px minimum height seems rather large imho.
I'm also unsure how/if the windows scaling factor has any effect on this, where on many laptops this results in even less available logical pixels. Even on my 15" 1080p one, they chose a default scaling of 125%, which leaves only 864 height px, taskbar not yet subtracted (I have reset that to 10

[2022-05-31 22:59] GabeS573 commented on #11627
Just to point out, even if your laptop screen is bigger than the 1000px minimum width, the minimum width still gets in the way if you try to multitask/split-screen (which is part of the issue I logged, #10965.)

[2022-06-01 04:08] GabeS573 commented on #11829
Here's a video demonstrating the new "strange special semi-insert mode."

https://user-images.githubusercontent.com/91428485/171325485-d16a3189-43cd-472c-a3bf-13064282b80a.mov

Also, here's my score from the video... although it doesn't seem to open any more.
[fun corruption.mscz.zip](https://github.com/musescore/MuseScore/files/8810963/fun.corruption.mscz.zip)

[2022-06-01 07:47] bkunda commented on #10951
Do we really need a design for this? (Maybe I'm missing something).

I think at this stage our goal should simply be to restore the functionality as it was in MS3.6, which would mean:

1. Not automatically muting an instrument that has its stave(s) hidden in the instruments panel
2. Allowing the user the ability to mute and unmute any hidden instrument in the mixer

This behaviour presupposes an e

[2022-06-01 08:46] Tantacrul commented on #10951
I don't think we should return to 3.6 behaviour. It is more weird for the sounds to persist when the instrument it hidden.

It could just be that we allow users to unmute in the mixer. However, this might be a hacky solution, so I thought it deserved more thought then that. Perhaps we can use this solution for 4.0 but the logic would need to be spelled out:

- If you hide an instrument, it would a

[2022-06-01 09:25] boryskuzmenko commented on #11749
🟢 **FIXED** in https://github.com/musescore/MuseScore/pull/11764
Tested on macOS 12, Win 11, Ubuntu 20

[2022-06-01 10:06] boryskuzmenko commented on #11823
MU3 looks definitely better but anyway has overdubs
![Capture 2022-06-01_01-05-30_PM](https://user-images.githubusercontent.com/101250347/171380306-dad2cecd-b8db-4c23-8db3-a646931c3ea2.png)

[2022-06-01 10:19] #11749 closed

[2022-06-01 10:46] abariska opened #11840 "[MU4 Issue] [GP] Default space between staves in imported score is less than in created score"
**Describe the bug**
The issue relates to both regular linked staves

**To Reproduce**
Steps to reproduce the behavior:
1. Open any GP score
2. Pay attention to the space between staves
3. Create a linked staff for any staff
4. Pay attention to the space between linked staves

**Expected behavior**
Default space between staves in imported score is the same as in created score

**Screenshots**
![Ca

[2022-06-01 11:08] abariska opened #11841 "[MU4 Issue] Changed parameters are not reverted after clicking 'Cancel' button on the 'Page settings' dialog"
**To Reproduce**
Steps to reproduce the behavior:
1. Open any score
2. Go to the Page settings (in system menu 'Format')
3. Change any parameter (difference should be visible)
4. Click Cancel
5. Go to Page settings again
6. Pay attention that changed value was reseted but changes on the score are not

**Expected behavior**
Changed parameters are not reverted after clicking 'Cancel' button on the '

[2022-06-01 11:15] DmitryArefiev commented on #9520
That fixed partially in #11707 - Looks **GOOD on Mac** , but **still has problems on Windows** (when editing parameters in VST window).

I'll edit summary and description

@Tantacrul You can try **next master build for Mac** (it looks fine on my side but I'm not 100% sure)

Thanks!

[2022-06-01 11:35] bkunda opened #11842 "[MU4 Issue] Crash when un-hiding an instrument in a part"
**Describe the bug**
The latest nightly crashes when un-hiding an instrument in a part:

Video demo: https://www.dropbox.com/s/17ds79w0fe0zo6e/crash-unhiding-staff-instruments.mov?dl=0

**To reproduce**
1. Create a score with more than one instrument
2. Enter some notes on each instrument
3. Open a part
4. In the opened part, go to the instruments panel
5. Click the "eye" icon on another instrumen

[2022-06-01 11:46] boryskuzmenko opened #11843 "[MU4 Issue] Score preview is not displayed for recently opened MU1.x scores (or earlier)"
**To Reproduce**
Steps to reproduce the behavior:
1. Open a score created in MU1.x or earlier (e.g. [MU1.x test.zip](https://github.com/musescore/MuseScore/files/8813696/MU1.x.test.zip))
2. Close and pay attention to this thumbnails on the Recent board

**Expected behavior**
Score preview is displayed for recently opened MU1.x scores (or earlier)

**Screenshots**
![Capture 2022-06-01_02-45-10_PM](

[2022-06-01 11:54] Jojo-Schmitz commented on #11842
I can't reproduce on Windows 11 with the latest build

[2022-06-01 11:59] bkunda commented on #11842
I too can reproduce on Windows 11

[2022-06-01 12:05] Jojo-Schmitz commented on #11842
I still can't, also not in MSVC

[2022-06-01 12:07] Jojo-Schmitz commented on #11842
Slight deviation from the latest code: I'm using the code from #11786

[2022-06-01 12:08] bkunda commented on #10951
OK I think I can be persuaded to this (I have storied-out some user cases in order to think this through, which I'd be happy to share elsewhere if it helps discussion).

In this case, my suggestion would be that we adopt a fairly hard line about the interaction between showing/hiding instruments and their playback property, i.e. unmuted/muted. This is in order to keep the behaviour predictable.

S

[2022-06-01 12:26] bkunda opened #11844 "[MU4 Issue] Shortcut `toggle 'insert mode'` doesn't work correctly"
**Describe the bug**
The shortcut `Toggle 'insert mode'` doesn't trigger expected behaviour (see #11829 for details on how to reproduce)

**Expected behavior**
When `Toggle 'insert mode'` is triggered (Shortcuts: `Cmd`/`Ctrl`+`I`), the note input mode should toggle between **insert mode** and **default (step-time)** mode.

<img width="1177" alt="Screenshot 2022-06-01 at 10 31 37 pm" src="https://u

[2022-06-01 12:35] #11829 closed

[2022-06-01 12:45] abariska opened #11846 "[MU4 Issue] [macOS] Content is shaking when scrolling on trackpad"
**Describe the bug**
The issue is reproducible in cases when scrolling with inertia

**To Reproduce**
Steps to reproduce the behavior:
1. Open any score
2. Open lots of pallets in inspector (scroll bar should appear )
3. Scroll a bit and leave trackpad to get inertia scrolling
4. Try to do it with different intensity

**Expected behavior**
Content is moving smoothly when scrolling on trackpad

**S

[2022-06-01 13:17] DmitryArefiev opened #11847 "[MU4 Issue] Autoscroll issue when opening a lot of parts at once"
**Describe the bug**
The issue here is MU opens the last part in selection (selection in Parts window)

Here can be two improvements (can be discussed):

1. When selected all parts in Parts dialog, **MU should open the first score in selection** (instead of the last one)
2. We can disable scrolling to keep user from waiting until scrolling ends, just fast focusing on selected part
(for instance wh

[2022-06-01 13:21] #11358 closed

[2022-06-01 13:36] Tantacrul commented on #10334
This needs to be a feature in MS4 if it is a feature in GP (and not done in a hacky way)

[2022-06-01 13:37] DmitryArefiev commented on #11420
@bkunda @Tantacrul I think it also would be nice to have an option to close all parts at once. Especially when you have a big score.

Or to add to the Parts dialog the ability not only to open all/selected parts **but also to close all/selected parts**.

Just thoughts..

[2022-06-01 13:43] #10313 closed

[2022-06-01 14:03] MarcSabatella opened #11848 "[MU4 Issue] Accessibility: unable to mutli-select instruments in Parts dialog"
**Describe the bug**
I can't find a way to select multiple instruments in the Parts dialog using keyboard alone.  None of the strandard things I tried for mutli-select work.

I see the Parts dialog is in for some updates, and realistically, the mere addition of an Open All button as proposed in https://github.com/musescore/MuseScore/issues/11420 will go a long ways toward addressing this, as at le

[2022-06-01 14:08] Tantacrul commented on #10333
GP has a feature where, if you change the tuning, those changes are automatically reflected on the score. MS4 basically needs to also have this feature. This needs to also affect actual playback too.

Bumping to 4.X and will reopen after 4.0 is released.

[2022-06-01 14:08] #10333 closed

[2022-06-01 14:13] DmitryArefiev commented on #10291
@Tantacrul Yes, still occurs on my Windows10. This is a Win only issue so working fine on Mac.

@HemantAntony Thanks for checking!

[2022-06-01 14:57] MarcSabatella commented on #10951
Makes sense.  But either way, the regression where MU3 scores will incorrectly needs to be solved.

[2022-06-01 15:16] DmitryArefiev commented on #10264
Fixed in #11832

[2022-06-01 15:21] #10264 closed

[2022-06-01 15:29] MarcSabatella opened #11851 "[MU4 Issue] Augmentation dot setting ignored when entering rests"
**Describe the bug**
Selecting the augmentation dot on the toolbar during note input affects the next note entered, but is ignored for rests.

**To Reproduce**
Steps to reproduce the behavior:
1. New score, 12/8 meter
2. Note input mode
3. Type "5 ." or select the quarter note and dot icons to select dotted quarter duration
4. Type "0" to enter a rest
5. Result: only a quarter rest is entered

**E

[2022-06-01 15:43] Tantacrul commented on #11840
@oktophonie - this is possibly by design, right?

[2022-06-01 15:45] Tantacrul commented on #11833
@oktophonie - what say you?

[2022-06-01 15:46] oktophonie opened #11852 "[MU4 Task] Add stem direction to tremolo properties"
Tremolos have their own settings in the Properties panel. As we are now making two-note tremolos more like beams (conceptually and visually), they would benefit from having access to some of the same properties as beams available.

Currently:
![image](https://user-images.githubusercontent.com/20604032/171444978-4f0ab8c1-98e8-4be1-bf20-a8bafd0534ab.png)

It would be useful for now to add stem direc

[2022-06-01 15:50] oktophonie commented on #10205
An (at least partly?) related problem:
![image](https://user-images.githubusercontent.com/20604032/171446373-170985b0-e611-4bd1-b536-2262f3bebeb1.png)

[2022-06-01 16:30] JeffRocchio opened #11855 "[MU4 Issue] Fix to Line attribute missing"
Unable to find the '**Fix to Line**' attribute in the inspector

**Expected behavior**
That there would be a 'Fix to Line" attribute setting in the Properties dialog OR stems would automatically scale their length to match the visible noteheads.

**Platform information**
 - OS: Linux; Nightly build appimage of 5/30/2022.

**Additional context**
See on Musescore.org, [Issue #315065, Note Stems Not

[2022-06-01 16:33] njvdberg opened #11856 "[MU4 Issue] Crash when moving multiple staves"
**Describe the bug**
When in the instrument panel staves of two or more instruments are selected, a move or remove of these staves will crash MU4
**To Reproduce**
Steps to reproduce the behavior:
1. Create a score with e.g. a Piano and Organ.
2. Select the first staff of the Piano.
3. Select a staff of the Organ (Ctrl--Shift-Click on e.g. first staff of the Organ).
4. Click on the "Down" button.
5

[2022-06-01 17:12] #11834 closed

[2022-06-02 00:09] worldwideweary opened #11859 "[MU4 Issue] Save-as dialog doesn't have focus for keyboard Return/Enter"
Checking in to see the status of MS4 (Every couple months I do that for fun y'know :) If this was logged already, apologies
First Minute checkup:

**Describe the bug**
1) Save As dialogue for local file
2) Press enter, nothing happens.
Press tab to switch to OK... focus goes to main MS screen. Enter should also work after typing in filenames.
This is on a linux distro

Video demonstrates:

https:/

[2022-06-02 00:15] worldwideweary opened #11860 "[MU4 Issue] Sometimes the File-menu drop-down highlighting sticks"
**Describe the bug**
On my Linux distro, moving around on the File menu can get the highliter to be stuck. Not sure why light gray instead of blue, but only shows up blue when stuck. Included is a demonstration video:

https://user-images.githubusercontent.com/7139517/171521759-4a9a2b0e-3b4a-41d3-8bd5-0bcd3e5e8ed2.mp4

[2022-06-02 04:28] MarcSabatella commented on #11859
FYI, this is a known issue with the specific variant of file dialog used on Linux - see https://github.com/musescore/MuseScore/issues/10836.  I'm assuming the plan is to switch to the native dialog and this problem would go away.

[2022-06-02 05:10] Eism commented on #11860
Fixed in #11750

[2022-06-02 05:12] Eism commented on #11859
I agree, this is a duplicate of  https://github.com/musescore/MuseScore/issues/10836

[2022-06-02 05:12] #11859 closed

[2022-06-02 05:54] worldwideweary commented on #10681
@Tantacrul Hey this appears to be resolved on my Linux distro

[2022-06-02 06:36] Jojo-Schmitz commented on #10836
It used to be off by default for Linux, but at one point (3390aab3) that got changed. IMHO for the worse, see #7739 and https://musescore.org/en/node/297613

[2022-06-02 07:28] njvdberg opened #11861 "[MU4 Issue] Multiple undo commands required to undo delete of multiple staves."
**Describe the bug**
When multiple staves are selected on the instrument panel and deleted, `Undo` will restore only one staff. Extra `Undo` commands are required to restore all deleted staves.

**To Reproduce**
Steps to reproduce the behavior:
1. Create a score with several instrument, e.g. a Piano and an Organ
2. Click on the first staff of the Piano.
3. Ctrl-Shift-Click on e.g. the second staff

[2022-06-02 08:11] Tantacrul commented on #10681
OK, @DmitryArefiev: this issue looks like it can be closed. Feel free to reopen if you can still reproduce it.

[2022-06-02 08:20] Tantacrul commented on #10034
Thanks for the explanation. Interestingly, I am not able to do this on my Mac. (Will check Windows later) but I can at least comment now.

1. We intended to prevent users from selecting different staves in different instruments precisely because it would produce weird results (and crashes) when users tried to move them up or down. So this should be disabled. I can still select a range of staves fo

[2022-06-02 08:22] Tantacrul commented on #10034
@njvdberg - should I reopen this and target at Beta if you are working on it?

[2022-06-02 08:33] cbjeukendrup commented on #10681
On macOS, it is solved with menus and tooltips, but when opening a popup, the main window still loses focus. I'm not sure if that's desired behaviour, but at least I don't like it.

[2022-06-02 08:42] Eism commented on #10681
For popups, focus is needed, since there may be components that need focus (for example, a text input field).
Are there any examples of programs where such pop-ups open without changing the focus?

[2022-06-02 08:45] Eism commented on #10681
Another question is how critical it is for macOS?
I see that only the buttons from the title bar become inactive.

[2022-06-02 08:50] Tantacrul commented on #10681
I have the same question: what is the harm?

[2022-06-02 08:54] cbjeukendrup commented on #11846
Cool that you found that it happens specifically when releasing the trackpad!

It may be worth noting that it works fine in the score view, where we implemented the scrolling ourselves.

Note that this kind of inertia is caused by macOS, which keeps sending scroll events even after the user has released the trackpad. It is not created by us or by QML. (So that's different from the scrolling proble

[2022-06-02 09:05] cbjeukendrup commented on #10681
For example, in Qt Creator this does not occur with the project / build type selector popup. That thing is also implemented as a separate window, similar to our popups:

https://user-images.githubusercontent.com/48658420/171594643-b9324ea6-2bdd-4fde-a0ea-af498fdd0f0c.mov

Also, with native macOS popups this also never occurs, and those are also implemented as separate windows.

It is relatively ha

[2022-06-02 09:13] Eism commented on #10681
In your Qt Creator example, there are no components that need focus.
It's more like our menus(without focus).

[2022-06-02 09:19] njvdberg commented on #10034
@Tantacrul Thanks, this explanation makes sense and is something I was hoping for :smiley:. It gives me enough to continue on this.

I'm working on it so please, reopen it.

BTW, it seems to me it best to disable `Add staff` when here is more than one staff selected.

[2022-06-02 09:28] cbjeukendrup commented on #10681
Ok, let's close it then for now. If I ever incidentally find out how macOS popups do it, I can try to apply that to our popups too. But it shouldn't be a priority.

[2022-06-02 09:28] #10681 closed

[2022-06-02 09:53] tibequadorian commented on #10681
For me the lagging menu selection is still an issue, see: https://github.com/musescore/MuseScore/issues/10681#issuecomment-1142331995
and it got only fixed by #11750 so you should look into merging that.

[2022-06-02 10:42] #11549 closed

[2022-06-02 11:13] DmitryArefiev opened #11864 "[MU4 Task] Add ability to arrow buttons work in auto repeat mode when holding mouse button (to scroll part tabs)"
**Task description**
https://github.com/musescore/MuseScore/pull/11582#issuecomment-1143609319

**To Reproduce**
1. Open a big score
2. Open all part (you see arrow buttons at the top right)
3. Click one of them and hold the key - **it should trigger auto repeat mode and start scroll process**

![Capture](https://user-images.githubusercontent.com/90187801/171617203-91fa782e-11fa-4213-8504-a5bf505b

[2022-06-02 13:51] DmitryArefiev commented on #10764
@Tantacrul @worldwideweary I think that's expected because when using keyboard shortcut (Alt+F) to enable File menu it turns navigation mode and highlighted type is different, it shows highlighted in frame to demonstrate from what element user wants to start navigation.
But I found related bug when frame of selection remains for top menu. You can see it on video:

https://user-images.githubusercon

[2022-06-02 13:51] DmitryArefiev commented on #10764
FYI @Eism

[2022-06-02 13:59] boryskuzmenko commented on #11842
🟢 **FIXED** in https://github.com/musescore/MuseScore/pull/11853
Tested on macOS 12, Win 11, Ubuntu 20

[2022-06-02 14:33] MarcSabatella commented on #10354
OK, I realize this may or may not end up being something that affects a lot of other people, but for the record, I just realized that while "-D" *does* work to scale the score when first invoking MuseScore, it does not seem to be for any additional windows that get created when working with multiple scores.  I *think* the issue is simply that command-line arguments that were originally passed to t

[2022-06-02 14:45] Eism commented on #10354
@MarcSabatella
Can you check this PR https://github.com/musescore/MuseScore/pull/10285. Maybe the solution will help you
I enabled fractional scaling. But I didn’t merge it to master, because on Windows score quickly blurry

[2022-06-02 14:56] DmitryArefiev commented on #10804
@Tantacrul Yes, still occurs in latest master and agree with P2.  Also putting back audio device settings to Preferences might fix the issue #11748

[2022-06-02 15:43] boryskuzmenko commented on #11856
@njvdberg Could you please provide video of you reproducing this issue? I can't reproduce, but not sure that I understood all right

[2022-06-02 16:08] Tantacrul commented on #10804
When - why did audio device get taken out? Seems very unusual not to provide that option. Is there a separate issue for that?

[2022-06-02 16:11] love4drums opened #11869 "[MU4 Issue] Changing of multimeasure rest number position can not be safed"
**Describe the bug**
When the number position of a single multimeasure rest is changed, this will not be safed after closing and reopening the score.

**To Reproduce**
Steps to reproduce the behavior:
1. Create a new simple score with a row of rests
2. Via "Format ->Styles ->Rests" enable "Multimeasure rests" and click "ok"
3. Now the row of rest bars merged to a single multimeasure rest
4. Click

[2022-06-02 16:21] love4drums opened #11870 "[MU4 Issue] Unable to add Staff text or Expression text to a multimeasure rest with the shortcut Ctrl+T/Ctrl+E"
**Describe the bug**
It is not possible to add text to a multimeasure rest, as it is in Musescore 3

**To Reproduce**
Steps to reproduce the behavior:
1. Create a new simple score with a row of rests
2. Via "Format ->Styles ->Rests" enable "Multimeasure rests" and click "ok"
3. Now the row of rest bars merged to a single multimeasure rest
4. Click on the multimeasure rest
5. Try to type Ctrl+T

Th

[2022-06-02 17:26] Tantacrul commented on #10764
I'm wondering if that is even a bug? I mean... it makes sense that highlight would still work for rollover while navigating?

If we agree it is, I'll rewrite the description and delete a few comments to keep it simple.

[2022-06-02 17:27] Tantacrul commented on #11748
Don't know how we missed this. Nice work, @DmitryArefiev !

[2022-06-02 17:43] DmitryArefiev commented on #10556
Fixed in #11782

[2022-06-02 17:44] DmitryArefiev commented on #11616
Fixed in #11782

[2022-06-02 17:56] boryskuzmenko commented on #10845
@Tantacrul @RomanPudashkin Please, take a look. As I see now there are three issues which cause problems like this:
1. Proximity setting described in https://github.com/musescore/MuseScore/issues/11410
2. Clickable area e.g. for notehead is сircle, not ellipse. So for me it's confusing when from one side of notehead you have 5-10 more pixels around than on another side.
3. Cursor and the point whi

[2022-06-02 18:11] boryskuzmenko opened #11872 "[MU4 Task] [GP] Double barline to be created automatically when importing rehearsal marks"
**Task description**
There's a native GP behavior when double barlines are created around created section.
![GP example](https://user-images.githubusercontent.com/101250347/171697484-76ee0a2d-b616-4997-9e2b-bc24a083cd01.png)
MU reads imported section marks as rehearsal marks. So, the task is to implement a logic when double barline is created automatically for each rehearsal marks.

[2022-06-02 18:50] Tantacrul commented on #10845
I think there are good reasons for the change to the global proximity setting. However, Noteheads should have a unique rule IMO.

Not to mention, this is a drag operation, so can have different rules under those circumstances. For example, when a user drags an element that is attached to a notehead, we can make the hit area **way** more generous.

[2022-06-02 22:11] cbjeukendrup commented on #11674
@RomanPudashkin This is caused by `PlaybackController::m_needRewindBeforePlay`. If I remove that, it seems to work properly. Could you tell me what's the purpose of this member? It seems like you added it in 1dc2cc0876da1946c99526193b0c89e665c8e665.

[2022-06-03 05:57] #10556 closed

[2022-06-03 05:57] #11616 closed

[2022-06-03 07:55] bkunda opened #11874 "[MU4 Issue] New SoundFont notification dialog cannot accommodate entire text string"
**Describe the bug**
In this dialog, which is triggered upon attempting to install a previously-installed SoundFont, there doesn't seem to be enough room in the header text block to accommodate the entire string (should end with the words "already exists.", regardless of how long the filename is).

![](https://user-images.githubusercontent.com/86290556/171391359-9fc8de1b-42d0-4bb5-a317-84788bb0120

[2022-06-03 08:26] njvdberg commented on #11856
@boryskuzmenko Never made a video and will see what I can do. But I'm not sure a video will add more information.
The main problem is, I'm able to select staves of **different** instruments as show in the picture below:
![image](https://user-images.githubusercontent.com/48352523/171816731-0a955825-189b-40fb-937a-bc78e193fa43.png)
I managed to make this selection by selecting the treble clef staff

[2022-06-03 08:28] njvdberg commented on #11856
BTW I tested it with the latest Linux nightly build and I'm able to reproduce the issue. Unfortunately I can't test on Mac or Windows since I don't have such systems.

[2022-06-03 10:27] #9056 closed

[2022-06-03 10:27] #11860 closed

[2022-06-03 10:39] DmitryArefiev commented on #11730
@boryskuzmenko @Tantacrul It's expected for rit. accel. lines because they should behave as System text (the same as Tempo text does) but now you can add those for both staves independently because #11343 it's not fixed yet.

Closing

[2022-06-03 10:49] boryskuzmenko opened #11876 "[MU4 Issue] [Windows/Linux] Transitions are visible when moving between some submenus and tooltips"
**Describe the bug**
This issue was partly fixed in https://github.com/musescore/MuseScore/pull/11750
Eventually, we made a decision to fix this issue in scope of MU4.x.
For More information you can check https://github.com/musescore/MuseScore/issues/9055

**Expected behavior**
No transitions are visible when moving between some submenus and tooltips

**Screenshots**

https://user-images.githubuse

[2022-06-03 10:53] boryskuzmenko commented on #9055
🟡 **Partly FIXED**
Tested on macOS 12, Win 11, Ubuntu 20

See the issue https://github.com/musescore/MuseScore/issues/11876 for more details

[2022-06-03 10:54] boryskuzmenko commented on #9056
🟡 **Partly FIXED**
Tested on macOS 12, Win 11, Ubuntu 20

See the issue https://github.com/musescore/MuseScore/issues/11876 for more details

[2022-06-03 10:55] boryskuzmenko commented on #10681
🟢 **FIXED**
Tested on macOS 12, Win 11, Ubuntu 20

[2022-06-03 10:55] boryskuzmenko commented on #11860
🟢 **FIXED**
Tested on macOS 12, Win 11, Ubuntu 20

[2022-06-03 11:01] DmitryArefiev commented on #11730
Might be fixed by #11343

[2022-06-03 11:07] DmitryArefiev opened #11877 "[MU4 Issue] Staff text and Dynamics are not duplicated to linked staff"
**To Reproduce**
1. Create score
2. Add linked staff
3. Add notes
4. Add staff text dynamics to one staff - **it's not duplicated to other staff**

https://user-images.githubusercontent.com/90187801/171845982-b44dfe1e-0925-454d-89d1-31c282bda397.mp4

**Platform information**
macOS, Windows, Linux

**Additional context**
The same in **MU3**

[2022-06-03 11:08] #10812 closed

[2022-06-03 11:26] llui85 commented on #10218
@Eism This seems to be partially fixed by the changes made in #10681, yay! I will test further over the next few days.

[2022-06-03 11:31] Eism commented on #10218
@llui85 Good news!
Please let me know what it looks like on master? When you're ready

[2022-06-03 11:41] llui85 commented on #10218
@Eism Here's a screen recording of what it looks like now. It's not from master as the nightly build hasn't been updated yet, but here's what it looks like on the build from [`efaefe5`](https://github.com/musescore/MuseScore/commit/efaefe5)

https://user-images.githubusercontent.com/47158068/171846454-b1b9c180-dcdb-475b-a5d9-f66a712f21ff.mov

As you can see, the black flash still exists to a certa

[2022-06-03 11:44] llui85 commented on #10218
Also, not visible in screen recording, but context menus are fine now too.

[2022-06-03 12:17] Tantacrul commented on #11877
@MarcSabatella - can you give us any insight into this? I can't quite imagine if this was decided upon or whether it's an issue. Obviously, it's weird that diminuendo persists but not dynamics.

[2022-06-03 12:18] DmitryArefiev commented on #10764
Yes, the initial bag is fixed. Now the **expected result/actual result is after triggering Alt+F it should show framed highlight** at the top element:

https://user-images.githubusercontent.com/90187801/171851064-8908ec68-1639-4039-9995-7c7b4aad7cb4.mp4

The **BUG** is (as I see for now) - **after triggering Alt+F and navigating to other tabs with mouse or clicking on score, the frame on File is n

[2022-06-03 12:28] boryskuzmenko commented on #11856
@njvdberg I've been trying to reproduce it on Ubuntu, Win11, macos12 and I can't. So closing

[2022-06-03 12:29] boryskuzmenko commented on #11856
🟡 **Can't reproduce**
Tested on macOS 12, Win 11, Ubuntu 20

[2022-06-03 12:30] Tantacrul commented on #10764
OK, I've changed it to a P3 now and removed all the other comments so it is clear what the issue is.

[2022-06-03 12:31] boryskuzmenko commented on #10034
Only thing that is still not clear for me: is it expected that I can select staves on different instruments by clicking on them with ctrl+shft (cmnd+shft)? @tantacrul

[2022-06-03 12:38] Tantacrul commented on #10034
They should be able to multi-select the instruments themselves, but not **just** the staves of multiple instruments.

So.. this is fine:
<img width="303" alt="image" src="https://user-images.githubusercontent.com/21022311/171855132-79cbf032-1525-4e52-9e5d-7a6b2aad9a61.png">

But I should not be able to use any modifier to select the second stave in this image:
<img width="301" alt="image" src="htt

[2022-06-03 12:48] HemantAntony commented on #11856
@boryskuzmenko @njvdberg  I can reproduce on Windows 11

https://user-images.githubusercontent.com/88136054/171856816-659ed140-310f-4fd9-99ec-a400a67e22c4.mp4

I think the title can be a bit misleading. I initially had something to do with the position of staves on the canvas. But it had to do with the order

[2022-06-03 12:51] MarcSabatella commented on #11877
Interesting!  Offhand, I don't recall this ever having been decided consciously, but the original development of linked staves happened before I got very involved.

I don't know that in general the default approach has been, duplicate everything and let people mark them invisible on one staff or the other.  There have been a few notable exceptions, like fingering, which originally was *not* duplic

[2022-06-03 13:16] DmitryArefiev opened #11879 "[MU4 Issue] MU can't switch between different VSTi (Kontakt or BBC Symphony) configurations (saved in score) when opening scores in one MU session"
**To Reproduce**
1. Open score A
2. Load Kontakt with Piano sample
3. Save and close score A
4. Open score B
5. Load Kontakt with Synth sample
6. Save and close score B
7. Open score A and play - **MU loads Kontakt with Synth sample (from score B)**

https://user-images.githubusercontent.com/90187801/171860228-084f22f8-8aa8-4410-8a6a-8fe9ea8e9613.mp4

The same with BBS Symphony Orchestra:

https:/

[2022-06-03 15:26] rgreen5 opened #11881 "When using "Add palette" there is no UI element (e.g. OK) for closing dialog"
**Describe the issue**

When you open "Add palette", there seems to be no "cue" to the user as to how to close the dialog after use. Using [Esc] or clicking on a blank area of the program window does the trick, but should there also be an "OK" button (or similar).

**To Reproduce**

1. Creat a new score, say.
2. Click on "Add palette" in the Palettes sidebar.
3. Click any + button.

RESULT: The di

[2022-06-03 15:41] rgreen5 opened #11883 "Bracket / Brace can't be removed with [Delete]; no UNDO possible; leads to crash (Linux only)"
**Describe the bug**

Clicking on a bracket and pressing [Del] should delete. But this doesn't work and leads to a crash.

**To Reproduce**

1. Create a guitar staff/tab score.
2. Click on measure one and click on a bracket in the Brackets palette.
3. Click once on the bracket/brace and press [Del]
RESULT: Nothing happens (can crash at this time)
4. Click on the brace/bracket one or more times
RES

[2022-06-03 15:46] mxmou commented on #11881
Clicking "Add Palettes" again closes the popup which is the usual behavior for dropdowns, so this might not be a bug.

[2022-06-03 15:49] rgreen5 opened #11884 "Applied brace is too small on application; fixes itself when extended"
**Describe the bug**
When a brace is first applied it is too small. It only assumes the right size when extended.

**To Reproduce**

1. Create a guitar staff/tab score.
2. Click on first measure and add a brace (brackets are not affected)
RESULT: The brace is too small
4. Extend the brace manually to the tab line
RESULT: The brace assumes the correct size.

**Expected behavior**
The brace should b

[2022-06-03 17:02] rgreen5 opened #11885 "Chord not sounding when cursor advances; (tablature) chord sounding when cursor moves vertically"
**Describe the bug**

When the cursor advances onto a chord (and "Play chord when editing" is checked in preferences) the chord should sound. However only the top note of the chord seems to be sounding.

Secondly, in MS3, in note-input mode, when the cursor moves vertically in a chord in tablature, _no_ note sounds. However in MS4, the top note of the chord sounds for each move.

**To Reproduce**

[2022-06-03 17:35] DmitryArefiev commented on #11877
@MarcSabatella Oh I see now.. If we use linked staff only as a Tab staff then we should exclude (for duplicating) **hairpins** and also **some other lines** .

https://user-images.githubusercontent.com/90187801/171916870-a75bbf5f-cedd-4578-bc22-0d7abc74d6fe.mp4

If user wants to add some specific lines he can add it independently.

@Tantacrul If agree I'll revert the bug

[2022-06-03 17:42] Tantacrul commented on #11877
I have no issues with this in principal. The only concern I have is that removing the linkage of hairpins might cause issues for Guitar Pro import in MS4.0.

@alexpavlov96 & @boryskuzmenko what do you think?

If we want to be cautious, I'd suggest bumping this bug until 4.x.

[2022-06-03 17:44] MarcSabatella commented on #11877
That makes sense to me, yes.  Although I wonder about the "barre line" - the one with the VII as the default text.  Does that make sense on tab?  I don't know.

[2022-06-03 20:18] boryskuzmenko commented on #11856
@HemantAntony Thanks! Your video described all :)

[2022-06-03 22:11] cbjeukendrup commented on #11881
Indeed, this thing is a popup, not a dialog, so it has no close button but closes when you click outside it.

I think @Tantacrul has purposefully designed it so that the popup won't close after clicking a `+` button, because it's quite annoying if you need to reopen the popup again and again if you want to add multiple palettes in one go.

(However, my personal experience is that it is more likely

[2022-06-03 22:11] #11881 closed

[2022-06-04 07:58] Tantacrul commented on #11881
I do actually have a light redesign of this popup in mind. Should be an easy fix for 4.X

[2022-06-04 15:39] boryskuzmenko commented on #11877
This is not going to affect GP import, BUT.
As I understand right only case where linked staff can be useful for now is linking standard+TAB. So I see the same solution exactly like we did for GP import. First, create a table with expected states for all groups of elements in particular staves combination (standard-standard, standard-TAB Simple, Standard-TAB Common) e.g. https://docs.google.com/sp

[2022-06-04 15:45] Tantacrul commented on #11877
I would agree that we make decisions on this in 4.X. It is a tad dangerous to be fiddling with stuff already established in MS3 at this late stage.

I've elevated it to a P1 because I think dealing with this consistently is going to be very important to getting our Guitar experience right.

[2022-06-04 15:45] #11877 closed

[2022-06-04 15:47] Tantacrul commented on #11856
@njvdberg - it shouldn't actually be possible to do what you are able to do. On Mac, for example, it is not possible to select different staves in different instruments at the same time.

I believe it not possible on either Win or Mac.

[2022-06-04 15:49] HemantAntony commented on #11856
Did you select using Ctrl + Shift? That was an edge case that wasn't accounted for. Ctrl select was disabled on purpose

[2022-06-04 15:51] Tantacrul commented on #11856
@HemantAntony - yes you're right. I managed to replicate it on Mac too by using Shift + Cmd

[2022-06-04 15:53] boryskuzmenko commented on #11856
@Tantacrul it's possible if you use Ctrl+Shft.
Yesterday Roman is already fixed this. Now it's not possible.
I've already tested but couldn't run his build on Linux so didn't close yet

[2022-06-04 16:40] #11501 closed

[2022-06-05 09:40] njvdberg commented on #11826
This is as expected because the vertical space distributions kicks in. This algorithm tries to make the space between staves as evenly as possible (taking some weight factors into account). This is what you see here. It is also sea to check by switching off the justification of staves in the style editor.

[2022-06-05 09:56] njvdberg commented on #11856
I tested PR #11882 on Linux and it works as expected. So for me this issue can be closed once the PR is merged.

[2022-06-05 10:16] njvdberg commented on #11884
I agree a one staff brace looks silly but to looks too me what it should look like. Braces are scaling in horizontal direction depending on the height. Before PR #7124 they didn't resulting in too thick braces.

[2022-06-05 10:19] DmitryArefiev opened #11886 "[MU4 Issue] [Inspector] "Text line" and "tempo line" buttons have missing icons"
Edited by Bradley:

![Capture](https://user-images.githubusercontent.com/90187801/172045871-bb01780c-5c04-47b2-9ad8-c2c61fb24515.PNG)

<img width="1143" alt="Screenshot 2022-06-03 at 6 34 38 pm" src="https://user-images.githubusercontent.com/86290556/172097975-5401df8e-e130-46b2-b51a-381d9e6e3f78.png">

https://user-images.githubusercontent.com/90187801/172046108-6a255c89-3ad9-4dfa-940f-fff8465088

[2022-06-05 10:28] DmitryArefiev commented on #11886
@Tantacrul @bkunda Leaving in Beta1 for now

[2022-06-05 12:29] Tantacrul commented on #11886
Ah, it's just missing an icon. @bkunda: can you recommend a symbol (or make a new one, if needed)?

[2022-06-05 20:30] boryskuzmenko commented on #11826
Ok. The case with the last staff on a big score looks as expected, but the case with a single staff is not. I checkd MU3 and there's no behavior like this. I definitely looks like a bug.

[2022-06-06 05:01] bkunda commented on #11886
Good spot @DmitryArefiev. I too found another one recently (for tempo change lines), which is exactly the same problem.
I might expand this issue to include both icons. I'll then work on recommending or creating new ones, which I'll post as a task.

[2022-06-06 07:13] njvdberg commented on #11826
For me the behavior is the same as in MU3:

https://user-images.githubusercontent.com/48352523/172110897-f981bfa0-b677-49ea-adf4-49cbd8c76d29.mp4

You see that changing the size of the fixed spacer also change the spacing between the other staves. This is because of the vertical adjustment of staves. However, due to a bug you see the spaces doesn't touch the staff below the spacer. This is a bug i

[2022-06-06 09:30] #11856 closed

[2022-06-06 09:37] alexpavlov96 commented on #11515
- Too many notes are added to triplet
- Triplets are rendered too far from notes
<img width="411" alt="Screenshot 2022-06-06 at 12 33 13" src="https://user-images.githubusercontent.com/24373905/172135443-f646f11a-090e-4be1-ae68-78bfbfb66ed8.png">

Also separate consecutive notes of different tuplet duration would be shown as the same tuplet duration (3, 3, 3 instead of 3, 4:3, 3)
<img width="271"

[2022-06-06 10:51] Tantacrul opened #11894 "[MU4 Task] Add large double flat & double sharp to 'common symbols'"
**Task description**
There is a small oversight here, where the regular sized double sharp/flat symbols are missing, which means that they cannot easily be added to text descriptions. This would make Harp pedal changes really awkward to create.

<img width="694" alt="image" src="https://user-images.githubusercontent.com/21022311/172146987-1e73adc3-ad92-4b17-8cbf-c368858d26a9.png">

[2022-06-06 11:18] DmitryArefiev commented on #11886
Ohh.. it's @RomanPudashkin found :)

[2022-06-06 11:28] #11251 closed

[2022-06-06 11:31] boryskuzmenko commented on #10845
Ok! There's pretty clear story with point 1 and not clear with 2 and 3.
@Tantacrul Please, provide your vision of both.
Should we try to change elipse clickable area to circle (btw in Sibelius is also elipse, seems like its the font specific)?
What are the expectations for synchrinizing of cursor with the movable point?

[2022-06-06 11:34] boryskuzmenko commented on #11826
See MU3 behavior on my mac:

https://user-images.githubusercontent.com/101250347/172120996-4584e80e-2cea-41ff-ae3c-d9b0d63bbf26.mov

@MarcSabatella is it expected for this case?

[2022-06-06 13:28] MarcSabatella commented on #11826
@boryskuzmenko Unless I'm missing something, the last video looks as expected to me.  Is there something in particular that seems off to you?

However, what you originally pointed out in https://github.com/musescore/MuseScore/issues/11826#issuecomment-1145907339 is definitely not what I expect.  I *think* I might I understand the explanation by @njvdberg, but I am not sure, so I'm going to think a

[2022-06-06 13:36] DmitryArefiev commented on #11756
Fixed in #11880

[2022-06-06 13:51] rgreen5 opened #11896 "There are two dialogs called "Instruments"; cannot pre-specify staff type to be added"
**Describe the issue**

1. There are now two dialogs with the name **Instruments**. We should rename the 'Instruments' popup to be called **Add or remove instruments**

[2022-06-06 14:06] DmitryArefiev opened #11897 "[MU4 Issue] Unable to run latest builds on Linux"
**Describe the bug**
Unable to run latest build on Linux

try these
https://github.com/musescore/MuseScore/actions/runs/2445567865
https://github.com/musescore/MuseScore/actions/runs/2446767239

see [terminal output.txt](https://github.com/musescore/MuseScore/files/8844994/terminal.output.txt)

**Platform information**
Linux Mint 20.2

[2022-06-06 14:14] boryskuzmenko commented on #10981
🟢 **FIXED** in https://github.com/musescore/MuseScore/pull/11888
Tested on macOS 12, Win 11

[2022-06-06 14:16] #10981 closed

[2022-06-06 15:08] sberla365 opened #11899 "Crashes on score with stemless notation"
Hi, not sure this is the correct place to report this.

 I am trying to open a file created in MS3.6 with MS4 but it crashes before opening. The file contains stemless notation, empty text frames (a box surrounding the notes created through staff text with empty content and a rectangular frame) and lines stretching across multiple lines. I also have a lot of hidden content (mostly rests from empty

[2022-06-06 15:12] DmitryArefiev opened #11900 "[MU4 Issue] Unable to drag multiple selected lines (hairpins, slurs, dim. etc) with mouse"
**Describe the bug**
Unable to drag multiple selected lines (hairpins, slurs, dim. etc) with mouse.
(For multiple selection use Cmd/Ctr)

https://user-images.githubusercontent.com/90187801/172189635-fac20bbb-ff69-465a-93bf-58d623e14823.mp4

**Platform information**
macOS, Windows, Linux

**Additional context**
Doesn't occur in **MU3**

[2022-06-06 15:16] cbjeukendrup commented on #11899
Hi! If you send us the score, we can investigate. You can upload it here on GitHub by wrapping it in a .zip file.

[2022-06-06 15:19] DmitryArefiev commented on #11900
Can be related to #8512

[2022-06-06 15:30] DmitryArefiev opened #11902 "[MU4 Issue] When line (hairpin, slur etc.) is located within a range selection, after single selection the grips are disappear"
**Describe the bug**
A short and clear description of what the bug is.

**To Reproduce**
1. Place slur near to measure lines
2. Select measure
3. Click on slur - **the grips are shown for a moment and then disappear. Also, you can't use Shift+arrows shortcut to extend the slur line**

https://user-images.githubusercontent.com/90187801/172193268-a758e4ca-67fd-4bcb-8070-add88887566a.mp4

**Platform

[2022-06-06 15:53] mike-spa opened #11903 "[MU4 Issue] Positioning and appearance of note head parenthesis"
(Logging this issue for the sole purpose of not forgetting about it. Please @Tantacrul and @oktophonie feel free to prioritize this as needed.)

Our default positioning of note head parenthesis is currently like this:
![Screenshot from 2022-06-06 17-35-26](https://user-images.githubusercontent.com/93707756/172195378-2cc61918-cf13-4d5f-84e2-900a19cd309a.png)
but ideally it should look something clo

[2022-06-06 16:02] RobFog commented on #11903
Looking forward to this. In drum notation, parentheses are frequently used for ghost notes.

[2022-06-06 16:03] Tantacrul commented on #11903
I'm going to move this to 4x, since I assume we are in agreement that we shouldn't tackle it until after 4.0?

I'm also wondering if the correct parenthesis is being used here, @oktophonie? If so, do you agree they need a little engorging? (Trello me)

[2022-06-06 16:04] #11903 closed

[2022-06-06 16:08] mike-spa commented on #11903
Yes, definitely 4.x

[2022-06-06 16:30] DmitryArefiev opened #11906 "[MU4 Issue] Crash occurs when using Repeat command inside triplet (tuplet) group (and warning message like in MU3 doesn't appear)"
**To Reproduce**
1. Select the first note in triplet
2. Press R key several times

https://user-images.githubusercontent.com/90187801/172203873-d3e5f100-77e4-48cd-adaf-da403a746ce9.mp4

**Expected behavior**
Compare with MU3

**Platform information**
macOS, Windows, Linux

**Additional context**
Doesn't occur in **MU3** (see MU3 behavior in the attached video)

[2022-06-06 16:52] #11756 closed

[2022-06-06 16:57] Tantacrul commented on #11896
1. I think we should change the 'Instruments' popup to be called '**Add or remove instruments**'
2. This is out of scope for 4.0

I have edited the description accordingly.

[2022-06-06 16:59] Tantacrul commented on #11451
This is a very important bug to fix, so I have assigned it to Alpha 2.

[2022-06-06 17:06] Tantacrul commented on #11885
Already logged by @shoogle. https://github.com/musescore/MuseScore/issues/11451

Definitely needs to be fixed. Incidentally, this was the very first feature I suggested that was implemented before I came on the team full time!

[2022-06-06 17:06] #11885 closed

[2022-06-06 17:13] Tantacrul commented on #11885
I have added the extra information about Tab stave playback in the other issue too. Thanks @rgreen5 !

[2022-06-06 20:00] Tantacrul commented on #11884
It does look a bit funny when applied to one staff. However, this is an existing issue with 3.6, so we won't be fixing it in 4.0.

**Reasoning:** We already have a lot to fix and we don't want to add existing legacy issues on top of that. I'm not even 100% sure if this should be solved in Leland (or at all). @oktophonie ?

[2022-06-06 20:00] #11884 closed

[2022-06-06 20:35] sberla365 commented on #11899
Ok, I attach the file.

I have been playing around with the file and figured out that the issue seems to be caused by stemless quavers (or smaller divisions). If I rewrite the passage with stemless crotchets MS4 loads the file correctly.

Here is my test file. I don't know if it is worth saying that I am running MS on Linux (Fedora 36). I will test the same file tomorrow on a mac.
[Uploading test.

[2022-06-06 20:53] Tantacrul commented on #11883
Won't reproduce on Mac. (I'm using backspace to delete the bracket and brace, if that's useful to know).

@DmitryArefiev - can you reproduce?

[2022-06-06 20:56] Tantacrul commented on #11876
On Mac, the annoying transitions seems to be completely gone (and it's wonderful).

[2022-06-06 21:08] Tantacrul commented on #11861
I'm unable to reproduce this on MacOS.

@DmitryArefiev ?

[2022-06-06 21:10] Tantacrul commented on #11855
We chatted about this a little bit and felt that the right way to solve the issues this feature was designed to work around it to properly solve them. Fix to line is a really obscure functionality and its purpose isn't obvious at all. We are bumping fixes to placement issues for harmonics, slash notation and the case presented here to 4.x.

We'll reopen this issue once 4.0 is out.

[2022-06-06 21:14] Tantacrul commented on #11851
No, we never intended to prevent dotted rests. This is just an oversight. Nice catch.

[2022-06-06 21:23] RomanPudashkin commented on #11883
@Tantacrul I can reproduce it

[2022-06-06 21:25] boryskuzmenko commented on #10327
As was decided above: Only 'fine' bug is to be fixed.

[2022-06-06 21:28] boryskuzmenko commented on #11856
🟢 **FIXED** in https://github.com/musescore/MuseScore/pull/11882
Tested on macOS 12, Win 11

[2022-06-06 21:46] boryskuzmenko commented on #11515
🟢 **FIXED** in https://github.com/musescore/MuseScore/pull/11891
Tested on macOS 12, Win 11, Ubuntu 20

[2022-06-06 22:02] boryskuzmenko opened #11909 "[MU4 Issue] All instruments can be deleted via Inspector Instruments"
**Describe the bug**
At least one instrument should be present on score and you shouldn't be able to delete the last one. This rule works for creating score procedure and Instruments dialog, but doesn't for Instruments tab in Inspector. You can delete the last instrument by clicking Backspace.
As result we have another weird behavior. After all instruments deleted playback still can be run.

**To

[2022-06-07 06:21] njvdberg commented on #11861
Has apparently same root cause as #11856 and is solved with PR #11882 (which simply disables selecting multiple staves).

[2022-06-07 07:37] #11515 closed

[2022-06-07 10:00] Tantacrul commented on #11826
@njvdberg - that is exactly how I think it should work!

[2022-06-07 10:14] njvdberg commented on #11826
@MarcSabatella

It's clear you are a teacher and I'm not :wink: but this indeed what's happening.

This is the [_what to do on the last page_ discussion](https://musescore.org/en/node/332364).
In the first stage the algorithm increases the space between staff 2 and 3 so it is the same as the space between staff 1 and 2 (as forced by the fixed spacer). Next it sees there is still space left on the

[2022-06-07 11:20] DmitryArefiev commented on #11478
Fixed in #11911

Testing on Linux is blocked by #11897

[2022-06-07 11:25] #11478 closed

[2022-06-07 11:35] Jojo-Schmitz commented on #11897
See also https://musescore.org/en/node/332616

[2022-06-07 12:01] DmitryArefiev commented on #11906
Fixed in #11912

[2022-06-07 12:10] #11897 closed

[2022-06-07 12:59] oktophonie commented on #10316
I feel like these slides ought to match the positioning of a glissando line between notes a third apart:
![image](https://user-images.githubusercontent.com/20604032/172385268-0d9c9f37-4347-477c-ade8-3502a7370985.png)

The side of the slide that is attached to the note has a fixed position (and moves if the note is moved); this should match that of the glissando. The 'free' end can be manually adju

[2022-06-07 13:20] DmitryArefiev commented on #11883
Oh.. @RomanPudashkin told me the secret and now I can reproduce it on all platforms. You need to use trackpad (not a mouse) and delete bracket from context menu

[2022-06-07 13:56] DmitryArefiev opened #11914 "[MU3 and MU4 Issue] Crash after deleting initial time signatures and Undo"
**To Reproduce**
1. Open  [8crash.zip](https://github.com/musescore/MuseScore/files/8853783/8crash.zip) or [crash score.zip](https://github.com/musescore/MuseScore/files/8853784/crash.score.zip)
2. Delete TS in the first bar
3. Undo

https://user-images.githubusercontent.com/90187801/172398593-b2d8bda3-3c3b-4353-871c-bdcffa33329d.mp4

**Platform information**
 macOS, Windows, Linux

[2022-06-07 14:16] njvdberg commented on #11861
@DmitryArefiev This exactly the same issue!

[2022-06-07 14:31] #10869 closed

[2022-06-07 14:31] #10867 closed

[2022-06-07 14:35] bkunda commented on #8746
Hey @cbjeukendrup I have updated the spreadsheet (see issue description above).
There may be more when #11586 gets merged, but this is at least a starting point.
Let me know how you get with this. We definitely want to get it in for alpha2 before the string freeze sets in. Hopefully it's not too much work, but do let me know if you hit any snags that we need to work through 🙂
Many thanks!

[2022-06-07 14:48] Tantacrul commented on #11009
Bumping to 4.x

[2022-06-07 14:48] #11009 closed

[2022-06-07 14:53] Tantacrul commented on #11005
@wizofaus, I can't reproduce this. The lower note on the bass guitar are a little bit quieter but I suspect quite different to your experience.

I'm closing unless anyone reports it is still an issue.

[2022-06-07 14:59] Tantacrul commented on #11031
Potential solution to this:

1. **(preferred)** the metronome toggle in the top bar simply unmutes/mutes the mixer channel
2. Remove the solo and mute buttons from metronome

[2022-06-07 15:30] Tantacrul commented on #10845
OK, you know what? This issue is probably caused by the proximity decrease. I think a sensible solution would be to add some extra rules specifically to deal with the case where users are dragging elements onto noteheads. However, this will require lots of work and testing to get right and may open a whole new can of worms.

When I first saw the issue, I assumed it wasn't possible to drag slurs on

[2022-06-07 15:30] #10845 closed

[2022-06-07 15:34] Tantacrul commented on #11038
Closing as a suggestion we can target for 4.X

[2022-06-07 15:34] #11038 closed

[2022-06-07 15:36] Tantacrul commented on #11044
Oh, wait. I misread the issue. Reopening. @oktophonie - thoughts?

[2022-06-07 15:39] Tantacrul commented on #11047
If this is indeed matches existing MS3 behaviour, I'm closing the issue, since we are finished with feature improvements for this version.

Unless I'm mistaken and there's a bug somewhere in all this conversation?

[2022-06-07 15:39] #11047 closed

[2022-06-07 15:42] Tantacrul commented on #11048
Well spotted @boryskuzmenko!

[2022-06-07 15:56] Tantacrul commented on #11077
Confirmed on MacOS.

[2022-06-07 16:01] Tantacrul commented on #11086
@boryskuzmenko - is this issue still happening with this specific plugin?

Are you able to replicate the issue with a free plugin? (I'll check for free NI plugins now to see if I can replicate)

[2022-06-07 16:22] boryskuzmenko commented on #11086
Can't reproduce with another plugins, even NI plugins. It relates only to Raum a I see

[2022-06-07 16:25] Tantacrul commented on #11086
Yeah, I just tried with other NI plugins too. OK, bumping to beta.

[2022-06-07 17:42] Tantacrul commented on #11044
This feels a bit more serious than a P3 then.

[2022-06-07 19:52] wizofaus commented on #11005
I'll retest on my machine but it was fairly unusable in the state it was when tested.

[2022-06-07 20:13] Tantacrul commented on #11094
@Nazgul37 - there has been a lot of work done on VST recently. Could you possibly download the latest nightly and test this again?

https://ftp.osuosl.org/pub/musescore-nightlies/

[2022-06-07 20:25] Tantacrul commented on #11101
Since this is already an issue with version 3.6, we won't be including it in 4.0, since we are in bug fixing now.

Moreover, we want to reimagine the entire **stave/part properties** dialog in general (because it is a bit of a mess). We'll get to this in a later release.

[2022-06-07 20:25] #11101 closed

[2022-06-07 20:28] wizofaus commented on #11005
Just downloaded the latest nightly and retested and the problem definitely still occurs - many notes are so quiet as to be in inaudible, in particular there's a very distinct drop in dynamics between the low A and G.  I can try to make a recording if you think it will be help, but I'm sure I can't be the only person experiencing this.
It's just the built-in sound-card in an older AlienWare gaming

[2022-06-07 20:32] Tantacrul commented on #11124
There does appear to be enough space for that scrollbar to be moved over so this doesn't happen alright.

[2022-06-07 20:45] Tantacrul commented on #11129
I've been playing with this a bit in the latest nightly and I'm not experiencing weird key signatures any more. For example, I chose a perfect 5th and saw your standard double sharp key signature. I also tried changing the overall key signature too and they still looked OK. Perhaps this has been fixed? @sammik can you check again?

If it is still a problem, I will reopen the issue and assign a hig

[2022-06-07 20:45] #11129 closed

[2022-06-07 20:53] Tantacrul commented on #11145
I tested this on MacOS just now and the shortcut does close the master palette again. Can you check @DmitryArefiev and reopen if you find it's not working?

[2022-06-07 20:56] Tantacrul commented on #11146
@bkunda - have you tested the implementation of this? If it is not complete, then feel free to reopen this.

[2022-06-07 20:56] #11146 closed

[2022-06-07 20:57] MarcSabatella commented on #11005
I'm not hearing inconsistency between one click of a note and the next, but I can confirm the low G on bass guitar specifically is a little less loud than the low A.  Makes some sense logically since A is an open string, but perhaps the effect is slightly overexaggerated?  Is the problem literally just about those two notes on this one instrument, or are you perceiving similar issues elsewhere?  M

[2022-06-07 21:45] wizofaus commented on #11005
It's not just a little less loud - at a "normal" volume for the A, I can barely hear the G at all.  I haven't spent a great deal of time trying other instruments (but it didn't seem to happen with "rhythm guitar"), however it's not just the G, all notes below the bottom A are very soft, including the open string E.
The volume difference between clicking on an individual note and during playback, a

[2022-06-07 21:53] wizofaus commented on #11005
(I'll move this to a new issue if someone can confirm if this is intended - but I also noticed both the "Lead" and "Backing" vocals are using the General MIDI 53/"Choir Aah" sound, which seems totally inappropriate for a "Rock band" template - admittedly I don't know what a good alternative is - but 54/"Voice Doos" is surely better - nor have I checked what it is in v3).

[2022-06-07 22:07] Tantacrul commented on #11005
Can you record an example? My own experience of the bass guitar matches Marc's. The G is a little less loud for me but I'd certainly not describe it as inaudible. I just want to hear if your playback is different from mine.

Regarding mixing - we haven't started this yet because we're waiting for the Muse Orchestra plugin to be fully functional. We thought it made sense to balance once that was do

[2022-06-07 22:29] shoogle opened #11918 "[MU4 Task] Restore MIDI import panel"
**Task description**

Port the MIDI Import panel to MU4, either as a Qt Widget or as a QML panel.

![image](https://user-images.githubusercontent.com/11011881/172492749-b62069b4-9f82-4b44-8a09-8c48b4568f6c.png)

The MIDI Import panel is displayed in when opening a MIDI file in MU3 but not yet in MU4. In MU3 it appears at the bottom of the screen and contains options to customize the MIDI import.

[2022-06-07 22:31] shoogle commented on #11918
Since this is potentially quite a big task, I've temporarily assigned to @Tantacrul for prioritisation.

[2022-06-07 22:35] wizofaus commented on #11005
I can try but I don't have a good set-up currently to do any sort of high quality recording unfortunately!

[2022-06-07 22:46] wizofaus commented on #11005
Hmm, I can't upload m4a files here? Have zipped anyway..
[MuseScore-Playback.zip](https://github.com/musescore/MuseScore/files/8856978/MuseScore-Playback.zip)
?

[2022-06-07 22:49] shoogle commented on #11909
You're right: there should always be at least one instrument in the score, and possibly in each part (`Excerpt`) too.

It's not because we want to stop users creating empty scores. It's because there will be other bugs if we allow empty scores. For example, text frames are stored in the top staff in the MSCX, so those frames will be lost when the file is saved with no staves and reopened later on.

[2022-06-07 23:00] cbjeukendrup opened #11919 "[MU4 Issue] Beaming options in Properties can make 32nd beam look like 16th"
**Describe the bug**
Using the beaming options in the Properties panel, you can make beamed 32nd notes look like 16th notes.

**To Reproduce**
Steps to reproduce the behavior:
1. Create a score with 32nd notes
2. Select their beam
3. In the properties panel, click the "begin 32" beaming option (it has the wrong icon/tooltip by the way, see #9977)

Result: the notes look like 16th notes

**Screensh

[2022-06-07 23:03] cbjeukendrup commented on #11919
@Tantacrul Feel free to reprioritize :)

[2022-06-07 23:09] cbjeukendrup commented on #11909
I'm not sure about disallowing empty `Excerpts` though, because when you create a new one, it is empty at first too.

[2022-06-07 23:13] wizofaus commented on #8895
"are already issues in MS3 that we will resolve in later versions." - where is this being tracked then?

[2022-06-07 23:21] wizofaus commented on #10780
I just tested the latest nightly build and it still looks wrong to me - e.g. for the "Lead Vocal" part in a score created from the Rock Band template, when adding additional staffs, it shows ALL possible staff types, including Perc./Tab etc.
My PR *did* address this, but apparently never got merged.
@Tantacrul

[2022-06-07 23:46] wizofaus commented on #8587
No, still looks the same as it was when Iast tested - the basic problem described in the bug is fixed, but when you use the Staff properties dialog to replace the instrument in the measure where a change instrument event is placed, it changes the whole part rather than just that Change Instrument event.  So if I'd added "Change to Horn in F" then decided I wanted to be "Change to Saxhorn" instead,

[2022-06-07 23:49] wizofaus commented on #8882
Yep, looks good now! (though the special characters dialog seems to disappear of its own accord at some point, not clear what triggers that).

[2022-06-07 23:53] wizofaus commented on #8588
Still happening, seems to be some disconnect between which measures it thinks should be rendered at different sizes vs which ones do actually have such a size.  Can have a look at it if I get the chance.

[2022-06-07 23:56] wizofaus commented on #8739
What do you mean "not anymore". The "issue" as reported still exists - you can still add new notes and change notes while playback is in progress (just not using the toolbar, which is disabled, but with the mouse or keyboard), but as far as I can see it doesn't cause any problems...

[2022-06-07 23:58] wizofaus commented on #8813
All this problems still exist and I believe are all connected, at least a) and b) - do you really want me to create 3 separate issues?
@Tantacrul

[2022-06-08 00:03] wizofaus commented on #8512
Well regardless of whether it's CTRL or ALT, neither work currently, and worse I just tested ALT+SHIFT+drag on a hairpin and MuseScore crashed.

[2022-06-08 00:16] wizofaus commented on #8517
But this isn't a problem with the shortcuts panel?  The specific issue listed above (holding down CTRL and typing Y O A) is still occurring, and I don't think we should just sweep it under the carpet, as similar problems apply to other sequences.

[2022-06-08 00:20] wizofaus commented on #8884
I just tried again and it's still wrong - if I create/open a score, then try to open a non-existing file from recent files, I get a brand new top level window, then this dialog:

![image](https://user-images.githubusercontent.com/5364225/172505301-aa5bdd7b-7abd-48c0-a88d-fddfa926f248.png)

Not a showstopper, but it's not very nice.

[2022-06-08 00:58] shoogle commented on #11909
@cbjeukendrup, that's a good point. I tried it now and noticed more bugs with deleting instruments in `Excerpts` so I think we should concentrate on the main score here and deal with `Excepts` in a separate issue.

[2022-06-08 07:22] #11906 closed

[2022-06-08 08:19] jsm222 opened #11920 "[SUGGESTION] Add MP3 playback for transcription"
### Discussed in https://github.com/orgs/musescore/discussions/11801

<div type='discussions-op-text'>

<sup>Originally posted by **Eyesonjune18** May 30, 2022</sup>
Hey, I had another idea. I've been having a lot of trouble getting the correct timings when transcribing pieces with variable tempos. Because Musescore playback is often not instant after clicking/pressing the play button - except, fo

[2022-06-08 08:48] shoogle commented on #11918
@Tantacrul says: if the MIDI Import panel cannot be easily ported as a Qt Widget then it can be delayed until 4.x.

[2022-06-08 09:10] abariska opened #11924 "[MU4 Issue] [GP] Standard staff type is applied for any score and staff when importing GP file"
**To Reproduce**
Steps to reproduce the behavior:
1. Open any GP file with TAB staves in MU4
2. Pay attention to the staves which should be TAB

**Expected behavior**
Staff types are applied according to the saved settings in GP

**Screenshots**

https://user-images.githubusercontent.com/101250347/172578659-172ee7a8-2a61-46cc-8838-7aff1891879a.mov

[2022-06-08 09:17] abariska opened #11925 "[MU4 Task] [GP] Simple and Common TAB staff types to be automatically applied to linked staff in specific combination with Standard staff"
**Task description**
The rule to be implemented:
- when creating linked staff for standard staff Simple type is applied for it
- when hiding/deleting standard staff (in case standard and TAB linked staves created) Common type is applied for TAB staff

[2022-06-08 09:40] VanSHOE opened #11926 "[MU4 Issue] Crash on inserting special character in heading or sub-heading"
**Describe the bug**
Crash on inserting special character in heading and subheading

**To Reproduce**
Steps to reproduce the behavior (video in `Additional Context`):
1. Open a new score
2. Go to properties panel and double click the header or sub header
3. Open the insert special character box
4. Insert any character
5. It will crash

**Expected behavior**
The character should have been inserted

[2022-06-08 10:01] boryskuzmenko opened #11928 "[MU4 Issue] [GP] Octave mark is applied only for one note in MU4 when was applied for whole measure"
**To Reproduce**
Steps to reproduce the behavior:
1. Open the test file
[Hard Rock.gp.zip](https://github.com/musescore/MuseScore/files/8860499/Hard.Rock.gp.zip)
2. Pay attention to the 8------- marks

**Screenshots**
![Capture 2022-06-08_12-52-54_PM](https://user-images.githubusercontent.com/101250347/172589574-f64d49d2-3019-4b68-9069-bd2112c8809f.png)

**Expected behavior**
Octave marks are rend

[2022-06-08 10:38] Tantacrul commented on #8587
@wizofaus - I _think_ I understand what you mean, and if so, functionality you are describing was not known to me: that the 'replace instrument' option in Staff properties is contextual. If you can raise the issue about that (I'd do it but I'm not 100% sure I know exactly what the issue is) and tag me, I'll add a priority.

[2022-06-08 10:42] oktophonie commented on #11919
A few problems to solve here:

1. Up to MU3.6 these beam options were intended to be applied to _notes_, not beams; if a beam were selected and one of the 'Beam properties' palette items was clicked, nothing would happen. (Exception: the feathering options, but that's been moved elsewhere now and in any case is awaiting reimplementation in MU4.)

The 'Beam properties' items are now duplicated as '

[2022-06-08 10:48] Tantacrul commented on #8739
Ah, the issue description didn't make that clear. I thought it was about the UI itself.

By 'not anymore', I meant 'not anymore'. Try, if you possibly can to not be incessantly insufferable @wizofaus

[2022-06-08 10:56] Tantacrul commented on #8813
Well, let me put it like this. We can't fix that which is not described well.

1. Don't know what your question/concern is. I can think of what it _might_ be. You can see where I'm going with this. This is issue reporting 101.
2. Again. Don't know how exactly to action this.
3. This I understand... and I _thought_ had been fixed.

Basically: if you want us to fix it, log as separate issues - in a

[2022-06-08 10:58] wizofaus opened #11929 "[MU4 Issue] "Replace instrument" doesn't work as expected when used after "Change instrument" event added"
Edited by @Tantacrul

**Describe the bug**
From "staff/part properties" dialog, "replace instrument" only works on a measure where a 'Change Instrument' event is placed.

**See video**

https://user-images.githubusercontent.com/21022311/172718085-9d7d2b45-ef85-42bd-b67a-2beb39bce826.mov

**To Reproduce**
Steps to reproduce the behavior:
1. Create a new score (default template, treble clef/piano)
2

[2022-06-08 10:58] wizofaus commented on #8587
Done

[2022-06-08 11:00] Tantacrul commented on #8512
I've just tried to reproduce the crash but can't. If you can pop the steps in a new bug, we'll bump it to the top of the list pronto.

[2022-06-08 11:00] wizofaus commented on #8739
I'm actually genuinely curious as to why this isn't considered a useful feature - if were crashing or doing something very unpredictable I'd agree it's probably best preventing (it can be a *little* bit unpredictable, changing the current playback cursor position etc., but not badly so).

[2022-06-08 11:05] wizofaus opened #11930 "[MU4 Issue] Clicking Bold/Italic/Underline on properties panel prevents user from continuing to type text with keyboard"
**Describe the bug**
While editing a text element in the score, if you type some characters, then click on the toggle buttons for bold/italic/underline on the properties panel, it grabs the keyboard focus and doesn't allow you to keep typing in the text element area.  This is a regression on v3.

**To Reproduce**
1. Create or open any score and add or find a text element and edit it
2. Start typin

[2022-06-08 11:05] wizofaus commented on #8813
Is this better? https://github.com/musescore/MuseScore/issues/11930

[2022-06-08 11:08] Tantacrul commented on #8517
It's mainly a problem of resource allocation. Shortcuts are still not in a great place and the system we (tried) to port over is really unintuitive and riddled with issues. It makes sense to get the typical functionality of shortcuts working, remove the ability to assign multiple shortcuts to the same action. Once that's in place, we'll find time to address sequences for a later release.

In essen

[2022-06-08 11:09] Tantacrul commented on #8517
However, I do agree that this issue should be reopened after 4.0 is released. I seem to have not tagged this one as 4.x.

I've now done so.

[2022-06-08 11:30] wizofaus commented on #8512
Suspect I was testing against an older version, doesn't crash with latest thankfully.  But I'm happy to work on making ALT+SHIFT+drag copy, if we're all agreed that's what's wanted...

[2022-06-08 11:41] wizofaus commented on #8884
Sorry, that wasn't the latest version, it now shows just this (but still opens a new top-level window first):

![image](https://user-images.githubusercontent.com/5364225/172607738-f0a6bc47-d6f5-445a-9e8c-74fda469c65e.png)

[2022-06-08 12:10] DmitryArefiev commented on #11478
@MarcSabatella You can check it in master now if you want (if I missed anything when tested)

[2022-06-08 12:43] #9984 closed

[2022-06-08 12:47] DmitryArefiev commented on #10525
Fixed in #11931

[2022-06-08 12:51] #10525 closed

[2022-06-08 13:02] Tantacrul commented on #11929
I'm not getting this issue on MacOS. As long as I make the 'Replace' change on the measure where the original instrument change was, it updates correctly and replaces the name. However, if I chose any later measure, then replacing the instrument doesn't result in any change, which I think is a bug... but not a very bad one. @DmitryArefiev - can you check?

https://user-images.githubusercontent.com

[2022-06-08 13:45] MarcSabatella commented on #8587
For the record, all changes in the bottom half of the Staff/Part Properties dialog (the "part" as opposed to "staff" properties) are meant to be contextual in this way.  This was done mostly to allow you to customize the staff name for just the affected range.  Right now it seems changing *transposition* here does work, but changing "short instrument name" does not - the change does not take at al

[2022-06-08 14:03] Tantacrul opened #11932 "'Pizz/Arco' & 'Mute/Open' directions cancel out dynamic directions when they happen at the same time."
**Describe the bug**
In order to see this in action, place a change (pizz/arco) on the same beat as a dynamic change. (See video).

https://user-images.githubusercontent.com/21022311/172635043-107c04d8-1066-4181-bef8-0f048f80edc1.mov

I have also noticed this with Mute/Open although there is one important thing to note: **dynamics can also cancel out performance directions.** It seems to depend on

[2022-06-08 14:18] Tantacrul opened #11933 "Accents not producing an audible change in dynamic. Marcato needs more audible change."
**Describe the bug**
In the video below, you'll see that **accents** do not appear to increase the dynamics and **marcato** only a _little_ bit. (It is possible accents are working but the % increase in volume is not easy to hear)

**Video**

https://user-images.githubusercontent.com/21022311/172640024-878b0163-2d18-4573-9006-e55dfcde0638.mov

**Expected behavior**

1. Accents should increase by a

[2022-06-08 14:22] Tantacrul commented on #11147
I have logged these issues separately today:

- https://github.com/musescore/MuseScore/issues/11932
- https://github.com/musescore/MuseScore/issues/11933

Closing this bug down.

[2022-06-08 14:22] #11147 closed

[2022-06-08 14:26] DmitryArefiev opened #11935 "[MU4 Issue] Some controls are not greyed out after closing score and leads to crash after clicking zoom buttons"
**To Reproduce**
1. Open score
2. Close score
3. Go to Score page - **notice that View mode, Zoom buttons and Zoom level are not greyed out**
4. Click zoom button - **MU crashes**

https://user-images.githubusercontent.com/90187801/172641675-189335c5-30c1-40d2-a1c5-03cc479e2b09.mp4

**Expected result**
View mode, Zoom buttons and Zoom level should be greyed out

**Platform information**
macOS, Win

[2022-06-08 14:44] Tantacrul opened #11936 "Arpeggio plays for too long on shorter durations and causes a staccato on the next note (MS Basic)"
**Describe the bug**
When the arpeggio is applied to a shorter duration (in the video below, a 16th), it lasts longer than a 16th duration, which then cuts off the playback of other notes. In the video below I've compared this to MS3.6.

- **In 3.6** the time it takes to play an arpeggio is sped up to make sure all notes fit within the duration. The shorter the duration, the faster the arpeggio.
-

[2022-06-08 14:47] Tantacrul commented on #11148
I have logged the one issue that remains in here separately. Closing this one down.

[2022-06-08 14:47] #11148 closed

[2022-06-08 14:51] MarcSabatella commented on #8587
To be clear, here is a screenshot of a score with a change from oboe to soprano sax.  You can see I've selected the measure containing the change, and Staff/Part Properties is correctly showing me those properties:
![image](https://user-images.githubusercontent.com/1799936/172647087-72fb14bf-bdd5-42c6-ba62-8f060b6f0322.png)
Here now I've used "Replace instrument" to change to alto sax then hit OK,

[2022-06-08 14:52] DmitryArefiev opened #11937 "[MU4 Issue] Note Input toolbar should not be greyed out when opening Instruments, Parts and other similar windows (when score is open)"
https://user-images.githubusercontent.com/90187801/172647813-7e8abc6f-6ccd-404e-b5b8-4455894718fd.mp4

**Platform information**
macOS, Windows, Linux

**Additional context**
Doesn't occur in **MU3**

[2022-06-08 14:52] AntonioBL opened #11938 "[MU4 Issue] heap-buffer-overflow in framework/global/tests"
**Describe the bug**
When running the tests after enabling AddressSanitizer, a heap-buffer-overflow is found in global_tests, happening here:
https://github.com/musescore/MuseScore/blob/master/src/framework/global/types/bytearray.cpp#L166
The corresponding line in the test is here:
https://github.com/musescore/MuseScore/blob/master/src/framework/global/tests/bytearray_tests.cpp#L90

`m_buffer_size

[2022-06-08 14:58] MarcSabatella commented on #11929
I missed this new issue and responded in the previous one - see https://github.com/musescore/MuseScore/issues/8587#issuecomment-1150025682.  Bottom line, everything works perfectly for me, sometimes.  Sometimes not.  It hadn't occurred to me the difference was which measure I selected to start Staff/Part Properties, but a quick test shows this does indeed seem to be true.

[2022-06-08 14:59] MarcSabatella commented on #8587
I missed the new issue - https://github.com/musescore/MuseScore/issues/11929.  I can confirm that it does indeed seem to be true that the cases where things work well as the ones where I start by right-clicking the measure containing the change, and the cases where it doesn't work as well are if I start from a later measure.

[2022-06-08 15:08] Tantacrul opened #11940 "(Alto, Tenor, etc.) Trombones are mapped to Trumpet sounds (should be Trombone)"
**Describe the bug**
The following instruments should be mapped to the sounds used by the Trombone

- Soprano Trombone
- Alto Trombone
- Tenor Trombone
- Bass Trombone
- Contrabass Trombone

@vpereverzev - I think this was a simple misreading. All other brass instruments seemed to be mapped correctly.

[2022-06-08 15:09] Tantacrul commented on #11149
I have logged these as a separate issue. Can close this now.

[2022-06-08 15:09] #11149 closed

[2022-06-08 15:51] boryskuzmenko commented on #11926
🟢 **FIXED** in https://github.com/musescore/MuseScore/pull/11927
Tested on macOS 12, Win 11, Ubuntu 20

[2022-06-08 15:57] #11926 closed

[2022-06-08 16:01] DmitryArefiev commented on #11935
Fixed in #11939

[2022-06-08 16:02] #11935 closed

[2022-06-08 16:06] tibequadorian opened #11942 "[MU4 Issue] Menu width too small after switching menus"
**Describe the bug**
When switching between menus in the menubar e.g. "File" then "Edit" then "View" we can see the width of the "Edit" menu width is clearly too small.

**To Reproduce**
Steps to reproduce the behavior:
1. Click on "Edit", you should see the normal menu
2. Hover over "File" and back to "Edit", menu width got smaller
3. Hover over "View" then back to "Edit", menu width got smaller

[2022-06-08 16:14] boryskuzmenko commented on #10854
🟢 **FIXED** in https://github.com/musescore/MuseScore/pull/10857
Tested on macOS 12, Win 11, Ubuntu 20

[2022-06-08 16:15] #10854 closed

[2022-06-08 16:22] Tantacrul opened #11943 "3 remaining woodwind mappings to fix"
**Describe the bug**
Here are the mapping issues I encountered.

- **Basset horn** - currently has no sound. Map to the **Clarinet**
- **Tin whistle** - map to the **Recorder** (The current sound in MS3 and MS4 is mad. Trust me, I'm Irish... )
- **Tenor Recorder** - currently has no sound. map to the **Recorder**

[2022-06-08 16:28] Tantacrul commented on #11150
I have logged the remaining mapping issues. Closing this now.

[2022-06-08 16:28] #11150 closed

[2022-06-08 16:56] Tantacrul commented on #11151
I have tested (and passed) a few of these. @bkunda - can you confirm that the rest of the mappings (marked as 'not yet') are now mapped? I checked a few and found them to be working now. However, there are a few I don't 100% understand as described.

For now, I just want to focus on mapping. We can approach the ideal sounds for articulations a little later.

[2022-06-08 17:05] Tantacrul commented on #11152
Tested all the mapping and found them all to be correct now. Closing.

[2022-06-08 17:05] Tantacrul commented on #11161
Nice idea. Going to bump to 4.X

Closing until we release 4.0

[2022-06-08 17:05] #11161 closed

[2022-06-08 19:03] Jojo-Schmitz commented on #10225
See also https://musescore.org/en/node/332671

[2022-06-08 20:25] Tantacrul commented on #11929
The only trouble is that it doesn't change the instrument for the whole score for me. If I don't choose the measure where the instrument change occurred, it just seems to do nothing instead.

[2022-06-08 20:36] wizofaus commented on #10780
My apologies, ignore above, was testing the wrong version - confirmed it's fine in actual latest nightly.

[2022-06-08 20:49] sammik commented on #11483
This bug still occurs in transposition change.
(Other changes seem be fixed)

[2022-06-08 20:52] wizofaus commented on #11929
Re-tested and yes, sorry, I am seeing what you're seeing - if done on a measure *after* the change instrument event, nothing happens. If done on the actual measure it sort of works as expected, but also changes the *clef* for the whole score, which isn't expected, and when I tried with two measures selected, it didn't change the "To xxxx" text either.  Then it crashed on clicking on a clef...

[2022-06-08 21:13] wizofaus opened #11946 "[MU4 Issue] Change instrument event doesn't always add new key signature"
**Describe the bug**
If the instrument at the score level is non-transposing and you insert a change instrument event to a transposing instrument, the key signature is changed as expected. But the reverse is not true - starting with a transposing instrument and changing to a non-transposing one no key signature change is added/shown.

**To Reproduce**
Steps to reproduce the behavior:
1. Create a n

[2022-06-08 21:14] wizofaus commented on #11929
Somewhat related, there's an issue with key signature changes for "Change Instrument" events too: https://github.com/musescore/MuseScore/issues/11946, may make sense to fix together.

[2022-06-08 21:17] cbjeukendrup commented on #11792
@Tantacrul I see that currently the wrong icons are used:
<img width="299" alt="Schermafbeelding 2022-06-08 om 22 56 57" src="https://user-images.githubusercontent.com/48658420/172715851-31d4b1a9-843e-49af-8641-e1008e161d1b.png">
I will fix that.

I was also thinking about the screen reader text and tooltip (in palettes). Currently the inspector uses "Left" and "Right", but that might be confusing

[2022-06-08 21:26] #11946 closed

[2022-06-08 21:35] MarcSabatella commented on #11946
FYI - iIt's an issue in MuseScore 3 when adding the instrument change from the palettes.  Strangely, it's *not* an issue in MuseScore 3 when adding from the menu (Add / Text).  I'd kind of guess the same situation might exist in MU4, except - Add / Text / Instrument Change isn't working at all for me.  I'll file that separately.

[2022-06-08 21:50] MarcSabatella opened #11947 "[MU4 Issue] Many commands in Add / Text do nothing (Win/Linux)"
**Describe the bug**
If you try to add elements from the Add / Text menu, nothing happens for several of the commands.

**To Reproduce**
Steps to reproduce the behavior:
1. select a note in a score
2. Add / Text / Sticking
3. See error - nothing happens

**Expected behavior**
Normally, you should get an empty element in edit mode, with a visible cursor, ready for you to type.  This works as expect

[2022-06-08 21:57] wizofaus opened #11948 "[MU4 Issue] Right-click on staff when multi-measure range selected deselects other measures"
**Describe the bug**
When right-clicking on the staff inside a multi-measure range, the range selection is changed to be only the measure clicked on.

**To Reproduce**
Steps to reproduce the behavior:
1. Create/open any multi-measure score
2. Select 2 or more measures
3. Right-click anywhere inside the range that's on a staff (but not on a note symbol etc.)
4. The selection is changed to be the cu

[2022-06-08 22:03] cbjeukendrup commented on #11792
Pushed a fix to #11934!

Now the next problem becomes visible: the correct icons are not correctly centered in their bounding box:
<img width="299" alt="Schermafbeelding 2022-06-08 om 23 56 46" src="https://user-images.githubusercontent.com/48658420/172724411-ed4d430a-d5e2-4752-9eda-2e4ba302d657.png">

This must be a problem of the icon, not the UI.

Also, the beam mode icons are tiny compared to

[2022-06-08 22:12] Tantacrul commented on #11792
@cbjeukendrup - try this to fix the centring of the feathered beams.
https://www.dropbox.com/s/0onoito87kf572k/MusescoreIcon.ttf?dl=0

As for the beam icons, if we tweak them, that'll also affect them in palettes too.

So...

1. We leave the scaling as it was befor
2. OR: we remake the icons then fix scaling in Palettes & Properties
3. OR: we make a new set of the same icons and scale the up just

[2022-06-08 22:16] wizofaus commented on #11929
BTW another related oddity - you can click OK in the Select instrument dialog without selecting anything which leaves you with the new instrument having no name and just "To" instruction in the score.

[2022-06-08 22:22] cbjeukendrup commented on #11792
The beam mode icons are used only in the Beam Properties palette and the Beams inspector, and in both those places the icons are too small if we don't apply additional scaling. So I think the cleanest way is to update the icons so that the scaling is not necessary anymore in both places.

[2022-06-08 22:24] Tantacrul commented on #11792
OK, we'll scale them up then. @bkunda - I'll leave that to you, since @oktophonie had thoughts about how to make those symbols better anyway!

[2022-06-08 22:28] cbjeukendrup commented on #11792
By the way, the fix for centering the feathering icons works great!
<img width="299" alt="Schermafbeelding 2022-06-09 om 00 27 28" src="https://user-images.githubusercontent.com/48658420/172728057-643145d1-7a8d-4b1d-a534-77f6f52bb8ce.png">

[2022-06-08 22:29] Tantacrul commented on #11792
Yep. I just made them wrong the first time. :)

[2022-06-08 22:31] wizofaus opened #11949 "[MU4 Issue] Playback not working for default "Piano" sound"
**Describe the bug**
Playback doesn't work straight after creating new score using the default Piano sound

**To Reproduce**
1. Create/open a score with just a piano, add some notes if necessary
2. Note that on adding you can't hear the notes sounded
3. Start playback, nothing is audible
4. Wait a while, then try playback again, and it becomes audible (but on closing/reopening score stops again)

[2022-06-08 22:50] wizofaus commented on #11949
BTW it does *sometimes* or at least eventually work, but I could consistently reproduce this several times.

[2022-06-08 23:46] Tantacrul commented on #11949
I have not experienced this kind of delay. On any machine I've tested this one, playback for a single instrument is almost instantaneous.

@DmitryArefiev - have you experienced this at all on any of your machines?

[2022-06-09 00:32] asattely commented on #11899
gotcha! pow, bug zapped

[2022-06-09 10:49] cbjeukendrup commented on #11864
@DmitryArefiev No problem, I added it to the PR! I was initially afraid that it would be too fast if it was the same as the inspector. But now I realize that _if_ the user clicks and holds, they probably _want_ to scroll fast, so it's probably a good change.

[2022-06-09 11:03] boryskuzmenko opened #11956 "[MU4 Issue] [macOS] Crescendo and diminuendo can't be added by their shortcuts"
**Describe the bug**
Shortcuts:
- shift+'<' - crescendo
- shift+'>' - diminuendo
Also, crescendo can be called by pressing just '<' key, but shouldn't.

**Expected behavior**
Crescendo and diminuendo can be added by their shortcuts and '<' key is not a shortcut by default

**Screenshots**
![Capture 2022-06-07_09-49-05_PM](https://user-images.githubusercontent.com/101250347/172832036-ab905cd1-c6ea-

[2022-06-09 12:19] igorkorsukov commented on #11938
@AntonioBL Thank you very much, I've been wanting to rewrite the implementation for a long time, there was no reason, and now there was an excuse. Made a vector-based implementation https://github.com/musescore/MuseScore/pull/11958

[2022-06-09 12:29] #11864 closed

[2022-06-09 12:29] #11044 closed

[2022-06-09 13:08] DmitryArefiev commented on #11914
Fixed in #11941

[2022-06-09 13:23] #11942 closed

[2022-06-09 13:27] #11938 closed

[2022-06-09 13:50] oktophonie opened #11960 "[MU4 Issue] Bracket width is calculated incorrectly when determining left margins"
**Describe the bug**
Width of brackets is not calculated correctly when determining left margins, which should be consistent through the score (otherwise implemented in #9277).

![image](https://user-images.githubusercontent.com/20604032/172862330-d4c95123-4a9e-41c9-8778-5af0ab2ede36.png)

Saith @cbjeukendrup: "in this case the brackets start pushing the instrument names off the page, instead of p

[2022-06-09 13:56] JeffRocchio commented on #11855
Not sure it's proper to add a comment to a closed item...but I am anyway I guess : )   For me I certainly like bumping this out for a 'proper solution.'

**3.x Score Compatibility**: What will happen when I open a 3.x score where Fix to Line has been applied. In the nightly build I tested here such a score opens and retains it's Fixed to Line formatting. So that's nice. I would just note that, in

[2022-06-09 14:10] boryskuzmenko commented on #11899
🟢 **FIXED** in https://github.com/musescore/MuseScore/pull/11950
Tested on macOS 12, Win 11, Ubuntu 20

[2022-06-09 14:11] #11914 closed, assigned to RomanPudashkin

[2022-06-09 14:57] abariska opened #11962 "[MU4 Issue] [GP] Crash when opening saved mxcz. file twice after TAB style changes"
**To Reproduce**
Steps to reproduce the behavior:
1. Open the test file in MU4 (use build https://github.com/musescore/MuseScore/pull/11716)
[test tab for MU4.gp.zip](https://github.com/musescore/MuseScore/files/8871443/test.tab.for.MU4.gp.zip)
2. Create a linked TAB Simple staff for that Standard staff
3. Save this file as .mscz score
4. Open it and change some of parameters in TAB import prefere

[2022-06-09 15:02] boryskuzmenko opened #11963 "[MU4 Issue] [GP] Wrong default settings are applied when clicking Reset to default button in Tabulature styles properties"
**Expected behavior**
Settings to be applied when Reset to default button clicked in Tabulature styles properties
![Capture 2022-06-09_06-01-31_PM](https://user-images.githubusercontent.com/101250347/172879117-3b0ec212-2226-4854-99d5-50f651f7b863.png)

[2022-06-09 15:32] Tantacrul commented on #9356
Since this is an existing issue with MS3, we should bump to 4.x.

Thanks!

[2022-06-09 15:32] #9356 closed

[2022-06-09 15:55] DmitryArefiev opened #11964 "[MU4 Issue] Slurs/Ties should be on top layer comparing with staff lines (not behind staff when selected)"
![slur](https://user-images.githubusercontent.com/90187801/172891382-b6acbbf4-27c0-4169-b620-8a89c4fb0b69.PNG)

**Platform information**
macOS, Windows, Linux

**Additional context**
The same in **MU3**

[2022-06-09 16:21] oktophonie commented on #11964
This is totally fine as it is.