[2022-05-01 13:47] Tantacrul commented on #9009
Reassigned to @asattely, since Nick ain't around no more :)

[2022-05-01 13:48] Tantacrul commented on #9037
@oktophonie - I've assigned this to you for now and given it a provisional P2. Feel free to reassign, reprioritise or close as needed.

[2022-05-01 13:52] Tantacrul commented on #9055
I have reprioritised this bug because it has bad interaction consequences.

In particular, if you are moving quickly, the context menu often doesn't keep up, so you have to go back and roll over options more slowly.

I'm not certain whether this is due to an animation or not. If it is, we should completely remove the animation. Options should pop out instantaneously.

[2022-05-01 13:56] Tantacrul commented on #9060
This issue no longer happens.

[2022-05-01 13:56] #9060 closed

[2022-05-01 13:59] Tantacrul commented on #9061
@wizofaus - it seems that this has improved at some point, so that the cursor now jumps to the last measure / instrument a user placed a note in.

[2022-05-01 13:59] #9061 closed

[2022-05-01 14:00] donarturo11 commented on #11488
![split-crash-20220501](https://user-images.githubusercontent.com/6421054/166149224-606709e2-2615-4c70-b6bb-804a22b0a629.png)

[2022-05-01 14:08] Tantacrul commented on #9088
The specific issue mentioned here looks to be working now. @bkunda - can you confirm? If I'm wrong, please reopen.

Incidentally, I created an uber issue for remaining issues with this Shortcuts panel. https://github.com/musescore/MuseScore/issues/11474

[2022-05-01 14:08] #9088 closed

[2022-05-01 14:11] Tantacrul commented on #9107
Although there still be remaining MS3 jank here, the particular problem you've described has been fixed. Cheers!

[2022-05-01 14:11] #9107 closed

[2022-05-01 14:15] Tantacrul commented on #9124
Issue does not seem to still be happening. Closing for now. Please tell me if I'm wrong and I'll reopen.

[2022-05-01 14:15] #9124 closed

[2022-05-01 14:19] Tantacrul commented on #9169
This is now fixed. Closing.

[2022-05-01 14:19] #9169 closed

[2022-05-01 14:26] Tantacrul commented on #9161
- Dialog foreground / background issue was solved a while ago
- Other dropdown now contains the right options
-  The 'Beam properties' icons are now draggable again... but broken. I'm going to raise this separately because they were working for a time!

The rest is classic MS3 jank. Ultimate plan is to completely replace this nightmare of a dialog.

[2022-05-01 14:26] #9161 closed

[2022-05-01 14:29] Tantacrul opened #11490 "Beam Properties options in the Time Signature Properties popup are non-functional"
**Describe the bug**
The **Beam Properties** options in the **Time Signature Properties** popup are non-functional

**To Reproduce**

1. Right click on a Time Signature and select **Time Signature Properties**
2. Try to drag a property onto a note (yes, that's how they work... you're meant to drag them. Check out MS3 to see how it should work)
<img width="695" alt="image" src="https://user-images.

[2022-05-01 14:32] Tantacrul commented on #9164
Uploading to MuseScore.com is not enabled yet. We will be doing so once MP3 export is ready, so we can test the end to end flow.

[2022-05-01 14:32] #9164 closed

[2022-05-01 14:33] Tantacrul commented on #9166
Some of these issues persist. Some are gone. I'm going to raise the remaining issues in a new bug.

[2022-05-01 14:33] #9166 closed

[2022-05-01 14:38] Tantacrul commented on #9167
I'm closing this because the options now work if a user selects the score. And now that the Master Palette always stays in front, it's not really a massive issue. Arguably not an issue at all.

[2022-05-01 14:38] #9167 closed

[2022-05-01 14:49] RafaelLiebermann commented on #11480
Well that also happens to me but this is different. I don't know if it's just me but when you press the play button on the keyboard (image below) instead of star playing the cursor appears and stays in the same place just like if I was pressing the button multiple times.
![305a50bf-9c39-4803-9f7e-2c0e3ce6d8c9](https://user-images.githubusercontent.com/76731756/166151155-b90fed6d-a7bb-4022-bcd2-1cf

[2022-05-01 14:49] RafaelLiebermann commented on #11480
Forgot to mention it also happens in my other keyboards

[2022-05-01 15:04] #11082 closed

[2022-05-01 15:22] Tantacrul commented on #11480
@bkunda - can you investigate this one? Curious to know whether there's a more serious uber-bug in this.

[2022-05-01 15:31] Tantacrul commented on #11490
@bkunda - I seem to recall you created a task to improve this. Am I right? If so, was it implemented?

[2022-05-01 16:25] Nick-Mazuk commented on #9009
Hey… I still following along with things and have fixed at least one bug since leaving!

(in all seriousness, though, Aaron or Mike is definitely the better option to fix this bug right now)

[2022-05-01 16:54] quinnouyang commented on #11426
I'm unsure how we configured the folders for development, but the `SoundFonts` folder doesn't even exist (nor do some others: VST3, Images, etc.):
<img width="441" alt="image" src="https://user-images.githubusercontent.com/90884224/166155996-47675795-2e0f-4fad-9903-092c8575e002.png">

Should we add one?

[2022-05-01 17:04] quinnouyang commented on #11417
On a tangent, I assume we should exile it from the hairpin playback popup too?
<img width="283" alt="image" src="https://user-images.githubusercontent.com/90884224/166156456-77ac6ecb-db88-4eba-9255-07e486413484.png">

[2022-05-01 17:32] #11266 closed

[2022-05-01 17:32] Tantacrul commented on #9009
@Nick-Mazuk - It hasn't gone unnoticed, despite my last clumsily worded message!

[2022-05-01 17:58] Tantacrul commented on #11426
Unless someone thinks it is a very stupid idea, then I'd suggest adding the same default folder, in the same location, that was true for MuseScore 3.

[2022-05-01 18:00] Tantacrul commented on #11417
Yes! Thanks for spotting that.

[2022-05-01 18:44] #11351 closed

[2022-05-01 18:45] #10292 closed

[2022-05-01 18:45] #10298 closed

[2022-05-01 20:02] MarcSabatella commented on #9061
FWIW, MU3 *also* would jump to the last note input position, but only if that position was currently visible.  Otherwise, it would go to the topmost/leftmost of the currently-visible measures.  This was requested by numerous users and was the consensus favorite in discussions on the forums etc.  Could that optimization be added back?  People did not like it at all when note input suddenly jumped t

[2022-05-01 20:11] cbjeukendrup commented on #8961
I believe it was fixed, but it's a) not our problem but an Uncrustify bug and b) not really an issue (just a cosmetic code issue that has no influence on the app). So let's close it.

[2022-05-01 20:11] #8961 closed

[2022-05-01 20:20] cbjeukendrup commented on #11426
@Tantacrul Yes I think that's a good idea.

@quinnouyang it would be good if those default folders would be created during the first launch. This was also the case in MU3.

[2022-05-01 20:29] Tantacrul opened #11492 "Rename "MuseScore_General_HQ" sound font to "MS Basic""
**Task description**
Hear me out...

One of the awkward things about our new mixer is that we've necessarily needed to keep each track quite narrow. As a result, some VST and sound font titles get truncated (a very common issue across plenty of DAWs and other notation apps).

In the case of **MuseScore_General_HQ** (which is now our default), I feel we can't have a situation where this is what peo

[2022-05-01 20:31] Tantacrul commented on #9061
Yep - that makes sense. Could you create a new issue for it?

[2022-05-01 20:33] RobFog commented on #11492
"MS Jojo-Schmitz" is probably best.

[2022-05-01 21:00] Majora320 commented on #11220
Can you check to see if #11324 fixes this?

[2022-05-01 21:11] Majora320 opened #11493 "Playback incorrectly starts at the end of a selection"
Playback starts at the end of a selection.

To replicate the bug you need to:

1. Place 4 quarter notes in a measure
2. Hold shift and click on the first quarter note (on the left)
3. Continue holding shift, then click on the last note in the measure (on the right)
4. Press play
5. Playhead starts from the last selected note on the right

https://user-images.githubusercontent.com/16787503/16616467

[2022-05-01 23:33] quinnouyang commented on #11492
Especially for 3rd-party names, what if we add a hover tooltip? (Assuming it doesn't deviate much from the design practices.)

[2022-05-01 23:43] Tantacrul commented on #11492
We should do a tool tip but I'd say we leave that for a later release. Trying to lock things down now as much as possible.

[2022-05-01 23:47] Tantacrul commented on #11493
I just tried this on the latest nightly and can't replicate the issue. When I select a measure, playback always starts at the start. Have you downloaded the latest build and tried it there?

[2022-05-01 23:59] Majora320 commented on #11493
Yes, this is on the latest build. I think my video was a little ambiguous, sorry about that. I'm selecting a range of notes with shift-click here, not selecting the measure by clicking on it. Playback works as normal if I select the measure.

[2022-05-02 00:42] MarcSabatella commented on #11492
Good call.  I feel like I’ve noticed similar opportunities elsewhere but of course I can’t think of any at the moment.

[2022-05-02 00:50] Tantacrul commented on #11493
Confirmed. To replicate the bug you need to:

1. Place 4 quarter notes in a measure
2. Hold shift and click on the first quarter note (on the left)
3. Continue holding shift, then click on the last note in the measure (on the right)
4. Press play
5. Playhead starts from the last selected note

[2022-05-02 01:27] alex-esc commented on #11237
I have the same issue. I am also on win 10 on a laptop. just installed and the program opens and the CPU slowly ramps up to ~30% in task manager and then crashes without any popup, error message or log.

I tried running as admin and in windows 8 and 7 compatibility mode. I also tried to disable my laptop's sound software (sound blaster 3di) and I also tried changing sample rates and using JACK for

[2022-05-02 03:16] MarcSabatella opened #11494 "[MU4 Issue] Note input can start at location not on screen"
EDITED BY @Tantacrul

We want to retain the 'no jumping' rule from MuseScore 3 when a user resumes Note Input mode. There are two points (which I've demonstrated in the video below):

1. When a user triggers note input mode, if the previous position where the user last inputted notes is out of view, **do not jump back to to that view** (This is by far the more important point. **_When this is achi

[2022-05-02 03:16] MarcSabatella commented on #9061
Done, see https://github.com/musescore/MuseScore/issues/11494

[2022-05-02 04:27] bkunda commented on #11490
@Tantacrul Yes! And it is still open:
@vpereverzev @RomanPudashkin please check out https://github.com/musescore/MuseScore/issues/9618.

**Background info**
@martin-danhier had begun work on this by re-writing the dialog in QML, but then @Tantacrul and I suggested he hold-off his work in favour of us implementing a solution that didn't require the QML re-write.

The above issue was simply to fix s

[2022-05-02 04:29] bkunda commented on #9088
Yes, this is now working.

[2022-05-02 04:34] bkunda commented on #11474
Yes https://github.com/musescore/MuseScore/issues/8746. I've just assigned @vpereverzev so his can coordinate it with his team.

[2022-05-02 05:08] bkunda commented on #11382
This is looking good @HemantAntony.

Could you also please fix the "Swing" and "Straight" text objects so that they appear like the other text objects?

<img width="298" alt="Screenshot 2022-05-02 at 3 05 37 pm" src="https://user-images.githubusercontent.com/86290556/166186802-03835a79-8ffb-4ad5-88b8-6274d43160b5.png">

That should tidy this one up nicely 🙂

Also I might just tag @oktophonie in on

[2022-05-02 05:09] HemantAntony commented on #11382
That's weird. I did change those sizes. Was there any change at all?

[2022-05-02 05:18] bkunda commented on #11382
It may just be that they need to be set in bold (if the sizes are indeed the same). This is also how they are rendered in the score.

[2022-05-02 05:47] HemantAntony commented on #10505
@DmitryArefiev it seems like some dialogs also have wrong/different orders for yes and no. For example, Revert to Factory Settings and Reset Palette Buttons. Worth creating a separate issue for this?

[2022-05-02 06:39] Jojo-Schmitz commented on #11492
"MS General HQ" would probably fit too

[2022-05-02 08:33] bkunda opened #11495 "[MU4 Issue] A number of text items from Palettes have no text settings in Properties"
**Describe the bug**
The following items from the "Text" palette currently show no text appearance settings in the Properties panel.

- Open
- Distort
- Overdrive
- Legato
- Pizz.
- Arco
- Tremolo
- Mute
- Normal
- Detache
- Martele
- Col legno
- Sul pont.
- Sul tasto
- Vibrato

<img width="500" alt="Screenshot 2022-05-02 at 6 31 23 pm" src="https://user-images.githubusercontent.com/86290556/16620

[2022-05-02 08:43] cbjeukendrup commented on #10505
@HemantAntony It's indeed worth mentioning, but actually it's just a general problem with more or less all dialog buttons, so one general issue like this is enough.

[2022-05-02 09:28] HemantAntony commented on #11336
You probably meant 'info' right 😃

[2022-05-02 09:30] Tantacrul commented on #11494
To summarise, the rules Marc is suggesting are:

1. When triggering Note Input mode, jump to the measure where the user was last inputting notes (this is what we do now) - **but** only if that measure is visible in the current view
2. If it is not visible, start note input mode in the top-left most visible measure in the current view

@bkunda - we should start user testing score creation on existi

[2022-05-02 09:30] Tantacrul commented on #11494
Added P1. Design need to validate.

[2022-05-02 09:37] Tantacrul commented on #11492
I think 'HQ' is redundant now, since that it is the default.

[2022-05-02 09:39] Tantacrul commented on #11336
<img width="241" alt="image" src="https://user-images.githubusercontent.com/21022311/166214868-a186d52b-0263-4619-abdc-c466aa781614.png">
Rob never misses a typo :)

Yes, I meant info! Thanks :)

[2022-05-02 09:49] RobFog commented on #11492
For the many users who will be updating from MuseScore 3, an FAQ could be: "Which of the previous default soundfonts is this?"  Maybe this question could be handled in version 4's release announcement.

[2022-05-02 09:57] Tantacrul opened #11496 "Remove ugly 'MU' file icon from the top bar for saved scores"
**Describe the bug**
Not sure when this was added but it is a little ugly looking and adds unnecessary extra noise above 'Mixer' and 'Parts'

<img width="796" alt="image" src="https://user-images.githubusercontent.com/21022311/166216880-6d5fc9d5-e135-4ddd-bccf-73d804363b1b.png">

**Expected behaviour**
Text only

[2022-05-02 09:57] HemantAntony commented on #11496
Can't reproduce in Windows 11

[2022-05-02 09:58] Tantacrul commented on #11492
Actually, I've always wondered how many users actually realised you can update to MuseScore_General_HQ, given how hidden the option to update it is. Lemme create a poll...

[2022-05-02 10:10] #11382 closed

[2022-05-02 10:11] cbjeukendrup commented on #11496
@Tantacrul I'm quite strongly against removing this. It is the default behavior of macOS, and it is very functional:
- if the file has unsaved changes, the icon will be darkened as on this screenshot
- you can drag this icon to drag the file, for example to drag it to an email, or to drag it to another folder. This way, you don't need to look for the file in Finder to drag it from there.
- if you

[2022-05-02 10:11] Tantacrul commented on #11492
Let's see how this pans out. My prediction is that **'I did not know about this'** will get over 70%.

My reasoning is that the place it is installed from is very hidden and very few users ever read user manuals.
https://twitter.com/Tantacrul/status/1521069078018142209

However, my predictions tend to be overly heavy handed. Let's see!

[2022-05-02 10:15] Tantacrul commented on #11492
Also posted the same poll here: https://www.youtube.com/c/musescore/community

[2022-05-02 10:37] Tantacrul commented on #11496
@cbjeukendrup - thanks. I was not aware of any of these functional properties.

I guess I'll need to simply redesign the thing because it's an eyesore :)

Assigning to myself.

[2022-05-02 10:44] wizofaus commented on #9061
But that's about playback position, not note entry position? As far as your "Otherwise, it would go to the topmost/leftmost of the currently-visible measures" description goes, it's the logic that I believe is attempting to do something like that I was referring to above as being something so complex that I don't believe any user could reasonably predict what the behaviour would be.

@MarcSabatell

[2022-05-02 10:52] Tantacrul commented on #9061
@wizofaus - I also share the concern that the 'choose the top-left' stave is over design and may cause more confusion than it is worth. However, I can also very much appreciate that if a user is tidying up a finished score - going from page to page to add things here and there - it would be maddening if the view kept lurching back to the last place you worked.

Perhaps the answer is not more rules

[2022-05-02 11:07] cbjeukendrup commented on #11496
You can't really design much about this, it's fully controlled by macOS. (Unless you mean you'd like to redesign the icon itself, which I of course appreciate 😄)

[2022-05-02 11:07] bkunda opened #11497 "[MU4 Task] Add new instruments for fretted instruments that have tablature option"
**Task description**
This is a proposal to address #11027 (concerning a UX issue around creating linked staves for tablature instruments) by adding a new instrument for each of the below-listed instruments in the format "`instrument name`(notation + tablature)". These instruments would contain both their standard notation stave _plus_ a linked tablature stave (of the variety already defined in the

[2022-05-02 11:09] wizofaus commented on #9061
I would think automatically scrolling the view to ensure any edits you have just made are visible is pretty standard, certainly word processing/spreadsheet software etc. do this - even your web browser! (scroll the text box you're typing in out of view, then type some more...it scrolls back into view).
BTW I just tried it out with the current version and I think the behaviour is pretty good - afte

[2022-05-02 11:11] Tantacrul commented on #11497
I wonder whether we should use those dropdowns we use elsewhere for transposition instead. It would make the list a bit easier to parse.

For example you'd see **Bass Guitar** + a DD that contains 3 options: Notation / Tab / Notation + tab

[2022-05-02 11:12] Tantacrul commented on #11496
Yes, the icon itself.

[2022-05-02 11:14] bkunda commented on #11497
Actually I don't see why we _shouldn't_ do this. It would definitely make this panel easier to parse.

I'll correct the issue description accordingly.

[2022-05-02 11:31] wizofaus opened #11498 "[MU4 Issue] stem direction of notes on middle staff line seems unpredictable"
**Describe the bug**
While entering notes, the stem direction of any unbeamed notes on the middle staff line (e.g. B on the treble clef) seems unpredictable, and often isn't restored after undo-ing operations.  Compare v3 where it's always down.

**To Reproduce**
Steps to reproduce the behavior:
1. Create a new score, default treble clef, 4/4
2. Enter notes G A B  (all 1/4 notes)
3. Note that B st

[2022-05-02 11:31] bkunda commented on #11480
@jessjwilliamson I don't actually have a MIDI keyboard with integrated playback controls. Do you have one and, if so, could you test this issue please?

[2022-05-02 11:39] bkunda commented on #11497
Actually on second thoughts, I would propose we keep this task as initially suggested.

One significant issue is the horizontal space available in the centre "instruments" column for both the instrument name label _and_ the dropdown menu. Our current design pattern for the dropdown is not wide enough to accommodate the lengthy menu option "notation + tablature" (or even an abbreviated "notation +

[2022-05-02 11:43] jieshunwang commented on #11474
While I have tested out a entering a score completely from scratch, the only one I think would be very helpful is to be able to attach accidentals to notes from the keyboard. It is a big hassle having to enter those notes, and then go back and manually attach accidentals using a mouse.

[2022-05-02 11:48] Tantacrul commented on #11497
Got it. Thanks

[2022-05-02 11:49] Tantacrul commented on #11474
100% agree about this. Can you create a new issue for it - and possibly suggest key-bindings too?

[2022-05-02 11:50] Tantacrul commented on #11474
@jieshunwang  100% agree about this. Can you create a new issue for it - and possibly suggest key-bindings too?

[2022-05-02 11:52] wizofaus opened #11499 "[MU4 Issue] Crash on paste half duration"
**Describe the bug**
Paste half duration can cause crash

**To Reproduce**
Steps to reproduce the behavior:
1. Create new score, e.g. basic treble clef template
2. Enter a few notes
3. Select the whole score and copy to clipboard
4. Click after the notes previously entered (in an empty measue)
5. Choose "Paste as half duration"
6. MuseScore crashes (if running in debugger, it's a divide by zero at

[2022-05-02 12:00] oktophonie commented on #11498
Behaviour should indeed be like in MU3 - there was a brief flirtation with having this be context-dependent some time back but this was removed in [#9969](https://github.com/musescore/MuseScore/pull/9969); perhaps something was overlooked there?

[2022-05-02 12:08] jieshunwang opened #11500 "[MU4 Issue] Shortcuts for Adding Sharps/Flats in Input Mode"
**Describe the bug**
While I tested inputting a score completely from scratch, I really missed having shortcuts which added sharps/flats in input mode. It is a big hassle to have to go back and enter those flats manully using a mouse, especially when the program automatically reverts those accidentals later in the bar. (i.e. if I had two As in a bar, if I attach an accidental to the first A, a nat

[2022-05-02 12:09] wizofaus commented on #11499
Changing canPasteStaff() in paste.cpp (a function I vaguely recall writing!) to

                auto fract = TDuration(TConv::fromXml(reader.readElementText(), DurationType::V_INVALID)).fraction();
                if (fract.denominator() != 0 && !TDuration(fract * scale).isValid()) {
                    return false;
                }

fixes it but not sure if it's the best fix - does it really m

[2022-05-02 12:09] jieshunwang commented on #11474
Done in #11500.

[2022-05-02 12:15] bkunda opened #11501 "[MU4 Issue] Playback popup in Properties > General has incorrect vertical spacing"
**Describe the bug**
Horizontal spacing lines are not showing in the Playback popup (Properties > General). In addition (or as a result), the vertical padding between sections is too small.

<img width="306" alt="Screenshot 2022-05-02 at 10 13 09 pm" src="https://user-images.githubusercontent.com/86290556/166231730-e4dff0ab-8e51-49b1-9319-2c78a66e2abb.png">

**Expected behavior**
Horizontal spacin

[2022-05-02 12:26] bkunda opened #11502 "[MU4 Issue] Cancelling "change instrument" dialog still effects instrument change"
**Describe the bug**
Entering a "change instrument" element from the **Text** palette triggers a dialog that allows the user to select which instrument/sound they want for their mid-score instrument change.

The issue is that, if the user clicks **Cancel** without making any instrument selection, an instrument change is still added to the score, and a (rather random) instrument is assigned for pla

[2022-05-02 13:10] Tantacrul commented on #11500
@bkunda - would be good to make a recommendation here. It strikes me as really unusual that we don't have primary keyboard shortcuts for accidentals... probably the shortcuts I personally use more than any other!

Once you've had time to think about it, just make a recommendation here and we'll assign it.

[2022-05-02 13:13] MarcSabatella commented on #9061
As far as I know, everything I've said is about note input position.  Playback position is of course totally separate - normally it simply continues where it left off, unless you've changed selection.

As for choosing the top left, it could also be center of screen, or whatever is closest to mouse cursor.  And yes, it's unlikely any of these will happen to be the exact spot the user wants.  But th

[2022-05-02 13:16] MarcSabatella commented on #9061
...and now I see why there was confusion about playback, somehow I wrote up the issue title and initial description wrong.  I really meant note input all along.  Fixed.

[2022-05-02 13:24] Tantacrul commented on #11358
Here is @jessjwilliamson design to fix this issue
https://www.dropbox.com/s/bjs56hs8nx3v8cn/Scrolling%20Tabs.pdf?dl=0

[2022-05-02 13:28] Tantacrul commented on #11499
Confirmed. Marked P0, since selecting the whole score and pasting is a likely user case for anyone who knows this feature.

[2022-05-02 13:30] Tantacrul commented on #11498
I'm aware that logic has been created to make the stem direction context aware and not just a hard rule. I understand this was done to minimise beam heights.

Closing for now, unless @oktophonie recognises a bug he wants fixed.

[2022-05-02 13:31] Tantacrul commented on #11498
Assigned the engraving crew. Please feel free to reprioritse / reassign, etc.

[2022-05-02 13:32] Tantacrul commented on #11502
Confirmed. I'm guessing this is an easy fix. Nice spot!

[2022-05-02 14:06] MarcSabatella commented on #11500
FWIW, the usual recommended way of adding accidentals during note input is via the cursor keys - enter G, hit Up to raise it a half step to G#, etc.  That's still the way experienced users probably do it most of the time, and this still works.  So most of the time, you don't need a mouse.  But this method has some significant disadvantages, such as the inability to get courtesy accidentals this wa

[2022-05-02 14:15] MarcSabatella commented on #11494
FWIW, while I do feel strongly we should figure this out before release, to me it's also not that high priority to nail perfectly right away - there's no harm in continuing to refine it over time.  Whereas anything involving UI changes or that affects how we document an action would seem more important to solidify sooner rather than later.

[2022-05-02 14:18] quinnouyang commented on #11492
I, for one, did not know about this:D Though I've been using the [ASO](https://sites.google.com/view/hed-sounds/aegean-symphonic-orchestra) soundfont for years...

[2022-05-02 14:18] MarcSabatella commented on #11492
Without seeing the result of the poll, I'd also expect a significant number of people saying "I heard about it, tried to install it, but got an error and gave up".  Because this basically stopped working a year or two ago when the timeout for the download got shortened in the code, and most people don't have internet connections fast enough.  So the only reliable way to get this now is not through

[2022-05-02 15:36] quinnouyang commented on #11501
@bkunda I don't have access to the Figma, could you specify the padding specs? Also, I presume we should do the same for the Dynamics popup too?
<img width="277" alt="image" src="https://user-images.githubusercontent.com/90884224/166262710-db7a7dfe-e366-4edf-9b65-4d96034f6fa9.png">

[2022-05-02 16:15] boryskuzmenko commented on #8601
@Tantacrul I can't reproduce your result in MU3, note in TAB doesn't become ghost(dead) after changing the standard notation note.
![Capture 2022-05-02_07-14-53_PM](https://user-images.githubusercontent.com/101250347/166268686-da0c4b2d-bd8b-4a85-aa53-41385d924767.png)

 At the time we should separate ghost and dead notes. See how it implemented in GP:
![Capture 2022-05-02_07-09-14_PM](https://user

[2022-05-02 16:52] shoogle commented on #11497
As a short term solution, adding new "Guitar (notation + tablature)" instruments might indeed be best compromise, but I'll need to discuss it with @oktophonie first because it could create more headaches for us in the future in terms of backwards compatibility, etc. We might recommend living with the issue in the short term and returning to look at it properly after MU4 is released.

As a long ter

[2022-05-02 17:00] abariska opened #11503 "[MU4 Issue][GP] Note on standard notation staff isn't displayed as a ghost note after importing GP file with ghost notes"
**To Reproduce**
Steps to reproduce the behavior:
1. Create a GP score with ghost notes
2. Import the file to MU4
3. Pay attention to the ghost notes on standard notation staff

**Screenshots**
![Capture 2022-05-02_07-53-56_PM](https://user-images.githubusercontent.com/101250347/166291433-e1dde3eb-14c2-4642-9e54-00230a1ad353.png)

**Expected behavior**
Notes on standard notation staff isn't displa

[2022-05-02 17:11] Tantacrul commented on #11492
Well, a lot of people have responded and the result is actually worse than I expected.

<img width="592" alt="image" src="https://user-images.githubusercontent.com/21022311/166292958-78d3c1a4-6902-4af6-8466-39c0b5a527cd.png">

<img width="838" alt="image" src="https://user-images.githubusercontent.com/21022311/166293126-02350da6-746b-4f62-9a0d-9a8f9ef9782e.png">

[2022-05-02 17:14] Tantacrul commented on #8601
@boryskuzmenko - actually you understand me perfectly. MS4 **does not** show dead notes in tab and my bug is that it **should**.

MS3 does it
GP does it

[2022-05-02 17:22] Tantacrul commented on #11497
I think we need a solution for this in MS4. I dislike the idea of the cog over in 'Your score'. It would mean that some instrument-specific settings are on the left and some on the right.

I can actually think of quite a few solutions for this. Ultimately, we should replace the dropdowns that contain transposition info and replace them with popups that contain more space to handle more detail and

[2022-05-02 18:51] boryskuzmenko commented on #9056
Hi, @HemantAntony. Thanks for your fix!
The animation is removed but there's still some delay before a tip appearing in MU4. About 1 sec. If you see MU3 behavior there's no delay. Could you please fix this as well?

https://user-images.githubusercontent.com/101250347/166307067-4ac036fb-1dd6-43bd-bd9e-594a83ac3df0.mov

[2022-05-02 20:16] Tantacrul commented on #9176
This has been fixed at some point over the last year.

[2022-05-02 20:16] #9176 closed

[2022-05-02 20:33] Tantacrul commented on #10961
I'm closing this one in favour of the original I posted which goes into a bit more detail and also includes looping. This is a clear P0.
https://github.com/musescore/MuseScore/issues/9181

[2022-05-02 20:33] #10961 closed

[2022-05-02 20:34] Tantacrul commented on #9181
This is a clear P0 because the broken functionality is vital.

[2022-05-02 20:43] shoogle commented on #11497
The detailed popup sounds good. I think I'd still put the button on the right though to enable you to customize the instrument after you've added it to the "Your score" column. This would allow you to change your mind about the transposition, clef, staff type, etc. without having to remove the instrument and add a new one with new settings.

[2022-05-02 20:45] Tantacrul commented on #9188
I think it would be nice if backspace (and delete) did continuously keep 'going back' to previous notes, in the same way it does for text.

However, the MS3 implementation is very buggy. On Mac, it does some weird stuff, so not the best guide.

However, the request is simple: when in note entry mode, backspace should both delete the current note and also move the cursor backwards to the next note

[2022-05-02 20:49] Tantacrul commented on #9192
By design. F6 has been re-used for accessibility to allow users to toggle between the major sections of the app:
Home / Top bar / Side Bar / Score / Bottom bar.

Basically it's a 'faster that tab' way to move the focus around.

Since it is an accessibility feature, we don't expect casual users to really get it and it needs to be well documented @shoogle  / @bkunda.

[2022-05-02 20:49] #9192 closed

[2022-05-02 20:59] Tantacrul commented on #9194
OK, so I've tested something related to this (I don't have the ability to force a save operation to crash)

1. Created a new score. Did not save it. Wrote a few notes. Used the 'Crash' button in Dev Tools to intentionally crash the app.
2. When reopening, I got this message:
<img width="349" alt="image" src="https://user-images.githubusercontent.com/21022311/166326356-6e00885d-1ff4-4cba-9036-405eb

[2022-05-02 21:00] MarcSabatella commented on #9188
FWIW, in *theory* what MU3 does on backspace in note input is "undo".  So, if you happen to be entering notes left to right with no fancy editing, it's a normal backspace.  Otherwise, results will indeed often be surprising.  Plus on top of that, it isn't really a normal undo, it's some sort of special note input mode undo, I think.  I long ago customized my backspace to do a normal delete within

[2022-05-02 21:01] Tantacrul commented on #9195
These preferences are now working.

Closing this issue.

[2022-05-02 21:01] #9195 closed

[2022-05-02 21:10] Tantacrul commented on #9188
Thanks Marc! In that case, I'm going to close this issue because the functionality you described is better off not being in MuseScore 4.

Due to this, implementing backspace properly is a valid feature request I think can be safely moved to 4.x.

[2022-05-02 21:14] jeetee commented on #8963
Me and two others (@logman22349 and @dragonwithafez on Discord) have attempted reproduction with today's build in a variety of ways on Win10 machines and couldn't reproduce it.

Recommend closing the issue for now.

[2022-05-02 21:31] #8963 closed

[2022-05-02 21:31] Tantacrul commented on #8963
Thanks very much guys!

[2022-05-02 21:34] #9208 closed

[2022-05-02 21:35] #9188 closed

[2022-05-02 21:43] Tantacrul commented on #9235
Can't reproduce. @DmitryArefiev - let me know if I need to reopen this!

[2022-05-02 21:43] #9235 closed

[2022-05-02 21:44] Tantacrul commented on #9252
@DmitryArefiev @boryskuzmenko - would you be able to confirm if this is still happening?

If not, then let's close this one. Thanks!

[2022-05-02 21:49] Tantacrul commented on #9272
Don't understand issue. Since this issue is so old, I'm guessing it's no longer relevant (since it's about scrolling preferences)

[2022-05-02 21:49] #9272 closed

[2022-05-02 21:51] Tantacrul commented on #9302
@oktophonie - is this one you want to target for 4.0 or shall I bump it to 4.x?

[2022-05-02 21:52] Tantacrul commented on #9306
@oktophonie - is this one for 4.0 or 4.x?

[2022-05-02 21:54] Tantacrul commented on #9321
Non-issue

[2022-05-02 21:54] #9321 closed

[2022-05-02 21:54] Tantacrul commented on #9325
Fixed

[2022-05-02 21:54] #9325 closed

[2022-05-02 21:57] Tantacrul commented on #9358
This has inadvertently been fixed with other related improvements to the Instruments panel!

[2022-05-02 21:57] #9358 closed

[2022-05-02 22:00] Tantacrul commented on #9415
Not an issue.

[2022-05-02 22:00] #9415 closed

[2022-05-02 22:02] Tantacrul commented on #9419
Fixed in most recent versions of MS4

[2022-05-02 22:05] shoogle commented on #9192
Yes, like @Tantacrul it's intentional to use F6 to navigate between different UI panels. There are a few other apps that do this and they also use the F6 key, so it's something of a standard.

[2022-05-02 22:05] wizofaus commented on #9194
The biggest problem is fixed - it now saves to a temporary file and only replaces the original file at the end, so even a crash during save won't corrupt the mscz file.

But the logic in  NotationProject::makeCurrentFileAsBackup() still looks wrong to me

    Ret ret = fileSystem()->exists(filePath);
    if (ret) {
        LOGE() << "project file does not exist";
        return ret;
    }

Basical

[2022-05-02 22:07] Tantacrul commented on #9345
Still happening. @oktophonie - lemme know if you expect to target this at 4.0!

<img width="421" alt="image" src="https://user-images.githubusercontent.com/21022311/166335081-528e5ddc-b93d-48c1-8dcc-45fcdc7b3b8f.png">

[2022-05-02 22:09] wizofaus commented on #8963
Looks ok now, though "Switch to" isn't even in the context menu any more, and strangely I can't find any other processes for which it is there and is enabled, so maybe that particular concern was a red herring.

[2022-05-02 22:09] Tantacrul commented on #9426
The mapping is now working. @shoogle - let me know if there's a reason to reopen this!

[2022-05-02 22:09] #9426 closed

[2022-05-02 22:14] Tantacrul commented on #9429
I don't know why I marked this as a P3 initially. It is quite broken functionality.

[2022-05-02 22:15] dragonwithafez commented on #8963
It's present and enabled for MU3 on my machine. Haven't seen any other processes with it though.

[2022-05-02 22:16] wizofaus commented on #11494
I don't know what the exact behaviour in v2 or earlier was that generated so many user complaints, but having the score "jump" back to where you last entering data seems to be exactly right to me, as I noted, what nearly all other apps - including your web browser - do.
In fact the behaviour now is basically the same regardless of whether you exit note input mode (you can use the mouse-wheel to sc

[2022-05-02 22:18] Tantacrul commented on #9451
Jess and Casper fixed this a few months back. Closing!

[2022-05-02 22:19] cbjeukendrup commented on #9194
It seems like we're talking about two distinct things here: autosave vs backup.

Autosave is that every few minutes a copy of the file is saved to a file like `filename.mscz.autosave`; when reopening MU after a crash, it will detect the autosave file and prompt to restore the session. That works well by now.

But backup is a much less well-known feature, that copies the file to a secret location j

[2022-05-02 22:20] Tantacrul commented on #9455
Yeah, it'd be nice to fix this. Problem happens a lot.

[2022-05-02 22:24] wizofaus commented on #9192
The problem with F6 allowing access to the top level window while a modal dialog is displayed is fixed.
The issue of there being NO shortcut for "selection filter" and no apparent way to create such a shortcut isn't.
The issue of having F6 performing multiple conflicting actions if you assign it as a shortcut for a particular command still occurs.
I also noted that "transpose" is no longer availab

[2022-05-02 22:24] Tantacrul commented on #9194
In that case, I'm attaching a P1 and targeting it at Beta. Please (anyone) let me know if they think the priorities should be changed.

[2022-05-02 22:29] Tantacrul commented on #9192
I've logged an uber 'shortcuts are borked' P0 bug yesterday.

Apart from that, I'd like to salute the selection filter and honour it's service. Let's reassign it to Ctrl+shift+9+f+1

[2022-05-02 22:30] wizofaus commented on #11498
Most likely explanation is that my "preferStemDirectionMatchContext" setting was still true because that was the default at some point the past, or that's what it is my template files?
It doesn't appear there's any UI for changing preferStemDirectionMatchContext and the hard-coded factory default is definitely false, so I'm not 100% sure where my "true" setting is coming from.

[2022-05-02 22:33] cbjeukendrup commented on #11498
Indeed, the template files: https://github.com/musescore/MuseScore/blob/5cc7617665213ffcc36bef78f6ec236e9f029654/share/templates/01-General/01-Treble_Clef/score_style.mss#L132
(Well, I checked only one, but I fear that it's not the only one)

Good news is that it is pretty trivial to fix, in that case.

[2022-05-02 22:39] wizofaus commented on #11498
Ah, .mss, I didn't think to search for that!  But yeah, fixing that will solve the issue for now, but if in future there is a plan to reintroduce the functionality I'd say it needs some more work, certainly around undo and the fact that just changing what's selected can cause stems to flip.

[2022-05-02 22:52] wizofaus commented on #9194
I'd even say P2, as Casper noted, it's not that well known a feature, more or less a poor-man's automatic version control. But your call!

[2022-05-02 22:54] Tantacrul commented on #9194
(worth mentioning a p1 is lower than a p0)

P0 was Vasily's idea. I'm used to p1's being the highest :)

Anyway, p2. Why not?

[2022-05-02 23:03] wizofaus commented on #9192
I'm afraid that reference went over my head, but the selection filter is still a critical piece of functionality (and still works fine), no longer being able to assign a shortcut key to it is definitely a regression on v3.

[2022-05-02 23:06] Tantacrul commented on #9192
I'd describe it more like a bad solution to a problem the inspector no longer has. Quite far from critical, IMO

[2022-05-02 23:36] wizofaus commented on #9192
I don't use it for the inspector/properties panel, but for determining what things I want to copy and paste around the score. Esp. with voices.  There may well be better ways of achieving the same goal, but for that at least it's critical.

[2022-05-02 23:46] shoogle commented on #10700
It turns out that we _do_ need to save all the styles after all, including the default styles. However, we _also_ need to save a tag or other indicator to tell us whether the saved style was default or not. See https://github.com/musescore/MuseScore/pull/10963#issuecomment-1095529655.

[2022-05-02 23:54] MarcSabatella commented on #9302
Adding a style setting isn't particularly difficult, but it's definitely more work than simply changing the hardcoded value.  If we decide to put off adding a style setting, I'd still recommend we consider changing that hardcoded value now if we expect that the default behavior needs to change at all.  So the default layout of 4.x will be the same as 4.0 in this respect, even if 4.x also provide w

[2022-05-03 01:22] MarcSabatella commented on #9345
As you can see in that discussion, this problem goes back a *long* way, all the way to MuseScore 1.  I don't really remember the details, but I do remember the general complication around this.  The issue is that during the early stages of layout while we are calculating initial measure widths, we don't yet know which staves might be empty and thus hidden.  So we don't know yet whether or not we n

[2022-05-03 01:27] Nick-Mazuk commented on #9345
If I recall correctly, I started work on this in October and realized that it would be expensive to fix it with the current spacing algorithm. If the horizontal spacing algorithm is going to be overhauled at some point, that might be the time to revisit this.

[2022-05-03 01:34] MarcSabatella commented on #9061
My web browser doensn't have note input mode, so I'm not sure how it compares?

To be clear, here's the use case that generates the problem:

Imagine you have a score, and it's basically completed.  You now decide you want to go through and fix a few spots - the flute in one section of the piece, the timpani in another section later, the viola in another section, etc.  So, you scroll around to fin

[2022-05-03 02:24] MarcSabatella commented on #9192
As far as I know, there are no other solutions to the problems the Selection Filter addresses - and indeed, these problems have nothing to do with the Inspector.  It's all about range operations like copy/paste.  Don't get me wrong, I was never a fan of the Selection Filter design and would love to see it replaced with a better solution.  But right now, it's what we have, and like all other window

[2022-05-03 02:38] HemantAntony commented on #9272
@Tantacrul This is fixed in the latest master. So doesn't matter

[2022-05-03 03:27] wizofaus commented on #9061
A web browser *does* have data entry mode though, I'm using right now as I type this message.  If I scroll up and down such that this moves off-screen, then resuming typing, it comes back into view and the next characters I type are added after the ones I'd previously typed.
I don't see note input in a score being any different - if I type A B C, those 3 notes appear. If I scroll elsewhere, then t

[2022-05-03 03:53] MarcSabatella commented on #9061
I think if you're not pressing "N" you're already unlike the majority of users.  So that alone suggests a disconnect between how you are seeing this scenario going down versus how it would actually go down for other users.  consider the possibility that other users might have a different workflow than you, and take another look at this from from the beginning, going through my scenario but assumin

[2022-05-03 05:37] lvinken commented on #6079
Checked the MusicXML issues still open in the Feb 15, 2021 comment: the fixes are present in master, no further work required.

[2022-05-03 05:40] wizofaus commented on #9061
I wouldn't suggest Web browsers are normally in "input mode".  If I type in here, then press TAB, I'm no longer entering text (no text field is active).  If I then press shift-TAB, it "reactivates" input mode, and text entry resumes at the exact position in that field I was previously.

Pressing 'N' used to be required in MS3, it no longer is in MS4, and there's really no good reason to use it tha

[2022-05-03 05:43] wizofaus commented on #9061
(btw this discussion should surely be in the newly opened ticket rather than this closed one! I had copied my comment to that ticket and meant to delete the one here but you beat me to it replying...)

[2022-05-03 07:21] mike-spa commented on #9345
@MarcSabatella is definitely right in that the decision to hide empty staves has to come after the decision of how many bars you fit in the line, i.e. after horizontal spacing. However, given the new system justification algorithm, there may be a workaround. I'll look into it! :)

[2022-05-03 07:21] Tantacrul commented on #9192
My point is you can Ctrl+A the entire score and make element-specific changes now without having to tick and untick boxes first. On top of that, you also have right-click to select similar. Both of these are better options, so the selection filter is doubly redundant.

[2022-05-03 07:37] HemantAntony commented on #9056
@boryskuzmenko I never made a fix, I just commented on whether this issue occurs or not. But I'll take the thanks anyway :)

#11504 removes the tooltip intervals for all buttons in MU4 (So not just the toolbar). Tell me if this is not wanted

[2022-05-03 07:45] oktophonie commented on #11498
Yes, `preferStemDirectionMatchContext` should be false in all templates, indeed all files. My preference would be to remove this option and all associated functionality completely, anyway.

[2022-05-03 07:52] wizofaus commented on #9192
But right-click + select similar doesn't work for cases like wanting to copy *all* elements from voice 2 to somewhere else in the score (without copying voice 1), and that's just one of many similar sorts of operations.
I'd also say "select similar elements in range" doesn't work at all currently in v4 (I put up a PR over a month ago to fix it, but nobody's looked at it as far as I know).

[2022-05-03 08:51] wizofaus commented on #9192
Ah ok, turns out that was a build issue - once I'd ensured it was built properly from my branch the option reappeared.  You can in fact use "Select|More...|Same Voice" to select just the *notes* in, e.g. voice 2 (if you happened to click on a note that was voice 2) and use the "In selection" checkbox to select just those in the range you had selected previously but it's nowhere near as powerful an

[2022-05-03 09:11] EB2000 commented on #11220
Hi,
I have just tried master (0aceb6c) which contains the fix [ecaeffc](https://github.com/musescore/MuseScore/commit/ecaeffc9122042febfe1a256d9ab6ebf7fd3e717) mentioned in bug report https://github.com/musescore/MuseScore/pull/11324, but unfortunately my problem is still present.

[2022-05-03 09:18] bkunda commented on #11497
While I find the "change your mind" argument quite compelling (in favour of having the settings button – whatever it ends up being – in the "your score" column), the disadvantage of this could be one of discoverability: the user won't necessarily know that they can, for example, select a specific instrument transposition until after they've added the instrument. From my POV, this latter case might

[2022-05-03 09:47] boryskuzmenko commented on #9056
@HemantAntony Works great now. Thanks!
**FIXED**
Tested on macOS 12, Win 11, Ubuntu 20

[2022-05-03 10:40] shoogle commented on #11502
Or better yet, not added in the first place. Ideally it should only be added after the user clicks "OK" in the dialog.

[2022-05-03 11:08] bkunda commented on #11502
If that's possible, then yes! I was only thinking that all palette objects currently behave on an apply-immediately-on-click basis (assuming an object in the score has been selected first). But if an exception can be made for cases that trigger a dialog, then all the better 🙂

[2022-05-03 11:11] Tantacrul commented on #11159
Agree. Unlike some other parameters, colour should apply to the selected element only.

1. If a user selects a note head and changes the colour it should only affect the notehead
2. If a user selects a stem and changes the colour it should only affect the stem
<img width="52" alt="image" src="https://user-images.githubusercontent.com/21022311/166443080-5eefd1b6-0db8-4e1f-aa8c-ad36e80f70ba.png">

3

[2022-05-03 11:16] Tantacrul commented on #11004
I created another issue that relates to this (and would inadvertently solve it): https://github.com/musescore/MuseScore/issues/10642

Here's the PR, which (I think) is just about ready for merging.
https://github.com/musescore/MuseScore/pull/10691

[2022-05-03 11:16] #11004 closed

[2022-05-03 11:17] bkunda commented on #11501
@quinnouyang yes you're right, this would also apply to the "Dynamics" panel.

I think these are the main specifications you need to know:

<img width="703" alt="Screenshot 2022-05-03 at 9 14 02 pm" src="https://user-images.githubusercontent.com/86290556/166443634-ae36fb88-56b4-4296-b306-9c3d56623a5f.png">

The horizontal spacer lines already exist elsewhere in the UI. Let me know if you require a

[2022-05-03 11:17] Tantacrul commented on #11004
Incidentally, the accidental double-clicking on notes, which triggers accidental 'Edit mode' is quite a bigger interaction problem than I think some people realise.

[2022-05-03 11:20] Tantacrul commented on #11155
By design. If we find users are confused (in testing) we'll change it.

[2022-05-03 11:20] #11155 closed

[2022-05-03 11:34] Tantacrul opened #11505 "Put "Head Scheme" dropdown (from MS3) into the MS4 inspector"
**Describe the bug**
This is an option I missed when creating the Inspector design for noteheads. It is a simple dropdown in MS3 that looks like this:
<img width="491" alt="image" src="https://user-images.githubusercontent.com/21022311/166445842-9396b36b-846f-4cf8-903d-817782e73df0.png">

This is actually a lovely little feature. In MS4, we just need to put the same dropdown here, at the top of th

[2022-05-03 11:38] #9306 closed

[2022-05-03 12:07] oktophonie commented on #11477
Marc said it all for me here. Slurs are going to move, yes, which may require manual adjustments be made again in some cases (hopefully fewer cases!)

The real issue here is slurs avoiding tuplets, which I'd dearly like to fix, but will first need to fix the default placement of tuplets (which is bad); a further complication is that it's not always clear whether the tuplet number should move out o

[2022-05-03 12:07] #11477 closed

[2022-05-03 12:30] bkunda commented on #11500
@MarcSabatella can you please advise specifically which shortcuts currently apply the retroactive command? The actual terms must indeed be sufficiently confusing that I can't even discover them for myself!

[2022-05-03 12:57] MarcSabatella commented on #11500
The standard/preemptive versions are labeled "Note input: (flat)"; the retroactive ones are "Note input (non-toggle): (flat)".  In both cases, it's actually the flat sign instead of the word flat, because searching isn't important but saving a translation string is ;-).

Again, neither are actually available in MU4, but that's presumably only because of https://github.com/musescore/MuseScore/issue

[2022-05-03 12:59] MarcSabatella commented on #11494
(agreed regarding moving the discussion)

[2022-05-03 12:59] MarcSabatella commented on #9061
(agreed regarding moving the discussion)

[2022-05-03 13:27] shoogle commented on #11497
Let's put the long term solution to one side for now. @oktophonie, @bkunda and I had a chat about short term solutions earlier.

### Short term options

1. Create duplicate instruments in instruments.xml with IDs like:
    - guitar
    - guitar-tab
    - guitar-normal+tab

 2. Avoid duplicate IDs and instead allow the `guitar` instrument ID to be used with normal, tab, or both types of staff.

For

[2022-05-03 13:31] shoogle commented on #11497
### Alternative suggestion

Instead of exposing the option in the New Score dialog, we might be able to make it easier to add a linked staff from within the Instruments panel. Currently there is a prominent "Add staff" button but the option to create a linked staff is buried inside a popup.

Instruments panel | Staff type popup
---|---
![image](https://user-images.githubusercontent.com/11011881/16

[2022-05-03 13:58] MarcSabatella commented on #9345
I figure the worst case is, there is an additional pass needed to recalculate spacing in that first measure once it is settled that the staff will in fact be hidden.  But if it's possible to do that during the additional pass I believe you are already performing as part of your new horizontal spacing algorithm, that would be great!

[2022-05-03 13:58] bkunda commented on #11500
OK got it. I now FINALLY understand what those "non-toggle" actions do.

So it seems we have (in MS3) everything we need to implement shortcuts for both preemptive and retroactive accidentals. I can also see how this could be a really useful thing to have.

The first step would be for me to chase-up those commands to ensure they get re-instated in MS4.

The second step is to then decide on some se

[2022-05-03 14:11] Tantacrul commented on #9061
Although let's not massively complicate the new issue with too much inconclusive conversation. I'm trying to clear out the cognitive load on each issue so the developer in question has a clear idea of what to do. In that other issue, it seems pretty clear what the next steps are.

I would also mention that my move to simplify issues is really a measure to help us get to alpha 2 / beta 1 more quick

[2022-05-03 14:13] Tantacrul commented on #11497
Agree.

[2022-05-03 14:14] Tantacrul commented on #11497
However, I still think we should think of a solution for adding them to a score without the step of a 'linked stave', which is a really strange and unintuitive idea.

[2022-05-03 14:17] MarcSabatella commented on #9192
The Selection Filter never was intended for, and seldom would have worked for, limiting a selection to just a single element type for using in the Inspector.  As mentioned, Select All Similar has always been the way to do that.  And indeed, it's great that this isn't needed anymore for using the Properties window (although it still is for performing keyboard-based actions).  But again, not relevan

[2022-05-03 14:17] bkunda commented on #11497
I think the longer term solution of having a more complete popup in all of the various "instruments" dialogs is going to be the way to go. But this is likely to be too much to implement for MS4. I'm happy to start working on some designs for this, though.

[2022-05-03 14:19] Tantacrul commented on #11500
Do there need to be modifiers to distinguish between preemptive and retroactive?

I mean - we have one of each symbol in the top bar. If you hit it in advance, it turns Note Input on and prepares to add a sharp. The buttons also just work if you select a note and add a shortcut too.

For this reason, if Sharp was (say) mapped to the key: **s**, then you could press **s** in both of these cases wit

[2022-05-03 14:24] Tantacrul commented on #11497
We don't need the uber solution - just a solution. I'm happy with there being instruments that say 'tab + notation', if Simon and Peter are happy with it.

The reason for this issue was that we wanted to make guitar with notation+tab easy to fine because we recognise that 'linked staves' won't be figured out by most users.

The solution to this problem isn't to make linked staves slightly more dis

[2022-05-03 14:24] bkunda commented on #11500
The difference with the retroactive application is that you don't need to select the note to apply the shortcut; instead, the shortcut is applied to the note you've just entered, but the note input cursor remains poised to enter a new note.

This is actually pretty handy if you've entered a note but forgotten to add the accidental. Instead of having to leave input mode to select the note and apply

[2022-05-03 14:29] Tantacrul commented on #11500
Ah. I was thinking the answer seemed to simple to be true.

[2022-05-03 14:30] bkunda commented on #11497
The problem as I've begun to understand today (from talking with Peter and Simon) concerns the Instrument IDs. If we implement my proposed solution, this could either cause:

1. Significant headaches down the track (because – when we do eventually adopt the "über solution" – we'll end up having superfluous IDs that could cause problems when importing scores), OR
2. Delays in implementation (should

[2022-05-03 14:34] donarturo11 commented on #11488
[backtrace-after-crash.txt](https://github.com/musescore/MuseScore/files/8611053/backtrace-after-crash.txt)
So with gdb with backtrace I found problem in [tie.cpp:976](https://github.com/musescore/MuseScore/blob/0aceb6c53155847cec880a3616ef134c130f1a4e/src/engraving/libmscore/tie.cpp#L976).
I checked too that joining measures from menu doesn't cause SEGFAULT. I'll check this function. I think that

[2022-05-03 14:40] shoogle commented on #11497
Here's a really out-there solution: we could add a notation and tab staff to all the fretted instruments and then tell people to delete the staff they don't need! 😉

[2022-05-03 14:42] MarcSabatella commented on #11500
Yes, the problem of defining suitable default shortcuts is messy.  One other set I thought about leveraged the fact that you can enter accidentals within text using Ctrl+Shift+B, Ctrl+Shift+#, and Ctrl+Shift+H.  Of course, Shift+# is just # on most keyboards, but never mind that for now :-).  This would have worked for note input mode, but Ctrl+Shift+B inserts a "B".  And I can't say anyone was ev

[2022-05-03 14:43] bkunda commented on #11497
As a classical guitarist, this solution wounds me.

[2022-05-03 14:58] wizofaus commented on #11004
According to the comments at the top of that PR, double-clicking a note still activates "edit mode", so I'm not sure it solves it?
And I totally agree it's a big problem, not least because it seems that whatever logic is detecting double-click (might be inside Qt somewhere?) is incorrectly detecting two deliberate single-clicks as double-click, i.e. the time threshold is too high.  Usually a doubl

[2022-05-03 14:59] Tantacrul commented on #11004
No, we changed it so double click doesn't trigger edit mode. You have to chose it from the context menu. In addition, we then made it so that if you double click on a measure, you are entered into NI mode.

[2022-05-03 15:02] wizofaus commented on #11004
I'm happy to have this closed once that's been merged and I or someone else can confirm the problem no longer exists then.
But as it stands currently it's still an active issue.

[2022-05-03 15:16] MarcSabatella commented on #11500
TL;DR - please consider my "apply input state" command idea as per https://github.com/musescore/MuseScore/pull/5505.  Which, in the language of this thread, might be called "apply preemptive duration/accidental state retroactively".

[2022-05-03 15:18] jieshunwang commented on #11500
I always feel awkward doing this, and I hope I'm not intruding too much into the work you guys are doing, but I do hope that I'm contributing somewhat to the improvement of musescore.

I have to say that I have used Sibelius for quite a while and have gotten very used to their shortcuts and that might contribute to my bias in this case. But I do think to make a straightforward and logical shortcut

[2022-05-03 15:35] bkunda commented on #11500
@jieshunwang I believe the whole note duration _does_ appear by default in the note input bar (at least, it does for me! Perhaps I'm missing something here?)

Thank you for your suggestion about the Sibelius commands – it's actually also something I've thought about too. And in some situations I think it can make a lot of sense to reproduce familiar interactions across different pieces of related

[2022-05-03 15:51] Nick-Mazuk commented on #9345
When I was looking into it last fall, the worst case was actually:

1. Calculate the horizontal spacing to get the measures per system
2. Hide the staves
3. Determine which key signatures don't need space
4. Remove that extra space
5. Now that the extra space is removed, we can actually fit another measure on the system
6. Go back to step 1
7. After recalculating the number of measures, a new staf

[2022-05-03 16:17] #10674 closed

[2022-05-03 16:35] #11334 closed

[2022-05-03 17:52] MarcSabatella commented on #11500
I doubt it's possible to test the PR directly anymore, someone who knows more about how the current codebase is structured would need to adapt it.  The actual code to do the work is quite simple and would probably still work - it's more the hooking into the command structure that I assume has changed.

As for a default shortcut to use, my PR didn't define one, but what I'd propose is we define a p

[2022-05-03 18:01] MarcSabatella commented on #9345
@Nick-Mazuk yes, that sort of endless loop is indeed the potential problem, and we've encountered that before in similar cases involving things like key changes right at the system break where we are trying to decide if we will need a courtesy key signature or not.

But I do think doing what @mike-spa suggests is fine.  it might mean we *could* have fit one more measure if we had tried harder, but

[2022-05-03 21:42] wizofaus commented on #11474
BTW there are quite a few other issues with the shortcuts assignment dialog that I noted recently, including that a number of commands (e.g. Transpose) are not available for mapping to shortcuts, and that it doesn't appear to prevent me from assigning the same key to a large number of commands.
Under Windows at least, shortcut sequences do generally work, though there are certainly cases they can

[2022-05-03 21:54] #11417 closed

[2022-05-03 22:30] wizofaus commented on #11004
BTW that other issue certainly doesn't address the issue of no playback feedback while dragging, which is definitely a big regression on v3.  So I'm a bit confused why this has been closed. @Tantacrul

[2022-05-03 22:55] Tantacrul commented on #11004
You see, this is my point about convoluted issues referencing multiple problems in one, followed by a ton of comments. This stuff gets missed.

Clearly vertical dragging and the lack of sound should be a separate bug with a single line explanation. Is mark it a P1 easily.

[2022-05-03 22:58] wizofaus commented on #11004
I logged it as one issue because both were observed while dragging a note and I figured it was likely they were both due to the same underlying bug (though on digging further, I suspect they may not be).

[2022-05-03 23:45] MarcSabatella commented on #11057
I'd like to revist this.  I still see the value in having a nice clean look for newcomers and beginners.  But experienced users - not just of MsueScore but of *any* notation program - are going to want an easy way to get access to a fuller set of palettes.  And, probably, the voice 3-4 buttons.  There's extremely little cost in providing a predefined "advanced" workspace you can switch to easily,

[2022-05-04 02:03] quinnouyang commented on #11501
@bkunda
Just adding the lines and changing the column `spacing` from `4` to `12` produces this:
<img width="278" alt="image" src="https://user-images.githubusercontent.com/90884224/166613451-9e17ca2a-0794-410e-a497-cfea41805d3b.png">

**Issue (?):** The space between the title of each dropdown and its first element (if it's text) looks larger than in your design. I notice the same issue in practic

[2022-05-04 04:40] poypoyan commented on #11384
I have some comments/questions:
1. Since new text is added, are translations updated already? Seems like directories are still in MS3.
2. When user right-clicks on three dots, and clicks "Resets Palette", the palette empties and names changes to "Custom". I hope that this is expected behavior.

[2022-05-04 07:24] Tantacrul commented on #11384
@poypoyan

1. The translation stage is fast approaching. We are trying to lock down all the descriptions now so we can call string freeze to let everyone get to work
2. This isn't working as designed. It's a very minor bug but still a bug

[2022-05-04 07:31] bkunda commented on #11501
Thanks for your work @quinnouyang!

Yes we do need to get this right. @cbjeukendrup can you please advise @quinnouyang as to the correct spacing between dropdown header and subheadings as shown in the above images? I have provided what I can see in Figma, but I suspect my points of reference don't match up to what is required in the code. I'm sure there are examples of this elsewhere in the code t

[2022-05-04 07:54] bkunda commented on #11500
I'm sorry, maybe it's because this issue discussion is now getting fairly dense but I don't understand this suggestion.

In my simplistic fantasy, could there not just be one simple shortcut (or a combination of two keys) that the user enters when they're in note input mode to apply to the previously entered note whatever duration/accidental is active in the note input toolbar? Something like `Shi

[2022-05-04 09:10] boryskuzmenko commented on #10999
FYI. New instrument Flexatone has been added to percussion mapping. All changes are reflected in the spreadsheet (see issue description)

[2022-05-04 09:52] boryskuzmenko commented on #9252
🟡**Can not reproduce**🟡
Tested on Windows 11

[2022-05-04 09:52] #9252 closed

[2022-05-04 10:18] JezSonic commented on #11222
well.. same problem here. I hope someone will fix that

[2022-05-04 11:13] poypoyan commented on #11384
I just changed the "Custom" to "Untitled Palette" also.

[2022-05-04 13:12] boryskuzmenko opened #11514 "[MU4 Issue] Multiple articulation elements are rendered in MU4 when GP file imported"
**Describe the bug**
The root bug is in Guitar Pro. There is a possibility to put articulation sign on each note in a chord. As a result all this signs are not displayed in GP but saved inside the file.
After importing file with a chord like this all articulation elements are rendered.

**Expected behavior**
Only one corresponding articulation element is rendered for a chord

**Screenshots**
<img

[2022-05-04 13:19] #10686 closed

[2022-05-04 13:31] igorkorsukov commented on #8777
@Tantacrul  Yes, it can be closed

[2022-05-04 13:31] #8777 closed

[2022-05-04 13:37] bkunda commented on #11474
If it's possible to assign the same shortcut sequence to multiple commands, I'd suggest this is probably a bug worthy of a dedicated issue. Would you mind raising it please @wizofaus?

Also if there are any specific commands that aren't yet ported, it might be because they weren't prioritised for porting (see https://github.com/musescore/MuseScore/pull/10006). If there's something that is on this

[2022-05-04 13:51] MarcSabatella commented on #11500
Yes, I am proposing a single shortcut for the proposed new "apply current input state" command.  I am just observing that the specific shortcut we choose should be one that allows us to also choose a similar one for the *already-existing* "apply current palette element" command, which does not currently have a default shortcut but I believe should and that the two shortcuts should be related.  Jus

[2022-05-04 14:47] #9960 closed

[2022-05-04 14:51] boryskuzmenko opened #11515 "[MU4 Issue] Imported GP score which contain tuplets can't be opened after saving in .mscz file"
**To Reproduce**
1. Import any of test GP scores to MU4
[Test scores.zip](https://github.com/musescore/MuseScore/files/8621409/Test.scores.zip)
[0___triplet.gp.zip](https://github.com/musescore/MuseScore/files/8630654/0___triplet.gp.zip)

2. Without changes save it as .mscz file (just via ctrl+S)
3. Close imported score (don't close the app)
4. Via 'Open file' open saved .mscz score

**Expected be

[2022-05-04 15:02] bkunda opened #11516 "[MU4 Task] Assign default shortcuts to selected note input commands for adding accidentals"
**Task description**
Would resolve #11500

The suggestion here is to assign default shortcuts for the below actions as follows:

- `+` for **Note input: sharp** (and rename action to **Toggle accidental: sharp**)
- `-` for **Note input: flat** (and rename action to **Toggle accidental: flat**)
- `=` for **Note input: natural** (and rename action to **Toggle accidental: natural**)

And while we're

[2022-05-04 15:17] bkunda opened #11517 "[MU4 Task] New command for "Apply current input state""
**Task description**
See https://github.com/musescore/MuseScore/pull/5505 for background information on this one.
Also relates to discussion in https://github.com/musescore/MuseScore/issues/11500

1. In input mode only, a new `Apply current input state` command would look at the selected note duration, as well as any accidentals, and apply them to the note that has just been entered.

Example:

-

[2022-05-04 15:29] #11514 closed

[2022-05-04 15:59] DmitryArefiev commented on #9419
@Tantacrul It still doesn't work well with Kontakt Player on my side..

https://user-images.githubusercontent.com/90187801/166722241-44c7b7cf-14c6-4b79-a7fd-a727db56de80.mp4

[2022-05-04 16:02] Tantacrul commented on #11517
If this is a feature request (rather than a regression fix), I suggest we move it to 4.x

[2022-05-04 16:03] Tantacrul commented on #9419
OK, got it. Thanks!

[2022-05-04 16:22] MarcSabatella commented on #11517
It’s a regression in that for MuseScore 3, Q and W served to apply retroactively but don’t anymore.  I am also proposing we consider removing the confusing second retroactive set of accidental commands and replace them with this.  And that feels like a change better suited than 4.0 than 4.x.  But anyhow, it will be extremely welcome whenever it comes.

[2022-05-04 16:35] quinnouyang commented on #11516
There's two available shortcuts for each in `notationuiactions.cpp`, e.g. for sharps:
- `sharp`, "Toggle accidental: sharp"
- `sharp-post`, "Double ♯ (non-toggle)"
Ignoring the toggle option, I can set the default for `sharp-post`. To double-check, should I re-write these as `add-sharp` and `Add sharp` (I can try to sneak in the ♯ symbol like we do for note duraitons).

[2022-05-04 16:47] Tantacrul commented on #11517
Was it lost in 3.6? Because I can't see to do it in that build.

[2022-05-04 16:53] DmitryArefiev commented on #9451
It's still an issue on my side. Checked **Arial**, **Tahoma** , **Book Antiqua** on Windows 10, FullHD, 100% scaling.

https://user-images.githubusercontent.com/90187801/166732488-7d8783b1-6837-4cd4-92f7-ac59df4d89fb.mp4

@jessjwilliamson @cbjeukendrup Can you check this again please on your side? (On Windows 10, FullHD display, 100%scaling)

Thanks!

[2022-05-04 16:59] Tantacrul commented on #9459
Confirmed. The keyboard navigation works but the narrator does not describe anything you  move the focus too, which means that blind users will have no idea what is going on.

[2022-05-04 17:06] Tantacrul commented on #9467
I have tested big score (which is a masterpiece, by the way) and rapidly opened and closed the mixer about 100 times and not experienced one crash.

Perhaps time to close the issue?

[2022-05-04 17:32] DmitryArefiev opened #11519 "[MU4 Issue] No sound if to start playback from the begining and score has a rest on the first beat in the first meausure"
**Describe the bug**
No sound if to start playback from the beginning and score has a rest on the first beat

**To Reproduce**
1. Add some notes
2. Add a rest to the first beat in the first measure
3. Start playback from the beginning

https://user-images.githubusercontent.com/90187801/166745725-837789c8-f685-4b04-93e2-c98076a99db1.mp4

**Platform information**
macOS, Windows, Linux

[2022-05-04 18:35] MarcSabatella commented on #11517
In all MuseScore 3 versions, pressing "Q" or "W" immediately after entering a note halves or doubles the duration, thus providing a fix if you forget to change duration before entering a note.  This was changed a few months ago for MuseScore 4 to instead work more like the duration commands in setting duration "preemptively" instead of "retroactively".  It kind of makes sense for consistency, but

[2022-05-04 19:40] the-next-ceo commented on #10879
https://user-images.githubusercontent.com/66167731/166812975-a8439ff4-438c-4d9c-b05e-4352e44a2977.mov

[2022-05-04 20:54] alexpavlov96 commented on #11515
the bug appears only when gp score has tuplets

[2022-05-04 22:24] wizofaus opened #11521 "[MU4 Issue] Shortcuts assignment dialog doesn't detect attempt to assign the same key to multiple commands"
**Describe the bug**
While there is logic to detect that a key combination was previously assigned to a command before bringing up the dialog, once inside the shortcuts assignment dialog you can assign the same key combination to multiple commands without any warnings.

https://user-images.githubusercontent.com/86290556/166860997-d940d2cc-15c3-4bdd-9d08-2fea78b86bbf.mov

**To Reproduce**
Steps to

[2022-05-04 22:27] wizofaus commented on #11474
Have logged https://github.com/musescore/MuseScore/issues/11521.
I thought that "Transpose" wasn't in the list simply because it didn't have a shortcut by default (known bug as mentioned already), but nor does "Go to top staff", which is shown, though it seems to be the only command shown that doesn't have one by default.

[2022-05-04 22:33] wizofaus opened #11522 "[MU4 Issue] Assigning a shortcut to "go to top staff" doesn't appear to work"
**Describe the bug** (Edited by Martin)

1. When the shortcut is triggered it correctly selects the topmost staff but the view does not scroll up so we can see that selection (it does this in MS3). Because the scrolling does not work, the user cannot tell whether the shortcut has worked correctly.
2. It should be renamed to 'Select the top staff'

[2022-05-04 23:07] LaxVox opened #11523 "[MU4 Issue] Counterintuitive UI"
With dark mode enabled and multiple tabs open (different parts of the score for example), the selected tab is a darker gray than the rest and it is super counterintuitive and just wrong, it should be the other way around (the "closer" the item is to the user, the brighter it should be)

[2022-05-04 23:10] LaxVox opened #11524 "[MU4 Issue]Not all VSTs installed are showing up"
When I looked into the VST section in the mixer, only one of my VSTs showed up (the only VST3 version on my machine). Will MU4 not work with VST2 or is it just a work in progress?

Platform: Windows 10

[2022-05-04 23:22] LaxVox opened #11525 "[MU4 Task]More control over colours"
Add a way to easily change the colours of the score (with an ability to invert the score to "dark mode" manually and not to eye-straining white against full black). Allow users to customize colour on more UI elemenst

[2022-05-04 23:30] KaiVinter commented on #11524
MuseScore 4 will only allow to use VST3.
This has been asked before on Discord.

See:
https://discord.com/channels/818804595450445834/818848561047273544/959871100458766406

[2022-05-05 01:00] Majora320 opened #11526 "[MU4 Issue] [TAB] Placing notes with a beam breaks tablature"
To replicate:
- Create a score and add an instrument with tablature, e.g. Electric Guitar (tablature)
- Select a note duration that will create a beam
- Place several notes next to each other

The beam will be offset above the notes by an increasing amount relative to the number of notes placed.

https://user-images.githubusercontent.com/16787503/166849909-b7af7a9e-eeb1-431a-83a4-912060ff7211.mp4

[2022-05-05 02:56] bkunda commented on #11516
I can't actually advise on whether/how this should be re-labelled in the code. Perhaps @MarcSabatella or @cbjeukendrup might have an opinion on this.

But you have made me realise that the word "toggle" should probably be included in the UI label, because this is effectively what the shortcut does. I'm going to correct the issue description to reflect this, but yes the labels in the "Action" list

[2022-05-05 03:13] quinnouyang commented on #11516
To clarify, I added those symbols in the left column.

Are we toggling or just adding? The differences between `sharp` and `sharp-post`, etc. is whether they toggle or just add.

On a UX POV, I kind of found the `+` shortcut a little jarring because it's the only one out of the three that require the `Shift` key. (And_ we're still figiuring out how shortcuts look and work through Preferences...)

[2022-05-05 03:41] bkunda commented on #11516
Oh good. Those symbols are helpful in the left column 👍🏻.

And my mistake 🤦‍♂️. I had actually proposed to use `#` for sharp because `+` is already tied up with...ties.

I'll correct this in the issue description (my apologies for this).

And I take your point about the shift key. It's unfortunately unavoidable: on some keyboards, the user won't need to use shift, and on others, they will. It's a

[2022-05-05 03:49] bkunda commented on #11521
@wizofaus I have updated the issue description with a video to show this issue, as well a visual illustrating the "expected behaviour".

[2022-05-05 03:51] quinnouyang commented on #11516
Oops, forgot to mention that `+` is already the default for ties:D (Though personally, I've set that to `t` in MU3.)

Right, I forget that larger keyboards have an explicit `+` key, etc. The shortcut settings function, but IIRC, defining a shortcut for a symbol that requires `Shift` is currently impossible for the user. I couldn't manually set one to `+` with by using `Shift`+`=`.

`sharp-post` is

[2022-05-05 03:52] MarcSabatella commented on #11516
As far as I know, the difference between sharp and sharp-post *should* be, if you're in note input mode, the former does the same as the toolbar - toggles the state of the button to apply to the *next* note - whereas sharp-post would apply the accidental to the *previously entered* note.  Or more generally, to whatever note is selected.  In normal mode, both commands operate on the selection and

[2022-05-05 04:05] bkunda commented on #11516
If the user needs to use `Shift` to define a shortcut, they can (I've just checked in MS3 and 4 and it is possible in both, although in MS3 using `Shift` to access the `#` just results in `#` being applied. In MS4 the shortcut actually registers both `Shift` and `#`.

[2022-05-05 04:11] bkunda commented on #11497
Seeing as how we've realised implementing this solution properly (assigning the same Instrument ID to multiple staff configurations) is going to add implementation delays, I think it's reasonable to close this task for now. We'll most likely end up replacing it with a task to implement the "ideal" solution of a comprehensive popup in the various instruments dialog.

[2022-05-05 04:11] #11497 closed

[2022-05-05 04:22] quinnouyang commented on #11516
I noticed that MU4 does detect the `Shift` key, but I oddly can't seem to trigger the `#` shortcut unless I hard-code it as `Shift`+`3` (though it works for ties with `+`, hmm...).

For `+` vs `#`, I'm biased towards setting ties to `t` and sharp toggles to `+`. Keeps the `+`/`-` consistency and if anything, I think the `t` shortcut makes more sense for ties (though I haven't tried the shortcut in

[2022-05-05 04:30] bkunda commented on #11516
You know what, this actually makes a lot of sense.

I'd be in favour of doing this. I realise that there might be some backlash from users who are very familiar with the `+` being used for ties. The good thing, though, is that shortcuts can always be changed by the user. What we should be prioritising is logical design that makes the most sense (which `+` and `-` clearly do as opposites of "sharp"

[2022-05-05 04:47] bkunda commented on #11057
I'm not entirely sure we need a dedicated "Advanced" workspace. Given this is, as you say @MarcSabatella, for experienced users, it really isn't difficult to set up your workspace exactly the way you want and save it as your own "workspace" (MS4 makes it really easy to do this).

I do realise it's a bit fiddly, but I wouldn't say it's laborious, and it only needs to be done once per saved workspac

[2022-05-05 05:08] quinnouyang commented on #11057
From a MU3 POV, I'm for Basic and Advanced as I treat Advanced as having basically everything, which makes customizing easier as we'd be offering "two ends of the spectrum" on how many options are visible. I'd rather remove a little than add a lot for my workflow. My stance might be moot for MU4 as adding stuff from the default basic seems really quick.

+1 for default palette order too (though st

[2022-05-05 05:16] bkunda commented on #11057
Thanks @quinnouyang. I definitely take the point about the default palette order.

Canvassing opinions: when adding a palette (using the `Add palettes` button), would it make more sense for that palette to slot in to a default order, or instead should it just go to the bottom of the current list (rather than the top, which is what happens at the moment)?

[2022-05-05 05:16] bkunda commented on #11057
This was, as I understand it, exactly what we wanted 🙂

[2022-05-05 05:26] bkunda commented on #11383
@HemantAntony if you want to have a crack at this, let us know!

[2022-05-05 05:28] HemantAntony commented on #11383
I think @cbjeukendrup already has a PR for this: #11452

[2022-05-05 05:31] bkunda opened #11527 "[MU4 Task] Further minor tweaks to palette layout properties"
**Task description**
This describes a few minor tweaks to the following palettes:

### Beam properties
Default palette properties should be:
Width = 35
Height = 33
Element offset = 0sp
Scale = 1.4
Show grid = ON

<img width="294" alt="Screenshot 2022-05-05 at 3 23 56 pm" src="https://user-images.githubusercontent.com/86290556/166867889-8bcd9b9f-3fd5-4852-b0e9-330f19e5edd9.png">

### Key signatures

[2022-05-05 05:32] HemantAntony commented on #11527
Working on it

[2022-05-05 05:32] bkunda commented on #11383
And so he does. I failed to see that 🤦‍♂️
I sent you another one @HemantAntony https://github.com/musescore/MuseScore/issues/11527

[2022-05-05 05:54] HemantAntony commented on #11527
@bkunda Do you want me to change the magnification of AUTO? It looks too zoomed in
![image](https://user-images.githubusercontent.com/88136054/166869413-a837f96e-0ba3-4470-9ef8-7b144d752f45.png)

[2022-05-05 07:04] Jon0 commented on #11220
I had the same problem, try running `aplay --list-devices --list-pcms`
Find the 'default' device in the list (since musescore attempts to open 'default') it should look like

`default
    Default ALSA Output (currently PipeWire Media Server)`

For me on arch linux it didn't work until uninstalling pulseaudio-alsa which removes `/etc/alsa/conf.d/99-pulseaudio-default.conf` maybe see what package ow

[2022-05-05 07:55] bkunda commented on #11527
It should match as closely as possible to what I've provided in the attached image (all of these look like they're scaled up too much)

[2022-05-05 08:11] Tantacrul commented on #11516
I don't have a giant objection. I agree 't' for ties makes sense.

One thing: we need to be able to set a natural too, so it can cancel sharps/flats in a key. We can't rely on something like pressing the sharp or accidental shortcut twice.

[2022-05-05 08:17] #11524 closed

[2022-05-05 08:30] bkunda commented on #11516
I have `=` proposed for naturals. But do let me know if you have a better suggestion 🙂

Let's go with `+` for sharps and `t` for ties then. I'll update the issue description (again)!

[2022-05-05 08:56] Tantacrul commented on #11516
Hm. Maybe that's an ok compromise. OK. Yeah, makes sense.

[2022-05-05 09:40] EB2000 commented on #11220
Hmm, indeed I currently have in the output of the `aplay` command:
[code]
The file `/etc/alsa/conf.d/99-pulseaudio-default.conf ` is owned by the `alsa-plugins-pulseaudio` package on fedora. When I remove that package, I know have, from aplay:
[code]
... and sound is working with Musescore 4!

Still, the `alsa-plugins-pulseaudio` package in firefox (and, I guess `pulseaudio-alsa` on arch) are inst

[2022-05-05 09:55] DmitryArefiev commented on #10879
@the-next-ceo  Thanks for fixing!

[2022-05-05 09:55] DmitryArefiev commented on #10879
Fixed in #11314

[2022-05-05 10:21] bkunda commented on #11516
@quinnouyang This is ready to go 👍🏻

[2022-05-05 10:23] bkunda commented on #11517
Moving this task to MuseScore 4.X as there remain other more pressing tasks to complete for the MuseScore 4 release.

[2022-05-05 10:40] bkunda commented on #11527
@HemantAntony I've added two more tiny things to the task description (see "bagpipe embellishments" and "time signatures") 🙂

[2022-05-05 10:43] jessjwilliamson opened #11528 "[MU4 Issue] Inconsistent scrollbar in pallettes"
**Describe the bug**
A strange scrollbar bug when scrolling through 'Bagpipe embellishments' in palettes. This specific category has the longest vertical list which causes strange scrollbar behaviour.
So far only tested using a mouse wheel, unsure about the trackpad yet.

**To Reproduce**
Steps to reproduce the behaviour:
1. Go to pallettes
2. Click on 'Bagpipe embellishments' and expand the categ

[2022-05-05 10:47] #10633 closed

[2022-05-05 10:54] bkunda opened #11529 "[MU4 Issue] Further palette items appear "greyed-out""
**Describe the bug**
Four of the palette items in the "Text" palette are being rendered in a light grey colour, instead of our standard `font_primary–colour`. These are:

- S/A
- T/B
- T/L
- B/B

<img width="404" alt="Screenshot 2022-05-05 at 8 48 36 pm" src="https://user-images.githubusercontent.com/86290556/166909014-f4adab1d-e176-4d5a-9516-cfa1220a336e.png">

Note this issue likely connects to

[2022-05-05 11:24] DmitryArefiev commented on #9467
I've tried on Win and Mac and **still have the crash on Mac** (M1 laptop)

https://user-images.githubusercontent.com/90187801/166913203-dda55222-dddd-4b7b-99a7-1d4a56b1b792.mov

Maybe let's just low the priority to P3 and move to Beta 2? (since it's not regular workflow to open Mixer several times so quickly)

[2022-05-05 11:28] MurdoMaclachlan commented on #11220
On my system there is a `99-pulseaudio-default.conf.example`, but no actual in-use `99-pulseaudo-default.conf`. Running `aplay --list-devices --list-pcms` doesn't show any `default` entry at all. 🤔

[2022-05-05 11:29] DmitryArefiev commented on #9451
@boryskuzmenko Can you check this on your side please? (Windows laptop)

[2022-05-05 11:32] poypoyan opened #11530 "[MU4 Issue] Palette properties dialog - Problems clicking and scrolling"
**Describe the bug**
While working on #11384, I found out that clicking the up and down button on "width" spinbox in Palette properties dialog seems to also 'activate' the "scale" spinbox! For all spinboxes, scrolling can only be done once per focus. This suggests a bug in focus.

This is likely to be P3, so I'll try to fix this.

**To Reproduce**
Steps to reproduce the behavior:
1. Go to Palettes

[2022-05-05 11:42] bkunda opened #11531 "[MU4 Issue] Several problems with playback of ornaments"
**Describe the bug**
Aside from the known issue that ornaments are being played back chromatically rather than diatonically (see #10986), all ornaments seem to be playing at approx. half their usual speed (when compared with MS3.6).

Further, some ornaments don't play back at all.

There's also an additional issue where subsequent non-ornamented notes are being cut short (almost _staccato_) if the

[2022-05-05 11:45] Tantacrul commented on #9451
Thing is, we're no longer using Fira sans. We should update the issue. It's Segoe on Windows and SF Pro on mac.

![image](https://user-images.githubusercontent.com/21022311/166916241-554b9fa5-590a-4bae-a525-209bbf857b17.png)

So, I've tested Arial, Tahoma and Georgia (because I don't have Book Antiqua on this machine) on Windows:

Arial:
![image](https://user-images.githubusercontent.com/21022311/

[2022-05-05 11:47] Tantacrul commented on #9451
Curios for others to share their experience. I wonder what is specifically causing it to fail on your machine @DmitryArefiev ?

[2022-05-05 11:54] MarcSabatella commented on #11057
I think there should be a logical default order when adding the predefined palettes that are missing.  Otherwise it takes that much longer to get a reason environment set up.

As for the advanced work space being for “experienced” users, I don’t mean the top 1% most expert users.  I mean the average user who  even using MuseScore for a month or more and has moved beyond “Mary Had A Little Lamb” an

[2022-05-05 12:09] DmitryArefiev commented on #9451
@Tantacrul Yeah, curious to know too.. BTW what display resolution, scaling and Windows version you have?

[2022-05-05 12:30] bkunda commented on #11525
I'm not sure I fully understand the request here. If you have a specific part of the UI that is concerning, then please identify it (preferably with screenshots).

MuseScore 4 does have very carefully designed dark, light, and high contrast modes, and offers the facility to change the background and paper colours to virtually anything the user wants (See Preferences > Appearance). All of the colou

[2022-05-05 12:30] #11525 closed

[2022-05-05 12:49] bkunda commented on #11523
I'll respond to each of these in turn:
1. I think you'll find that the selected part tab is actually lighter than other tabs

![tab-color-demo](https://user-images.githubusercontent.com/86290556/166925619-5c7da295-b24e-405e-981e-c1d9c72f4438.gif)

2. This menu is a design pattern replicated for all dock-able panels throughout the app. For consistency's sake it's important to keep it the way it is.

[2022-05-05 12:53] bkunda commented on #11525
It's an intriguing idea to be able to customise the note and stave colour. I don't want to suggest ruling this idea out completely, but it is such a fine level of customisability that we can't factor it in to the MS4 release I'm afraid (we simply have too many other far more pressing issues to implement and test).

[2022-05-05 13:07] DmitryArefiev commented on #10497
Tested in master build (Win10, Mac12, LinuxMint 20.2) - FIXED in #11280

[2022-05-05 13:19] Tantacrul commented on #9451
![image](https://user-images.githubusercontent.com/21022311/166931496-86e009e5-cdb6-4b17-b734-812f12371448.png)

[2022-05-05 13:19] Tantacrul commented on #9451
[image: image.png]

On Thu, May 5, 2022 at 1:09 PM DmitryArefiev ***@***.***>
wrote:

[2022-05-05 13:25] HemantAntony commented on #9451
@DmitryArefiev I can't reproduce. I'm on Windows 11
![image](https://user-images.githubusercontent.com/88136054/166932730-da10e6d1-45e1-4b75-9053-f37983bb45bd.png)

[2022-05-05 13:40] jessjwilliamson commented on #9451
The initial issue was that the 'bold' was using the Semibold option, which is what we were using as our textfields in Figma, and Fira Sans had semibold, but other fonts like Arial Tahoma etc. didn't have semibold. So fonts that didn't have that Semibold option, it used to go to Regular, which I pointed out to Casper and make that if there is no Semibold in a font, make that into normal Bold instea

[2022-05-05 13:48] Tantacrul commented on #11525
Also, the score **can** now be inverted in preferences

[2022-05-05 13:51] HemantAntony opened #11532 "[MU4 Issue] Section of Font face in Preferences goes blank"
**Describe the bug**
Under the right conditions, a part of the font face dropdown go blank on scrolling

**To Reproduce**
Steps to reproduce the behavior:
1. Go to Preferences
2. Click on the dropdown near Font face
3. Scroll down fast and then suddenly scroll up
4. You will be able to see a blank space

**Expected behavior**
Font face dropdown should not have blank sections

**Screenshots**

http

[2022-05-05 13:55] DmitryArefiev opened #11533 "[MU4 Issue] Project Properties - Worktitle and Creation date fields don't save data properly"
**To Reproduce**
1. Add some text to **Worktitle** - click OK
2. Reopen Project Properties  - **text doesn't save** (BUG1)
3. Add some text to **Creation date** - click OK
4. Reopen Project Properties  - **field is empty** (BUG2)

https://user-images.githubusercontent.com/90187801/166938708-50e005d9-3faf-4196-a6f0-f23fbc1f0a93.mp4

**Platform information**
macOS, Windows, Linux

**Additional conte

[2022-05-05 14:03] #10522 closed

[2022-05-05 14:22] jeremy-donson opened #11535 "Supporting All Open Source Contribution Types"
I live in NYC and represent dozens of music educators at a wide variety of institutions.

They hope to do the following with v4.x:
- Demonstrate how to contribute to this open source project in a variety of ways. => WE ARE HERE
- Show their students how to to use the software, including upgrading and testing existing 3.x files.
- Show their students how to collaborate with the software (likely via

[2022-05-05 14:37] jeremy-donson commented on #11535
I was asked to clarify the terms of technical testing vs edu testing.

Technical testing:  Goes to how to ensure that the software app is working as desired.
=> The goal here is excellent tech collab when building the tools together.

Edu testing:  This would focus on techniques for how musicians and teachers to use the software, in particular for collaboration.  Simplest examples are indispensabl

[2022-05-05 15:14] jeremy-donson commented on #11535
The structure of a tutorial needs some work:
https://musescore.org/en/tutorials

[2022-05-05 16:07] boryskuzmenko commented on #9451
Can't reproduce this issue. Bold works on each font.

[2022-05-05 16:16] Tantacrul commented on #11535
Just closing this issue because it is not a bug and not actionable. However, welcome!

I think we're going to turn on GitHib discussions and then move this there, since it's obviously a better place.

[2022-05-05 16:16] #11535 closed

[2022-05-05 16:17] jeremy-donson commented on #11535
Github discussions are MUCH better fr this.  Thx!

[2022-05-05 16:26] Tantacrul commented on #11526
Weird. I'm unable to replicate this on MacOS.
<img width="1198" alt="image" src="https://user-images.githubusercontent.com/21022311/166968940-30cd48fc-acee-49d2-92ca-7a9ca3fb77e2.png">

[2022-05-05 16:27] LaxVox commented on #11523
1. I don't know if it is like that only for me, but on my windows 10 machine it is just as I described:

https://user-images.githubusercontent.com/88057538/166969283-77c11bd5-8add-4f56-92fd-4446fc2040c2.mp4

[2022-05-05 16:29] Tantacrul commented on #11535
Please don't whine at us on GitHub. Discussion on Discord please.

[2022-05-05 16:31] shoogle commented on #11535
Hi @jeremy-donson, so many questions! It's great that you are keen to help. The best way to do so is to try to work things out for yourself as much as you can, and where you cannot, try to raise a straightforward question or propose a single actionable point.

**This point is actionable:**

I'm happy to add this note. I have now done so at https://musescore.org/en/contribute under the Development

[2022-05-05 16:34] bosshog223 commented on #11526
![image](https://user-images.githubusercontent.com/102619153/166970491-cf572925-dd28-4be9-8b4c-fed75cd73b32.png)

im unable to replicate in windows 10

[2022-05-05 16:35] shoogle commented on #11535
Hi @jeremy-donson, so many questions! It's great that you are keen to help. The best way to do so is to try to work things out for yourself as much as you can, and where you cannot, try to raise a straightforward question or propose a single actionable point.

**This point is actionable:**

I'm happy to add this note. I have now done so at https://musescore.org/en/contribute under the Development

[2022-05-05 16:35] Tantacrul commented on #11535
@shoogle - we didn't actually discuss this, so sorry for the sudden change but @vpereverzev and I have been thinking for a while that Discussions should be opened so we can move non-actionable issues there and also provide another place for open discussion.

I think discussions are better for initiatives that we want to keep track of, whereas Discord is often better for general immediate chat.

Ho

[2022-05-05 16:36] #11488 closed

[2022-05-05 16:43] Majora320 commented on #11526
I'm on Linux, maybe it's platform specific? Also make sure whatever build you're using has 0e33327, I'm not sure if that commit has made it into the nightly yet.

[2022-05-05 16:48] Tantacrul commented on #11526
Perhaps @DmitryArefiev or @shoogle could see if they can replicate it?

[2022-05-05 16:56] HemantAntony commented on #11526
@Tantacrul I can reproduce on Windows 11

[2022-05-05 16:56] boryskuzmenko commented on #11526
It's reproducible on Linux

[2022-05-05 17:00] Tantacrul commented on #11526
Can you specify the exact steps? What instrument did you add, etc?

I feel I should be able to reproduce this.

[2022-05-05 17:02] boryskuzmenko commented on #11526
Use the last master build
https://user-images.githubusercontent.com/101250347/166975099-9bce3d7f-57d6-4487-85e6-bd0e7e326740.mov

[2022-05-05 17:02] jessjwilliamson commented on #11523
This has been recently updated so I'd suggest you download the latest nightly build

[2022-05-05 17:15] Jojo-Schmitz commented on #11516
No, on a German (QWERTZ) keyboard it doesn't.
On NumPAD it doesn't either, independant of language and keyboard layout

That seems fine to me, but does require Shift (on a German QWERTZ keyboard)

# for sharp and b for flat makes more sense IMHO. b might not work though as it is used as a notename, - would work.

t for tie makes sense in English, but not most other languages, + seems far more univ

[2022-05-05 18:32] Tantacrul commented on #9638
Although I agree. I think we should move this issue to 4.x. Moving there now.

[2022-05-05 18:34] Tantacrul commented on #9680
I think we should bump this to 4.x

@vpereverzev - if you think there is a bigger issue to solve here, let me know and I'll reopen for 4.0

[2022-05-05 18:37] Tantacrul commented on #11526
OK, confirmed in the latest master:
<img width="1046" alt="image" src="https://user-images.githubusercontent.com/21022311/166997335-cf63d209-cf8b-4b58-af70-b9c534cfab27.png">

[2022-05-05 18:39] #9521 closed

[2022-05-05 18:39] Tantacrul commented on #9522
I believe this issue has been resolved with the completion of the core Mixer UI work. Closing.

[2022-05-05 18:39] #9522 closed

[2022-05-05 18:40] Tantacrul commented on #9530
Closing issue, since it isn't actionable.

[2022-05-05 18:40] #9530 closed

[2022-05-05 18:42] Tantacrul commented on #9481
@DmitryArefiev - does this issue still persist?

[2022-05-05 18:44] Tantacrul commented on #8933
@shoogle - can we close this and move to 4.x safely, do you think?

[2022-05-05 18:46] Tantacrul commented on #9640
I'm moving this to 4.x

[2022-05-05 18:46] Tantacrul commented on #9543
Moving to 4.x

[2022-05-05 18:46] #9543 closed

[2022-05-05 18:47] Tantacrul commented on #9546
Again agree. Moving to 4.x because we won't have time to implement and test this now.

[2022-05-05 18:47] #9546 closed

[2022-05-05 18:47] #11517 closed

[2022-05-05 18:50] Tantacrul commented on #9594
Hey @DmitryArefiev - this seems to be working for me now. Can you recheck and reopen if needed?

[2022-05-05 18:50] Tantacrul commented on #9604
This has been noted in three other bugs... and they've all been moved to 4.x. Closing until then.

[2022-05-05 18:50] #9604 closed

[2022-05-05 18:51] Tantacrul commented on #9605
We've made some improvements to drop shadow and have a separate task for it now. Closing this issue.

[2022-05-05 18:51] #9605 closed

[2022-05-05 18:55] Tantacrul commented on #9622
This was fixed last week, thankfully!

[2022-05-05 18:55] #9622 closed

[2022-05-05 18:57] Tantacrul commented on #9667
This is an extremely frustrating issue. With zoom it's bad enough, but with copy and paste, it is terrible. I'm assigning a p1 for this because copy and paste is so core to notation apps.

[2022-05-05 18:57] Tantacrul commented on #9682
I think we should close this. It seems nice as is.

[2022-05-05 18:57] #9682 closed

[2022-05-05 19:31] boryskuzmenko opened #11539 "[MU4 Issue] [GP] Tuplets are placed far from corresponding notes on standard and TAB staves"
**To Reproduce**
Steps to reproduce the behavior:
1. Open test GP score on MU4
[test tab for MU4.gp.zip](https://github.com/musescore/MuseScore/files/8635426/test.tab.for.MU4.gp.zip)
2. Pay attention to the tuplets placement in the second measure

**Screenshots**
![Capture 2022-05-05_10-18-58_PM](https://user-images.githubusercontent.com/101250347/167010941-4ffd24ed-75d3-48b4-acdc-40e0e8085648.png

[2022-05-05 20:15] boryskuzmenko opened #11540 "[MU4 Issue] [GP] 'Slide in' and 'Slide out' marks are not rendered in MU4 after importing"
**Describe the bug**
Slide marks to fix:
- Slide in from below
- Slide in from above
- Slide out downwards
- Slide out upwards

**To Reproduce**
Steps to reproduce the behavior:
1. Open test GP file in MU4
[test tab for MU4.gp.zip](https://github.com/musescore/MuseScore/files/8635775/test.tab.for.MU4.gp.zip)

2. Pay attention to the 13-14 measures

**Screenshots**
![Capture 2022-05-05_11-12-52_PM]

[2022-05-05 20:32] Tantacrul commented on #9037
Uploading 01_Beam_Height_Settings_Not_Working_in_Inspector.mov…

Also adding this here, since I'd imagine beam height parameters and 'force horizontal' functionality in the inspector should be fixed together.

For example, if changing force horizontal, it will affect the values in the text fields here. Elevating to P0 because this is non-functional.

[2022-05-05 20:39] Tantacrul commented on #9718
@DmitryArefiev - is this still happening?

[2022-05-05 20:43] Tantacrul commented on #9697
Agree we should do this. It looks weird and broken to have it zoomed out and moved to the left of the screen.

[2022-05-05 21:06] MarcSabatella commented on #9697
Not sure what happened to the comments here, but *please* look at the history behind this.  I personally prefer it centered as well, but there are very strong arguments for alternatives and some way should be found to accommodate them.

[2022-05-05 21:22] shoogle commented on #8933
@Tantacrul, I guess this is really two issues:

1. **Align the shortcut on the right.**
    - This is a matter of taste really so certainly not urgent.
2. **Prevent clipping of descriptions.**
    - This is a bit janky (see [screenshot](https://user-images.githubusercontent.com/11011881/130942853-25cf9360-8d3d-4114-ad66-75765da74bb4.png)) but it happens rarely and doesn't affect anything functiona

[2022-05-05 22:01] wizofaus commented on #9037
My comment explained what I'd found while trying to investigate why this wasn't working, which is likely to be useful to whatever developer takes this on, so I'm not sure why it got deleted?

[2022-05-05 22:35] Tantacrul commented on #9697
If someone feels strongly that the app should look wrong when a score opens, despite everyone who I know who has sense thinking the opposite, they can continue using 3.6

All 2 of them.

[2022-05-05 22:35] Tantacrul commented on #9697
I deleted the comments because I'm trying to unconfuse our developers and reduce cognitive load.

[2022-05-05 22:39] Tantacrul commented on #8933
Yeah, I guess that second one needs fixing. Cheers.

[2022-05-05 23:20] MarcSabatella commented on #9697
This is not what anyone has said.  Please, listen to our users to understand their concerns.  It has to do with use cases where you want the score close to the palette to minimize mouse motion, and there would be ways of designing a solution that allows for that while still allowing the default to center.  It’s OK to decide not to implement such a solution for 4.0. It’s not OK to delete all eviden

[2022-05-05 23:27] Tantacrul commented on #9697
I must say, that is completely ridiculous. Utter and total nonsense, actually. Sorry. I just don't know what else to say.

It's basically a theoretical or outright fake 'concern' raised to be a nuisance.

[2022-05-05 23:32] Tantacrul commented on #9697
Closing comments and removing the last few to keep the task simple.

[2022-05-06 05:58] the-next-ceo commented on #11532
In mac, the blank section does not exist but yeah the problem with the duplicate scroll bar do exist.

[2022-05-06 07:40] bkunda commented on #11516
I don't think we're going to win on all fronts here @Jojo-Schmitz. What's optimal in one case invariably effects something else. Hopefully we've settled on here will be a reasonable compromise for default behaviour. Beyond this, it is always available to the user to make their own changes according to their preferences and setup 🙂

[2022-05-06 07:55] donarturo11 commented on #11499
I propose do not close this issue yet because while trying paste entire score in half-value, yet crashes (SIGABRT signal). I'll yet check, where yet is any possibility of division by zero. Finally I'll try totally fix this issue.

[2022-05-06 08:02] Tantacrul commented on #11499
Oh, there's no chance of this one being closed! Don't worry.

[2022-05-06 08:39] Jojo-Schmitz commented on #11516
Well, I'm not sure changing these long-term-finger-memory shortcuts is the way to go at all.

[2022-05-06 09:39] HemantAntony commented on #11532
There are no correct instructions to reproduce this. Maybe you might not have done the correct things. But I think it does exist since Tantacrul assigned and added labels

[2022-05-06 11:03] DmitryArefiev commented on #8605
Fixed in #11366

[2022-05-06 11:15] cbjeukendrup commented on #9451
I also tested it once more on my Parallels Windows, and it works fine, even for Edwin that has no semibold version. Maybe the bold version is somehow not correctly installed on @DmitryArefiev's computer?

[2022-05-06 11:28] #11243 closed, assigned to Eism

[2022-05-06 11:36] DmitryArefiev opened #11548 "[MU4 Issue] Preferences>Appearance>Font face dropdown UI issues"
The remaining minor issues from #11366

 https://github.com/musescore/MuseScore/pull/11366#issuecomment-1119510212 :

1. Once clicking on the drop down, a single frame flashes before seeing the current font being selected. Focus on it and notice (Windows only)

https://user-images.githubusercontent.com/90187801/167123895-0d4f13c1-f9df-4579-880e-9e9f39266adc.mp4

2. Drop shadow looks off, there is

[2022-05-06 11:44] DmitryArefiev commented on #9718
@Tantacrul Yes, still occurs in latest master

[2022-05-06 11:56] boryskuzmenko commented on #10311
**FIXED**
Tested on macOS 12, Win 11, Ubuntu 20

[2022-05-06 12:05] #10311 closed

[2022-05-06 12:16] #10677 closed, assigned to nobody

[2022-05-06 12:45] Tantacrul commented on #9451
Do you have a pirated copy of Arial, @DmitryArefiev? 😆

[2022-05-06 13:00] bkunda opened #11549 "[MU4 Issue] Reinstate drag-and-drop interaction for SoundFont installation"
**Describe the bug**
In MS3.6, it was possible to install a SoundFont by dragging and dropping it into the main score window. This interaction has been lost in MS4 and is therefore a regression.

**To Reproduce**
Steps to reproduce the behavior:
1. Drag and drop a SoundFont into the MuseScore 4 main window
Nothing happens

**Expected behavior**
This interaction should work as per MuseScore 3.6 (se

[2022-05-06 13:05] DmitryArefiev commented on #9451
@Tantacrul Ahhh.. Don't think so😜

Let's close this one and reopen if someone else can reproduce it! :)

@cbjeukendrup I think I just like to setup my OS with turning off some graphical settings, using 100% scaling and small text size everywhere in OS. I've tried to change those settings to default but still no success to find the root cause..

[2022-05-06 13:06] DmitryArefiev commented on #9451
Closing

[2022-05-06 13:06] #9451 closed

[2022-05-06 13:27] DmitryArefiev commented on #9594
@Tantacrul Yes, the same on my side (master build on Win10, Mac12, LinuxMint 20.2)

[2022-05-06 14:53] DmitryArefiev opened #11550 "[MU4 Issue] MU doesn't see VST on Linux Mint (u-he Zebra2)"
**Describe the bug**
A short and clear description of what the bug is.

**To Reproduce**
1. Install Linux Mint 20.2 Xfce Edition (from linuxmint.com)
2. Install VSTi from https://u-he.com/products/zebralette/
3. Open MU (use master build from GitHub and not local build)
4. Run MU
5. Open a score and mixer

Old build shows VST available:
![Screenshot 2022-05-06 20_28_30](https://user-images.githubu

[2022-05-06 14:57] DmitryArefiev commented on #9481
@Tantacrul It's blocked for testing now #11550.. I would like to recheck the current issue when VST will be available on Linux

[2022-05-06 15:07] DmitryArefiev opened #11552 "[MU4 Issue] No any instrument to choose in New Score or Instruments dialog windows"
https://user-images.githubusercontent.com/90187801/167160707-7b486d08-4e80-4ef3-acac-1b2b8c43140a.mp4

**Platform information**
macOS, Windows, Linux

**Additional context**
Recent builds

[2022-05-06 15:21] #11527 closed

[2022-05-06 15:32] Lucretia opened #11553 "[MU4 Issue] CMake files are still referencing ```PKGCONFIG1``` which is no longer in the repo."
**Describe the bug**
Cannot build on Linux. I'm trying to build git HEAD on Gentoo. I have cpoied over muscore-999.ebuild to a local overlay and modified it to add VST support.

**To Reproduce**
Steps to reproduce the behavior:
1.emerge -av media-sound/musescore
2. See error:

[code]

Grepping for that:

[code]

That cmake file has been removed.

**Expected behavior**
To build properly

**Platform

[2022-05-06 16:01] DmitryArefiev commented on #11461
Hi! @sammik @cbjeukendrup I've tested this issue in #11470 - it **looks good** (macOS, Windows, Linux)

[2022-05-06 16:04] #11461 closed

[2022-05-06 17:02] HemantAntony commented on #11532
@the-next-ceo Actually I updated the steps to reproduce now. Turns out I was doing something and I did not realise it

[2022-05-06 17:29] the-next-ceo commented on #11532
https://user-images.githubusercontent.com/66167731/167182290-5087294f-641c-484e-ba85-a7d8fdcf48d3.mov

@HemantAntony see i tried to follow ur steps (scrolling fast up&down) but I didn't observe any of the mentioned issue.

[2022-05-06 18:29] DmitryArefiev commented on #7879
Fixed in #10757

[2022-05-06 23:28] cbjeukendrup commented on #11501
@quinnouyang So the problem is that the header takes more space than it needs, and therefore it looks like there is too much spacing.
To fix this, I would propose to do the following in ExpandableBlankSection.qml (which is the file for the header):
- in `expandSectionRow`, add `height: titleLabel.implicitHeight`
- in `expandButton`, add `anchors.verticalCenter: parent.verticalCenter`

This will ma

[2022-05-07 00:06] cbjeukendrup commented on #11493
@Majora320 @Tantacrul This should be fixed with PR #11322. Could you confirm this?

[2022-05-07 00:48] Majora320 commented on #11493
No, that doesn't fix it, unless there's been some changes since this bug was logged that didn't show up. In the original bug I noted that I tested with that PR, but  it looks like that got left out when my message was edited.

[2022-05-07 02:52] MarcSabatella commented on #11493
Perhaps obvious, I would assume it’s order-dependent.  That when creating a range selection by click of one note followed by shift+click of another, it matters whether you start on the left or the right - last note clicked wins.

[2022-05-07 08:17] Tantacrul commented on #11493
'Last click wins' was what I noticed in the original issue too.

[2022-05-07 12:24] HemantAntony commented on #11502
@bkunda I finally finished polishing 😄

Also there was a similar bug when you applied by clicking a note and then just clicking the Change inst. Palette Cell instead of dragging

[2022-05-07 13:31] Tantacrul opened #11559 "Narrator on MacOS no longer working - breaks keyboard navigation"
**Describe the bug**
This is a very recent regression from previous versions of MS4 (from last week or the week before).

- Keyboard navigation works until you turn on the narrator, at which point it stops functioning properly. It seems to keep selecting options that aren't in view and it is impossible to navigate to the right menu item.

https://user-images.githubusercontent.com/21022311/16725659

[2022-05-07 17:33] Yanko64 opened #11562 "[MU4 Issue] shortcuts don't work if your keyboard is in another language"
this is also an issue on MuseScore 3, but I thought I'd bring it up here.
when I forget to switch my keyboard language from Hebrew to English, I cannot use shortcuts in the program (I don't know if this also applies to other languages that don't use the Latin alphabet).
This doesn't happen to me in other programs.
it's not a big deal to solve this, as the program is still useable without fixing th

[2022-05-07 19:53] Tantacrul commented on #11562
If it's an existing problem, I'm going to bump this to 4.x

Don't worry, by closing the comment, I'm not ignoring it. Just placing it somewhere else where we can consider it during the next release planning. Thanks!

[2022-05-07 19:54] Tantacrul commented on #11522
Can you possibly convert this to a set of expected behaviour. It's hard to understand.

Title: It's not working
Description: Well, it _is_ working, etc.

[2022-05-07 20:35] Tantacrul commented on #11552
Confirmed on both my Mac and PC

[2022-05-07 20:40] Tantacrul commented on #9747
@oktophonie - is this one we think is fixed in MS4? Or will we (as I suspect) need to wait for MuseScore.com uploads before knowing?

[2022-05-07 20:41] Tantacrul commented on #9754
This is legit but I think I'm going to bump it to 4.x.

[2022-05-07 20:41] #9754 closed

[2022-05-07 20:42] Tantacrul commented on #9757
@DmitryArefiev - does this still persist?

[2022-05-07 20:47] Tantacrul commented on #9771
@oktophonie - I'm not sure how to prioritise this or whether we expect it to be an MS4 issue. Any advice?

If we think these kinds of issues are 3.6.2 backend specific, then I'll create a new designation for that, so we can remove them from the 4.0 list.

[2022-05-07 20:49] Tantacrul commented on #9778
@oktophonie - I've added a P2. Don't know if we want to solve it for 4.0. If you think we can bump it to 4.x, let's do so.

[2022-05-07 21:00] Tantacrul commented on #9785
Hey Dmitri, I'm unable to reproduce this on Windows. Is it still happening for you?

[2022-05-07 21:00] MarcSabatella commented on #9778
I could be confusing this with something else, but I do seem to recall the interpretation of a few distance like this having changed some years ago.  Like originally it measured from the right edge of the first barline to the left edge of the second, but then it was changed to measure the distance left to left or center to center.  Perhaps related to the changes necessitated when we adopted SMuFL?

[2022-05-07 21:03] Tantacrul commented on #9796
I've tried this on Windows 10 and I can't reproduce...

Dmitri, I'll close (since there has been a lot of work done on export since) but reopen if you think it's needed!

[2022-05-07 21:03] #9796 closed

[2022-05-07 21:06] quinnouyang commented on #11501
@cbjeukendrup The icons take up that vertical space rather than (just) the text, so your fix doesn't seem to work.
@bkunda The Figma templates don't have these icons and we don't notice the true dimensions of these buttons, so it's easy to focus on the gap. On a broader note, I'm doubtful of the validity of the design goal: closing the gap seems nice, but I'm guessing it'll make some buttons touch

[2022-05-07 21:11] Tantacrul commented on #9807
@cbjeukendrup - can you amend this as needed and add a P number as you see fit!

[2022-05-07 21:31] quinnouyang commented on #11522
@Tantacrul I think they're specifying three things:
- It correctly* selects the left-most element of the selected measure (if none selected, then of the entire score in the topmost staff). E.g. Select a note/rest on beat 3 of a 4/4 measure; the shortcut selects the element on beat 1. Or select nothing; the shortcut selects the element on beat 1 on the first staff.
- *Expected behavior is not clear

[2022-05-07 22:05] MarcSabatella commented on #11522
No, I don’t thinks that it at all.  “Go to top staff” is a command that literally moves the cursor/selection to the top staff of your score.

The main bug here is that if you try to assign a shortcut to this command, it doesn’t work.  The dialog allows you to add the shortcut and hit OK.  But if you try to use the shortcut, nothing happens.

The strange part of the the bug is that the command show

[2022-05-07 22:14] Eism commented on #11559
@Tantacrul
Make sure you don't have quick navigation enabled
This mode is currently not supported in MU4

<img width="886" alt="image" src="https://user-images.githubusercontent.com/10116828/167273403-5548eaf2-42c3-499d-8e5c-2da3f0e0e252.png">

[2022-05-07 23:49] cbjeukendrup commented on #9807
I’m not assigning anyone specifically for now, because this will likely be tackled in several steps by multiple developers, and also community members may want to help. But it is on the radar!

[2022-05-08 01:13] wizofaus commented on #11522
My description is as stands, but at least after restarting MuseScore, the shortcut key *does* work (I have observed occasions where you need to restart MuseScore for newly-assigned shortcut keys to start working), it's that the behaviour isn't really what I'd expect (particularly wrt not scrolling the selected note into view).

I agree there are multiple (related) issues here, but personally if I

[2022-05-08 01:54] wizofaus opened #11565 "[MU4 Issue] "Reset preferences" doesn't reset all preferences (e.g. advanced), no confirmation"
**Describe the bug**
The "reset preferences" doesn't appear to reset all preferences, e.g. any voice colours, despite giving no indication that it shouldn't apply to all preferences.  In fact it appears it requires closing and reopening the dialog to see that it has actually taken effect.
Further, there's no confirmation before doing this operation, which is not undoable, potentially meaning prefe

[2022-05-08 06:11] Eism commented on #11532
@HemantAntony
I also can't reproduce on master

[2022-05-08 07:37] #11553 closed

[2022-05-08 09:18] Tantacrul commented on #11522
- So, when assigning the shortcut for the first time, it doesn't work. Requires restart
- When it selects the measure and beat that it does, you think the page should also scroll to the top so we can see the selection (which seems like a no-brainer to me too).

Is that it? If so, I'll take the shortcut assigning bit and add it to my uber shortcut bug because I'm pretty sure it's relevant to that.

[2022-05-08 09:32] Tantacrul commented on #11559
Thanks @Eism - I had not got the memo about this. I've written a **big** note to myself to include this in documentation

[2022-05-08 09:32] #11559 closed

[2022-05-08 09:34] wizofaus commented on #11522
I was unable to replicate the shortcut assignment not working the very first time,  but if Marc observed it then it may well be an issue still and wouldn't surprise me.

Get Outlook for Android<https://aka.ms/ghei36>
________________________________
From: Tantacrul ***@***.***>
Sent: Sunday, May 8, 2022 7:18:19 PM
To: musescore/MuseScore ***@***.***>
Cc: wizofaus ***@***.***>; Author ***@***.***>

[2022-05-08 10:06] Tantacrul commented on #11522
I've amended the bug to focus on fixing the scrolling. I don't have a suggestion for the correct keybinding. However, I think we should allow shortcuts (in future) to be there but to not automatically be bound to a key.

I couldn't replicate the problem of assigning (on MacOS) but since both you and Marc experienced it, I'd be certain it's part of the overall issue I logged here: #11474

[2022-05-08 10:06] Jojo-Schmitz commented on #9747
This might meanwhile be an issue with 3.6.2_backend_musicxml rather than 3.6.2_backend and as such no longer actual?

[2022-05-08 10:07] Jojo-Schmitz commented on #9771
This might meanwhile be an issue with 3.6.2_backend_musicxml rather than 3.6.2_backend and as such no longer actual?

[2022-05-08 10:12] Tantacrul commented on #11565
Agree:

1. Preferences should show the reset values without needing to be closed and reopened.
2. All preferences should be reset
3. A confirmation dialog should be shown when a person chooses to reset all preferences.
**Are you sure you want to reset all preferences? This action cannot be undone.**
[Cancel] [Reset]

(no need for a 'don't ask me again' tickbox in this case. It's better to always a

[2022-05-08 10:47] Tantacrul commented on #9919
I've made this a P2 because users of MS3 will be confused if they see the cursor indicate that something can be resized... and will think it's broken when they find out it can't be.

[2022-05-08 10:50] Tantacrul commented on #9893
@jessjwilliamson - do other DAW's scale VSTs properly when you change the scaling in Windows? Is it MuseScore only that's doing it?

[2022-05-08 11:02] Tantacrul opened #11567 "Some VSTs (eg: Kontakt / Reason) lose all settings when closing & reopening MuseScore"
**Describe the bug**
See video. When applying sounds in Kontakt, or choosing a synth instrument to use in the Reason VST, the settings are remembered as long as MuseScore isn't closed. Once it is closed and reopened, these plugins lose all the information that was loaded in them.

**See video**
https://user-images.githubusercontent.com/21022311/167293182-5e3fd614-9c94-4a88-bf38-ed62a160696d.mov

[2022-05-08 11:04] HemantAntony commented on #11567
Related to #9881

[2022-05-08 11:10] Tantacrul commented on #11532
I can't reproduce it either. @HemantAntony - test to see if this is still happening for you.

I've reprioritised as a P3 because this isn't really a big deal and very few people are able to see it (so far)

[2022-05-08 11:12] Tantacrul commented on #11567
**Jess** has also commented in a different issue (which I've now closed so we can focus on it here)

Describe the bug
This is from BBC Orchestra VSTi

When I set my Violins, Viola, Celli etc to each BBC Orchestra plugin, close project then reopen, all BBCO plugins switch back to the default setting (which is Violin 1)

To Reproduce
Steps to reproduce the behavior:

Have a plugin set to Celli or so

[2022-05-08 11:13] Tantacrul commented on #11567
@DmitryArefiev also commented on the other bug:

@vpereverzev Tested on Win10 and Kontakt Player. The issue still occurs: after reopening MU, the instrument added previously is missing.
And the same thing with Audio FX settings.

@boryskuzmenko Confirms that bug on his Mac as well.

[2022-05-08 11:14] Tantacrul commented on #9881
I've moved all this info into one bug and marked it a P0 since this is a crucial a problem with VST to fix.

[2022-05-08 11:14] #9881 closed

[2022-05-08 11:14] Tantacrul commented on #9881
See #11567 - where I've added extra info.

[2022-05-08 11:15] LaxVox commented on #11525
I just downloaded the latest nightly build and from what I gathered, the only way a score can be is black&white, and while it is ok in light mode, when inverted, the contrast of white elements on the blackest background is just too strong and I don't think it is usable at all. There should be a way to at least change the paper colour to a lighter shade of grey when inverted. Moreover, it's already

[2022-05-08 11:18] Tantacrul commented on #11525
The score can be inverted regardless of what UI theme you are choosing. We're not going to be now adding extra refinement to the score inversion for MS4.

[2022-05-08 11:37] HemantAntony commented on #11532
I can't reproduce in the latest master. But I was able to do so like yesterday. So I'll close this issue

[2022-05-08 11:37] #11532 closed

[2022-05-08 13:21] Tantacrul opened #11568 "Linked staves: TAB does not update when notation is altered"
**Describe the bug**
This is true for templates and when you create a new score and set up a linked stave manually. When working with a notation + (linked) tab, the tab will look fine when you first enter notation but does not update when you change anything (see video).

https://user-images.githubusercontent.com/21022311/167298140-471483b2-4ea4-4bcd-9ced-5c311b739597.mov

@boryskuzmenko - I didn'

[2022-05-08 13:24] Tantacrul commented on #11540
Hey @boryskuzmenko - I notice in that screenshot that the tab numbering looks quite bad. First, the font is wrong, which is making it harder to read. It seems like the correct style for tab numbering isn't being used. If this isn't already logged as an issue, can you log it?

Your image:
<img width="295" alt="image" src="https://user-images.githubusercontent.com/21022311/167298216-705e3d3b-92a0-42

[2022-05-08 14:01] Tantacrul opened #11569 "Guitar tab numbering should default to Sans Serif in all cases"
**Describe the bug**
This will be a very easy win for the appearance of our guitar tablature.

Comparing our 'Simple' tab style to our 'Common' tab style reveals that we are using different styling for tab numbering. The style used for 'Common' is far less easy to read and uglier than 'Simple'.

I created a poll to see if others agreed (which so far, they do)
https://twitter.com/Tantacrul/status/1

[2022-05-08 14:39] MarcSabatella commented on #11522
I definitely did in the build I am using, but it probably is the same as the ones you are, so it could be something that has changed in the last week or so.  But after restart, it works.  After revert to factory settings, the problem does not reappear.  So definitely elusive.

But I definitely think that the fact that the shortcut continues to show up in the list despite being empty when no other

[2022-05-08 15:58] Tantacrul opened #11570 "Guitar Tab fret numbers have a visible white box behind them"
**Describe the bug**

<img width="666" alt="image" src="https://user-images.githubusercontent.com/21022311/167304436-782c3863-7005-43cc-bfbc-7e697b15d945.png">
These white boxes need to be set to match the 'Paper colour', which is set in preferences.
<img width="538" alt="image" src="https://user-images.githubusercontent.com/21022311/167304492-3004b0f6-1c0f-4357-9af9-964ed61703e6.png">

Looks real

[2022-05-08 16:03] Tantacrul commented on #11569
You can alter this setting by right-clicking on the measure and choosing 'Staff/Part Properties'

<img width="653" alt="image" src="https://user-images.githubusercontent.com/21022311/167304686-311ac2d9-fc60-441e-bbfb-d221fe163c49.png">

Tab Sans should always be chosen by default for all tab.

[2022-05-08 17:55] hackbar opened #11571 "[MU4 Issue] 4 measure repeat doesn't wrap correctly, hangs off staves"
**Describe the bug**
4 measure repeat doesn't wrap correctly, hangs off staffs

**To Reproduce**
Steps to reproduce the behavior:
Not sure, I think just enter a four measure repeat and get a wrap in the middle of it.

Here's the file I with the bug: https://drive.google.com/file/d/1fQE0NHeqvS-JsNCd2i9rAWDC7qio_VyR/view?usp=sharing

**Expected behavior**
I think the four bars should only wrap at th

[2022-05-08 20:31] Lucretia commented on #11553
FindJack.,cmake still requires ```include(UsePkgConfig1)``` adding to work.

[2022-05-08 21:36] Lucretia opened #11572 "Feature request: thirdparty libs should be linkable from system installed"
**Add cmake options to use thirdparty libs**

A lot of hte libs in thirdparty/* should have flags in cmake to enable the use of system packages, i.e.:

* flac
* fluidsynth
* freetype
* lame
* opus
* singleapp (on Gentoo it's dev-qt/qtsingleapplication)
* stb

It tries to install headers from opus currently:

[code]

[2022-05-08 22:05] cbjeukendrup commented on #11571
Normally, a measure repeat comes together with "group measure" elements; that's a special element that can be added to a barline, and keeps the measures before and after that barline on the same system. If these elements were not created for you, or you accidentally deleted them, you can find them in the Palettes and (re)apply them to the barlines manually, so that it will look like this:
<img wid

[2022-05-08 23:44] hackbar commented on #11571
Those symbols seem to still be present in the score, yet this happens.

I've noticed some weird behaviors with page size I'm still trying to reproduce, but if you don't see it in the score I uploaded, trying tweaking the page size. Just get it so the second measure of the four measure repeat is the last one a line, and you'll see it.

[2022-05-08 23:50] hackbar opened #11573 "[MU4 Issue] page size stuck on metric"
**Describe the bug**
After changing the page size to inches, it will be in metric the next time you open the page settings dialog.

**To Reproduce**
Steps to reproduce the behavior:
1. Create a new score, from the template, "Treble Clef".
2. Open Page Settings.
3. Set units to inch.
4. Set the size to 7.75 inches width, 5.50 inches height.
5. Hit OK.
6. Open the page settings dialog.
7. See the un

[2022-05-09 10:25] cbjeukendrup commented on #11532
I think this is a QML issue. It is not reliably reproducible, but I have experienced it with various ListViews. The problem is that QML fails to render the items fast enough (they are unloaded whenever they are scrolled out-of-view, and need to be recreated just before they become visible).

Since _we_ can't do anything about this, let's keep this issue closed.

[2022-05-09 12:01] donarturo11 opened #11575 "[MU4 Issue] No instruments in New Score window"
**Describe the bug**
No instruments in New Score window

**To Reproduce**
Steps to reproduce the behavior:
1. Go to 'File > New...'
2. Click on eg. 'Woodwind' from 'Family' column
3. No instrument appears

**Expected behavior**
After click on instrument family, instrument names should appear in 'Instruments' column

**Screenshots**
![NewScore-window](https://user-images.githubusercontent.com/64210

[2022-05-09 12:03] HemantAntony commented on #11575
Does this occur only when you build MU4? No instruments is shown at all, right?

[2022-05-09 12:10] HemantAntony commented on #11575
If so check https://discord.com/channels/818804595450445834/939880479887327302/957270176032768050

[2022-05-09 12:22] jessjwilliamson commented on #11575
Oh that's not good! Thanks for pointing it out!

[2022-05-09 12:28] donarturo11 commented on #11575
@HemantAntony I built with CMake.

[2022-05-09 12:29] jessjwilliamson commented on #9893
Absolutely fine on other DAW's. Just Musescore. This is still irritating me to this day!!

[2022-05-09 12:32] #11575 closed

[2022-05-09 13:07] donarturo11 commented on #11575
Sorry! I didn't found.

[2022-05-09 14:29] jessjwilliamson opened #11577 "[MU4 Issue] Fix scrollbar issue on Mixer"
**Describe the bug**
An issue mentioned by @Tantacrul that a solution needs to be solved with the Mixer's scrollbar which is currently causing some visual issues on the instrument names.

![image](https://user-images.githubusercontent.com/71656189/167431705-c7eccd83-d9e9-41e8-a5de-33421e4ecf62.png)

**Screenshots**
Changing the scrollbar in Mixer - which will now have its own padding, rather than

[2022-05-09 14:47] Tantacrul commented on #11057
I'm closing this for now, since I think we agree that UX optimisations to palettes and a few other UX optimisations would do further reduce the need for another workspace definition. I'm not crazily against the idea of having more defined workspaces but I'd like to do it in a structured way and not make it another task for 4.0.

In future (for example), I'd love for there to be a 'guitar' workspac

[2022-05-09 14:47] #11057 closed

[2022-05-09 14:48] Tantacrul commented on #11057
I've moved this to 4.x so we don't forget about this general discussion.

[2022-05-09 16:10] AntonioBL commented on #9467
Ciao.
When running under AddressSanitizer, just after closing the Mixer there is a heap-use-after-free error: something (the playback?) is trying to access a `MixerChannelItem` which was deleted when closing the Mixer.
Here is the backtrace of the log (note the `freed by thread T0` and `previously allocated by thread T0` sections):
[code]
Ciao,
ABL

[2022-05-09 17:14] RobFog commented on #11057
Or a workspace for drummers… 🎉

[2022-05-09 18:13] MarcSabatella opened #11580 "[MU4 Issue] Master palette elements cannot be added via drag & drop"
It seems that elements from the Master Palette - including the Symbols section, which is really the only section which we actually *need* a master palette - cannot be added to the score via drag & drop.  You can initialize the drag operation, but the "no drops allowed" icon never changes to the "drop here" icon as you hover elements in your score that should allow it.

1) new score
2) open View /

[2022-05-09 18:50] donarturo11 commented on #11552
@Eism I built Musescore from your branch and ran with no problem. Thank you very much. I think, that your solution totally fixed this issue. I must now wait to merge your code to master branch for resolve issue #11331.

[2022-05-09 19:43] Tantacrul commented on #11361
Mordents and inverted mordents also have this problem. In this example, the first mordent should play an F sharp but plays an F natural. The inverted mordent plays an F natural instead of an E.

<img width="440" alt="image" src="https://user-images.githubusercontent.com/21022311/167485537-a7cf18f0-7567-4b8c-a6e3-2bd83c2463aa.png">

[2022-05-09 19:48] Tantacrul commented on #11361
In fact, it's just a problem with all ornaments. None of them honour the key signature:
<img width="1140" alt="image" src="https://user-images.githubusercontent.com/21022311/167486315-59cc9b12-f6e7-4a48-a2da-8ff3dff7700d.png">

[2022-05-09 22:37] cbjeukendrup commented on #11501
@quinnouyang What I meant was that we could force the space added by the icons to be ignored, so that only the required space for the text counts.

But it seems that the problem is not in the header as I guessed initially, but in the contents. So I have created #11583 to make the button in the content smaller, which should help. (We had already agreed long ago that the button should be 20x20, not

[2022-05-10 10:10] AntonioBL commented on #9467
The crash is happening when calling `!c.receiver->isConnectedAsync()` [here](https://github.com/musescore/MuseScore/blob/7c810dbd61844a264abf0cace6d2c80695947583/thirdparty/deto_async/async/internal/abstractinvoker.cpp#L59)

[2022-05-10 13:05] #11502 closed

[2022-05-10 18:44] boryskuzmenko commented on #11568
@Tantacrul Yep, looks like regression
As I see @alexpavlov96  is already working on it ))

[2022-05-10 19:03] Tantacrul commented on #11570
🥇 for me!

I guess we'll also need to be careful that by fixing the colour problem, they still appear white when exported as PDF :)

[2022-05-10 19:14] cbjeukendrup commented on #11570
The real solution would be not to draw a background at all, but make a gap in the staff lines. That way, it would also work correctly when exporting transparent PNGs or SVGs. I believe the reason that it is not done yet that way, is that it's difficult :)

[2022-05-10 20:00] Tantacrul commented on #11336
@HemantAntony - would it be possible for you to update the PP links so they both point to this URL:
https://musescore.org/en/about/desktop-privacy-policy

[2022-05-10 20:02] Tantacrul commented on #11570
@cbjeukendrup - it does seem to have been done for MuseScore 3 though?

<img width="635" alt="image" src="https://user-images.githubusercontent.com/21022311/167712286-5258f564-e99a-4562-b0d3-00a9d819f444.png">

[2022-05-10 20:10] cbjeukendrup commented on #11570
MU3 uses the workaround of using the background color of the page. But when exporting to transparent images, indeed it does not work:
<img width="511" alt="Schermafbeelding 2022-05-10 om 22 09 56" src="https://user-images.githubusercontent.com/48658420/167713434-3bcd0ba7-6c97-4a0a-8af4-f016ddc72892.png">

[2022-05-10 20:14] Tantacrul commented on #11570
Better than what MS4 does, at least :)

I do agree with your suggestion for what we should actually do, of course :)

But at the least, we should match MS3.

[2022-05-10 20:18] boryskuzmenko opened #11588 "[MU4 Issue] [GP] String number is not displayed for standard notation staff after GP score importing"
**To Reproduce**
Steps to reproduce the behavior:
1. Open the test file in MU4
[test tab for MU4.gp.zip](https://github.com/musescore/MuseScore/files/8664728/test.tab.for.MU4.gp.zip)
2. Pay attention to the first two measures

**Screenshots**
![Capture 2022-05-10_11-08-03_PM](https://user-images.githubusercontent.com/101250347/167714284-694fc2ef-51db-42c7-a129-919df047f21a.png)

**Expected behavio

[2022-05-10 20:50] boryskuzmenko opened #11589 "[MU4 Issue] [GP] G-clef is displayed for TAB staff when changing standard staff type (for a non-linked staff)"
**To Reproduce**
Steps to reproduce the behavior:
1. Create a Solo guitar score
2. Change the staff type to 6-str tab (any variation)
3. Pay attention to the clef on the staff

**Expected behavior**
TAB clef is displayed after changing standard staff type for a non-linked staff

**Screenshots**

https://user-images.githubusercontent.com/101250347/167719372-35726d2f-1bba-40a8-b3c6-b03e98b52e0e.mov

[2022-05-11 02:35] HemantAntony commented on #11336
@Tantacrul PR for this #11591

[2022-05-11 04:14] llui85 commented on #11528
Additional context from https://github.com/musescore/MuseScore/issues/10085#issuecomment-1007350771:

[2022-05-11 04:55] Microwave-WYB commented on #11244
Tested on Fedora 36 but got
[code]

[2022-05-11 06:21] diedeno opened #11592 "[MU4 Issue] Linux VST Gui does not open"
**Describe the bug**
Ubuntu 20.04 LTS
In mixer, when choosing a (any) VST, the VST GUI does not open.
All MS4 versions (alpha and nightly)

Steps to reproduce the behavior:
1. Go to Mixer
2. Choose any VST
3.  Score plays OK, but GUI does not open.
(With VST's where an instrument has to be chosen first, such as Decentsampler, of course here is no sound)
5. See error

**Expected behavior**
VST UI o

[2022-05-11 08:11] HemantAntony opened #11594 "[MU4 Issue] PNG's do not have a transparent background even when enabled"
**Describe the bug**
Even if the 'Transparent background' option is checked, the exported PNG does not have a transparent background

**To Reproduce**
Steps to reproduce the behavior:
1. Create a score
2. Go to File
3. Click on Export
4. Change Format to PNG Images
5. Check Transparent background
6. Click Export
7. The exported PNG will not have a transparent background

**Expected behavior**
PNGs

[2022-05-11 08:11] HemantAntony commented on #11594
I have a potential fix

[2022-05-11 08:34] Jojo-Schmitz commented on #10850
#10206 just got merged, #11584 is related to this issue too , but still pending

[2022-05-11 08:55] DmitryArefiev commented on #11552
Fixed in #11555

[2022-05-11 08:56] #11552 closed

[2022-05-11 09:14] #10879 closed

[2022-05-11 09:46] AntonioBL commented on #11244
@Microwave-WYB : thank you for testing. You can try to set also the env variable QT_DEBUG_PLUGINS:
`export QT_DEBUG_PLUGINS=1`
 before launching the AppImage. It should give more information on why it fails to load the "wayland" plugin.

Ciao,
ABL

[2022-05-11 10:17] boryskuzmenko commented on #11568
**FIXED**
Tested on macOS 12, Win 11, Ubuntu 20

[2022-05-11 10:23] #11568 closed

[2022-05-11 10:45] cbjeukendrup commented on #10850
Another challenge is obtaining ARM versions of `zlibstat`, `libsndfile`, and all those other precompiled libraries in the `dependencies` folder. Also, google crashpad client contains asm code that is not supported on ARM.

[2022-05-11 11:17] boryskuzmenko opened #11596 "[MU4 Issue] [Win, Lin] Staff settings drop-down is not collapsed when clicking out of it (regression)"
**To Reproduce**
Steps to reproduce the behavior:
1. Open any score in MU4
2. Via Instruments inspector window change the staff type
3. Click out of the settings drop-down

**Expected behavior**
Drop-down is collapsed after clicking out of it

**Screenshots**

https://user-images.githubusercontent.com/101250347/167834868-52b7d832-404b-4e15-9e19-f128df9ac9cf.mp4

**Platform information**
 - OS: Win

[2022-05-11 11:24] boryskuzmenko opened #11597 "[MU4 Task] [GP] Style preferences (true/false) to be created for staff elements"
**Task description**
True/False attributes should be implemented for all elements mentioned in the [table](https://alice.mu.se/pages/viewpage.action?pageId=253670995)
The goal: ability to create styles for different staff types with corresponding elements visible/hidden (according to the mentioned table)

[2022-05-11 11:48] #11594 closed

[2022-05-11 12:15] jessjwilliamson commented on #11480
@RafaelLiebermann Hi, so have you ever assigned the play button with your keyboard in Musescore 3 before? By going to Preferences>Note Input>MIDI Remote control. I don't know if Musescore 3 can automatically recognise any devices and assign to some buttons automatically, but from you, it sounds like it has already been assigned manually?

[2022-05-11 12:19] llui85 commented on #11592
I can also reproduce this on `Linux 5.10.0-12-amd64 #1 SMP Debian 5.10.103-1 (2022-03-07) x86_64 GNU/Linux`. In the terminal, I see the following logs:

[code]

[2022-05-11 12:29] boryskuzmenko commented on #11540
** Can't reproduce**
Tested on macOS 12, Win 11, Ubuntu 20

[2022-05-11 12:32] llui85 opened #11599 "[MU4 Issue] Instruments not displaying in New Score wizard"
**Describe the bug**
In the latest nightly on Linux, it appears that instrument names don't load properly, making it impossible to create a score without using a template.

**To Reproduce**
1. Open MU4
2. Click "New Score"
3. Observe that instrument names don't load, but when hovering, **something** is there.

**Screen recording**

https://user-images.githubusercontent.com/47158068/167850019-31ae3

[2022-05-11 12:33] llui85 commented on #11599
Never mind, appears to be a duplicate of #11552.

[2022-05-11 12:33] #11599 closed

[2022-05-11 12:34] RafaelLiebermann commented on #11480
Yes it is
________________________________
From: jessjwilliamson ***@***.***>
Sent: Wednesday, May 11, 2022 1:31:42 PM
To: musescore/MuseScore ***@***.***>
Cc: Rafael Liebermann ***@***.***>; Mention ***@***.***>
Subject: Re: [musescore/MuseScore] [MU4 Issue] Playing with Midi Keyboard (Issue #11480)

@RafaelLiebermann<https://github.com/RafaelLiebermann> Is this what you're experiencing?
Sound on

[2022-05-11 12:37] jessjwilliamson commented on #11480
Great. I think the MIDI Device Mappings need some more attention, there are quite a few issues there.

[2022-05-11 14:13] Tantacrul commented on #11412
This is an issue David Hearn also highlighted to me. He says his main computer is unable to open MuseScore and he suspects this is the reason. We probably need some kind of initial black listing / white listing phase - and as Jess suggested, the loading screen can flash up some text to explain to the user this is what is happening the first time they load the app.

[2022-05-11 14:18] jessjwilliamson commented on #11412
Which reminds me.. maybe we could start thinking about making a VST/plugin manager for MS4?

[2022-05-11 14:24] Tantacrul commented on #11480
@jessjwilliamson - fantastic. Thanks for that!

I've added a priority and I'm now reassigning to the development team. I've also updated the issue description and cleared out all the comments (mainly me) to make the issue easier to understand. Thanks again!

[2022-05-11 14:42] jessjwilliamson opened #11600 "[MU4 Issue] Vague MIDI assigning info in MIDI Device Mappings"
So far, when assigning a note with a MIDI controller/keyboard, it is displayed as 'Note XX'. For example, Note C4 on the keyboard. It is able to recognise any note in any octave.

![image](https://user-images.githubusercontent.com/71656189/167876804-fb7ecc13-7a36-44eb-9ee3-f6d7b9995531.png)

However, with other buttons on a MIDI keyboard such as a play or stop button, they are all labelled as 'Con

[2022-05-11 15:03] boryskuzmenko opened #11601 "[MU4 Issue] [GP] Ties are rendered too small in imported GP score"
**To Reproduce**
Steps to reproduce the behavior:
1. Open test GP file
[test tab for MU4.gp.zip](https://github.com/musescore/MuseScore/files/8671027/test.tab.for.MU4.gp.zip)
2. Pay attention to the 3-4 measures

**Screenshots**
![Capture 2022-05-11_05-52-31_PM](https://user-images.githubusercontent.com/101250347/167882419-21acab6a-4cc9-48e4-8cfa-aaf764e6b35a.png)

**Expected behavior**
Ties are r

[2022-05-11 15:10] #11182 closed, assigned to nobody

[2022-05-11 15:22] abariska opened #11602 "[MU4 Issue] [GP] Dead note head is rendered as too small 'x' in opened GP score"
**To Reproduce**
Steps to reproduce the behavior:
1. Open test GP score
[test tab for MU4.gp.zip](https://github.com/musescore/MuseScore/files/8671162/test.tab.for.MU4.gp.zip)
2. Pay attention to the measure 10

**Screenshots**
![Capture 2022-05-11_06-17-45_PM](https://user-images.githubusercontent.com/101250347/167886253-f0d16899-dee4-4a4b-87ec-90a0fb2923f7.png)

**Expected behavior**
Same dead n

[2022-05-11 15:44] abariska opened #11603 "[MU4 Issue] TAB. Artificial harmonic fret <number> is not smaller than its main note fret"
**To Reproduce**
Steps to reproduce the behavior:
1. Open any GP score with artificial harmonics (in TAB staff)
2. Pay attention to the fret numbers for the artificial harmonics

**Screenshots**
![Capture 2022-05-11_06-34-36_PM](https://user-images.githubusercontent.com/101250347/167890981-b481d6bc-40d0-4a8a-b730-dbe7dbbd56e7.png)

**Expected behavior**
Artificial harmonic rendering style is close

[2022-05-11 15:45] boryskuzmenko commented on #11603
@bkunda Looks like your design input needed

[2022-05-11 15:56] DmitryArefiev commented on #11331
Fixed in #11598

[2022-05-11 16:41] DmitryArefiev opened #11605 "[MU4 Issue] Horizontal scrollbar does not work when Mixer is undocked (Windows only)"
**Describe the bug**
https://github.com/musescore/MuseScore/pull/11585#issuecomment-1122195343 :

https://user-images.githubusercontent.com/90187801/167902789-dfbacc3b-10a8-47c9-bfa4-f67cb72d859f.mp4

**Platform information**
 Windows only

**Additional context**
#11585

[2022-05-11 17:01] Tantacrul commented on #11600
@jessjwilliamson  can you show what another program displays when you enter the same information there?

[2022-05-11 17:02] boryskuzmenko opened #11606 "[MU4 Issue] TAB. Duration stems are rendered in wrong way after Standard staff type changing to 6str-tab Common"
**To Reproduce**
Steps to reproduce the behavior:
1. Open any score with standard notation staff
2. Change the staff type to 6str.-tab Common
3. Pay attention to the beams on the staff

**Screenshots**
![Capture 2022-05-11_06-51-17_PM](https://user-images.githubusercontent.com/101250347/167905063-eca71143-b7b3-4e72-9c6c-9f9491dba843.png)

https://user-images.githubusercontent.com/101250347/1679051

[2022-05-11 17:15] #11367 closed

[2022-05-11 17:22] cbjeukendrup commented on #11605
This issue seems to be even worse. It is not limited to the scrollbar in the mixer, but happens with a quite big area of _all_ dockable panels (even palettes and toolbars, etc.).

https://user-images.githubusercontent.com/48658420/167908673-d21d278b-9ca0-4b4f-b35c-39e4da8d72bd.mov

I feel like this came up before (even before PR #11585), and I even thought somebody had a fix, but I can't find it.

[2022-05-12 05:33] bkunda commented on #11603
What exactly do you need here?

If the artificial harmonics should be shown smaller in TAB by default (with no configurable settings), then perhaps all you'd need to know is the desirable font size ratio between the main note and the artificial harmonic? In this case, I'd specify a font size ratio of 3:2.

But if this is something that should contain configurable settings, then I'd need to do some

[2022-05-12 08:34] #11331 closed

[2022-05-12 08:58] DmitryArefiev commented on #11605
@cbjeukendrup Oh I see.. Also I found you can use mouse scroll wheel (instead of scrollbar dragging with mouse) with **Palettes**, **Piano** etc. But **scroll wheel doesn't work with Mixer scrollbar**, because it works with mixer faders.

What about to **add ability to use Shift+Mouse scroll with Mixer scrollbar**? The same how it works with score - Mouse scroll to vertical scrolling and Shift+Mou

[2022-05-12 09:56] DmitryArefiev commented on #9757
@Tantacrul Yes, still occurs in latest master

[2022-05-12 10:21] DmitryArefiev commented on #9785
@Tantacrul Yes, it's still reproducible in latest master (all platforms). You should use only keyboard. Sorry about missing steps in the description (added now)

https://user-images.githubusercontent.com/90187801/168049418-159b82c6-46a5-46ff-8058-578e7581aa3c.mp4

[2022-05-12 10:40] DmitryArefiev commented on #9796
Yes, the same on my side in latest master (Win10) - CAN'T REPRODUCE NOW

[2022-05-12 10:55] jessjwilliamson commented on #11600
Yes of course! Ableton is good example:
Here I'm using the Novation Impulse.
I've mapped stop, start and record buttons on the Novation keyboard, with the stop, start and record buttons on Ableton.
What it's showing that:
CC114 is stop
CC115 is start
CC117 is record.

These CC values are from the Novation. So it would be clearer instead of having 'Controller 0' everywhere.

So on Musescore, it'll

[2022-05-12 13:22] MarcSabatella commented on #10225
Just a note that this is a still an issue in the latest build I tried.  It's a significant regression that should be fixed before release, but needn't hold up a public alpha.

The correct behavior of Ctrl+click with overlapping elements is that the first Ctrl+click should select the top element of the stack, then each successive Ctrl+click deselects whichever element is currently selected (as woul

[2022-05-12 13:32] DmitryArefiev opened #11615 "When saving uncompressed MuseScore folder format, MU doesn't remove an extension and saves the score as mscz file on Linux (occurs on Windows/Mac if file extensions are not hidden)"
**To Reproduce**
1. Create a score
2. Add some notes
3. Save
4. In Save score dialog, select Uncompressed MuseScore folder format (notice MU shows mscz extension)
5. Click OK - **MU saves the score in mscz format**

![uncompr](https://user-images.githubusercontent.com/90187801/168086064-c91df167-eb86-4293-a928-09a76e580b51.png)

**Workaround**:
**Remove the extension manually** when saving Uncompr

[2022-05-12 14:17] DmitryArefiev opened #11616 "[MU4 Issue] Some issues when openning a MU3 mscx scores"
**Describe the bug**

From https://github.com/musescore/MuseScore/pull/10660#issuecomment-1117362634

1. When opening an old mscx MU3 scores from one folder and re-saving in a new version of mscx format,
**MU4 creates folders and setting files inside that common folder but for all scores together and not separately for each score**. The issue can be solved if we trigger **Save As** dialog in that

[2022-05-12 14:46] MarcSabatella opened #11617 "[MU4 Issue] Regression: tempo override control missing (formerly in Play Panel)"
Previous versions of MuseScore had a slider to override the tempo of a piece, allowing you to play it back faster or slow than the marked tempo. This was used very extensively by people wanting to practice along with the playback, or by people wanting to listen more closely to each chord of the playback to be sure there are not wrong notes etc.  You could even turn it down to a ridiculous low and

[2022-05-12 15:29] #11548 closed

[2022-05-12 15:29] #11596 closed

[2022-05-12 15:35] MarcSabatella opened #11618 "[MU4 Issue] "None" is the not the correct key signature for the new score wizard"
When creating a new score via File / New, the default key signature is reported as "None".  This is not correct, it is actually "C major".  "None" isn't really a thing, but I notice that the "open/atonal" key signature - which is what I'd have assumed "none" to refer to - is missing.  So the dialog *looks* like it is applying the open/atonal key signature, but it isn't - it's applying C major.  Th

[2022-05-12 16:04] Tantacrul commented on #11617
<img width="520" alt="image" src="https://user-images.githubusercontent.com/21022311/168119327-a189be8b-520f-4019-af79-4f82f3b23913.png">

[2022-05-12 16:12] DmitryArefiev opened #11619 "[MU4 Issue] Dropdown lists in Preferences don't close when dragging the window"
https://user-images.githubusercontent.com/90187801/168120844-4e7b1245-6d43-47de-87f2-2226bf559c35.mp4

**Platform information**
**macOS, Windows**
Can't reproduce on Linux

[2022-05-12 16:21] jessjwilliamson commented on #11548
It's definitely less harsh, but there is still some line/edge. I think the 'blur' of the dropshadow is spread too far, just anything to solve this 'line' :)
![image](https://user-images.githubusercontent.com/71656189/168122478-683d9b5b-5dc1-4548-9900-faadd638606f.png)

[2022-05-12 16:23] DmitryArefiev opened #11620 "[MU4 Issue] Languages list in Preferences is empty on Linux"
**To Reproduce**
1. Go to Preferences>General
2. Click on Languages field - **it's empty**

![preferences](https://user-images.githubusercontent.com/90187801/168122770-2b939fdc-4c0e-48e3-a9fc-373db7fab18c.png)

**Platform information**
**Linux only**

**Additional context**
Other languages issues in Preferences:
#11432
#11432

Probably it's because of missing MU4 translations (all platforms)

[2022-05-12 16:47] Tantacrul commented on #11618
I had not realised 'none' was acting like C Major.

- Rename **none** to **open/atonal**
- Make sure it references the correct key signature seen in the New Score Wizard in MuseScore 3 (which is called **open/atonal**)
<img width="966" alt="image" src="https://user-images.githubusercontent.com/21022311/168124122-34c43e0b-5d74-4692-9a8b-0fff152e7f7f.png">
- Make the default C major
<img width="1191

[2022-05-12 17:01] DmitryArefiev opened #11621 "[MU4 Issue] Switching view (Page view -> Continuous view etc.) should work independently for score and parts"
https://user-images.githubusercontent.com/90187801/168129478-f4d1f2c3-f3e8-4692-b722-a7bc29a4b009.mp4

**Platform information**
macOS, Windows, Linux

**Additional context**
The same was fixed for zooming/scrolling in #7879
Doesn't occur in **MU3**

[2022-05-12 18:19] MarcSabatella commented on #11617
Hmm, I see the slider when I do that, but as far as I can tell it doesn't affect tempo at all - just the current play position.  A play position slider is kind of sort of sometimes useful, but the tempo slider is indispensible.

The loop markers I had already noticed via the gear icon.

[2022-05-12 18:32] cbjeukendrup commented on #11617
@Tantacrul Marc means this slider:
<img width="375" alt="Schermafbeelding 2022-05-12 om 20 26 39" src="https://user-images.githubusercontent.com/48658420/168143814-5da7207a-aac7-4a21-9424-708164e75aff.png">

I agree that is quite useful to have, especially when composing. At least for the time that we don't have real scrubbing playback like Finale. Since we are already _displaying_ the tempo in th

[2022-05-12 18:34] the-next-ceo commented on #11619
https://user-images.githubusercontent.com/66167731/168144681-a93d2b4b-babb-4c39-9d9f-a1b4e361c820.mov

it doesn't seem that issue exists in MacOs.

[2022-05-12 18:43] MarcSabatella commented on #11617
FWIW, no particular reason the slider itself need be present.  A spin box with the percentage would actually be completely sufficient, I think.  It could display right next to the existing tempo display.

[2022-05-12 19:28] the-next-ceo commented on #11440
is it fixed?

[2022-05-12 20:24] #10642 closed

[2022-05-12 20:33] cbjeukendrup commented on #11605
@DmitryArefiev It turns out that QML's scrollview already supports horizontal scrolling when pressing shift (at least on mouses that are unable to scroll horizontally by themselves). That's good news, so your idea already works as long as the mouse pointer is not on a volume or pan control.

But when it is, the control takes priority over the scrollview (#11128). Unfortunately, we don't have many

[2022-05-12 20:35] cbjeukendrup commented on #11128
See also https://github.com/musescore/MuseScore/issues/11605#issuecomment-1125397365 (me trying to explain how scroll events work and why we can't (easily) fix this bug while using Qt/QML)

[2022-05-13 08:42] Tantacrul commented on #11440
Not yet. It's a P3 so probably not one we'll get around to immediately

[2022-05-13 09:24] rgreen5 commented on #11083
Incidentally, this is a deal-breaker if you are transcribing music from other documents using a split screen.

[2022-05-13 09:28] rgreen5 commented on #11619
Related issue in Linux, #10993.

[2022-05-13 09:54] DmitryArefiev commented on #11548
@jessjwilliamson Thanks for checking!  @Eism Told me he will tackle this in the next PRs  :)

[2022-05-13 10:05] DmitryArefiev commented on #11619
@the-next-ceo Thanks for rechecking! That's just a new bug, and present only in today's hightly build

[2022-05-13 11:31] cbjeukendrup commented on #11496
@Tantacrul does the new icon (#11556) count as a fix for this issue?
<img width="375" alt="Schermafbeelding 2022-05-12 om 21 42 46" src="https://user-images.githubusercontent.com/48658420/168155669-692bbc52-95b9-4b41-9732-0826d6cd6a16.png">

[2022-05-13 12:27] Tantacrul commented on #11496
Yes it does. And also you're helpful tutorial :)

[2022-05-13 12:27] #11496 closed

[2022-05-13 12:31] DmitryArefiev commented on #11605
@cbjeukendrup Thanks for such detailed explanation!

I see now..  But it works on Mac, and **doesn't work** on **Windows** and **Linux** (Shift+Mouse scroll) :

https://user-images.githubusercontent.com/90187801/168282892-6061cb23-5364-4a7f-b3e3-47080d45dc64.mp4

(but touchpad works on Windows  to scroll Mixed horizontally)

[2022-05-13 13:16] DmitryArefiev opened #11625 "[MU4 Issue] Shift+Mouse Scroll for horizontal scrolling doesn't work in Mixer on Linux and Windows"
**To Reproduce**
1. Open Mixer
2. Put mouse cursor at the bottom part (Instrument name labels)
3. Hold Shift and scroll mouse wheel - **works only vertical scrolling**

see video:

https://user-images.githubusercontent.com/90187801/168290494-8c38ec13-6f54-4d28-ae96-8fe585eaf37f.mp4

But touchpad on Windows works fine for horizontal scrolling

**Platform information**
**Windows, Linux only**

**Add

[2022-05-13 13:20] cbjeukendrup commented on #11625
I found out what's going on: the shift feature is not caused by QML, but by macOS. That explains why it does not work on Windows and Linux, and it also explains why it _does_ work in my virtual Windows machine: macOS makes the scroll event horizontal before sending it to Parallels / to Windows, so Windows receives a horizontal scroll event. It also explains why I could not find anything about Shif

[2022-05-13 13:28] DmitryArefiev commented on #11605
Logged that separately #11625 (to leave the current issue for scrollbar mouse dragging)

[2022-05-13 15:13] #11450 closed

[2022-05-13 16:23] DmitryArefiev commented on #11426
Fixed in #11520

[2022-05-13 16:24] #11426 closed

[2022-05-13 18:35] SnyBr opened #11627 "[MU4 Issue] Oversized status bar after switching between fullscreen and windowed"
This:

![image](https://user-images.githubusercontent.com/105515763/168345632-893fb536-463b-415a-8740-5c8cbbecc15d.png)

To reproduce:
1) Directly after MuseScore startup, create a new score or open an existing score.
2) Press F11 to enter fullscreen
3) Press F11 again to exit fullscreen. The now oversized status bar also cannot be dragged back down to the bottom of the screen.

I use an old 4:3 m

[2022-05-13 18:52] RmGkAppDev opened #11628 "[MU4 Issue] system/ifilesystem.h is nowhere to be found"
Hello everyone!
I'm new to this project and I'm trying to build it for the first time, while building it, I've noticed that there is a missing file:
`system/ifilesystem.h`
The error comes from the file: `\src\framework\audio\audio.vcxproj`
From further investigations, I've found out that inside the `audioconfiguration.h` file, there is an `#include` that calls for the missing file.

I just cloned

[2022-05-13 18:55] cbjeukendrup commented on #11628
@RmGkAppDev There's indeed a problem on the latest master branch! I'll fix it asap.

[2022-05-13 18:56] RmGkAppDev commented on #11628
The exact error is the following:
`fatal error C1083: Cannot open include file: 'system/ifilesystem.h': No such file or directory`

[2022-05-13 18:58] RmGkAppDev commented on #11628
Wow, that was quick!!!

[2022-05-13 19:00] cbjeukendrup commented on #11628
Now, let's double-check that this makes the continuous integration tests happy, and then I'll merge the fix directly. After that, you can pull/rebase on the latest master branch and everything should be fine!

[2022-05-13 19:20] #9096 closed

[2022-05-13 19:20] #10192 closed

[2022-05-13 19:25] #11628 closed

[2022-05-13 19:33] RmGkAppDev commented on #11628
Thanks a lot! Happy to help with your amazing project!

[2022-05-13 20:41] sammik commented on #11349
There is disabled `Delete`, because in fact part doesnt exist yet.

See

https://user-images.githubusercontent.com/1646034/168386370-aff40769-8df4-4d62-867c-26a7a06b4781.mp4

[2022-05-13 22:31] MarcSabatella opened #11631 "No capo playback"
MuseScore 3 had a feature where you could set staff text properties that would cause playback to be  one or more semitones higher, mimicking a capo.  The dialog still has this setting, but it does nothing, and indeed, any setting made is lost if you revisit the dialog.  So far all I know, the

To reproduce:

1) enter middle C in a score
2) add a staff text "capo 3"
3) got to Staff Text Properties

[2022-05-14 08:08] Jon0 commented on #11592
Same issue, I compiled with the hasNativeEditorSupport set to true, now it opens: https://github.com/Jon0/MuseScore/tree/Enable_vst_editor

[2022-05-14 09:18] #11455 closed

[2022-05-14 09:44] rgreen5 opened #11632 "String numbers ("Fingering" palette): icons have no circles around them"
**Describe the bug**
String number icons in the "Fingering" palette have no circles around them. This does appear OK once the number is applied to the score, but it needs to be be visible in the palette as well.

**To Reproduce**

1. Open any score.
2. Add a Fingering palette to the workspace (if not already there)
3. Open the palette and inspect the string numbers .
4. Now apply a string number t

[2022-05-14 10:03] rgreen5 opened #11633 "MS3 scores open even if user tries to interrupt by pressing the close icon"
**Describe the bug**
When you open an MS3 file, a dialog appears about style improvements. However, the file opens even if you try to interrupt the process by pressing the cross icon.

**To Reproduce**
Steps to reproduce the behavior:
1. Open the attached MS3 file.
2. When the dialog appears, press the cross icon, in an attempt to interrupt the process.

RESULT (unexpected): The file opens.

**Exp

[2022-05-14 10:10] cbjeukendrup commented on #11633
Is this issue maybe already covered by #10421? Or is that not what you mean?

[2022-05-14 10:12] VanSHOE commented on #11533
@DmitryArefiev Regarding the date issue: it must be in the format: `ddd MMM d yyyy` as Qt::TextDate only accepts that format as seen [here in docs](https://doc.qt.io/qt-5/qt.html#:~:text=Description-,Qt%3A%3ATextDate,-0)
I'll be making a PR related to the title issue in a couple of minutes though

Please let me know if the issue regarding the date still needs fixing though, I'll be happy to contri

[2022-05-14 10:16] cbjeukendrup commented on #11533
About the date, I believe @HemantAntony is still planning to build a decent date picker component in the future, so that the user doesn't need to type the date in a certain format. We're waiting with that until we switch to Qt 6, because the QML component for making such a date picker will be replaced by another component in Qt 6, and it's bad if the work has to be done twice.

[2022-05-14 10:17] VanSHOE commented on #11533
Should I mark in the PR that is partially resolves this issue then?

[2022-05-14 10:18] cbjeukendrup commented on #11533
Yes, that's a good idea.

[2022-05-14 10:33] rgreen5 opened #11635 "Fingering: Issue with excess spacing compared to MS3"
**Describe the bug**

In MS3 it was possible to add a string tuning indication to the start of a guitar score. This could be created by adding a string number and staff text to the first note, then dragging them into position to the left. (see attached score and screenshots below). However this method does not work in MS4 unless you turn off autoplacement.

**To Reproduce**

1. Open the attached M

[2022-05-14 10:37] rgreen5 commented on #11633
Yes, I missed that one. It's the same issue (just the dialog looks different).

[2022-05-14 10:37] #11633 closed

[2022-05-14 11:01] rgreen5 opened #11636 "Properties: "Appearance" dialog closes when you click away from the MS4 window"
**Describe the bug**

if you click away from the MS4 onto another running program, say, you expect MS4 to look the same when you click back. However, this is not the case with secondary dialogs from the "Properties" sidebar, for example, which unfurl unexpectedly.

**To Reproduce**

1. Open the attached score.
[dialogs.zip](https://github.com/musescore/MuseScore/files/8692783/dialogs.zip)

2. Clic

[2022-05-14 11:13] rgreen5 opened #11637 "[Properties Panel] X & Y Offset values are broken for text and lines"
**Describe the bug**
When changing X and Y values for a text (or line) element and then de-selecting and re-selecting it, the positions are often incorrect. Also, resetting the position of a text element, it will only reset the Y or X but not both, resulting in an incorrect position.

See video

https://user-images.githubusercontent.com/21022311/168443082-07782127-0128-416c-808f-fdd771f41e5d.mov

[2022-05-14 11:27] cbjeukendrup commented on #11635
Yes, the autoplace behaviour was changed. Generally the new behaviour makes more sense, but it obviously breaks this use case. Maybe @oktophonie and @mike-spa can comment.

[2022-05-14 11:30] RobFog commented on #11636
I think was previously discussed here: https://github.com/musescore/MuseScore/issues/11248#issuecomment-1102750636

I don't know what happened after @Tantacrul's last comment there.

[2022-05-14 12:12] SnyBr commented on #11627
I couldn't reproduce this on a 16:9 display, so it seems related to the screen aspect ratio.

[2022-05-14 12:30] Tantacrul commented on #11636
Yes, I think this is covered there. Let's close this issue - I've prioritized the other.

[2022-05-14 12:30] #11636 closed

[2022-05-14 12:31] Tantacrul commented on #11635
I'll let @oktophonie prioritise this.

[2022-05-14 12:35] Tantacrul commented on #11632
I'm seeing circles in the build I've got (MacOS).

Could you possibly go to **Help>Revert to Factory Settings** to see if the problem persists?

<img width="297" alt="image" src="https://user-images.githubusercontent.com/21022311/168425958-81c150af-0e63-444f-bd93-b45bb8ccc1e5.png">

[2022-05-14 12:38] Tantacrul commented on #11631
I swear this was working recently!

[2022-05-14 13:19] cbjeukendrup commented on #11627
I have been able to reproduce this on a virtual Windows machine running in a small window (i.e. the "screen" of the Windows machine is a resizable macOS window). The problem occurs when the width of the screen is smaller than the minimum width of the MuseScore window. The minimum width is currently 1150px (that's huge in my opinion), so indeed that will be problematic on a 1024x768 display.

[2022-05-14 15:07] rgreen5 commented on #11632
OS: Linux Mint 20.1, Arch.: x86_64, MuseScore version (64-bit): 4.0.0-2322935308, revision: github-musescore-musescore-c77bf9c

Curiously, I can't reproduce this now.

[2022-05-14 15:13] rgreen5 commented on #11635
Workaround: Set "Leading" to a negative value.

[2022-05-14 15:24] mike-spa commented on #11635
Ah yes, this happens because the new spacing system generally avoids items "tucking" above/below time signatures, with rare exceptions. In principle I just need to add this exception, should be a very quick fix. Thanks :)

[2022-05-14 15:27] GabeS573 commented on #11627
I was not able to reproduce this.

Screen aspect ratio: 16:9 (1920x1080)
OS: Win11
MU4 version: Private Alpha

[2022-05-14 15:30] GabeS573 commented on #11627
If what @cbjeukendrup suggested is true, then this is also related to #10965

[2022-05-14 17:39] Tantacrul commented on #11617
I have put together this suggested solution. It's handy that this panel gets bigger when undocked. Makes it quite easy to expand. I'm not sure if we can get this in for 4.0 but I'll keep the issue open for now. If a community member would like to take it on, they're welcome to try although since our playback system is completely new, it will almost certainly not be a case of porting over the MS3 f

[2022-05-14 17:40] Tantacrul commented on #11617
Incidentally, this oversight is mine. I just missed it completely.

[2022-05-14 17:42] Tantacrul commented on #11632
I'm going to close for now... but we'll keep an eye.

[2022-05-14 17:42] #11632 closed

[2022-05-14 17:52] Tantacrul commented on #11637
I've altered the issue description a little because the issue is a little bit larger and more universal than originally suggested. I've added a video too.

[2022-05-14 17:55] Tantacrul commented on #11627
We do need to reduce that minimum size. It is much too big. Casper can you set it to 1020 or even 980 and we'll see how it holds up?

[2022-05-14 17:58] Tantacrul commented on #11592
@DmitryArefiev - are you able to reproduce this?

[2022-05-14 18:13] Tantacrul commented on #11580
@MarcSabatella - I can drag items on the score on Mac (latest nightly.) Is it a Windows/Linux thing or both?

[2022-05-14 18:15] Tantacrul commented on #11573
Confirmed. Nice spot! @hackbar

<img width="825" alt="image" src="https://user-images.githubusercontent.com/21022311/168443700-7eb16199-d77d-439f-9e4c-d49cbb378230.png">

[2022-05-14 18:19] cbjeukendrup commented on #11627
I'll experiment a bit with it, but I think there is a reason that the value is so high currently, so that will need to be fixed before we can lower it. That may not be entirely trivial.

[2022-05-14 18:24] Tantacrul commented on #11627
I suspect the reason was because there was a lot of clashing UI before. Most likely, it was done to limit the likelihood of the Note Input bar breaking when there are too many objects added to it. However, if I'm right, we can at least shrink it a bit...

(Incidentally, we do need a proper responsive solution for the top bar in 4.1)

[2022-05-14 18:35] Tantacrul commented on #11571
I've downloaded the score but am not understanding the issue. Could you show:

1. A visual of what is wrong?
2. A visual of expected behaviour?

Thanks!

[2022-05-14 18:37] Tantacrul commented on #9771
I'm closing for the moment because this isn't a 4.0 issue and we're not going to be able to tackle it until after 4.0 is out anyway.

I've marked it as 4.x just so we return to it later during planning.

[2022-05-14 18:37] #9771 closed

[2022-05-14 19:16] Jojo-Schmitz commented on #9771
It is a problem with the 3.6 backend, I don't see how that would change with and 4.0 or 4.x backend?

I'm not sure thoufh whether it really is a 3.6.2_backend issue or a  3.6.2_backend_musicxml one and as such no longer relevant at all.

[2022-05-14 19:34] henkdegroot commented on #11627
Just to confirm, I was also able to reproduce on 1024x768 using my windows 10 machine.

[2022-05-14 20:07] Tantacrul commented on #9771
It's counter intuitive to mark it 4.x, I know. But it just means we'll look at the issue after 4.0 is out. Because relevant or not, we won't be addressing it until 4.0 is out.

[2022-05-15 05:01] Jojo-Schmitz commented on #9771
It is counter intuitive to close it...

[2022-05-15 10:52] cbjeukendrup commented on #11571
@Tantacrul the problem occurs in the Soprano Saxophone part. The four selected measures should be grouped together:
<img width="658" alt="Schermafbeelding 2022-05-14 om 23 50 39" src="https://user-images.githubusercontent.com/48658420/168449163-ac61014c-d562-4ea8-8563-a5ee99cdb2dd.png">

Normally, when creating a measure repeat, those "Group measure" elements are added, as I showed before:
<img wi

[2022-05-15 11:24] MarcSabatella commented on #11571
As I recall, the reason the grouping was done explicitly was just that this code already existed, since the “no break” element was already implemented early in the 3.0 development cycle.  It was just never finished and thus was was disabled before release.  I agree that it’s probably simpler to just infer it as needed here.

[2022-05-15 11:39] Tantacrul commented on #11571
Yeah, this one found its way in under the radar and doesn't seem to have been tested extensively. It's a pity putting something like this in, which no one thinks is the right solution, which we'll then have to live with, solve bugs for and ultimately replace in a messy way later.

[2022-05-15 12:25] alexpavlov96 commented on #8601
@boryskuzmenko there is 2 regressions from MU3:
- Not possible to change cross notehead IN BOTH NOTATIONS after opening gp file
- Parenthesis instead of cross in tab notation in tab notation

and 1 thing that will be fixed which didn't work also in MU3:
- Not possible to change cross notehead IN TAB NOTATION after opening gp file

[2022-05-15 13:47] rovasiras opened #11643 "[MU4 Task] Old Hungarian script is rtl script, not ltr"
When I typed Old Hungarian text in the text area the text appeared left-to -right order. The Unicode standard define it as right-to-left script.There are keyboard layouts in xkeyboard-config project, or in keyman.com (multiplatform) project.
I don't think, that not following the standard is a good thing.

[2022-05-15 13:56] cbjeukendrup commented on #11643
Which text area specifically? (Throughout the app, multiple kinds are used, and in some cases we might be able to do something about it, and in some cases, it would be Qt's problem, unfortunately.)

[2022-05-15 14:01] cbjeukendrup commented on #11618
@Tantacrul Maybe this is a strange comment, but to me it would feel more natural to have the key sigs with sharps in the top row, and the flats at the bottom. Is there a reason to have them like they are now?

[2022-05-15 14:05] Tantacrul commented on #11618
I have zero problems with that (as long as C Major is at the top left!)

Agreed!

[2022-05-15 14:07] Tantacrul commented on #11572
I'm assigning this a priority and Beta 1 release. Will need conversations with the devs here about when to do it.... however, any community members who would like to take it on would be appreciated!

[2022-05-15 14:43] rovasiras commented on #11643
In lyrics, for example. Do you think, that I might write an Issue to Qt's project?

[2022-05-15 14:54] cbjeukendrup commented on #11643
Ah, so you mean these in-score text fields:
<img width="149" alt="Schermafbeelding 2022-05-15 om 16 47 46" src="https://user-images.githubusercontent.com/48658420/168478875-b0074f1a-8237-4e87-afca-b35da6fc6da6.png">
In a sense, that's good news, because those are created by us. Could you check the following things:
- is there any difference between MuseScore 3 and MuseScore 4 here? (i.e. was it al

[2022-05-15 15:58] #11483 closed

[2022-05-15 18:38] SnyBr opened #11645 "[MU4 Issue] Regression: Missing starting barline in measure following invisible measure."
Making a measure invisible (rightclick > Measure Properties > untick Visible) causes the next measure's starting barline to disappear, which is not the case in MuseScore 3. I'm unable to re-add the missing barline.

![image](https://user-images.githubusercontent.com/105515763/168488554-636a0ffa-6cfe-4b9a-bb86-18a82da3604a.png)

[2022-05-15 21:51] cbjeukendrup commented on #11267
I have the following theory about this. A while ago, we had this issue: #9225. The playback from the soundfont was approximately three quarter tones (150 cent) too high. We suspected that it had to do with a mismatch between the sample rate used by Fluid (44100 Hz) and the sample rate used by the rest (48000 Hz). As a temporary solution, Fluid was tuned down by exactly 150 cents.

If you take A =

[2022-05-16 04:11] MarcSabatella commented on #11645
FWIW, same with cutaway staves.  See https://musescore.org/en/node/281639.  I *believe* the story is, the barlines were also missing in older versions of MuseScore, and this was fixed 3.6, but somehow the fix never made it into MuseScore 4.  Here's what I think is PR where this was implemented: https://github.com/musescore/MuseScore/pull/6461

[2022-05-16 07:21] HemantAntony commented on #10505
@DmitryArefiev does the Yes/No button order also depend on the OS?

[2022-05-16 09:09] Eism commented on #11516
@bkunda
also these shortcuts are already reserved

<img width="600" alt="Screenshot 2022-05-16 at 12 07 24" src="https://user-images.githubusercontent.com/10116828/168558585-2f58d3dd-bbfc-473a-a9b0-3aca435e3295.png">

<img width="600" alt="Screenshot 2022-05-16 at 12 07 44" src="https://user-images.githubusercontent.com/10116828/168558603-82ffc90a-d707-455b-a10e-b2d482cd174f.png">

[2022-05-16 09:10] Jojo-Schmitz commented on #11516
`-` is only used in lyrics entry mode though

[2022-05-16 09:18] rgreen5 commented on #11637
See also [Manual fingering placement made with Inspector changes after layout](https://musescore.org/en/node/308212) (MS3).

[2022-05-16 09:19] DmitryArefiev opened #11649 "[MU4 Issue] Double click on instrument name doesn't invoke Staff/part properties dialog"
**To Reproduce**
1. Open a score
2.  Double click on instrument name - **staff/part properties dialog doesn't start**

https://user-images.githubusercontent.com/90187801/168560711-5f6328b6-3963-4c08-a996-c730e7a28dce.mp4

**Platform information**
 macOS, Windows, Linux

**Additional context**
Alt+E shortcut starts Staff/part properties dialog as before
Staff/part properties dialog is still accessi

[2022-05-16 09:33] Eism commented on #11516
@Jojo-Schmitz thanks!
No problem with `-` (next syllable works only when text editing)
What triggering logic should be for `=`?

[2022-05-16 09:34] bkunda commented on #11516
I'm not worried about "toggle 'automatic placement' for selected elements". Can we perhaps just leave this one blank (undefined)?

"Next syllable" must retain `-` though, because it crucially adds a hyphen to connect multi-syllable words (and the hyphen appears in the text).  Is it possible for this shortcut to behave in one way for text and another for note entry?

[2022-05-16 10:08] DmitryArefiev commented on #9853
Fixed in #10844

[2022-05-16 10:14] #9853 closed

[2022-05-16 10:51] DmitryArefiev commented on #11499
@wizofaus @Tantacrul Can you check it again please in master? I can't reproduce it now..

Tested in latest master on Win/Linux/Mac - **no crash**

[2022-05-16 12:12] MarcSabatella commented on #11516
At least in MU3, it wasn't a problem to have shortcuts do different things in different contexts.  Each command had a list of which modes it was active in (normal, note input, lyrics edit, chord symbol edit, etc).

As for "=" for autoplace, I wouldn't worry too much about losing that either, nor would I be in a hurry to choose a replacement.  Maybe leave it blank for now and see how people react.

[2022-05-16 12:26] MarcSabatella commented on #11580
Linux at least.  I'll try to test Windows later.  Here's a GIF.  To be clear: only the master palette has this issue, not the standard palette.

![image](https://user-images.githubusercontent.com/1799936/168592043-b48bf092-76ed-41ac-be2f-b42009779da9.png)

[2022-05-16 12:29] MarcSabatella commented on #11580
![Recording 2022-05-16 at 06 25 13](https://user-images.githubusercontent.com/1799936/168592553-c93595a3-f919-4488-ba6d-82e920d98cf9.gif)

[2022-05-16 12:52] bkunda commented on #11516
Agreed @MarcSabatella. I have updated the issue description accordingly.

[2022-05-16 13:14] Obliquely commented on #11617
This addresses: https://musescore.org/en/node/331538 - Good to see this is in scope. Useful for composition but also for people who use MuseScore for practice and want to play along at slower to written tempo. Suggested design looks good to me.

[2022-05-16 13:24] rgreen5 opened #11651 "Measure repeat symbol does not play back"
**Describe the bug**

Measure repeat signs do not play back.

**To Reproduce**

1. Open the attached MS3 score.
[repeat_measure_playback.zip](https://github.com/musescore/MuseScore/files/8700365/repeat_measure_playback.zip)

2. Press "Play".

RESULT: The measures with the repeat measure symbol in them do not play back.

**Expected behavior**

Measure repeat signs should play back. This worked full

[2022-05-16 14:14] DmitryArefiev commented on #11467
Fixed in #11639

[2022-05-16 14:16] #11467 closed

[2022-05-16 14:31] MarcSabatella commented on #11617
I like the design, and "hiding" it in the undocked pay controls is not especially worse than being in the almost equally hidden play panel for MU3.

It will be good if the slider is controllable by keyboard, both for general accessibility reasons but also for precision, to set exactly 50% or whatever.

[2022-05-16 15:23] RobFog commented on #11651
Duplicate of #10922?

[2022-05-16 15:41] RomanPudashkin commented on #10779
I'm working on it

[2022-05-16 16:10] #11499 closed

[2022-05-16 16:30] la-bel opened #11653 "."

[2022-05-16 16:41] #11653 closed

[2022-05-16 17:13] boryskuzmenko commented on #11569
**FIXED**
Tested on macOS 12, Win 11, Ubuntu 20

[2022-05-16 17:15] #11569 closed

[2022-05-16 17:24] boryskuzmenko commented on #11383
**FIXED**
Tested on macOS 12, Win 11, Ubuntu 20

[2022-05-16 17:31] #11383 closed

[2022-05-16 17:40] MarcSabatella commented on #11580
Works for on my Windows system.  Would be good to hear from another Linux user.  Could be a matter of different distributions or window managers or whatever.  I'm on Debian but running as a container within ChromeOS.  That *almost* never matters - issues I see on this system are almost always reproducible on other systems - but there have been two or three problems over the years that turned out t

[2022-05-16 18:29] #9132 closed

[2022-05-16 18:29] #10658 closed

[2022-05-16 19:18] Tantacrul commented on #11580
@DmitryArefiev - can you check?

[2022-05-16 19:49] wizofaus commented on #11499
What was the PR that fixed it?

Get Outlook for Android<https://aka.ms/ghei36>
________________________________
From: Tantacrul ***@***.***>
Sent: Tuesday, May 17, 2022 2:10:52 AM
To: musescore/MuseScore ***@***.***>
Cc: wizofaus ***@***.***>; Mention ***@***.***>
Subject: Re: [musescore/MuseScore] [MU4 Issue] Crash on paste half duration (Issue #11499)

Closed #11499<https://github.com/musescore/

[2022-05-17 02:49] hmturnbull opened #11656 "[MU4 Issue] Middle Mouse Reproduces Left Mouse Functionality"
**Describe the issue**
Middle mouse button intermittently adds notes and moves elements when I try to pan around.

**To Reproduce**
Steps to reproduce the behavior:
1. Open a score
2. Add some notes/other elements
3. Try to pan with middle mouse while the cursor is on an element
 (May take several tries, as the bug is inconsistent)
4. See error

**Expected behavior**
Middle mouse should pan around

[2022-05-17 02:53] MarcSabatella opened #11657 "[MU4 Issue] Beams incorrectly joined between beats containing sixteenths"
The usual rules of notation as followed by MuseScore for simple meter say that if sixteenth are present in a beat, that beat should not be beamed to other beats.  That is what the beam grouping for the 4/4 time signature shows, and how MU3 works.  MU4 however, breaks this rule when creating scores from the predefined templates.  Apparently, if the first beat *starts* with an eighth note, it allows

[2022-05-17 03:04] MarcSabatella opened #11658 "[MU4 Issue] Secondary sixteenth note beams not displayed for eighth + 2 sixteenths"
The secondary beam for sixteenth notes is not getting rendered in ascending patterns involving an eighth and two sixteenth.  In the following example, the second a third notes are sixteenth - you can tell this because of the spacing, also you can see the the weird extended stem sticking out past the eighth note beam.  But the secondary beam actually identifying these as sixteenth is missing:

![im

[2022-05-17 07:58] #9345 closed

[2022-05-17 08:41] #11651 closed

[2022-05-17 09:37] oktophonie commented on #11658
I can reproduce this (in Windows) with the nightly from 16 May but it seems fixed as of 17 May.

[2022-05-17 09:40] oktophonie commented on #11657
I cannot reproduce this one; can anyone else?
#11608 does touch some relevant code but it's not merged yet! (and in any case is intended to fix problems just like this, though mostly pertaining to tuplets)

[2022-05-17 10:12] #10343 closed

[2022-05-17 10:12] #10541 closed

[2022-05-17 11:20] boryskuzmenko commented on #11539
🟢 **FIXED**
Tested on macOS 12, Win 11, Ubuntu 20

[2022-05-17 11:21] #11539 closed

[2022-05-17 11:34] cbjeukendrup commented on #11493
I'm pretty sure that (the latest version of) PR #11322 fixes this issue; on the master branch I can reproduce it but with that PR I can't. @DmitryArefiev could you please check it?

[2022-05-17 11:42] DmitryArefiev commented on #11619
Fixed in #11654

[2022-05-17 12:44] MarcSabatella commented on #11657
New info: for me it works as expected if creating a score via “choose instruments”, but fails as shown when creating the score from a template.  So far I’ve found treble staff, grand staff, string quartet, and barbershop quartet all fail in the same way.

[2022-05-17 13:22] MarcSabatella commented on #11658
Hmm, I can still reproduce this in the most recent nightly on Linux.  Same example as shown above: treble clef staff, eighth note C5, sixteenth notes D6 & E6.  I don't see any changes made in the past 24 hours that would explain this having been fixed?

[2022-05-17 13:26] Tantacrul commented on #11656
Did MuseScore 3 use the middle mouse button as you've specified here? (Don't have a 3 button mouse to hand right now)

[2022-05-17 13:58] MarcSabatella commented on #11658
No, this one affects all scores, even pre-existing ones.

[2022-05-17 14:11] vpereverzev commented on #11592
VST GUI for Linux is not supported in MU4, since VST requires separate event loop

I'm pretty sure it was mentioned by @Tantacrul in a couple of previous announcements

[2022-05-17 14:12] #11592 closed

[2022-05-17 14:42] boryskuzmenko opened #11664 "[MU4 Task] [GP] Tabulature styles preferences to be created in the Style dialog"
**Task description**
This is a preparation task before creating and implementing default styles for Simple and Common TAB staff types.

- [ ] Design with corresponding element groups to be created in Figma
- [ ] Visualization to be implemented
- [ ] Checkboxes functionality to be implemented

[2022-05-17 14:56] DmitryArefiev commented on #11410
@Tantacrul @bkunda @cbjeukendrup Hi, I asked to change proximity setting to **2px** in #9768 (but without explanation) because with **6px** it was hard to select measures when they small (usually they small in big scores).
With 5px it's still little bit hard to edit orchestral scores with mouse especially when you want to see the whole page. You can try on your side with big scores.

I made a vide

[2022-05-17 16:14] DmitryArefiev commented on #11580
@Tantacrul @MarcSabatella I've tested this on Linux Mint 20.2 and Win10/Mac12 - **all works fine for me** (latest master)

@boryskuzmenko I know you have Ubuntu. Can you try on your side please?

[2022-05-17 16:41] Tantacrul commented on #11410
@DmitryArefiev if you recommend we leave things as they are and close the issue, then I think we should do that.

Definitely agree that a MacOS issue should not impact Win+Linux

[2022-05-17 16:42] DmitryArefiev opened #11665 "[MU4 Issue] Preferences>General>Folders: VST3 and SoundFonts pathes are cleaned up after closing dialogs with X or Escape"
**To Reproduce**
1. Go Preferences>General>Folders
2. Make sure you have added directories to VST3 and SoundFonts
3. Click on folder icon to open Add directory dialog
4. Close it with X or Esc

https://user-images.githubusercontent.com/90187801/168864352-10a1de52-c629-41bc-a05f-bf08e23b198e.mp4

**Platform information**
macOS, Windows, Linux

[2022-05-17 19:14] Tantacrul commented on #11410
@shoogle ?

[2022-05-17 19:23] sammik commented on #11410
I was transcribing some score today (bigger work at MS4 for the first time) and was surprised, that I accidentaly select measure instead of note too many times. In Linux. And now I see this discussion. So may be 2px is too litle globaly.

[2022-05-17 19:38] sammik opened #11666 "[MU4 Issue] unable to select by Shift + Arrows right after left note input mode"
**Describe the bug**
When user leaves note input mode, Shift + Arrows dont work.

**To Reproduce**
Steps to reproduce the behavior:
1. Write some notes
2. Leave note input mode (press Esc, or n)
3. Try to select more notes - Shift + Left, or Shift + Right
4. Nothing happens

**Expected behavior**
I expect adding notes to selection.

**Screenshots**

https://user-images.githubusercontent.com/164603

[2022-05-17 20:11] boryskuzmenko commented on #10380
**Not actual**

[2022-05-17 20:32] boryskuzmenko commented on #10344
**Not Actual**

[2022-05-17 21:14] MarcSabatella commented on #11410
My personal feeling on Linux and sometimes Windows is that 2 px is too small, 6 px too big.  I'm not sure if optimal would be 3, 4, or 5, but if we went with 4,we'd only be off by 1 at most :-)

[2022-05-17 22:57] wizofaus commented on #11498
I'd observed stems changing randomly too, even when just changing what notes are selected, so it's possible there still is another bug here though I couldn't reproduce it.

[2022-05-17 23:03] wizofaus commented on #11498
I can easily put up a PR that just sets preferStemDirectionMatchContext to false in the templates at least (or remove it from the templates if that works), which will solve the most obvious/likely cases users will face.  Or is it better done via a dev setting (assuming we still want to leave the code in place at all)?
@oktophonie

[2022-05-18 04:00] hmturnbull commented on #11656
In MuseScore 3, the middle mouse always works identically to the left mouse (affecting elements), as opposed to doing so intermittently as described above in 4.

"Fix #312574: Always dragging with middle mouse button" looks like it was supposed to make it so the middle mouse button could pan without the problem of inadvertently grabbing elements.  Upon testing the functionality in Musescore 4, the

[2022-05-18 07:03] oktophonie commented on #11498
My preference is to remove all of this code entirely! But removed from all the templates at the very least.

[2022-05-18 07:24] oktophonie commented on #11658
As far as I can tell this is fixed by (or not broken in!) #11608 which is awaiting merging.

[2022-05-18 08:56] DmitryArefiev commented on #10993
Tested in master build on Linux Mint 20.2 - **no longer occurs**

Closing

Please reopen if you able to reproduce

[2022-05-18 08:56] #10993 closed

[2022-05-18 09:29] Tantacrul commented on #11656
Hmm. I suppose this isn't really a regression on V3 then. It sounds more like an improvement on V3 that hasn't been perfected. I can't access that fix you mentioned... (I think there's one digit too many). Who did it? Perhaps we can ask them to try and resolve this issue.

[2022-05-18 09:32] Tantacrul commented on #11580
@MarcSabatella is running a slightly different setup, which (if I understand correctly) is a modified Chromebook?

With that in mind, it seems like a rather niche problem for a very niche setup.

[2022-05-18 09:32] cbjeukendrup commented on #11656
This is the commit: https://github.com/musescore/MuseScore/pull/7393/commits/59796b9d788e2e23aea1328cf1c2c6f61e9097e4 (from PR #7393)

It was working back then, but somehow has been broken again.

[2022-05-18 09:38] DmitryArefiev commented on #11580
@Tantacrul Let's set the low priority then (p4) and move to beta2 ?

[2022-05-18 09:39] Tantacrul commented on #11656
Ah!

Well, in that case, @cbjeukendrup, if it is trivial to fix, then let's do it. However, I think we should focus on Alpha bugs for the moment. I'll move this to Beta. In your opinion, is P3 the right severity?

[2022-05-18 09:39] cbjeukendrup commented on #11656
Yes, that's okay!

[2022-05-18 09:41] Tantacrul commented on #11580
Done

[2022-05-18 09:49] Obliquely opened #11668 "[MU4 Issue] Regression: Chord Playback style reset/save-as-default not available in properties panel"
In MU4 the *Play* checkbox **does not have** a  "Reset" and "Save as default style for this score" option exposed in the Properties panel. (It is exposed in the Style dialogue). This is a change from MU3, where the *Play* checkbox style "Revert" and "Set as default" are exposed in the Inspector.

**Screenshots**
<img width="755" alt="MU3 Chord Symbol Play option " src="https://user-images.githubus

[2022-05-18 10:04] DmitryArefiev commented on #10505
@HemantAntony Yes,
- on **Mac**: 'Yes' should be from the right
- on **Win**: 'Yes' should be from the left

Also, you can compare with MU3 on Windows (expected result)

[2022-05-18 10:21] boryskuzmenko opened #11670 "[MU4 Issue] [GP] Rehearsal marks and section marks are positioned at different heights"
**To Reproduce**
Steps to reproduce the behavior:
1. Open a GP score (which contain Section mark) in MU4
2. Pay attention to the Rehearsal and section marks

**Screenshots**
![Capture 2022-05-18_01-06-03_PM](https://user-images.githubusercontent.com/101250347/169015763-e79ff7bc-5c16-4b05-b689-012639d5e18d.png)

**Expected behavior**
Rehearsal marks and section marks are positioned at at the same h

[2022-05-18 10:28] boryskuzmenko opened #11671 "[MU4 Issue] [GP] 'Golpe finger' and 'Golpe thumb' are not rendereed on GP score after impor"
**To Reproduce**
Steps to reproduce the behavior:
1. Open a test GP score in MU4
[test tab for MU4.gp.zip](https://github.com/musescore/MuseScore/files/8715410/test.tab.for.MU4.gp.zip)
2. Pay attention to the last four notes in the last measure

**Screenshots**

![Capture 2022-05-18_01-25-46_PM](https://user-images.githubusercontent.com/101250347/169018418-76b2a110-b443-40e7-a4f5-89346614ffa9.png)

[2022-05-18 10:41] boryskuzmenko opened #11672 "[MU4 Issue] [GP] 'Pick Scrape Out' elements are not rendered in GP score after importing"
**To Reproduce**
Steps to reproduce the behavior:
1. Open the test GP file in MU4
[Empty.gp.zip](https://github.com/musescore/MuseScore/files/8715497/Empty.gp.zip)
2. Pay attention to the measure

**Screenshots**
![Capture 2022-05-18_01-35-53_PM](https://user-images.githubusercontent.com/101250347/169020716-93a8e097-ae0f-4f22-b838-393e4b8006e2.png)

**Expected behavior**
'Pick Scrape Out' elements

[2022-05-18 10:43] Tantacrul commented on #11410
So, I think the way to really solve this is to detect where there is actually complaints about how it works now. I must admit that I never noticed the change - ever. On either Mac or PC.

I don't support returning to the MS3 values unless there's a real need to do so. This is something that (if it is a big problem) will become known when we get into Beta 1 or Beta 2 (when much more people will be

[2022-05-18 10:43] #11410 closed

[2022-05-18 11:03] DmitryArefiev commented on #11493
@cbjeukendrup Yes, I tested this in build from #11322 on Windows - the main issue also **doesn't reproduce** on my
 side

(and I can reproduce in master)

[2022-05-18 11:08] cbjeukendrup commented on #11493
Thanks for checking! I've marked the PR as a fix for this issue.

[2022-05-18 12:27] DmitryArefiev opened #11674 "[MU4 Issue] Right after opening the score, the first playback always starts from the beginning even if some element is selected"
**To Reproduce**
1. Open a score
2. Select a note not in the first measure
3. Start playback - **it starts from the beginning and not from the selected note** (see the video to compare with MU3)

https://user-images.githubusercontent.com/90187801/169038345-3f086ee9-84f4-4b2c-8d70-68043d2320e0.mp4

**Platform information**
macOS, Windows, Linux

**Additional context**
Doesn't occur in **MU3**

[2022-05-18 12:31] #8398 closed

[2022-05-18 12:31] #10495 closed

[2022-05-18 13:20] boryskuzmenko opened #11675 "[MU4 Issue] [GP] Grace note duration is not displayed as an eight note in GP score after import"
**Describe the bug**
There're different approaches of handling grace notes in GP and MU4.
In GP, grace note is rendered as an eight note regardless to its real duration, but real duration is taken into account during playback.
Vice versa story in MU4. When you changing grace note duration it also changes on the score visually, but isn't taken into account during playback.
So, in MU3 we have a good

[2022-05-18 13:25] MarcSabatella commented on #11580
Definitely still not working for me, but thanks for confirming it doesn't affect all systems or even all Linux systems!

FWIW, it's not a "modified" Chromebook, but a standard one running Linux the standard way as supported by Google.  This configuration might not be the most common, but it's one that tons of music teachers and students use, because Chromebooks pretty much completely dominate the

[2022-05-18 13:44] MarcSabatella commented on #10458
Unfortunately the QT_SCALE_FACTOR workaround stopped working sometime between the alpha and now.  It scales the main UI itself but no longer scales the score or palettes or the various "example views" in things like the staff/part advanced style properties dialog or the time signature properties.

@cbjeukendrup , do we know it was the ExampleView change that broke this?  Seems plausible.  Could it

[2022-05-18 15:24] boryskuzmenko opened #11677 "[MU4 Issue] Note is not selected on linked staff after had been selected on the main staff"
**To Reproduce**
Steps to reproduce the behavior:
1. Open any score
2. Create a linked staff
3. Select a note on the first of the linked staves
4. Pay attention to the same note on the second linked staff
5. Do the same selecting a note on the second staff

**Screenshots**

https://user-images.githubusercontent.com/101250347/169068369-806a2f48-66d8-40bf-9b18-67745415da01.mov

**Expected behavior**

[2022-05-18 16:16] boryskuzmenko commented on #11677
@MarcSabatella Your point doesn't look as really actual because literally everything is synchronized between linked staves (that's the main purpose of them) except note selecting. So it looks a bit weird not have selection in case when every change in one linked staff is doubled on the second one.

[2022-05-18 16:37] Tantacrul commented on #11677
I think the desired functionality would need to be moved to 4.x. Agree it makes sense. I do think it may require some extra work. You can still change engraving settings for linked elements (offsets for example) and we'd need to account for that.

[2022-05-18 16:37] #11677 closed

[2022-05-18 16:47] Tantacrul commented on #11181
Nice suggestion!

[2022-05-18 16:52] Tantacrul commented on #10458
After chatting with @Eism - they've come to the conclusion that this specific issue is best solved in 4.x, since it implies a large amount of work. If it was widely affecting Linux users, we wouldn't do this.

We're of the opinion that auto-scaling should just work in all cases but that's going to take quite a bit of work to facilitate this specific case. I'm tagging it with 4.x and closing.

(Rem